Repository GreptimeTeam/greptimedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GreptimeTeam/db-approver, @zhongzc, @evenyag, @v0y4g3r, @waynexia, @MichaelScofield

refactor: remove redundant try_flush invocations (#3706)
  src/common/datasource/src/buffered_writer.rs
  src/common/datasource/src/file_format.rs
  src/common/datasource/src/file_format/parquet.rs
Owners: @GreptimeTeam/db-approver

chore: apply suggestions from CR
  src/common/meta/src/ddl/drop_database/cursor.rs
  src/common/meta/src/ddl/drop_database/executor.rs
  src/common/meta/src/ddl/drop_table.rs
  src/common/meta/src/ddl/drop_table/metadata.rs
  src/common/meta/src/error.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/datanode_table.rs
  src/common/meta/src/key/tombstone.rs
Owners: @MichaelScofield

feat: delete metadata tombstone
  src/common/meta/src/ddl/drop_table.rs
  src/common/meta/src/ddl/drop_table/executor.rs
  src/common/meta/src/ddl/tests/drop_table.rs
  src/common/meta/src/key.rs
Owners: @MichaelScofield

docs: update memtable config example (#3712)
  config/config.md
  config/datanode.example.toml
  config/standalone.example.toml
Owners: @GreptimeTeam/db-approver

correct test comment
  src/partition/src/multi_dim.rs
Owners: @GreptimeTeam/db-approver

feat: check partition rule (#3711)
  src/partition/src/error.rs
  src/partition/src/lib.rs
  src/partition/src/manager.rs
  src/partition/src/multi_dim.rs
Owners: @GreptimeTeam/db-approver

fix(alter_table): ignore request outdated error (#3715)
  src/common/meta/src/ddl/alter_table.rs
  src/common/meta/src/ddl/test_util/datanode_handler.rs
  src/common/meta/src/ddl/tests/alter_table.rs
Owners: @MichaelScofield

feat(drop_table): support to rollback table metadata (#3692)
  src/cmd/src/cli/bench/metadata.rs
  src/common/meta/src/ddl/drop_database/cursor.rs
  src/common/meta/src/ddl/drop_database/executor.rs
  src/common/meta/src/ddl/drop_table.rs
  src/common/meta/src/ddl/drop_table/executor.rs
  src/common/meta/src/ddl/drop_table/metadata.rs
  src/common/meta/src/ddl/tests/drop_table.rs
  src/common/meta/src/error.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/datanode_table.rs
  src/common/meta/src/key/table_info.rs
  src/common/meta/src/key/table_name.rs
  src/common/meta/src/key/table_route.rs
  src/common/meta/src/key/tombstone.rs
  src/common/meta/src/key/txn_helper.rs
  src/common/meta/src/kv_backend/memory.rs
  src/common/meta/src/lib.rs
  src/common/meta/src/test_util.rs
  src/datanode/src/region_server.rs
  tests/cases/standalone/common/create/create_metric_table.result
  tests/cases/standalone/common/create/create_metric_table.sql
Owners: @GreptimeTeam/db-approver, @MichaelScofield

ci: use greptimedb-ci-tester account
  .github/workflows/develop.yml
  .github/workflows/nightly-ci.yml
Owners: @GreptimeTeam/db-approver

chore: cleanup todos that should be panic
  src/catalog/src/kvbackend/client.rs
  src/script/src/python/engine.rs
Owners: @GreptimeTeam/db-approver

create index
  Cargo.lock
  src/index/Cargo.toml
  src/index/src/full_text_index.rs
  src/index/src/full_text_index/create.rs
  src/index/src/full_text_index/error.rs
  src/index/src/full_text_index/search.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/sst/index.rs
  src/mito2/src/sst/index/creator.rs
  src/mito2/src/sst/location.rs
  src/mito2/src/sst/parquet/reader.rs
Owners: @GreptimeTeam/db-approver, @zhongzc, @evenyag, @v0y4g3r, @waynexia

refactor: merge RegionHandleResult into RegionHandleResponse
  src/api/src/v1.rs
  src/api/src/v1/region.rs
  src/client/src/region.rs
  src/common/meta/src/datanode_manager.rs
  src/common/meta/src/ddl/drop_database/executor.rs
  src/common/meta/src/ddl/test_util/datanode_handler.rs
  src/common/meta/src/test_util.rs
  src/datanode/src/region_server.rs
  src/datanode/src/tests.rs
  src/file-engine/Cargo.toml
  src/file-engine/src/engine.rs
  src/frontend/src/instance/standalone.rs
  src/metric-engine/src/engine.rs
  src/mito2/src/engine.rs
  src/store-api/src/region_engine.rs
Owners: @GreptimeTeam/db-approver, @MichaelScofield, @waynexia, @evenyag, @v0y4g3r

chore(mito): set null value data size to i64
  src/datatypes/src/value.rs
Owners: @GreptimeTeam/db-approver

chore(mito): move comment to a relevant place
  src/datatypes/src/value.rs
Owners: @GreptimeTeam/db-approver

chore(mito): set null value data size to i64 (#3722)
  src/datatypes/src/value.rs
Owners: @GreptimeTeam/db-approver

ci: use greptimedb-ci-tester account (#3719)
  .github/workflows/develop.yml
  .github/workflows/nightly-ci.yml
Owners: @GreptimeTeam/db-approver

Update RustPython to 0.3.1
  Cargo.lock
  src/script/Cargo.toml
  src/script/src/python/error.rs
  src/script/src/python/ffi_types/copr.rs
  src/script/src/python/ffi_types/copr/compile.rs
  src/script/src/python/ffi_types/copr/parse.rs
  src/script/src/python/rspython/builtins/test.rs
  src/script/src/python/rspython/test.rs
Owners: @GreptimeTeam/db-approver

feat: adapt for cuckoo
  tests-fuzz/src/data/lorem_words
  tests-fuzz/src/generator/alter_expr.rs
  tests-fuzz/src/ir.rs
  tests-fuzz/src/validator/column.rs
  tests-fuzz/targets/fuzz_alter_table.rs
Owners: @GreptimeTeam/db-approver

chore: discard state guard
  src/mito2/src/worker/handle_drop.rs
Owners: @evenyag, @v0y4g3r, @waynexia

feat: set dropping state
  src/mito2/src/region.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_drop.rs
Owners: @evenyag, @v0y4g3r, @waynexia

chore: fix clippy
  src/mito2/src/worker/handle_manifest.rs
Owners: @evenyag, @v0y4g3r, @waynexia

refactor: rename method
  src/mito2/src/compaction/twcs.rs
  src/mito2/src/engine/listener.rs
  src/mito2/src/worker.rs
Owners: @evenyag, @v0y4g3r, @waynexia

feat: reset drop state
  src/mito2/src/region.rs
  src/mito2/src/worker/handle_drop.rs
Owners: @evenyag, @v0y4g3r, @waynexia

feat: flush update manifest in background
  src/mito2/src/flush.rs
  src/mito2/src/region.rs
  src/mito2/src/request.rs
  src/mito2/src/worker/handle_flush.rs
  src/mito2/src/worker/handle_manifest.rs
Owners: @evenyag, @v0y4g3r, @waynexia

chore: truncate wip
  src/mito2/src/manifest/manager.rs
  src/mito2/src/region.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_manifest.rs
Owners: @evenyag, @v0y4g3r, @waynexia

feat: compaction update manifest in background
  src/mito2/src/compaction.rs
  src/mito2/src/compaction/twcs.rs
  src/mito2/src/flush.rs
  src/mito2/src/region.rs
  src/mito2/src/request.rs
  src/mito2/src/test_util/scheduler_util.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_compaction.rs
  src/mito2/src/worker/handle_flush.rs
Owners: @evenyag, @v0y4g3r, @waynexia

refactor: wrap in manifest context
  src/mito2/src/engine/catchup_test.rs
  src/mito2/src/flush.rs
  src/mito2/src/region.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/worker/handle_alter.rs
  src/mito2/src/worker/handle_catchup.rs
  src/mito2/src/worker/handle_compaction.rs
  src/mito2/src/worker/handle_flush.rs
  src/mito2/src/worker/handle_manifest.rs
Owners: @evenyag, @v0y4g3r, @waynexia

chore: update toml
  src/mito2/Cargo.toml
Owners: @evenyag, @v0y4g3r, @waynexia

feat: check state before updating manifest
  src/mito2/src/compaction/twcs.rs
  src/mito2/src/flush.rs
  src/mito2/src/region.rs
  src/mito2/src/worker/handle_manifest.rs
Owners: @evenyag, @v0y4g3r, @waynexia

feat: truncate and edit write manifest in background
  src/mito2/src/error.rs
  src/mito2/src/region.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/request.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_manifest.rs
  src/mito2/src/worker/handle_truncate.rs
Owners: @evenyag, @v0y4g3r, @waynexia

refactor: use atomic cell to store state enum
  Cargo.lock
  Cargo.toml
  src/mito2/Cargo.toml
  src/mito2/src/compaction/twcs.rs
  src/mito2/src/error.rs
  src/mito2/src/flush.rs
  src/mito2/src/region.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/test_util/scheduler_util.rs
  src/mito2/src/worker/handle_drop.rs
  src/mito2/src/worker/handle_manifest.rs
  src/mito2/src/worker/handle_truncate.rs
  src/script/Cargo.toml
Owners: @GreptimeTeam/db-approver, @evenyag, @v0y4g3r, @waynexia

chore: update comment
  src/mito2/src/engine/compaction_test.rs
Owners: @evenyag, @v0y4g3r, @waynexia

test: fix compaction test
  src/mito2/src/compaction.rs
  src/mito2/src/compaction/twcs.rs
  src/mito2/src/engine/compaction_test.rs
  src/mito2/src/test_util/scheduler_util.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_compaction.rs
Owners: @evenyag, @v0y4g3r, @waynexia

chore: fix compiler errors
  src/mito2/src/flush.rs
  src/mito2/src/worker/handle_alter.rs
  src/mito2/src/worker/handle_manifest.rs
Owners: @evenyag, @v0y4g3r, @waynexia

feat: alter write manifest in background
  src/mito2/src/worker/handle_alter.rs
  src/mito2/src/worker/handle_manifest.rs
Owners: @evenyag, @v0y4g3r, @waynexia

chore: remove unused type alias
  src/mito2/src/manifest/manager.rs
Owners: @evenyag, @v0y4g3r, @waynexia

feat: implement `move_values`
  src/common/meta/src/error.rs
  src/common/meta/src/key/tombstone.rs
Owners: @MichaelScofield

feat: add preserve arg to sqlness runner
  .github/workflows/develop.yml
  Cargo.lock
  tests/runner/Cargo.toml
  tests/runner/src/main.rs
Owners: @GreptimeTeam/db-approver

replace tempdir with tempfile
  Cargo.lock
  tests/runner/Cargo.toml
  tests/runner/src/main.rs
Owners: @GreptimeTeam/db-approver

chore: cleanup todos that should be panic (#3720)
  src/catalog/src/kvbackend/client.rs
  src/script/src/python/engine.rs
Owners: @GreptimeTeam/db-approver

.github/CODEOWNERS:

# GreptimeDB CODEOWNERS

# These owners will be the default owners for everything in the repo.

* @GreptimeTeam/db-approver

## [Module] Databse Engine
/src/index @zhongzc
/src/mito2 @evenyag @v0y4g3r @waynexia
/src/query @evenyag

## [Module] Distributed
/src/common/meta @MichaelScofield
/src/common/procedure @MichaelScofield
/src/meta-client @MichaelScofield
/src/meta-srv @MichaelScofield

## [Module] Write Ahead Log
/src/log-store @v0y4g3r
/src/store-api @v0y4g3r

## [Module] Metrics Engine
/src/metric-engine @waynexia
/src/promql @waynexia

## [Module] Flow
/src/flow @zhongzc @waynexia
