Repository GreptimeTeam/greptimedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GreptimeTeam/db-approver, @zhongzc, @evenyag, @v0y4g3r, @waynexia, @MichaelScofield

.github/CODEOWNERS:

# GreptimeDB CODEOWNERS

# These owners will be the default owners for everything in the repo.

* @GreptimeTeam/db-approver

## [Module] Databse Engine
/src/index @zhongzc
/src/mito2 @evenyag @v0y4g3r @waynexia
/src/query @evenyag

## [Module] Distributed
/src/common/meta @MichaelScofield
/src/common/procedure @MichaelScofield
/src/meta-client @MichaelScofield
/src/meta-srv @MichaelScofield

## [Module] Write Ahead Log
/src/log-store @v0y4g3r
/src/store-api @v0y4g3r

## [Module] Metrics Engine
/src/metric-engine @waynexia
/src/promql @waynexia

## [Module] Flow
/src/flow @zhongzc @waynexia

RegionResponse to api::region
  src/api/src/lib.rs
  src/api/src/region.rs
  src/api/src/v1.rs
  src/client/src/region.rs
  src/common/meta/src/datanode_manager.rs
  src/common/meta/src/ddl/drop_database/executor.rs
  src/common/meta/src/ddl/test_util/datanode_handler.rs
  src/common/meta/src/test_util.rs
  src/datanode/src/region_server.rs
  src/datanode/src/tests.rs
  src/file-engine/src/engine.rs
  src/frontend/src/instance/standalone.rs
  src/metric-engine/src/engine.rs
  src/mito2/src/engine.rs
  src/store-api/src/region_engine.rs
Owners: @GreptimeTeam/db-approver, @MichaelScofield, @waynexia, @evenyag, @v0y4g3r

refactor: using `move_values`
  src/common/meta/src/key.rs
  src/common/meta/src/key/tombstone.rs
Owners: @MichaelScofield

refactor: refactor executor
  src/common/meta/src/ddl/drop_table/executor.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/tombstone.rs
Owners: @MichaelScofield

fix: remove ttl option from metadata region
  src/metric-engine/src/engine/create.rs
Owners: @waynexia

chore: fix clippy
  src/common/meta/src/key/tombstone.rs
Owners: @MichaelScofield

refactor: remove `CasKeyChanged` error
  src/common/meta/src/error.rs
Owners: @MichaelScofield

fix: remove ttl option from metadata region (#3726)
  src/metric-engine/src/engine/create.rs
Owners: @waynexia

order
  src/metric-engine/src/engine.rs
  src/mito2/src/engine.rs
Owners: @waynexia, @evenyag, @v0y4g3r

docs: add style guide
  CONTRIBUTING.md
  docs/style-guide.md
Owners: @GreptimeTeam/db-approver

add comments section
  docs/style-guide.md
Owners: @GreptimeTeam/db-approver

refactor: refactor `move_values`
  src/common/meta/src/key.rs
  src/common/meta/src/key/tombstone.rs
  src/common/meta/src/key/txn_helper.rs
Owners: @MichaelScofield

add comment order
  docs/style-guide.md
Owners: @GreptimeTeam/db-approver

refactor: merge RegionHandleResult into RegionHandleResponse (#3721)
  src/api/src/lib.rs
  src/api/src/region.rs
  src/client/src/region.rs
  src/common/meta/src/datanode_manager.rs
  src/common/meta/src/ddl/drop_database/executor.rs
  src/common/meta/src/ddl/test_util/datanode_handler.rs
  src/common/meta/src/test_util.rs
  src/datanode/src/region_server.rs
  src/datanode/src/tests.rs
  src/file-engine/Cargo.toml
  src/file-engine/src/engine.rs
  src/frontend/src/instance/standalone.rs
  src/metric-engine/src/engine.rs
  src/mito2/src/engine.rs
  src/store-api/src/region_engine.rs
Owners: @GreptimeTeam/db-approver, @MichaelScofield, @waynexia, @evenyag, @v0y4g3r

chore: update comments
  src/common/meta/src/key/tombstone.rs
Owners: @MichaelScofield

about error handling
  docs/style-guide.md
Owners: @GreptimeTeam/db-approver

fix: rspy test fail due to datafusion `sin` signature change
  src/script/src/python/rspython/builtins/testcases.ron
Owners: @GreptimeTeam/db-approver

fix: hisogram incorrect result
  src/promql/src/extension_plan/histogram_fold.rs
  src/promql/src/extension_plan/instant_manipulate.rs
Owners: @waynexia

fix: update limit sqlness result
  tests/cases/standalone/common/order/limit.result
Owners: @GreptimeTeam/db-approver

fix: update negative ordinal sqlness case
  tests/cases/standalone/common/order/order_by_exceptions.result
Owners: @GreptimeTeam/db-approver

fix filter pushdown sqlness tests
  tests/cases/distributed/optimizer/filter_push_down.result
  tests/cases/distributed/optimizer/filter_push_down.sql
Owners: @GreptimeTeam/db-approver

feat: bump df to cd7a00b
  Cargo.lock
  Cargo.toml
  src/promql/src/planner.rs
Owners: @GreptimeTeam/db-approver, @waynexia

fix: promql literal
  src/promql/src/extension_plan/empty_metric.rs
Owners: @waynexia

update decimal sqlness cases
  tests/cases/standalone/common/types/decimal/decimal_cast.result
  tests/cases/standalone/common/types/decimal/decimal_small_precision_behavior.result
  tests/cases/standalone/common/types/decimal/decimal_small_precision_behavior.sql
Owners: @GreptimeTeam/db-approver

update datafusion, again
  Cargo.lock
  Cargo.toml
  src/catalog/src/table_source.rs
  src/common/query/src/logical_plan/udaf.rs
  src/common/substrait/src/df_substrait.rs
  src/common/substrait/src/lib.rs
  src/datanode/src/region_server.rs
  src/operator/src/delete.rs
  src/operator/src/insert.rs
  src/operator/src/request.rs
  src/operator/src/statement/copy_table_to.rs
  src/promql/src/extension_plan/empty_metric.rs
  src/promql/src/extension_plan/histogram_fold.rs
  src/promql/src/extension_plan/range_manipulate.rs
  src/promql/src/planner.rs
  src/query/src/datafusion.rs
  src/query/src/datafusion/planner.rs
  src/query/src/dist_plan/analyzer.rs
  src/query/src/dist_plan/merge_scan.rs
  src/query/src/dist_plan/planner.rs
  src/query/src/optimizer/type_conversion.rs
  src/query/src/range_select/plan.rs
  src/query/src/range_select/plan_rewrite.rs
  src/script/src/python/rspython/builtins.rs
  src/session/src/context.rs
  src/table/src/table_reference.rs
  tests/cases/standalone/common/order/order_by_exceptions.result
  tests/cases/standalone/common/order/order_by_exceptions.sql
Owners: @GreptimeTeam/db-approver, @waynexia, @evenyag

fix: range query schema error
  src/query/src/range_select/plan.rs
  tests/cases/standalone/common/range/by.result
  tests/cases/standalone/common/range/calculate.result
  tests/cases/standalone/common/range/error.result
Owners: @evenyag, @GreptimeTeam/db-approver

re-enable the "test_range_filter" test since the filter push down seems not necessary to be removed
  src/query/src/tests/time_range_filter_test.rs
Owners: @evenyag

update sqlness results
  tests/cases/distributed/explain/join_10_tables.result
  tests/cases/distributed/explain/subqueries.result
  tests/cases/standalone/common/tql-explain-analyze/analyze.result
  tests/cases/standalone/common/tql-explain-analyze/explain.result
  tests/cases/standalone/common/types/decimal/decimal_arithmetic.result
  tests/cases/standalone/common/types/decimal/decimal_ops.result
  tests/cases/standalone/common/types/decimal/decimal_table.result
  tests/cases/standalone/common/types/float/nan_aggregate.result
  tests/cases/standalone/common/types/float/nan_cast.result
  tests/cases/standalone/common/types/timestamp/timestamp.result
  tests/cases/standalone/common/types/timestamp/timestamp_limits.result
  tests/cases/standalone/common/types/timestamp/timestamp_precision.result
  tests/cases/standalone/common/types/timestamp/timestamp_types.result
  tests/cases/standalone/common/types/timestamp/timestamp_tz.result
  tests/cases/standalone/limit/limit.result
Owners: @GreptimeTeam/db-approver

fix "select count(*)" exec error
  src/datanode/src/region_server.rs
Owners: @GreptimeTeam/db-approver

fix pyo3 compile error, and update some sqlness results
  src/script/src/python/pyo3/builtins.rs
  tests/cases/standalone/common/cte/cte.result
  tests/cases/standalone/common/cte/cte_in_cte.result
  tests/cases/standalone/common/order/order_by_exceptions.result
  tests/cases/standalone/common/order/order_by_exceptions.sql
  tests/cases/standalone/common/types/decimal/decimal_cast.result
Owners: @GreptimeTeam/db-approver

fix?: test_cast
  src/flow/clippy.toml
  src/flow/src/transform/expr.rs
Owners: @zhongzc, @waynexia

ignore test_range_filter
  src/query/src/tests/time_range_filter_test.rs
Owners: @evenyag

update sqlness case of time.sql
  tests/cases/standalone/common/function/time.result
Owners: @GreptimeTeam/db-approver

resolve conflicts
  Cargo.lock
  Cargo.toml
Owners: @GreptimeTeam/db-approver

fix: histogram with wrong distribution
  src/promql/src/extension_plan/histogram_fold.rs
Owners: @waynexia

resolve conflicts
  Cargo.lock
  src/common/substrait/Cargo.toml
Owners: @GreptimeTeam/db-approver

fix: adjust range query partition
  src/query/src/range_select/plan.rs
  src/query/src/range_select/plan_rewrite.rs
Owners: @evenyag

fix udaf tests
  src/common/query/src/logical_plan/udaf.rs
Owners: @GreptimeTeam/db-approver

fix: ignore filter pushdown temporarily
  src/query/src/query_engine/state.rs
Owners: @evenyag

fix promql exec panic
  src/promql/src/extension_plan/range_manipulate.rs
  src/query/src/datafusion.rs
  src/query/src/query_engine/state.rs
Owners: @waynexia, @evenyag

rebase main to see if there are any failed tests
  tests/cases/standalone/optimizer/filter_push_down.result
  tests/cases/standalone/optimizer/filter_push_down.sql
Owners: @GreptimeTeam/db-approver
