Repository GreptimeTeam/greptimedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GreptimeTeam/db-approver, @zhongzc, @evenyag, @v0y4g3r, @waynexia, @MichaelScofield

fix: test reduce distinct
  src/flow/src/compute/render/reduce.rs
Owners: @zhongzc, @waynexia

test: add reduce tests
  Cargo.lock
  src/flow/src/compute/render.rs
  src/flow/src/compute/render/map.rs
  src/flow/src/compute/render/reduce.rs
  src/flow/src/utils.rs
Owners: @GreptimeTeam/db-approver, @zhongzc, @waynexia

bugged?
  Cargo.lock
  Cargo.toml
  src/flow/Cargo.toml
  src/flow/src/compute/render.rs
  src/flow/src/compute/render/reduce.rs
  src/flow/src/compute/types.rs
Owners: @GreptimeTeam/db-approver, @zhongzc, @waynexia

refacotr: split render_reduce
  src/flow/src/compute/render.rs
  src/flow/src/compute/render/map.rs
  src/flow/src/compute/render/reduce.rs
  src/flow/src/compute/state.rs
  src/flow/src/compute/types.rs
Owners: @zhongzc, @waynexia

refactor: split reduce in new file
  src/flow/src/compute/render.rs
  src/flow/src/compute/render/map.rs
  src/flow/src/compute/render/reduce.rs
Owners: @zhongzc, @waynexia

Update src/flow/clippy.toml
  src/flow/clippy.toml
Owners: @zhongzc, @waynexia

refactor: avoid unnecessary cloning (#3734)
  src/common/meta/src/key.rs
  src/common/meta/src/key/table_info.rs
  src/common/meta/src/key/table_route.rs
  src/common/meta/src/key/txn_helper.rs
Owners: @MichaelScofield

chore: recover Cargo.lock&update hydroflow
  Cargo.lock
Owners: @GreptimeTeam/db-approver

chore: typos
  src/flow/src/compute/render.rs
  src/flow/src/compute/render/reduce.rs
Owners: @zhongzc, @waynexia

chore: remove unused depend
  Cargo.toml
Owners: @GreptimeTeam/db-approver

draft: FlowTaskMetadataManager
  Cargo.lock
  src/flow/Cargo.toml
  src/flow/src/adapter.rs
Owners: @GreptimeTeam/db-approver, @zhongzc, @waynexia

feat: use strong type for metadata
  src/flow/Cargo.toml
  src/flow/src/adapter.rs
Owners: @zhongzc, @waynexia

feat: add node id -> source table mapping
  src/flow/src/adapter.rs
Owners: @zhongzc, @waynexia

refactor: move to metadata key
  src/common/meta/src/key.rs
  src/common/meta/src/key/flow_task.rs
  src/flow/src/adapter.rs
Owners: @MichaelScofield, @zhongzc, @waynexia

it works on my machine ¯\_(ツ)_/¯
  Cargo.lock
  Cargo.toml
  feed.py
  src/common/function/src/scalars.rs
  src/common/function/src/scalars/matches.rs
  src/common/function/src/scalars/math.rs
  src/common/substrait/Cargo.toml
  src/common/substrait/src/df_substrait.rs
  src/index/Cargo.toml
  src/index/src/full_text_index/create.rs
  src/index/src/full_text_index/search.rs
  src/mito2/src/access_layer.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/sst/index.rs
  src/mito2/src/sst/index/applier.rs
  src/mito2/src/sst/index/creator.rs
  src/mito2/src/sst/parquet/reader.rs
Owners: @GreptimeTeam/db-approver, @zhongzc, @evenyag, @v0y4g3r, @waynexia

test: reproduce bugs
  Cargo.lock
  Cargo.toml
  tests-chaos/Cargo.toml
  tests-chaos/conf/standalone-v0.3.2.toml.template
  tests-chaos/src/bare.rs
  tests-chaos/src/bare/process.rs
  tests-chaos/src/error.rs
  tests-chaos/src/main.rs
  tests-chaos/src/utils.rs
  tests-fuzz/src/generator/alter_expr.rs
  tests-fuzz/src/validator/column.rs
  tests-fuzz/targets/fuzz_alter_table.rs
Owners: @GreptimeTeam/db-approver

chore: reduce sleep time
  tests-chaos/src/main.rs
  tests-chaos/src/utils.rs
Owners: @GreptimeTeam/db-approver

chore: update toolchain to nightly-2024-04-17
  Cargo.lock
  Cargo.toml
  rust-toolchain.toml
  src/catalog/src/information_schema/predicate.rs
  src/catalog/src/kvbackend/client.rs
  src/cmd/src/cli.rs
  src/cmd/src/datanode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/metasrv.rs
  src/cmd/src/standalone.rs
  src/common/meta/src/key/datanode_table.rs
  src/common/meta/src/sequence.rs
  src/common/meta/src/state_store.rs
  src/common/procedure/src/local/rwlock.rs
  src/common/query/src/logical_plan/expr.rs
  src/common/time/src/timestamp.rs
  src/index/src/inverted_index/format/writer/single.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/service/store/cached_kv.rs
  src/mito2/src/flush.rs
  src/operator/src/statement/copy_table_from.rs
  src/promql/src/planner.rs
  src/query/src/optimizer.rs
  src/query/src/optimizer/type_conversion.rs
  src/script/src/python/rspython/copr_impl.rs
  src/sql/src/statements/explain.rs
Owners: @GreptimeTeam/db-approver, @MichaelScofield, @zhongzc, @evenyag, @v0y4g3r, @waynexia

fix test clippy
  src/auth/src/tests.rs
  src/common/meta/src/wal_options_allocator.rs
  src/common/meta/src/wal_options_allocator/kafka/topic_manager.rs
  src/common/time/src/timestamp.rs
  src/meta-client/src/client.rs
  src/meta-srv/src/selector/load_based.rs
  src/metric-engine/src/engine/create.rs
  src/mito2/src/region/options.rs
  src/mito2/src/sst/parquet/row_selection.rs
  src/query/src/tests/time_range_filter_test.rs
  src/table/src/predicate.rs
Owners: @GreptimeTeam/db-approver, @MichaelScofield, @waynexia, @evenyag, @v0y4g3r

fix ut
  src/common/procedure/src/local/rwlock.rs
  src/mito2/src/cache/cache_size.rs
  src/table/src/predicate.rs
Owners: @MichaelScofield, @evenyag, @v0y4g3r, @waynexia, @GreptimeTeam/db-approver

feat: check state after writing manifest
  src/mito2/src/region.rs
Owners: @evenyag, @v0y4g3r, @waynexia

update fuzz test
  tests-fuzz/src/executor.rs
  tests-fuzz/src/generator/insert_expr.rs
  tests-fuzz/src/lib.rs
Owners: @GreptimeTeam/db-approver

update to nightly-2024-04-18
  Cargo.toml
  rust-toolchain.toml
Owners: @GreptimeTeam/db-approver

add document
  Cargo.toml
Owners: @GreptimeTeam/db-approver

update CI
  .github/workflows/apidoc.yml
  .github/workflows/develop.yml
  .github/workflows/nightly-ci.yml
  .github/workflows/release.yml
  tests/runner/src/util.rs
Owners: @GreptimeTeam/db-approver

feat(promql): address post-merge CR
  src/operator/src/statement/tql.rs
  src/servers/src/http/handler.rs
  src/servers/src/http/prometheus.rs
Owners: @GreptimeTeam/db-approver

avoid unnecessary allow clippy attrs
  src/common/meta/src/state_store.rs
  src/common/procedure/src/local/rwlock.rs
Owners: @MichaelScofield

help the compiler find the clone is unnecessary and make clippy happy
  src/common/meta/src/sequence.rs
Owners: @MichaelScofield

refactor: avoid unnecessary alloc by using unwrap_or_else (#3742)
  src/operator/src/statement/tql.rs
  src/servers/src/http/handler.rs
  src/servers/src/http/prometheus.rs
Owners: @GreptimeTeam/db-approver

feat: `start_database` auto retry
  tests-chaos/src/bare/process.rs
  tests-chaos/src/main.rs
Owners: @GreptimeTeam/db-approver

chore: update greptime-proto to main
  Cargo.lock
  Cargo.toml
Owners: @GreptimeTeam/db-approver

feat: impl Display for Statement
  src/common/query/src/lib.rs
  src/sql/src/statements/alter.rs
  src/sql/src/statements/copy.rs
  src/sql/src/statements/create.rs
  src/sql/src/statements/describe.rs
  src/sql/src/statements/drop.rs
  src/sql/src/statements/set_variables.rs
  src/sql/src/statements/show.rs
  src/sql/src/statements/statement.rs
  src/sql/src/statements/tql.rs
  src/sql/src/statements/truncate.rs
Owners: @GreptimeTeam/db-approver

fix: add license header
  src/sql/src/statements/show.rs
Owners: @GreptimeTeam/db-approver

feat: support different types for `CompatReader`
  src/mito2/src/read/compat.rs
Owners: @evenyag, @v0y4g3r, @waynexia

refactor: avoid unnecessary cloning
  src/common/meta/src/state_store.rs
Owners: @MichaelScofield

chore: update greptime-proto to main (#3743)
  Cargo.lock
  Cargo.toml
Owners: @GreptimeTeam/db-approver

fix: inline function manually
  src/sql/src/statements/create.rs
  src/sql/src/statements/drop.rs
  src/sql/src/statements/set_variables.rs
  src/sql/src/statements/show.rs
Owners: @GreptimeTeam/db-approver

refactor: drop RustPython support (dep and ci)
  .github/actions/build-linux-artifacts/action.yml
  .github/workflows/develop.yml
  .github/workflows/nightly-ci.yml
  .github/workflows/release.yml
  Cargo.lock
  src/frontend/Cargo.toml
  src/script/Cargo.toml
  src/script/src/lib.rs
  src/servers/Cargo.toml
Owners: @GreptimeTeam/db-approver

edit code
  src/script/src/python.rs
  src/script/src/python/error.rs
  src/script/src/python/ffi_types/copr.rs
  src/script/src/python/ffi_types/copr/parse.rs
  src/script/src/python/ffi_types/pair_tests.rs
  src/script/src/python/ffi_types/pair_tests/sample_testcases.rs
  src/script/src/python/ffi_types/py_recordbatch.rs
  src/script/src/python/ffi_types/vector.rs
  src/script/src/python/ffi_types/vector/tests.rs
  src/script/src/python/metric.rs
  src/script/src/python/pyo3.rs
  src/script/src/python/rspython/builtins.rs
  src/script/src/python/rspython/builtins/test.rs
  src/script/src/python/rspython/builtins/testcases.ron
  src/script/src/python/rspython/copr_impl.rs
  src/script/src/python/rspython/dataframe_impl.rs
  src/script/src/python/rspython/test.rs
  src/script/src/python/rspython/testcases.ron
  src/script/src/python/rspython/utils.rs
  src/script/src/python/rspython/vector_impl.rs
  src/script/src/python/utils.rs
Owners: @GreptimeTeam/db-approver

take youknowone's patch
  src/script/src/python/error.rs
  src/script/src/python/ffi_types/copr/compile.rs
  src/script/src/python/ffi_types/copr/parse.rs
Owners: @GreptimeTeam/db-approver

.github/CODEOWNERS:

# GreptimeDB CODEOWNERS

# These owners will be the default owners for everything in the repo.

* @GreptimeTeam/db-approver

## [Module] Databse Engine
/src/index @zhongzc
/src/mito2 @evenyag @v0y4g3r @waynexia
/src/query @evenyag

## [Module] Distributed
/src/common/meta @MichaelScofield
/src/common/procedure @MichaelScofield
/src/meta-client @MichaelScofield
/src/meta-srv @MichaelScofield

## [Module] Write Ahead Log
/src/log-store @v0y4g3r
/src/store-api @v0y4g3r

## [Module] Metrics Engine
/src/metric-engine @waynexia
/src/promql @waynexia

## [Module] Flow
/src/flow @zhongzc @waynexia
