Repository GreptimeTeam/greptimedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GreptimeTeam/db-approver, @zhongzc, @evenyag, @v0y4g3r, @waynexia, @MichaelScofield

.github/CODEOWNERS:

# GreptimeDB CODEOWNERS

# These owners will be the default owners for everything in the repo.

* @GreptimeTeam/db-approver

## [Module] Databse Engine
/src/index @zhongzc
/src/mito2 @evenyag @v0y4g3r @waynexia
/src/query @evenyag

## [Module] Distributed
/src/common/meta @MichaelScofield
/src/common/procedure @MichaelScofield
/src/meta-client @MichaelScofield
/src/meta-srv @MichaelScofield

## [Module] Write Ahead Log
/src/log-store @v0y4g3r
/src/store-api @v0y4g3r

## [Module] Metrics Engine
/src/metric-engine @waynexia
/src/promql @waynexia

## [Module] Flow
/src/flow @zhongzc @waynexia

chore: address CR comments
  src/mito2/src/error.rs
  src/mito2/src/manifest/manager.rs
Owners: @evenyag, @v0y4g3r, @waynexia

feat: impl table_constraints table for information_schema (#3698)
  src/catalog/src/information_schema.rs
  src/catalog/src/information_schema/columns.rs
  src/catalog/src/information_schema/key_column_usage.rs
  src/catalog/src/information_schema/table_constraints.rs
  src/catalog/src/information_schema/table_names.rs
  src/common/catalog/src/consts.rs
  tests/cases/standalone/common/information_schema/table_constraints.result
  tests/cases/standalone/common/information_schema/table_constraints.sql
  tests/cases/standalone/common/show/show_databases_tables.result
  tests/cases/standalone/common/system/information_schema.result
Owners: @GreptimeTeam/db-approver

refactor: Move manifest manager lock to `MitoRegion` (#3689)
  src/mito2/src/engine/catchup_test.rs
  src/mito2/src/error.rs
  src/mito2/src/manifest/manager.rs
  src/mito2/src/manifest/tests/checkpoint.rs
  src/mito2/src/region.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/worker/handle_alter.rs
  src/mito2/src/worker/handle_catchup.rs
  src/mito2/src/worker/handle_compaction.rs
  src/mito2/src/worker/handle_truncate.rs
Owners: @evenyag, @v0y4g3r, @waynexia

Update src/common/meta/src/cluster.rs
  src/common/meta/src/cluster.rs
Owners: @MichaelScofield

Update src/meta-client/src/client.rs
  src/meta-client/src/client.rs
Owners: @MichaelScofield

refactor: refactor `Key`
  src/common/meta/src/key.rs
  src/common/meta/src/key/tombstone.rs
Owners: @MichaelScofield

avoid print
  src/common/meta/src/kv_backend/etcd.rs
Owners: @MichaelScofield

fmt
  src/meta-client/src/client.rs
Owners: @MichaelScofield

Apply suggestions from code review
  src/meta-client/src/client.rs
Owners: @MichaelScofield

feat: add strict mode to validate protocol strings (#3638)
  src/frontend/src/server.rs
  src/servers/benches/prom_decode.rs
  src/servers/src/http.rs
  src/servers/src/http/prom_store.rs
  src/servers/src/prom_row_builder.rs
  src/servers/src/proto.rs
  src/servers/tests/http/prom_store_test.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/http.rs
Owners: @GreptimeTeam/db-approver

impl<T: AsRef<[u8]>> From<T> for LeaderValue
  src/meta-srv/src/election/etcd.rs
  src/meta-srv/src/metasrv.rs
Owners: @MichaelScofield

feat: get metasrv clusterinfo (#3696)
  Cargo.lock
  Cargo.toml
  src/common/meta/src/cluster.rs
  src/meta-client/src/client.rs
  src/meta-client/src/client/cluster.rs
  src/meta-srv/src/election.rs
  src/meta-srv/src/election/etcd.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/service/cluster.rs
Owners: @GreptimeTeam/db-approver, @MichaelScofield

fix: update greptime-proto revision
  Cargo.lock
  Cargo.toml
  src/client/src/database.rs
Owners: @GreptimeTeam/db-approver

refactor: use toml2docs to generate config docs
  Makefile
  config/config-docs-template.md
  config/config.md
  config/datanode.example.toml
  config/frontend.example.toml
  config/metasrv.example.toml
  config/standalone.example.toml
Owners: @GreptimeTeam/db-approver

chore: debt 3696
  src/meta-client/src/client.rs
  src/meta-srv/src/election/etcd.rs
Owners: @MichaelScofield

refactor: carry more info
  src/common/meta/src/error.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/tombstone.rs
  src/common/meta/src/key/txn_helper.rs
Owners: @MichaelScofield

ci: add docs check in 'check-typos-and-docs'
  .github/workflows/develop.yml
Owners: @GreptimeTeam/db-approver

chore: restore accidental removal
  Cargo.lock
Owners: @GreptimeTeam/db-approver

chore: debt 3696 (#3705)
  src/meta-client/src/client.rs
  src/meta-srv/src/election/etcd.rs
Owners: @MichaelScofield

refactor: use toml2docs to generate config docs (#3704)
  .github/workflows/develop.yml
  Makefile
  config/config-docs-template.md
  config/config.md
  config/datanode.example.toml
  config/frontend.example.toml
  config/metasrv.example.toml
  config/standalone.example.toml
Owners: @GreptimeTeam/db-approver

feat(promql): parameterize lookback (#3630)
  Cargo.lock
  Cargo.toml
  src/client/src/database.rs
  src/frontend/src/instance/grpc.rs
  src/operator/src/statement/tql.rs
  src/query/src/parser.rs
  src/servers/src/error.rs
  src/servers/src/grpc/prom_query_gateway.rs
  src/servers/src/http/handler.rs
  src/servers/src/http/prometheus.rs
  src/servers/tests/mod.rs
  tests-integration/src/grpc.rs
  tests-integration/tests/grpc.rs
  tests/cases/standalone/common/tql-explain-analyze/analyze.result
  tests/cases/standalone/common/tql-explain-analyze/explain.result
  tests/cases/standalone/common/tql/basic.result
  tests/cases/standalone/common/tql/basic.sql
Owners: @GreptimeTeam/db-approver, @evenyag

refactor: remove redundant try_flush invocations
  src/common/datasource/src/buffered_writer.rs
  src/common/datasource/src/file_format.rs
  src/common/datasource/src/file_format/parquet.rs
Owners: @GreptimeTeam/db-approver

feat: add `destroy_table_metadata`
  src/common/meta/src/ddl/drop_database/executor.rs
  src/common/meta/src/ddl/drop_table.rs
  src/common/meta/src/ddl/drop_table/executor.rs
  src/common/meta/src/key.rs
Owners: @MichaelScofield

fixup
  src/common/datasource/src/buffered_writer.rs
  src/common/datasource/src/file_format.rs
Owners: @GreptimeTeam/db-approver

test: Add tests for KvBackend trait implement (#3700)
  src/common/meta/src/kv_backend/etcd.rs
  src/common/meta/src/kv_backend/memory.rs
  src/common/meta/src/kv_backend/test.rs
  src/log-store/Cargo.toml
  src/log-store/src/raft_engine/backend.rs
Owners: @MichaelScofield, @v0y4g3r

feat: add `filter_deleted` scan option to avoid removing deletion markers.
  src/mito2/src/engine.rs
  src/mito2/src/engine/append_mode_test.rs
  src/mito2/src/engine/filter_deleted_test.rs
  src/mito2/src/read/merge.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/seq_scan.rs
Owners: @evenyag, @v0y4g3r, @waynexia

feat: check partition rule
  src/partition/src/error.rs
  src/partition/src/lib.rs
  src/partition/src/manager.rs
  src/partition/src/multi_dim.rs
Owners: @GreptimeTeam/db-approver

fix clippy and fmt
  src/partition/src/manager.rs
  src/partition/src/multi_dim.rs
Owners: @GreptimeTeam/db-approver

refactor: move sort_batches_and_print to test_util
  src/mito2/src/engine/append_mode_test.rs
  src/mito2/src/engine/filter_deleted_test.rs
  src/mito2/src/test_util.rs
  src/mito2/src/test_util/batch_util.rs
Owners: @evenyag, @v0y4g3r, @waynexia

docs: update memtable config example
  config/config.md
  config/datanode.example.toml
  config/standalone.example.toml
Owners: @GreptimeTeam/db-approver

refactor: remove redundant table_route_value
  src/common/meta/src/ddl/drop_database/cursor.rs
  src/common/meta/src/ddl/drop_database/executor.rs
  src/common/meta/src/ddl/drop_table.rs
  src/common/meta/src/ddl/drop_table/metadata.rs
  src/common/meta/src/key/table_route.rs
Owners: @MichaelScofield

build(deps): upgrade tower-http and centralize tower
  Cargo.lock
  Cargo.toml
  src/common/grpc/Cargo.toml
  src/frontend/Cargo.toml
  src/meta-client/Cargo.toml
  src/meta-srv/Cargo.toml
  src/servers/Cargo.toml
  tests-integration/Cargo.toml
Owners: @GreptimeTeam/db-approver, @MichaelScofield

add more tests
  src/partition/src/error.rs
  src/partition/src/multi_dim.rs
Owners: @GreptimeTeam/db-approver

fix typo
  src/partition/src/multi_dim.rs
Owners: @GreptimeTeam/db-approver

fix(alter_table): ignore request outdated error
  src/common/meta/src/ddl/alter_table.rs
  src/common/meta/src/ddl/test_util/datanode_handler.rs
  src/common/meta/src/ddl/tests/alter_table.rs
Owners: @MichaelScofield

feat: ensure the key is empty
  src/common/meta/src/key/tombstone.rs
Owners: @MichaelScofield

feat: introcude `table_metadata_keys`
  src/common/meta/src/key.rs
Owners: @MichaelScofield

chore: carry more info
  src/common/meta/src/key/tombstone.rs
Owners: @MichaelScofield

feat: add `filter_deleted` option to avoid removing deletion markers (#3707)
  src/mito2/src/engine.rs
  src/mito2/src/engine/append_mode_test.rs
  src/mito2/src/engine/filter_deleted_test.rs
  src/mito2/src/read/merge.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/test_util.rs
  src/mito2/src/test_util/batch_util.rs
Owners: @evenyag, @v0y4g3r, @waynexia

chore: remove clone
  src/common/meta/src/ddl/drop_database/cursor.rs
Owners: @MichaelScofield
