Repository GreptimeTeam/greptimedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GreptimeTeam/db-approver, @zhongzc, @evenyag, @v0y4g3r, @waynexia, @MichaelScofield

add statement
  Cargo.lock
  src/operator/Cargo.toml
  src/operator/src/error.rs
  src/operator/src/statement.rs
  src/operator/src/statement/ddl.rs
  src/operator/src/statement/tql.rs
  src/query/src/plan.rs
  src/query/src/planner.rs
  src/query/src/query_engine/state.rs
  src/sql/src/statements/create.rs
  src/sql/src/statements/statement.rs
Owners: @GreptimeTeam/db-approver, @evenyag

debug ci
  tests/cases/distributed/optimizer/filter_push_down.sql
Owners: @GreptimeTeam/db-approver

about error logging
  docs/style-guide.md
Owners: @GreptimeTeam/db-approver

docs: add style guide (#3730)
  CONTRIBUTING.md
  docs/style-guide.md
Owners: @GreptimeTeam/db-approver

debug ci
  tests/cases/distributed/optimizer/filter_push_down.sql
Owners: @GreptimeTeam/db-approver

refactor: do not compare `dest_key`
  src/common/meta/src/key.rs
  src/common/meta/src/key/tombstone.rs
  src/common/meta/src/rpc/store.rs
Owners: @MichaelScofield

debug ci
  tests/cases/distributed/optimizer/filter_push_down.sql
Owners: @GreptimeTeam/db-approver

chore: update comments
  src/common/meta/src/key/tombstone.rs
Owners: @MichaelScofield

enforce input partition
  src/promql/src/extension_plan/histogram_fold.rs
  src/promql/src/extension_plan/range_manipulate.rs
Owners: @waynexia

debug ci
  .github/workflows/develop.yml
Owners: @GreptimeTeam/db-approver

fix ci
  src/promql/src/extension_plan/histogram_fold.rs
  src/promql/src/extension_plan/range_manipulate.rs
Owners: @waynexia

fix ci
  src/promql/src/extension_plan/histogram_fold.rs
Owners: @waynexia

debug ci
  .github/workflows/develop.yml
  tests/cases/distributed/optimizer/filter_push_down.sql
Owners: @GreptimeTeam/db-approver

debug ci
  tests/cases/distributed/optimizer/filter_push_down.sql
Owners: @GreptimeTeam/db-approver

debug ci
  tests/cases/distributed/optimizer/filter_push_down.sql
Owners: @GreptimeTeam/db-approver

feat: support invalidate schema name key cache
  src/common/meta/src/cache_invalidator.rs
  src/common/meta/src/ddl/drop_database/metadata.rs
  src/common/meta/src/instruction.rs
  src/common/meta/src/key/schema_name.rs
  src/frontend/src/heartbeat/handler/tests.rs
Owners: @MichaelScofield, @GreptimeTeam/db-approver

fix: remove pub for invalidate_schema_cache
  src/common/meta/src/ddl/drop_database/metadata.rs
Owners: @MichaelScofield

fix sqlness
  tests/cases/distributed/optimizer/filter_push_down.result
Owners: @GreptimeTeam/db-approver

refactor: add DropMetadataBroadcast State Op
  rustc-ice-2024-04-17T13_15_09-63589.txt
  rustc-ice-2024-04-17T13_15_09-63605.txt
  rustc-ice-2024-04-17T13_21_08-63910.txt
  rustc-ice-2024-04-17T13_21_08-63926.txt
  rustc-ice-2024-04-17T13_21_17-64000.txt
  rustc-ice-2024-04-17T13_21_17-64016.txt
  rustc-ice-2024-04-17T13_21_57-64289.txt
  rustc-ice-2024-04-17T13_21_57-64305.txt
  rustc-ice-2024-04-17T13_22_03-64380.txt
  rustc-ice-2024-04-17T13_22_03-64396.txt
  rustc-ice-2024-04-17T13_22_33-64486.txt
  rustc-ice-2024-04-17T13_22_33-64502.txt
  rustc-ice-2024-04-17T13_22_35-64572.txt
  rustc-ice-2024-04-17T13_22_35-64589.txt
  rustc-ice-2024-04-17T13_22_43-64823.txt
  rustc-ice-2024-04-17T13_22_43-64839.txt
  src/common/meta/src/ddl/drop_database/metadata.rs
Owners: @GreptimeTeam/db-approver, @MichaelScofield

fix: delete files
  rustc-ice-2024-04-17T13_15_09-63589.txt
  rustc-ice-2024-04-17T13_15_09-63605.txt
  rustc-ice-2024-04-17T13_21_08-63910.txt
  rustc-ice-2024-04-17T13_21_08-63926.txt
  rustc-ice-2024-04-17T13_21_17-64000.txt
  rustc-ice-2024-04-17T13_21_17-64016.txt
  rustc-ice-2024-04-17T13_21_57-64289.txt
  rustc-ice-2024-04-17T13_21_57-64305.txt
  rustc-ice-2024-04-17T13_22_03-64380.txt
  rustc-ice-2024-04-17T13_22_03-64396.txt
  rustc-ice-2024-04-17T13_22_33-64486.txt
  rustc-ice-2024-04-17T13_22_33-64502.txt
  rustc-ice-2024-04-17T13_22_35-64572.txt
  rustc-ice-2024-04-17T13_22_35-64589.txt
  rustc-ice-2024-04-17T13_22_43-64823.txt
  rustc-ice-2024-04-17T13_22_43-64839.txt
Owners: @GreptimeTeam/db-approver

chore: apply suggestions from CR
  src/common/meta/src/rpc/store.rs
Owners: @MichaelScofield

feat: add tinytext, mediumtext and longtext data types
  src/sql/src/statements/transform/type_alias.rs
Owners: @GreptimeTeam/db-approver

feat(fuzz): enable create-if-not-exists option
  tests-fuzz/targets/fuzz_create_database.rs
  tests-fuzz/targets/fuzz_create_table.rs
Owners: @GreptimeTeam/db-approver

feat(fuzz): enable create-if-not-exists option (#3732)
  tests-fuzz/targets/fuzz_create_database.rs
  tests-fuzz/targets/fuzz_create_table.rs
Owners: @GreptimeTeam/db-approver

chore: remove `#[inline]`
  src/common/meta/src/rpc/store.rs
Owners: @MichaelScofield

chore: check length of keys and dest_key
  src/common/meta/src/key/tombstone.rs
Owners: @MichaelScofield

feat: add tinytext, mediumtext and longtext data types (#3731)
  src/sql/src/statements/transform/type_alias.rs
Owners: @GreptimeTeam/db-approver

feat: support invalidate schema name key cache (#3725)
  src/common/meta/src/cache_invalidator.rs
  src/common/meta/src/ddl/drop_database/metadata.rs
  src/common/meta/src/instruction.rs
  src/common/meta/src/key/schema_name.rs
  src/frontend/src/heartbeat/handler/tests.rs
Owners: @MichaelScofield, @GreptimeTeam/db-approver

chore: remove TableIdProvider
  src/table/src/table.rs
Owners: @GreptimeTeam/db-approver

refactor(meta): Ensure all moving values remain unchanged between two transactions (#3727)
  src/common/meta/src/ddl/drop_table/executor.rs
  src/common/meta/src/error.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/tombstone.rs
  src/common/meta/src/key/txn_helper.rs
  src/common/meta/src/rpc/store.rs
Owners: @MichaelScofield

chore: remove TableIdProvider (#3733)
  src/table/src/table.rs
Owners: @GreptimeTeam/db-approver

refactor: using `TxnOpGetResponseSet`
  src/common/meta/src/key.rs
  src/common/meta/src/key/table_info.rs
  src/common/meta/src/key/table_route.rs
  src/common/meta/src/key/txn_helper.rs
Owners: @MichaelScofield

feat: do not return error while creating a filter
  benchmarks/src/bin/nyc-taxi.rs
  src/common/recordbatch/src/filter.rs
  src/mito2/src/error.rs
  src/mito2/src/memtable/partition_tree/tree.rs
  src/mito2/src/memtable/time_series.rs
  src/mito2/src/sst/parquet/reader.rs
Owners: @GreptimeTeam/db-approver, @evenyag, @v0y4g3r, @waynexia

chore: remove array from error
  src/datatypes/src/error.rs
  src/datatypes/src/value.rs
  src/datatypes/src/vectors/helper.rs
Owners: @GreptimeTeam/db-approver

chore: replace todo with unimplemented
  benchmarks/src/bin/nyc-taxi.rs
Owners: @GreptimeTeam/db-approver

feat: add try_from_iter for `Accum`
  src/flow/src/expr/relation/accum.rs
Owners: @zhongzc, @waynexia

fix: use correct key for reduce's arrange&remove `expect()`
  src/flow/src/compute/render.rs
Owners: @zhongzc, @waynexia

feat: WIP eval aggr with simple&distinct aggr
  src/flow/src/compute/render.rs
  src/flow/src/compute/state.rs
  src/flow/src/utils.rs
Owners: @zhongzc, @waynexia

feat: render_reduce
  src/flow/src/compute/render.rs
  src/flow/src/compute/render/map.rs
  src/flow/src/compute/render/reduce.rs
  src/flow/src/compute/state.rs
  src/flow/src/compute/types.rs
  src/flow/src/expr/error.rs
  src/flow/src/expr/relation/accum.rs
  src/flow/src/expr/relation/func.rs
  src/flow/src/plan/reduce.rs
  src/flow/src/repr.rs
  src/flow/src/utils.rs
Owners: @zhongzc, @waynexia

feat: render distinct reduce
  src/flow/src/compute/render.rs
  src/flow/src/compute/types.rs
  src/flow/src/expr/linear.rs
  src/flow/src/utils.rs
Owners: @zhongzc, @waynexia

.github/CODEOWNERS:

# GreptimeDB CODEOWNERS

# These owners will be the default owners for everything in the repo.

* @GreptimeTeam/db-approver

## [Module] Databse Engine
/src/index @zhongzc
/src/mito2 @evenyag @v0y4g3r @waynexia
/src/query @evenyag

## [Module] Distributed
/src/common/meta @MichaelScofield
/src/common/procedure @MichaelScofield
/src/meta-client @MichaelScofield
/src/meta-srv @MichaelScofield

## [Module] Write Ahead Log
/src/log-store @v0y4g3r
/src/store-api @v0y4g3r

## [Module] Metrics Engine
/src/metric-engine @waynexia
/src/promql @waynexia

## [Module] Flow
/src/flow @zhongzc @waynexia
