Repository GreptimeTeam/greptimedb, pull requests merged in 2022-11, with the labels that each got.

#541 fix: field number of InsertExpr proto
  src/api/greptime/v1/database.proto
Labels: AFR

#593 feat: disable mysql server on datande when running standalone mode
  Cargo.lock
  src/cmd/Cargo.toml
  src/cmd/src/datanode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/standalone.rs
  src/datanode/src/datanode.rs
  src/datanode/src/instance.rs
  src/datanode/src/server.rs
  src/datanode/src/tests/grpc_test.rs
  src/datanode/src/tests/test_util.rs
  src/frontend/src/frontend.rs
  src/frontend/src/instance.rs
  src/frontend/src/instance/influxdb.rs
  src/frontend/src/instance/opentsdb.rs
  src/frontend/src/instance/prometheus.rs
  src/servers/src/lib.rs
Labels: API change

#487 feat: integration test suite
  Cargo.lock
  Cargo.toml
  codecov.yml
  tests/cases/standalone/basic.result
  tests/cases/standalone/basic.sql
  tests/runner/Cargo.toml
  tests/runner/src/env.rs
  tests/runner/src/main.rs
  tests/runner/src/util.rs
Labels: AFR

#620 feat: deregister table for MemoryCatalogManager
  config/datanode.example.toml
  config/standalone.example.toml
  src/catalog/src/error.rs
  src/catalog/src/lib.rs
  src/catalog/src/local/manager.rs
  src/catalog/src/local/memory.rs
  src/catalog/src/remote/manager.rs
  src/catalog/tests/remote_catalog_tests.rs
  src/cmd/src/standalone.rs
  src/datanode/src/datanode.rs
  src/datanode/src/instance.rs
  src/frontend/src/catalog.rs
Labels: API change

#570 feat: remove InsertBatch in gRPC message
  Cargo.lock
  benchmarks/src/bin/nyc-taxi.rs
  src/api/build.rs
  src/api/greptime/v1/database.proto
  src/api/greptime/v1/insert.proto
  src/api/src/serde.rs
  src/client/examples/insert.rs
  src/common/grpc-expr/Cargo.toml
  src/common/grpc-expr/src/insert.rs
  src/common/grpc-expr/src/lib.rs
  src/common/grpc/src/writer.rs
  src/datanode/src/instance/grpc.rs
  src/datanode/src/tests/grpc_test.rs
  src/frontend/src/expr_factory.rs
  src/frontend/src/instance.rs
  src/frontend/src/instance/influxdb.rs
  src/frontend/src/instance/opentsdb.rs
  src/frontend/src/instance/prometheus.rs
  src/frontend/src/table.rs
  src/frontend/src/table/insert.rs
  src/servers/src/influxdb.rs
  src/servers/src/opentsdb/codec.rs
  src/servers/src/prometheus.rs
Labels: API change

#645 feat: UI improvement for integration test runner
  tests/runner/src/env.rs
  tests/runner/src/main.rs
  tests/runner/src/util.rs
Labels: doc update required

#641 feat: mysql and pg server support tls
  Cargo.lock
  src/common/base/Cargo.toml
  src/datanode/src/server.rs
  src/frontend/Cargo.toml
  src/frontend/src/mysql.rs
  src/frontend/src/postgres.rs
  src/frontend/src/server.rs
  src/servers/Cargo.toml
  src/servers/src/error.rs
  src/servers/src/lib.rs
  src/servers/src/mysql/server.rs
  src/servers/src/postgres/auth_handler.rs
  src/servers/src/postgres/server.rs
  src/servers/src/tls.rs
  src/servers/tests/mysql/mysql_server_test.rs
  src/servers/tests/postgres/mod.rs
  src/servers/tests/ssl/server.crt
  src/servers/tests/ssl/server.key
Labels: doc update required
