Repository GreptimeTeam/greptimedb, pull requests merged in 2023-07, with the labels that each got.

#1857 feat: Implement a new scan mode using a chain reader
  src/storage/src/chunk.rs
  src/storage/src/compaction/task.rs
  src/storage/src/compaction/writer.rs
  src/storage/src/memtable.rs
  src/storage/src/read.rs
  src/storage/src/read/chain.rs
  src/storage/src/read/merge.rs
  src/storage/src/region/tests/flush.rs
  src/storage/src/snapshot.rs
  src/storage/src/test_util/read_util.rs
Labels: performance

#1851 feat: initial twcs impl
  src/common/time/src/timestamp_millis.rs
  src/datanode/src/instance.rs
  src/mito/src/engine.rs
  src/mito/src/engine/procedure/create.rs
  src/storage/src/compaction.rs
  src/storage/src/compaction/picker.rs
  src/storage/src/compaction/scheduler.rs
  src/storage/src/compaction/strategy.rs
  src/storage/src/compaction/task.rs
  src/storage/src/compaction/twcs.rs
  src/storage/src/compaction/writer.rs
  src/storage/src/engine.rs
  src/storage/src/flush/scheduler.rs
  src/storage/src/region.rs
  src/storage/src/region/tests.rs
  src/storage/src/region/tests/compact.rs
  src/storage/src/region/writer.rs
  src/storage/src/test_util/config_util.rs
  src/store-api/src/lib.rs
  src/store-api/src/storage.rs
  src/store-api/src/storage/engine.rs
Labels: doc update required, performance, Size: L

#1781 feat: support gcs storage
  .env.example
  src/cmd/src/datanode.rs
  src/datanode/src/datanode.rs
  src/datanode/src/store.rs
  src/datanode/src/store/gcs.rs
  src/object-store/tests/object_store_test.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/main.rs
Labels: doc update required

#1904 feat!: rename WITH parameter ENDPOINT_URL to ENDPOINT
  docs/rfcs/2023-07-06-table-engine-refactor.md
  src/common/datasource/src/object_store/s3.rs
Labels: breaking change

#1944 feat: support desc [table] <table_name>
  src/sql/src/parser.rs
  tests/cases/standalone/common/describe/describe_table.result
  tests/cases/standalone/common/describe/describe_table.sql
Labels: doc update required

#1931 chore(prom)!: rename prometheus(remote storage) to prom-store and promql(HTTP server) to prometheus
  config/frontend.example.toml
  config/standalone.example.toml
  src/api/src/lib.rs
  src/cmd/src/frontend.rs
  src/cmd/src/standalone.rs
  src/frontend/src/error.rs
  src/frontend/src/frontend.rs
  src/frontend/src/instance.rs
  src/frontend/src/instance/prom_store.rs
  src/frontend/src/metrics.rs
  src/frontend/src/server.rs
  src/frontend/src/service_config.rs
  src/frontend/src/service_config/prom_store.rs
  src/frontend/src/service_config/prometheus.rs
  src/servers/src/grpc.rs
  src/servers/src/grpc/prom_query_gateway.rs
  src/servers/src/http.rs
  src/servers/src/http/prom_store.rs
  src/servers/src/lib.rs
  src/servers/src/metrics.rs
  src/servers/src/prom.rs
  src/servers/src/prom_store.rs
  src/servers/src/prometheus.rs
  src/servers/src/query_handler.rs
  src/servers/tests/http/mod.rs
  src/servers/tests/http/prom_store_test.rs
  tests-integration/src/lib.rs
  tests-integration/src/prom_store.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/grpc.rs
  tests-integration/tests/http.rs
Labels: doc update required, breaking change

#1965 feat: expose metasrv `datanode_client_options`
  config/metasrv.example.toml
  src/client/src/client_manager.rs
  src/common/grpc/src/channel_manager.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
Labels: doc update required

#1976 refactor: move heartbeat configuration into an independent section
  config/datanode.example.toml
  config/frontend.example.toml
  src/datanode/src/datanode.rs
  src/datanode/src/instance.rs
  src/frontend/src/frontend.rs
  src/frontend/src/heartbeat.rs
  src/frontend/src/instance.rs
  src/servers/src/heartbeat_options.rs
  src/servers/src/lib.rs
  tests-integration/tests/http.rs
Labels: doc update required

#1961 feat: impl time type
  Cargo.lock
  Cargo.toml
  src/api/src/helper.rs
  src/common/grpc-expr/src/insert.rs
  src/common/grpc/src/select.rs
  src/common/time/Cargo.toml
  src/common/time/src/lib.rs
  src/common/time/src/time.rs
  src/common/time/src/timestamp.rs
  src/datatypes/src/data_type.rs
  src/datatypes/src/error.rs
  src/datatypes/src/lib.rs
  src/datatypes/src/time.rs
  src/datatypes/src/type_id.rs
  src/datatypes/src/types.rs
  src/datatypes/src/types/time_type.rs
  src/datatypes/src/value.rs
  src/datatypes/src/vectors.rs
  src/datatypes/src/vectors/eq.rs
  src/datatypes/src/vectors/helper.rs
  src/datatypes/src/vectors/primitive.rs
  src/datatypes/src/vectors/time.rs
  src/servers/src/grpc/prom_query_gateway.rs
  src/servers/src/mysql/helper.rs
  src/servers/src/mysql/writer.rs
  src/servers/src/postgres/types.rs
  src/sql/src/statements.rs
  tests/cases/standalone/common/function/time.result
  tests/cases/standalone/common/function/time.sql
Labels: doc update required

#1985 refactor!: trying to replace TableGlobalValue, part 2
  Cargo.lock
  Cargo.toml
  src/catalog/src/remote/manager.rs
  src/common/catalog/Cargo.toml
  src/common/meta/src/error.rs
  src/common/meta/src/helper.rs
  src/common/meta/src/key/datanode_table.rs
  src/common/meta/src/key/table_info.rs
  src/common/meta/src/key/table_name.rs
  src/common/meta/src/key/table_region.rs
  src/common/meta/src/key/table_route.rs
  src/common/meta/src/rpc/router.rs
  src/datanode/Cargo.toml
  src/frontend/src/catalog.rs
  src/frontend/src/error.rs
  src/frontend/src/heartbeat/handler/invalidate_table_cache.rs
  src/frontend/src/heartbeat/handler/tests.rs
  src/frontend/src/instance/distributed.rs
  src/frontend/src/instance/distributed/inserter.rs
  src/frontend/src/table.rs
  src/meta-srv/src/ddl.rs
  src/meta-srv/src/error.rs
  src/meta-srv/src/handler/region_lease_handler.rs
  src/meta-srv/src/procedure/alter_table.rs
  src/meta-srv/src/procedure/create_table.rs
  src/meta-srv/src/procedure/drop_table.rs
  src/meta-srv/src/procedure/region_failover.rs
  src/meta-srv/src/procedure/region_failover/update_metadata.rs
  src/meta-srv/src/procedure/utils.rs
  src/meta-srv/src/service/admin/meta.rs
  src/meta-srv/src/service/ddl.rs
  src/meta-srv/src/service/router.rs
  src/meta-srv/src/table_routes.rs
  src/partition/src/error.rs
  src/partition/src/manager.rs
  src/partition/src/route.rs
  src/query/src/dist_plan/planner.rs
  src/query/src/query_engine/state.rs
  tests-integration/src/grpc.rs
  tests-integration/src/instance.rs
  tests-integration/tests/region_failover.rs
Labels: breaking change

#1981 feat: add orc stream
  src/common/datasource/src/file_format/orc.rs
  src/common/datasource/src/file_format/tests.rs
  src/common/datasource/tests/orc/README.md
  src/file-table-engine/src/table/format.rs
  src/frontend/src/statement/copy_table_from.rs
  tests-integration/src/tests/instance_test.rs
Labels: doc update required

#2015 refactor: unify the greptime artifacts building
  .github/workflows/release.yml
  Makefile
  docker/aarch64/Dockerfile
  docker/aarch64/compile-python.sh
  docker/centos/Dockerfile
  docker/ci/Dockerfile
  docker/ci/Dockerfile-centos
  docker/dev-builder/Dockerfile
  docker/python/requirements.txt
  docker/ubuntu/Dockerfile
Labels: doc update required

#1952 feat: impl interval type
  src/api/src/helper.rs
  src/common/grpc-expr/src/insert.rs
  src/common/grpc/src/select.rs
  src/common/time/src/error.rs
  src/common/time/src/interval.rs
  src/common/time/src/lib.rs
  src/datatypes/src/data_type.rs
  src/datatypes/src/interval.rs
  src/datatypes/src/lib.rs
  src/datatypes/src/type_id.rs
  src/datatypes/src/types.rs
  src/datatypes/src/types/interval_type.rs
  src/datatypes/src/types/primitive_type.rs
  src/datatypes/src/value.rs
  src/datatypes/src/vectors.rs
  src/datatypes/src/vectors/eq.rs
  src/datatypes/src/vectors/helper.rs
  src/datatypes/src/vectors/interval.rs
  src/datatypes/src/vectors/primitive.rs
  src/servers/src/mysql/writer.rs
  src/servers/src/postgres/types.rs
  src/sql/src/statements.rs
  tests/cases/standalone/common/select/dummy.result
  tests/cases/standalone/common/select/dummy.sql
Labels: doc update required
