Repository GreptimeTeam/greptimedb, pull requests merged in 2023-08, with the labels that each got.

#2044 feat: make the gRPC channel between Frontend and Datanode configurable
  Cargo.lock
  config/frontend.example.toml
  src/frontend/Cargo.toml
  src/frontend/src/frontend.rs
  src/frontend/src/service_config.rs
  src/frontend/src/service_config/datanode.rs
Labels: doc update required

#2062 docs: update SDK list
  README.md
Labels: documentation

#2077 chore!: modify install.sh to adapt the new release package format
  scripts/install.sh
Labels: breaking change

#2045 feat: impl pubsub in metasrv
  Cargo.lock
  src/meta-srv/Cargo.toml
  src/meta-srv/src/error.rs
  src/meta-srv/src/handler.rs
  src/meta-srv/src/handler/publish_heartbeat_handler.rs
  src/meta-srv/src/lib.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/pubsub.rs
  src/meta-srv/src/pubsub/publish.rs
  src/meta-srv/src/pubsub/subscribe_manager.rs
  src/meta-srv/src/pubsub/subscriber.rs
  src/meta-srv/src/pubsub/tests.rs
Labels: Metasrv

#1998 chore!: change logstore namespace prefix
  src/log-store/src/raft_engine/log_store.rs
Labels: breaking change

#2137 feat!: enable telemetry by default
  Cargo.lock
  config/datanode.example.toml
  config/metasrv.example.toml
  config/standalone.example.toml
  src/cmd/Cargo.toml
  src/cmd/src/datanode.rs
  src/cmd/src/standalone.rs
  src/common/greptimedb-telemetry/Cargo.toml
  src/common/greptimedb-telemetry/src/lib.rs
  src/datanode/Cargo.toml
  src/datanode/src/datanode.rs
  src/datanode/src/greptimedb_telemetry.rs
  src/datanode/src/instance.rs
  src/datanode/src/lib.rs
  src/datanode/src/store.rs
  src/datanode/src/store/fs.rs
  src/datanode/src/tests/test_util.rs
  src/meta-srv/Cargo.toml
  src/meta-srv/src/greptimedb_telemetry.rs
  src/meta-srv/src/lib.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
  tests-integration/src/cluster.rs
  tests-integration/src/test_util.rs
  tests-integration/src/tests.rs
  tests-integration/tests/http.rs
  tests-integration/tests/region_failover.rs
Labels: documentation, doc update required, breaking change

#2161 fix(metasrv)!: do not overwrite boolean options unconditionally
  src/cmd/src/metasrv.rs
  src/meta-srv/src/error.rs
  tests/runner/src/env.rs
Labels: breaking change

#2140 feat!: switch to new catalog/schema key
  src/catalog/src/error.rs
  src/catalog/src/remote/manager.rs
  src/catalog/tests/remote_catalog_tests.rs
  src/cmd/src/cli.rs
  src/common/meta/src/helper.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/catalog_name.rs
  src/common/meta/src/key/schema_name.rs
  src/common/meta/src/lib.rs
  src/datanode/src/instance.rs
  src/frontend/src/catalog.rs
  src/frontend/src/instance/distributed.rs
  src/frontend/src/instance/distributed/inserter.rs
  src/meta-srv/src/error.rs
  src/meta-srv/src/metadata_service.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/mocks.rs
  src/meta-srv/src/service/admin.rs
  src/meta-srv/src/service/admin/meta.rs
  tests-integration/src/cluster.rs
Labels: breaking change

#2169 feat!: add deserializer for Partition
  src/common/meta/src/rpc/router.rs
  src/frontend/src/instance/distributed.rs
  src/partition/src/partition.rs
Labels: breaking change

#2005 refactor!: move prometheus routes to default http server
  src/frontend/src/server.rs
  src/servers/src/http.rs
  src/servers/src/prometheus.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/http.rs
Labels: cloud followup required, breaking change

#2227 fix!: resolve residual issues with removing prometheus port
  config/frontend.example.toml
  config/standalone.example.toml
  src/cmd/src/frontend.rs
  src/cmd/src/standalone.rs
  src/frontend/src/frontend.rs
  src/frontend/src/server.rs
  src/frontend/src/service_config.rs
  src/frontend/src/service_config/prometheus.rs
  src/servers/src/http.rs
  tests-integration/tests/http.rs
Labels: doc update required, breaking change

#2185 fix: parse large timestamp
  src/common/time/src/timestamp.rs
  src/query/src/optimizer/type_conversion.rs
  src/storage/src/window_infer.rs
  tests/cases/standalone/common/timestamp/timestamp.result
  tests/cases/standalone/common/timestamp/timestamp.sql
Labels: bug, doc update required
