Repository GreptimeTeam/greptimedb, pull requests merged in 2023-02, with the labels that each got.

#884 feat: Query using sql inside python script
  src/script/src/python/coprocessor.rs
  src/script/src/python/coprocessor/parse.rs
  src/script/src/python/engine.rs
  src/script/src/python/test.rs
Labels: doc update required

#1011 feat: add catalog name to s3 path
  src/mito/src/engine.rs
Labels: breaking change

#1006 feat(procedure): Support multi-lock keys and querying procedure state from context
  Cargo.lock
  src/common/procedure/Cargo.toml
  src/common/procedure/src/lib.rs
  src/common/procedure/src/local.rs
  src/common/procedure/src/local/runner.rs
  src/common/procedure/src/procedure.rs
  src/common/procedure/src/store.rs
Labels: Size: S

#1018 refactor: changes CreateTableRequest::schema to RawSchema
  src/catalog/src/error.rs
  src/catalog/src/remote/manager.rs
  src/catalog/src/system.rs
  src/catalog/tests/remote_catalog_tests.rs
  src/common/grpc-expr/src/alter.rs
  src/common/grpc-expr/src/error.rs
  src/common/substrait/src/df_logical.rs
  src/datanode/src/error.rs
  src/datanode/src/server/grpc.rs
  src/datanode/src/sql/create.rs
  src/datanode/src/tests/test_util.rs
  src/datatypes/src/schema/raw.rs
  src/mito/src/engine.rs
  src/mito/src/error.rs
  src/mito/src/table/test_util.rs
  src/script/src/table.rs
  src/table/src/requests.rs
  src/table/src/test_util/empty_table.rs
  tests-integration/src/test_util.rs
Labels: Size: S

#962 feat: supports passing user params into coprocessor
  src/datanode/src/instance/script.rs
  src/datanode/src/script.rs
  src/frontend/src/instance.rs
  src/script/src/engine.rs
  src/script/src/manager.rs
  src/script/src/python/builtins.rs
  src/script/src/python/builtins/test.rs
  src/script/src/python/coprocessor.rs
  src/script/src/python/coprocessor/compile.rs
  src/script/src/python/coprocessor/parse.rs
  src/script/src/python/engine.rs
  src/script/src/python/error.rs
  src/script/src/python/test.rs
  src/script/src/python/testcases.ron
  src/script/src/python/vector.rs
  src/servers/src/http/script.rs
  src/servers/src/query_handler.rs
  src/servers/tests/http/http_handler_test.rs
  src/servers/tests/mod.rs
Labels: enhancement, doc update required, Size: M

#1025 feat: impl insert data from query
  Cargo.lock
  src/datanode/Cargo.toml
  src/datanode/src/error.rs
  src/datanode/src/instance/sql.rs
  src/datanode/src/sql.rs
  src/datanode/src/sql/insert.rs
  src/datanode/src/tests/instance_test.rs
  src/datanode/src/tests/test_util.rs
  src/datatypes/src/error.rs
  src/datatypes/src/vectors/constant.rs
  src/datatypes/src/vectors/operations.rs
  src/datatypes/src/vectors/operations/cast.rs
  src/frontend/src/error.rs
  src/frontend/src/sql.rs
  src/sql/src/lib.rs
  src/sql/src/statements/insert.rs
Labels: enhancement, doc update required, Size: M

#1000 feat: export the data from a table to parquet files
  src/datanode/src/error.rs
  src/datanode/src/instance/sql.rs
  src/datanode/src/sql.rs
  src/datanode/src/sql/copy_table.rs
  src/frontend/src/instance.rs
  src/query/src/datafusion/planner.rs
  src/sql/src/error.rs
  src/sql/src/parser.rs
  src/sql/src/parsers.rs
  src/sql/src/parsers/copy_parser.rs
  src/sql/src/statements.rs
  src/sql/src/statements/copy.rs
  src/sql/src/statements/statement.rs
  src/table/src/requests.rs
Labels: doc update required, cloud followup required

#1049 feat: Support unary, paren, bool keyword and nonexistent metric/label in PromQL
  src/promql/src/error.rs
  src/promql/src/planner.rs
  src/servers/src/promql.rs
Labels: enhancement

#1075 chore: Rename MetaClientOpts to MetaClientOptions
  Cargo.lock
  config/datanode.example.toml
  config/frontend.example.toml
  src/cmd/src/datanode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/standalone.rs
  src/datanode/Cargo.toml
  src/datanode/src/datanode.rs
  src/datanode/src/instance.rs
  src/frontend/Cargo.toml
  src/frontend/src/error.rs
  src/frontend/src/frontend.rs
  src/frontend/src/instance.rs
  src/meta-client/src/lib.rs
  tests/conf/datanode-test.toml.template
Labels: doc update required, breaking change

#1048 feat: a simple REPL for debugging purpose
  Cargo.lock
  src/cmd/Cargo.toml
  src/cmd/src/bin/greptime.rs
  src/cmd/src/cli.rs
  src/cmd/src/cli/cmd.rs
  src/cmd/src/cli/helper.rs
  src/cmd/src/cli/repl.rs
  src/cmd/src/error.rs
  src/cmd/src/lib.rs
  src/cmd/tests/cli.rs
Labels: documentation, doc update required
