Repository GreptimeTeam/greptimedb, pull requests merged in 2023-04, with the labels that each got.

#1332 feat: support timestamp precision on creating table
  src/common/substrait/src/types.rs
  src/datatypes/src/error.rs
  src/datatypes/src/types/timestamp_type.rs
  src/servers/src/mysql/writer.rs
  src/sql/src/parser.rs
  src/sql/src/statements.rs
  tests/cases/standalone/common/timestamp/timestamp.result
  tests/cases/standalone/common/timestamp/timestamp.sql
Labels: doc update required, Size: S

#1333 fix!: not allowed to create column name same with keyword without quoted
  src/datanode/src/sql/create.rs
  src/frontend/src/tests/promql_test.rs
  src/sql/src/parsers/create_parser.rs
  tests/cases/standalone/common/create/create.result
  tests/cases/standalone/common/create/create.sql
  tests/cases/standalone/order/order_variable_size_payload.result
  tests/cases/standalone/order/order_variable_size_payload.sql
Labels: breaking change

#1352 feat!: parsing local timestamp
  src/common/time/src/datetime.rs
  src/common/time/src/error.rs
  src/common/time/src/timestamp.rs
  src/datatypes/src/timestamp.rs
  src/datatypes/src/value.rs
  src/datatypes/src/vectors/datetime.rs
  src/servers/src/postgres/handler.rs
  src/sql/src/statements.rs
Labels: breaking change

#1339 feat: from/to numpy&collect concat
  src/script/src/lib.rs
  src/script/src/python/engine.rs
  src/script/src/python/ffi_types.rs
  src/script/src/python/ffi_types/copr.rs
  src/script/src/python/ffi_types/pair_tests/sample_testcases.rs
  src/script/src/python/ffi_types/py_recordbatch.rs
  src/script/src/python/pyo3/builtins.rs
  src/script/src/python/pyo3/copr_impl.rs
  src/script/src/python/pyo3/dataframe_impl.rs
  src/script/src/python/pyo3/vector_impl.rs
  src/script/src/python/rspython/copr_impl.rs
  src/script/src/python/rspython/dataframe_impl.rs
Labels: doc update required

#1425 feat: expose output_ordering on scan plan
  src/common/query/src/physical_plan.rs
  src/table/src/table/numbers.rs
  src/table/src/table/scan.rs
  tests/cases/standalone/common/optimizer/order_by.result
  tests/cases/standalone/common/optimizer/order_by.sql
Labels: performance

#1336 feat: show create table
  Cargo.lock
  src/datanode/src/instance/sql.rs
  src/datanode/src/sql/create.rs
  src/datatypes/src/schema.rs
  src/datatypes/src/schema/column_schema.rs
  src/frontend/src/error.rs
  src/frontend/src/instance/distributed.rs
  src/frontend/src/tests/instance_test.rs
  src/partition/src/manager.rs
  src/query/Cargo.toml
  src/query/src/error.rs
  src/query/src/sql.rs
  src/query/src/sql/show.rs
  src/sql/src/error.rs
  src/sql/src/parser.rs
  src/sql/src/statements.rs
  src/sql/src/statements/create.rs
  src/sql/src/statements/show.rs
  src/storage/src/metadata.rs
  src/store-api/src/storage/consts.rs
  src/table/src/requests.rs
  tests/cases/distributed/show/show_create.result
  tests/cases/distributed/show/show_create.sql
  tests/cases/standalone/common/insert/insert.result
  tests/cases/standalone/common/insert/insert.sql
  tests/cases/standalone/common/timestamp/timestamp.result
  tests/cases/standalone/common/timestamp/timestamp.sql
  tests/cases/standalone/order/order_variable_size_payload.result
  tests/cases/standalone/order/order_variable_size_payload.sql
  tests/cases/standalone/show/show_create.result
  tests/cases/standalone/show/show_create.sql
Labels: doc update required

#1441 feat: support "delete" in distributed mode
  Cargo.lock
  src/api/Cargo.toml
  src/client/src/database.rs
  src/client/src/metrics.rs
  src/common/grpc-expr/src/delete.rs
  src/common/grpc-expr/src/error.rs
  src/common/grpc-expr/src/insert.rs
  src/common/grpc-expr/src/lib.rs
  src/datanode/src/error.rs
  src/datanode/src/instance/grpc.rs
  src/frontend/src/error.rs
  src/frontend/src/instance/distributed.rs
  src/frontend/src/instance/distributed/grpc.rs
  src/frontend/src/instance/grpc.rs
  src/frontend/src/table.rs
  src/frontend/src/table/delete.rs
  src/frontend/src/table/insert.rs
  src/frontend/src/table/scan.rs
  src/frontend/src/tests/instance_test.rs
  src/partition/src/columns.rs
  src/partition/src/error.rs
  src/partition/src/manager.rs
  src/partition/src/partition.rs
  src/partition/src/range.rs
  src/partition/src/splitter.rs
  src/servers/tests/mod.rs
  src/table/src/error.rs
  tests/cases/standalone/common/delete/delete.result
  tests/cases/standalone/common/delete/delete.sql
  tests/cases/standalone/delete/delete.result
  tests/cases/standalone/delete/delete.sql
  tests/cases/standalone/delete/delete_invalid.result
  tests/cases/standalone/delete/delete_invalid.sql
Labels: Size: XL

#1480 feat: use server time if it's not specified
  src/common/time/src/util.rs
  src/servers/src/grpc/prom_query_gateway.rs
  src/servers/src/prom.rs
Labels: doc update required
