Repository GreptimeTeam/greptimedb, pull requests merged in 2023-12, with the labels that each got.

#2876 fix: add new column as primary key can't work
  src/sql/src/statements.rs
  tests/cases/standalone/common/alter/add_col.result
Labels: Bug

#2733 feat!: support table ddl for custom storage
  config/datanode.example.toml
  src/client/src/error.rs
  src/client/src/region.rs
  src/cmd/src/datanode.rs
  src/cmd/src/options.rs
  src/cmd/src/standalone.rs
  src/datanode/src/config.rs
  src/datanode/src/datanode.rs
  src/datanode/src/store.rs
  src/sql/src/parsers/create_parser.rs
  src/sql/src/statements/create.rs
  src/table/src/requests.rs
  tests-integration/src/cluster.rs
  tests-integration/src/standalone.rs
  tests-integration/src/test_util.rs
  tests-integration/src/tests/instance_test.rs
  tests-integration/src/tests/test_util.rs
  tests-integration/tests/http.rs
  tests/cases/standalone/common/show/show_create.result
  tests/cases/standalone/common/show/show_create.sql
Labels: Breaking change

#2905 feat!: do not get TZ info from server local env
  src/common/time/src/timestamp.rs
  src/datatypes/src/types/date_type.rs
  src/datatypes/src/types/timestamp_type.rs
  tests/cases/standalone/common/timestamp/timestamp.result
  tests/cases/standalone/common/timestamp/timestamp.sql
Labels: Breaking change

#2940 fix!: remove range calendar as `To` option
  src/query/src/range_select/plan_rewrite.rs
  tests/cases/standalone/common/range/to.result
  tests/cases/standalone/common/range/to.sql
Labels: Breaking change

#2967 ci: add user-doc label checker
  .github/workflows/user-doc-label-checker.yml
Labels: Doc not needed

#2973 refactor: remove unused code for pruning row groups
  src/table/src/predicate.rs
Labels: Doc not needed

#2974 feat: add a default internal schema
  src/catalog/src/memory/manager.rs
  src/common/catalog/src/consts.rs
  src/common/meta/src/key.rs
  tests-integration/src/tests/instance_test.rs
  tests/cases/standalone/common/create/create_database.result
  tests/cases/standalone/common/show/show_databases_tables.result
Labels: cloud followup required, Doc not needed

#2978 feat: update dashboard to v0.4.4
  src/servers/dashboard/VERSION
Labels: Doc not needed

#2970 feat(remote_wal): implement topic allocation
  .github/workflows/develop.yml
  Cargo.lock
  config/metasrv.example.toml
  src/cmd/src/error.rs
  src/cmd/src/standalone.rs
  src/common/meta/Cargo.toml
  src/common/meta/src/error.rs
  src/common/meta/src/wal.rs
  src/common/meta/src/wal/kafka.rs
  src/common/meta/src/wal/kafka/topic_manager.rs
  src/common/meta/src/wal/kafka/topic_selector.rs
  src/common/meta/src/wal/options_allocator.rs
  src/frontend/src/instance/standalone.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/table_meta_alloc.rs
  tests-integration/src/standalone.rs
  tests-integration/tests/main.rs
  tests/conf/datanode-test.toml.template
  tests/conf/standalone-test.toml.template
Labels: Doc not needed

#2959 feat: support fetch ranges in concurrent
  src/mito2/src/sst/parquet/reader.rs
  src/mito2/src/sst/parquet/row_group.rs
Labels: performance, Doc not needed

#2981 chore: move some commonly referenced crates to workspace Cargo.toml
  Cargo.lock
  Cargo.toml
  src/catalog/Cargo.toml
  src/common/config/Cargo.toml
  src/common/decimal/Cargo.toml
  src/common/grpc/Cargo.toml
  src/common/meta/Cargo.toml
  src/common/procedure/Cargo.toml
  src/common/time/Cargo.toml
  src/datanode/Cargo.toml
  src/datatypes/Cargo.toml
  src/file-engine/Cargo.toml
  src/frontend/Cargo.toml
  src/log-store/Cargo.toml
  src/meta-srv/Cargo.toml
  src/mito2/Cargo.toml
  src/operator/Cargo.toml
  src/partition/Cargo.toml
  src/query/Cargo.toml
  src/servers/Cargo.toml
  src/store-api/Cargo.toml
  tests-integration/Cargo.toml
Labels: Doc not needed

#2979 fix: duplicate information_schema
  src/catalog/src/kvbackend/manager.rs
  src/catalog/src/memory/manager.rs
  src/common/meta/src/key.rs
  tests/cases/standalone/common/system/information_schema.result
  tests/cases/standalone/common/system/information_schema.sql
Labels: Doc not needed

#2977 feat: add `skip_wal_replay` to OpenRegion instruction
  src/common/meta/src/instruction.rs
  src/datanode/src/heartbeat/handler.rs
  src/meta-srv/src/procedure/region_failover.rs
  src/meta-srv/src/procedure/region_failover/activate_region.rs
  src/meta-srv/src/procedure/region_migration/open_candidate_region.rs
Labels: Doc not needed

#2990 fix: install nextest bin
  docker/dev-builder/centos/Dockerfile
  docker/dev-builder/ubuntu/Dockerfile
  docker/dev-builder/ubuntu/Dockerfile-18.10
Labels: Doc not needed

#2986 refactor(remote_wal): entry id usage
  src/log-store/src/noop.rs
  src/log-store/src/raft_engine/log_store.rs
  src/mito2/src/region_write_ctx.rs
  src/mito2/src/wal.rs
  src/mito2/src/worker/handle_write.rs
  src/store-api/src/logstore.rs
  src/store-api/src/logstore/entry.rs
  src/store-api/src/logstore/namespace.rs
Labels: Doc not needed

#2987 feat: support querying metric engine from frontend
  src/metric-engine/src/engine.rs
  src/metric-engine/src/engine/alter.rs
  src/metric-engine/src/engine/create.rs
  src/metric-engine/src/engine/open.rs
  src/metric-engine/src/engine/put.rs
  src/metric-engine/src/engine/read.rs
  src/metric-engine/src/engine/region_metadata.rs
  src/metric-engine/src/error.rs
  src/metric-engine/src/metadata_region.rs
  src/metric-engine/src/test_util.rs
  src/store-api/src/metadata.rs
Labels: Doc not needed

#2984 chore: setup kafka standalone in coverage test
  .github/workflows/develop.yml
  src/common/meta/src/wal/kafka/topic_manager.rs
  tests-integration/fixtures/kafka/docker-compose-standalone.yml
Labels: Doc not needed

#2989 refactor: hide `RegionRoute` behind `TableRouteValue`
  Cargo.lock
  src/cmd/src/cli/bench/metadata.rs
  src/cmd/src/cli/upgrade.rs
  src/common/meta/src/ddl.rs
  src/common/meta/src/ddl/alter_table.rs
  src/common/meta/src/ddl/create_table.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/error.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/datanode_table.rs
  src/common/meta/src/key/table_info.rs
  src/common/meta/src/key/table_name.rs
  src/common/meta/src/key/table_region.rs
  src/common/meta/src/key/table_route.rs
  src/frontend/src/instance/standalone.rs
  src/meta-srv/src/handler/region_lease_handler.rs
  src/meta-srv/src/procedure/region_migration/migration_start.rs
  src/meta-srv/src/procedure/region_migration/open_candidate_region.rs
  src/meta-srv/src/procedure/region_migration/test_util.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/downgrade_leader_region.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/rollback_downgraded_region.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/upgrade_candidate_region.rs
  src/meta-srv/src/procedure/tests.rs
  src/meta-srv/src/region/lease_keeper.rs
  src/meta-srv/src/table_meta_alloc.rs
  src/meta-srv/src/test_util.rs
  src/operator/src/tests/partition_manager.rs
Labels: Doc not needed

#2985 feat: export runtime metric to promethues
  Cargo.lock
  src/common/runtime/Cargo.toml
  src/common/runtime/src/runtime.rs
Labels: Doc not needed

#3000 chore: bump version to 0.5.0
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
Labels: Doc not needed

#2996 feat: adopt human-panic crash reports
  Cargo.lock
  Cargo.toml
  src/cmd/Cargo.toml
  src/cmd/src/bin/greptime.rs
Labels: Doc not needed

#2998 chore(ci): auto doc labeler job
  .github/doc-label-config.yml
  .github/pull_request_template.md
  .github/workflows/doc-label.yml
Labels: Doc not needed

#2980 feat: convert `FileMetaData` to `ParquetMetaData`
  src/mito2/src/error.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/helper.rs
  src/mito2/src/sst/parquet/reader.rs
  src/mito2/src/sst/parquet/writer.rs
Labels: Doc not needed

#3002 refactor(remote_wal): add StandaloneWalConfig
  config/datanode.example.toml
  config/metasrv.example.toml
  config/standalone.example.toml
  src/cmd/src/options.rs
  src/cmd/src/standalone.rs
  src/common/config/src/wal.rs
  src/common/config/src/wal/kafka.rs
  src/common/meta/src/wal.rs
  src/common/meta/src/wal/kafka.rs
  src/common/meta/src/wal/kafka/topic_manager.rs
  src/common/meta/src/wal/kafka/topic_selector.rs
  src/log-store/src/kafka/client_manager.rs
  src/log-store/src/kafka/log_store.rs
  tests-integration/src/standalone.rs
  tests-integration/tests/http.rs
Labels: Doc update required

#3005 fix: update doc label on pr edit
  .github/workflows/doc-label.yml
Labels: Doc not needed

#3003 feat: make logging to stdout configurable
  config/standalone.example.toml
  src/common/telemetry/src/logging.rs
  src/operator/src/error.rs
  src/operator/src/statement/ddl.rs
  src/servers/src/error.rs
  tests-integration/tests/http.rs
  tests/cases/standalone/common/create/create.result
  tests/runner/src/env.rs
Labels: Documentation, Doc update required

#3008 fix: revert unfinished route table change
  Cargo.lock
  src/cmd/src/cli/bench/metadata.rs
  src/cmd/src/cli/upgrade.rs
  src/common/meta/src/ddl.rs
  src/common/meta/src/ddl/alter_table.rs
  src/common/meta/src/ddl/create_table.rs
  src/common/meta/src/ddl/drop_table.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/error.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/datanode_table.rs
  src/common/meta/src/key/table_info.rs
  src/common/meta/src/key/table_name.rs
  src/common/meta/src/key/table_region.rs
  src/common/meta/src/key/table_route.rs
  src/frontend/src/instance/standalone.rs
  src/meta-srv/src/handler/region_lease_handler.rs
  src/meta-srv/src/procedure/region_failover/deactivate_region.rs
  src/meta-srv/src/procedure/region_failover/update_metadata.rs
  src/meta-srv/src/procedure/region_migration/migration_start.rs
  src/meta-srv/src/procedure/region_migration/open_candidate_region.rs
  src/meta-srv/src/procedure/region_migration/test_util.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/downgrade_leader_region.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/rollback_downgraded_region.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/upgrade_candidate_region.rs
  src/meta-srv/src/procedure/tests.rs
  src/meta-srv/src/region/lease_keeper.rs
  src/meta-srv/src/selector/load_based.rs
  src/meta-srv/src/table_meta_alloc.rs
  src/meta-srv/src/test_util.rs
  src/operator/src/tests/partition_manager.rs
  src/partition/src/manager.rs
  tests-integration/src/grpc.rs
  tests-integration/src/instance.rs
Labels: Doc not needed

#3012 chore: try to fix size labeller
  .github/workflows/size-label.yml
Labels: Doc not needed

#2983 docs: RFC of enclosing column id
  docs/rfcs/2023-12-22-enclose-column-id.md
Labels: Size: S, Doc not needed

#3010 feat: upgrade pgwire to 0.18 for corrected statement caching
  Cargo.lock
  src/servers/Cargo.toml
  src/servers/src/postgres.rs
  src/servers/src/postgres/handler.rs
Labels: Size: S, Doc not needed

#2992 feat: support set timezone in db
  Cargo.lock
  config/frontend.example.toml
  config/standalone.example.toml
  src/cmd/Cargo.toml
  src/cmd/src/error.rs
  src/cmd/src/frontend.rs
  src/cmd/src/standalone.rs
  src/common/time/Cargo.toml
  src/common/time/src/datetime.rs
  src/common/time/src/error.rs
  src/common/time/src/lib.rs
  src/common/time/src/time.rs
  src/common/time/src/timestamp.rs
  src/common/time/src/timezone.rs
  src/common/time/src/util.rs
  src/datatypes/src/time.rs
  src/datatypes/src/timestamp.rs
  src/datatypes/src/types/cast.rs
  src/datatypes/src/types/date_type.rs
  src/datatypes/src/types/datetime_type.rs
  src/datatypes/src/types/timestamp_type.rs
  src/datatypes/src/value.rs
  src/datatypes/src/vectors/datetime.rs
  src/frontend/src/frontend.rs
  src/servers/src/mysql/federated.rs
  src/servers/src/mysql/writer.rs
  src/session/src/context.rs
  src/session/src/lib.rs
  src/sql/src/statements.rs
  tests-integration/tests/sql.rs
Labels: Doc update required

#3019 fix: decimal128 ScalarValue to Value
  src/datatypes/src/value.rs
Labels: Size: S, Doc not needed

#3015 feat: implement param parsing of `SubmitRegionMigrationTaskHandler`
  src/meta-srv/src/handler/keep_lease_handler.rs
  src/meta-srv/src/service/admin.rs
  src/meta-srv/src/service/admin/region_migration.rs
Labels: Size: M, Doc not needed

#3014 feat: implement region migration manager
  src/common/meta/src/key/table_route.rs
  src/meta-srv/src/error.rs
  src/meta-srv/src/procedure/region_migration.rs
  src/meta-srv/src/procedure/region_migration/manager.rs
  src/meta-srv/src/procedure/region_migration/test_util.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/downgrade_leader_region.rs
Labels: Size: M, Doc not needed

#3018 refactor: use string type instead of Option type for '--store-key-prefix'
  config/metasrv.example.toml
  src/cmd/src/metasrv.rs
  src/meta-srv/src/bootstrap.rs
  src/meta-srv/src/election/etcd.rs
  src/meta-srv/src/lock/etcd.rs
  src/meta-srv/src/metasrv.rs
Labels: Doc update required, Size: S

#3020 chore: do not send message for xlarge PR
  .github/workflows/size-label.yml
Labels: Doc not needed, size/xs

#3013 feat: implement handle upgrade region instruction
  src/common/meta/src/instruction.rs
  src/datanode/src/error.rs
  src/datanode/src/heartbeat.rs
  src/datanode/src/heartbeat/handler.rs
  src/datanode/src/heartbeat/handler/close_region.rs
  src/datanode/src/heartbeat/handler/downgrade_region.rs
  src/datanode/src/heartbeat/handler/open_region.rs
  src/datanode/src/heartbeat/handler/upgrade_region.rs
  src/datanode/src/heartbeat/task_tracker.rs
  src/datanode/src/region_server.rs
  src/datanode/src/tests.rs
  src/meta-srv/src/procedure/region_migration/upgrade_candidate_region.rs
  src/store-api/src/region_engine.rs
Labels: Size: XL, Doc not needed

#3017 feat: adds character_sets, collations and events etc.
  src/catalog/src/information_schema.rs
  src/catalog/src/information_schema/memory_table/tables.rs
  src/catalog/src/information_schema/table_names.rs
  src/common/catalog/src/consts.rs
  tests/cases/standalone/common/show/show_databases_tables.result
  tests/cases/standalone/common/system/information_schema.result
  tests/cases/standalone/common/system/information_schema.sql
Labels: Size: M, User-Experience, Doc not needed

#3026 chore: change all reference from develop to main
  .github/workflows/apidoc.yml
  .github/workflows/develop.yml
  .github/workflows/docs.yml
  .github/workflows/license.yaml
  CONTRIBUTING.md
  README.md
  src/client/src/stream_insert.rs
  src/index/src/inverted_index/format.rs
Labels: Size: S, Doc not needed

#3028 chore: Update CI badge in README.md
  README.md
Labels: Doc not needed, size/xs

#3024 feat: Implement OR for PromQL
  Cargo.lock
  src/promql/Cargo.toml
  src/promql/src/extension_plan.rs
  src/promql/src/extension_plan/instant_manipulate.rs
  src/promql/src/extension_plan/planner.rs
  src/promql/src/extension_plan/test_util.rs
  src/promql/src/extension_plan/union_distinct_on.rs
  src/promql/src/lib.rs
  src/promql/src/planner.rs
  tests/cases/standalone/common/promql/set_operation.result
  tests/cases/standalone/common/promql/set_operation.sql
Labels: Size: XL, Doc not needed

#3033 feat: update dashboard to v0.4.5
  src/servers/dashboard/VERSION
Labels: size/xs

#3038 fix(wal): replay memtable should from `flushed_entry_id + 1`
  src/mito2/src/region/opener.rs
Labels: Size: S, Doc not needed

#3032 feat: expose region migration http endpoint
  src/meta-srv/src/cluster.rs
  src/meta-srv/src/error.rs
  src/meta-srv/src/handler.rs
  src/meta-srv/src/lease.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/procedure/region_migration.rs
  src/meta-srv/src/procedure/region_migration/manager.rs
  src/meta-srv/src/procedure/region_migration/test_util.rs
  src/meta-srv/src/service/admin.rs
  src/meta-srv/src/service/admin/region_migration.rs
  src/meta-srv/src/service/heartbeat.rs
Labels: Doc update required, Size: M

#3040 feat(remote_wal): append a noop record after kafka topic initialization
  src/common/meta/src/error.rs
  src/common/meta/src/wal/kafka/topic_manager.rs
  src/log-store/src/kafka/log_store.rs
Labels: Size: S, Doc not needed

#3027 test(remote_wal): add sqlness with kafka wal
  .github/workflows/develop.yml
  Cargo.lock
  src/common/meta/src/wal/kafka.rs
  src/log-store/src/kafka/log_store.rs
  src/meta-srv/src/metasrv.rs
  tests-integration/fixtures/kafka/README.md
  tests/cases/standalone/common/types/string/scan_big_varchar.result
  tests/cases/standalone/common/types/string/scan_big_varchar.sql
  tests/conf/datanode-test.toml.template
  tests/conf/metasrv-test.toml.template
  tests/conf/standalone-test.toml.template
  tests/runner/Cargo.toml
  tests/runner/src/env.rs
  tests/runner/src/main.rs
Labels: Doc update required, Size: M

#3035 refactor: merge standalone and metasrv table metadata allocators
  src/cmd/src/standalone.rs
  src/common/meta/src/ddl.rs
  src/common/meta/src/ddl/table_meta.rs
  src/common/meta/src/ddl_manager.rs
  src/frontend/src/instance/standalone.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/procedure/region_failover.rs
  src/meta-srv/src/procedure/region_failover/failover_start.rs
  src/meta-srv/src/selector/common.rs
  src/meta-srv/src/selector/lease_based.rs
  src/meta-srv/src/selector/load_based.rs
  src/meta-srv/src/selector/weight_compute.rs
  src/meta-srv/src/table_meta_alloc.rs
  tests-integration/src/standalone.rs
  tests-integration/tests/region_failover.rs
Labels: Doc update required, Size: L

#3051 feat: adds information_schema.schemata
  src/catalog/src/information_schema.rs
  src/catalog/src/information_schema/columns.rs
  src/catalog/src/information_schema/schemata.rs
  src/catalog/src/information_schema/table_names.rs
  src/common/catalog/src/consts.rs
  src/datatypes/src/schema/column_schema.rs
  tests-integration/src/tests/instance_test.rs
  tests/cases/standalone/common/show/show_databases_tables.result
  tests/cases/standalone/common/system/information_schema.result
  tests/cases/standalone/common/system/information_schema.sql
Labels: Size: L, Doc not needed

#3021 chore: attempt to add doc issue in label task
  .github/workflows/doc-label.yml
Labels: Doc update required, Size: S

#3056 ci: fix duplicatd doc issue
  .github/workflows/doc-label.yml
Labels: Doc not needed, size/xs

#3031 feat(TableRouteValue): add panic notes and type checks
  src/common/meta/src/ddl/alter_table.rs
  src/common/meta/src/ddl/create_table.rs
  src/common/meta/src/ddl/drop_table.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/error.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/table_route.rs
  src/meta-srv/src/error.rs
  src/meta-srv/src/procedure/region_failover/deactivate_region.rs
  src/meta-srv/src/procedure/region_failover/update_metadata.rs
  src/meta-srv/src/procedure/region_migration.rs
  src/meta-srv/src/procedure/region_migration/manager.rs
  src/meta-srv/src/procedure/region_migration/migration_start.rs
  src/meta-srv/src/procedure/region_migration/test_util.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/downgrade_leader_region.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/rollback_downgraded_region.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/upgrade_candidate_region.rs
  src/meta-srv/src/region/lease_keeper.rs
  src/meta-srv/src/selector/load_based.rs
  src/partition/src/error.rs
  src/partition/src/manager.rs
  tests-integration/src/grpc.rs
  tests-integration/src/instance.rs
Labels: Size: M, Doc not needed

#3052 fix(remote_wal): some known issues
  src/log-store/src/kafka/client_manager.rs
  src/log-store/src/kafka/log_store.rs
Labels: Size: S, Doc not needed

#3054 feat: add information_schema.files
  src/catalog/src/information_schema.rs
  src/catalog/src/information_schema/memory_table/tables.rs
  src/catalog/src/information_schema/table_names.rs
  src/common/catalog/src/consts.rs
  tests/cases/standalone/common/show/show_databases_tables.result
  tests/cases/standalone/common/system/information_schema.result
Labels: Size: M, Doc not needed

#3057 feat: add information_schema.key_column_usage
  src/catalog/src/information_schema.rs
  src/catalog/src/information_schema/key_column_usage.rs
  src/catalog/src/information_schema/table_names.rs
  src/common/catalog/src/consts.rs
  tests/cases/standalone/common/show/show_databases_tables.result
  tests/cases/standalone/common/system/information_schema.result
  tests/cases/standalone/common/system/information_schema.sql
Labels: Size: L, Doc not needed
