Repository GreptimeTeam/greptimedb, pull requests merged in 2023-03, with the labels that each got.

#1093 ci: generate apidocs when pushing to default branch
  .github/workflows/apidoc.yml
  .github/workflows/develop.yml
  .github/workflows/release.yml
  rust-toolchain.toml
  src/catalog/src/system.rs
  src/common/recordbatch/src/adapter.rs
  src/common/recordbatch/src/lib.rs
  src/common/recordbatch/src/recordbatch.rs
  src/datatypes/src/schema/column_schema.rs
  src/datatypes/src/vectors/binary.rs
  src/datatypes/src/vectors/boolean.rs
  src/datatypes/src/vectors/date.rs
  src/datatypes/src/vectors/datetime.rs
  src/datatypes/src/vectors/eq.rs
  src/datatypes/src/vectors/list.rs
  src/datatypes/src/vectors/null.rs
  src/datatypes/src/vectors/operations/cast.rs
  src/datatypes/src/vectors/operations/filter.rs
  src/datatypes/src/vectors/operations/find_unique.rs
  src/datatypes/src/vectors/primitive.rs
  src/datatypes/src/vectors/string.rs
  src/query/src/datafusion.rs
  src/query/src/sql.rs
  src/query/src/tests/percentile_test.rs
  src/query/src/tests/query_engine_test.rs
  src/script/src/table.rs
  src/servers/src/grpc/flight/stream.rs
  src/storage/benches/wal/util/mod.rs
  src/storage/src/memtable/tests.rs
  src/storage/src/schema.rs
  src/storage/src/sst/parquet.rs
  src/storage/src/write_batch.rs
  src/storage/src/write_batch/codec.rs
  src/storage/src/write_batch/compat.rs
  src/table/src/table/scan.rs
Labels: cloud followup required

#1106 test: fix datanode::test_read_from_config_file
  Cargo.lock
  Cargo.toml
  src/cmd/Cargo.toml
  src/cmd/src/datanode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/metasrv.rs
Labels: breaking change

#1109 ci: update breaking-change labeler
  .github/pr-title-breaking-change-label-config.json
Labels: breaking change

#1111 feat: specify prom server start addr
  config/frontend.example.toml
  config/standalone.example.toml
  src/cmd/src/frontend.rs
  src/cmd/src/standalone.rs
  src/datanode/src/instance/sql.rs
  src/frontend/src/frontend.rs
  src/frontend/src/instance.rs
  src/frontend/src/lib.rs
  src/frontend/src/prom.rs
  src/frontend/src/server.rs
  src/servers/src/lib.rs
  src/servers/src/prom.rs
  src/servers/src/prometheus.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/http.rs
Labels: doc update required

#1064 feat: implement Copy From
  Cargo.lock
  src/datanode/Cargo.toml
  src/datanode/src/error.rs
  src/datanode/src/instance/sql.rs
  src/datanode/src/sql.rs
  src/datanode/src/sql/copy_table_from.rs
  src/datanode/src/tests/instance_test.rs
  src/table/src/requests.rs
Labels: Size: XL

#1135 refactor: remove the SQL execution interfaces in Datanode
  Cargo.lock
  config/datanode.example.toml
  src/cmd/src/cli/repl.rs
  src/cmd/tests/cli.rs
  src/datanode/src/error.rs
  src/datanode/src/instance.rs
  src/datanode/src/instance/grpc.rs
  src/datanode/src/instance/sql.rs
  src/datanode/src/lib.rs
  src/datanode/src/mock.rs
  src/datanode/src/server.rs
  src/datanode/src/sql.rs
  src/datanode/src/sql/insert.rs
  src/datanode/src/tests.rs
  src/datanode/src/tests/instance_test.rs
  src/datanode/src/tests/promql_test.rs
  src/datanode/src/tests/test_util.rs
  src/frontend/Cargo.toml
  src/frontend/src/error.rs
  src/frontend/src/instance.rs
  src/frontend/src/instance/distributed.rs
  src/frontend/src/instance/grpc.rs
  src/frontend/src/instance/standalone.rs
  src/frontend/src/tests.rs
  src/query/src/datafusion.rs
  src/query/src/datafusion/planner.rs
  src/query/src/planner.rs
  src/query/src/query_engine.rs
  src/query/src/sql.rs
  src/query/src/tests.rs
  src/query/src/tests/argmax_test.rs
  src/query/src/tests/argmin_test.rs
  src/query/src/tests/function.rs
  src/query/src/tests/mean_test.rs
  src/query/src/tests/my_sum_udaf_example.rs
  src/query/src/tests/percentile_test.rs
  src/query/src/tests/polyval_test.rs
  src/query/src/tests/query_engine_test.rs
  src/query/src/tests/scipy_stats_norm_cdf_test.rs
  src/query/src/tests/scipy_stats_norm_pdf.rs
  src/query/src/tests/time_range_filter_test.rs
  src/script/src/python/engine.rs
  src/script/src/python/ffi_types/copr.rs
  src/script/src/table.rs
  src/servers/src/http.rs
  src/servers/src/query_handler/sql.rs
  src/servers/tests/http/influxdb_test.rs
  src/servers/tests/http/opentsdb_test.rs
  src/servers/tests/http/prometheus_test.rs
  src/servers/tests/mod.rs
  tests-integration/src/test_util.rs
Labels: doc update required, Size: L

#1173 chore(datanode): derive serde default for Wal/CompactionConfig
  src/datanode/src/datanode.rs
Labels: Size: S

#1188 feat: wait flush until the flush is done
  src/datanode/src/server/grpc.rs
  src/datanode/src/sql/flush_table.rs
  src/mito/src/engine/tests.rs
  src/mito/src/table.rs
  src/mito/src/table/test_util/mock_engine.rs
  src/storage/src/region.rs
  src/storage/src/region/tests/flush.rs
  src/storage/src/region/writer.rs
  src/store-api/src/storage.rs
  src/store-api/src/storage/region.rs
  src/table/src/requests.rs
  src/table/src/table.rs
Labels: Size: S

#1196 feat: add GRPC unary call service to our GreptimeDB
  Cargo.lock
  src/api/Cargo.toml
  src/client/src/client.rs
  src/client/src/database.rs
  src/client/src/error.rs
  src/frontend/src/table/insert.rs
  src/frontend/src/table/scan.rs
  src/frontend/src/tests.rs
  src/servers/src/grpc.rs
  src/servers/src/grpc/database.rs
  src/servers/src/grpc/flight.rs
  src/servers/src/grpc/handler.rs
  src/servers/tests/grpc/mod.rs
  tests-integration/tests/grpc.rs
Labels: doc update required

#1209 fix: losing region numbers after altering table
  src/mito/src/engine/tests.rs
  src/table/src/metadata.rs
Labels: bug

#1268 feat!: improve region manifest service
  Cargo.lock
  config/datanode.example.toml
  config/standalone.example.toml
  src/cmd/src/datanode.rs
  src/cmd/src/standalone.rs
  src/common/runtime/Cargo.toml
  src/common/runtime/src/error.rs
  src/common/runtime/src/lib.rs
  src/common/runtime/src/repeated_task.rs
  src/datanode/src/datanode.rs
  src/datanode/src/error.rs
  src/datanode/src/instance.rs
  src/datanode/src/tests/test_util.rs
  src/frontend/src/tests.rs
  src/log-store/src/error.rs
  src/log-store/src/raft_engine/log_store.rs
  src/mito/src/manifest.rs
  src/mito/src/table.rs
  src/object-store/src/lib.rs
  src/storage/src/config.rs
  src/storage/src/engine.rs
  src/storage/src/error.rs
  src/storage/src/manifest/impl_.rs
  src/storage/src/manifest/region.rs
  src/storage/src/manifest/storage.rs
  src/storage/src/region.rs
  src/storage/src/region/tests.rs
  src/storage/src/test_util/config_util.rs
  src/store-api/src/manifest.rs
  src/store-api/src/manifest/storage.rs
  tests-integration/src/test_util.rs
Labels: breaking change
