Repository GreptimeTeam/greptimedb, pull requests merged in 2023-05, with the labels that each got.

#1524 chore(toolchain): update rust-toolchain to 2023-05-03
  .cargo/config.toml
  .github/workflows/apidoc.yml
  .github/workflows/develop.yml
  .github/workflows/release.yml
  rust-toolchain.toml
  src/common/recordbatch/src/util.rs
  src/servers/src/auth/user_provider.rs
  src/store-api/src/manifest/action.rs
  src/table-procedure/src/lib.rs
Labels: cloud followup required

#1523 chore: unify code styling
  Cargo.lock
  src/common/datasource/src/file_format.rs
  src/common/datasource/src/file_format/csv.rs
  src/common/datasource/src/object_store/s3.rs
  src/frontend/src/statement.rs
  src/query/src/sql/show.rs
  src/sql/Cargo.toml
  src/sql/src/parsers/copy_parser.rs
  src/sql/src/parsers/create_parser.rs
  src/sql/src/statements/copy.rs
  src/sql/src/statements/create.rs
  src/table/src/requests.rs
Labels: cloud followup required

#1535 refactor: support layered configuration
  Cargo.lock
  src/cmd/Cargo.toml
  src/cmd/src/datanode.rs
  src/cmd/src/error.rs
  src/cmd/src/frontend.rs
  src/cmd/src/lib.rs
  src/cmd/src/metasrv.rs
  src/cmd/src/options.rs
  src/cmd/src/standalone.rs
  src/cmd/src/toml_loader.rs
Labels: doc update required

#1555 feat: support frontend-meta heartbeat
  Cargo.lock
  src/api/Cargo.toml
  src/datanode/src/heartbeat.rs
  src/datanode/src/instance.rs
  src/datanode/src/mock.rs
  src/frontend/src/error.rs
  src/frontend/src/heartbeat.rs
  src/frontend/src/instance.rs
  src/frontend/src/lib.rs
  src/meta-client/examples/lock.rs
  src/meta-client/examples/meta_client.rs
  src/meta-client/src/client.rs
  src/meta-client/src/client/heartbeat.rs
  src/meta-client/src/client/lock.rs
  src/meta-client/src/client/router.rs
  src/meta-client/src/client/store.rs
  src/meta-client/src/mocks.rs
  src/meta-srv/Cargo.toml
  src/meta-srv/src/error.rs
  src/meta-srv/src/handler.rs
  src/meta-srv/src/handler/response_header_handler.rs
  src/meta-srv/src/service/heartbeat.rs
  tests-integration/src/tests.rs
Labels: doc update required, cloud followup required

#1582 fix: uses nextest in the Release CI
  .github/workflows/release.yml
  Makefile
Labels: doc update required
