Repository GreptimeTeam/greptimedb, pull requests merged in 2023-10, with the labels that each got.

#2538 refactor!: compare with origin bytes during the transactions
  Cargo.lock
  src/catalog/src/kvbackend/manager.rs
  src/common/meta/Cargo.toml
  src/common/meta/src/ddl/alter_table.rs
  src/common/meta/src/ddl/drop_table.rs
  src/common/meta/src/ddl/truncate_table.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/table_info.rs
  src/common/meta/src/key/table_route.rs
  src/meta-srv/src/procedure/region_failover/activate_region.rs
  src/meta-srv/src/procedure/region_failover/update_metadata.rs
  src/meta-srv/src/procedure/tests.rs
  src/meta-srv/src/table_routes.rs
  src/partition/src/manager.rs
  tests-integration/src/grpc.rs
  tests-integration/src/instance.rs
Labels: breaking change

#2585 feat!: change config name from kv_store to metadata_store
  config/standalone.example.toml
  src/cmd/src/options.rs
  src/cmd/src/standalone.rs
Labels: breaking change

#2607 Revert "ci: downgrade builder version: ubuntu 22.04 -> ubuntu 20.04 f…
  docker/buildx/ubuntu/Dockerfile
  docker/dev-builder/ubuntu/Dockerfile
Labels: Invalid PR Title

#2606 feat: add walconfig dir back
  config/standalone.example.toml
  src/cmd/src/datanode.rs
  src/cmd/src/options.rs
  src/cmd/src/standalone.rs
  src/common/config/src/lib.rs
  src/datanode/src/datanode.rs
Labels: doc update required

#2609 fix!: align frontend cmd name to rpc_*
  src/cmd/src/frontend.rs
Labels: doc update required, breaking change

#2642 fix: predicate shall use real schema to create physical exprs
  src/mito2/src/engine/prune_test.rs
  src/mito2/src/memtable/time_series.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/sst/parquet/reader.rs
  src/storage/src/chunk.rs
  src/storage/src/sst/parquet.rs
  src/storage/src/sst/pruning.rs
  src/table/src/predicate.rs
  tests/cases/standalone/common/select/prune.result
  tests/cases/standalone/common/select/prune.sql
Labels: bug, storage, priority:high
