Repository GreptimeTeam/greptimedb, pull requests merged in 2024-07, with the labels that each got.

#4228 feat: add build info for flow heartbeat task
  Cargo.lock
  src/datanode/src/datanode.rs
  src/datanode/src/heartbeat.rs
  src/datanode/src/region_server.rs
  src/flow/Cargo.toml
  src/flow/src/heartbeat.rs
  src/frontend/src/heartbeat.rs
Labels: docs-not-required

#4223 feat: register & deregister region failure detectors actively
  config/config.md
  config/metasrv.example.toml
  src/cmd/src/standalone.rs
  src/common/meta/src/ddl.rs
  src/common/meta/src/ddl/create_table.rs
  src/common/meta/src/ddl/drop_database.rs
  src/common/meta/src/ddl/drop_database/cursor.rs
  src/common/meta/src/ddl/drop_database/executor.rs
  src/common/meta/src/ddl/drop_database/metadata.rs
  src/common/meta/src/ddl/drop_database/start.rs
  src/common/meta/src/ddl/drop_table.rs
  src/common/meta/src/ddl/drop_table/executor.rs
  src/common/meta/src/ddl/utils.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/test_util.rs
  src/meta-srv/src/failure_detector.rs
  src/meta-srv/src/handler/failure_handler.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/procedure/region_migration.rs
  src/meta-srv/src/procedure/region_migration/test_util.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/rollback_downgraded_region.rs
  src/meta-srv/src/procedure/utils.rs
  src/meta-srv/src/region/failure_detector.rs
  src/meta-srv/src/region/supervisor.rs
  tests-fuzz/targets/failover/fuzz_failover_mito_regions.rs
  tests-integration/src/standalone.rs
Labels: docs-not-required

#4212 refactor: expose `DatanodeBuilder::build_object_store_manager()` and `MitoConfig::sanitize()`
  src/datanode/src/datanode.rs
  src/mito2/src/config.rs
Labels: docs-not-required

#4236 feat: forgot collect flownode clusterinfo handler
  src/meta-srv/src/handler.rs
  src/meta-srv/src/handler/collect_stats_handler.rs
  src/meta-srv/src/handler/extract_stat_handler.rs
  src/meta-srv/src/handler/persist_stats_handler.rs
  src/meta-srv/src/metasrv/builder.rs
Labels: docs-not-required

#4222 feat: basic implement of `matches` fn
  src/common/function/src/scalars.rs
  src/common/function/src/scalars/matches.rs
  typos.toml
Labels: docs-not-required

#4226 feat: flow cli for distributed
  Cargo.lock
  src/cmd/src/bin/greptime.rs
  src/cmd/src/error.rs
  src/cmd/src/flownode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/lib.rs
  src/cmd/src/standalone.rs
  src/flow/Cargo.toml
  src/flow/src/adapter.rs
  src/flow/src/adapter/flownode_impl.rs
  src/flow/src/adapter/node_context.rs
  src/flow/src/adapter/table_source.rs
  src/flow/src/adapter/util.rs
  src/flow/src/adapter/worker.rs
  src/flow/src/compute/render.rs
  src/flow/src/compute/render/map.rs
  src/flow/src/compute/render/reduce.rs
  src/flow/src/compute/render/src_sink.rs
  src/flow/src/error.rs
  src/flow/src/expr/func.rs
  src/flow/src/expr/linear.rs
  src/flow/src/expr/relation/func.rs
  src/flow/src/expr/scalar.rs
  src/flow/src/heartbeat.rs
  src/flow/src/lib.rs
  src/flow/src/plan.rs
  src/flow/src/repr/relation.rs
  src/flow/src/server.rs
  src/flow/src/transform.rs
  src/flow/src/transform/aggr.rs
  src/flow/src/transform/expr.rs
  src/flow/src/transform/literal.rs
  src/flow/src/transform/plan.rs
  src/meta-client/src/client.rs
  src/meta-srv/src/cache_invalidator.rs
  src/meta-srv/src/service/mailbox.rs
  tests-integration/src/standalone.rs
Labels: breaking-change, docs-not-required

#4211 feat(puffin): implement MokaCacheManager
  Cargo.lock
  src/puffin/Cargo.toml
  src/puffin/src/error.rs
  src/puffin/src/puffin_manager.rs
  src/puffin/src/puffin_manager/cache_manager.rs
  src/puffin/src/puffin_manager/cache_manager/moka_cache_manager.rs
  src/puffin/src/puffin_manager/cached_puffin_manager/reader.rs
  src/puffin/src/puffin_manager/cached_puffin_manager/writer.rs
Labels: docs-not-required

#4238 refactor: use ObjectStoreManagerRef type in open_compaction_region() and add related unit test
  src/mito2/src/compaction/compactor.rs
  src/mito2/src/engine/open_test.rs
Labels: docs-not-required

#4224 build(deps): Upgrade OpenDAL to 0.47
  Cargo.lock
  src/common/datasource/src/file_format.rs
  src/common/datasource/src/file_format/csv.rs
  src/common/datasource/src/file_format/json.rs
  src/common/datasource/src/file_format/parquet.rs
  src/datanode/src/store.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/sst/index/applier.rs
  src/mito2/src/sst/index/store.rs
  src/object-store/Cargo.toml
  src/object-store/src/layers/lru_cache.rs
  src/object-store/src/layers/lru_cache/read_cache.rs
  src/object-store/src/layers/prometheus.rs
  src/object-store/tests/object_store_test.rs
  src/operator/src/statement/copy_table_from.rs
Labels: docs-not-required

#4225 refactor: add interceptor after Influxdb lines are converted to grpc row insert
  src/cmd/src/frontend.rs
  src/cmd/src/standalone.rs
  src/frontend/src/instance.rs
  src/frontend/src/instance/builder.rs
  src/frontend/src/instance/influxdb.rs
  src/servers/src/influxdb.rs
  src/servers/src/interceptor.rs
  src/servers/src/row_writer.rs
  tests-integration/src/cluster.rs
  tests-integration/src/influxdb.rs
  tests-integration/src/standalone.rs
  tests-integration/src/tests.rs
  tests-integration/src/tests/test_util.rs
Labels: docs-not-required

#4241 chore: add AUTHOR.md file
  AUTHOR.md
  CONTRIBUTING.md
  README.md
Labels: docs-not-required

#4240 feat(puffin): complete dir support
  src/mito2/src/sst/index/applier.rs
  src/mito2/src/sst/index/creator.rs
  src/puffin/src/blob_metadata.rs
  src/puffin/src/file_format/reader.rs
  src/puffin/src/file_format/reader/file.rs
  src/puffin/src/file_format/writer.rs
  src/puffin/src/file_format/writer/file.rs
  src/puffin/src/puffin_manager.rs
  src/puffin/src/puffin_manager/cached_puffin_manager.rs
  src/puffin/src/puffin_manager/fs_puffin_manager.rs
  src/puffin/src/puffin_manager/fs_puffin_manager/dir_meta.rs
  src/puffin/src/puffin_manager/fs_puffin_manager/reader.rs
  src/puffin/src/puffin_manager/fs_puffin_manager/writer.rs
  src/puffin/src/puffin_manager/stager.rs
  src/puffin/src/puffin_manager/stager/bounded_stager.rs
  src/puffin/src/puffin_manager/tests.rs
  src/puffin/src/tests.rs
Labels: docs-not-required

#4181 feat: introduce the interface of `RemoteJobScheduler`
  src/datanode/src/datanode.rs
  src/mito2/src/compaction.rs
  src/mito2/src/engine.rs
  src/mito2/src/error.rs
  src/mito2/src/lib.rs
  src/mito2/src/region/options.rs
  src/mito2/src/request.rs
  src/mito2/src/schedule.rs
  src/mito2/src/schedule/remote_job_scheduler.rs
  src/mito2/src/test_util.rs
  src/mito2/src/test_util/scheduler_util.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_compaction.rs
  src/mito2/src/worker/handle_flush.rs
  src/store-api/src/mito_engine_options.rs
Labels: docs-not-required

#4248 ci: update centos yum source and specify cargo-binstall version
  docker/ci/centos/Dockerfile
  docker/dev-builder/centos/Dockerfile
  docker/dev-builder/ubuntu/Dockerfile
  docker/dev-builder/ubuntu/Dockerfile-18.10
Labels: docs-not-required

#4251 refactor: add `RemoteCompaction` error
  src/mito2/src/error.rs
  src/mito2/src/schedule/remote_job_scheduler.rs
Labels: docs-not-required

#4243 chore: reduce insertion size of fuzz test
  .env.example
  tests-fuzz/src/utils.rs
  tests-fuzz/targets/failover/fuzz_failover_mito_regions.rs
  tests-fuzz/targets/fuzz_alter_logical_table.rs
  tests-fuzz/targets/fuzz_alter_table.rs
  tests-fuzz/targets/fuzz_create_table.rs
  tests-fuzz/targets/fuzz_insert.rs
  tests-fuzz/targets/fuzz_insert_logical_table.rs
  tests-fuzz/targets/unstable/fuzz_create_table_standalone.rs
Labels: docs-not-required

#4218 feat: dbeaver mysql compatibility, use statement and information_schema.tables
  src/catalog/src/information_schema/tables.rs
  src/catalog/src/table_source.rs
  src/common/function/src/system/database.rs
  src/frontend/src/instance.rs
  src/frontend/src/instance/prom_store.rs
  src/frontend/src/script.rs
  src/operator/src/delete.rs
  src/operator/src/expr_factory.rs
  src/operator/src/insert.rs
  src/operator/src/req_convert/delete/row_to_region.rs
  src/operator/src/req_convert/insert/stmt_to_region.rs
  src/operator/src/statement.rs
  src/pipeline/src/manager/pipeline_operator.rs
  src/query/src/datafusion.rs
  src/query/src/sql.rs
  src/servers/src/grpc/greptime_handler.rs
  src/servers/src/http/handler.rs
  src/servers/src/http/prometheus.rs
  src/servers/src/mysql/federated.rs
  src/servers/src/mysql/handler.rs
  src/servers/tests/http/influxdb_test.rs
  src/servers/tests/http/prom_store_test.rs
  src/session/src/context.rs
  src/session/src/lib.rs
  src/sql/src/parser.rs
  src/sql/src/statements/statement.rs
  src/table/src/requests.rs
  tests-integration/src/tests/instance_test.rs
  tests/cases/standalone/common/system/information_schema.result
  tests/cases/standalone/common/system/information_schema.sql
  tests/cases/standalone/common/view/create.result
  tests/cases/standalone/common/view/create.sql
Labels: docs-not-required

#4233 fix!: forbid to change information_schema
  src/common/catalog/src/consts.rs
  src/operator/src/error.rs
  src/operator/src/req_convert/insert/stmt_to_region.rs
  src/operator/src/statement/ddl.rs
  src/query/src/datafusion.rs
  src/query/src/error.rs
  tests/cases/standalone/common/information_schema/region_peers.result
  tests/cases/standalone/common/information_schema/region_peers.sql
  tests/cases/standalone/common/information_schema/table_constraints.result
  tests/cases/standalone/common/information_schema/table_constraints.sql
  tests/cases/standalone/common/information_schema/tables.result
  tests/cases/standalone/common/information_schema/tables.sql
Labels: breaking-change, docs-not-required

#4255 chore(ci): add timeout (60min) for fuzz tests
  .github/workflows/develop.yml
Labels: docs-not-required

#4239 feat!: remove alias `metasrv-addr`
  src/cmd/src/datanode.rs
  src/cmd/src/frontend.rs
  tests/runner/src/env.rs
Labels: breaking-change, docs-not-required

#4257 feat: provide a simple way to create metaclient
  src/cmd/src/datanode.rs
  src/cmd/src/error.rs
  src/cmd/src/flownode.rs
  src/cmd/src/frontend.rs
  src/datanode/src/datanode.rs
  src/datanode/src/heartbeat.rs
  src/flow/src/heartbeat.rs
  src/frontend/src/instance.rs
  src/meta-client/examples/lock.rs
  src/meta-client/src/client.rs
  src/meta-client/src/lib.rs
  tests-integration/src/cluster.rs
Labels: docs-not-required

#4261 feat: test pushing down last value
  src/metric-engine/src/metadata_region.rs
  src/mito2/src/cache.rs
  src/mito2/src/engine/projection_test.rs
  src/mito2/src/read.rs
  src/mito2/src/read/first_last.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/read/unordered_scan.rs
  src/mito2/src/sst/parquet/file_range.rs
  src/mito2/src/sst/parquet/reader.rs
  src/query/src/dummy_catalog.rs
  src/query/src/optimizer.rs
  src/query/src/optimizer/first_last.rs
  src/query/src/query_engine/state.rs
  src/store-api/src/storage.rs
  src/store-api/src/storage/requests.rs
Labels: docs-not-required

#4260 ci: push latest greptimedb nigthly build image
  .github/actions/release-cn-artifacts/action.yaml
  .github/workflows/nightly-build.yml
Labels: docs-not-required

#4264 feat(index): add puffin metadata cache
  Cargo.lock
  src/index/Cargo.toml
  src/index/src/inverted_index.rs
  src/index/src/inverted_index/format/reader/cache.rs
  src/mito2/src/cache.rs
  src/mito2/src/sst/index/applier.rs
  src/mito2/src/sst/index/creator.rs
Labels: docs-not-required

#4267 fix(puffin): fix dependency
  src/puffin/Cargo.toml
Labels: docs-not-required

#4252 feat: implement naive fuzz test for region migration
  .github/workflows/develop.yml
  tests-fuzz/Cargo.toml
  tests-fuzz/src/context.rs
  tests-fuzz/src/generator/create_expr.rs
  tests-fuzz/src/ir.rs
  tests-fuzz/src/ir/insert_expr.rs
  tests-fuzz/src/translator/mysql/create_expr.rs
  tests-fuzz/src/utils.rs
  tests-fuzz/src/utils/migration.rs
  tests-fuzz/src/utils/procedure.rs
  tests-fuzz/targets/fuzz_insert.rs
  tests-fuzz/targets/fuzz_insert_logical_table.rs
  tests-fuzz/targets/migration/fuzz_migrate_mito_regions.rs
Labels: docs-not-required

#4262 feat: update dashboard to v0.5.3
  src/servers/dashboard/VERSION
Labels: docs-not-required

#4263 feat: introduce `FlowRouteValue`
  src/cmd/src/standalone.rs
  src/common/meta/src/cache/flow/table_flownode.rs
  src/common/meta/src/ddl.rs
  src/common/meta/src/ddl/create_flow.rs
  src/common/meta/src/ddl/drop_flow.rs
  src/common/meta/src/ddl/drop_flow/metadata.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/error.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/flow.rs
  src/common/meta/src/key/flow/flow_route.rs
  src/common/meta/src/peer.rs
  src/common/meta/src/test_util.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/procedure/utils.rs
  tests-integration/src/standalone.rs
Labels: docs-not-required

#4266 feat(fulltext_index): integrate puffin manager with inverted index applier
  config/config.md
  config/datanode.example.toml
  config/standalone.example.toml
  src/mito2/src/access_layer.rs
  src/mito2/src/cache/file_cache.rs
  src/mito2/src/compaction/compactor.rs
  src/mito2/src/config.rs
  src/mito2/src/error.rs
  src/mito2/src/flush.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/sst/file_purger.rs
  src/mito2/src/sst/index.rs
  src/mito2/src/sst/index/applier.rs
  src/mito2/src/sst/index/applier/builder.rs
  src/mito2/src/sst/index/applier/builder/between.rs
  src/mito2/src/sst/index/applier/builder/comparison.rs
  src/mito2/src/sst/index/applier/builder/eq_list.rs
  src/mito2/src/sst/index/applier/builder/in_list.rs
  src/mito2/src/sst/index/applier/builder/regex_match.rs
  src/mito2/src/sst/index/creator.rs
  src/mito2/src/sst/index/creator/statistics.rs
  src/mito2/src/sst/index/intermediate.rs
  src/mito2/src/sst/index/puffin_manager.rs
  src/mito2/src/test_util/scheduler_util.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_catchup.rs
  src/mito2/src/worker/handle_create.rs
  src/mito2/src/worker/handle_open.rs
  src/puffin/src/error.rs
  src/puffin/src/puffin_manager/stager.rs
  src/puffin/src/puffin_manager/stager/bounded_stager.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#4270 feat: handle AND/OR and priority in matches fn
  src/common/function/src/lib.rs
  src/common/function/src/scalars/matches.rs
Labels: docs-not-required

#4278 chore: add missing s for `--metasrv-addr`
  docker/docker-compose/cluster-with-etcd.yaml
Labels: docs-not-required

#4281 fix(fuzz): generate valid string
  tests-fuzz/src/ir.rs
  tests-fuzz/src/utils/migration.rs
  tests-fuzz/targets/migration/fuzz_migrate_mito_regions.rs
Labels: docs-not-required

#4280 feat: store peer info in `TableFlowValue`
  src/common/meta/src/cache/flow/table_flownode.rs
  src/common/meta/src/ddl/create_flow.rs
  src/common/meta/src/instruction.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/flow.rs
  src/common/meta/src/key/flow/flow_route.rs
  src/common/meta/src/key/flow/table_flow.rs
  src/operator/src/insert.rs
Labels: docs-not-required

#4283 feat(fuzz): enhance condition check of region migration finish
  tests-fuzz/src/utils/partition.rs
  tests-fuzz/src/utils/procedure.rs
  tests-fuzz/targets/migration/fuzz_migrate_mito_regions.rs
Labels: docs-not-required

#4279 refactor(puffin): adjust generic parameters
  Cargo.lock
  src/mito2/src/sst/index/puffin_manager.rs
  src/puffin/Cargo.toml
  src/puffin/src/puffin_manager.rs
  src/puffin/src/puffin_manager/file_accessor.rs
  src/puffin/src/puffin_manager/fs_puffin_manager.rs
  src/puffin/src/puffin_manager/fs_puffin_manager/reader.rs
  src/puffin/src/puffin_manager/fs_puffin_manager/writer.rs
  src/puffin/src/puffin_manager/stager.rs
  src/puffin/src/puffin_manager/stager/bounded_stager.rs
Labels: docs-not-required

#4232 refactor: use rwlock for modifiable session data
  Cargo.lock
  src/auth/src/permission.rs
  src/auth/tests/mod.rs
  src/common/datasource/Cargo.toml
  src/operator/src/expr_factory.rs
  src/operator/src/statement.rs
  src/query/src/optimizer/type_conversion.rs
  src/query/src/range_select/plan_rewrite.rs
  src/query/src/sql.rs
  src/servers/src/grpc/authorize.rs
  src/servers/src/grpc/greptime_handler.rs
  src/servers/src/http/authorize.rs
  src/servers/src/mysql/handler.rs
  src/servers/src/postgres/handler.rs
  src/servers/tests/http/authorize.rs
  src/servers/tests/http/http_handler_test.rs
  src/session/src/context.rs
  src/session/src/lib.rs
Labels: docs-not-required

#4287 fix: enhance ColumnOption::DefaultValue formatting for string values
  tests-fuzz/src/ir/create_expr.rs
Labels: docs-not-required

#4286 fix: enable space string in yaml value
  src/pipeline/src/etl/processor/mod.rs
  src/script/src/python/rspython/builtins/test.rs
Labels: docs-not-required

#4292 fix: align pre-commit config with make file
  .pre-commit-config.yaml
Labels: docs-not-required

#4265 fix: call df_func with literal
  src/flow/src/expr/scalar.rs
  src/flow/src/transform/expr.rs
  tests/cases/standalone/flow/basic.result
  tests/cases/standalone/flow/basic.sql
Labels: docs-not-required

#4156 feat: delete pipeline
  Cargo.lock
  src/frontend/src/instance/log_handler.rs
  src/frontend/src/server.rs
  src/pipeline/Cargo.toml
  src/pipeline/src/etl.rs
  src/pipeline/src/etl/processor.rs
  src/pipeline/src/etl/transform.rs
  src/pipeline/src/etl/transform/transformer.rs
  src/pipeline/src/etl/transform/transformer/greptime.rs
  src/pipeline/src/etl/value.rs
  src/pipeline/src/lib.rs
  src/pipeline/src/manager.rs
  src/pipeline/src/manager/error.rs
  src/pipeline/src/manager/mod.rs
  src/pipeline/src/manager/pipeline_operator.rs
  src/pipeline/src/manager/table.rs
  src/pipeline/src/manager/util.rs
  src/pipeline/src/metrics.rs
  src/pipeline/tests/gsub.rs
  src/pipeline/tests/pipeline.rs
  src/servers/src/error.rs
  src/servers/src/http.rs
  src/servers/src/http/event.rs
  src/servers/src/http/greptime_manage_resp.rs
  src/servers/src/query_handler.rs
  tests-integration/Cargo.toml
  tests-integration/src/test_util.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#4277 feat: add path prefix label to obejct storage metrics
  src/object-store/src/layers/prometheus.rs
  src/object-store/src/util.rs
Labels: docs-not-required

#4289 feat: expose merge_mode option
  src/mito2/src/region/options.rs
  src/store-api/src/mito_engine_options.rs
  tests/cases/standalone/common/insert/merge_mode.result
  tests/cases/standalone/common/insert/merge_mode.sql
Labels: docs-required

#4296 feat: refine scan metrics logging
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/read/unordered_scan.rs
  src/mito2/src/sst/parquet/reader.rs
Labels: docs-not-required

#4297 chore: bump OpenDAL to 0.47.2
  Cargo.lock
Labels: docs-not-required

#4256 feat: make flow distributed work&tests
  Cargo.lock
  config/config-docs-template.md
  config/config.md
  config/flownode.example.toml
  src/cmd/Cargo.toml
  src/cmd/src/error.rs
  src/cmd/src/flownode.rs
  src/flow/Cargo.toml
  src/flow/src/adapter.rs
  src/flow/src/fe_client.rs
  src/flow/src/lib.rs
  src/flow/src/server.rs
  src/meta-srv/src/error.rs
  src/meta-srv/src/handler/collect_stats_handler.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/selector/common.rs
  src/meta-srv/src/selector/round_robin.rs
  src/meta-srv/src/table_meta_alloc.rs
  src/operator/src/insert.rs
  tests/cases/distributed/information_schema/cluster_info.result
  tests/cases/standalone/common/flow/basic.result
  tests/cases/standalone/common/flow/basic.sql
  tests/cases/standalone/common/flow/df_func.result
  tests/cases/standalone/common/flow/df_func.sql
  tests/cases/standalone/common/flow/show_create_flow.result
  tests/cases/standalone/common/flow/show_create_flow.sql
  tests/runner/src/env.rs
Labels: docs-not-required

#4294 feat(remote wal): set default compresion to LZ4
  src/common/meta/src/wal_options_allocator/kafka/topic_manager.rs
  src/common/wal/src/config.rs
  src/common/wal/src/config/kafka/datanode.rs
  src/common/wal/src/config/kafka/standalone.rs
Labels: docs-not-required

#4291 feat(sql): add iso-8601 format support for intervals
  Cargo.lock
  src/sql/Cargo.toml
  src/sql/src/statements/transform/expand_interval.rs
  tests/cases/standalone/common/types/interval/interval.result
  tests/cases/standalone/common/types/interval/interval.sql
Labels: docs-not-required

#4302 feat(fulltext_index): integrate full-text indexer with sst writer
  config/config.md
  config/datanode.example.toml
  config/standalone.example.toml
  src/datatypes/src/schema.rs
  src/datatypes/src/schema/column_schema.rs
  src/mito2/src/access_layer.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/compaction/compactor.rs
  src/mito2/src/config.rs
  src/mito2/src/error.rs
  src/mito2/src/flush.rs
  src/mito2/src/sst/file.rs
  src/mito2/src/sst/index.rs
  src/mito2/src/sst/index/fulltext_index.rs
  src/mito2/src/sst/index/fulltext_index/creator.rs
  src/mito2/src/sst/index/indexer/abort.rs
  src/mito2/src/sst/index/indexer/finish.rs
  src/mito2/src/sst/index/indexer/update.rs
  src/mito2/src/sst/index/intermediate.rs
  src/mito2/src/sst/index/inverted_index/creator.rs
  src/mito2/src/test_util.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#4293 fix: deregister failure detector in region migration
  src/meta-srv/src/procedure/region_migration.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/upgrade_candidate_region.rs
Labels: docs-not-required

#4308 ci: retry on error or timeout during installing operator
  .github/actions/setup-greptimedb-cluster/action.yml
Labels: docs-not-required

#4307 build(deps): upgrade opendal to 0.47.3
  Cargo.lock
Labels: docs-not-required

#4303 feat: impl show table status
  src/catalog/src/information_schema/tables.rs
  src/common/wal/src/config.rs
  src/common/wal/src/config/kafka/datanode.rs
  src/common/wal/src/config/kafka/standalone.rs
  src/frontend/src/instance.rs
  src/operator/src/statement.rs
  src/operator/src/statement/show.rs
  src/query/src/sql.rs
  src/sql/src/parsers/show_parser.rs
  src/sql/src/statements/show.rs
  src/sql/src/statements/statement.rs
  tests/cases/standalone/common/show/show_databases_tables.result
  tests/cases/standalone/common/show/show_databases_tables.sql
Labels: docs-not-required

#4299 feat!: Set merge mode while creating table in influx handler
  src/frontend/src/instance/grpc.rs
  src/frontend/src/instance/influxdb.rs
  src/operator/src/insert.rs
  src/store-api/src/mito_engine_options.rs
  tests-integration/src/influxdb.rs
Labels: breaking-change, docs-not-required

#4315 chore: disable TraceLayer on_failure log
  src/servers/src/error.rs
  src/servers/src/http.rs
Labels: docs-not-required

#4317 refactor: split match arms in prom_expr_to_plan into smaller methods
  src/query/src/promql/planner.rs
Labels: docs-not-required

#4197 feat: support inserting into binary value through string
  src/datatypes/src/data_type.rs
  src/sql/src/statements.rs
Labels: docs-not-required

#4314 fix: test_fulltext_intm_path
  src/mito2/src/sst/index/intermediate.rs
Labels: docs-not-required

#4309 feat(inverted_index): inverted index cache
  Cargo.lock
  src/index/Cargo.toml
  src/index/src/inverted_index/format/reader.rs
  src/index/src/inverted_index/format/reader/blob.rs
  src/index/src/inverted_index/search/index_apply/predicates_apply.rs
  src/mito2/src/cache.rs
  src/mito2/src/cache/index.rs
  src/mito2/src/config.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/sst/file.rs
  src/mito2/src/sst/index/inverted_index/applier.rs
  src/mito2/src/sst/index/inverted_index/applier/builder.rs
  src/mito2/src/sst/index/inverted_index/applier/builder/between.rs
  src/mito2/src/sst/index/inverted_index/applier/builder/comparison.rs
  src/mito2/src/sst/index/inverted_index/applier/builder/eq_list.rs
  src/mito2/src/sst/index/inverted_index/applier/builder/in_list.rs
  src/mito2/src/sst/index/inverted_index/applier/builder/regex_match.rs
  src/mito2/src/sst/index/inverted_index/creator.rs
  src/mito2/src/worker.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#4316 fix: error on show databases in non-default catalog
  src/catalog/src/information_schema/schemata.rs
  tests-integration/src/tests/instance_test.rs
Labels: docs-not-required

#4310 feat(fulltext_index): allow enable full-text index in SQL and gRPC way
  Cargo.lock
  Cargo.toml
  src/api/Cargo.toml
  src/api/src/error.rs
  src/api/src/helper.rs
  src/api/src/lib.rs
  src/api/src/v1/column_def.rs
  src/common/grpc-expr/Cargo.toml
  src/common/grpc-expr/src/error.rs
  src/common/grpc-expr/src/insert.rs
  src/common/grpc-expr/src/util.rs
  src/common/meta/src/ddl/create_table_template.rs
  src/common/meta/src/ddl/test_util/columns.rs
  src/datatypes/src/schema/column_schema.rs
  src/flow/src/adapter/util.rs
  src/metric-engine/src/engine/put.rs
  src/metric-engine/src/test_util.rs
  src/mito2/src/request.rs
  src/mito2/src/sst/index.rs
  src/mito2/src/test_util.rs
  src/operator/src/expr_factory.rs
  src/operator/src/insert.rs
  src/operator/src/req_convert/common.rs
  src/operator/src/req_convert/insert/stmt_to_region.rs
  src/pipeline/src/etl/transform/transformer/greptime/coerce.rs
  src/pipeline/src/manager/table.rs
  src/pipeline/tests/gsub.rs
  src/pipeline/tests/join.rs
  src/pipeline/tests/on_failure.rs
  src/query/src/error.rs
  src/query/src/sql/show_create_table.rs
  src/script/src/table.rs
  src/servers/src/prom_row_builder.rs
  src/sql/Cargo.toml
  src/sql/src/error.rs
  src/sql/src/lib.rs
  src/sql/src/parser.rs
  src/sql/src/parsers/create_parser.rs
  src/sql/src/statements.rs
  src/sql/src/statements/create.rs
  src/sql/src/statements/transform/type_alias.rs
  src/store-api/src/metadata.rs
  tests/cases/standalone/common/create/create_with_fulltext.result
  tests/cases/standalone/common/create/create_with_fulltext.sql
Labels: docs-not-required

#4319 build(deps): switch to upstream
  Cargo.lock
  Cargo.toml
  src/api/Cargo.toml
Labels: docs-not-required

#4318 fix: panic while reading information_schema. KEY_COLUMN_USAGE
  src/catalog/src/information_schema/key_column_usage.rs
  tests/cases/standalone/common/show/show_index.result
  tests/cases/standalone/common/show/show_index.sql
Labels: docs-not-required

#4290 feat: handle parentheses with unary ops
  src/common/function/src/function_registry.rs
  src/common/function/src/lib.rs
  src/common/function/src/scalars/matches.rs
  tests/cases/standalone/common/select/matches.result
  tests/cases/standalone/common/select/matches.sql
Labels: docs-not-required

#4320 feat: enhanced the retry logic by adding a random noise
  Cargo.lock
  src/common/procedure/Cargo.toml
  src/common/procedure/src/local/runner.rs
Labels: docs-not-required

#4322 refactor: do not print error log on PlanQuery error
  src/common/error/src/status_code.rs
Labels: docs-not-required

#4301 fix: support unary operator in default value, partition rule and prepare statement
  src/common/decimal/src/decimal128.rs
  src/common/time/src/date.rs
  src/common/time/src/datetime.rs
  src/common/time/src/duration.rs
  src/common/time/src/interval.rs
  src/common/time/src/time.rs
  src/common/time/src/timestamp.rs
  src/datatypes/src/value.rs
  src/operator/src/lib.rs
  src/operator/src/req_convert/insert/stmt_to_region.rs
  src/operator/src/statement/ddl.rs
  src/servers/src/lib.rs
  src/servers/src/mysql/helper.rs
  src/sql/src/error.rs
  src/sql/src/parsers/create_parser.rs
  src/sql/src/statements.rs
  tests-integration/tests/sql.rs
  tests/cases/standalone/common/insert/insert_default.result
  tests/cases/standalone/common/insert/insert_default.sql
  tests/cases/standalone/common/partition.result
  tests/cases/standalone/common/partition.sql
Labels: docs-not-required

#4323 feat: flownode use `Inserter` to write to database
  Cargo.lock
  config/config.md
  config/flownode.example.toml
  src/cmd/src/flownode.rs
  src/cmd/src/standalone.rs
  src/common/frontend/src/handler.rs
  src/common/frontend/src/lib.rs
  src/flow/Cargo.toml
  src/flow/src/adapter.rs
  src/flow/src/error.rs
  src/flow/src/fe_client.rs
  src/flow/src/lib.rs
  src/flow/src/server.rs
  src/frontend/src/instance.rs
  src/meta-client/src/client.rs
  tests-integration/src/standalone.rs
  tests/runner/src/env.rs
Labels: docs-not-required

#4327 feat: add `TimeSeriesRowSelector` hint
  src/metric-engine/src/metadata_region.rs
  src/mito2/src/engine/projection_test.rs
  src/mito2/src/read/scan_region.rs
  src/store-api/src/storage.rs
  src/store-api/src/storage/requests.rs
Labels: docs-not-required

#4086 feat: show create view and creating view with columns
  Cargo.lock
  Cargo.toml
  src/catalog/src/error.rs
  src/catalog/src/table_source.rs
  src/common/meta/src/cache/table/view_info.rs
  src/common/meta/src/cache_invalidator.rs
  src/common/meta/src/ddl/create_view.rs
  src/common/meta/src/ddl/tests/create_view.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/view_info.rs
  src/common/meta/src/rpc/ddl.rs
  src/common/query/src/logical_plan.rs
  src/frontend/src/instance.rs
  src/operator/src/error.rs
  src/operator/src/expr_factory.rs
  src/operator/src/statement.rs
  src/operator/src/statement/ddl.rs
  src/operator/src/statement/show.rs
  src/query/src/datafusion/planner.rs
  src/query/src/planner.rs
  src/query/src/promql/planner.rs
  src/query/src/sql.rs
  src/sql/src/parsers/create_parser.rs
  src/sql/src/parsers/show_parser.rs
  src/sql/src/statements/create.rs
  src/sql/src/statements/show.rs
  src/sql/src/statements/statement.rs
  tests/cases/standalone/common/view/columns.result
  tests/cases/standalone/common/view/columns.sql
  tests/cases/standalone/common/view/show_create.result
  tests/cases/standalone/common/view/show_create.sql
  tests/cases/standalone/common/view/view.result
  tests/cases/standalone/common/view/view.sql
Labels: docs-not-required

#4329 revert: lz4 compression
  src/common/wal/src/config.rs
  src/common/wal/src/config/kafka/datanode.rs
  src/common/wal/src/config/kafka/standalone.rs
  src/log-store/src/kafka/client_manager.rs
Labels: docs-not-required

#4326 fix(sqlness): relax start time regex to match various precisions
  tests/cases/distributed/information_schema/cluster_info.result
  tests/cases/distributed/information_schema/cluster_info.sql
  tests/cases/standalone/information_schema/cluster_info.result
  tests/cases/standalone/information_schema/cluster_info.sql
Labels: docs-not-required

#4306 ci: add flownode in docker compose
  Makefile
  docker/docker-compose/cluster-with-etcd.yaml
Labels: docs-not-required

#4325 docs: remove cargo test workspace command
  CONTRIBUTING.md
Labels: docs-not-required

#4328 feat: customize copy to parquet parameter
  src/common/datasource/src/file_format/parquet.rs
  src/mito2/src/engine/compaction_test.rs
  src/mito2/src/engine/merge_mode_test.rs
  src/mito2/src/region/options.rs
  src/operator/src/statement/copy_table_to.rs
Labels: docs-not-required

#4333 perf(puffin): not to stage uncompressed blob
  src/mito2/src/config.rs
  src/mito2/src/engine/basic_test.rs
  src/mito2/src/sst/index.rs
  src/mito2/src/sst/index/inverted_index/creator.rs
  src/mito2/src/sst/index/puffin_manager.rs
  src/puffin/src/file_format/reader/file.rs
  src/puffin/src/puffin_manager.rs
  src/puffin/src/puffin_manager/file_accessor.rs
  src/puffin/src/puffin_manager/fs_puffin_manager.rs
  src/puffin/src/puffin_manager/fs_puffin_manager/reader.rs
  src/puffin/src/puffin_manager/stager.rs
  src/puffin/src/puffin_manager/stager/bounded_stager.rs
  src/puffin/src/puffin_manager/tests.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#4350 fix: permission denied is 403
  src/servers/src/http/error_result.rs
Labels: docs-not-required

#4345 fix(config): enable file engine by default
  config/config.md
  config/datanode.example.toml
  config/standalone.example.toml
  src/cmd/tests/load_config_test.rs
Labels: docs-not-required

#4231 feat: impl drop view
  src/common/meta/src/ddl.rs
  src/common/meta/src/ddl/drop_flow.rs
  src/common/meta/src/ddl/drop_view.rs
  src/common/meta/src/ddl/tests.rs
  src/common/meta/src/ddl/tests/create_view.rs
  src/common/meta/src/ddl/tests/drop_view.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/error.rs
  src/common/meta/src/metrics.rs
  src/common/meta/src/rpc/ddl.rs
  src/frontend/src/instance.rs
  src/operator/src/error.rs
  src/operator/src/statement.rs
  src/operator/src/statement/ddl.rs
  src/sql/src/parsers/drop_parser.rs
  src/sql/src/statements/drop.rs
  src/sql/src/statements/statement.rs
  tests/cases/standalone/common/view/columns.result
  tests/cases/standalone/common/view/columns.sql
  tests/cases/standalone/common/view/create.result
  tests/cases/standalone/common/view/create.sql
  tests/cases/standalone/common/view/show_create.result
  tests/cases/standalone/common/view/show_create.sql
  tests/cases/standalone/common/view/view.result
  tests/cases/standalone/common/view/view.sql
Labels: docs-not-required

#4343 fix: build info should use build time env var
  Cargo.lock
  src/catalog/src/information_schema/memory_table/tables.rs
  src/client/Cargo.toml
  src/cmd/Cargo.toml
  src/cmd/build.rs
  src/cmd/src/bin/greptime.rs
  src/cmd/src/datanode.rs
  src/cmd/src/flownode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/metasrv.rs
  src/cmd/src/standalone.rs
  src/common/greptimedb-telemetry/Cargo.toml
  src/common/greptimedb-telemetry/src/lib.rs
  src/common/substrait/Cargo.toml
  src/common/version/Cargo.toml
  src/common/version/build.rs
  src/common/version/src/lib.rs
  src/servers/build.rs
  src/servers/src/http/handler.rs
  src/servers/src/http/prometheus.rs
  src/servers/tests/http/http_handler_test.rs
  tests/cases/distributed/information_schema/cluster_info.result
  tests/cases/distributed/information_schema/cluster_info.sql
  tests/cases/standalone/common/function/system.result
  tests/cases/standalone/common/function/system.sql
  tests/cases/standalone/common/system/information_schema.result
  tests/cases/standalone/information_schema/cluster_info.result
  tests/cases/standalone/information_schema/cluster_info.sql
Labels: docs-not-required

#4258 perf: fine–tuned plan steps
  Cargo.lock
  Cargo.toml
  src/query/src/datafusion.rs
  src/query/src/dist_plan/planner.rs
Labels: docs-not-required

#4355 docs(config): add enable_region_failover option to configuration
  config/config.md
  config/metasrv.example.toml
Labels: docs-not-required

#4253 refactor: Remove the StandaloneKafkaConfig struct
  src/cmd/src/standalone.rs
  src/cmd/tests/load_config_test.rs
  src/common/meta/src/wal_options_allocator.rs
  src/common/meta/src/wal_options_allocator/kafka/topic_manager.rs
  src/common/wal/src/config.rs
  src/common/wal/src/config/kafka.rs
  src/common/wal/src/config/kafka/common.rs
  src/common/wal/src/config/kafka/datanode.rs
  src/common/wal/src/config/kafka/metasrv.rs
  tests-integration/src/tests/test_util.rs
  tests-integration/tests/region_migration.rs
Labels: docs-not-required

#4300 feat: support `text/plain` format for log ingestion
  Cargo.lock
  src/pipeline/src/etl/processor.rs
  src/pipeline/src/manager/error.rs
  src/pipeline/src/manager/table.rs
  src/pipeline/src/manager/util.rs
  src/pipeline/tests/pipeline.rs
  src/servers/src/http/event.rs
  tests-integration/tests/http.rs
Labels: docs-required

#4357 feat: impl optimizer rule to handle last_value case
  src/query/src/dummy_catalog.rs
  src/query/src/optimizer.rs
  src/query/src/optimizer/order_hint.rs
  src/query/src/optimizer/scan_hint.rs
  src/query/src/query_engine/state.rs
  tests/cases/standalone/common/select/last_value.result
  tests/cases/standalone/common/select/last_value.sql
  tests/cases/standalone/common/tql-explain-analyze/explain.result
Labels: docs-not-required

#4354 feat: Implement reader that returns the last row of each series
  src/mito2/src/engine.rs
  src/mito2/src/engine/row_selector_test.rs
  src/mito2/src/read.rs
  src/mito2/src/read/last_row.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/seq_scan.rs
Labels: docs-not-required

#4337 feat(index): distinguish different types of index metrics
  src/mito2/src/metrics.rs
  src/mito2/src/sst/index.rs
  src/mito2/src/sst/index/fulltext_index/creator.rs
  src/mito2/src/sst/index/inverted_index/creator.rs
  src/mito2/src/sst/index/statistics.rs
Labels: docs-not-required

#4342 feat: adding information_schema.views table
  src/catalog/src/information_schema.rs
  src/catalog/src/information_schema/table_names.rs
  src/catalog/src/information_schema/views.rs
  src/common/catalog/src/consts.rs
  tests/cases/standalone/common/information_schema/views.result
  tests/cases/standalone/common/information_schema/views.sql
  tests/cases/standalone/common/show/show_databases_tables.result
  tests/cases/standalone/common/system/information_schema.result
  tests/cases/standalone/common/view/create.result
Labels: docs-not-required

#4361 chore: update project slogan
  README.md
Labels: docs-not-required

#4336 fix: remove path label for cache store
  src/common/datasource/src/object_store/fs.rs
  src/common/datasource/src/object_store/s3.rs
  src/datanode/src/store.rs
  src/mito2/src/access_layer.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/sst/index/intermediate.rs
  src/object-store/src/layers/prometheus.rs
  src/object-store/src/util.rs
Labels: docs-not-required

#4360 feat: support show views statement
  src/frontend/src/instance.rs
  src/operator/src/statement.rs
  src/operator/src/statement/show.rs
  src/query/src/sql.rs
  src/sql/src/parsers/show_parser.rs
  src/sql/src/statements/show.rs
  src/sql/src/statements/statement.rs
  tests/cases/standalone/common/view/view.result
  tests/cases/standalone/common/view/view.sql
Labels: docs-not-required

#4365 fix: scan hint checks order asc
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/read/unordered_scan.rs
  src/query/src/optimizer/scan_hint.rs
  src/store-api/src/storage/requests.rs
  tests/cases/standalone/common/select/last_value.result
  tests/cases/standalone/common/show/show_databases_tables.result
  tests/cases/standalone/common/show/show_databases_tables.sql
  tests/cases/standalone/common/system/information_schema.result
  tests/cases/standalone/common/system/information_schema.sql
  tests/cases/standalone/common/view/create.result
  tests/cases/standalone/common/view/create.sql
  tests/cases/standalone/optimizer/last_value.result
  tests/cases/standalone/optimizer/last_value.sql
Labels: docs-not-required

#4359 feat: tweak error and status codes
  src/auth/src/error.rs
  src/cache/src/error.rs
  src/client/src/error.rs
  src/common/decimal/src/error.rs
  src/common/error/src/status_code.rs
  src/common/meta/src/error.rs
  src/common/procedure/src/error.rs
  src/common/recordbatch/src/error.rs
  src/common/substrait/src/error.rs
  src/datanode/src/error.rs
  src/datatypes/src/error.rs
  src/frontend/src/error.rs
  src/meta-srv/src/error.rs
  src/mito2/src/error.rs
  src/partition/src/error.rs
  src/query/src/error.rs
  src/servers/src/error.rs
  src/servers/src/http/error_result.rs
  src/table/src/error.rs
Labels: docs-not-required

#4347 feat: flow perf&fix df func call
  src/flow/src/adapter.rs
  src/flow/src/adapter/node_context.rs
  src/flow/src/compute/render/map.rs
  src/flow/src/compute/render/reduce.rs
  src/flow/src/compute/render/src_sink.rs
  src/flow/src/expr/linear.rs
  src/flow/src/repr.rs
  src/flow/src/transform/expr.rs
  src/flow/src/transform/literal.rs
  src/operator/src/insert.rs
  tests/cases/standalone/common/flow/basic.result
  tests/cases/standalone/common/flow/basic.sql
  tests/cases/standalone/common/flow/df_func.result
  tests/cases/standalone/common/flow/df_func.sql
Labels: docs-not-required

#4369 feat: add a cache for last value result in row group
  src/mito2/src/cache.rs
  src/mito2/src/config.rs
  src/mito2/src/read.rs
  src/mito2/src/worker.rs
  src/store-api/src/storage/requests.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#4370 feat: add PruneReader for optimized row filtering
  src/mito2/src/error.rs
  src/mito2/src/read.rs
  src/mito2/src/read/prune.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/read/unordered_scan.rs
  src/mito2/src/sst/parquet/file_range.rs
  src/mito2/src/sst/parquet/reader.rs
  src/store-api/src/storage/requests.rs
Labels: docs-not-required

#4371 test: replace unstable output of last value test
  tests/cases/standalone/optimizer/last_value.result
  tests/cases/standalone/optimizer/last_value.sql
Labels: docs-not-required

#4373 test: more sleep when flow insert makes it serial
  tests/cases/standalone/common/flow/basic.result
  tests/cases/standalone/common/flow/basic.sql
  tests/cases/standalone/common/flow/df_func.result
  tests/cases/standalone/common/flow/df_func.sql
Labels: docs-not-required

#4374 refactor: LastRowReader to use LastRowSelector
  src/mito2/src/read/last_row.rs
Labels: docs-not-required

#4362 feat: improve datafusion external error and mysql error
  src/catalog/src/error.rs
  src/catalog/src/system_schema/information_schema/tables.rs
  src/catalog/src/system_schema/information_schema/views.rs
  src/common/query/src/error.rs
  src/query/src/datafusion/planner.rs
  src/query/src/error.rs
  src/servers/src/mysql/handler.rs
  src/servers/src/mysql/writer.rs
  src/table/src/error.rs
  tests-integration/tests/http.rs
  tests-integration/tests/sql.rs
  tests/cases/standalone/common/alter/rename_table.result
  tests/cases/standalone/common/catalog/schema.result
  tests/cases/standalone/common/create/upper_case_table_name.result
  tests/cases/standalone/common/cte/cte.result
  tests/cases/standalone/common/cte/cte_in_cte.result
  tests/cases/standalone/common/function/date.result
  tests/cases/standalone/common/types/interval/interval.result
  tests/cases/standalone/common/view/create.result
  tests/cases/standalone/common/view/view.result
Labels: docs-not-required

#4375 feat: Add caching for last row reader and expose cache manager
  src/mito2/src/cache.rs
  src/mito2/src/read.rs
  src/mito2/src/read/last_row.rs
  src/mito2/src/read/prune.rs
  src/mito2/src/sst/parquet/file_range.rs
  src/mito2/src/sst/parquet/reader.rs
Labels: docs-not-required

#4376 chore: bump version to v0.9.0
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
Labels: docs-not-required

#4377 test(flow): ignore flow tests for now
  tests/cases/standalone/common/flow/basic.result
  tests/cases/standalone/common/flow/basic.sql
  tests/cases/standalone/common/flow/df_func.result
  tests/cases/standalone/common/flow/df_func.sql
  tests/cases/standalone/optimizer/last_value.result
  tests/cases/standalone/optimizer/last_value.sql
Labels: docs-not-required

#4349 fix: ensure keep alive is completed in time
  .github/actions/setup-etcd-cluster/action.yml
  src/common/meta/src/distributed_time_constants.rs
  src/meta-srv/src/election/etcd.rs
  src/meta-srv/src/metasrv.rs
Labels: docs-not-required

#4368 chore: support `pattern` as pipeline key name
  src/pipeline/src/etl/processor/dissect.rs
  src/pipeline/src/etl/processor/regex.rs
  src/pipeline/tests/common.rs
  src/pipeline/tests/dissect.rs
  src/pipeline/tests/gsub.rs
  src/pipeline/tests/join.rs
  src/pipeline/tests/on_failure.rs
  src/pipeline/tests/regex.rs
Labels: docs-not-required

#4387 ci: disable auto review
  .coderabbit.yaml
Labels: docs-not-required

#4389 refactor: add `&mut Plugins` argument in plugins setup api and remove unnecessary mut
  src/cmd/src/datanode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/metasrv.rs
  src/cmd/src/standalone.rs
  src/plugins/src/datanode.rs
  src/plugins/src/frontend.rs
  src/plugins/src/meta_srv.rs
Labels: breaking-change, docs-not-required

#4398 fix: user provider can't be configured by config file or environment variables
  src/cmd/src/frontend.rs
  src/cmd/src/standalone.rs
Labels: docs-not-required

#4386 feat: `FLOWS` table in information_schema&SHOW FLOWS
  src/catalog/src/error.rs
  src/catalog/src/kvbackend/manager.rs
  src/catalog/src/memory/manager.rs
  src/catalog/src/system_schema/information_schema.rs
  src/catalog/src/system_schema/information_schema/flows.rs
  src/catalog/src/system_schema/information_schema/table_names.rs
  src/common/catalog/src/consts.rs
  src/common/meta/src/key/flow/flow_info.rs
  src/common/meta/src/key/flow/flow_name.rs
  src/flow/src/adapter.rs
  src/flow/src/adapter/worker.rs
  src/flow/src/expr/linear.rs
  src/frontend/src/instance.rs
  src/operator/src/statement.rs
  src/operator/src/statement/show.rs
  src/query/src/sql.rs
  src/sql/src/parsers/show_parser.rs
  src/sql/src/statements/show.rs
  src/sql/src/statements/statement.rs
  tests/cases/standalone/common/flow/show_create_flow.result
  tests/cases/standalone/common/flow/show_create_flow.sql
  tests/cases/standalone/common/show/show_databases_tables.result
  tests/cases/standalone/common/system/information_schema.result
  tests/cases/standalone/common/view/create.result
Labels: docs-not-required

#4382 feat: export database data
  src/cmd/src/cli/export.rs
Labels: docs-not-required

#4396 fix: dictionary key type use u32
  src/mito2/src/memtable/bulk/part.rs
  src/mito2/src/sst.rs
  src/mito2/src/sst/parquet/format.rs
Labels: docs-not-required

#4400 fix(wal): handle WAL deletion on region drop
  src/mito2/src/worker/handle_drop.rs
Labels: docs-not-required

#4397 refactor: add `get_storage_path()` and `get_catalog_and_schema()`
  Cargo.lock
  src/common/meta/src/ddl/utils.rs
  src/store-api/Cargo.toml
  src/store-api/src/path_utils.rs
Labels: docs-not-required

#4409 fix: add back AuthBackend which is required by custom auth backend
  src/auth/src/error.rs
Labels: docs-not-required

#4411 chore: add metrics for log ingestion
  src/servers/src/http/event.rs
  src/servers/src/metrics.rs
Labels: docs-not-required

#4412 refactor(query): Remove PhysicalPlanner trait
  src/query/src/datafusion.rs
  src/query/src/lib.rs
  src/query/src/physical_planner.rs
Labels: docs-not-required

#4426 refactor: Remove PhysicalOptimizer and LogicalOptimizer trait
  src/cmd/src/cli/repl.rs
  src/query/src/datafusion.rs
  src/query/src/lib.rs
  src/query/src/logical_optimizer.rs
  src/query/src/physical_optimizer.rs
Labels: docs-not-required

#4423 fix(fulltext-index): clean up 0-value timer
  src/mito2/src/sst/index.rs
  src/mito2/src/sst/index/fulltext_index/creator.rs
Labels: docs-not-required

#4427 docs(common_error): format enum StatusCode docs
  src/common/error/src/status_code.rs
Labels: docs-not-required

#4406 chore: add a compile cfg for python in cmd package
  Cargo.toml
  src/cmd/Cargo.toml
  src/frontend/src/error.rs
  src/frontend/src/script.rs
Labels: docs-not-required

#4417 chore: update grafana dashboard to reflect recent metric changes
  grafana/greptimedb.json
Labels: docs-not-required

#4430 docs: update readme
  README.md
Labels: docs-not-required

#4431 docs: update readme
  README.md
Labels: docs-not-required

#4418 fix(metrics): RowGroupLastRowCachedReader metrics
  src/mito2/src/cache.rs
  src/mito2/src/read/last_row.rs
Labels: docs-not-required

#4432 chore: add docs for config file
  config/config.md
  config/metasrv.example.toml
Labels: docs-not-required

#4434 refactor: add RetryInterceptor to print detailed error
  src/datanode/src/store.rs
Labels: docs-not-required

#4433 chore: add dynamic cache size adjustment for InvertedIndexConfig
  config/config.md
  config/standalone.example.toml
  src/mito2/src/config.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#4438 fix: information_schema tables and views column value
  src/catalog/src/system_schema/information_schema/tables.rs
  src/catalog/src/system_schema/information_schema/views.rs
  tests/cases/standalone/common/show/show_databases_tables.result
  tests/cases/standalone/common/system/information_schema.result
  tests/cases/standalone/common/view/create.result
Labels: docs-not-required

#4439 fix: remove to_timezone function
  src/common/function/src/scalars/timestamp.rs
  src/common/function/src/scalars/timestamp/to_timezone.rs
  tests/cases/standalone/common/function/time.result
  tests/cases/standalone/common/function/time.sql
Labels: docs-not-required

#4416 feat(flow): `flush_flow` function
  Cargo.lock
  Cargo.toml
  src/cmd/src/cli/repl.rs
  src/common/function/Cargo.toml
  src/common/function/src/flush_flow.rs
  src/common/function/src/handlers.rs
  src/common/function/src/lib.rs
  src/common/function/src/state.rs
  src/common/function/src/system/procedure_state.rs
  src/common/function/src/table.rs
  src/common/function/src/table/flush_compact_region.rs
  src/common/function/src/table/flush_compact_table.rs
  src/common/function/src/table/migrate_region.rs
  src/common/macro/src/admin_fn.rs
  src/common/macro/src/lib.rs
  src/common/query/src/error.rs
  src/datanode/src/datanode.rs
  src/flow/src/adapter.rs
  src/flow/src/adapter/flownode_impl.rs
  src/flow/src/adapter/worker.rs
  src/flow/src/compute/render/src_sink.rs
  src/flow/src/error.rs
  src/flow/src/expr/relation/func.rs
  src/flow/src/expr/scalar.rs
  src/flow/src/repr/relation.rs
  src/flow/src/server.rs
  src/flow/src/transform.rs
  src/flow/src/transform/expr.rs
  src/frontend/Cargo.toml
  src/frontend/src/instance/builder.rs
  src/operator/src/flow.rs
  src/operator/src/lib.rs
  src/query/src/datafusion.rs
  src/query/src/query_engine.rs
  src/query/src/query_engine/context.rs
  src/query/src/query_engine/default_serializer.rs
  src/query/src/query_engine/state.rs
  src/query/src/range_select/plan_rewrite.rs
  src/query/src/tests.rs
  src/query/src/tests/query_engine_test.rs
  src/query/src/tests/time_range_filter_test.rs
  src/script/benches/py_benchmark.rs
  src/script/src/python/engine.rs
  src/script/src/test.rs
  src/servers/tests/mod.rs
  tests/cases/standalone/common/flow/flow_basic.result
  tests/cases/standalone/common/flow/flow_basic.sql
  tests/cases/standalone/common/flow/flow_call_df_func.result
  tests/cases/standalone/common/flow/flow_call_df_func.sql
  tests/cases/standalone/common/flow/show_create_flow.result
  tests/cases/standalone/common/flow/show_create_flow.sql
Labels: docs-not-required, A-flow

#4440 docs: update project status
  README.md
Labels: docs-not-required

#4445 fix: use heartbeat runtime instead of background runtime
  src/datanode/src/alive_keeper.rs
Labels: docs-not-required

#4442 feat: show root cause and db name on the error line
  src/common/error/src/ext.rs
  src/servers/src/grpc/greptime_handler.rs
  src/servers/src/http.rs
  src/servers/src/mysql/handler.rs
  src/servers/src/mysql/writer.rs
  src/servers/src/postgres/handler.rs
Labels: docs-not-required

#4447 fix(fulltext-search): prune rows in row group forget to take remainder
  src/mito2/src/sst/parquet/reader.rs
  src/mito2/src/sst/parquet/row_selection.rs
Labels: docs-not-required

#4401 refactor!: Remove `Mode` from `FrontendOptions`
  config/config.md
  config/frontend.example.toml
  src/cmd/src/frontend.rs
  src/cmd/src/standalone.rs
  src/frontend/src/frontend.rs
  src/frontend/src/server.rs
Labels: breaking-change, docs-not-required

#4457 chore: temporarily disable fuzz chaos tests
  .github/workflows/develop.yml
Labels: docs-not-required

#4458 feat: track prometheus HTTP API's query latency
  grafana/greptimedb.json
  src/servers/src/http/prometheus.rs
  src/servers/src/metrics.rs
Labels: docs-not-required

#4455 fix: use status code to http status mapping in error IntoResponse
  src/servers/src/error.rs
  src/servers/src/http/error_result.rs
Labels: docs-not-required

#4405 feat: support setting time range in Copy From statement
  src/common/query/src/logical_plan.rs
  src/common/query/src/logical_plan/expr.rs
  src/common/recordbatch/src/adapter.rs
  src/common/recordbatch/src/error.rs
  src/common/recordbatch/src/filter.rs
  src/operator/src/error.rs
  src/operator/src/statement/copy_table_from.rs
  tests/cases/standalone/common/copy/copy_from_fs_csv.result
  tests/cases/standalone/common/copy/copy_from_fs_csv.sql
  tests/cases/standalone/common/copy/copy_from_fs_json.result
  tests/cases/standalone/common/copy/copy_from_fs_json.sql
  tests/cases/standalone/common/copy/copy_from_fs_parquet.result
  tests/cases/standalone/common/copy/copy_from_fs_parquet.sql
Labels: docs-not-required

#4449 ci: keep sqlness log by default
  .github/actions/build-macos-artifacts/action.yml
  .github/actions/build-windows-artifacts/action.yml
  .github/workflows/nightly-ci.yml
  Makefile
Labels: docs-not-required

#4460 fix: missing `pre_write` check on prometheus remote write
  src/frontend/src/instance/prom_store.rs
  src/servers/src/interceptor.rs
Labels: docs-not-required

#4452 fix: check_partition uses unqualified name
  src/query/src/dist_plan/commutativity.rs
  tests/cases/standalone/common/aggregate/multi_regions.result
  tests/cases/standalone/common/aggregate/multi_regions.sql
Labels: docs-not-required

#4410 chore: add more metrics about parquet and cache
  src/mito2/src/cache.rs
  src/mito2/src/metrics.rs
  src/mito2/src/sst/parquet/reader.rs
Labels: docs-not-required

#4465 docs: tweak readme
  README.md
Labels: docs-not-required

#4464 feat: default export catalog name
  src/cmd/src/cli/export.rs
  src/cmd/src/error.rs
Labels: docs-not-required

#4453 perf: reduce lock scope and improve log
  src/mito2/src/read.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/read/unordered_scan.rs
  src/query/src/dist_plan/merge_scan.rs
  tests/cases/distributed/explain/analyze.result
  tests/cases/distributed/explain/analyze.sql
  tests/cases/standalone/common/aggregate/multi_regions.result
  tests/cases/standalone/common/aggregate/multi_regions.sql
  tests/cases/standalone/common/range/nest.result
  tests/cases/standalone/common/range/nest.sql
  tests/cases/standalone/common/tql-explain-analyze/analyze.result
  tests/cases/standalone/common/tql-explain-analyze/analyze.sql
  tests/cases/standalone/optimizer/last_value.result
  tests/cases/standalone/optimizer/last_value.sql
Labels: docs-not-required

#4463 refactor(servers): improve postgres error message
  src/servers/src/postgres/auth_handler.rs
  src/servers/src/postgres/handler.rs
  src/servers/src/postgres/types.rs
  src/servers/src/postgres/types/error.rs
Labels: docs-not-required

#4468 docs(contributing): replace expired links
  CONTRIBUTING.md
Labels: docs-not-required

#4456 chore(ci): bring back chaos tests
  .github/actions/setup-greptimedb-cluster/with-remote-wal.yaml
  .github/workflows/develop.yml
Labels: docs-not-required

#4448 feat: track channels with query context and w/rcu
  Cargo.lock
  Cargo.toml
  src/common/meta/src/rpc/ddl.rs
  src/operator/src/insert.rs
  src/query/src/dist_plan/merge_scan.rs
  src/servers/src/grpc/authorize.rs
  src/servers/src/grpc/otlp.rs
  src/servers/src/http/authorize.rs
  src/servers/src/http/event.rs
  src/servers/src/http/handler.rs
  src/servers/src/http/influxdb.rs
  src/servers/src/http/opentsdb.rs
  src/servers/src/http/otlp.rs
  src/servers/src/http/prom_store.rs
  src/servers/src/http/prometheus.rs
  src/servers/tests/http/authorize.rs
  src/servers/tests/http/http_handler_test.rs
  src/session/Cargo.toml
  src/session/src/context.rs
  src/session/src/lib.rs
  src/sql/src/dialect.rs
Labels: docs-not-required
