Repository GreptimeTeam/greptimedb, pull requests merged in 2024-01, with the labels that each got.

#3060 feat: add some tables for `information_schema`
  src/catalog/src/information_schema.rs
  src/catalog/src/information_schema/memory_table/tables.rs
  src/catalog/src/information_schema/table_names.rs
  src/common/catalog/src/consts.rs
  tests/cases/standalone/common/show/show_databases_tables.result
  tests/cases/standalone/common/system/information_schema.result
Labels: Size: L, Doc not needed

#3065 feat!: correct the kafka config option
  config/datanode.example.toml
  config/standalone.example.toml
  src/common/config/src/wal.rs
  src/common/config/src/wal/kafka.rs
  src/common/meta/src/wal/kafka.rs
  src/log-store/src/kafka/log_store.rs
Labels: Doc update required, Size: S, Breaking change

#3066 refactor: unify the injection of WAL option
  src/common/meta/src/ddl/create_table.rs
  src/common/meta/src/instruction.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/datanode_table.rs
  src/common/meta/src/wal.rs
  src/datanode/src/datanode.rs
  src/meta-srv/src/error.rs
  src/meta-srv/src/procedure/region_failover/activate_region.rs
  src/meta-srv/src/procedure/region_failover/update_metadata.rs
  src/meta-srv/src/procedure/region_migration.rs
  src/meta-srv/src/procedure/region_migration/migration_start.rs
  src/meta-srv/src/procedure/region_migration/open_candidate_region.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/upgrade_candidate_region.rs
Labels: Size: M, Doc not needed

#3069 feat: add kafka wal integration test utils
  tests-integration/src/cluster.rs
  tests-integration/src/lib.rs
  tests-integration/src/standalone.rs
  tests-integration/src/test_util.rs
  tests-integration/src/tests.rs
  tests-integration/src/tests/test_util.rs
Labels: Size: M, Doc not needed

#3071 test(tests-integration): add a naive test with kafka wal
  .env.example
  tests-integration/README.md
  tests-integration/src/cluster.rs
  tests-integration/src/standalone.rs
  tests-integration/src/tests.rs
  tests-integration/src/tests/instance_kafka_wal_test.rs
  tests-integration/src/tests/test_util.rs
Labels: Size: M, Doc not needed

#3022 feat(mito): Implement file cache
  src/mito2/Cargo.toml
  src/mito2/src/cache.rs
  src/mito2/src/cache/file_cache.rs
Labels: Size: M, Doc not needed

#3068 feat(inverted_index): Add applier builder to convert Expr to Predicates (Part 2)
  src/mito2/src/sst/index/applier/builder.rs
  src/mito2/src/sst/index/applier/builder/comparison.rs
  src/mito2/src/sst/index/applier/builder/eq_list.rs
  src/mito2/src/sst/index/applier/builder/in_list.rs
  src/mito2/src/sst/index/applier/builder/regex_match.rs
Labels: Size: L, Doc not needed

#3082 feat(puffin): finish return written bytes
  src/puffin/src/file_format/writer.rs
  src/puffin/src/file_format/writer/file.rs
  src/puffin/src/tests.rs
Labels: Size: S, Doc not needed

#3081 feat(inverted_index): get memory usage of appliers
  src/index/src/inverted_index/search/fst_apply.rs
  src/index/src/inverted_index/search/fst_apply/intersection_apply.rs
  src/index/src/inverted_index/search/fst_apply/keys_apply.rs
  src/index/src/inverted_index/search/index_apply.rs
  src/index/src/inverted_index/search/index_apply/predicates_apply.rs
Labels: Size: M, Doc not needed

#3078 feat(tests-integration): add a naive region migration integration test
  src/datanode/src/heartbeat/handler.rs
  src/datanode/src/heartbeat/handler/open_region.rs
  src/meta-srv/src/procedure/region_migration.rs
  src/meta-srv/src/procedure/region_migration/manager.rs
  tests-integration/src/cluster.rs
  tests-integration/src/standalone.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/region_failover.rs
  tests-integration/tests/region_migration.rs
Labels: Size: M, Doc not needed

#3061 refactor: allow procedure to acquire share lock
  src/common/meta/src/ddl/alter_table.rs
  src/common/meta/src/ddl/create_table.rs
  src/common/meta/src/ddl/drop_table.rs
  src/common/meta/src/ddl/truncate_table.rs
  src/common/procedure/src/local.rs
  src/common/procedure/src/local/lock.rs
  src/common/procedure/src/local/runner.rs
  src/common/procedure/src/local/rwlock.rs
  src/common/procedure/src/procedure.rs
  src/common/procedure/src/watcher.rs
  src/meta-srv/src/procedure/region_failover.rs
  src/meta-srv/src/procedure/region_migration.rs
Labels: Size: L, Doc not needed

#3087 fix: fix non-physical error msg
  src/common/meta/src/key/table_route.rs
  src/meta-srv/src/procedure/region_failover/update_metadata.rs
  src/meta-srv/src/procedure/region_migration/manager.rs
  src/meta-srv/src/procedure/region_migration/migration_start.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/upgrade_candidate_region.rs
  src/partition/src/manager.rs
Labels: Size: S, Doc not needed

#3084 chore: remove unnecessary result wrappings
  src/common/meta/src/key.rs
  src/common/meta/src/key/table_route.rs
  src/common/meta/src/rpc/router.rs
  src/meta-srv/src/procedure/region_failover/update_metadata.rs
  tests-integration/src/grpc.rs
  tests-integration/src/instance.rs
Labels: Size: S, Doc not needed

#3086 feat: abort region migration if leader region peer is unexpected
  src/meta-srv/src/procedure/region_migration/migration_start.rs
  src/meta-srv/src/procedure/region_migration/open_candidate_region.rs
Labels: Size: S, Doc not needed

#3089 feat: update dashboard to v0.4.6
  src/servers/dashboard/VERSION
Labels: size/xs

#3053 feat: table route for metric engine
  src/cmd/src/standalone.rs
  src/common/meta/src/ddl/table_meta.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/key/table_route.rs
  src/common/meta/src/lib.rs
  src/common/meta/src/rpc/router.rs
  src/datanode/src/error.rs
  src/datanode/src/region_server.rs
  src/datanode/src/tests.rs
  src/file-engine/src/engine.rs
  src/frontend/src/instance/region_query.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/procedure/region_migration/manager.rs
  src/metric-engine/src/engine.rs
  src/metric-engine/src/lib.rs
  src/mito2/src/engine.rs
  src/partition/src/manager.rs
  src/partition/src/metrics.rs
  src/store-api/src/region_engine.rs
  tests-integration/src/standalone.rs
Labels: Size: M, Doc not needed

#3047 fix: Optimize export metric behavior
  config/datanode.example.toml
  config/frontend.example.toml
  config/metasrv.example.toml
  config/standalone.example.toml
  src/cmd/src/frontend.rs
  src/cmd/src/standalone.rs
  src/datanode/src/datanode.rs
  src/frontend/src/instance.rs
  src/frontend/src/instance/prom_store.rs
  src/meta-srv/src/bootstrap.rs
  src/servers/src/export_metrics.rs
  tests-integration/tests/http.rs
Labels: Size: M, Doc not needed

#3077 feat: add logs for upgrading candidate region and updating metadata
  src/datanode/src/heartbeat/handler/upgrade_region.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/upgrade_candidate_region.rs
  src/mito2/src/worker/handle_catchup.rs
Labels: Size: S, Doc not needed

#3088 feat(inverted_index): implement apply for SstIndexApplier
  Cargo.lock
  Cargo.toml
  src/index/src/inverted_index/search/index_apply.rs
  src/index/src/inverted_index/search/index_apply/predicates_apply.rs
  src/mito2/Cargo.toml
  src/mito2/src/access_layer.rs
  src/mito2/src/error.rs
  src/mito2/src/metrics.rs
  src/mito2/src/sst.rs
  src/mito2/src/sst/file.rs
  src/mito2/src/sst/file_purger.rs
  src/mito2/src/sst/index.rs
  src/mito2/src/sst/index/applier.rs
  src/mito2/src/sst/index/store.rs
  src/mito2/src/sst/location.rs
Labels: Size: L, Doc not needed, Observability

#3094 feat(tests-integration): add more region migration integration tests
  src/common/meta/src/ddl/table_meta.rs
  tests-integration/tests/main.rs
  tests-integration/tests/region_migration.rs
Labels: Size: M, Doc not needed

#2999 feat(mito): Add WriteCache struct and write SSTs to write cache
  src/mito2/src/access_layer.rs
  src/mito2/src/cache.rs
  src/mito2/src/cache/file_cache.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/compaction.rs
  src/mito2/src/compaction/output.rs
  src/mito2/src/compaction/twcs.rs
  src/mito2/src/flush.rs
  src/mito2/src/region/options.rs
  src/mito2/src/region_write_ctx.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/writer.rs
  src/mito2/src/test_util/scheduler_util.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_flush.rs
Labels: Size: L, Doc not needed

#3096 test: add tests for lease keeper with logical table
  src/common/meta/src/key/table_route.rs
  src/meta-srv/src/region/lease_keeper.rs
Labels: Size: S, Doc not needed

#3099 docs: update the description of greptimedb project
  README.md
Labels: Size: S, Doc not needed

#3095 feat(metric): implement `role` and `region_disk_usage`
  src/datanode/src/heartbeat.rs
  src/datanode/src/region_server.rs
  src/metric-engine/src/engine.rs
  src/metric-engine/src/engine/alter.rs
  src/metric-engine/src/engine/close.rs
  src/metric-engine/src/engine/create.rs
  src/metric-engine/src/engine/open.rs
  src/metric-engine/src/engine/put.rs
  src/metric-engine/src/engine/read.rs
Labels: Size: M, Doc not needed

#3102 chore: expose some codes to let other projects use them
  src/datanode/Cargo.toml
  src/datanode/src/lib.rs
  src/frontend/src/instance/standalone.rs
  src/meta-srv/src/procedure.rs
  src/meta-srv/src/procedure/utils.rs
Labels: Size: S, Doc not needed

#3091 feat: pushdown filters for some information_schema tables
  Cargo.lock
  src/catalog/Cargo.toml
  src/catalog/src/information_schema.rs
  src/catalog/src/information_schema/columns.rs
  src/catalog/src/information_schema/key_column_usage.rs
  src/catalog/src/information_schema/memory_table.rs
  src/catalog/src/information_schema/predicate.rs
  src/catalog/src/information_schema/schemata.rs
  src/catalog/src/information_schema/tables.rs
  tests/cases/standalone/common/system/information_schema.result
  tests/cases/standalone/common/system/information_schema.sql
Labels: Size: L, Doc not needed

#3093 refactor(metrics): add 'greptime_' prefix for every metrics
  src/catalog/src/metrics.rs
  src/client/src/metrics.rs
  src/cmd/src/lib.rs
  src/common/meta/src/metrics.rs
  src/common/runtime/src/metrics.rs
  src/common/telemetry/src/panic_hook.rs
  src/datanode/src/metrics.rs
  src/frontend/src/metrics.rs
  src/meta-srv/src/metrics.rs
  src/metric-engine/src/metrics.rs
  src/mito2/src/metrics.rs
  src/object-store/src/metrics.rs
  src/operator/src/metrics.rs
  src/promql/src/metrics.rs
  src/query/src/metrics.rs
  src/script/src/python/metric.rs
  src/servers/src/metrics.rs
Labels: Doc update required, Size: M

#3058 chore: bump opendal to 0.44
  Cargo.lock
  src/common/procedure/src/store/state_store.rs
  src/mito2/src/cache/file_cache.rs
  src/object-store/Cargo.toml
  src/object-store/src/layers/lru_cache.rs
  src/object-store/src/layers/lru_cache/read_cache.rs
  src/object-store/src/layers/prometheus.rs
  src/object-store/src/lib.rs
  src/object-store/tests/object_store_test.rs
Labels: Size: M, Doc not needed

#3098 feat: metric engine support alter
  src/common/meta/src/ddl/alter_table.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/key/table_route.rs
  src/meta-srv/src/procedure/tests.rs
  src/partition/src/manager.rs
Labels: Size: M, Doc not needed

#3092 feat(remote_wal): split an entry if it's too large
  Cargo.lock
  config/datanode.example.toml
  config/standalone.example.toml
  src/common/config/src/wal.rs
  src/common/config/src/wal/kafka.rs
  src/log-store/Cargo.toml
  src/log-store/src/error.rs
  src/log-store/src/kafka.rs
  src/log-store/src/kafka/client_manager.rs
  src/log-store/src/kafka/log_store.rs
  src/log-store/src/kafka/record_utils.rs
  src/log-store/src/kafka/util.rs
  src/log-store/src/kafka/util/offset.rs
  src/log-store/src/kafka/util/record.rs
  src/mito2/src/region_write_ctx.rs
  tests/cases/standalone/common/types/string/scan_big_varchar.result
  tests/cases/standalone/common/types/string/scan_big_varchar.sql
Labels: Size: XL, Doc not needed

#3115 chore: expose some codes to let other projects use them
  src/cmd/src/standalone.rs
  src/common/meta/src/ddl/table_meta.rs
Labels: Doc not needed, size/xs

#3116 chore: bump version to 0.5.1
  Cargo.lock
  Cargo.toml
Labels: Doc not needed, size/xs

#3119 docs: update issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: Size: S, Doc not needed

#3036 feat: support PromQL function `vector`
  Cargo.lock
  src/common/query/src/prelude.rs
  src/promql/Cargo.toml
  src/promql/src/extension_plan/empty_metric.rs
  src/promql/src/planner.rs
  src/query/src/sql.rs
  src/servers/src/http/prometheus.rs
  src/servers/src/opentsdb.rs
  src/servers/src/opentsdb/codec.rs
  src/servers/src/otlp.rs
  src/servers/src/otlp/metrics.rs
  src/servers/src/otlp/trace.rs
  src/servers/src/prom_store.rs
  tests/cases/standalone/common/promql/set_operation.result
  tests/cases/standalone/common/promql/set_operation.sql
Labels: Size: L, Doc not needed

#3100 feat(mito): Init the write cache in datanode
  src/datanode/src/datanode.rs
  src/datanode/src/error.rs
  src/datanode/src/store.rs
  src/datanode/src/store/azblob.rs
  src/datanode/src/store/fs.rs
  src/datanode/src/store/gcs.rs
  src/datanode/src/store/oss.rs
  src/datanode/src/store/s3.rs
  src/mito2/src/access_layer.rs
  src/mito2/src/cache.rs
  src/mito2/src/cache/file_cache.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/config.rs
  src/mito2/src/engine.rs
  src/mito2/src/error.rs
  src/mito2/src/flush.rs
  src/mito2/src/read/projection.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/test_util.rs
  src/mito2/src/test_util/scheduler_util.rs
  src/mito2/src/worker.rs
  src/object-store/src/util.rs
  tests-integration/tests/http.rs
Labels: Size: L, Doc not needed

#3105 feat: support grpc for otlp trace and metrics
  src/datanode/src/datanode.rs
  src/frontend/src/server.rs
  src/servers/src/error.rs
  src/servers/src/grpc.rs
  src/servers/src/grpc/authorize.rs
  src/servers/src/grpc/builder.rs
  src/servers/src/grpc/otlp.rs
  src/servers/src/grpc/prom_query_gateway.rs
  src/servers/src/http/authorize.rs
  tests-integration/src/cluster.rs
  tests-integration/src/test_util.rs
Labels: Doc update required, Size: L

#3114 feat: add options to enable log recycle and periodical fsync
  Cargo.lock
  config/standalone.example.toml
  src/common/config/src/wal/raft_engine.rs
  src/log-store/Cargo.toml
  src/log-store/src/raft_engine/log_store.rs
  tests-integration/tests/http.rs
Labels: performance, Size: S, Storage, Doc not needed

#3073 chore: add bound check for raft-engine logstore
  config/datanode.example.toml
  config/standalone.example.toml
  src/log-store/src/error.rs
  src/log-store/src/raft_engine/log_store.rs
  src/mito2/src/config.rs
  src/mito2/src/error.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/worker/handle_catchup.rs
  tests-integration/tests/http.rs
Labels: Size: M

#3097 feat: add parquet metadata to cache
  src/mito2/src/access_layer.rs
  src/mito2/src/compaction/twcs.rs
  src/mito2/src/flush.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/writer.rs
Labels: Size: S, Doc not needed

#3118 chore(python): Print Python interpreter version
  src/script/src/python/ffi_types/vector/tests.rs
  src/script/src/python/pyo3/utils.rs
  src/script/src/python/rspython/copr_impl.rs
Labels: Size: S, Doc not needed

#3120 chore(remote_wal): remove topic alias
  src/common/config/src/wal.rs
  src/common/config/src/wal/kafka.rs
  src/common/meta/src/wal.rs
  src/common/meta/src/wal/kafka.rs
  src/common/meta/src/wal/kafka/topic.rs
  src/common/meta/src/wal/kafka/topic_manager.rs
  src/common/meta/src/wal/kafka/topic_selector.rs
  src/log-store/src/error.rs
  src/log-store/src/kafka.rs
  src/log-store/src/kafka/client_manager.rs
  src/log-store/src/kafka/log_store.rs
  src/log-store/src/test_util/kafka.rs
Labels: Size: S, Doc not needed

#3122 chore: change the default doc checkbox to no need
  .github/pull_request_template.md
Labels: Doc not needed, size/xs

#3121 fix: expose unsupported datatype error on mysql protocol
  src/servers/src/error.rs
  src/servers/src/mysql/writer.rs
  src/servers/src/postgres/types.rs
Labels: Size: S, Doc not needed

#3107 feat(inverted_index): introduce SstIndexCreator
  src/index/src/inverted_index/create.rs
  src/index/src/inverted_index/create/sort.rs
  src/index/src/inverted_index/error.rs
  src/mito2/src/error.rs
  src/mito2/src/metrics.rs
  src/mito2/src/row_converter.rs
  src/mito2/src/sst/index.rs
  src/mito2/src/sst/index/applier/builder.rs
  src/mito2/src/sst/index/applier/builder/between.rs
  src/mito2/src/sst/index/applier/builder/comparison.rs
  src/mito2/src/sst/index/applier/builder/eq_list.rs
  src/mito2/src/sst/index/applier/builder/in_list.rs
  src/mito2/src/sst/index/applier/builder/regex_match.rs
  src/mito2/src/sst/index/codec.rs
  src/mito2/src/sst/index/creator.rs
  src/mito2/src/sst/index/creator/statistics.rs
  src/mito2/src/sst/index/creator/temp_provider.rs
  src/mito2/src/sst/index/store.rs
  src/mito2/src/sst/location.rs
Labels: Size: L, Doc not needed

#3123 feat: update our cross schema check to cross catalog
  src/catalog/src/table_source.rs
  src/frontend/src/instance.rs
  src/query/src/datafusion/planner.rs
  src/query/src/planner.rs
  src/query/src/query_engine/options.rs
  src/query/src/query_engine/state.rs
  src/query/src/tests/query_engine_test.rs
Labels: Size: S, cloud followup required, Doc not needed

#3126 refactor: refactor the locks in the procedure
  src/common/catalog/src/lib.rs
  src/common/meta/src/ddl/alter_table.rs
  src/common/meta/src/ddl/create_table.rs
  src/common/meta/src/ddl/drop_table.rs
  src/common/meta/src/ddl/truncate_table.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/lib.rs
  src/common/meta/src/lock_key.rs
  src/common/procedure/src/lib.rs
  src/meta-srv/src/procedure/region_failover.rs
  src/meta-srv/src/procedure/region_migration.rs
  src/meta-srv/src/procedure/utils.rs
Labels: Size: M, Doc not needed

#3129 feat: expose the region migration `replay_timeout` argument
  Cargo.lock
  src/meta-srv/Cargo.toml
  src/meta-srv/src/error.rs
  src/meta-srv/src/procedure/region_migration.rs
  src/meta-srv/src/procedure/region_migration/downgrade_leader_region.rs
  src/meta-srv/src/procedure/region_migration/manager.rs
  src/meta-srv/src/procedure/region_migration/test_util.rs
  src/meta-srv/src/procedure/region_migration/upgrade_candidate_region.rs
  src/meta-srv/src/service/admin/region_migration.rs
  tests-integration/tests/region_migration.rs
Labels: Size: S, Doc not needed

#3132 chore: stop exposing num_partitions
  config/metasrv.example.toml
  config/standalone.example.toml
  src/common/meta/src/wal.rs
Labels: Doc not needed, size/xs

#3127 feat: adds runtime_metrics
  Cargo.lock
  src/catalog/Cargo.toml
  src/catalog/src/information_schema.rs
  src/catalog/src/information_schema/runtime_metrics.rs
  src/catalog/src/information_schema/table_names.rs
  src/common/catalog/src/consts.rs
  tests/cases/standalone/common/show/show_databases_tables.result
  tests/cases/standalone/common/system/information_schema.result
  tests/cases/standalone/common/system/information_schema.sql
Labels: Doc update required, Size: L

#3133 refactor: implement version as built-in function and use fixed mysql version
  src/common/function/src/system.rs
  src/common/function/src/system/version.rs
  src/servers/src/mysql/federated.rs
  tests/cases/standalone/common/function/system.result
  tests/cases/standalone/common/function/system.sql
Labels: Size: S, Doc not needed

#3135 fix: incorrect parsing `broker_endpoints` env variable
  src/cmd/src/metasrv.rs
  src/cmd/src/standalone.rs
  src/datanode/src/config.rs
  src/meta-srv/src/metasrv.rs
Labels: Size: S, Doc not needed

#3134 refactor: change how frontend grpc services are orchestrated
  Cargo.lock
  src/cmd/src/frontend.rs
  src/cmd/src/standalone.rs
  src/common/test-util/Cargo.toml
  src/common/test-util/src/lib.rs
  src/common/test-util/src/recordbatch.rs
  src/frontend/src/instance.rs
  src/frontend/src/lib.rs
  src/frontend/src/server.rs
  src/servers/src/grpc.rs
  src/servers/src/grpc/builder.rs
  tests-integration/src/test_util.rs
  tests-integration/src/tests/instance_test.rs
  tests-integration/tests/region_failover.rs
  tests-integration/tests/region_migration.rs
Labels: Size: M, Doc not needed

#3106 feat: write and upload sst
  src/mito2/src/cache/file_cache.rs
  src/mito2/src/cache/test_util.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/error.rs
  src/mito2/src/metrics.rs
  src/mito2/src/sst.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/test_util/sst_util.rs
Labels: Size: M, Doc not needed

#3137 fix: save code in `debug_assert!`
  src/meta-srv/src/procedure/region_migration/update_metadata/downgrade_leader_region.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/rollback_downgraded_region.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/upgrade_candidate_region.rs
Labels: Size: S, Doc not needed

#3130 feat(parquet): introduce inverted index applier to reader
  Cargo.lock
  Cargo.toml
  src/index/src/inverted_index/search/index_apply.rs
  src/mito2/src/access_layer.rs
  src/mito2/src/compaction/test_util.rs
  src/mito2/src/compaction/twcs.rs
  src/mito2/src/engine/basic_test.rs
  src/mito2/src/error.rs
  src/mito2/src/flush.rs
  src/mito2/src/manifest/tests/checkpoint.rs
  src/mito2/src/metrics.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/request.rs
  src/mito2/src/sst/file.rs
  src/mito2/src/sst/file_purger.rs
  src/mito2/src/sst/index/applier.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/format.rs
  src/mito2/src/sst/parquet/reader.rs
  src/mito2/src/sst/parquet/stats.rs
  src/mito2/src/sst/parquet/writer.rs
  src/mito2/src/sst/version.rs
  src/mito2/src/test_util/sst_util.rs
  src/mito2/src/test_util/version_util.rs
Labels: Size: M, Doc not needed

#3142 fix: remove incorrect wal comments in config file
  config/datanode.example.toml
Labels: Doc not needed

#3136 feat: handle drop request for metric table
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/key.rs
  src/common/meta/src/kv_backend.rs
  src/metric-engine/src/engine.rs
  src/metric-engine/src/engine/create.rs
  src/metric-engine/src/engine/drop.rs
  src/metric-engine/src/engine/state.rs
  src/metric-engine/src/error.rs
  src/metric-engine/src/metadata_region.rs
  tests/cases/standalone/common/create/create_metric_table.result
  tests/cases/standalone/common/create/create_metric_table.sql
  tests/cases/standalone/common/insert/logical_metric_table.result
  tests/cases/standalone/common/insert/logical_metric_table.sql
Labels: Size: M, Doc not needed

#3143 feat: manager kafka cluster in sqlness runner
  tests/README.md
  tests/conf/kafka-cluster.yml
  tests/runner/src/env.rs
  tests/runner/src/main.rs
  tests/runner/src/util.rs
Labels: Size: M, Doc not needed

#3128 feat: read data from write cache
  src/mito2/src/cache/file_cache.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/helper.rs
  src/mito2/src/sst/parquet/row_group.rs
Labels: Size: M, Doc not needed

#3124 feat: support PromQL operations over the same metric
  src/promql/src/planner.rs
  tests-integration/src/tests/promql_test.rs
  tests/cases/standalone/common/tql/binary_operator.result
  tests/cases/standalone/common/tql/binary_operator.sql
  tests/cases/standalone/common/tql/join.result
Labels: Size: M, Doc not needed

#3144 feat(mito): support write cache for index file
  src/mito2/src/access_layer.rs
  src/mito2/src/cache/file_cache.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/error.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/sst/index/applier.rs
  src/mito2/src/sst/index/applier/builder.rs
  src/mito2/src/sst/index/applier/builder/between.rs
  src/mito2/src/sst/index/applier/builder/comparison.rs
  src/mito2/src/sst/index/applier/builder/eq_list.rs
  src/mito2/src/sst/index/applier/builder/in_list.rs
  src/mito2/src/sst/index/applier/builder/regex_match.rs
  src/mito2/src/sst/parquet/reader.rs
  src/mito2/src/sst/parquet/row_group.rs
Labels: Size: M, Doc not needed

#3148 fix(kafka): overwrite the EntryId with Offset while consuming records
  src/log-store/src/kafka/log_store.rs
Labels: Size: S, Chaos, Doc not needed, E2E

#3146 fix: print detailed error
  src/common/meta/src/ddl/alter_table.rs
  src/common/meta/src/ddl/utils.rs
  src/meta-srv/src/error.rs
  src/meta-srv/src/procedure/region_failover.rs
  src/meta-srv/src/procedure/region_failover/failover_start.rs
  src/meta-srv/src/procedure/region_failover/update_metadata.rs
  src/meta-srv/src/procedure/region_migration.rs
  src/meta-srv/src/procedure/region_migration/downgrade_leader_region.rs
  src/meta-srv/src/procedure/region_migration/open_candidate_region.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/downgrade_leader_region.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/rollback_downgraded_region.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/upgrade_candidate_region.rs
  src/meta-srv/src/procedure/region_migration/upgrade_candidate_region.rs
  src/meta-srv/src/procedure/utils.rs
Labels: Size: M, Chaos, Doc not needed

#3149 fix: fix store all wal options
  src/common/meta/src/key/datanode_table.rs
Labels: Size: S, Chaos, Doc not needed, E2E

#3145 fix: handle non-identical time index and field column in PromQL set operation
  src/promql/src/error.rs
  src/promql/src/extension_plan/union_distinct_on.rs
  src/promql/src/planner.rs
  tests/cases/standalone/common/promql/set_operation.result
  tests/cases/standalone/common/promql/set_operation.sql
Labels: Size: M, Doc not needed

#3154 chore: bump version to 0.6.0
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
Labels: Doc not needed, size/xs

#3155 fix: fix tests failed on windows
  src/metric-engine/src/engine/create.rs
  src/object-store/src/util.rs
Labels: Size: S, Doc not needed

#3147 feat: add modulo function
  src/common/function/src/scalars/math.rs
  src/common/function/src/scalars/math/modulo.rs
  tests/cases/standalone/common/function/arithmetic.result
  tests/cases/standalone/common/function/arithmetic.sql
Labels: Size: M

#3160 refactor: make grpc service able to be added dynamically
  Cargo.lock
  Cargo.toml
  benchmarks/Cargo.toml
  src/cmd/Cargo.toml
  src/cmd/src/datanode.rs
  src/cmd/src/lib.rs
  src/datanode/src/datanode.rs
  src/datanode/src/lib.rs
  src/datanode/src/service.rs
  src/frontend/src/server.rs
  src/servers/src/grpc.rs
  src/servers/src/grpc/builder.rs
  tests-integration/Cargo.toml
  tests-integration/src/cluster.rs
  tests-integration/src/test_util.rs
  tests/runner/Cargo.toml
Labels: Size: L, Doc not needed

#3158 feat(mito): enable inverted index
  config/datanode.example.toml
  config/standalone.example.toml
  src/datanode/src/config.rs
  src/datanode/src/datanode.rs
  src/index/src/inverted_index/create.rs
  src/index/src/lib.rs
  src/mito2/src/access_layer.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/compaction.rs
  src/mito2/src/compaction/twcs.rs
  src/mito2/src/config.rs
  src/mito2/src/engine.rs
  src/mito2/src/engine/basic_test.rs
  src/mito2/src/flush.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/sst/file_purger.rs
  src/mito2/src/sst/index.rs
  src/mito2/src/sst/index/creator.rs
  src/mito2/src/sst/index/creator/temp_provider.rs
  src/mito2/src/sst/index/intermediate.rs
  src/mito2/src/sst/location.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/writer.rs
  src/mito2/src/test_util.rs
  src/mito2/src/test_util/scheduler_util.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_catchup.rs
  src/mito2/src/worker/handle_create.rs
  src/mito2/src/worker/handle_open.rs
  tests-integration/tests/http.rs
  tests/cases/standalone/common/insert/logical_metric_table.result
  tests/cases/standalone/common/insert/logical_metric_table.sql
  tests/runner/src/env.rs
Labels: Doc update required, Size: XL

#3157 feat: upgrade pgwire to 0.19
  Cargo.lock
  src/servers/Cargo.toml
  src/servers/src/postgres/auth_handler.rs
  src/servers/src/postgres/handler.rs
  src/servers/src/postgres/types.rs
Labels: Size: S, Doc not needed

#3163 test: engine with write cache
  src/datatypes/src/types/duration_type.rs
  src/datatypes/src/types/primitive_type.rs
  src/datatypes/src/vectors/decimal.rs
  src/datatypes/src/vectors/helper.rs
  src/datatypes/src/vectors/interval.rs
  src/mito2/src/cache.rs
  src/mito2/src/cache/file_cache.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/config.rs
  src/mito2/src/engine/basic_test.rs
  src/mito2/src/sst/parquet.rs
  src/operator/src/req_convert/insert/stmt_to_region.rs
Labels: Size: M, Doc not needed

#3169 docs: add tracking issue for inverted-index RFC
  docs/rfcs/2023-11-03-inverted-index.md
Labels: Doc not needed, size/xs

#3168 docs: Update README.md
  README.md
Labels: Size: S, Doc not needed

#3170 feat: let tables API return a stream
  src/catalog/src/error.rs
  src/catalog/src/kvbackend/manager.rs
  src/common/meta/src/key/table_name.rs
  src/meta-srv/src/error.rs
  src/meta-srv/src/service/admin/meta.rs
Labels: Size: S, Doc not needed

#3173 feat: add tests-fuzz crate
  Cargo.lock
  Cargo.toml
  tests-fuzz/Cargo.toml
  tests-fuzz/src/context.rs
  tests-fuzz/src/executor.rs
  tests-fuzz/src/generator.rs
  tests-fuzz/src/lib.rs
  tests-fuzz/src/table_creator.rs
  tests-fuzz/src/translator.rs
Labels: Size: M, Doc not needed

#3180 feat: tables stream with CatalogManager
  src/catalog/src/information_schema/columns.rs
  src/catalog/src/information_schema/tables.rs
  src/catalog/src/kvbackend/manager.rs
  src/catalog/src/lib.rs
  src/catalog/src/memory/manager.rs
Labels: Size: M, Doc not needed

#3176 chore: expose promql test to distributed instance
  tests-integration/src/tests/promql_test.rs
Labels: Size: S, Doc not needed

#3167 feat: adds date_format function
  src/common/function/src/function.rs
  src/common/function/src/scalars/date.rs
  src/common/function/src/scalars/date/date_format.rs
  src/common/function/src/scalars/expression/ctx.rs
  src/common/function/src/scalars/udf.rs
  src/common/query/src/error.rs
  src/common/time/src/date.rs
  src/common/time/src/datetime.rs
  src/common/time/src/error.rs
  src/common/time/src/time.rs
  src/common/time/src/timestamp.rs
  src/common/time/src/timezone.rs
  src/datatypes/src/value.rs
  src/servers/src/mysql/writer.rs
  src/session/src/context.rs
  src/session/src/lib.rs
  tests/cases/standalone/common/function/date.result
  tests/cases/standalone/common/function/date.sql
Labels: Doc update required, Size: L

#3181 refactor: remove TableEngine
  src/catalog/src/kvbackend.rs
  src/catalog/src/kvbackend/mock.rs
  src/common/grpc-expr/src/insert.rs
  src/common/grpc-expr/src/util.rs
  src/common/meta/src/ddl/alter_table.rs
  src/common/meta/src/ddl/create_table.rs
  src/common/meta/src/ddl/drop_table.rs
  src/common/meta/src/ddl/truncate_table.rs
  src/common/meta/src/key/table_info.rs
  src/common/meta/src/rpc/ddl.rs
  src/common/meta/src/table_name.rs
  src/operator/src/expr_factory.rs
  src/operator/src/insert.rs
  src/operator/src/statement.rs
  src/operator/src/statement/copy_table_from.rs
  src/operator/src/statement/copy_table_to.rs
  src/table/src/engine.rs
  src/table/src/error.rs
  src/table/src/lib.rs
  src/table/src/requests.rs
  src/table/src/table_reference.rs
  src/table/src/test_util.rs
  src/table/src/test_util/mock_engine.rs
Labels: Size: L, Doc not needed

#3184 fix: change back `GREPTIME_DB_HEADER_NAME` header key name
  src/servers/src/http/header.rs
Labels: Doc not needed, size/xs

#3179 refactor: expose region edit in mito engine
  Cargo.lock
  src/client/src/client.rs
  src/cmd/Cargo.toml
  src/cmd/src/datanode.rs
  src/cmd/src/error.rs
  src/datanode/src/region_server.rs
  src/mito2/src/access_layer.rs
  src/mito2/src/engine.rs
  src/mito2/src/region.rs
  src/mito2/src/request.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_flush.rs
Labels: Size: M, Doc not needed

#3165 feat: auto config cache size according to memory size
  Cargo.lock
  Cargo.toml
  src/common/base/src/readable_size.rs
  src/common/config/Cargo.toml
  src/common/config/src/lib.rs
  src/common/config/src/utils.rs
  src/mito2/Cargo.toml
  src/mito2/src/config.rs
  tests-integration/Cargo.toml
  tests-integration/tests/http.rs
Labels: Size: M, Doc not needed

#3178 feat: precise filter for mito parquet reader
  Cargo.lock
  src/common/recordbatch/Cargo.toml
  src/common/recordbatch/src/error.rs
  src/common/recordbatch/src/filter.rs
  src/common/recordbatch/src/lib.rs
  src/mito2/src/engine/prune_test.rs
  src/mito2/src/error.rs
  src/mito2/src/metrics.rs
  src/mito2/src/read.rs
  src/mito2/src/read/projection.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/format.rs
  src/mito2/src/sst/parquet/reader.rs
  src/mito2/src/test_util.rs
  src/mito2/src/test_util/sst_util.rs
  src/store-api/src/metadata.rs
  src/table/src/predicate.rs
Labels: Size: L, Doc not needed

#3192 fix(index): S3 `EntityTooSmall` error
  src/mito2/src/access_layer.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/compaction/twcs.rs
  src/mito2/src/config.rs
  src/mito2/src/flush.rs
  src/mito2/src/sst/index.rs
  src/mito2/src/sst/index/creator.rs
  src/mito2/src/sst/index/intermediate.rs
  src/mito2/src/sst/index/store.rs
  src/mito2/src/sst/parquet/reader.rs
  src/mito2/src/worker.rs
  tests-integration/tests/http.rs
Labels: Doc update required, Size: M

#3156 docs: update SDK links in README.md
  README.md
Labels: Doc not needed, size/xs

#3193 feat: adds parse options for SQL parser
  src/cmd/src/cli/repl.rs
  src/datanode/src/region_server.rs
  src/frontend/src/instance.rs
  src/operator/src/expr_factory.rs
  src/operator/src/statement/ddl.rs
  src/operator/src/statement/tql.rs
  src/query/src/datafusion.rs
  src/query/src/parser.rs
  src/query/src/range_select/plan_rewrite.rs
  src/query/src/sql.rs
  src/query/src/tests.rs
  src/query/src/tests/query_engine_test.rs
  src/script/src/engine.rs
  src/script/src/python/engine.rs
  src/script/src/python/ffi_types/copr.rs
  src/script/src/python/pyo3/copr_impl.rs
  src/script/src/python/rspython/copr_impl.rs
  src/script/src/python/rspython/test.rs
  src/servers/src/grpc/greptime_handler.rs
  src/servers/src/http/authorize.rs
  src/servers/src/mysql/handler.rs
  src/servers/src/mysql/helper.rs
  src/servers/src/postgres/handler.rs
  src/servers/tests/mod.rs
  src/session/src/context.rs
  src/session/src/lib.rs
  src/sql/src/parser.rs
  src/sql/src/parsers/alter_parser.rs
  src/sql/src/parsers/copy_parser.rs
  src/sql/src/parsers/create_parser.rs
  src/sql/src/parsers/delete_parser.rs
  src/sql/src/parsers/describe_parser.rs
  src/sql/src/parsers/drop_parser.rs
  src/sql/src/parsers/explain_parser.rs
  src/sql/src/parsers/insert_parser.rs
  src/sql/src/parsers/query_parser.rs
  src/sql/src/parsers/set_var_parser.rs
  src/sql/src/parsers/show_parser.rs
  src/sql/src/parsers/tql_parser.rs
  src/sql/src/parsers/truncate_parser.rs
  src/sql/src/statements/create.rs
  src/sql/src/statements/describe.rs
  src/sql/src/statements/insert.rs
  src/sql/src/statements/query.rs
  src/sql/src/statements/show.rs
  src/sql/src/statements/transform/type_alias.rs
  tests-integration/src/grpc.rs
  tests-integration/src/instance.rs
  tests-integration/src/tests/promql_test.rs
Labels: Size: L, Doc not needed

#3182 feat(tests-fuzz): add CreateTableExprGenerator & AlterTableExprGenerator
  Cargo.lock
  src/partition/src/partition.rs
  tests-fuzz/Cargo.toml
  tests-fuzz/src/context.rs
  tests-fuzz/src/error.rs
  tests-fuzz/src/generator.rs
  tests-fuzz/src/generator/alter_expr.rs
  tests-fuzz/src/generator/create_expr.rs
  tests-fuzz/src/ir.rs
  tests-fuzz/src/ir/alter_expr.rs
  tests-fuzz/src/ir/create_expr.rs
  tests-fuzz/src/lib.rs
Labels: Size: L, Doc not needed

#3197 refactor: reduce number of parquet metadata reads and enable reader buffer
  src/operator/src/error.rs
  src/operator/src/statement/copy_table_from.rs
Labels: Size: M, Doc not needed

#3201 feat: make procedure able to return output
  src/common/meta/src/ddl/alter_table.rs
  src/common/meta/src/ddl/create_table.rs
  src/common/meta/src/ddl/drop_table.rs
  src/common/meta/src/ddl/truncate_table.rs
  src/common/procedure-test/src/lib.rs
  src/common/procedure/src/local.rs
  src/common/procedure/src/local/runner.rs
  src/common/procedure/src/procedure.rs
  src/common/procedure/src/watcher.rs
  src/meta-srv/src/procedure/region_failover/failover_end.rs
  src/meta-srv/src/procedure/region_migration.rs
  src/meta-srv/src/procedure/region_migration/migration_end.rs
  src/meta-srv/src/procedure/region_migration/migration_start.rs
  src/meta-srv/src/procedure/region_migration/test_util.rs
  src/meta-srv/src/procedure/region_migration/update_metadata.rs
  src/meta-srv/src/procedure/tests.rs
Labels: Size: M, Doc not needed

#3199 refactor: read parquet metadata
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/metadata.rs
  src/mito2/src/sst/parquet/reader.rs
Labels: Size: M, Doc not needed

#3209 chore: bump opendal to v0.44.2
  Cargo.lock
Labels: Doc not needed, size/xs

#3164 feat: copy database from
  Cargo.lock
  src/frontend/src/instance.rs
  src/operator/Cargo.toml
  src/operator/src/error.rs
  src/operator/src/statement.rs
  src/operator/src/statement/backup.rs
  src/operator/src/statement/copy_database.rs
  src/operator/src/statement/copy_table_to.rs
  src/sql/src/parsers/copy_parser.rs
  src/sql/src/statements/copy.rs
  tests/cases/standalone/common/copy/copy_database_from_fs_parquet.result
  tests/cases/standalone/common/copy/copy_database_from_fs_parquet.sql
Labels: Documentation, Enhancement, Doc update required, Size: L

#3208 feat: introduce information schema provider cache
  src/catalog/src/kvbackend/manager.rs
Labels: Size: S, Doc not needed

#3210 feat: lazy initialize vector builder on write
  src/datatypes/src/vectors.rs
  src/mito2/src/memtable/time_series.rs
Labels: Size: S, Doc not needed

#3213 fix: remove __name__ matcher from processed matcher list
  src/promql/src/planner.rs
  tests/cases/standalone/common/tql/basic.result
  tests/cases/standalone/common/tql/basic.sql
Labels: Size: S, Doc not needed

#3211 chore: change default factor to compute memory size
  config/datanode.example.toml
  config/standalone.example.toml
  src/mito2/src/config.rs
Labels: Size: S, Doc not needed

#3175 feat: make query be aware of timezone setting
  Cargo.lock
  src/cmd/src/cli/repl.rs
  src/common/function/Cargo.toml
  src/common/function/src/function.rs
  src/common/function/src/scalars/date/date_format.rs
  src/common/function/src/scalars/timestamp/greatest.rs
  src/common/function/src/scalars/timestamp/to_unixtime.rs
  src/common/function/src/scalars/udf.rs
  src/common/query/src/logical_plan.rs
  src/common/query/src/logical_plan/udf.rs
  src/common/time/src/date.rs
  src/common/time/src/datetime.rs
  src/common/time/src/timestamp.rs
  src/common/time/src/util.rs
  src/datanode/src/tests.rs
  src/datatypes/src/types/cast.rs
  src/datatypes/src/types/date_type.rs
  src/datatypes/src/types/datetime_type.rs
  src/datatypes/src/types/timestamp_type.rs
  src/datatypes/src/value.rs
  src/frontend/src/instance.rs
  src/operator/src/statement.rs
  src/query/src/datafusion.rs
  src/query/src/datafusion/planner.rs
  src/query/src/error.rs
  src/query/src/logical_optimizer.rs
  src/query/src/optimizer.rs
  src/query/src/optimizer/type_conversion.rs
  src/query/src/parser.rs
  src/query/src/planner.rs
  src/query/src/query_engine.rs
  src/query/src/query_engine/context.rs
  src/query/src/query_engine/state.rs
  src/query/src/range_select/plan_rewrite.rs
  src/query/src/tests.rs
  src/script/src/python/engine.rs
  src/servers/src/mysql/federated.rs
  src/servers/tests/mod.rs
  src/sql/src/statements.rs
  src/table/src/predicate.rs
  tests/cases/standalone/common/system/timezone.result
  tests/cases/standalone/common/system/timezone.sql
  tests/cases/standalone/common/types/timestamp/timestamp.result
  tests/cases/standalone/common/types/timestamp/timestamp.sql
  tests/runner/src/env.rs
Labels: Doc update required, Size: XL

#3198 feat!: switch prom remote write to metric engine
  config/frontend.example.toml
  config/standalone.example.toml
  src/common/query/src/prelude.rs
  src/frontend/src/instance/grpc.rs
  src/frontend/src/instance/prom_store.rs
  src/frontend/src/server.rs
  src/frontend/src/service_config/prom_store.rs
  src/operator/src/insert.rs
  src/servers/src/error.rs
  src/servers/src/export_metrics.rs
  src/servers/src/http.rs
  src/servers/src/http/authorize.rs
  src/servers/src/http/header.rs
  src/servers/src/http/prom_store.rs
  src/servers/src/query_handler.rs
  src/servers/tests/http/prom_store_test.rs
  src/session/src/context.rs
  tests-integration/src/prom_store.rs
  tests-integration/tests/http.rs
Labels: Size: M, Breaking change, Doc not needed

#3203 feat: add create alter table expr translator
  Cargo.lock
  tests-fuzz/Cargo.toml
  tests-fuzz/src/context.rs
  tests-fuzz/src/data/lorem_words
  tests-fuzz/src/fake.rs
  tests-fuzz/src/generator.rs
  tests-fuzz/src/generator/alter_expr.rs
  tests-fuzz/src/generator/create_expr.rs
  tests-fuzz/src/ir.rs
  tests-fuzz/src/ir/alter_expr.rs
  tests-fuzz/src/ir/create_expr.rs
  tests-fuzz/src/lib.rs
  tests-fuzz/src/translator.rs
  tests-fuzz/src/translator/greptime.rs
  tests-fuzz/src/translator/greptime/alter_expr.rs
  tests-fuzz/src/translator/greptime/create_expr.rs
  typos.toml
Labels: Size: XL, Doc not needed

#3217 fix: fix default value cannot accept negative number
  src/sql/src/statements.rs
  tests/cases/standalone/common/create/create.result
  tests/cases/standalone/common/create/create.sql
  tests/cases/standalone/common/insert/insert.result
  tests/cases/standalone/common/insert/insert.sql
Labels: Size: S, Doc not needed

#3216 refactor!: rename initialize_region_in_background to init_regions_in_background
  config/datanode.example.toml
  src/datanode/src/config.rs
  src/datanode/src/datanode.rs
  tests-integration/tests/http.rs
Labels: Size: S, Breaking change, Doc not needed

#3222 feat: read column and region info from state cache
  src/metric-engine/src/engine/put.rs
  src/metric-engine/src/engine/state.rs
Labels: Size: S, Doc not needed

#3214 feat: enable concurrent write
  src/common/datasource/src/buffered_writer.rs
  src/common/datasource/src/file_format.rs
  src/common/datasource/src/file_format/csv.rs
  src/common/datasource/src/file_format/json.rs
  src/common/datasource/src/file_format/parquet.rs
  src/common/datasource/src/lib.rs
  src/common/datasource/src/test_util.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/sst.rs
  src/mito2/src/sst/parquet/writer.rs
  src/operator/src/statement/copy_table_to.rs
Labels: Size: S, Doc not needed

#3223 fix: only register region keeper while creating physical table
  src/common/meta/src/ddl/create_table.rs
  tests-integration/src/cluster.rs
Labels: Size: S, Doc not needed

#3225 refactor: make http server built flexibly
  Cargo.lock
  Cargo.toml
  src/cmd/src/frontend.rs
  src/cmd/src/lib.rs
  src/cmd/src/standalone.rs
  src/datanode/Cargo.toml
  src/frontend/src/instance.rs
  src/frontend/src/instance/builder.rs
  src/frontend/src/server.rs
  src/mito2/src/lib.rs
  src/servers/Cargo.toml
  src/servers/src/grpc/builder.rs
  src/servers/src/http.rs
  src/servers/tests/http/http_test.rs
  src/servers/tests/http/influxdb_test.rs
  src/servers/tests/http/opentsdb_test.rs
  src/servers/tests/http/prom_store_test.rs
  tests-integration/Cargo.toml
  tests-integration/src/test_util.rs
Labels: Size: L, Doc not needed

#3177 feat: add Arrow IPC output format for http rest api
  Cargo.lock
  Cargo.toml
  src/servers/Cargo.toml
  src/servers/src/error.rs
  src/servers/src/http.rs
  src/servers/src/http/arrow_result.rs
  src/servers/src/http/handler.rs
Labels: Size: M, Doc not needed

#3219 feat: change Range Query’s default align behavior aware of timezone
  src/common/time/src/timezone.rs
  src/query/src/range_select/plan_rewrite.rs
  tests/cases/standalone/common/range/to.result
  tests/cases/standalone/common/range/to.sql
Labels: Doc update required, Size: M

#3227 fix: security update for shlex and h2
  Cargo.lock
Labels: Doc not needed, size/xs

#3237 feat: http sql api return schema on empty resultset
  src/catalog/Cargo.toml
  src/servers/src/http.rs
  src/servers/src/http/handler.rs
  tests-integration/tests/http.rs
Labels: Size: M, Doc not needed

#3234 ci: make git's "safe.directory" accept all
  docker/dev-builder/ubuntu/Dockerfile
Labels: Size: S, Doc not needed

#3241 ci: adding `DOCKER_BUILD_ROOT` docker arg for dev build
  docker/ci/ubuntu/Dockerfile
Labels: Doc not needed, size/xs

#3224 feat: read metadata from write cache
  src/mito2/src/cache.rs
  src/mito2/src/cache/file_cache.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/reader.rs
  src/mito2/src/test_util.rs
  src/mito2/src/test_util/sst_util.rs
Labels: Size: M, Doc not needed

#3232 fix: fix create table ddl return incorrect table id
  src/common/meta/src/ddl/create_table.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/error.rs
  src/common/procedure/src/lib.rs
  src/common/procedure/src/procedure.rs
  src/common/procedure/src/watcher.rs
Labels: Size: S, Doc not needed

#3242 fix: init parquet reader metrics twice
  src/mito2/src/sst/parquet/reader.rs
Labels: Doc not needed, size/xs

#3194 feat: batch create ddl
  Cargo.lock
  Cargo.toml
  src/common/meta/src/ddl.rs
  src/common/meta/src/ddl/create_logical_tables.rs
  src/common/meta/src/ddl/create_table.rs
  src/common/meta/src/ddl/create_table_template.rs
  src/common/meta/src/ddl/table_meta.rs
  src/common/meta/src/ddl/utils.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/error.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/table_name.rs
  src/common/meta/src/key/table_route.rs
  src/common/meta/src/metrics.rs
  src/common/meta/src/rpc/ddl.rs
  src/common/meta/src/rpc/store.rs
  src/meta-srv/src/procedure/tests.rs
  src/operator/src/error.rs
  src/operator/src/metrics.rs
  src/operator/src/statement/ddl.rs
  src/store-api/src/region_request.rs
Labels: Size: XL, Doc not needed

#3239 feat: return request outdated error on handling alter
  src/common/error/src/status_code.rs
  src/common/meta/src/ddl/alter_table.rs
  src/metric-engine/src/data_region.rs
  src/metric-engine/src/engine/create.rs
  src/mito2/src/engine/alter_test.rs
  src/mito2/src/error.rs
  src/mito2/src/worker/handle_alter.rs
  src/servers/src/error.rs
Labels: Size: M, Doc not needed

#3243 feat: don't map semantic type in metric engine
  src/metric-engine/src/data_region.rs
  src/metric-engine/src/engine/put.rs
Labels: Size: S, Doc not needed

#3185 docs: RFC of Dataflow Framework
  docs/rfcs/2024-01-17-dataflow-framework.md
Labels: Size: S, Doc not needed

#3245 test: align chrono and some forked test deps to upstream
  Cargo.lock
  src/common/time/src/timestamp.rs
  src/servers/Cargo.toml
  tests/cases/standalone/common/timestamp/timestamp.result
  tests/cases/standalone/common/timestamp/timestamp.sql
Labels: Size: S, Doc not needed

#3248 fix: IntermediateWriter closes underlying writer twice
  Cargo.lock
  src/index/Cargo.toml
  src/index/src/inverted_index/create/sort/intermediate_rw.rs
Labels: Size: S, Doc not needed

#3246 feat: create tables in batch on prom write
  src/common/meta/src/ddl/create_logical_tables.rs
  src/common/meta/src/rpc/ddl.rs
  src/operator/src/insert.rs
Labels: Size: M, Doc not needed

#3251 chore: adjust MySQL connection log
  src/servers/src/lib.rs
  src/servers/src/mysql/server.rs
Labels: Size: S, Doc not needed

#3252 ci: merge doc label actor and checker tasks
  .github/workflows/doc-label.yml
  .github/workflows/user-doc-label-checker.yml
Labels: Size: S, Doc not needed

#3253 fix: decouple columns in projection and prune
  src/mito2/src/sst/parquet/reader.rs
Labels: Size: S, Doc not needed

#3256 chore: switch to free machine
  .github/workflows/develop.yml
Labels: Doc not needed, size/xs

#3257 feat: Only allow inserts and deletes operations to be executed in parallel
  src/datanode/src/region_server.rs
Labels: Size: S, Doc not needed

#3261 chore: adjust storage engine related metrics
  src/metric-engine/src/engine/put.rs
  src/metric-engine/src/engine/read.rs
  src/metric-engine/src/metrics.rs
  src/mito2/src/metrics.rs
  src/servers/src/http/prom_store.rs
Labels: Size: S, Doc not needed

#3264 fix(Copy From): fix incorrect type casts
  Cargo.lock
  src/common/datasource/Cargo.toml
  src/common/datasource/src/file_format/orc.rs
  src/common/recordbatch/Cargo.toml
  src/common/recordbatch/src/adapter.rs
  src/operator/src/statement/copy_table_from.rs
Labels: Size: M, Doc not needed

#3263 feat: initial configuration for grafana dashboard
  .github/workflows/develop.yml
  .github/workflows/docs.yml
  README.md
  grafana/README.md
  grafana/greptimedb.json
Labels: Size: XL, Doc not needed

#3266 fix: SQL insertion and column default constraint aware of timezone
  src/frontend/src/instance.rs
  src/frontend/src/instance/grpc.rs
  src/operator/src/expr_factory.rs
  src/operator/src/insert.rs
  src/operator/src/req_convert/insert/stmt_to_region.rs
  src/operator/src/statement.rs
  src/operator/src/statement/ddl.rs
  src/operator/src/statement/describe.rs
  src/operator/src/table.rs
  src/sql/src/parsers/create_parser.rs
  src/sql/src/statements.rs
  tests/cases/standalone/common/alter/alter_table_default.result
  tests/cases/standalone/common/alter/alter_table_default.sql
  tests/cases/standalone/common/insert/insert_default_timezone.result
  tests/cases/standalone/common/insert/insert_default_timezone.sql
Labels: Size: L, Doc not needed

#3244 ci: build GreptimeDB binary for later use
  .github/actions/upload-artifacts/action.yml
  .github/workflows/develop.yml
  docker/dev-builder/ubuntu/Dockerfile
  tests/runner/src/env.rs
  tests/runner/src/main.rs
  tests/runner/src/util.rs
Labels: Size: M, Doc not needed

#3270 refactor: add same SST files
  src/mito2/src/sst/version.rs
Labels: Size: S, Doc not needed
