Repository GreptimeTeam/greptimedb, pull requests merged in 2024-03, with the labels that each got.

#3417 fix: show table names not complete from information_schema
  src/catalog/src/kvbackend/manager.rs
  tests/cases/standalone/common/show/show_databases_tables.result
  tests/cases/standalone/common/system/information_schema.result
Labels: Doc not needed

#3395 feat: add configuration for tls watch option
  config/frontend.example.toml
  config/standalone.example.toml
  src/frontend/src/server.rs
  src/servers/src/tls.rs
  src/servers/tests/mysql/mysql_server_test.rs
  src/servers/tests/postgres/mod.rs
  tests-integration/tests/http.rs
Labels: Doc update required

#3410 feat: employ sparse key encoding for shard lookup
  Cargo.lock
  src/mito2/Cargo.toml
  src/mito2/benches/bench_merge_tree.rs
  src/mito2/benches/merge_tree_bench.rs
  src/mito2/src/memtable/merge_tree/data.rs
  src/mito2/src/memtable/merge_tree/merger.rs
  src/mito2/src/memtable/merge_tree/partition.rs
  src/mito2/src/memtable/merge_tree/shard.rs
  src/mito2/src/memtable/merge_tree/shard_builder.rs
  src/mito2/src/memtable/merge_tree/tree.rs
  src/mito2/src/test_util/memtable_util.rs
Labels: Doc not needed

#3418 fix: mitigate memory spike during startup
  src/mito2/src/region/opener.rs
Labels: Doc not needed

#3372 feat: support `Create Table ... Like`
  src/frontend/src/instance.rs
  src/operator/src/expr_factory.rs
  src/operator/src/statement.rs
  src/operator/src/statement/ddl.rs
  src/operator/src/statement/show.rs
  src/query/src/sql.rs
  src/session/src/context.rs
  src/sql/src/parser.rs
  src/sql/src/parsers/create_parser.rs
  src/sql/src/statements/create.rs
  src/sql/src/statements/statement.rs
  tests/cases/standalone/common/create/create.result
  tests/cases/standalone/common/create/create.sql
Labels: Doc not needed

#3420 feat: tableref cache
  src/catalog/src/error.rs
  src/catalog/src/kvbackend/client.rs
  src/catalog/src/kvbackend/manager.rs
  src/common/meta/src/ddl_manager.rs
  src/servers/src/http/prom_store.rs
  src/servers/src/metrics.rs
  src/servers/src/prom_store.rs
  src/servers/src/row_writer.rs
Labels: Doc not needed

#3390 feat: add verbose support for tql explain/analyze
  src/operator/src/statement/tql.rs
  src/promql/src/planner.rs
  src/query/src/parser.rs
  src/sql/src/parsers/tql_parser.rs
  src/sql/src/statements/tql.rs
  tests/cases/distributed/tql-explain-analyze/analyze.result
  tests/cases/distributed/tql-explain-analyze/explain.result
  tests/cases/distributed/tql-explain-analyze/explain.sql
  tests/cases/standalone/common/tql-explain-analyze/analyze.result
  tests/cases/standalone/common/tql-explain-analyze/analyze.sql
  tests/cases/standalone/common/tql-explain-analyze/explain.result
  tests/cases/standalone/common/tql-explain-analyze/explain.sql
  tests/cases/standalone/tql-explain-analyze/analyze.result
  tests/cases/standalone/tql-explain-analyze/analyze.sql
  tests/cases/standalone/tql-explain-analyze/explain.result
Labels: Doc not needed

#3422 feat: reduce a clone of string
  src/servers/src/influxdb.rs
  src/servers/src/prom_store.rs
  src/servers/src/row_writer.rs
Labels: Doc not needed

#3421 docs: update pull_request_template.md
  .github/pull_request_template.md
Labels: Doc not needed

#3423 refactor: show tables and show databases
  src/catalog/src/information_schema.rs
  src/catalog/src/information_schema/schemata.rs
  src/catalog/src/information_schema/tables.rs
  src/operator/src/statement/show.rs
  src/query/src/datafusion.rs
  src/query/src/datafusion/planner.rs
  src/query/src/error.rs
  src/query/src/planner.rs
  src/query/src/sql.rs
  tests-integration/src/tests/instance_test.rs
  tests-integration/src/tests/test_util.rs
  tests/cases/standalone/common/catalog/schema.result
  tests/cases/standalone/common/catalog/schema.sql
  tests/cases/standalone/common/create/create_database.result
  tests/cases/standalone/common/show/show_databases_tables.result
Labels: Doc not needed

#3350 docs(rfcs): multi-dimension partition rule
  docs/rfcs/2024-02-21-multi-dimension-partition-rule/2d-example.png
  docs/rfcs/2024-02-21-multi-dimension-partition-rule/rfc.md
  docs/rfcs/2024-02-21-multi-dimension-partition-rule/sst-project.png
Labels: Doc not needed

#3426 feat: Correct server metrics and add more metrics for scan
  src/frontend/src/instance.rs
  src/frontend/src/instance/grpc.rs
  src/frontend/src/instance/script.rs
  src/frontend/src/metrics.rs
  src/mito2/src/engine.rs
  src/mito2/src/memtable/merge_tree/tree.rs
  src/mito2/src/metrics.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/seq_scan.rs
  src/promql/src/metrics.rs
  src/query/src/datafusion.rs
  src/query/src/dist_plan/merge_scan.rs
  src/query/src/lib.rs
  src/query/src/metrics.rs
  src/query/src/parser.rs
  src/servers/src/grpc.rs
  src/servers/src/http.rs
  src/servers/src/http/handler.rs
  src/servers/src/http/prometheus.rs
  src/servers/src/metrics.rs
  tests-integration/tests/http.rs
Labels: Doc not needed

#3431 ci: refine windows output env
  .github/workflows/release.yml
Labels: Doc not needed

#3428 fix: complete interceptors for all frontend entry
  src/frontend/src/instance/influxdb.rs
  src/frontend/src/instance/otlp.rs
  src/frontend/src/instance/prom_store.rs
  src/frontend/src/instance/script.rs
  src/servers/src/interceptor.rs
Labels: Doc not needed

#3425 feat: decode prom requests to grpc
  Cargo.lock
  src/frontend/src/instance/prom_store.rs
  src/servers/Cargo.toml
  src/servers/benches/bench_prom.rs
  src/servers/benches/prom_decode.rs
  src/servers/benches/write_request.pb.data
  src/servers/src/http/prom_store.rs
  src/servers/src/lib.rs
  src/servers/src/prom_row_builder.rs
  src/servers/src/prom_store.rs
  src/servers/src/proto.rs
  src/servers/src/query_handler.rs
  src/servers/src/repeated_field.rs
  src/servers/tests/http/prom_store_test.rs
Labels: Doc not needed

#3430 refactor: make MergeTreeMemtable the default choice
  Cargo.lock
  config/datanode.example.toml
  config/standalone.example.toml
  src/mito2/Cargo.toml
  src/mito2/src/config.rs
  src/mito2/src/memtable.rs
  src/mito2/src/memtable/merge_tree.rs
  src/mito2/src/worker.rs
  tests-integration/tests/http.rs
Labels: Doc not needed

#3409 feat: implement multi-dim partition rule
  Cargo.lock
  src/operator/src/error.rs
  src/operator/src/statement/ddl.rs
  src/operator/src/statement/show.rs
  src/operator/src/tests/partition_manager.rs
  src/partition/Cargo.toml
  src/partition/src/expr.rs
  src/partition/src/lib.rs
  src/partition/src/manager.rs
  src/partition/src/multi_dim.rs
  src/partition/src/partition.rs
  tests-fuzz/src/translator/mysql/create_expr.rs
  tests-integration/src/grpc.rs
  tests-integration/src/instance.rs
  tests-integration/src/tests/instance_test.rs
  tests-integration/tests/main.rs
  tests/cases/distributed/create/partition.result
  tests/cases/distributed/create/partition.sql
  tests/cases/standalone/common/partition.result
  tests/cases/standalone/common/partition.sql
  tests/cases/standalone/common/show/show_create.result
Labels: Doc not needed

#3433 chore: bump version to v0.7.0
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
Labels: Doc not needed

#3432 build(deps): upgrade opendal to 0.45.1
  Cargo.lock
  src/object-store/Cargo.toml
Labels: Doc not needed

#3437 fix: add support for influxdb basic auth
  src/servers/src/http/authorize.rs
  src/servers/tests/http/influxdb_test.rs
Labels: Doc not needed

#3440 chore: add bin opt to build cmd
  Makefile
Labels: Doc not needed

#3443 feat: impl some "set"s to adapt to some client apps
  src/operator/src/statement.rs
  src/servers/src/mysql/federated.rs
Labels: Doc not needed

#3449 chore: specify binary name
  .github/workflows/develop.yml
Labels: Doc not needed

#3450 feat: update dashboard to v0.4.8
  src/servers/dashboard/VERSION
Labels: Doc not needed

#3441 test: add fuzz test for create table
  .env.example
  .github/actions/fuzz-test/action.yaml
  .github/workflows/develop.yml
  .gitignore
  Cargo.lock
  tests-fuzz/Cargo.toml
  tests-fuzz/README.md
  tests-fuzz/src/error.rs
  tests-fuzz/src/generator.rs
  tests-fuzz/src/generator/alter_expr.rs
  tests-fuzz/src/generator/create_expr.rs
  tests-fuzz/src/lib.rs
  tests-fuzz/src/utils.rs
  tests-fuzz/targets/fuzz_create_table.rs
Labels: Doc not needed

#3455 refactor: separate the quote char and value
  tests-fuzz/src/context.rs
  tests-fuzz/src/fake.rs
  tests-fuzz/src/generator.rs
  tests-fuzz/src/generator/alter_expr.rs
  tests-fuzz/src/generator/create_expr.rs
  tests-fuzz/src/generator/insert_expr.rs
  tests-fuzz/src/ir.rs
  tests-fuzz/src/ir/alter_expr.rs
  tests-fuzz/src/ir/create_expr.rs
  tests-fuzz/src/test_utils.rs
  tests-fuzz/src/translator/mysql/alter_expr.rs
  tests-fuzz/src/translator/mysql/insert_expr.rs
  tests-fuzz/src/translator/mysql/select_expr.rs
  tests-fuzz/src/translator/postgres/alter_expr.rs
Labels: Doc not needed

#3458 feat: max-txn-ops option
  src/cmd/src/cli/bench.rs
  src/cmd/src/cli/upgrade.rs
  src/cmd/src/metasrv.rs
  src/common/meta/src/error.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/test_utils.rs
  src/common/meta/src/kv_backend/etcd.rs
  src/common/meta/src/kv_backend/txn.rs
  src/meta-srv/examples/kv_store.rs
  src/meta-srv/src/bootstrap.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/mocks.rs
  src/operator/src/insert.rs
  tests-integration/src/cluster.rs
Labels: Doc not needed

#3415 perf: Reduce decode overhead during pruning keys in the memtable
  src/mito2/src/memtable/merge_tree.rs
  src/mito2/src/memtable/merge_tree/data.rs
  src/mito2/src/memtable/merge_tree/dedup.rs
  src/mito2/src/memtable/merge_tree/partition.rs
  src/mito2/src/memtable/merge_tree/shard.rs
  src/mito2/src/memtable/merge_tree/shard_builder.rs
  src/mito2/src/row_converter.rs
Labels: Doc not needed

#3445 feat(influxdb): add db query param support for v2 write api
  src/servers/src/grpc/authorize.rs
  src/servers/src/http/authorize.rs
  src/servers/src/http/influxdb.rs
  src/servers/src/influxdb.rs
  src/servers/tests/http/influxdb_test.rs
Labels: Doc not needed

#3469 chore: remove repetitive words
  docs/rfcs/2023-05-09-distributed-planner.md
  src/common/macro/src/admin_fn.rs
  src/common/procedure/src/local/runner.rs
  src/flow/src/expr/linear.rs
  src/mito2/src/cache.rs
  src/promql/src/functions/extrapolate_rate.rs
  src/store-api/src/region_request.rs
Labels: Doc not needed

#3448 feat: support `first_value/last_value` in range query
  src/query/src/range_select/plan.rs
  tests/cases/standalone/common/range/special_aggr.result
  tests/cases/standalone/common/range/special_aggr.sql
Labels: Doc update required

#3466 refactor: introduce new `Output` with `OutputMeta`
  benchmarks/src/bin/nyc-taxi.rs
  src/client/src/database.rs
  src/client/src/lib.rs
  src/cmd/src/cli/export.rs
  src/cmd/src/cli/repl.rs
  src/common/query/src/lib.rs
  src/common/test-util/src/recordbatch.rs
  src/datanode/src/region_server.rs
  src/frontend/src/instance.rs
  src/frontend/src/instance/grpc.rs
  src/frontend/src/instance/opentsdb.rs
  src/frontend/src/instance/prom_store.rs
  src/operator/src/delete.rs
  src/operator/src/insert.rs
  src/operator/src/statement.rs
  src/operator/src/statement/copy_database.rs
  src/operator/src/statement/copy_table_to.rs
  src/operator/src/statement/ddl.rs
  src/query/src/datafusion.rs
  src/query/src/sql.rs
  src/query/src/tests.rs
  src/query/src/tests/query_engine_test.rs
  src/script/benches/py_benchmark.rs
  src/script/src/manager.rs
  src/script/src/python/engine.rs
  src/script/src/python/ffi_types/copr.rs
  src/script/src/python/ffi_types/pair_tests.rs
  src/script/src/table.rs
  src/script/src/test.rs
  src/servers/src/grpc/database.rs
  src/servers/src/grpc/flight.rs
  src/servers/src/http.rs
  src/servers/src/http/arrow_result.rs
  src/servers/src/http/handler.rs
  src/servers/src/http/influxdb_result_v1.rs
  src/servers/src/http/prometheus.rs
  src/servers/src/http/prometheus_resp.rs
  src/servers/src/mysql/federated.rs
  src/servers/src/mysql/writer.rs
  src/servers/src/postgres/handler.rs
  src/servers/tests/interceptor.rs
  src/servers/tests/py_script/mod.rs
  tests-integration/src/grpc.rs
  tests-integration/src/influxdb.rs
  tests-integration/src/instance.rs
  tests-integration/src/opentsdb.rs
  tests-integration/src/otlp.rs
  tests-integration/src/tests/instance_kafka_wal_test.rs
  tests-integration/src/tests/instance_test.rs
  tests-integration/src/tests/test_util.rs
  tests-integration/tests/grpc.rs
  tests-integration/tests/region_failover.rs
  tests-integration/tests/region_migration.rs
  tests/runner/src/env.rs
Labels: Doc not needed

#3465 feat: clamp function
  src/common/function/src/scalars/math.rs
  src/common/function/src/scalars/math/clamp.rs
  src/datatypes/src/value.rs
  tests/cases/standalone/common/function/arithmetic.result
  tests/cases/standalone/common/function/arithmetic.sql
Labels: Doc not needed

#3473 refactor: make http api returns non-200 status code
  src/servers/src/http/error_result.rs
  tests-integration/tests/http.rs
Labels: Doc not needed

#3482 fix: impl `RecordBatchStream` method explicitly
  src/common/recordbatch/src/adapter.rs
  src/common/recordbatch/src/lib.rs
  src/common/recordbatch/src/util.rs
  src/file-engine/src/query.rs
  src/query/src/metrics.rs
  src/script/src/python/engine.rs
  src/table/src/table/numbers.rs
  src/table/src/table/scan.rs
  src/table/src/test_util/memtable.rs
Labels: Doc not needed

#3483 fix: fix f64 has no sufficient precision during parsing
  Cargo.toml
  src/datatypes/src/value.rs
  src/sql/src/parsers/create_parser.rs
  src/sql/src/statements.rs
  tests/cases/standalone/common/create/create.result
  tests/cases/standalone/common/create/create.sql
Labels: Doc not needed

#3486 ci: use another mirror for etcd image
  tests-integration/fixtures/etcd/docker-compose-standalone.yml
Labels: Doc not needed

#3468 fix: freeze data buffer in shard
  src/mito2/src/memtable/merge_tree.rs
  src/mito2/src/memtable/merge_tree/data.rs
  src/mito2/src/memtable/merge_tree/partition.rs
  src/mito2/src/memtable/merge_tree/shard.rs
  src/mito2/src/memtable/merge_tree/shard_builder.rs
  src/mito2/src/memtable/merge_tree/tree.rs
  tests-integration/tests/http.rs
Labels: Doc not needed

#3470 feat: to_timezone function
  .editorconfig
  src/common/function/src/scalars/timestamp.rs
  src/common/function/src/scalars/timestamp/to_timezone.rs
  tests/cases/standalone/common/function/time.result
  tests/cases/standalone/common/function/time.sql
Labels: Doc not needed

#3396 feat(flow): accumlator for aggr func
  Cargo.lock
  src/flow/Cargo.toml
  src/flow/src/expr/error.rs
  src/flow/src/expr/relation/accum.rs
  src/flow/src/expr/relation/func.rs
  src/flow/src/repr.rs
Labels: Doc not needed

#3484 fix: allow passing extra table options
  src/common/datasource/src/object_store/s3.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/region/options.rs
  src/sql/src/error.rs
  src/sql/src/parsers/create_parser.rs
  src/sql/src/statements/create.rs
  src/store-api/src/lib.rs
  src/store-api/src/mito_engine_options.rs
  src/table/src/requests.rs
  tests-integration/src/tests/instance_test.rs
  tests/cases/standalone/common/create/create_with_options.result
  tests/cases/standalone/common/create/create_with_options.sql
  tests/cases/standalone/common/show/show_create.result
  tests/cases/standalone/common/show/show_create.sql
Labels: Doc not needed

#3490 feat(flow): plan def
  src/flow/src/expr.rs
  src/flow/src/expr/linear.rs
  src/flow/src/expr/relation.rs
  src/flow/src/lib.rs
  src/flow/src/plan.rs
  src/flow/src/plan/join.rs
  src/flow/src/plan/reduce.rs
Labels: Doc not needed

#3491 perf: more benchmarks for memtables
  src/mito2/Cargo.toml
  src/mito2/README.md
  src/mito2/benches/bench_merge_tree.rs
  src/mito2/benches/memtable_bench.rs
  src/mito2/benches/merge_tree_bench.rs
  src/mito2/src/test_util/memtable_util.rs
Labels: Doc not needed

#3472 refactor: validate constraints eagerly
  src/sql/src/parsers/create_parser.rs
  src/sql/src/statements/create.rs
  tests-integration/src/lib.rs
  tests-integration/src/tests/instance_test.rs
Labels: Doc not needed

#3493 fix(common-time): allow building nanos timestamp from parts split from i64::MIN
  src/common/time/src/timestamp.rs
Labels: Doc not needed

#3489 fix: adjust fill behavior of range query
  src/query/src/range_select/plan.rs
  src/query/src/range_select/plan_rewrite.rs
  tests/cases/standalone/common/range/by.result
  tests/cases/standalone/common/range/calculate.result
  tests/cases/standalone/common/range/error.result
  tests/cases/standalone/common/range/error.sql
  tests/cases/standalone/common/range/fill.result
  tests/cases/standalone/common/range/fill.sql
  tests/cases/standalone/common/range/interval.result
  tests/cases/standalone/common/range/nest.result
  tests/cases/standalone/common/range/precisions.result
  tests/cases/standalone/common/range/special_aggr.result
  tests/cases/standalone/common/range/to.result
Labels: Doc update required

#3499 feat(fuzz): add insert target
  Cargo.lock
  tests-fuzz/Cargo.toml
  tests-fuzz/src/generator/insert_expr.rs
  tests-fuzz/src/ir.rs
  tests-fuzz/src/ir/insert_expr.rs
  tests-fuzz/src/translator/mysql/insert_expr.rs
  tests-fuzz/src/validator/column.rs
  tests-fuzz/targets/fuzz_insert.rs
Labels: Doc not needed

#3503 feat(fuzz): add alter table target
  .github/workflows/develop.yml
  tests-fuzz/Cargo.toml
  tests-fuzz/src/context.rs
  tests-fuzz/src/generator/alter_expr.rs
  tests-fuzz/src/ir/create_expr.rs
  tests-fuzz/src/validator/column.rs
  tests-fuzz/targets/fuzz_alter_table.rs
  tests-fuzz/targets/fuzz_create_table.rs
Labels: Doc not needed

#3488 ci: attempt to setup docker cache for etcd
  .github/workflows/develop.yml
Labels: Doc not needed

#3506 fix!: remove error message from http header to avoid panic
  src/servers/src/error.rs
  src/servers/src/http/error_result.rs
  src/servers/src/http/header.rs
Labels: Breaking change, Doc not needed

#3505 fix: decoding prometheus remote write proto doesn't reset the value
  Cargo.lock
  src/servers/Cargo.toml
  src/servers/src/prom_row_builder.rs
  src/servers/src/proto.rs
Labels: Doc not needed

#3494 feat: support decode gzip if influxdb write specify it
  Cargo.lock
  src/datanode/Cargo.toml
  src/servers/Cargo.toml
  src/servers/src/error.rs
  src/servers/src/http.rs
  src/servers/src/http/authorize.rs
Labels: Doc not needed

#3502 fix: correctly generate sequences when the value is pre-existed
  src/common/meta/src/sequence.rs
Labels: Doc not needed

#3510 chore: bump version to v0.7.1
  Cargo.lock
  Cargo.toml
Labels: Doc not needed

#3512 docs: add v0.7 TSBS benchmark result
  docs/benchmarks/tsbs/v0.7.0.md
Labels: Doc not needed

#3518 ci: add bin options to reduce build burden
  .github/actions/build-windows-artifacts/action.yml
Labels: Doc not needed

#3501 feat: Partition memtables by time if compaction window is provided
  src/mito2/src/memtable.rs
  src/mito2/src/memtable/key_values.rs
  src/mito2/src/memtable/merge_tree.rs
  src/mito2/src/memtable/merge_tree/tree.rs
  src/mito2/src/memtable/time_partition.rs
  src/mito2/src/memtable/time_series.rs
  src/mito2/src/memtable/version.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/region/options.rs
  src/mito2/src/region/version.rs
  src/mito2/src/test_util/memtable_util.rs
  src/mito2/src/test_util/version_util.rs
Labels: Doc not needed

#3514 feat: acquire all locks in procedure
  src/common/meta/src/ddl/create_logical_tables.rs
  src/common/meta/src/ddl/create_table.rs
  src/meta-srv/src/procedure/region_failover.rs
  src/meta-srv/src/procedure/region_migration.rs
  src/meta-srv/src/procedure/region_migration/downgrade_leader_region.rs
  src/meta-srv/src/procedure/region_migration/manager.rs
  src/meta-srv/src/procedure/region_migration/test_util.rs
  src/meta-srv/src/procedure/region_migration/upgrade_candidate_region.rs
  tests-integration/tests/region_failover.rs
Labels: Doc not needed

#3522 docs: revise README file
  README.md
Labels: Doc not needed

#3521 feat: implement the drop database parser
  src/frontend/src/instance.rs
  src/operator/src/statement.rs
  src/sql/src/parsers/create_parser.rs
  src/sql/src/parsers/drop_parser.rs
  src/sql/src/statements/create.rs
  src/sql/src/statements/drop.rs
  src/sql/src/statements/statement.rs
  tests/cases/standalone/common/catalog/schema.result
  tests/cases/standalone/common/system/information_schema.result
Labels: Doc not needed

#3459 feat(mito): Checks whether a region should flush periodically
  src/mito2/Cargo.toml
  src/mito2/src/engine.rs
  src/mito2/src/engine/flush_test.rs
  src/mito2/src/flush.rs
  src/mito2/src/lib.rs
  src/mito2/src/region.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/test_util.rs
  src/mito2/src/time_provider.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_flush.rs
Labels: Doc not needed

#3529 ci: unassign issues stale 14 days ago
  .github/workflows/unassign.yml
Labels: Doc not needed

#3528 docs: readme style and project status
  README.md
Labels: Doc not needed

#3526 docs: improve fn comments
  src/api/src/helper.rs
  src/store-api/src/logstore.rs
Labels: Doc not needed

#3527 feat(metasrv): implement maintenance
  src/common/meta/src/key.rs
  src/meta-srv/src/error.rs
  src/meta-srv/src/handler/failure_handler.rs
  src/meta-srv/src/handler/failure_handler/runner.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/procedure/region_failover.rs
  src/meta-srv/src/service/admin.rs
  src/meta-srv/src/service/admin/maintenance.rs
  src/meta-srv/src/test_util.rs
  tests-integration/tests/region_failover.rs
Labels: Doc update required

#3535 refactor: remove removed-prefixed keys
  src/common/meta/src/key.rs
  src/common/meta/src/key/table_info.rs
  src/common/meta/src/key/table_name.rs
  src/common/meta/src/key/table_route.rs
Labels: Doc not needed

#3536 chore: http header with metrics
  src/common/function/src/handlers.rs
  src/common/function/src/state.rs
  src/common/plugins/src/consts.rs
  src/common/plugins/src/lib.rs
  src/common/query/src/lib.rs
  src/frontend/src/instance/influxdb.rs
  src/frontend/src/instance/otlp.rs
  src/frontend/src/instance/prom_store.rs
  src/operator/src/insert.rs
  src/operator/src/statement.rs
  src/operator/src/statement/copy_database.rs
  src/operator/src/statement/copy_table_from.rs
  src/operator/src/table.rs
  src/query/src/datafusion.rs
  src/query/src/dist_plan/merge_scan.rs
  src/servers/src/grpc/otlp.rs
  src/servers/src/http/handler.rs
  src/servers/src/http/header.rs
  src/servers/src/http/influxdb.rs
  src/servers/src/http/otlp.rs
  src/servers/src/http/prom_store.rs
  src/servers/src/http/prometheus.rs
  src/servers/src/http/prometheus_resp.rs
  src/servers/src/query_handler.rs
  src/servers/tests/http/influxdb_test.rs
  src/servers/tests/http/prom_store_test.rs
  tests-integration/src/otlp.rs
Labels: Doc not needed

#3537 chore: avoid unnecessary cloning
  src/promql/src/extension_plan/series_divide.rs
Labels: Doc not needed

#3531 feat: update dashboard to v0.4.9
  src/servers/dashboard/VERSION
Labels: Doc not needed

#3534 refactor: introduce the DropTableExecutor
  src/common/meta/src/ddl/drop_table.rs
  src/common/meta/src/ddl/drop_table/executor.rs
  src/meta-srv/src/procedure/tests.rs
Labels: Doc not needed

#3508 feat(flow): shared in-memory state for dataflow operator
  Cargo.lock
  src/flow/Cargo.toml
  src/flow/src/lib.rs
  src/flow/src/repr.rs
  src/flow/src/utils.rs
Labels: Doc not needed

#3538 feat: update pgwire to 0.20 for improved performance
  Cargo.lock
  src/servers/Cargo.toml
  src/servers/src/postgres/handler.rs
Labels: Doc not needed

#3542 fix: clone data instead of moving it - homemade future is dangerous
  src/promql/src/extension_plan/series_divide.rs
Labels: Doc not needed

#3464 feat: support multi params in promql range function macro
  src/common/macro/src/range_fn.rs
  src/promql/src/functions/aggr_over_time.rs
  src/promql/src/functions/changes.rs
  src/promql/src/functions/deriv.rs
  src/promql/src/functions/resets.rs
Labels: Doc not needed

#3540 feat: support append-only mode in time-series memtable
  src/mito2/benches/memtable_bench.rs
  src/mito2/src/memtable/time_series.rs
  src/mito2/src/read.rs
Labels: Doc not needed

#3539 feat: Able to pretty print sql query result in http output
  src/servers/src/http.rs
  src/servers/src/http/handler.rs
  src/servers/src/http/table_result.rs
Labels: Doc not needed

#3546 chore: fix comment in fetch-dashboard-assets.sh
  scripts/fetch-dashboard-assets.sh
Labels: Doc not needed

#3547 refactor!: Renames the new memtable to PartitionTreeMemtable
  config/datanode.example.toml
  config/standalone.example.toml
  src/metric-engine/src/engine/options.rs
  src/mito2/benches/memtable_bench.rs
  src/mito2/src/config.rs
  src/mito2/src/engine/create_test.rs
  src/mito2/src/memtable.rs
  src/mito2/src/memtable/partition_tree.rs
  src/mito2/src/memtable/partition_tree/data.rs
  src/mito2/src/memtable/partition_tree/dedup.rs
  src/mito2/src/memtable/partition_tree/dict.rs
  src/mito2/src/memtable/partition_tree/merger.rs
  src/mito2/src/memtable/partition_tree/metrics.rs
  src/mito2/src/memtable/partition_tree/partition.rs
  src/mito2/src/memtable/partition_tree/shard.rs
  src/mito2/src/memtable/partition_tree/shard_builder.rs
  src/mito2/src/memtable/partition_tree/tree.rs
  src/mito2/src/memtable/time_partition.rs
  src/mito2/src/metrics.rs
  src/mito2/src/region/options.rs
  src/mito2/src/test_util/memtable_util.rs
  src/mito2/src/worker.rs
  src/store-api/src/mito_engine_options.rs
  tests/cases/standalone/common/create/create_with_options.result
  tests/cases/standalone/common/create/create_with_options.sql
Labels: Breaking change, Doc not needed

#3550 refactor: refactor CacheInvalidator
  src/catalog/src/kvbackend/manager.rs
  src/common/meta/src/cache_invalidator.rs
  src/common/meta/src/ddl/alter_table.rs
  src/common/meta/src/ddl/drop_table/executor.rs
  src/common/meta/src/instruction.rs
  src/datanode/src/heartbeat/handler.rs
  src/frontend/src/heartbeat/handler/invalidate_table_cache.rs
  src/frontend/src/heartbeat/handler/tests.rs
  src/meta-srv/src/cache_invalidator.rs
  src/meta-srv/src/procedure/region_failover/invalidate_cache.rs
  src/meta-srv/src/procedure/region_migration.rs
  src/operator/src/statement/ddl.rs
Labels: Doc not needed

#3548 refactor: handle error for http format
  src/servers/src/http.rs
  src/servers/src/http/arrow_result.rs
  src/servers/src/http/authorize.rs
  src/servers/src/http/csv_result.rs
  src/servers/src/http/error_result.rs
  src/servers/src/http/greptime_result_v1.rs
  src/servers/src/http/handler.rs
  src/servers/src/http/influxdb_result_v1.rs
  src/servers/src/http/script.rs
  src/servers/src/http/table_result.rs
  src/servers/tests/http/influxdb_test.rs
Labels: Doc not needed

#3556 fix: performance degradation caused by config change
  src/mito2/src/memtable/partition_tree.rs
  src/mito2/src/region/options.rs
Labels: Doc not needed

#3553 refactor: remove redudant PromStoreProtocolHandler::write
  src/frontend/src/instance/prom_store.rs
  src/frontend/src/metrics.rs
  src/servers/src/export_metrics.rs
  src/servers/src/http/prom_store.rs
  src/servers/src/metrics.rs
  src/servers/src/proto.rs
  src/servers/src/query_handler.rs
  src/servers/tests/http/prom_store_test.rs
  tests-integration/src/prom_store.rs
Labels: Doc not needed

#3559 ci: use a PAT to list all writers
  .github/workflows/unassign.yml
Labels: Doc not needed

#3552 fix(flow): Arrange get range with batch unaligned
  src/flow/src/utils.rs
Labels: Doc not needed

#3543 refactor: reduce one clone by carefully pass ready boundary
  src/promql/src/extension_plan/series_divide.rs
Labels: Doc not needed

#3565 chore: avoid confusing TryFrom
  src/auth/src/common.rs
  src/auth/src/user_provider/static_user_provider.rs
Labels: Doc not needed

#3568 test: add a parameter type mismatch test case to sql integration test
  tests-integration/tests/sql.rs
Labels: Doc not needed

#3533 feat: return new added columns in region server's extension response
  Cargo.lock
  Cargo.toml
  src/client/src/region.rs
  src/common/meta/src/datanode_manager.rs
  src/common/meta/src/ddl/create_logical_tables.rs
  src/common/meta/src/ddl/tests/create_logical_tables.rs
  src/common/meta/src/ddl/tests/create_table.rs
  src/common/meta/src/rpc/ddl.rs
  src/common/meta/src/test_util.rs
  src/datanode/src/region_server.rs
  src/datanode/src/tests.rs
  src/datatypes/src/schema/column_schema.rs
  src/file-engine/src/engine.rs
  src/frontend/src/instance/standalone.rs
  src/meta-srv/src/procedure/utils.rs
  src/metric-engine/src/data_region.rs
  src/metric-engine/src/engine.rs
  src/metric-engine/src/engine/alter.rs
  src/metric-engine/src/engine/create.rs
  src/metric-engine/src/engine/put.rs
  src/metric-engine/src/engine/read.rs
  src/metric-engine/src/engine/region_metadata.rs
  src/metric-engine/src/error.rs
  src/metric-engine/src/metadata_region.rs
  src/mito2/src/engine.rs
  src/mito2/src/engine/basic_test.rs
  src/mito2/src/engine/compaction_test.rs
  src/mito2/src/test_util.rs
  src/operator/src/delete.rs
  src/operator/src/insert.rs
  src/operator/src/request.rs
  src/operator/src/statement/ddl.rs
  src/store-api/src/metadata.rs
  src/store-api/src/metric_engine_consts.rs
  src/store-api/src/region_engine.rs
  src/table/src/metadata.rs
  tests-integration/src/prom_store.rs
  tests/cases/standalone/common/create/create_metric_table.result
  tests/cases/standalone/common/insert/logical_metric_table.result
  tests/cases/standalone/common/insert/logical_metric_table.sql
Labels: Doc not needed

#3571 fix: set http response chartset to utf-8 when using table format
  src/servers/src/http/table_result.rs
  src/servers/tests/http/http_handler_test.rs
Labels: Doc not needed

#3570 feat: update physical table's schema on creating logical table
  src/common/meta/src/ddl/create_logical_tables.rs
  src/datanode/src/region_server.rs
  src/meta-srv/src/procedure/tests.rs
  src/metric-engine/src/engine.rs
  tests/cases/standalone/common/create/create_metric_table.result
  tests/cases/standalone/common/create/create_metric_table.sql
  tests/cases/standalone/common/insert/logical_metric_table.result
  tests/cases/standalone/common/insert/logical_metric_table.sql
  tests/runner/src/env.rs
Labels: Doc not needed

#3572 chore: retain original headers
  licenserc.toml
  src/common/base/src/readable_size.rs
  src/partition/src/lib.rs
  src/partition/src/metrics.rs
  src/promql/src/functions/extrapolate_rate.rs
  src/servers/src/repeated_field.rs
Labels: Doc not needed

#3580 ci: use single commit on the deployment branch
  .github/workflows/apidoc.yml
Labels: Doc not needed

#3575 refactor: try upgrade regex-automata
  Cargo.lock
  Cargo.toml
  src/index/src/inverted_index/error.rs
  src/index/src/inverted_index/search/fst_apply/intersection_apply.rs
Labels: Doc not needed

#3569 feat: batch alter logical tables
  src/common/meta/src/ddl.rs
  src/common/meta/src/ddl/alter_logical_tables.rs
  src/common/meta/src/ddl/alter_logical_tables/check.rs
  src/common/meta/src/ddl/alter_logical_tables/metadata.rs
  src/common/meta/src/ddl/alter_logical_tables/region_request.rs
  src/common/meta/src/ddl/alter_logical_tables/update_metadata.rs
  src/common/meta/src/ddl/alter_table.rs
  src/common/meta/src/ddl/create_logical_tables.rs
  src/common/meta/src/ddl/drop_table/executor.rs
  src/common/meta/src/ddl/test_util.rs
  src/common/meta/src/ddl/test_util/alter_table.rs
  src/common/meta/src/ddl/test_util/columns.rs
  src/common/meta/src/ddl/test_util/create_table.rs
  src/common/meta/src/ddl/tests.rs
  src/common/meta/src/ddl/tests/alter_logical_tables.rs
  src/common/meta/src/ddl/tests/create_logical_tables.rs
  src/common/meta/src/ddl/tests/create_table.rs
  src/common/meta/src/ddl/utils.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/error.rs
  src/common/meta/src/key.rs
  src/common/meta/src/rpc/ddl.rs
  src/meta-srv/src/procedure/tests.rs
  src/operator/src/error.rs
  src/operator/src/insert.rs
  src/operator/src/metrics.rs
  src/operator/src/statement/ddl.rs
  src/table/src/metadata.rs
Labels: Doc not needed

#3584 chore: limit OpenDAL's feature gates
  src/object-store/Cargo.toml
Labels: Doc not needed

#3576 fix: update pk_cache in compat reader
  src/mito2/src/read.rs
  src/mito2/src/read/compat.rs
  tests/cases/standalone/common/alter/alter_table.result
  tests/cases/standalone/common/alter/alter_table.sql
Labels: Doc not needed

#3586 fix: incorrect version info in
  src/cmd/build.rs
Labels: Doc not needed

#3583 feat: support time range in copy table
  src/operator/src/statement.rs
  tests/cases/standalone/common/copy/copy_to_fs.result
  tests/cases/standalone/common/copy/copy_to_fs.sql
Labels: Doc update required

#3582 build(deps): remove some unused dependencies
  Cargo.lock
  benchmarks/Cargo.toml
  src/api/Cargo.toml
  src/auth/Cargo.toml
  src/catalog/Cargo.toml
  src/client/Cargo.toml
  src/cmd/Cargo.toml
  src/common/config/Cargo.toml
  src/common/decimal/Cargo.toml
  src/common/function/Cargo.toml
  src/common/greptimedb-telemetry/Cargo.toml
  src/common/grpc-expr/Cargo.toml
  src/common/grpc/Cargo.toml
  src/common/meta/Cargo.toml
  src/common/recordbatch/Cargo.toml
  src/common/substrait/Cargo.toml
  src/common/telemetry/Cargo.toml
  src/datanode/Cargo.toml
  src/datatypes/Cargo.toml
  src/flow/Cargo.toml
  src/frontend/Cargo.toml
  src/log-store/Cargo.toml
  src/meta-client/Cargo.toml
  src/meta-srv/Cargo.toml
  src/mito2/Cargo.toml
  src/object-store/Cargo.toml
  src/operator/Cargo.toml
  src/partition/Cargo.toml
  src/query/Cargo.toml
  src/script/Cargo.toml
  src/servers/Cargo.toml
  src/session/Cargo.toml
  src/sql/Cargo.toml
  src/store-api/Cargo.toml
  src/table/Cargo.toml
  tests-integration/Cargo.toml
  tests/runner/Cargo.toml
Labels: Doc not needed

#3578 chore: Delete CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: Doc not needed

#3566 feat(auth): watch file user provider
  Cargo.lock
  Cargo.toml
  src/auth/Cargo.toml
  src/auth/src/common.rs
  src/auth/src/error.rs
  src/auth/src/user_provider.rs
  src/auth/src/user_provider/static_user_provider.rs
  src/auth/src/user_provider/watch_file_user_provider.rs
  src/servers/Cargo.toml
  src/servers/src/error.rs
  src/servers/src/tls.rs
Labels: Doc not needed

#3567 feat: Support printing postgresql's `bytea` data type in its "hex" and "escape" format
  Cargo.lock
  src/operator/src/error.rs
  src/operator/src/statement.rs
  src/servers/Cargo.toml
  src/servers/src/mysql/federated.rs
  src/servers/src/mysql/handler.rs
  src/servers/src/postgres.rs
  src/servers/src/postgres/handler.rs
  src/servers/src/postgres/types.rs
  src/servers/src/postgres/types/bytea.rs
  src/session/Cargo.toml
  src/session/src/context.rs
  src/session/src/lib.rs
  src/session/src/session_config.rs
  tests-integration/tests/sql.rs
Labels: Doc not needed

#3588 chore: add back core dependency
  Cargo.lock
  src/operator/Cargo.toml
Labels: Doc not needed

#3558 feat: Implement append mode for a region
  src/mito2/src/compaction/twcs.rs
  src/mito2/src/engine.rs
  src/mito2/src/engine/append_mode_test.rs
  src/mito2/src/memtable.rs
  src/mito2/src/memtable/time_series.rs
  src/mito2/src/read/merge.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/region/options.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_write.rs
Labels: Doc not needed

#3590 feat: create regions persist true
  src/common/meta/src/ddl/create_table.rs
  src/meta-srv/src/procedure/tests.rs
Labels: Doc not needed

#3589 refactor: refactor drop table executor
  src/cmd/src/cli/bench/metadata.rs
  src/common/meta/src/ddl/drop_database/cursor.rs
  src/common/meta/src/ddl/drop_database/executor.rs
  src/common/meta/src/ddl/drop_table.rs
  src/common/meta/src/ddl/drop_table/executor.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/table_route.rs
Labels: Doc not needed

#3594 test: add tests for drop databases
  src/common/meta/src/ddl/drop_database.rs
  src/common/meta/src/ddl/drop_database/cursor.rs
  src/common/meta/src/ddl/drop_database/end.rs
  src/common/meta/src/ddl/drop_database/executor.rs
  src/common/meta/src/ddl/drop_database/metadata.rs
  src/common/meta/src/ddl/drop_database/start.rs
  src/common/meta/src/ddl/test_util.rs
  src/common/meta/src/ddl/tests.rs
  src/common/meta/src/ddl/tests/alter_logical_tables.rs
  src/common/meta/src/ddl/tests/create_logical_tables.rs
  src/common/meta/src/ddl/tests/drop_database.rs
Labels: Doc not needed

#3592 feat: remove support for logical tables in the create table procedure
  src/cmd/src/standalone.rs
  src/common/meta/src/ddl.rs
  src/common/meta/src/ddl/create_table.rs
  src/common/meta/src/ddl/table_meta.rs
  src/common/meta/src/ddl/test_util.rs
  src/common/meta/src/ddl/tests/create_logical_tables.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/test_util.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/procedure/tests.rs
  src/meta-srv/src/procedure/utils.rs
  tests-integration/src/standalone.rs
Labels: Doc not needed

#3595 chore: do not reply for broadcast msg
  src/common/meta/src/instruction.rs
  src/frontend/src/heartbeat/handler/invalidate_table_cache.rs
  src/frontend/src/heartbeat/handler/tests.rs
Labels: Doc not needed

#3599 feat: adds metric engine to information_schema engines table
  src/catalog/src/information_schema/memory_table/tables.rs
  tests/cases/standalone/common/system/information_schema.result
Labels: Doc not needed

#3600 fix: canonicalize catalog and schema names
  src/common/catalog/src/lib.rs
  src/servers/src/grpc/authorize.rs
  src/servers/src/grpc/greptime_handler.rs
  src/servers/src/http/authorize.rs
  src/servers/src/http/prometheus.rs
  src/servers/src/mysql/handler.rs
  src/servers/src/postgres/auth_handler.rs
  src/session/src/context.rs
  tests/cases/standalone/common/system/information_schema.result
  tests/cases/standalone/common/system/information_schema.sql
Labels: Bug, Doc not needed

#3190 test: add more integration test for kafka wal
  Cargo.lock
  src/cmd/src/standalone.rs
  src/common/meta/src/ddl_manager.rs
  src/meta-srv/src/metasrv/builder.rs
  tests-integration/Cargo.toml
  tests-integration/src/cluster.rs
  tests-integration/src/lib.rs
  tests-integration/src/standalone.rs
  tests-integration/src/tests/instance_kafka_wal_test.rs
  tests-integration/src/tests/test_util.rs
  tests-integration/tests/region_migration.rs
Labels: Size: M, Doc not needed

#3601 fix: adjust status code to http error code map
  src/servers/src/http/error_result.rs
  tests-integration/tests/http.rs
Labels: Doc not needed

#3603 refactor(table): remove unused table requests
  Cargo.lock
  src/catalog/Cargo.toml
  src/catalog/src/lib.rs
  src/datanode/src/datanode.rs
  src/frontend/src/error.rs
  src/frontend/src/script.rs
  src/script/src/manager.rs
  src/script/src/table.rs
  src/table/src/requests.rs
  src/table/src/test_util/empty_table.rs
Labels: Doc not needed

#3604 feat: support `2+2` and `/status/buildinfo`
  Cargo.lock
  Cargo.toml
  src/common/version/Cargo.toml
  src/common/version/src/lib.rs
  src/servers/Cargo.toml
  src/servers/src/http.rs
  src/servers/src/http/prometheus.rs
  src/servers/src/http/prometheus_resp.rs
  tests-integration/tests/grpc.rs
  tests-integration/tests/http.rs
Labels: Doc not needed

#3507 feat(tql): add initial support for start,stop,step as sql functions
  Cargo.lock
  src/sql/Cargo.toml
  src/sql/src/error.rs
  src/sql/src/parsers.rs
  src/sql/src/parsers/error.rs
  src/sql/src/parsers/tql_parser.rs
  src/sql/src/statements/tql.rs
  tests/cases/standalone/common/tql-explain-analyze/analyze.result
  tests/cases/standalone/common/tql-explain-analyze/analyze.sql
  tests/cases/standalone/common/tql-explain-analyze/explain.result
  tests/cases/standalone/common/tql-explain-analyze/explain.sql
  tests/cases/standalone/common/tql/basic.result
  tests/cases/standalone/common/tql/basic.sql
Labels: Doc not needed

#3598 feat: Implement an unordered scanner for append mode
  src/mito2/Cargo.toml
  src/mito2/src/compaction/twcs.rs
  src/mito2/src/engine.rs
  src/mito2/src/engine/append_mode_test.rs
  src/mito2/src/engine/basic_test.rs
  src/mito2/src/engine/flush_test.rs
  src/mito2/src/engine/open_test.rs
  src/mito2/src/read.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/read/unordered_scan.rs
  src/mito2/src/test_util.rs
  src/object-store/Cargo.toml
Labels: Doc not needed

#3611 refactor: cache invalidator
  src/catalog/src/kvbackend/manager.rs
  src/cmd/src/cli/repl.rs
  src/cmd/src/frontend.rs
  src/cmd/src/standalone.rs
  src/common/meta/src/cache_invalidator.rs
  src/common/meta/src/ddl/alter_table.rs
  tests-integration/src/cluster.rs
  tests-integration/src/standalone.rs
Labels: Doc not needed

#3545 feat: allow cross-schema query in promql
  src/promql/src/error.rs
  src/promql/src/planner.rs
  src/session/src/context.rs
  tests-integration/src/tests/promql_test.rs
  tests/cases/standalone/common/tql/basic.result
  tests/cases/standalone/common/tql/basic.sql
Labels: Doc update required

#3616 ci: ignore type in sqlness sql and result files
  typos.toml
Labels: Doc not needed

#3613 feat: let alter table procedure can only alter physical table
  src/common/meta/src/ddl/alter_table.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/key.rs
  src/meta-srv/src/procedure/tests.rs
Labels: Doc not needed

#3620 feat(function): add timestamp epoch integer support for to_timezone
  src/common/function/src/scalars/timestamp/to_timezone.rs
  tests/cases/standalone/common/function/time.result
  tests/cases/standalone/common/function/time.sql
Labels: Doc not needed

#3577 feat: impl show index and show columns
  src/catalog/src/information_schema.rs
  src/catalog/src/information_schema/columns.rs
  src/catalog/src/information_schema/key_column_usage.rs
  src/frontend/src/instance.rs
  src/operator/src/statement.rs
  src/operator/src/statement/show.rs
  src/query/src/sql.rs
  src/sql/src/error.rs
  src/sql/src/parsers/show_parser.rs
  src/sql/src/statements/show.rs
  src/sql/src/statements/statement.rs
  tests/cases/standalone/common/show/show_columns.result
  tests/cases/standalone/common/show/show_columns.sql
  tests/cases/standalone/common/show/show_databases_tables.result
  tests/cases/standalone/common/show/show_databases_tables.sql
  tests/cases/standalone/common/show/show_index.result
  tests/cases/standalone/common/show/show_index.sql
  tests/cases/standalone/common/system/information_schema.result
Labels: Doc update required
