Repository GreptimeTeam/greptimedb, pull requests merged in 2024-05, with the labels that each got.

#3848 ci: reduce workflow files by merging actions
  .github/workflows/develop.yml
  .github/workflows/docs.yml
  .github/workflows/license.yaml
  .github/workflows/nightly-ci.yml
  .github/workflows/nightly-funtional-tests.yml
  src/common/function/src/scalars/numpy/interp.rs
  src/metric-engine/src/data_region.rs
  src/mito2/src/cache/file_cache.rs
  src/promql/src/extension_plan/union_distinct_on.rs
  typos.toml
Labels: Doc not needed

#3820 refactor: move database client to test
  Cargo.lock
  Cargo.toml
  benchmarks/Cargo.toml
  benchmarks/src/bin/nyc-taxi.rs
  src/client/examples/logical.rs
  src/client/examples/stream_ingest.rs
  src/client/src/client.rs
  src/client/src/lib.rs
  src/client/src/stream_insert.rs
  src/cmd/Cargo.toml
  src/cmd/src/cli.rs
  src/cmd/src/cli/export.rs
  src/cmd/src/cli/repl.rs
  src/cmd/src/error.rs
  src/common/test-util/src/recordbatch.rs
  src/servers/Cargo.toml
  src/servers/tests/grpc/mod.rs
  tests-integration/Cargo.toml
  tests-integration/src/database.rs
  tests-integration/src/lib.rs
  tests-integration/tests/grpc.rs
  tests/runner/Cargo.toml
  tests/runner/src/env.rs
Labels: Doc not needed

#3788 test: introduce unstable fuzz create table test
  .env.example
  .github/actions/fuzz-test/action.yaml
  .github/workflows/develop.yml
  Cargo.lock
  tests-fuzz/Cargo.toml
  tests-fuzz/README.md
  tests-fuzz/conf/standalone.template.toml
  tests-fuzz/src/error.rs
  tests-fuzz/src/utils.rs
  tests-fuzz/src/utils/config.rs
  tests-fuzz/src/utils/health.rs
  tests-fuzz/src/utils/process.rs
  tests-fuzz/targets/fuzz_alter_logical_table.rs
  tests-fuzz/targets/fuzz_alter_table.rs
  tests-fuzz/targets/fuzz_create_database.rs
  tests-fuzz/targets/fuzz_create_logical_table.rs
  tests-fuzz/targets/fuzz_create_table.rs
  tests-fuzz/targets/fuzz_insert.rs
  tests-fuzz/targets/fuzz_insert_logical_table.rs
  tests-fuzz/targets/unstable/fuzz_create_table_standalone.rs
Labels: Doc not needed

#3832 feat: adds information_schema cluster_info table
  Cargo.lock
  Cargo.toml
  src/catalog/Cargo.toml
  src/catalog/src/error.rs
  src/catalog/src/information_schema.rs
  src/catalog/src/information_schema/cluster_info.rs
  src/catalog/src/information_schema/region_peers.rs
  src/catalog/src/information_schema/runtime_metrics.rs
  src/catalog/src/information_schema/table_names.rs
  src/catalog/src/information_schema/utils.rs
  src/catalog/src/kvbackend/manager.rs
  src/cmd/src/cli/repl.rs
  src/cmd/src/frontend.rs
  src/cmd/src/standalone.rs
  src/common/catalog/src/consts.rs
  src/common/config/src/lib.rs
  src/common/meta/src/cluster.rs
  src/datanode/Cargo.toml
  src/datanode/src/heartbeat.rs
  src/frontend/Cargo.toml
  src/frontend/src/heartbeat.rs
  src/meta-client/src/client.rs
  src/meta-client/src/client/cluster.rs
  src/meta-client/src/client/procedure.rs
  src/meta-srv/src/handler/collect_cluster_info_handler.rs
  src/meta-srv/src/service/cluster.rs
  src/servers/Cargo.toml
  src/servers/src/lib.rs
  tests-integration/src/cluster.rs
  tests-integration/src/standalone.rs
  tests-integration/tests/region_migration.rs
  tests/cases/distributed/information_schema/cluster_info.result
  tests/cases/distributed/information_schema/cluster_info.sql
  tests/cases/standalone/common/partition.result
  tests/cases/standalone/common/partition.sql
  tests/cases/standalone/common/show/show_databases_tables.result
  tests/cases/standalone/common/system/information_schema.result
  tests/cases/standalone/common/system/information_schema.sql
  tests/cases/standalone/information_schema/cluster_info.result
  tests/cases/standalone/information_schema/cluster_info.sql
Labels: Doc update required

#3852 ci: create cyborg for all heavy GitHub integrated actions
  .github/workflows/schedule.yml
  .github/workflows/unassign.yml
  cyborg/.gitignore
  cyborg/bin/schedule.ts
  cyborg/package.json
  cyborg/pnpm-lock.yaml
  cyborg/src/index.ts
  cyborg/tsconfig.json
Labels: Doc not needed

#3854 ci: replace pull-request actions with cyborg
  .github/pr-title-breaking-change-label-config.json
  .github/pr-title-checker-config.json
  .github/workflows/pr-title-checker.yml
  .github/workflows/schedule.yml
  .github/workflows/semantic-pull-request.yml
  cyborg/bin/check-pull-request.ts
  cyborg/bin/schedule.ts
  cyborg/package.json
  cyborg/pnpm-lock.yaml
  cyborg/src/common.ts
  cyborg/src/index.ts
  cyborg/tsconfig.json
  licenserc.toml
Labels: Doc not needed

#3857 ci: avoid trying to send slack notification in forks
  .github/workflows/release.yml
Labels: Doc not needed

#3856 chore: try avoid one slice
  src/common/grpc/src/flight.rs
Labels: Doc not needed

#3846 fix: retrieve all info instead of checking on demand
  src/common/meta/src/ddl/create_table.rs
  src/common/meta/src/lib.rs
  src/common/meta/src/region_keeper.rs
  src/meta-srv/src/region/lease_keeper.rs
Labels: Doc not needed

#3828 refactor!: remove opentsdb tcp server
  config/config.md
  config/frontend.example.toml
  config/standalone.example.toml
  src/cmd/src/frontend.rs
  src/cmd/src/standalone.rs
  src/frontend/src/server.rs
  src/frontend/src/service_config/opentsdb.rs
  src/servers/src/error.rs
  src/servers/src/lib.rs
  src/servers/src/metrics.rs
  src/servers/src/opentsdb.rs
  src/servers/src/opentsdb/connection.rs
  src/servers/src/opentsdb/handler.rs
  src/servers/src/shutdown.rs
  src/servers/tests/mod.rs
  src/servers/tests/opentsdb.rs
  tests-integration/tests/http.rs
Labels: Doc update required, breaking-change

#3861 chore: remove one slice copy in wal encoding
  src/log-store/src/kafka/log_store.rs
  src/log-store/src/noop.rs
  src/log-store/src/raft_engine/log_store.rs
  src/mito2/src/wal.rs
  src/store-api/src/logstore.rs
Labels: Doc not needed

#3858 feat(flow): mirror insert req to flow node
  src/common/meta/src/key/flow.rs
  src/common/meta/src/key/flow/flow_info.rs
  src/common/meta/src/key/flow/flow_name.rs
  src/common/meta/src/key/flow/flownode_flow.rs
  src/common/meta/src/key/flow/table_flow.rs
  src/common/meta/src/node_manager.rs
  src/frontend/src/instance/builder.rs
  src/operator/src/insert.rs
Labels: Doc not needed

#3865 refactor: remove re-export from logging
  src/catalog/src/information_schema/cluster_info.rs
  src/cmd/src/cli/repl.rs
  src/cmd/src/datanode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/metasrv.rs
  src/common/function/src/table/migrate_region.rs
  src/common/procedure/src/local.rs
  src/common/procedure/src/local/runner.rs
  src/common/procedure/src/store.rs
  src/common/runtime/src/repeated_task.rs
  src/common/telemetry/src/logging.rs
  src/common/telemetry/src/macros.rs
  src/datanode/src/store.rs
  src/datanode/src/store/azblob.rs
  src/datanode/src/store/fs.rs
  src/datanode/src/store/gcs.rs
  src/datanode/src/store/oss.rs
  src/datanode/src/store/s3.rs
  src/datatypes/src/value.rs
  src/frontend/src/instance/prom_store.rs
  src/index/src/inverted_index/create/sort/external_sort.rs
  src/log-store/src/config.rs
  src/mito2/src/schedule/scheduler.rs
  src/object-store/src/layers/lru_cache.rs
  src/object-store/src/layers/lru_cache/read_cache.rs
  src/object-store/tests/object_store_test.rs
  src/operator/src/request.rs
  src/script/src/manager.rs
  src/script/src/table.rs
  src/servers/src/grpc.rs
  src/servers/src/grpc/greptime_handler.rs
  src/servers/src/http.rs
  src/servers/src/http/error_result.rs
  src/servers/src/http/pprof.rs
  src/servers/src/mysql/handler.rs
  src/servers/src/server.rs
  tests-integration/src/database.rs
  tests-integration/src/tests/instance_test.rs
Labels: Doc not needed

#3868 ci: align clippy checks and fixup
  .github/workflows/develop.yml
  src/servers/src/http/pprof.rs
Labels: Doc not needed

#3871 docs: run fuzz tests in dev mode & disable sanitizer
  tests-fuzz/README.md
Labels: Doc not needed

#3829 refactor: passing QueryContext to RegionServer
  Cargo.lock
  Cargo.toml
  src/cmd/src/cli/repl.rs
  src/common/function/src/function.rs
  src/common/function/src/scalars/udf.rs
  src/common/function/src/system/database.rs
  src/common/function/src/system/timezone.rs
  src/datanode/src/region_server.rs
  src/operator/src/expr_factory.rs
  src/operator/src/statement.rs
  src/operator/src/statement/ddl.rs
  src/query/src/dist_plan/merge_scan.rs
  src/query/src/query_engine/options.rs
  src/query/src/sql.rs
  src/script/src/python/ffi_types/copr.rs
  src/script/src/table.rs
  src/servers/src/export_metrics.rs
  src/servers/src/grpc/authorize.rs
  src/servers/src/grpc/greptime_handler.rs
  src/servers/src/http/authorize.rs
  src/servers/src/http/prometheus.rs
  src/servers/src/http/script.rs
  src/servers/src/postgres/types.rs
  src/servers/tests/py_script/mod.rs
  src/session/src/context.rs
  src/session/src/lib.rs
  tests-integration/src/otlp.rs
  tests-integration/src/prom_store.rs
  tests-integration/src/tests/instance_kafka_wal_test.rs
  tests-integration/src/tests/instance_test.rs
  tests-integration/src/tests/promql_test.rs
Labels: Doc not needed

#3872 build: strip sqlness binary
  Cargo.toml
Labels: Doc not needed

#3859 fix: register regions during procedure recovery
  src/common/meta/src/ddl/create_table.rs
  src/common/meta/src/ddl/drop_database.rs
  src/common/meta/src/ddl/drop_database/executor.rs
  src/common/meta/src/ddl/drop_table.rs
  src/common/meta/src/ddl/tests/drop_database.rs
  src/common/meta/src/ddl/tests/drop_table.rs
  src/common/meta/src/region_keeper.rs
  src/common/procedure/src/local.rs
  src/common/procedure/src/procedure.rs
Labels: Doc not needed

#3864 fix: return metric name instead of query in Prometheus /series API
  src/servers/src/error.rs
  src/servers/src/http/prometheus.rs
  tests-integration/tests/http.rs
Labels: Doc not needed

#3850 refactor: add the main cli entry point struct `Command{}` and simplify `main()`
  src/cmd/src/bin/greptime.rs
  src/cmd/src/cli.rs
  src/cmd/src/datanode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/lib.rs
  src/cmd/src/metasrv.rs
  src/cmd/src/options.rs
  src/cmd/src/standalone.rs
  tests-integration/src/database.rs
Labels: Doc not needed

#3874 build: run cargo gc to build binaries
  .github/workflows/develop.yml
Labels: Doc not needed

#3873 feat: metasrvs nodeinfo
  Cargo.lock
  Cargo.toml
  src/catalog/src/information_schema/cluster_info.rs
  src/meta-client/src/client.rs
  src/meta-client/src/client/cluster.rs
  src/meta-srv/Cargo.toml
  src/meta-srv/src/election.rs
  src/meta-srv/src/election/etcd.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/service/cluster.rs
  tests/cases/distributed/information_schema/cluster_info.result
  tests/cases/distributed/information_schema/cluster_info.sql
Labels: Doc not needed

#3819 feat: limit total rows copied in `COPY TABLE FROM` stmt
  src/operator/src/statement/copy_table_from.rs
  tests/cases/standalone/common/copy/copy_from_fs_parquet.result
  tests/cases/standalone/common/copy/copy_from_fs_parquet.sql
Labels: Doc update required

#3862 refactor: move `Plugins` to `plugins.rs` and use rwlock
  src/common/base/src/lib.rs
  src/common/base/src/plugins.rs
Labels: Doc not needed

#3875 refactor(logstore): remove Entry::namemspace
  src/log-store/src/kafka.rs
  src/log-store/src/noop.rs
  src/log-store/src/raft_engine.rs
  src/store-api/src/logstore/entry.rs
  src/store-api/src/logstore/entry_stream.rs
Labels: Doc not needed

#3876 fix: add data type to vector cache key
  src/mito2/src/cache.rs
  src/mito2/src/engine/basic_test.rs
  src/mito2/src/read/projection.rs
  tests/cases/standalone/common/insert/nullable_tag.result
  tests/cases/standalone/common/insert/nullable_tag.sql
Labels: Doc not needed

#3879 refactor: move mirror insertion tasks to the background runtime
  src/operator/src/insert.rs
Labels: Doc not needed

#3880 feat: support querying field column names in Prometheus HTTP API
  src/servers/src/error.rs
  src/servers/src/http/prometheus.rs
  src/servers/src/prom_store.rs
  src/table/src/table.rs
  tests-integration/tests/http.rs
Labels: Doc not needed

#3878 feat: pass `QueryContext` to `FlowRequestHeader`
  Cargo.lock
  Cargo.toml
  src/common/meta/Cargo.toml
  src/common/meta/src/ddl/create_flow.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/rpc/ddl.rs
  src/frontend/src/instance/grpc.rs
  src/meta-srv/src/service/procedure.rs
  src/operator/src/expr_factory.rs
  src/operator/src/insert.rs
  src/operator/src/statement.rs
  src/operator/src/statement/ddl.rs
  src/query/src/dist_plan/merge_scan.rs
  src/session/src/context.rs
Labels: Doc not needed

#3883 feat: add metasrv start time to node info
  Cargo.lock
  Cargo.toml
  src/meta-client/src/client.rs
  src/meta-srv/src/election.rs
  src/meta-srv/src/election/etcd.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/service/cluster.rs
  tests/cases/distributed/information_schema/cluster_info.result
Labels: Doc not needed

#3890 chore: avoid double future
  src/catalog/src/information_schema/columns.rs
  src/catalog/src/information_schema/partitions.rs
  src/catalog/src/information_schema/region_peers.rs
  src/catalog/src/information_schema/table_constraints.rs
  src/catalog/src/information_schema/tables.rs
  src/catalog/src/kvbackend/manager.rs
  src/catalog/src/lib.rs
  src/catalog/src/memory/manager.rs
  src/servers/src/http/prometheus.rs
Labels: Doc not needed

#3888 feat: implement drop flow parser
  src/frontend/src/instance.rs
  src/operator/src/statement.rs
  src/sql/src/parser.rs
  src/sql/src/parsers/create_parser.rs
  src/sql/src/parsers/drop_parser.rs
  src/sql/src/statements/drop.rs
  src/sql/src/statements/statement.rs
Labels: Doc not needed

#3877 feat: implement drop flow procedure
  Cargo.lock
  Cargo.toml
  src/common/catalog/src/lib.rs
  src/common/error/src/status_code.rs
  src/common/meta/src/cluster.rs
  src/common/meta/src/ddl.rs
  src/common/meta/src/ddl/alter_table.rs
  src/common/meta/src/ddl/create_flow.rs
  src/common/meta/src/ddl/create_flow/check.rs
  src/common/meta/src/ddl/create_table.rs
  src/common/meta/src/ddl/drop_flow.rs
  src/common/meta/src/ddl/drop_flow/metadata.rs
  src/common/meta/src/ddl/drop_table.rs
  src/common/meta/src/ddl/test_util.rs
  src/common/meta/src/ddl/test_util/flownode_handler.rs
  src/common/meta/src/ddl/tests.rs
  src/common/meta/src/ddl/tests/create_flow.rs
  src/common/meta/src/ddl/tests/drop_flow.rs
  src/common/meta/src/ddl/truncate_table.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/error.rs
  src/common/meta/src/key/flow.rs
  src/common/meta/src/lock_key.rs
  src/common/meta/src/metrics.rs
  src/common/meta/src/rpc/ddl.rs
  src/common/meta/src/test_util.rs
  src/common/procedure-test/src/lib.rs
  src/meta-client/src/client.rs
  src/meta-srv/src/handler/node_stat.rs
  src/meta-srv/src/keys.rs
  src/meta-srv/src/region/lease_keeper.rs
  src/servers/src/error.rs
  src/servers/src/http/error_result.rs
Labels: Doc not needed

#3891 chore: deprecate nyc-taxi benchmark
  benchmarks/src/bin/nyc-taxi.rs
Labels: Doc not needed

#3885 feat: implement `CacheContainer` & `TableFlownodeSetCache`
  Cargo.lock
  src/common/meta/Cargo.toml
  src/common/meta/src/cache.rs
  src/common/meta/src/cache/container.rs
  src/common/meta/src/cache/flow.rs
  src/common/meta/src/cache/flow/table_flownode.rs
  src/common/meta/src/cache_invalidator.rs
  src/common/meta/src/error.rs
  src/common/meta/src/instruction.rs
  src/common/meta/src/lib.rs
  src/common/meta/src/metrics.rs
Labels: Doc not needed

#3897 fix: memory leak in unit test of telemetry
  src/common/greptimedb-telemetry/src/lib.rs
Labels: Doc not needed

#3899 chore: bump proto to 219b24
  Cargo.lock
  Cargo.toml
Labels: Doc not needed

#3841 feat: Parquet reader builder supports building multiple ranges to read
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/file_range.rs
  src/mito2/src/sst/parquet/format.rs
  src/mito2/src/sst/parquet/reader.rs
Labels: Doc not needed

#3907 docs: correct v0.7 benchmark report
  docs/benchmarks/tsbs/v0.7.0.md
Labels: Doc not needed

#3896 feat: introduce the `CacheRegistry`
  Cargo.lock
  src/catalog/src/kvbackend/manager.rs
  src/common/meta/Cargo.toml
  src/common/meta/src/cache.rs
  src/common/meta/src/cache/container.rs
  src/common/meta/src/cache/registry.rs
  src/common/meta/src/cache_invalidator.rs
  src/common/meta/src/ddl/alter_logical_tables.rs
  src/common/meta/src/ddl/alter_table.rs
  src/common/meta/src/ddl/create_logical_tables/update_metadata.rs
  src/common/meta/src/ddl/drop_database/metadata.rs
  src/common/meta/src/ddl/drop_table/executor.rs
  src/frontend/src/heartbeat/handler/invalidate_table_cache.rs
  src/meta-srv/src/cache_invalidator.rs
  src/operator/src/statement/ddl.rs
Labels: Doc not needed

#3900 feat: support to drop flow
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/rpc/ddl.rs
  src/operator/src/error.rs
  src/operator/src/statement.rs
  src/operator/src/statement/ddl.rs
Labels: Doc not needed

#3908 feat: support distributed `EXPLAIN ANALYZE`
  src/common/query/src/lib.rs
  src/common/recordbatch/src/adapter.rs
  src/common/recordbatch/src/lib.rs
  src/query/src/analyze.rs
  src/query/src/datafusion.rs
  src/query/src/dist_plan.rs
  src/query/src/dist_plan/merge_scan.rs
  src/query/src/lib.rs
  src/table/src/table/scan.rs
  tests/cases/distributed/explain/analyze.result
  tests/cases/distributed/explain/analyze.sql
  tests/cases/distributed/optimizer/order_by.result
  tests/cases/standalone/common/range/nest.result
  tests/cases/standalone/common/tql-explain-analyze/analyze.result
  tests/cases/standalone/optimizer/order_by.result
Labels: Doc not needed

#3911 build(deps): bump snafu to 0.8
  Cargo.lock
  Cargo.toml
  src/api/src/error.rs
  src/auth/src/error.rs
  src/catalog/src/error.rs
  src/client/src/error.rs
  src/cmd/src/cli/upgrade.rs
  src/cmd/src/error.rs
  src/common/base/src/buffer.rs
  src/common/catalog/src/error.rs
  src/common/datasource/src/error.rs
  src/common/decimal/src/error.rs
  src/common/frontend/src/error.rs
  src/common/grpc-expr/src/error.rs
  src/common/grpc/src/error.rs
  src/common/mem-prof/src/jemalloc/error.rs
  src/common/meta/src/error.rs
  src/common/procedure/src/error.rs
  src/common/query/src/error.rs
  src/common/recordbatch/src/error.rs
  src/common/runtime/src/error.rs
  src/common/substrait/src/error.rs
  src/common/time/src/error.rs
  src/datanode/src/error.rs
  src/datatypes/src/error.rs
  src/file-engine/src/error.rs
  src/flow/src/adapter/error.rs
  src/flow/src/expr/error.rs
  src/frontend/src/error.rs
  src/index/src/inverted_index/error.rs
  src/log-store/src/error.rs
  src/meta-client/src/error.rs
  src/meta-srv/src/error.rs
  src/metric-engine/src/error.rs
  src/mito2/src/error.rs
  src/operator/src/error.rs
  src/partition/src/error.rs
  src/promql/src/error.rs
  src/puffin/src/error.rs
  src/query/src/datafusion/error.rs
  src/query/src/error.rs
  src/script/src/error.rs
  src/script/src/python/error.rs
  src/servers/src/error.rs
  src/servers/src/http/pprof/nix.rs
  src/session/src/session_config.rs
  src/sql/src/error.rs
  src/sql/src/parsers/error.rs
  src/store-api/src/metadata.rs
  src/table/src/error.rs
  tests-fuzz/src/error.rs
Labels: Doc not needed

#3893 refactor: remove MixOptions and use StandaloneOptions only
  src/cmd/src/options.rs
  src/cmd/src/standalone.rs
  src/common/wal/src/config.rs
  tests-integration/src/standalone.rs
  tests-integration/src/test_util.rs
  tests-integration/src/tests/test_util.rs
  tests-integration/tests/http.rs
Labels: Doc not needed

#3906 refactor: add `procedure_loader` macro
  src/common/meta/src/ddl_manager.rs
Labels: Doc not needed

#3905 refactor: make txn easy to use
  src/common/meta/src/key/flow/flow_info.rs
  src/common/meta/src/key/flow/flow_name.rs
  src/common/meta/src/key/table_info.rs
  src/common/meta/src/key/table_route.rs
  src/common/meta/src/key/txn_helper.rs
  src/common/meta/src/kv_backend/memory.rs
  src/common/meta/src/kv_backend/txn.rs
  src/log-store/src/raft_engine/backend.rs
Labels: Doc not needed

#3909 feat: metaclient builder options with role
  src/datanode/src/heartbeat.rs
  src/frontend/src/instance.rs
  src/meta-client/examples/meta_client.rs
  src/meta-client/src/client.rs
  src/meta-client/src/mocks.rs
  tests-integration/src/cluster.rs
Labels: Doc not needed

#3894 refactor: Remove PhysicalPlan trait and use ExecutionPlan directly
  src/catalog/src/information_schema/cluster_info.rs
  src/catalog/src/information_schema/columns.rs
  src/catalog/src/information_schema/key_column_usage.rs
  src/catalog/src/information_schema/memory_table.rs
  src/catalog/src/information_schema/partitions.rs
  src/catalog/src/information_schema/region_peers.rs
  src/catalog/src/information_schema/runtime_metrics.rs
  src/catalog/src/information_schema/schemata.rs
  src/catalog/src/information_schema/table_constraints.rs
  src/catalog/src/information_schema/tables.rs
  src/common/query/src/lib.rs
  src/common/query/src/physical_plan.rs
  src/file-engine/src/query/file_stream.rs
  src/query/src/analyze.rs
  src/query/src/datafusion.rs
  src/query/src/datafusion/error.rs
  src/query/src/dist_plan/merge_scan.rs
  src/query/src/dummy_catalog.rs
  src/query/src/executor.rs
  src/query/src/optimizer/remove_duplicate.rs
  src/query/src/physical_optimizer.rs
  src/query/src/physical_planner.rs
  src/query/src/physical_wrapper.rs
  src/query/src/query_engine/state.rs
  src/query/src/range_select/plan.rs
  src/servers/src/http/header.rs
  src/table/src/table/adapter.rs
  src/table/src/table/scan.rs
Labels: Doc not needed

#3916 chore: keep the same naming style
  src/catalog/src/kvbackend/manager.rs
Labels: Doc not needed

#3912 refactor: refactor frontend cache
  Cargo.lock
  Cargo.toml
  src/cache/Cargo.toml
  src/cache/src/lib.rs
  src/catalog/src/error.rs
  src/catalog/src/kvbackend.rs
  src/catalog/src/kvbackend/client.rs
  src/catalog/src/kvbackend/manager.rs
  src/catalog/src/kvbackend/table_cache.rs
  src/cmd/Cargo.toml
  src/cmd/src/error.rs
  src/cmd/src/frontend.rs
  src/cmd/src/standalone.rs
  src/common/meta/src/cache.rs
  src/common/meta/src/cache/flow.rs
  src/common/meta/src/cache/flow/table_flownode.rs
  src/common/meta/src/cache/registry.rs
  src/common/meta/src/cache_invalidator.rs
  src/common/meta/src/ddl/alter_table.rs
  src/frontend/Cargo.toml
  src/frontend/src/error.rs
  src/frontend/src/instance/builder.rs
  src/operator/src/insert.rs
  tests-fuzz/targets/unstable/fuzz_create_table_standalone.rs
  tests-integration/Cargo.toml
  tests-integration/src/cluster.rs
  tests-integration/src/standalone.rs
Labels: Doc not needed

#3915 feat: support to create & drop flow via grpc
  src/frontend/src/instance/grpc.rs
  src/operator/src/error.rs
  src/operator/src/expr_factory.rs
  src/operator/src/statement.rs
  src/operator/src/statement/ddl.rs
Labels: Doc not needed

#3918 feat: implement the `CompositeTableRoute`
  src/common/meta/src/cache.rs
  src/common/meta/src/cache/table.rs
  src/common/meta/src/cache/table/composite_table_route.rs
  src/common/meta/src/cache/table/table_route.rs
Labels: Doc not needed

#3920 fix: sort unstable HTTP result in label values query
  src/servers/src/http/prometheus.rs
Labels: Doc not needed

#3921 refactor: rename metasrv_addr to metasrv_addrs
  src/cmd/src/datanode.rs
  src/cmd/src/frontend.rs
Labels: Doc not needed

#3923 feat: migrate orc-rs to datafusion-orc
  Cargo.lock
  src/common/datasource/Cargo.toml
  src/common/datasource/src/error.rs
  src/common/datasource/src/file_format/orc.rs
Labels: Doc not needed

#3919 refactor: add tracing options in xOptions
  config/config.md
  config/datanode.example.toml
  config/frontend.example.toml
  config/metasrv.example.toml
  config/standalone.example.toml
  src/cmd/src/bin/greptime.rs
  src/cmd/src/datanode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/metasrv.rs
  src/cmd/src/standalone.rs
  src/common/telemetry/src/logging.rs
  src/datanode/src/config.rs
  src/frontend/src/frontend.rs
  src/meta-srv/src/metasrv.rs
  tests-integration/tests/http.rs
Labels: Doc not needed

#3925 chore: store-addr to store-addrs
  src/cmd/src/metasrv.rs
  src/meta-srv/src/bootstrap.rs
  src/meta-srv/src/metasrv.rs
Labels: Doc update required

#3751 feat: create database with options
  src/common/meta/src/ddl/create_database.rs
  src/common/meta/src/rpc/ddl.rs
  src/frontend/src/instance/grpc.rs
  src/operator/src/statement.rs
  src/operator/src/statement/ddl.rs
  src/sql/src/error.rs
  src/sql/src/parsers/create_parser.rs
  src/sql/src/statements/create.rs
  tests/cases/standalone/common/create/create_database.result
  tests/cases/standalone/common/create/create_database.sql
Labels: Doc update required

#3903 feat(flow): render source/sink
  Cargo.lock
  Cargo.toml
  src/common/substrait/src/df_substrait.rs
  src/common/substrait/src/lib.rs
  src/flow/Cargo.toml
  src/flow/src/adapter.rs
  src/flow/src/adapter/error.rs
  src/flow/src/adapter/node_context.rs
  src/flow/src/compute.rs
  src/flow/src/compute/render.rs
  src/flow/src/compute/render/map.rs
  src/flow/src/compute/render/reduce.rs
  src/flow/src/compute/render/src_sink.rs
  src/flow/src/compute/state.rs
  src/flow/src/compute/types.rs
  src/flow/src/expr/error.rs
  src/flow/src/expr/func.rs
  src/flow/src/expr/id.rs
  src/flow/src/expr/relation/func.rs
  src/flow/src/plan.rs
  src/flow/src/repr.rs
  src/flow/src/repr/relation.rs
  src/flow/src/transform.rs
  src/flow/src/transform/aggr.rs
  src/flow/src/transform/expr.rs
  src/flow/src/transform/literal.rs
  src/flow/src/transform/plan.rs
Labels: Doc not needed

#3922 feat: introduce `TableRouteCache` to `PartitionRuleManager`
  Cargo.lock
  src/cache/Cargo.toml
  src/cache/src/error.rs
  src/cache/src/lib.rs
  src/catalog/src/kvbackend/manager.rs
  src/cmd/src/error.rs
  src/cmd/src/frontend.rs
  src/cmd/src/standalone.rs
  src/common/meta/src/cache.rs
  src/common/meta/src/cache/container.rs
  src/common/meta/src/cache/registry.rs
  src/common/meta/src/cache/table.rs
  src/common/meta/src/cache/table/composite_table_route.rs
  src/common/meta/src/metrics.rs
  src/frontend/src/instance/builder.rs
  src/operator/Cargo.toml
  src/operator/src/statement.rs
  src/operator/src/tests/partition_manager.rs
  src/partition/src/error.rs
  src/partition/src/manager.rs
  tests-integration/src/cluster.rs
  tests-integration/src/standalone.rs
Labels: Doc not needed

#3901 feat: limiting the size of query results to Dashboard
  src/servers/src/http.rs
  src/servers/src/http/csv_result.rs
  src/servers/src/http/greptime_result_v1.rs
  src/servers/src/http/handler.rs
  src/servers/src/http/table_result.rs
  src/servers/tests/http/http_handler_test.rs
  src/table/src/test_util/memtable.rs
  tests-integration/tests/http.rs
Labels: Doc not needed

#3930 fix: potential deadlock
  src/log-store/src/raft_engine/backend.rs
Labels: Doc not needed

#3898 build: upgrade rust toolchain to fix ci issues on Windows
  .github/workflows/apidoc.yml
  .github/workflows/develop.yml
  .github/workflows/nightly-ci.yml
  .github/workflows/release.yml
  rust-toolchain.toml
  src/common/runtime/src/repeated_task.rs
Labels: Doc not needed

#3926 feat: support to invalidate flow cache
  src/common/meta/src/cache_invalidator.rs
  src/common/meta/src/ddl/create_flow.rs
  src/common/meta/src/ddl/drop_flow.rs
  src/common/meta/src/flow_name.rs
  src/common/meta/src/instruction.rs
  src/common/meta/src/lib.rs
  src/common/meta/src/rpc/ddl.rs
Labels: Doc not needed

#3807 feat: create view
  Cargo.lock
  Cargo.toml
  src/api/src/helper.rs
  src/common/meta/src/ddl.rs
  src/common/meta/src/ddl/create_logical_tables/metadata.rs
  src/common/meta/src/ddl/create_view.rs
  src/common/meta/src/ddl/table_meta.rs
  src/common/meta/src/ddl/tests.rs
  src/common/meta/src/ddl/tests/create_table.rs
  src/common/meta/src/ddl/tests/create_view.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/error.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/table_route.rs
  src/common/meta/src/key/view_info.rs
  src/common/meta/src/metrics.rs
  src/common/meta/src/rpc/ddl.rs
  src/datatypes/src/schema/raw.rs
  src/frontend/src/instance.rs
  src/frontend/src/instance/grpc.rs
  src/operator/Cargo.toml
  src/operator/src/error.rs
  src/operator/src/expr_factory.rs
  src/operator/src/metrics.rs
  src/operator/src/statement.rs
  src/operator/src/statement/ddl.rs
  src/operator/src/statement/tql.rs
  src/query/src/plan.rs
  src/query/src/planner.rs
  src/query/src/query_engine/state.rs
  src/sql/src/parsers/create_parser.rs
  src/sql/src/statements/create.rs
  src/sql/src/statements/statement.rs
  src/table/src/metadata.rs
  tests/cases/standalone/common/view/create.result
  tests/cases/standalone/common/view/create.sql
Labels: Doc update required

#3936 feat: use txn to impl cas
  src/catalog/src/kvbackend/client.rs
  src/common/meta/src/kv_backend.rs
  src/common/meta/src/kv_backend/etcd.rs
  src/common/meta/src/kv_backend/memory.rs
  src/common/meta/src/kv_backend/txn.rs
  src/log-store/src/raft_engine/backend.rs
Labels: Doc not needed

#3938 feat(flow): add types for every plan enum variant
  Cargo.lock
  src/flow/Cargo.toml
  src/flow/src/compute/render.rs
  src/flow/src/compute/render/map.rs
  src/flow/src/compute/render/reduce.rs
  src/flow/src/expr/scalar.rs
  src/flow/src/plan.rs
  src/flow/src/repr/relation.rs
  src/flow/src/transform/aggr.rs
  src/flow/src/transform/expr.rs
  src/flow/src/transform/plan.rs
Labels: Doc not needed

#3927 fix(metric engine): label mismatch in metric engine
  src/mito2/src/memtable/partition_tree.rs
  src/mito2/src/memtable/partition_tree/dict.rs
  src/mito2/src/memtable/partition_tree/partition.rs
  src/mito2/src/memtable/partition_tree/shard.rs
  src/mito2/src/memtable/partition_tree/shard_builder.rs
  src/mito2/src/test_util/memtable_util.rs
Labels: Doc not needed

#3940 chore: minor refactor on etcd kvbackend
  src/common/meta/src/kv_backend/etcd.rs
  src/common/meta/src/kv_backend/memory.rs
  src/common/meta/src/kv_backend/txn/etcd.rs
  src/log-store/src/raft_engine/backend.rs
Labels: Doc not needed

#3934 feat(flow): flow worker
  Cargo.lock
  src/flow/Cargo.toml
  src/flow/src/adapter.rs
  src/flow/src/adapter/error.rs
  src/flow/src/adapter/worker.rs
  src/flow/src/compute/render.rs
Labels: Doc not needed

#3942 chore: update greptime-proto to a11db14
  Cargo.lock
  Cargo.toml
Labels: Doc not needed

#3932 feat(fuzz): add validator for inserted rows
  Cargo.lock
  tests-fuzz/Cargo.toml
  tests-fuzz/src/generator.rs
  tests-fuzz/src/generator/insert_expr.rs
  tests-fuzz/src/ir.rs
  tests-fuzz/src/ir/insert_expr.rs
  tests-fuzz/src/translator/mysql/insert_expr.rs
  tests-fuzz/src/validator.rs
  tests-fuzz/src/validator/row.rs
  tests-fuzz/targets/fuzz_insert.rs
  tests-fuzz/targets/fuzz_insert_logical_table.rs
Labels: Doc not needed

#3943 feat(flow): query table schema&refactor
  src/common/meta/src/key/table_info.rs
  src/flow/src/adapter.rs
  src/flow/src/adapter/error.rs
  src/flow/src/adapter/node_context.rs
  src/flow/src/adapter/table_source.rs
  src/flow/src/adapter/util.rs
  src/flow/src/adapter/worker.rs
  src/flow/src/repr.rs
  src/flow/src/transform.rs
Labels: Doc not needed

#3945 perf(operator): reuse table info from table creation
  src/operator/src/insert.rs
  src/operator/src/req_convert/insert/row_to_region.rs
Labels: Doc not needed

#3946 ci: Use lld linker in windows tests
  .github/workflows/nightly-ci.yml
  src/servers/src/tls.rs
Labels: Doc not needed

#3917 refactor: add `Configurable` trait
  Cargo.lock
  Cargo.toml
  src/cmd/Cargo.toml
  src/cmd/src/datanode.rs
  src/cmd/src/error.rs
  src/cmd/src/frontend.rs
  src/cmd/src/metasrv.rs
  src/cmd/src/options.rs
  src/cmd/src/standalone.rs
  src/common/config/Cargo.toml
  src/common/config/src/config.rs
  src/common/config/src/error.rs
  src/common/config/src/lib.rs
  src/datanode/Cargo.toml
  src/datanode/src/config.rs
  src/datanode/src/error.rs
  src/datanode/src/service.rs
  src/frontend/src/error.rs
  src/frontend/src/frontend.rs
  src/frontend/src/instance.rs
  src/frontend/src/server.rs
  src/meta-srv/Cargo.toml
  src/meta-srv/src/bootstrap.rs
  src/meta-srv/src/error.rs
  src/meta-srv/src/metasrv.rs
  tests-integration/src/test_util.rs
Labels: docs-not-required

#3951 chore: catch up label updates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/feature.yml
Labels: docs-not-required

#3953 test: give windows file watcher more time
  src/servers/src/tls.rs
Labels: docs-not-required

#3950 feat: ignore internal columns in `SHOW CREATE TABLE`
  src/query/src/sql/show_create_table.rs
  src/store-api/src/metric_engine_consts.rs
  tests/cases/standalone/common/show/show_create.result
  tests/cases/standalone/common/show/show_create.sql
Labels: docs-not-required

#3949 feat(cli): export metric physical tables first
  src/cmd/src/cli.rs
  src/cmd/src/cli/export.rs
  src/cmd/src/lib.rs
Labels: docs-not-required

#3933 feat: support any precision in PromQL
  src/promql/src/extension_plan/instant_manipulate.rs
  src/promql/src/extension_plan/normalize.rs
  src/promql/src/extension_plan/range_manipulate.rs
  src/promql/src/planner.rs
  src/query/src/range_select/plan.rs
  tests/cases/standalone/common/promql/precisions.result
  tests/cases/standalone/common/promql/precisions.sql
Labels: docs-required

#3955 feat(flow): avg func rewrite to sum/count
  src/flow/src/compute/render.rs
  src/flow/src/compute/render/reduce.rs
  src/flow/src/compute/types.rs
  src/flow/src/expr/func.rs
  src/flow/src/expr/relation/func.rs
  src/flow/src/plan.rs
  src/flow/src/repr/relation.rs
  src/flow/src/transform/aggr.rs
Labels: docs-not-required

#3954 feat(flow): flow node manager
  Cargo.lock
  src/cmd/Cargo.toml
  src/cmd/src/standalone.rs
  src/flow/src/adapter.rs
  src/flow/src/adapter/flownode_impl.rs
  src/flow/src/adapter/parse_expr.rs
  src/flow/src/adapter/server.rs
  src/flow/src/adapter/tests.rs
  src/flow/src/adapter/worker.rs
  src/flow/src/compute/render/src_sink.rs
  src/flow/src/expr/scalar.rs
  src/flow/src/lib.rs
  src/frontend/src/instance/standalone.rs
  tests-integration/Cargo.toml
  tests-integration/src/standalone.rs
Labels: docs-not-required

#3956 feat(flow): expire arrange according to time_index type
  src/flow/src/adapter/worker.rs
  src/flow/src/compute/render.rs
  src/flow/src/compute/render/reduce.rs
  src/flow/src/compute/state.rs
  src/flow/src/utils.rs
Labels: docs-not-required

#3958 test: gracefully shutdown postgres client in sql tests
  tests-integration/tests/sql.rs
Labels: docs-not-required

#3910 feat: limit total rows copied in COPY TABLE FROM with LIMIT segment
  src/operator/src/statement.rs
  src/operator/src/statement/copy_database.rs
  src/operator/src/statement/copy_table_from.rs
  src/sql/src/parsers/copy_parser.rs
  src/sql/src/statements/copy.rs
  src/table/src/requests.rs
  tests/cases/standalone/common/copy/copy_database_from_fs_parquet.result
  tests/cases/standalone/common/copy/copy_database_from_fs_parquet.sql
  tests/cases/standalone/common/copy/copy_from_fs_parquet.result
  tests/cases/standalone/common/copy/copy_from_fs_parquet.sql
Labels: docs-required

#3962 feat: remove timeout in the channel between frontend and datanode
  Cargo.lock
  config/config.md
  config/frontend.example.toml
  src/cmd/Cargo.toml
  src/cmd/src/frontend.rs
  src/common/grpc/src/channel_manager.rs
  src/frontend/src/service_config/datanode.rs
Labels: docs-not-required

#3966 feat: skip read-only region when trying to flush on region full
  src/mito2/src/compaction/twcs.rs
  src/mito2/src/flush.rs
  src/mito2/src/worker/handle_flush.rs
Labels: docs-not-required

#3960 refactor(naming): use the better naming for pubsub
  src/meta-srv/src/handler/publish_heartbeat_handler.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/pubsub.rs
  src/meta-srv/src/pubsub/publish.rs
  src/meta-srv/src/pubsub/subscribe_manager.rs
  src/meta-srv/src/pubsub/tests.rs
Labels: docs-not-required

#3969 build: add RUSTUP_WINDOWS_PATH_ADD_BIN env
  .github/actions/build-windows-artifacts/action.yml
  .github/workflows/nightly-ci.yml
Labels: docs-not-required

#3970 fix: prevent exporting metric physical table data
  src/operator/src/statement/copy_database.rs
Labels: docs-not-required

#3823 feat: support evaluate expr in range query param
  Cargo.lock
  Cargo.toml
  src/query/src/range_select/plan_rewrite.rs
  tests/cases/standalone/common/range/error.result
  tests/cases/standalone/common/range/to.result
  tests/cases/standalone/common/range/to.sql
Labels: docs-required

#3975 fix: prevent exporting metric physical table data
  src/operator/src/statement/copy_database.rs
Labels: docs-not-required

#3972 fix: changing column data type can't process type alias
  src/sql/src/parsers/alter_parser.rs
  src/sql/src/statements/alter.rs
  src/sql/src/statements/transform/type_alias.rs
Labels: docs-not-required

#3977 fix: tql parser hang on abnormal input
  src/sql/src/parsers/tql_parser.rs
Labels: docs-not-required

#3978 feat(cli): prevent exporting physical table data
  src/cmd/src/cli/export.rs
Labels: docs-not-required

#3971 chore: bump to v0.8.0
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
Labels: docs-not-required

#3974 docs: add toc for config docs
  config/config-docs-template.md
  config/config.md
Labels: docs-not-required

#3976 ci: report CI failures with creating issues
  .github/workflows/dev-build.yml
  .github/workflows/nightly-build.yml
  .github/workflows/nightly-ci.yml
  .github/workflows/release.yml
  cyborg/bin/report-ci-failure.ts
Labels: docs-not-required

#3924 chore: change binary array type from LargeBinaryArray to BinaryArray
  src/datatypes/src/arrow_array.rs
  src/datatypes/src/types/binary_type.rs
  src/datatypes/src/value.rs
  src/datatypes/src/vectors/binary.rs
  src/datatypes/src/vectors/helper.rs
  src/mito2/src/memtable/partition_tree/dict.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/test_util/sst_util.rs
  src/servers/src/mysql/helper.rs
Labels: docs-not-required

#3983 docs: add v0.8.0 TSBS report
  docs/benchmarks/tsbs/v0.8.0.md
Labels: docs-not-required

#3979 chore: pin cargo-ndk to 3.5.4
  docker/dev-builder/android/Dockerfile
Labels: docs-not-required

#3984 ci: check-status for nightly-ci
  .github/workflows/dev-build.yml
  .github/workflows/nightly-build.yml
  .github/workflows/nightly-ci.yml
  .github/workflows/release.yml
Labels: docs-not-required

#3982 feat: use cache in compaction
  src/mito2/src/compaction/twcs.rs
Labels: docs-not-required

#3981 refactor: make the command entry cleaner
  src/cmd/src/bin/greptime.rs
  src/cmd/src/cli.rs
  src/cmd/src/datanode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/lib.rs
  src/cmd/src/metasrv.rs
  src/cmd/src/options.rs
  src/cmd/src/standalone.rs
  src/common/telemetry/src/logging.rs
  tests-integration/src/database.rs
Labels: docs-not-required

#3987 ci: fixup strings in check ci status
  .github/workflows/nightly-build.yml
  cyborg/bin/report-ci-failure.ts
Labels: docs-not-required

#3989 ci: add 'contents: write' permission
  .github/workflows/release.yml
Labels: docs-not-required

#3961 feat: support compression on gRPC server
  Cargo.lock
  Cargo.toml
  Makefile
  src/client/src/client.rs
  src/meta-srv/src/procedure/utils.rs
  src/servers/src/grpc/builder.rs
  src/servers/tests/grpc/mod.rs
  tests-integration/src/cluster.rs
  tests-integration/tests/grpc.rs
Labels: docs-not-required

#3948 feat: Adds `RegionScanner` trait
  Cargo.lock
  Cargo.toml
  src/datanode/src/tests.rs
  src/file-engine/src/engine.rs
  src/metric-engine/src/engine.rs
  src/metric-engine/src/engine/read.rs
  src/metric-engine/src/metadata_region.rs
  src/mito2/src/engine.rs
  src/mito2/src/engine/alter_test.rs
  src/mito2/src/engine/append_mode_test.rs
  src/mito2/src/engine/basic_test.rs
  src/mito2/src/engine/catchup_test.rs
  src/mito2/src/engine/create_test.rs
  src/mito2/src/engine/filter_deleted_test.rs
  src/mito2/src/engine/open_test.rs
  src/mito2/src/engine/parallel_test.rs
  src/mito2/src/engine/projection_test.rs
  src/mito2/src/engine/prune_test.rs
  src/mito2/src/engine/truncate_test.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/unordered_scan.rs
  src/query/src/dummy_catalog.rs
  src/query/src/optimizer/test_util.rs
  src/store-api/Cargo.toml
  src/store-api/src/region_engine.rs
  src/table/src/table/adapter.rs
  src/table/src/table/scan.rs
  tests/cases/distributed/explain/analyze.result
  tests/cases/distributed/optimizer/order_by.result
  tests/cases/standalone/common/range/nest.result
  tests/cases/standalone/common/tql-explain-analyze/analyze.result
  tests/cases/standalone/optimizer/order_by.result
Labels: docs-not-required

#3967 chore(ci): add fuzz tests for distributed mode
  .github/actions/build-and-push-ci-image/action.yml
  .github/actions/setup-etcd-cluster/action.yml
  .github/actions/setup-greptimedb-cluster/action.yml
  .github/actions/setup-kind/action.yml
  .github/scripts/kind-with-registry.sh
  .github/workflows/develop.yml
  Cargo.toml
  docker/ci/ubuntu/Dockerfile.fuzztests
Labels: docs-not-required

#3994 ci: change the image name of nightly build
  .github/workflows/nightly-build.yml
Labels: docs-not-required

#3995 refactor: replace Expr with datafusion::Expr
  Cargo.lock
  src/catalog/src/information_schema/predicate.rs
  src/common/query/src/logical_plan.rs
  src/common/query/src/logical_plan/expr.rs
  src/common/query/src/prelude.rs
  src/file-engine/src/query.rs
  src/file-engine/src/query/file_stream.rs
  src/metric-engine/src/engine/read.rs
  src/metric-engine/src/metadata_region.rs
  src/mito2/benches/memtable_bench.rs
  src/mito2/src/engine/prune_test.rs
  src/mito2/src/memtable/partition_tree.rs
  src/mito2/src/memtable/partition_tree/tree.rs
  src/mito2/src/memtable/time_series.rs
  src/mito2/src/sst/index/applier/builder.rs
  src/mito2/src/sst/index/creator.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/reader.rs
  src/operator/src/statement/copy_table_to.rs
  src/operator/src/tests/partition_manager.rs
  src/partition/src/error.rs
  src/partition/src/manager.rs
  src/query/src/dummy_catalog.rs
  src/query/src/tests/time_range_filter_test.rs
  src/store-api/Cargo.toml
  src/store-api/src/storage/requests.rs
  src/table/src/predicate.rs
  src/table/src/table.rs
  src/table/src/table/adapter.rs
Labels: docs-not-required

#3998 fix: try to fix broken CI
  .github/actions/setup-greptimedb-cluster/action.yml
Labels: docs-not-required

#4001 feat: make create view procedure simple as others
  src/common/meta/src/ddl/create_view.rs
  src/common/procedure/src/local.rs
  src/common/procedure/src/store.rs
Labels: docs-not-required

#4004 fix: move log_version() into build() of App to fix no log version on bootstrap
  src/cmd/src/bin/greptime.rs
  src/cmd/src/datanode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/metasrv.rs
  src/cmd/src/standalone.rs
Labels: docs-not-required

#3996 chore(ci): export kind logs
  .github/actions/sqlness-test/action.yml
Labels: docs-not-required

#4003 fix: try to fix unstable fuzz test
  tests-fuzz/targets/unstable/fuzz_create_table_standalone.rs
Labels: docs-not-required

#3947 feat: respect time range when building parquet reader
  src/common/recordbatch/src/filter.rs
  src/mito2/src/engine/prune_test.rs
  src/mito2/src/error.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/sst/parquet/reader.rs
  src/query/src/tests/time_range_filter_test.rs
  src/table/src/predicate.rs
Labels: docs-not-required

#4005 fix: can't print log because the tracing guard is dropped
  Cargo.lock
  src/cmd/Cargo.toml
  src/cmd/src/cli.rs
  src/cmd/src/cli/bench.rs
  src/cmd/src/cli/export.rs
  src/cmd/src/cli/upgrade.rs
  src/cmd/src/datanode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/metasrv.rs
  src/cmd/src/standalone.rs
Labels: docs-not-required

#4008 fix(fuzz): sort inserted rows with primary keys and time index
  tests-fuzz/src/ir.rs
  tests-fuzz/src/ir/insert_expr.rs
  tests-fuzz/targets/fuzz_insert.rs
  tests-fuzz/targets/fuzz_insert_logical_table.rs
Labels: docs-not-required

#4010 chore: add ttl to write_cache
  config/config.md
  config/datanode.example.toml
  config/standalone.example.toml
  src/mito2/src/cache/file_cache.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/config.rs
  src/mito2/src/engine/basic_test.rs
  src/mito2/src/test_util.rs
  src/mito2/src/worker.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#3988 feat: manual compaction
  Cargo.lock
  Cargo.toml
  src/common/function/src/table/flush_compact_table.rs
  src/datanode/src/region_server.rs
  src/mito2/src/compaction.rs
  src/mito2/src/compaction/buckets.rs
  src/mito2/src/compaction/task.rs
  src/mito2/src/compaction/twcs.rs
  src/mito2/src/compaction/window.rs
  src/mito2/src/engine/append_mode_test.rs
  src/mito2/src/engine/compaction_test.rs
  src/mito2/src/error.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_compaction.rs
  src/mito2/src/worker/handle_flush.rs
  src/operator/src/request.rs
  src/session/src/table_name.rs
  src/sql/src/error.rs
  src/store-api/src/region_request.rs
  src/table/Cargo.toml
  src/table/src/requests.rs
Labels: docs-required

#4009 feat: add fallback logic for vmagent sending wrong content type
  src/servers/src/http/prom_store.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#4015 chore(ci): add more replicas
  .github/actions/setup-etcd-cluster/action.yml
  .github/actions/setup-greptimedb-cluster/action.yml
  .github/workflows/develop.yml
Labels: docs-not-required

#4021 refactor: remove unused log config
  src/log-store/src/config.rs
Labels: docs-not-required

#4016 fix: notifies all workers once a region is flushed
  src/mito2/src/metrics.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_flush.rs
  src/mito2/src/worker/handle_write.rs
Labels: docs-not-required

#3957 feat: Add TLS support for gRPC service
  config/config.md
  config/frontend.example.toml
  config/standalone.example.toml
  src/client/src/client.rs
  src/client/src/error.rs
  src/cmd/src/frontend.rs
  src/common/grpc/tests/mod.rs
  src/common/grpc/tests/tls/ca.pem
  src/common/grpc/tests/tls/client.key
  src/common/grpc/tests/tls/client.pem
  src/common/grpc/tests/tls/server.cert.pem
  src/common/grpc/tests/tls/server.key
  src/common/grpc/tests/tls/server.pem
  src/datanode/src/service.rs
  src/frontend/src/error.rs
  src/frontend/src/server.rs
  src/frontend/src/service_config/grpc.rs
  src/servers/src/grpc.rs
  src/servers/src/grpc/builder.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/grpc.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#4028 feat: remove one clone on constructing partition
  src/partition/src/manager.rs
  src/partition/src/partition.rs
Labels: docs-not-required

#4027 feat: add `RawEntryReader` and `OneshotWalEntryReader` trait
  src/log-store/src/kafka.rs
  src/log-store/src/noop.rs
  src/log-store/src/raft_engine.rs
  src/mito2/src/wal.rs
  src/mito2/src/wal/raw_entry_reader.rs
  src/mito2/src/wal/wal_entry_reader.rs
  src/store-api/src/logstore/entry.rs
  src/store-api/src/logstore/entry_stream.rs
Labels: docs-not-required

#4024 feat: round-robin selector
  src/common/meta/src/ddl/table_meta.rs
  src/meta-srv/src/bootstrap.rs
  src/meta-srv/src/cluster.rs
  src/meta-srv/src/selector.rs
  src/meta-srv/src/selector/lease_based.rs
  src/meta-srv/src/selector/round_robin.rs
  src/meta-srv/src/table_meta_alloc.rs
  src/meta-srv/src/test_util.rs
Labels: docs-not-required

#4033 ci: skip notification for manual releases
  .github/workflows/release.yml
Labels: docs-not-required

#4030 feat: implement the `LogStoreRawEntryReader` and `RawEntryReaderFilter`
  src/mito2/src/error.rs
  src/mito2/src/wal/raw_entry_reader.rs
  src/store-api/src/logstore/entry.rs
Labels: docs-not-required

#4047 build(deps): upgrade promql-parser to 0.4
  Cargo.lock
  Cargo.toml
  src/promql/Cargo.toml
  src/promql/src/error.rs
  src/promql/src/planner.rs
  src/query/Cargo.toml
  src/query/src/parser.rs
  src/servers/Cargo.toml
  src/servers/src/grpc/prom_query_gateway.rs
  src/servers/src/http/prometheus.rs
  src/servers/src/http/prometheus_resp.rs
Labels: docs-not-required

#4042 feat: support table level comment
  src/operator/src/statement/ddl.rs
  src/table/src/requests.rs
  tests/cases/standalone/common/create/create.result
  tests/cases/standalone/common/create/create.sql
Labels: docs-not-required

#4035 feat(opertor): check if a database is in use before dropping it
  src/operator/src/error.rs
  src/operator/src/statement/ddl.rs
  tests/cases/standalone/common/catalog/schema.result
  tests/cases/standalone/common/catalog/schema.sql
  tests/cases/standalone/common/create/upper_case_table_name.result
  tests/cases/standalone/common/create/upper_case_table_name.sql
Labels: docs-not-required

#4044 chore: add logs for setting the region to writable
  src/mito2/src/region.rs
Labels: docs-not-required

#4002 feat: change EXPIRE WHEN to EXPIRE AFTER
  Cargo.lock
  Cargo.toml
  src/common/meta/src/cache/flow/table_flownode.rs
  src/common/meta/src/ddl/create_flow.rs
  src/common/meta/src/ddl/tests/create_flow.rs
  src/common/meta/src/key/flow.rs
  src/common/meta/src/key/flow/flow_info.rs
  src/common/meta/src/rpc/ddl.rs
  src/flow/src/adapter.rs
  src/flow/src/adapter/flownode_impl.rs
  src/flow/src/adapter/worker.rs
  src/operator/src/expr_factory.rs
  src/sql/src/error.rs
  src/sql/src/parsers.rs
  src/sql/src/parsers/create_parser.rs
  src/sql/src/parsers/error.rs
  src/sql/src/parsers/tql_parser.rs
  src/sql/src/parsers/utils.rs
  src/sql/src/statements/create.rs
Labels: docs-not-required

#4019 feat: enable tcp keepalive for http server
  src/cmd/src/standalone.rs
  src/datanode/src/error.rs
  src/servers/src/grpc/builder.rs
  src/servers/src/http.rs
  tests-integration/src/test_util.rs
Labels: docs-not-required

#4036 build(deps): merge tower deps to workspace
  Cargo.toml
  src/common/grpc/Cargo.toml
  src/frontend/Cargo.toml
  src/meta-client/Cargo.toml
  src/meta-srv/Cargo.toml
  src/servers/Cargo.toml
  tests-integration/Cargo.toml
Labels: docs-not-required

#4049 fix(fuzz-tests): avoid to drop in-use database
  tests-fuzz/targets/unstable/fuzz_create_table_standalone.rs
Labels: docs-not-required

#4037 build(deps): upgrade opendal to 0.46
  Cargo.lock
  Cargo.toml
  src/common/datasource/src/compression.rs
  src/common/datasource/src/file_format.rs
  src/common/datasource/src/file_format/csv.rs
  src/common/datasource/src/file_format/json.rs
  src/common/datasource/src/file_format/orc.rs
  src/common/datasource/src/file_format/parquet.rs
  src/common/datasource/src/test_util.rs
  src/common/procedure/src/store/state_store.rs
  src/datanode/src/store.rs
  src/file-engine/src/manifest.rs
  src/mito2/src/cache/file_cache.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/manifest/storage.rs
  src/mito2/src/sst/index/applier.rs
  src/mito2/src/sst/index/store.rs
  src/mito2/src/sst/parquet/helper.rs
  src/mito2/src/sst/parquet/metadata.rs
  src/mito2/src/worker/handle_drop.rs
  src/object-store/Cargo.toml
  src/object-store/src/layers/lru_cache.rs
  src/object-store/src/layers/lru_cache/read_cache.rs
  src/object-store/src/layers/prometheus.rs
  src/object-store/src/lib.rs
  src/object-store/tests/object_store_test.rs
  src/operator/Cargo.toml
  src/operator/src/statement/copy_table_from.rs
  src/servers/src/export_metrics.rs
  src/servers/src/http/greptime_result_v1.rs
  src/servers/src/http/test_helpers.rs
Labels: docs-not-required

#4045 feat: invoke `flush_table` and `compact_table` in fuzz tests
  src/metric-engine/src/engine.rs
  src/metric-engine/src/error.rs
  tests-fuzz/src/ir.rs
  tests-fuzz/src/utils.rs
  tests-fuzz/targets/fuzz_insert.rs
  tests-fuzz/targets/fuzz_insert_logical_table.rs
Labels: docs-not-required

#4056 refactor(fuzz-tests): generate ts value separately
  tests-fuzz/src/generator.rs
  tests-fuzz/src/generator/insert_expr.rs
  tests-fuzz/src/ir.rs
  tests-fuzz/targets/fuzz_insert.rs
  tests-fuzz/targets/fuzz_insert_logical_table.rs
Labels: docs-not-required

#4059 refactor: move Database to client crate behind testing feature
  Cargo.lock
  Cargo.toml
  benchmarks/Cargo.toml
  src/client/src/database.rs
  src/client/src/lib.rs
  src/cmd/Cargo.toml
  src/cmd/src/cli.rs
  src/cmd/src/cli/export.rs
  src/cmd/src/cli/repl.rs
  src/cmd/src/error.rs
  src/servers/Cargo.toml
  src/servers/tests/grpc/mod.rs
  tests-integration/src/lib.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/grpc.rs
  tests/runner/Cargo.toml
  tests/runner/src/env.rs
Labels: docs-not-required

#4062 chore: add `LAST_SENT_HEARTBEAT_ELAPSED` metric
  src/datanode/src/heartbeat.rs
  src/datanode/src/metrics.rs
Labels: docs-not-required

#4064 fix: set local or session time_zone not work
  src/servers/src/mysql/federated.rs
  src/sql/src/parsers/set_var_parser.rs
  tests/cases/standalone/common/system/timezone.result
  tests/cases/standalone/common/system/timezone.sql
  tests/runner/src/env.rs
Labels: docs-not-required

#4050 feat: Implement SHOW STATUS
  src/frontend/src/instance.rs
  src/operator/src/statement.rs
  src/operator/src/statement/show.rs
  src/query/src/sql.rs
  src/sql/src/parsers/show_parser.rs
  src/sql/src/statements/show.rs
  src/sql/src/statements/statement.rs
Labels: docs-not-required

#3992 feat: Implements row group level parallel unordered scanner
  src/mito2/src/compaction.rs
  src/mito2/src/compaction/task.rs
  src/mito2/src/engine.rs
  src/mito2/src/read.rs
  src/mito2/src/read/compat.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/unordered_scan.rs
  src/mito2/src/sst/file.rs
  src/mito2/src/sst/parquet/file_range.rs
  src/mito2/src/sst/parquet/reader.rs
  src/mito2/src/sst/version.rs
  src/store-api/src/region_engine.rs
  tests/cases/standalone/common/insert/append_mode.result
  tests/cases/standalone/common/insert/append_mode.sql
Labels: docs-not-required

#4038 refactor(log_store): remove associated type `Namespace` and `Entry` in `LogStore`
  benchmarks/src/wal_bench.rs
  src/common/telemetry/src/logging.rs
  src/log-store/src/error.rs
  src/log-store/src/kafka.rs
  src/log-store/src/kafka/client_manager.rs
  src/log-store/src/kafka/log_store.rs
  src/log-store/src/kafka/util/record.rs
  src/log-store/src/lib.rs
  src/log-store/src/noop.rs
  src/log-store/src/raft_engine.rs
  src/log-store/src/raft_engine/log_store.rs
  src/mito2/src/error.rs
  src/mito2/src/region.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/region_write_ctx.rs
  src/mito2/src/wal.rs
  src/mito2/src/wal/raw_entry_reader.rs
  src/mito2/src/wal/wal_entry_reader.rs
  src/mito2/src/worker/handle_catchup.rs
  src/mito2/src/worker/handle_flush.rs
  src/mito2/src/worker/handle_truncate.rs
  src/mito2/src/worker/handle_write.rs
  src/store-api/src/logstore.rs
  src/store-api/src/logstore/entry.rs
  src/store-api/src/logstore/entry_stream.rs
  src/store-api/src/logstore/namespace.rs
  src/store-api/src/logstore/provider.rs
Labels: docs-not-required

#4018 fix(flow): correctness bugs
  src/flow/src/adapter.rs
  src/flow/src/adapter/flownode_impl.rs
  src/flow/src/adapter/node_context.rs
  src/flow/src/adapter/table_source.rs
  src/flow/src/compute/render/map.rs
  src/flow/src/compute/render/reduce.rs
  src/flow/src/compute/render/src_sink.rs
  src/flow/src/expr/error.rs
  src/flow/src/expr/func.rs
  src/flow/src/expr/scalar.rs
  src/flow/src/repr/relation.rs
  src/flow/src/transform.rs
  src/flow/src/transform/aggr.rs
  src/flow/src/transform/expr.rs
  src/flow/src/transform/plan.rs
  src/flow/src/utils.rs
Labels: docs-not-required, release-blocker
