Repository GreptimeTeam/greptimedb, pull requests merged in 2024-09, with the labels that each got.

#4652 fix(mito): avoid caching empty batches in row group
  src/mito2/src/read/last_row.rs
  tests/cases/standalone/common/select/last_value.result
  tests/cases/standalone/common/select/last_value.sql
Labels: docs-not-required

#4646 fix: correct otlp endpoint formatting
  src/common/telemetry/src/logging.rs
Labels: docs-not-required

#4658 ci: disable macos integration test and some minor refactoring
  .github/actions/start-runner/action.yml
  .github/actions/stop-runner/action.yml
  .github/workflows/release.yml
Labels: docs-not-required

#4660 fix: expose missing options for initializing regions
  config/config.md
  config/standalone.example.toml
  src/cmd/src/standalone.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#4661 fix: use 'target' for 'actions-rust-lang/setup-rust-toolchain' to fix cross build failed
  .github/actions/build-macos-artifacts/action.yml
  .github/actions/build-windows-artifacts/action.yml
Labels: docs-not-required

#4651 feat: grpc writing supports TTL hint
  src/operator/src/insert.rs
Labels: docs-not-required

#4654 feat: export import database
  src/cmd/src/cli/export.rs
  src/cmd/src/cli/import.rs
  src/cmd/src/error.rs
  src/servers/src/http/handler.rs
Labels: docs-not-required

#4664 chore: refactor metadata key value trait
  src/common/meta/src/cache_invalidator.rs
  src/common/meta/src/error.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/catalog_name.rs
  src/common/meta/src/key/datanode_table.rs
  src/common/meta/src/key/flow.rs
  src/common/meta/src/key/flow/flow_info.rs
  src/common/meta/src/key/flow/flow_name.rs
  src/common/meta/src/key/flow/flow_route.rs
  src/common/meta/src/key/flow/flownode_flow.rs
  src/common/meta/src/key/flow/table_flow.rs
  src/common/meta/src/key/schema_name.rs
  src/common/meta/src/key/table_info.rs
  src/common/meta/src/key/table_name.rs
  src/common/meta/src/key/table_route.rs
  src/common/meta/src/key/txn_helper.rs
  src/common/meta/src/key/view_info.rs
  src/frontend/src/heartbeat/handler/tests.rs
Labels: docs-not-required

#4630 feat: supports name in object storage config
  config/datanode.example.toml
  config/standalone.example.toml
  src/datanode/src/config.rs
  src/datanode/src/datanode.rs
  src/object-store/src/manager.rs
  tests-integration/src/tests/test_util.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#4665 chore(ci): set etcd resources limits
  .github/actions/setup-etcd-cluster/action.yml
Labels: docs-not-required

#4666 refactor: remove unused error variants
  .github/workflows/develop.yml
  Makefile
  scripts/check-snafu.py
  src/auth/src/error.rs
  src/auth/tests/mod.rs
  src/catalog/src/error.rs
  src/catalog/src/kvbackend/client.rs
  src/client/src/database.rs
  src/client/src/error.rs
  src/client/src/flow.rs
  src/client/src/region.rs
  src/cmd/src/error.rs
  src/common/catalog/src/error.rs
  src/common/catalog/src/lib.rs
  src/common/grpc-expr/src/error.rs
  src/common/meta/src/ddl/utils.rs
  src/common/meta/src/error.rs
  src/common/procedure/src/error.rs
  src/common/procedure/src/local/runner.rs
  src/common/query/src/error.rs
  src/common/substrait/src/error.rs
  src/common/time/src/error.rs
  src/datanode/src/error.rs
  src/flow/src/error.rs
  src/frontend/src/error.rs
  src/index/src/inverted_index/create/sort/intermediate_rw/codec_v1.rs
  src/index/src/inverted_index/error.rs
  src/log-store/src/error.rs
  src/meta-client/src/error.rs
  src/meta-srv/src/error.rs
  src/metric-engine/src/error.rs
  src/mito2/src/error.rs
  src/mito2/src/sst/index/inverted_index/creator.rs
  src/operator/src/error.rs
  src/partition/src/error.rs
  src/puffin/src/error.rs
  src/query/src/datafusion/error.rs
  src/servers/src/error.rs
  src/servers/src/mysql/server.rs
Labels: docs-not-required

#4669 fix: use number of partitions as parallilism in region scanner
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/read/unordered_scan.rs
  tests/cases/standalone/common/select/flush_append_only.result
  tests/cases/standalone/common/select/flush_append_only.sql
Labels: docs-not-required

#4657 refactor: make `init_global_logging()` clean and add `log_format`
  Cargo.lock
  config/config.md
  config/datanode.example.toml
  config/flownode.example.toml
  config/frontend.example.toml
  config/metasrv.example.toml
  config/standalone.example.toml
  src/common/telemetry/Cargo.toml
  src/common/telemetry/src/logging.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#4653 feat: change log level dynamically
  src/common/telemetry/src/lib.rs
  src/common/telemetry/src/logging.rs
  src/servers/src/http.rs
  src/servers/src/http/dyn_log.rs
Labels: docs-not-required

#4648 feat: schedule compaction when adding sst files by editing region
  config/config.md
  config/datanode.example.toml
  config/standalone.example.toml
  src/mito2/src/compaction.rs
  src/mito2/src/config.rs
  src/mito2/src/engine/edit_region_test.rs
  src/mito2/src/engine/flush_test.rs
  src/mito2/src/engine/listener.rs
  src/mito2/src/region.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_catchup.rs
  src/mito2/src/worker/handle_compaction.rs
  src/mito2/src/worker/handle_create.rs
  src/mito2/src/worker/handle_flush.rs
  src/mito2/src/worker/handle_manifest.rs
  src/mito2/src/worker/handle_open.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#4677 build: add mysql and postgresql clients to greptimedb image
  docker/ci/ubuntu/Dockerfile
Labels: docs-not-required

#4681 fix: ref to auth err
  src/auth/src/error.rs
  src/auth/src/tests.rs
Labels: docs-not-required

#4643 feat: add more spans to mito engine
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/seq_scan.rs
Labels: docs-not-required

#4682 feat: invalidate cache via invalidator on region migration
  src/meta-srv/src/handler/collect_stats_handler.rs
  src/meta-srv/src/handler/response_header_handler.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/procedure/region_migration.rs
  src/meta-srv/src/procedure/region_migration/test_util.rs
Labels: docs-not-required

#4685 chore(dockerfile): remove mysql and postgresql clients in greptimedb image
  docker/ci/ubuntu/Dockerfile
Labels: docs-not-required

#4684 chore: bump version v0.9.3
  Cargo.lock
  Cargo.toml
Labels: docs-not-required

#4687 fix: last non null iter not init
  src/mito2/src/read/dedup.rs
Labels: docs-not-required

#4571 refactor!: add processor builder and transform buidler
  src/pipeline/benches/processor.rs
  src/pipeline/src/etl.rs
  src/pipeline/src/etl/field.rs
  src/pipeline/src/etl/processor.rs
  src/pipeline/src/etl/processor/cmcd.rs
  src/pipeline/src/etl/processor/csv.rs
  src/pipeline/src/etl/processor/date.rs
  src/pipeline/src/etl/processor/dissect.rs
  src/pipeline/src/etl/processor/epoch.rs
  src/pipeline/src/etl/processor/gsub.rs
  src/pipeline/src/etl/processor/join.rs
  src/pipeline/src/etl/processor/letter.rs
  src/pipeline/src/etl/processor/regex.rs
  src/pipeline/src/etl/processor/timestamp.rs
  src/pipeline/src/etl/processor/urlencoding.rs
  src/pipeline/src/etl/transform.rs
  src/pipeline/src/etl/transform/transformer/greptime.rs
  src/pipeline/src/etl/transform/transformer/greptime/coerce.rs
  src/pipeline/tests/common.rs
  src/pipeline/tests/dissect.rs
  src/pipeline/tests/pipeline.rs
Labels: docs-required, breaking-change

#4667 feat: add test pipeline api
  Cargo.lock
  src/datatypes/Cargo.toml
  src/datatypes/src/value.rs
  src/servers/src/http.rs
  src/servers/src/http/event.rs
  tests-integration/tests/http.rs
Labels: docs-required

#4694 fix: unconditional statistics
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/read/unordered_scan.rs
  src/store-api/src/region_engine.rs
  src/table/src/table/scan.rs
  tests/cases/standalone/common/aggregate/count.result
  tests/cases/standalone/common/aggregate/count.sql
Labels: docs-not-required

#4690 chore: update the document link in README.md
  README.md
Labels: docs-not-required

#4580 fix: table resolving logic related to pg_catalog
  src/catalog/src/kvbackend/manager.rs
  src/catalog/src/lib.rs
  src/catalog/src/memory/manager.rs
  src/catalog/src/system_schema/information_schema/columns.rs
  src/catalog/src/system_schema/information_schema/key_column_usage.rs
  src/catalog/src/system_schema/information_schema/partitions.rs
  src/catalog/src/system_schema/information_schema/region_peers.rs
  src/catalog/src/system_schema/information_schema/schemata.rs
  src/catalog/src/system_schema/information_schema/table_constraints.rs
  src/catalog/src/system_schema/information_schema/tables.rs
  src/catalog/src/system_schema/information_schema/views.rs
  src/catalog/src/system_schema/pg_catalog.rs
  src/catalog/src/system_schema/pg_catalog/pg_class.rs
  src/catalog/src/system_schema/pg_catalog/pg_namespace.rs
  src/catalog/src/table_source.rs
  src/catalog/src/table_source/dummy_catalog.rs
  src/frontend/src/instance.rs
  src/frontend/src/instance/prom_store.rs
  src/frontend/src/script.rs
  src/operator/src/delete.rs
  src/operator/src/insert.rs
  src/operator/src/req_convert/delete/row_to_region.rs
  src/operator/src/req_convert/insert/stmt_to_region.rs
  src/operator/src/request.rs
  src/operator/src/statement.rs
  src/operator/src/statement/copy_database.rs
  src/operator/src/statement/ddl.rs
  src/operator/src/statement/describe.rs
  src/operator/src/statement/show.rs
  src/pipeline/src/manager/pipeline_operator.rs
  src/query/src/datafusion.rs
  src/query/src/datafusion/planner.rs
  src/query/src/dist_plan/planner.rs
  src/query/src/planner.rs
  src/query/src/promql/planner.rs
  src/query/src/sql.rs
  src/servers/src/http/prometheus.rs
  src/session/src/context.rs
  tests-integration/src/grpc.rs
  tests-integration/src/instance.rs
  tests-integration/src/tests/instance_test.rs
  tests-integration/tests/region_migration.rs
  tests/cases/standalone/common/create/create_database.result
  tests/cases/standalone/common/create/create_database_opts.result
  tests/cases/standalone/common/information_schema/tables.result
  tests/cases/standalone/common/show/show_databases_tables.result
  tests/cases/standalone/common/system/information_schema.result
  tests/cases/standalone/common/system/pg_catalog.result
  tests/cases/standalone/common/view/create.result
Labels: docs-not-required

#4680 fix: return version string based on request protocol
  src/common/function/src/system/version.rs
  src/servers/src/postgres.rs
  tests/cases/standalone/common/function/system.result
  tests/cases/standalone/common/function/system.sql
Labels: docs-not-required

#4689 feat(wal): increase recovery parallelism
  Cargo.lock
  config/config.md
  config/datanode.example.toml
  config/standalone.example.toml
  src/cmd/tests/load_config_test.rs
  src/common/wal/Cargo.toml
  src/common/wal/src/config/raft_engine.rs
  src/datanode/src/datanode.rs
  src/log-store/src/raft_engine/log_store.rs
  src/log-store/src/test_util/log_store_util.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#4701 chore: print downgraded region last_entry_id
  src/meta-srv/src/procedure/region_migration/downgrade_leader_region.rs
Labels: docs-not-required

#4700 feat: gRPC auto create table hint
  src/operator/src/insert.rs
  src/table/src/requests.rs
Labels: docs-not-required

#4703 chore: remove unused method
  src/common/grpc-expr/src/insert.rs
  src/common/grpc-expr/src/lib.rs
Labels: docs-not-required

#4704 feat: parallel in row group level under append mode
  src/mito2/src/read/scan_region.rs
Labels: docs-not-required

#4712 chore: avoid schema check when auto_create_table_hint is disabled
  src/operator/src/insert.rs
Labels: docs-not-required

#4705 feat: skip caching uncompressed pages if they are large
  src/mito2/src/cache.rs
  src/mito2/src/metrics.rs
  src/mito2/src/read/merge.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/read/unordered_scan.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/page_reader.rs
  src/mito2/src/sst/parquet/row_group.rs
  tests/cases/distributed/explain/analyze.result
  tests/cases/standalone/common/aggregate/multi_regions.result
  tests/cases/standalone/common/range/nest.result
  tests/cases/standalone/common/select/prune.result
  tests/cases/standalone/common/tql-explain-analyze/analyze.result
  tests/cases/standalone/optimizer/last_value.result
Labels: docs-not-required

#4710 chore: remove `validate_request_with_table`
  src/operator/src/insert.rs
Labels: docs-not-required

#4718 feat(index): add `RangeReader` trait
  Cargo.lock
  src/common/base/Cargo.toml
  src/common/base/src/buffer.rs
  src/common/base/src/bytes.rs
  src/common/base/src/lib.rs
  src/common/base/src/range_read.rs
  src/common/base/tests/buffer_tests.rs
  src/index/src/inverted_index/format/reader/blob.rs
  src/index/src/inverted_index/format/reader/footer.rs
Labels: docs-not-required

#4599 perf(flow): use batch mode for flow
  src/flow/src/adapter.rs
  src/flow/src/adapter/flownode_impl.rs
  src/flow/src/adapter/node_context.rs
  src/flow/src/adapter/worker.rs
  src/flow/src/compute/render.rs
  src/flow/src/compute/render/reduce.rs
  src/flow/src/compute/render/src_sink.rs
  src/flow/src/compute/types.rs
  src/flow/src/expr.rs
  src/flow/src/expr/df_func.rs
  src/flow/src/expr/error.rs
  src/flow/src/expr/func.rs
  src/flow/src/expr/linear.rs
  src/flow/src/expr/relation.rs
  src/flow/src/expr/relation/func.rs
  src/flow/src/expr/scalar.rs
  src/flow/src/repr.rs
  src/flow/src/utils.rs
  tests/cases/standalone/common/flow/flow_basic.result
  tests/cases/standalone/common/flow/flow_basic.sql
Labels: docs-not-required

#4711 docs: use docs comment prefix and bump toml2docs version
  Makefile
  config/config.md
  config/datanode.example.toml
  config/flownode.example.toml
  config/frontend.example.toml
  config/metasrv.example.toml
  config/standalone.example.toml
  src/cmd/tests/load_config_test.rs
Labels: docs-not-required

#4720 feat: add respective get_by_path UDFs for JSON type
  src/common/function/src/scalars/json.rs
  src/common/function/src/scalars/json/json_get.rs
  tests/cases/standalone/common/function/json.result
  tests/cases/standalone/common/function/json.sql
Labels: docs-not-required

#4709 fix: pipeline dissert error is returned directly to the user, instead of printing a warn log
  src/pipeline/src/etl.rs
  src/pipeline/src/etl/processor/dissect.rs
  src/pipeline/tests/dissect.rs
  src/pipeline/tests/regex.rs
Labels: docs-not-required

#4702 chore: enable fuzz test for append table
  tests-fuzz/src/generator/create_expr.rs
  tests-fuzz/src/translator/mysql/create_expr.rs
  tests-fuzz/targets/fuzz_alter_logical_table.rs
  tests-fuzz/targets/fuzz_alter_table.rs
  tests-fuzz/targets/fuzz_create_logical_table.rs
  tests-fuzz/targets/fuzz_create_table.rs
  tests-fuzz/targets/fuzz_insert.rs
  tests-fuzz/targets/fuzz_insert_logical_table.rs
Labels: docs-not-required

#4724 feat(index): add explicit adapter between `RangeReader` and `AsyncRead`
  src/common/base/src/range_read.rs
  src/index/src/inverted_index/format/reader/blob.rs
  src/index/src/inverted_index/format/reader/footer.rs
  src/index/src/inverted_index/format/writer/blob.rs
  src/mito2/src/sst/index/inverted_index/applier.rs
Labels: docs-not-required

#4723 chore: add auto-decompression layer for otlp http request
  Cargo.lock
  Cargo.toml
  src/frontend/src/instance/otlp.rs
  src/servers/src/http.rs
  src/servers/src/http/otlp.rs
  tests-integration/Cargo.toml
  tests-integration/src/test_util.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#4731 fix: config test failed and use `similar_asserts::assert_eq` to replace `assert_eq` for long string compare
  Cargo.lock
  Cargo.toml
  src/cmd/Cargo.toml
  src/cmd/tests/load_config_test.rs
  tests-integration/Cargo.toml
  tests-integration/tests/http.rs
Labels: docs-not-required

#4735 fix: sort cargo toml
  Cargo.toml
Labels: docs-not-required

#4725 fix: determine region role by using is_readonly
  src/mito2/src/engine.rs
  src/mito2/src/region.rs
Labels: docs-not-required

#4732 fix: opensrv Use After Free update
  Cargo.lock
  Cargo.toml
  src/cmd/src/bin/greptime.rs
  src/cmd/src/error.rs
  src/servers/Cargo.toml
  src/servers/src/lib.rs
  src/servers/src/tls.rs
  src/servers/tests/mysql/mysql_server_test.rs
  src/servers/tests/postgres/mod.rs
Labels: docs-not-required

#4730 feat: add an option to turn on compression for arrow output
  Cargo.lock
  Cargo.toml
  src/servers/src/http.rs
  src/servers/src/http/arrow_result.rs
  src/servers/src/http/handler.rs
Labels: docs-required

#4737 refactor(tables): improve `tables` performance
  Cargo.lock
  src/catalog/Cargo.toml
  src/catalog/src/kvbackend/manager.rs
  src/common/meta/Cargo.toml
  src/common/meta/src/key/catalog_name.rs
  src/common/meta/src/key/datanode_table.rs
  src/common/meta/src/key/flow/flow_name.rs
  src/common/meta/src/key/flow/flow_route.rs
  src/common/meta/src/key/flow/flownode_flow.rs
  src/common/meta/src/key/flow/table_flow.rs
  src/common/meta/src/key/schema_name.rs
  src/common/meta/src/key/table_name.rs
  src/common/meta/src/range_stream.rs
  src/common/meta/src/state_store.rs
  src/log-store/src/raft_engine/backend.rs
  src/meta-srv/src/service/store/cached_kv.rs
Labels: docs-not-required

#4734 chore: add log ingest interceptor
  src/frontend/src/instance/log_handler.rs
  src/frontend/src/server.rs
  src/pipeline/src/etl/processor/dissect.rs
  src/servers/src/http.rs
  src/servers/src/http/event.rs
  src/servers/src/interceptor.rs
  tests-integration/src/test_util.rs
Labels: docs-not-required

#4721 feat: improve support for postgres extended protocol
  src/query/src/datafusion.rs
  src/servers/src/postgres/fixtures.rs
  src/servers/src/postgres/handler.rs
  src/servers/src/postgres/types.rs
Labels: docs-not-required

#4515 docs: json datatype rfc
  docs/rfcs/2024-08-06-json-datatype.md
Labels: docs-not-required

#4741 fix: use gcc-10 in release dev build
  docker/dev-builder/ubuntu/Dockerfile
Labels: docs-not-required

#4742 build(deps): use original jsonb repo
  Cargo.lock
  Cargo.toml
Labels: docs-not-required

#4743 fix: cannot input tag for the dev-builder image
  .github/actions/build-dev-builder-images/action.yml
Labels: docs-not-required

#4740 fix: disable field pruning in last non null mode
  src/mito2/src/read/scan_region.rs
  tests/cases/standalone/common/select/prune_field.result
  tests/cases/standalone/common/select/prune_field.sql
Labels: docs-not-required

#4748 feat: use new image for gcc-10
  Makefile
Labels: docs-not-required

#4746 feat: flush other workers if still need flush
  src/mito2/src/engine/flush_test.rs
  src/mito2/src/engine/listener.rs
  src/mito2/src/worker.rs
Labels: docs-not-required

#4707 feat: add more h3 scalar functions
  Cargo.lock
  src/common/function/Cargo.toml
  src/common/function/src/scalars/geo.rs
  src/common/function/src/scalars/geo/h3.rs
  tests/cases/standalone/common/function/geo.result
  tests/cases/standalone/common/function/geo.sql
Labels: docs-required

#4675 feat: improve observability for procedure
  Cargo.lock
  Cargo.toml
  src/catalog/Cargo.toml
  src/catalog/src/error.rs
  src/catalog/src/kvbackend/manager.rs
  src/catalog/src/system_schema/information_schema.rs
  src/catalog/src/system_schema/information_schema/procedure_info.rs
  src/catalog/src/system_schema/information_schema/table_names.rs
  src/catalog/src/system_schema/utils.rs
  src/catalog/src/table_source.rs
  src/cmd/src/cli/repl.rs
  src/cmd/src/flownode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/standalone.rs
  src/common/catalog/src/consts.rs
  src/common/meta/src/ddl.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/rpc/procedure.rs
  src/common/procedure/Cargo.toml
  src/common/procedure/src/lib.rs
  src/common/procedure/src/local.rs
  src/common/procedure/src/local/runner.rs
  src/common/procedure/src/procedure.rs
  src/meta-client/src/client.rs
  src/meta-client/src/client/procedure.rs
  src/meta-srv/src/service/procedure.rs
  tests-integration/src/cluster.rs
  tests-integration/src/standalone.rs
  tests/cases/standalone/common/information_schema/procedure_info.result
  tests/cases/standalone/common/information_schema/procedure_info.sql
  tests/cases/standalone/common/show/show_databases_tables.result
  tests/cases/standalone/common/system/information_schema.result
  tests/cases/standalone/common/view/create.result
Labels: docs-not-required

#4715 feat: migrate local WAL regions
  Cargo.lock
  Cargo.toml
  src/common/function/src/table/migrate_region.rs
  src/common/meta/src/instruction.rs
  src/common/meta/src/rpc/procedure.rs
  src/datanode/src/heartbeat/handler.rs
  src/datanode/src/heartbeat/handler/downgrade_region.rs
  src/datanode/src/heartbeat/handler/upgrade_region.rs
  src/datanode/src/tests.rs
  src/meta-client/src/client.rs
  src/meta-client/src/client/procedure.rs
  src/meta-srv/src/error.rs
  src/meta-srv/src/procedure/region_migration.rs
  src/meta-srv/src/procedure/region_migration/downgrade_leader_region.rs
  src/meta-srv/src/procedure/region_migration/manager.rs
  src/meta-srv/src/procedure/region_migration/test_util.rs
  src/meta-srv/src/procedure/region_migration/upgrade_candidate_region.rs
  src/meta-srv/src/region/supervisor.rs
  src/meta-srv/src/service/procedure.rs
  src/mito2/src/engine/catchup_test.rs
  src/mito2/src/test_util.rs
  src/mito2/src/worker/handle_catchup.rs
  src/store-api/src/logstore/provider.rs
Labels: docs-not-required

#4727 feat: list/array/timezone support for postgres output
  Cargo.lock
  src/common/function/src/scalars/geo.rs
  src/common/function/src/scalars/geo/geohash.rs
  src/servers/Cargo.toml
  src/servers/src/postgres.rs
  src/servers/src/postgres/auth_handler.rs
  src/servers/src/postgres/handler.rs
  src/servers/src/postgres/server.rs
  src/servers/src/postgres/types.rs
  src/servers/src/postgres/types/datetime.rs
  tests-integration/tests/sql.rs
  tests/cases/standalone/common/function/geo.result
  tests/cases/standalone/common/function/geo.sql
Labels: docs-not-required

#4753 feat: include order by to commutativity rule set
  src/query/src/dist_plan/analyzer.rs
  src/query/src/dist_plan/commutativity.rs
  tests/cases/standalone/common/order/order_by.result
  tests/cases/standalone/common/order/order_by.sql
Labels: docs-not-required

#4758 refactor!: simplify NativeType trait and remove percentile UDAF
  src/common/function/src/scalars/aggregate.rs
  src/common/function/src/scalars/aggregate/percentile.rs
  src/datatypes/src/types.rs
  src/datatypes/src/types/primitive_type.rs
  src/query/src/tests.rs
  src/query/src/tests/percentile_test.rs
  src/script/src/python/rspython/builtins/test.rs
  src/script/src/python/rspython/builtins/testcases.ron
Labels: breaking-change, docs-not-required

#4750 fix: Release CI & make rustls use `ring`
  Cargo.lock
  Cargo.toml
  Makefile
  docker/dev-builder/binstall/pull_binstall.sh
  docker/dev-builder/centos/Dockerfile
  docker/dev-builder/ubuntu/Dockerfile
Labels: docs-not-required

#4756 refactor: unify the styling in `create_or_alter_tables_on_demand`
  src/operator/src/insert.rs
Labels: docs-not-required

#4761 feat: returning warning instead of error on unsupported `SET` statement
  src/operator/src/statement.rs
  src/servers/src/postgres/handler.rs
  src/servers/src/postgres/types.rs
  src/servers/src/postgres/types/error.rs
  src/session/src/context.rs
  src/session/src/lib.rs
Labels: docs-not-required

#4766 chore: relax table name constraint
  src/common/meta/src/key.rs
  src/operator/src/statement/ddl.rs
  tests/cases/standalone/common/create/create.result
  tests/cases/standalone/common/create/create.sql
Labels: docs-required

#4767 chore: make sure aws-lc-sys wouldn't be built
  .github/workflows/develop.yml
Labels: docs-not-required

#4763 refactor: Change the error type in the pipeline crate from String to Error
  src/pipeline/benches/processor.rs
  src/pipeline/src/etl.rs
  src/pipeline/src/etl/error.rs
  src/pipeline/src/etl/field.rs
  src/pipeline/src/etl/processor.rs
  src/pipeline/src/etl/processor/cmcd.rs
  src/pipeline/src/etl/processor/csv.rs
  src/pipeline/src/etl/processor/date.rs
  src/pipeline/src/etl/processor/dissect.rs
  src/pipeline/src/etl/processor/epoch.rs
  src/pipeline/src/etl/processor/gsub.rs
  src/pipeline/src/etl/processor/join.rs
  src/pipeline/src/etl/processor/letter.rs
  src/pipeline/src/etl/processor/regex.rs
  src/pipeline/src/etl/processor/timestamp.rs
  src/pipeline/src/etl/processor/urlencoding.rs
  src/pipeline/src/etl/transform.rs
  src/pipeline/src/etl/transform/index.rs
  src/pipeline/src/etl/transform/transformer/greptime.rs
  src/pipeline/src/etl/transform/transformer/greptime/coerce.rs
  src/pipeline/src/etl/value.rs
  src/pipeline/src/lib.rs
  src/pipeline/src/manager/error.rs
  src/pipeline/src/manager/table.rs
  src/pipeline/tests/dissect.rs
  src/servers/src/http/event.rs
Labels: docs-not-required

#4699 feat: protect datanode with concurrency limit.
  config/config.md
  config/datanode.example.toml
  config/standalone.example.toml
  src/datanode/src/config.rs
  src/datanode/src/datanode.rs
  src/datanode/src/error.rs
  src/datanode/src/region_server.rs
Labels: docs-not-required

#4771 feat: add `region_statistics` table
  Cargo.lock
  src/catalog/src/error.rs
  src/catalog/src/kvbackend/manager.rs
  src/catalog/src/system_schema/information_schema.rs
  src/catalog/src/system_schema/information_schema/region_statistics.rs
  src/catalog/src/system_schema/information_schema/table_names.rs
  src/common/catalog/src/consts.rs
  src/common/meta/src/cluster.rs
  src/common/meta/src/datanode.rs
  src/common/meta/src/error.rs
  src/common/meta/src/lib.rs
  src/datanode/Cargo.toml
  src/datanode/src/heartbeat.rs
  src/datanode/src/region_server.rs
  src/datanode/src/tests.rs
  src/file-engine/src/engine.rs
  src/meta-client/src/client.rs
  src/meta-srv/src/cluster.rs
  src/meta-srv/src/error.rs
  src/meta-srv/src/handler.rs
  src/meta-srv/src/handler/collect_stats_handler.rs
  src/meta-srv/src/handler/extract_stat_handler.rs
  src/meta-srv/src/handler/failure_handler.rs
  src/meta-srv/src/handler/node_stat.rs
  src/meta-srv/src/handler/region_lease_handler.rs
  src/meta-srv/src/key/datanode.rs
  src/meta-srv/src/region/supervisor.rs
  src/meta-srv/src/selector/load_based.rs
  src/meta-srv/src/selector/weight_compute.rs
  src/meta-srv/src/service/admin/heartbeat.rs
  src/metric-engine/src/engine.rs
  src/mito2/src/engine.rs
  src/mito2/src/engine/basic_test.rs
  src/mito2/src/region.rs
  src/query/src/optimizer/test_util.rs
  src/store-api/src/region_engine.rs
  tests/cases/standalone/common/show/show_databases_tables.result
  tests/cases/standalone/common/system/information_schema.result
  tests/cases/standalone/common/view/create.result
Labels: docs-not-required

#4754 feat(mito): limit compaction output file size
  src/mito2/src/compaction.rs
  src/mito2/src/compaction/compactor.rs
  src/mito2/src/compaction/picker.rs
  src/mito2/src/compaction/twcs.rs
  src/mito2/src/region/options.rs
  src/sql/src/parsers/create_parser.rs
  src/store-api/src/mito_engine_options.rs
Labels: docs-not-required

#4774 fix: use information_schema returns Unknown database
  src/frontend/src/instance.rs
  tests/cases/standalone/common/system/information_schema.result
  tests/cases/standalone/common/system/information_schema.sql
Labels: docs-not-required

#4778 fix: dead loop on detecting postgres ssl handshake
  Cargo.lock
  src/servers/Cargo.toml
Labels: docs-not-required

#4783 fix: update pgwire for potential issue with connection establish
  Cargo.lock
  src/servers/Cargo.toml
Labels: docs-not-required

#4775 feat: add a new status code for "external" errors
  src/auth/src/common.rs
  src/auth/src/error.rs
  src/auth/src/user_provider.rs
  src/common/error/src/status_code.rs
  src/servers/src/http/error_result.rs
  src/servers/src/mysql/handler.rs
  src/servers/src/mysql/writer.rs
  src/servers/src/postgres/types/error.rs
Labels: docs-not-required

#4780 fix(sqlness): sqlness isolation
  tests/cases/standalone/common/copy/copy_database_from_fs_parquet.result
  tests/cases/standalone/common/copy/copy_database_from_fs_parquet.sql
  tests/cases/standalone/common/copy/copy_from_fs_csv.result
  tests/cases/standalone/common/copy/copy_from_fs_csv.sql
  tests/cases/standalone/common/copy/copy_from_fs_json.result
  tests/cases/standalone/common/copy/copy_from_fs_json.sql
  tests/cases/standalone/common/copy/copy_from_fs_parquet.result
  tests/cases/standalone/common/copy/copy_from_fs_parquet.sql
  tests/cases/standalone/common/copy/copy_to_fs.result
  tests/cases/standalone/common/copy/copy_to_fs.sql
  tests/runner/src/env.rs
  tests/runner/src/main.rs
Labels: docs-not-required

#4781 chore: replace anymap with anymap2
  Cargo.lock
  src/common/base/Cargo.toml
  src/common/base/src/plugins.rs
Labels: docs-not-required

#4757 feat: unordered scanner scans data by time ranges
  src/mito2/src/memtable.rs
  src/mito2/src/memtable/bulk.rs
  src/mito2/src/memtable/partition_tree.rs
  src/mito2/src/memtable/time_series.rs
  src/mito2/src/read.rs
  src/mito2/src/read/dedup.rs
  src/mito2/src/read/range.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/read/unordered_scan.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/reader.rs
  src/mito2/src/test_util/memtable_util.rs
Labels: docs-not-required

#4785 refactor: introduce `HeartbeatHandlerGroupBuilder`
  src/meta-srv/src/handler.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/service/heartbeat.rs
Labels: docs-not-required

#4719 feat: add `StatementStatistics` for slow query logging implementation
  Cargo.lock
  config/config.md
  config/datanode.example.toml
  config/flownode.example.toml
  config/frontend.example.toml
  config/metasrv.example.toml
  config/standalone.example.toml
  src/cmd/src/frontend.rs
  src/cmd/src/standalone.rs
  src/common/telemetry/Cargo.toml
  src/common/telemetry/src/logging.rs
  src/common/telemetry/src/macros.rs
  src/flow/src/server.rs
  src/frontend/src/instance/builder.rs
  src/operator/src/statement.rs
  src/query/Cargo.toml
  src/query/src/lib.rs
  src/query/src/stats.rs
  tests-integration/src/cluster.rs
  tests-integration/src/standalone.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#4759 feat: support to reject write after flushing
  .github/workflows/develop.yml
  Cargo.lock
  Cargo.toml
  src/catalog/src/system_schema/information_schema/region_peers.rs
  src/cmd/src/cli/bench.rs
  src/common/meta/src/ddl/alter_table/region_request.rs
  src/common/meta/src/ddl/tests/alter_table.rs
  src/common/meta/src/ddl/tests/drop_table.rs
  src/common/meta/src/instruction.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/table_route.rs
  src/common/meta/src/region_keeper.rs
  src/common/meta/src/rpc/router.rs
  src/datanode/src/alive_keeper.rs
  src/datanode/src/datanode.rs
  src/datanode/src/heartbeat.rs
  src/datanode/src/heartbeat/handler.rs
  src/datanode/src/heartbeat/handler/downgrade_region.rs
  src/datanode/src/heartbeat/handler/upgrade_region.rs
  src/datanode/src/region_server.rs
  src/datanode/src/tests.rs
  src/file-engine/src/engine.rs
  src/meta-srv/src/handler/region_lease_handler.rs
  src/meta-srv/src/procedure/region_migration/downgrade_leader_region.rs
  src/meta-srv/src/procedure/region_migration/manager.rs
  src/meta-srv/src/procedure/region_migration/test_util.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/downgrade_leader_region.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/rollback_downgraded_region.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/upgrade_candidate_region.rs
  src/meta-srv/src/region/lease_keeper.rs
  src/meta-srv/src/test_util.rs
  src/metric-engine/src/engine.rs
  src/mito2/src/compaction/compactor.rs
  src/mito2/src/engine.rs
  src/mito2/src/engine/alter_test.rs
  src/mito2/src/engine/catchup_test.rs
  src/mito2/src/engine/compaction_test.rs
  src/mito2/src/engine/open_test.rs
  src/mito2/src/engine/set_readonly_test.rs
  src/mito2/src/engine/set_role_state_test.rs
  src/mito2/src/error.rs
  src/mito2/src/flush.rs
  src/mito2/src/region.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/request.rs
  src/mito2/src/test_util.rs
  src/mito2/src/test_util/scheduler_util.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_catchup.rs
  src/mito2/src/worker/handle_drop.rs
  src/mito2/src/worker/handle_flush.rs
  src/mito2/src/worker/handle_manifest.rs
  src/mito2/src/worker/handle_truncate.rs
  src/operator/src/tests/partition_manager.rs
  src/query/src/optimizer/test_util.rs
  src/store-api/src/region_engine.rs
Labels: docs-not-required

#4788 feat: add `add_handler_after`, `add_handler_before`, `replace_handler`
  src/meta-srv/src/error.rs
  src/meta-srv/src/handler.rs
  src/meta-srv/src/metasrv/builder.rs
Labels: docs-not-required
