Repository GreptimeTeam/greptimedb, pull requests merged in 2024-12, with the labels that each got.

#5078 feat: enable compression for metasrv client
  src/meta-client/src/client/cluster.rs
  src/meta-client/src/client/heartbeat.rs
  src/meta-client/src/client/procedure.rs
  src/meta-client/src/client/store.rs
  src/meta-srv/src/bootstrap.rs
  src/meta-srv/src/lib.rs
  src/meta-srv/src/mocks.rs
Labels: docs-not-required

#5079 chore: remove openssl deps
  .github/cargo-blacklist.txt
  .github/workflows/dependency-check.yml
  Cargo.lock
  tests/runner/Cargo.toml
Labels: docs-not-required

#5082 fix: correct `is_exceeded_size_limit` behavior for in-memory store
  src/common/meta/src/error.rs
  src/meta-client/src/client.rs
  src/meta-client/src/client/cluster.rs
  src/meta-client/src/error.rs
  src/meta-client/src/mocks.rs
  src/meta-srv/src/mocks.rs
  tests-integration/src/cluster.rs
Labels: docs-not-required

#5087 feat: recover file cache index asynchronously
  src/datanode/src/store.rs
  src/mito2/src/cache/file_cache.rs
  src/mito2/src/cache/write_cache.rs
  src/object-store/Cargo.toml
  src/object-store/src/layers/lru_cache.rs
  src/object-store/tests/object_store_test.rs
Labels: docs-not-required

#5067 fix: schema cache invalidation
  Cargo.lock
  src/cache/src/lib.rs
  src/cmd/src/datanode.rs
  src/cmd/src/flownode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/standalone.rs
  src/common/meta/src/cache.rs
  src/common/meta/src/cache/table.rs
  src/common/meta/src/cache/table/schema.rs
  src/common/meta/src/cache/table/table_schema.rs
  src/common/meta/src/heartbeat/handler.rs
  src/common/meta/src/heartbeat/handler/invalidate_table_cache.rs
  src/common/meta/src/key/schema_metadata_manager.rs
  src/common/meta/src/key/schema_name.rs
  src/datanode/Cargo.toml
  src/datanode/src/datanode.rs
  src/datanode/src/error.rs
  src/datanode/src/heartbeat.rs
  src/datanode/src/heartbeat/handler.rs
  src/datanode/src/heartbeat/handler/cache_invalidator.rs
  src/frontend/src/heartbeat.rs
  src/frontend/src/heartbeat/handler.rs
  src/frontend/src/heartbeat/tests.rs
  src/mito2/src/compaction.rs
  src/mito2/src/test_util.rs
  tests-integration/src/cluster.rs
  tests-integration/src/standalone.rs
Labels: docs-not-required

#5063 test: adds sqlness test for TTL
  tests/cases/standalone/common/ttl/alter_table_ttl.result
  tests/cases/standalone/common/ttl/alter_table_ttl.sql
  tests/cases/standalone/common/ttl/basic.result
  tests/cases/standalone/common/ttl/basic.sql
  tests/cases/standalone/common/ttl/database_ttl.result
  tests/cases/standalone/common/ttl/database_ttl.sql
  tests/cases/standalone/common/ttl/database_ttl_with_metric_engine.result
  tests/cases/standalone/common/ttl/database_ttl_with_metric_engine.sql
  tests/cases/standalone/common/ttl/metric_engine_ttl.result
  tests/cases/standalone/common/ttl/metric_engine_ttl.sql
Labels: docs-not-required

#5096 refactor: replace LogHandler with PipelineHandler
  src/frontend/src/instance.rs
  src/frontend/src/instance/log_handler.rs
  src/servers/src/http.rs
  src/servers/src/http/event.rs
  src/servers/src/query_handler.rs
Labels: docs-not-required

#5095 perf: take a new batch to reduce last row cache usage
  src/mito2/src/read/last_row.rs
Labels: docs-not-required

#5102 feat!: remove GET method in `/debug` path
  docs/how-to/how-to-profile-cpu.md
  docs/how-to/how-to-profile-memory.md
  src/servers/src/http.rs
Labels: breaking-change, docs-not-required

#5100 feat: update dashboard to v0.7.0
  src/servers/dashboard/VERSION
Labels: docs-not-required

#5092 fix: put PipelineChecker at the end
  src/query/src/query_engine/state.rs
  tests/cases/standalone/common/tql-explain-analyze/explain.result
Labels: docs-not-required

#5103 docs: remove lg_prof_interval from env
  docs/how-to/how-to-profile-memory.md
Labels: docs-not-required

#5081 feat: add more transaction related statement for postgres interface
  src/servers/src/postgres/fixtures.rs
Labels: docs-not-required

#5089 feat: ttl=0/instant/forever/humantime&ttl refactor
  Cargo.lock
  src/common/meta/src/ddl/alter_database.rs
  src/common/meta/src/key/schema_name.rs
  src/common/meta/src/rpc/ddl.rs
  src/common/time/Cargo.toml
  src/common/time/src/error.rs
  src/common/time/src/lib.rs
  src/common/time/src/ttl.rs
  src/metric-engine/Cargo.toml
  src/metric-engine/src/engine/alter.rs
  src/metric-engine/src/engine/create.rs
  src/mito2/src/compaction.rs
  src/mito2/src/compaction/compactor.rs
  src/mito2/src/compaction/window.rs
  src/mito2/src/engine/alter_test.rs
  src/mito2/src/engine/create_test.rs
  src/mito2/src/engine/open_test.rs
  src/mito2/src/region/options.rs
  src/mito2/src/sst/version.rs
  src/mito2/src/worker/handle_alter.rs
  src/operator/Cargo.toml
  src/operator/src/insert.rs
  src/operator/src/req_convert/insert/row_to_region.rs
  src/operator/src/req_convert/insert/stmt_to_region.rs
  src/operator/src/req_convert/insert/table_to_region.rs
  src/query/src/sql/show_create_table.rs
  src/store-api/src/region_request.rs
  src/table/src/metadata.rs
  src/table/src/requests.rs
  tests/cases/standalone/common/alter/alter_database.result
  tests/cases/standalone/common/alter/alter_table_options.result
  tests/cases/standalone/common/flow/flow_advance_ttl.result
  tests/cases/standalone/common/flow/flow_advance_ttl.sql
  tests/cases/standalone/common/flow/flow_basic.result
  tests/cases/standalone/common/flow/flow_basic.sql
  tests/cases/standalone/common/ttl/show_ttl.result
  tests/cases/standalone/common/ttl/show_ttl.sql
  tests/cases/standalone/common/ttl/ttl_instant.result
  tests/cases/standalone/common/ttl/ttl_instant.sql
Labels: docs-not-required, release-blocker

#5094 feat: add cursor statements
  Cargo.lock
  src/common/recordbatch/src/cursor.rs
  src/common/recordbatch/src/error.rs
  src/common/recordbatch/src/lib.rs
  src/common/recordbatch/src/recordbatch.rs
  src/frontend/src/instance.rs
  src/operator/src/error.rs
  src/operator/src/statement.rs
  src/operator/src/statement/cursor.rs
  src/servers/src/postgres/fixtures.rs
  src/servers/src/postgres/handler.rs
  src/session/Cargo.toml
  src/session/src/context.rs
  src/session/src/lib.rs
  src/sql/src/parser.rs
  src/sql/src/parsers.rs
  src/sql/src/parsers/cursor_parser.rs
  src/sql/src/statements.rs
  src/sql/src/statements/cursor.rs
  src/sql/src/statements/statement.rs
  tests-integration/tests/sql.rs
Labels: docs-not-required

#5088 chore: Add timeout setting for `find_ttl`.
  src/mito2/src/compaction.rs
  src/mito2/src/config.rs
  src/mito2/src/error.rs
Labels: docs-not-required

#5113 feat: update pgwire to 0.28
  Cargo.lock
  src/servers/Cargo.toml
  src/servers/src/postgres.rs
  src/servers/src/postgres/auth_handler.rs
  src/servers/src/postgres/fixtures.rs
  src/servers/src/postgres/handler.rs
  src/servers/src/postgres/types/bytea.rs
Labels: docs-not-required

#5108 fix: show create table doesn't quote option keys which contains dot
  src/query/src/sql/show_create_table.rs
  src/sql/src/statements/option_map.rs
  tests/cases/standalone/common/alter/alter_table_options.result
Labels: docs-not-required

#5118 refactor: extract implicit conversion helper functions of vector type
  src/common/function/src/scalars/vector.rs
  src/common/function/src/scalars/vector/distance.rs
  src/common/function/src/scalars/vector/impl_conv.rs
Labels: docs-not-required

#5111 ci: set meta replicas to 1
  .github/actions/setup-greptimedb-cluster/action.yml
Labels: docs-not-required

#5123 feat: update dashboard to v0.7.1
  src/servers/dashboard/VERSION
Labels: docs-not-required

#5090 fix!: fix regression caused by unbalanced partitions and splitting ranges
  config/config.md
  config/datanode.example.toml
  config/standalone.example.toml
  src/cmd/tests/load_config_test.rs
  src/mito2/src/compaction.rs
  src/mito2/src/config.rs
  src/mito2/src/engine.rs
  src/mito2/src/engine/append_mode_test.rs
  src/mito2/src/engine/merge_mode_test.rs
  src/mito2/src/engine/parallel_test.rs
  src/mito2/src/read/range.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/read/unordered_scan.rs
  src/query/src/optimizer/parallelize_scan.rs
  src/store-api/src/region_engine.rs
  src/table/src/table/scan.rs
  tests/cases/standalone/common/order/windowed_sort.result
  tests/cases/standalone/common/order/windowed_sort.sql
Labels: docs-required, breaking-change, A-storage, release-blocker

#5117 chore: Reduce FETCH_OPTION_TIMEOUT from 10 to 3 seconds in config.rs
  src/mito2/src/config.rs
Labels: docs-not-required

#5093 feat!: enable read cache and write cache when using remote object stores
  config/config.md
  config/datanode.example.toml
  config/standalone.example.toml
  src/datanode/src/config.rs
  src/datanode/src/datanode.rs
  src/datanode/src/lib.rs
  src/datanode/src/store.rs
  src/mito2/src/config.rs
  src/mito2/src/error.rs
  src/mito2/src/worker.rs
  src/object-store/src/lib.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/http.rs
  tests-integration/tests/main.rs
Labels: breaking-change, docs-not-required, release-blocker

#5133 chore: bump main branch version to 0.12
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
Labels: docs-not-required

#5124 chore: add `/ready` api for health checking
  src/servers/src/http.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5121 chore: fix aws_lc not in depend tree check in CI
  .github/cargo-blacklist.txt
  .github/workflows/develop.yml
  Cargo.lock
  src/servers/Cargo.toml
Labels: docs-not-required

#5132 chore: set store_key_prefix for all kvbackend
  src/meta-srv/src/bootstrap.rs
  src/meta-srv/src/metasrv.rs
Labels: docs-not-required

#5107 feat: adjust WAL purge default configurations
  config/config.md
  config/datanode.example.toml
  config/metasrv.example.toml
  config/standalone.example.toml
  src/common/wal/src/config/raft_engine.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5119 feat(vector): add scalar add function
  src/common/function/src/scalars/vector.rs
  src/common/function/src/scalars/vector/impl_conv.rs
  src/common/function/src/scalars/vector/scalar_add.rs
  tests/cases/standalone/common/function/vector/vector_scalar.result
  tests/cases/standalone/common/function/vector/vector_scalar.sql
Labels: docs-required, A-query

#5141 feat: update dashboard to v0.7.2
  src/servers/dashboard/VERSION
Labels: docs-not-required

#5144 feat: implement `v1/sql/parse` endpoint to parse GreptimeDB's SQL dialect
  Cargo.lock
  Cargo.toml
  src/servers/src/error.rs
  src/servers/src/http.rs
  src/servers/src/http/handler.rs
  src/sql/Cargo.toml
  src/sql/src/statements/admin.rs
  src/sql/src/statements/alter.rs
  src/sql/src/statements/copy.rs
  src/sql/src/statements/create.rs
  src/sql/src/statements/cursor.rs
  src/sql/src/statements/delete.rs
  src/sql/src/statements/describe.rs
  src/sql/src/statements/drop.rs
  src/sql/src/statements/explain.rs
  src/sql/src/statements/insert.rs
  src/sql/src/statements/option_map.rs
  src/sql/src/statements/query.rs
  src/sql/src/statements/set_variables.rs
  src/sql/src/statements/show.rs
  src/sql/src/statements/statement.rs
  src/sql/src/statements/tql.rs
  src/sql/src/statements/truncate.rs
  tests-integration/tests/http.rs
Labels: docs-required

#5129 feat: support push down IN filter
  src/query/src/dist_plan/commutativity.rs
  tests/cases/standalone/common/select/prune.result
  tests/cases/standalone/common/select/prune.sql
Labels: docs-not-required, A-query

#5145 feat: add prefetch support to `PuffinFileFooterReader` for reduced I/O time
  src/index/src/inverted_index/error.rs
  src/puffin/src/error.rs
  src/puffin/src/file_format/reader.rs
  src/puffin/src/file_format/reader/file.rs
  src/puffin/src/file_format/reader/footer.rs
  src/puffin/src/tests.rs
Labels: docs-not-required

#5146 feat: add prefetch support to `InvertedIndexFooterReader` for reduced I/O time
  src/index/src/inverted_index/error.rs
  src/index/src/inverted_index/format/reader/blob.rs
  src/index/src/inverted_index/format/reader/footer.rs
  src/index/src/lib.rs
Labels: docs-not-required

#5148 feat: introduce `PuffinMetadataCache`
  Cargo.lock
  src/mito2/src/cache.rs
  src/mito2/src/config.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/sst/file.rs
  src/mito2/src/sst/index/inverted_index/applier.rs
  src/mito2/src/sst/index/inverted_index/applier/builder.rs
  src/mito2/src/sst/index/inverted_index/applier/builder/between.rs
  src/mito2/src/sst/index/inverted_index/applier/builder/comparison.rs
  src/mito2/src/sst/index/inverted_index/applier/builder/eq_list.rs
  src/mito2/src/sst/index/inverted_index/applier/builder/in_list.rs
  src/mito2/src/sst/index/inverted_index/applier/builder/regex_match.rs
  src/mito2/src/sst/index/inverted_index/creator.rs
  src/mito2/src/worker.rs
  src/puffin/Cargo.toml
  src/puffin/src/blob_metadata.rs
  src/puffin/src/file_format/reader/file.rs
  src/puffin/src/file_metadata.rs
  src/puffin/src/puffin_manager.rs
  src/puffin/src/puffin_manager/cache.rs
  src/puffin/src/puffin_manager/fs_puffin_manager.rs
  src/puffin/src/puffin_manager/fs_puffin_manager/reader.rs
Labels: docs-not-required

#5074 feat(fuzz): add alter table options for alter fuzzer
  Cargo.lock
  src/common/base/src/readable_size.rs
  src/sql/src/statements/alter.rs
  tests-fuzz/Cargo.toml
  tests-fuzz/src/context.rs
  tests-fuzz/src/generator/alter_expr.rs
  tests-fuzz/src/ir.rs
  tests-fuzz/src/ir/alter_expr.rs
  tests-fuzz/src/test_utils.rs
  tests-fuzz/src/translator.rs
  tests-fuzz/src/translator/common.rs
  tests-fuzz/src/translator/mysql/alter_expr.rs
  tests-fuzz/src/translator/postgres/alter_expr.rs
  tests-fuzz/src/validator.rs
  tests-fuzz/src/validator/table.rs
  tests-fuzz/targets/ddl/fuzz_alter_logical_table.rs
  tests-fuzz/targets/ddl/fuzz_alter_table.rs
  tests-fuzz/targets/ddl/fuzz_create_database.rs
  tests-fuzz/targets/ddl/fuzz_create_logical_table.rs
  tests-fuzz/targets/ddl/fuzz_create_table.rs
Labels: docs-not-required

#5147 feat(index): add `file_size_hint` for remote blob reader
  src/common/base/src/range_read.rs
  src/mito2/src/sst/file.rs
  src/mito2/src/sst/index/inverted_index/applier.rs
  src/mito2/src/sst/index/inverted_index/creator.rs
  src/mito2/src/sst/index/store.rs
  src/mito2/src/sst/parquet/reader.rs
  src/puffin/src/partial_reader/async.rs
  src/puffin/src/puffin_manager.rs
  src/puffin/src/puffin_manager/fs_puffin_manager/reader.rs
Labels: docs-not-required

#5152 feat: collect reader metrics from prune reader
  src/mito2/src/read/last_row.rs
  src/mito2/src/read/prune.rs
  src/mito2/src/read/scan_util.rs
  src/mito2/src/sst/parquet/reader.rs
Labels: docs-not-required

#5142 chore: pipeline dryrun api can currently receives pipeline raw content
  src/frontend/src/instance/log_handler.rs
  src/pipeline/benches/processor.rs
  src/pipeline/src/etl.rs
  src/pipeline/src/manager/pipeline_operator.rs
  src/pipeline/src/manager/table.rs
  src/pipeline/tests/common.rs
  src/pipeline/tests/dissect.rs
  src/pipeline/tests/pipeline.rs
  src/servers/src/http/event.rs
  src/servers/src/query_handler.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5114 refactor: cache inverted index with fixed-size page
  Cargo.lock
  config/config.md
  config/datanode.example.toml
  config/standalone.example.toml
  src/common/base/src/range_read.rs
  src/index/src/inverted_index/format/reader.rs
  src/index/src/inverted_index/format/reader/blob.rs
  src/mito2/Cargo.toml
  src/mito2/src/cache.rs
  src/mito2/src/cache/index.rs
  src/mito2/src/config.rs
  src/mito2/src/error.rs
  src/mito2/src/sst/index.rs
  src/mito2/src/sst/index/inverted_index/applier.rs
  src/mito2/src/sst/index/inverted_index/creator.rs
  src/mito2/src/test_util.rs
  src/mito2/src/worker.rs
  tests-integration/tests/http.rs
Labels: docs-required

#5140 docs: Add index panels to standalone grafana dashboard
  grafana/greptimedb.json
Labels: docs-not-required

#5161 fix: loki write row len error
  src/servers/src/http/event.rs
  tests-integration/tests/http.rs
Labels: docs-not-required, backport

#5158 ci: use 4xlarge for nightly build
  .github/workflows/nightly-build.yml
Labels: docs-not-required

#5165 fix: support alter table ~ add ~ custom_type
  src/sql/src/statements/transform/type_alias.rs
  tests/cases/standalone/common/alter/alter_table.result
  tests/cases/standalone/common/alter/alter_table.sql
Labels: docs-not-required

#5163 chore: remove unused dep
  Cargo.lock
  src/cache/Cargo.toml
  src/catalog/Cargo.toml
  src/cli/Cargo.toml
  src/client/Cargo.toml
  src/common/catalog/Cargo.toml
  src/common/datasource/Cargo.toml
  src/common/frontend/Cargo.toml
  src/common/function/Cargo.toml
  src/common/runtime/Cargo.toml
  src/file-engine/Cargo.toml
  src/flow/Cargo.toml
  src/frontend/Cargo.toml
  src/metric-engine/Cargo.toml
  src/mito2/Cargo.toml
  src/pipeline/Cargo.toml
  src/promql/Cargo.toml
  src/query/Cargo.toml
  src/script/Cargo.toml
  src/servers/Cargo.toml
  src/store-api/Cargo.toml
Labels: docs-not-required

#5166 feat: Add `vector_scalar_mul` function.
  src/common/function/src/scalars/vector.rs
  src/common/function/src/scalars/vector/scalar_mul.rs
  tests/cases/standalone/common/function/vector/vector_scalar.result
  tests/cases/standalone/common/function/vector/vector_scalar.sql
Labels: docs-not-required

#5156 chore: gauge for flush compaction
  grafana/greptimedb.json
  src/mito2/src/compaction.rs
  src/mito2/src/flush.rs
  src/mito2/src/metrics.rs
  src/mito2/src/schedule/remote_job_scheduler.rs
Labels: docs-not-required

#5155 feat: introduce SKIPPING index (part 1)
  src/api/src/v1/column_def.rs
  src/datatypes/src/error.rs
  src/datatypes/src/schema.rs
  src/datatypes/src/schema/column_schema.rs
  src/operator/src/statement/ddl.rs
  src/query/src/error.rs
  src/query/src/sql/show_create_table.rs
  src/sql/src/error.rs
  src/sql/src/parsers/create_parser.rs
  src/sql/src/parsers/utils.rs
  src/sql/src/statements.rs
  src/sql/src/statements/create.rs
  tests/cases/standalone/common/create/create_with_skip_index.result
  tests/cases/standalone/common/create/create_with_skip_index.sql
Labels: docs-required, docs-not-required

#5172 feat: update dashboard to v0.7.3
  src/servers/dashboard/VERSION
Labels: docs-not-required, backport

#5162 test: flow rebuild
  tests/cases/standalone/common/flow/flow_rebuild.result
  tests/cases/standalone/common/flow/flow_rebuild.sql
Labels: docs-not-required, A-flow

#5171 fix: correct `set_region_role_state_gracefully` behaviors
  .github/actions/setup-kafka-cluster/action.yml
  .github/workflows/develop.yml
  src/metric-engine/src/engine.rs
  src/metric-engine/src/engine/catchup.rs
  src/mito2/src/worker/handle_catchup.rs
  tests-fuzz/src/utils.rs
Labels: docs-not-required

#5181 chore: add aquamarine to dep lists
  Cargo.lock
  src/metric-engine/Cargo.toml
  src/mito2/Cargo.toml
  src/store-api/Cargo.toml
Labels: docs-not-required

#5168 fix: deletion between two put may not work in `last_non_null` mode
  src/mito2/src/read/dedup.rs
  tests/cases/standalone/common/insert/merge_mode.result
  tests/cases/standalone/common/insert/merge_mode.sql
Labels: docs-not-required, backport

#5177 feat(bloom-filter): add basic bloom filter creator (Part 1)
  Cargo.lock
  src/index/Cargo.toml
  src/index/src/bloom_filter.rs
  src/index/src/bloom_filter/creator.rs
  src/index/src/bloom_filter/error.rs
  src/index/src/lib.rs
Labels: docs-not-required

#5126 test: sqlness upgrade compatibility tests
  Cargo.lock
  src/common/meta/src/kv_backend/etcd.rs
  tests/conf/metasrv-test.toml.template
  tests/runner/Cargo.toml
  tests/runner/src/env.rs
  tests/runner/src/main.rs
  tests/runner/src/util.rs
  tests/upgrade-compat/distributed/common
  tests/upgrade-compat/standalone/common/table_engine_0_10_2.result
  tests/upgrade-compat/standalone/common/table_engine_0_10_2.sql
  tests/upgrade-compat/standalone/common/table_engine_v0_11_0.result
  tests/upgrade-compat/standalone/common/table_engine_v0_11_0.sql
  tests/upgrade-compat/standalone/common/table_engine_v0_9_5.result
  tests/upgrade-compat/standalone/common/table_engine_v0_9_5.sql
  tests/upgrade-compat/standalone/common/test_simple.result
  tests/upgrade-compat/standalone/common/test_simple.sql
  tests/upgrade-compat/standalone/common/test_ttl.result
  tests/upgrade-compat/standalone/common/test_ttl.sql
Labels: docs-not-required

#5157 perf: avoid holding memtable during compaction
  src/mito2/src/compaction.rs
  src/mito2/src/compaction/compactor.rs
  src/mito2/src/compaction/window.rs
  src/mito2/src/flush.rs
Labels: docs-not-required, backport

#5186 refactor: produce BatchBuilder from a Batch to modify it again
  src/mito2/src/read.rs
  src/mito2/src/sst/parquet.rs
Labels: docs-not-required

#5164 feat: introduce Buffer for non-continuous bytes
  Cargo.lock
  src/common/base/Cargo.toml
  src/index/src/inverted_index/format/reader.rs
  src/index/src/inverted_index/format/reader/blob.rs
  src/mito2/src/cache/index.rs
Labels: docs-not-required

#5169 fix: display inverted and fulltext index in show index
  src/catalog/src/system_schema/information_schema/key_column_usage.rs
  src/datatypes/src/schema/column_schema.rs
  src/query/src/sql.rs
  tests/cases/standalone/common/show/show_index.result
  tests/cases/standalone/common/show/show_index.sql
Labels: docs-not-required, backport

#5153 feat: impl label_join and label_replace for promql
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/label.result
  tests/cases/standalone/common/promql/label.sql
Labels: docs-required

#5184 feat: do not keep MemtableRefs in ScanInput
  src/mito2/src/memtable.rs
  src/mito2/src/memtable/bulk.rs
  src/mito2/src/memtable/partition_tree.rs
  src/mito2/src/memtable/time_series.rs
  src/mito2/src/read/range.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/scan_util.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/read/unordered_scan.rs
  src/mito2/src/test_util/memtable_util.rs
Labels: A-storage, docs-not-required

#5180 feat: do not remove time filters in ScanRegion
  scripts/check-snafu.py
  src/mito2/src/error.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/sst/parquet/reader.rs
  src/query/src/tests/time_range_filter_test.rs
  src/table/src/predicate.rs
Labels: C-performance, A-storage, docs-not-required, backport

#5128 feat: extract hints from http header
  src/servers/src/grpc/database.rs
  src/servers/src/hint_headers.rs
  src/servers/src/http.rs
  src/servers/src/http/hints.rs
  src/servers/src/lib.rs
Labels: docs-not-required

#5190 fix(sqlness): enforce order in union tests
  tests/cases/standalone/common/subquery/table.result
  tests/cases/standalone/common/subquery/table.sql
Labels: docs-not-required

#5192 docs: fix grafana dashboard row
  grafana/greptimedb.json
Labels: docs-not-required

#5193 refactor: remove unused symbols
  src/cmd/src/datanode.rs
  src/cmd/src/flownode.rs
  src/common/meta/src/cache/table/table_route.rs
  src/common/meta/src/key/table_route.rs
  src/common/meta/src/rpc/router.rs
  src/common/recordbatch/src/lib.rs
  src/common/time/src/util.rs
  src/flow/src/adapter.rs
  src/flow/src/compute/render/src_sink.rs
  src/flow/src/compute/types.rs
  src/flow/src/expr/error.rs
  src/flow/src/expr/linear.rs
  src/flow/src/plan.rs
  src/flow/src/repr/relation.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/mocks.rs
  src/meta-srv/src/procedure/region_migration.rs
  src/script/src/python/ffi_types/copr.rs
  src/session/src/lib.rs
  src/sql/src/statements.rs
Labels: docs-not-required

#5183 chore: make nix compilation environment config more robust
  .github/workflows/nightly-ci.yml
  rust-toolchain.toml
  shell.nix
Labels: docs-not-required

#5174 fix: ensure table route metadata is eventually rolled back on failure
  src/meta-srv/src/procedure/region_migration.rs
  src/meta-srv/src/procedure/region_migration/close_downgraded_region.rs
  src/meta-srv/src/procedure/region_migration/migration_start.rs
  src/meta-srv/src/procedure/region_migration/open_candidate_region.rs
  src/meta-srv/src/procedure/region_migration/test_util.rs
  src/meta-srv/src/procedure/region_migration/update_metadata.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/upgrade_candidate_region.rs
  src/meta-srv/src/procedure/region_migration/upgrade_candidate_region.rs
  tests-fuzz/targets/migration/fuzz_migrate_metric_regions.rs
  tests-fuzz/targets/migration/fuzz_migrate_mito_regions.rs
Labels: docs-not-required, backport

#5179 feat: bump opendal and switch prometheus layer to the upstream impl
  Cargo.lock
  src/common/datasource/src/object_store/fs.rs
  src/common/datasource/src/object_store/s3.rs
  src/common/procedure/src/local/runner.rs
  src/datanode/src/error.rs
  src/datanode/src/store.rs
  src/file-engine/src/manifest.rs
  src/file-engine/src/region.rs
  src/metric-engine/src/test_util.rs
  src/mito2/src/cache/file_cache.rs
  src/mito2/src/engine/create_test.rs
  src/mito2/src/engine/drop_test.rs
  src/mito2/src/engine/open_test.rs
  src/mito2/src/manifest/tests/checkpoint.rs
  src/mito2/src/sst/file_purger.rs
  src/mito2/src/worker/handle_open.rs
  src/object-store/Cargo.toml
  src/object-store/src/layers.rs
  src/object-store/src/layers/lru_cache/read_cache.rs
  src/object-store/src/layers/prometheus.rs
  src/object-store/src/util.rs
  src/object-store/tests/object_store_test.rs
Labels: docs-not-required

#4890 feat: show flow's mem usage in INFORMATION_SCHEMA.FLOWS
  Cargo.lock
  src/catalog/src/error.rs
  src/catalog/src/information_extension.rs
  src/catalog/src/system_schema/information_schema.rs
  src/catalog/src/system_schema/information_schema/flows.rs
  src/cli/src/repl.rs
  src/cmd/src/standalone.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/flow.rs
  src/common/meta/src/key/flow/flow_state.rs
  src/common/meta/src/kv_backend.rs
  src/common/meta/src/kv_backend/memory.rs
  src/flow/Cargo.toml
  src/flow/src/adapter.rs
  src/flow/src/adapter/stat.rs
  src/flow/src/adapter/worker.rs
  src/flow/src/compute/state.rs
  src/flow/src/heartbeat.rs
  src/flow/src/repr.rs
  src/flow/src/server.rs
  src/flow/src/utils.rs
  src/meta-client/src/client.rs
  src/meta-client/src/client/cluster.rs
  src/meta-client/src/error.rs
  src/meta-srv/src/error.rs
  src/meta-srv/src/handler.rs
  src/meta-srv/src/handler/flow_state_handler.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/service/store/cached_kv.rs
  tests/cases/standalone/common/flow/flow_basic.result
  tests/cases/standalone/common/flow/flow_basic.sql
  tests/cases/standalone/common/system/information_schema.result
Labels: docs-not-required, A-flow

#5199 chore: update PR template
  .github/pull_request_template.md
Labels: docs-not-required

#5195 fix(flow): batch builder with type
  src/flow/src/adapter.rs
  src/flow/src/adapter/flownode_impl.rs
  src/flow/src/adapter/node_context.rs
  src/flow/src/adapter/util.rs
  src/flow/src/compute/render.rs
  src/flow/src/compute/render/map.rs
  src/flow/src/compute/render/reduce.rs
  src/flow/src/expr.rs
  src/flow/src/expr/linear.rs
  tests/cases/standalone/common/flow/flow_basic.result
  tests/cases/standalone/common/flow/flow_basic.sql
Labels: docs-not-required

#5203 fix: auto created table ttl check
  src/operator/src/insert.rs
  tests-integration/tests/grpc.rs
Labels: docs-not-required

#5196 ci: install latest protobuf in dev-builder image
  docker/dev-builder/ubuntu/Dockerfile
Labels: docs-not-required

#5207 chore: adjust fuzz tests cfg
  .github/actions/setup-greptimedb-cluster/with-minio-and-cache.yaml
  .github/actions/setup-greptimedb-cluster/with-minio.yaml
  .github/actions/setup-greptimedb-cluster/with-remote-wal.yaml
  tests-fuzz/src/utils.rs
Labels: docs-not-required

#5204 feat(bloom-filter): add bloom filter reader
  Cargo.lock
  src/index/Cargo.toml
  src/index/src/bloom_filter.rs
  src/index/src/bloom_filter/creator.rs
  src/index/src/bloom_filter/error.rs
  src/index/src/bloom_filter/reader.rs
Labels: docs-not-required

#5212 fix: dead links
  README.md
Labels: docs-not-required

#5213 chore: arm64 use 8xlarge runner
  .github/workflows/release.yml
Labels: docs-not-required

#5214 build: use 8xlarge as arm default
  .github/workflows/release.yml
Labels: docs-not-required

#5215 chore: update all arm64 builders
  .github/workflows/dev-build.yml
  .github/workflows/nightly-build.yml
Labels: docs-not-required

#5198 ci: fix nightly ci task on nix build
  .github/workflows/nightly-ci.yml
Labels: docs-not-required

#5216 docs: add greptimedb-operator project link in 'Tools & Extensions' and other small improvements
  README.md
Labels: docs-not-required

#5219 feat(index-cache): abstract `IndexCache` to be shared by multi types of indexes
  src/index/src/inverted_index/format/reader.rs
  src/index/src/inverted_index/format/reader/blob.rs
  src/mito2/src/cache.rs
  src/mito2/src/cache/index.rs
  src/mito2/src/cache/index/inverted_index.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/sst/index/inverted_index/applier.rs
  src/mito2/src/sst/index/inverted_index/applier/builder.rs
  src/mito2/src/sst/index/inverted_index/creator.rs
  src/mito2/src/test_util/memtable_util.rs
Labels: docs-not-required

#5221 refactor: remove unnecessary wrap
  src/catalog/src/kvbackend/table_cache.rs
  src/common/meta/src/cache/container.rs
  src/common/meta/src/cache/flow/table_flownode.rs
  src/common/meta/src/cache/registry.rs
  src/common/meta/src/cache/table/schema.rs
  src/common/meta/src/cache/table/table_info.rs
  src/common/meta/src/cache/table/table_name.rs
  src/common/meta/src/cache/table/table_route.rs
  src/common/meta/src/cache/table/table_schema.rs
  src/common/meta/src/cache/table/view_info.rs
  src/common/meta/src/key/catalog_name.rs
  src/common/meta/src/key/datanode_table.rs
  src/common/meta/src/key/flow/flow_name.rs
  src/common/meta/src/key/flow/flow_route.rs
  src/common/meta/src/key/flow/flownode_flow.rs
  src/common/meta/src/key/flow/table_flow.rs
  src/common/meta/src/key/schema_name.rs
  src/common/meta/src/key/table_name.rs
  src/common/meta/src/range_stream.rs
  src/common/meta/src/state_store.rs
  src/meta-client/src/client.rs
  src/meta-srv/src/service/store/cached_kv.rs
Labels: docs-not-required

#5223 chore: bump opendal to fork version to fix prometheus layer
  Cargo.lock
  src/object-store/Cargo.toml
Labels: docs-not-required

#4967 feat(mito): parquet memtable reader
  src/mito2/src/error.rs
  src/mito2/src/memtable/bulk.rs
  src/mito2/src/memtable/bulk/context.rs
  src/mito2/src/memtable/bulk/part.rs
  src/mito2/src/memtable/bulk/part_reader.rs
  src/mito2/src/memtable/bulk/row_group_reader.rs
  src/mito2/src/read/last_row.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/reader.rs
  src/mito2/src/sst/parquet/row_group.rs
Labels: docs-not-required

#5228 ci: support to pack multiple files in upload-artifacts action
  .github/actions/build-greptime-binary/action.yml
  .github/actions/build-macos-artifacts/action.yml
  .github/actions/build-windows-artifacts/action.yml
  .github/actions/upload-artifacts/action.yml
Labels: docs-not-required

#5222 chore: add log for converting region to follower
  src/mito2/src/region.rs
Labels: docs-not-required

#5227 fix: correct write cache's metric labels
  config/config.md
  config/datanode.example.toml
  src/datanode/src/store.rs
  src/mito2/src/cache/file_cache.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/config.rs
  src/mito2/src/test_util.rs
  src/mito2/src/worker.rs
  src/object-store/src/layers.rs
  src/object-store/src/layers/lru_cache.rs
  src/object-store/src/layers/lru_cache/read_cache.rs
  src/object-store/tests/object_store_test.rs
Labels: docs-not-required

#5225 feat(bloom-filter): impl batch push to creator
  src/index/src/bloom_filter/creator.rs
  src/index/src/bloom_filter/creator/finalize_segment.rs
Labels: docs-not-required

#5224 ci: upload .pdb files too for better windows debug
  .github/actions/build-windows-artifacts/action.yml
Labels: docs-not-required

#5231 feat: introduce the Limiter in frontend to limit the requests by in-flight write bytes size.
  config/config.md
  config/frontend.example.toml
  config/standalone.example.toml
  src/cmd/src/standalone.rs
  src/frontend/src/error.rs
  src/frontend/src/frontend.rs
  src/frontend/src/instance.rs
  src/frontend/src/instance/builder.rs
  src/frontend/src/instance/grpc.rs
  src/frontend/src/instance/influxdb.rs
  src/frontend/src/instance/log_handler.rs
  src/frontend/src/instance/opentsdb.rs
  src/frontend/src/instance/otlp.rs
  src/frontend/src/instance/prom_store.rs
  src/frontend/src/lib.rs
  src/frontend/src/limiter.rs
  src/servers/src/error.rs
Labels: docs-required

#5235 feat: add some critical metrics to flownode
  src/flow/src/adapter.rs
  src/flow/src/adapter/flownode_impl.rs
  src/flow/src/compute/types.rs
  src/flow/src/expr/error.rs
  src/flow/src/metrics.rs
  src/flow/src/server.rs
Labels: docs-not-required

#5112 feat(flow): check sink table mismatch on flow creation
  Cargo.lock
  Cargo.toml
  src/common/error/Cargo.toml
  src/common/error/src/lib.rs
  src/flow/Cargo.toml
  src/flow/src/adapter.rs
  src/flow/src/adapter/node_context.rs
  src/flow/src/adapter/table_source.rs
  src/flow/src/adapter/util.rs
  src/flow/src/error.rs
  src/flow/src/repr/relation.rs
  src/flow/src/server.rs
  src/flow/src/transform/aggr.rs
  src/operator/src/expr_factory.rs
  src/operator/src/insert.rs
  src/servers/Cargo.toml
  src/servers/src/http/result/error_result.rs
  tests/cases/standalone/common/flow/flow_auto_sink_table.result
  tests/cases/standalone/common/flow/flow_auto_sink_table.sql
  tests/cases/standalone/common/flow/flow_basic.result
  tests/cases/standalone/common/flow/flow_basic.sql
  tests/cases/standalone/common/flow/show_create_flow.result
  tests/cases/standalone/common/flow/show_create_flow.sql
Labels: docs-not-required, A-flow

#5205 feat: Add `vec_mul` function.
  src/common/function/src/scalars/vector.rs
  src/common/function/src/scalars/vector/vector_mul.rs
  tests/cases/standalone/common/function/vector/vector.result
  tests/cases/standalone/common/function/vector/vector.sql
Labels: docs-not-required

#5234 fix: flow compare null values
  src/flow/src/compute/render/reduce.rs
  tests/cases/standalone/common/flow/flow_null.result
  tests/cases/standalone/common/flow/flow_null.sql
Labels: docs-not-required, A-flow

#5220 feat(bloom-filter): bloom filter applier
  Cargo.lock
  src/index/Cargo.toml
  src/index/src/bloom_filter.rs
  src/index/src/bloom_filter/applier.rs
  src/index/src/bloom_filter/reader.rs
  src/mito2/src/cache.rs
  src/mito2/src/cache/index.rs
  src/mito2/src/cache/index/bloom_filter_index.rs
  src/mito2/src/engine.rs
  src/mito2/src/error.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/sst/file.rs
  src/mito2/src/sst/index.rs
  src/mito2/src/sst/index/bloom_filter.rs
  src/mito2/src/sst/index/bloom_filter/applier.rs
  src/mito2/src/sst/index/bloom_filter/creator.rs
  src/mito2/src/sst/parquet/reader.rs
  src/mito2/src/test_util.rs
Labels: docs-not-required

#5232 chore: add more info for pipeline dryrun API
  src/servers/src/error.rs
  src/servers/src/http/event.rs
Labels: docs-not-required

#5237 feat(config): add bloom filter config
  config/config.md
  config/datanode.example.toml
  config/standalone.example.toml
  src/index/src/bloom_filter/creator.rs
  src/mito2/src/access_layer.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/compaction/compactor.rs
  src/mito2/src/config.rs
  src/mito2/src/engine.rs
  src/mito2/src/flush.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/sst/index.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5239 feat(mito): add bloom filter read metrics
  src/mito2/src/read/prune.rs
  src/mito2/src/sst/parquet/reader.rs
Labels: docs-not-required

#5209 feat: init PgElection with candidate registration
  .github/workflows/develop.yml
  src/common/meta/src/kv_backend/postgres.rs
  src/meta-srv/Cargo.toml
  src/meta-srv/src/bootstrap.rs
  src/meta-srv/src/election.rs
  src/meta-srv/src/election/etcd.rs
  src/meta-srv/src/election/postgres.rs
  src/meta-srv/src/error.rs
  src/meta-srv/src/handler/on_leader_start_handler.rs
Labels: docs-not-required

#5230 feat(vector): add vector functions `vec_sub` & `vec_sum` & `vec_elem_sum`
  Cargo.lock
  Cargo.toml
  src/common/function/Cargo.toml
  src/common/function/src/scalars/aggregate.rs
  src/common/function/src/scalars/vector.rs
  src/common/function/src/scalars/vector/elem_sum.rs
  src/common/function/src/scalars/vector/sub.rs
  src/common/function/src/scalars/vector/sum.rs
  src/query/Cargo.toml
  src/query/src/tests.rs
  src/query/src/tests/function.rs
  src/query/src/tests/vec_sum_test.rs
  tests/cases/standalone/common/function/vector/vector.result
  tests/cases/standalone/common/function/vector/vector.sql
Labels: docs-required

#5247 fix: disable path label in opendal for now
  src/object-store/src/layers.rs
Labels: docs-not-required

#5240 feat: add sqlness test for bloom filter index
  tests/cases/standalone/common/create/create_with_skipping_index.result
  tests/cases/standalone/common/create/create_with_skipping_index.sql
  tests/cases/standalone/common/select/skipping_index.result
  tests/cases/standalone/common/select/skipping_index.sql
Labels: docs-not-required

#5254 fix: implement a CacheStrategy to ensure compaction use cache correctly
  .github/workflows/develop.yml
  src/mito2/src/cache.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/compaction.rs
  src/mito2/src/compaction/compactor.rs
  src/mito2/src/engine.rs
  src/mito2/src/read/last_row.rs
  src/mito2/src/read/projection.rs
  src/mito2/src/read/range.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/read/unordered_scan.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/file_range.rs
  src/mito2/src/sst/parquet/reader.rs
  src/mito2/src/sst/parquet/row_group.rs
Labels: C-performance, A-storage, docs-not-required

#5246 fix(bloom-filter): skip applying for non-indexed columns
  src/mito2/src/cache/index/bloom_filter_index.rs
  src/mito2/src/cache/index/inverted_index.rs
  src/mito2/src/sst/index/bloom_filter/applier.rs
  src/mito2/src/sst/index/inverted_index/applier.rs
Labels: docs-not-required

#5253 ci: make sure clippy passes before running tests
  .github/workflows/develop.yml
  .github/workflows/nightly-ci.yml
Labels: docs-not-required

#5245 feat: add `vec_div` function
  src/common/function/src/scalars/vector.rs
  src/common/function/src/scalars/vector/vector_div.rs
  tests/cases/standalone/common/function/vector/vector.result
  tests/cases/standalone/common/function/vector/vector.sql
Labels: docs-not-required

#5242 refactor: support to convert time string to timestamp in `convert_value()`
  src/servers/src/mysql/helper.rs
Labels: docs-not-required

#5249 feat: add election logic for PgElection
  src/meta-srv/src/bootstrap.rs
  src/meta-srv/src/election.rs
  src/meta-srv/src/election/etcd.rs
  src/meta-srv/src/election/postgres.rs
Labels: docs-not-required

#5252 feat: override `__sequence` on creating SST to save space and CPU
  src/mito2/src/access_layer.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/compaction/compactor.rs
  src/mito2/src/compaction/test_util.rs
  src/mito2/src/compaction/twcs.rs
  src/mito2/src/engine/basic_test.rs
  src/mito2/src/flush.rs
  src/mito2/src/manifest/tests/checkpoint.rs
  src/mito2/src/memtable.rs
  src/mito2/src/memtable/key_values.rs
  src/mito2/src/memtable/partition_tree.rs
  src/mito2/src/memtable/time_series.rs
  src/mito2/src/sst/file.rs
  src/mito2/src/sst/file_purger.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/format.rs
  src/mito2/src/sst/parquet/writer.rs
  src/mito2/src/test_util/sst_util.rs
  src/mito2/src/test_util/version_util.rs
Labels: docs-not-required

#5256 ci: disable pyo3 build tasks
  .github/actions/build-images/action.yml
  .github/actions/build-linux-artifacts/action.yml
  .github/actions/build-windows-artifacts/action.yml
  .github/workflows/develop.yml
  .github/workflows/nightly-ci.yml
  .github/workflows/release.yml
  docker/buildx/centos/Dockerfile
  docker/buildx/ubuntu/Dockerfile
  docker/ci/centos/Dockerfile
  docker/ci/ubuntu/Dockerfile
Labels: docs-not-required

#5241 feat(log-query): implement pagination with limit and offset parameters
  src/log-query/src/log_query.rs
  src/query/src/log_query/planner.rs
Labels: docs-not-required
