Repository GreptimeTeam/greptimedb, pull requests merged in 2024-10, with the labels that each got.

#4789 docs: add TM to logos
  docs/logo-text-padding-dark.png
  docs/logo-text-padding.png
Labels: docs-not-required

#4744 chore: add json write
  Cargo.lock
  src/pipeline/Cargo.toml
  src/pipeline/src/etl/error.rs
  src/pipeline/src/etl/transform/transformer.rs
  src/pipeline/src/etl/transform/transformer/greptime.rs
  src/pipeline/src/lib.rs
  src/servers/src/http/event.rs
  tests-integration/tests/http.rs
Labels: docs-required

#4790 fix: ts conversion during transform phase
  src/pipeline/src/etl/error.rs
  src/pipeline/src/etl/transform/transformer/greptime/coerce.rs
  src/pipeline/tests/epoch.rs
  src/pipeline/tests/timestamp.rs
Labels: docs-not-required

#4798 feat: add function to aggregate path into a geojson path
  src/common/function/src/scalars/aggregate.rs
  src/common/function/src/scalars/aggregate/argmax.rs
  src/common/function/src/scalars/aggregate/argmin.rs
  src/common/function/src/scalars/aggregate/diff.rs
  src/common/function/src/scalars/aggregate/mean.rs
  src/common/function/src/scalars/aggregate/polyval.rs
  src/common/function/src/scalars/aggregate/scipy_stats_norm_cdf.rs
  src/common/function/src/scalars/aggregate/scipy_stats_norm_pdf.rs
  src/common/function/src/scalars/geo.rs
  src/common/function/src/scalars/geo/encoding.rs
  src/common/function/src/scalars/geo/helpers.rs
  src/common/macro/src/aggr_func.rs
  src/common/macro/tests/test_derive.rs
  src/datatypes/src/data_type.rs
  src/query/src/tests/my_sum_udaf_example.rs
  tests/cases/standalone/common/function/geo.result
  tests/cases/standalone/common/function/geo.sql
Labels: docs-not-required

#4797 feat: add json format output for http interface
  src/servers/src/http.rs
  src/servers/src/http/handler.rs
  src/servers/src/http/json_result.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#4768 feat: Merge sort Logical plan
  src/query/src/dist_plan.rs
  src/query/src/dist_plan/analyzer.rs
  src/query/src/dist_plan/commutativity.rs
  src/query/src/dist_plan/merge_scan.rs
  src/query/src/dist_plan/merge_sort.rs
  src/query/src/dist_plan/planner.rs
  src/query/src/query_engine/state.rs
  tests/cases/distributed/explain/multi_partitions.result
  tests/cases/standalone/common/order/order_by.result
Labels: docs-not-required

#4812 feat: expose `RegionMigrationManagerRef`
  src/meta-srv/src/procedure/region_migration.rs
  src/meta-srv/src/procedure/region_migration/manager.rs
  src/meta-srv/src/region/supervisor.rs
Labels: docs-not-required

#4811 feat: information extension
  src/catalog/src/error.rs
  src/catalog/src/kvbackend/manager.rs
  src/catalog/src/system_schema/information_schema.rs
  src/catalog/src/system_schema/information_schema/cluster_info.rs
  src/catalog/src/system_schema/information_schema/procedure_info.rs
  src/catalog/src/system_schema/information_schema/region_statistics.rs
  src/catalog/src/system_schema/utils.rs
  src/catalog/src/table_source.rs
  src/cmd/src/cli/repl.rs
  src/cmd/src/flownode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/lib.rs
  src/cmd/src/standalone.rs
  tests-integration/src/cluster.rs
  tests-integration/src/standalone.rs
Labels: docs-not-required

#4810 feat!: move v1/prof API to debug/prof
  docs/how-to/how-to-profile-cpu.md
  docs/how-to/how-to-profile-memory.md
  src/servers/src/http.rs
Labels: breaking-change, docs-not-required

#4796 fix: Panic in UNION ALL queries
  src/common/recordbatch/src/adapter.rs
  tests/cases/standalone/common/select/union_all.result
  tests/cases/standalone/common/select/union_all.sql
Labels: docs-not-required

#4819 fix: correct table name formatting
  src/common/meta/src/ddl/utils.rs
  src/common/meta/src/key/table_name.rs
Labels: docs-not-required

#4817 feat: introduce `LeadershipChangeNotifier` and `LeadershipChangeListener`
  src/common/meta/src/error.rs
  src/common/meta/src/leadership_notifier.rs
  src/common/meta/src/lib.rs
  src/common/meta/src/wal_options_allocator.rs
  src/meta-srv/src/lib.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/procedure.rs
  src/meta-srv/src/region/supervisor.rs
Labels: docs-not-required

#4770 feat: add more h3 functions
  src/common/function/src/scalars/geo.rs
  src/common/function/src/scalars/geo/h3.rs
  tests/cases/standalone/common/function/geo.result
  tests/cases/standalone/common/function/geo.sql
Labels: docs-not-required

#4825 feat: remove the distributed lock
  src/meta-client/examples/lock.rs
  src/meta-client/src/client.rs
  src/meta-client/src/client/lock.rs
  src/meta-srv/src/bootstrap.rs
  src/meta-srv/src/error.rs
  src/meta-srv/src/lib.rs
  src/meta-srv/src/lock.rs
  src/meta-srv/src/lock/etcd.rs
  src/meta-srv/src/lock/memory.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/service.rs
  src/meta-srv/src/service/lock.rs
Labels: docs-not-required

#4822 fix: case sensitive for __field__ matcher
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/tql/basic.result
  tests/cases/standalone/common/tql/basic.sql
Labels: docs-not-required

#4815 feat: enable prof features by default
  Cargo.lock
  Cargo.toml
  docs/how-to/how-to-profile-cpu.md
  docs/how-to/how-to-profile-memory.md
  src/cmd/Cargo.toml
  src/common/pprof/Cargo.toml
  src/common/pprof/src/lib.rs
  src/common/pprof/src/nix.rs
  src/servers/Cargo.toml
  src/servers/src/error.rs
  src/servers/src/http/pprof.rs
Labels: docs-not-required

#4827 feat: cache logical region's metadata
  src/metric-engine/src/engine/alter.rs
  src/metric-engine/src/engine/open.rs
  src/metric-engine/src/engine/read.rs
  src/metric-engine/src/engine/region_metadata.rs
  src/metric-engine/src/engine/state.rs
  src/metric-engine/src/metadata_region.rs
Labels: docs-not-required

#4829 refactor: replace info logs with debug logs in region server
  src/datanode/src/region_server.rs
  src/metric-engine/src/engine.rs
  src/metric-engine/src/engine/close.rs
Labels: docs-not-required

#4826 feat: defer `HeartbeatHandlerGroup` construction and enhance `LeadershipChangeNotifier`
  src/cmd/src/metasrv.rs
  src/cmd/src/standalone.rs
  src/common/meta/src/leadership_notifier.rs
  src/meta-srv/src/bootstrap.rs
  src/meta-srv/src/handler.rs
  src/meta-srv/src/handler/failure_handler.rs
  src/meta-srv/src/handler/region_lease_handler.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/mocks.rs
  src/meta-srv/src/region/supervisor.rs
  src/meta-srv/src/service/heartbeat.rs
Labels: docs-not-required

#4823 feat: add some s2 geo functions
  Cargo.lock
  src/common/function/Cargo.toml
  src/common/function/src/scalars/geo.rs
  src/common/function/src/scalars/geo/encoding.rs
  src/common/function/src/scalars/geo/h3.rs
  src/common/function/src/scalars/geo/helpers.rs
  src/common/function/src/scalars/geo/s2.rs
  tests/cases/standalone/common/function/geo.result
  tests/cases/standalone/common/function/geo.sql
Labels: docs-required

#4831 feat: introduce default customizers
  src/cmd/src/metasrv.rs
  src/common/base/src/plugins.rs
  src/common/meta/src/leadership_notifier.rs
  src/meta-srv/src/bootstrap.rs
  src/meta-srv/src/handler.rs
  src/meta-srv/src/handler/filter_inactive_region_stats.rs
Labels: docs-not-required

#4833 chore: bump version v0.9.4
  Cargo.lock
  Cargo.toml
Labels: docs-not-required

#4755 feat: add API to write OpenTelemetry logs to GreptimeDB
  Cargo.lock
  Cargo.toml
  src/datatypes/src/value.rs
  src/frontend/src/instance/otlp.rs
  src/frontend/src/metrics.rs
  src/pipeline/src/etl.rs
  src/pipeline/src/etl/error.rs
  src/pipeline/src/etl/processor/cmcd.rs
  src/pipeline/src/etl/processor/regex.rs
  src/pipeline/src/etl/transform/transformer/greptime/coerce.rs
  src/pipeline/src/etl/value.rs
  src/pipeline/src/etl/value/map.rs
  src/pipeline/src/lib.rs
  src/pipeline/tests/pipeline.rs
  src/servers/Cargo.toml
  src/servers/src/error.rs
  src/servers/src/http.rs
  src/servers/src/http/header.rs
  src/servers/src/http/otlp.rs
  src/servers/src/metrics.rs
  src/servers/src/otlp.rs
  src/servers/src/otlp/logs.rs
  src/servers/src/query_handler.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#4837 fix: dead links
  docs/benchmarks/log/README.md
Labels: docs-not-required

#4836 fix: respect feature flags for geo function
  src/common/function/src/scalars/aggregate.rs
Labels: docs-not-required

#4838 chore: add more metrics for region migration
  src/meta-srv/src/metrics.rs
  src/meta-srv/src/procedure/region_migration.rs
  src/meta-srv/src/procedure/region_migration/manager.rs
Labels: docs-not-required

#4814 feat: window sort physical plan
  Cargo.lock
  src/query/Cargo.toml
  src/query/src/lib.rs
  src/query/src/window_sort.rs
Labels: docs-not-required

#4809 feat: Seq scanner scans data by time range
  src/mito2/src/read.rs
  src/mito2/src/read/range.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/scan_util.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/read/unordered_scan.rs
  src/mito2/src/sst/file.rs
  src/mito2/src/sst/parquet/reader.rs
  src/mito2/src/test_util/memtable_util.rs
  src/store-api/src/region_engine.rs
Labels: docs-not-required

#4850 chore: update greptime-proto to `b4d3011`
  Cargo.lock
  Cargo.toml
Labels: docs-not-required

#4846 fix: fix metadata forward compatibility issue
  src/common/meta/src/rpc/router.rs
Labels: docs-not-required

#4842 fix: overwrite entry_id if entry id is less than start_offset
  config/config.md
  config/datanode.example.toml
  config/standalone.example.toml
  src/common/wal/src/config/kafka/datanode.rs
  src/log-store/src/kafka/log_store.rs
Labels: docs-not-required

#4853 chore: bump version to 0.9.5
  Cargo.lock
  Cargo.toml
Labels: docs-not-required

#4844 docs: change cpu/mem panel to time-series
  grafana/greptimedb.json
Labels: docs-not-required

#4858 chore: bump greptime-meter
  Cargo.lock
  Cargo.toml
Labels: docs-not-required

#4845 feat: yields empty batch after reading a range
  src/catalog/src/system_schema/memory_table.rs
  src/common/recordbatch/src/recordbatch.rs
  src/mito2/src/read.rs
  src/mito2/src/read/projection.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/read/unordered_scan.rs
  src/store-api/src/region_engine.rs
Labels: docs-not-required

#4861 feat: update dashboard to v0.6.0
  src/servers/dashboard/VERSION
Labels: docs-not-required

#4847 feat: Sort within each PartitionRange
  src/query/src/lib.rs
  src/query/src/part_sort.rs
  src/query/src/test_util.rs
  src/query/src/window_sort.rs
Labels: docs-not-required

#4867 fix!: replace timeout_millis and connect_timeout_millis with Duration in DatanodeClientOptions
  src/cmd/src/frontend.rs
  src/cmd/tests/load_config_test.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
Labels: breaking-change, docs-not-required

#4859 feat: Add functionality to the Opentelemetry write interface to extract fields from attr to top-level data.
  src/frontend/src/instance/otlp.rs
  src/pipeline/src/etl.rs
  src/pipeline/src/etl/transform/transformer/greptime.rs
  src/pipeline/src/lib.rs
  src/servers/src/error.rs
  src/servers/src/http/header.rs
  src/servers/src/http/otlp.rs
  src/servers/src/otlp/logs.rs
  tests-integration/tests/http.rs
Labels: docs-required

#4782 feat: Limit CPU in runtime (#3685)
  Cargo.lock
  Cargo.toml
  src/client/Cargo.toml
  src/common/runtime/Cargo.toml
  src/common/runtime/README.md
  src/common/runtime/resources/rdme-exp.png
  src/common/runtime/src/bin.rs
  src/common/runtime/src/error.rs
  src/common/runtime/src/global.rs
  src/common/runtime/src/lib.rs
  src/common/runtime/src/repeated_task.rs
  src/common/runtime/src/runtime.rs
  src/common/runtime/src/runtime_default.rs
  src/common/runtime/src/runtime_throttleable.rs
  src/common/telemetry/Cargo.toml
  src/datanode/src/tests.rs
  src/meta-srv/Cargo.toml
  src/meta-srv/src/procedure/utils.rs
  src/puffin/src/puffin_manager/stager/bounded_stager.rs
  src/script/src/python/utils.rs
  src/servers/Cargo.toml
  src/servers/src/grpc/greptime_handler.rs
  src/servers/src/grpc/region_server.rs
  src/servers/src/mysql/server.rs
  src/servers/src/postgres/server.rs
  src/servers/tests/grpc/mod.rs
  src/servers/tests/mysql/mysql_server_test.rs
  src/servers/tests/postgres/mod.rs
  tests-integration/src/cluster.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/grpc.rs
Labels: docs-not-required

#4855 chore: better column schema check for flow
  src/flow/src/adapter.rs
  tests/cases/standalone/common/flow/flow_basic.result
  tests/cases/standalone/common/flow/flow_basic.sql
Labels: docs-required

#4864 feat: add json_path_match udf
  src/common/function/src/scalars/json.rs
  src/common/function/src/scalars/json/json_path_match.rs
  tests/cases/standalone/common/function/json/json.result
  tests/cases/standalone/common/function/json/json.sql
Labels: docs-not-required

#4876 chore: add schema urls to otlp logs
  Cargo.lock
  Cargo.toml
  src/frontend/src/instance/otlp.rs
  src/servers/src/http/otlp.rs
  src/servers/src/otlp/logs.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#4880 fix: fix broken import
  src/common/runtime/src/runtime.rs
Labels: docs-not-required

#4882 chore: graceful exit on bind fail
  src/common/greptimedb-telemetry/src/lib.rs
  src/servers/src/error.rs
  src/servers/src/http.rs
Labels: docs-not-required

#4871 feat!: Divide flush and compaction job pool
  config/config.md
  config/datanode.example.toml
  config/standalone.example.toml
  src/mito2/src/compaction/compactor.rs
  src/mito2/src/config.rs
  src/mito2/src/engine/compaction_test.rs
  src/mito2/src/worker.rs
  tests-integration/tests/http.rs
Labels: breaking-change, docs-not-required

#4885 chore: remove struct size assertion
  src/mito2/src/cache/cache_size.rs
Labels: docs-not-required

#4894 fix: pyo3 ut
  src/script/src/python/ffi_types/pair_tests/sample_testcases.rs
Labels: docs-not-required

#4874 feat: optimizer rule for windowed sort
  .github/actions/setup-etcd-cluster/action.yml
  Cargo.lock
  src/mito2/src/engine.rs
  src/mito2/src/read.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/read/unordered_scan.rs
  src/query/Cargo.toml
  src/query/src/lib.rs
  src/query/src/optimizer.rs
  src/query/src/optimizer/parallelize_scan.rs
  src/query/src/optimizer/windowed_sort.rs
  src/query/src/part_sort.rs
  src/query/src/query_engine/state.rs
  src/query/src/window_sort.rs
  src/store-api/src/region_engine.rs
  src/table/src/table/scan.rs
  tests-fuzz/targets/fuzz_insert_logical_table.rs
  tests/cases/standalone/common/order/windowed_sort.result
  tests/cases/standalone/common/order/windowed_sort.sql
  tests/cases/standalone/common/tql-explain-analyze/explain.result
Labels: docs-not-required

#4887 feat(index): support building inverted index for the field column on Mito
  src/index/src/inverted_index/search/index_apply/predicates_apply.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/sst/index.rs
  src/mito2/src/sst/index/inverted_index/applier/builder.rs
  src/mito2/src/sst/index/inverted_index/applier/builder/between.rs
  src/mito2/src/sst/index/inverted_index/applier/builder/comparison.rs
  src/mito2/src/sst/index/inverted_index/applier/builder/eq_list.rs
  src/mito2/src/sst/index/inverted_index/applier/builder/in_list.rs
  src/mito2/src/sst/index/inverted_index/applier/builder/regex_match.rs
  src/mito2/src/sst/index/inverted_index/creator.rs
Labels: docs-not-required

#4895 ci: install numpy in CI
  .github/actions/build-windows-artifacts/action.yml
  .github/workflows/develop.yml
  .github/workflows/nightly-ci.yml
Labels: docs-not-required

#4899 chore: update proto depend
  Cargo.lock
  Cargo.toml
Labels: docs-not-required

#4897 feat: add json datatype for grpc protocol
  Cargo.lock
  Cargo.toml
  src/api/src/helper.rs
  src/operator/src/req_convert/common.rs
Labels: docs-not-required

#4893 refactor: json conversion
  Cargo.lock
  Cargo.toml
  src/datatypes/src/error.rs
  src/datatypes/src/lib.rs
  src/datatypes/src/vectors/binary.rs
  src/datatypes/src/vectors/operations.rs
  src/servers/src/postgres/types.rs
  tests-integration/tests/sql.rs
Labels: docs-not-required

#4862 test: add fuzz test for metric region migration
  .github/workflows/develop.yml
  tests-fuzz/Cargo.toml
  tests-fuzz/targets/migration/fuzz_migrate_metric_regions.rs
Labels: docs-not-required

#4848 feat: Support altering table TTL
  Cargo.lock
  Cargo.toml
  src/common/grpc-expr/Cargo.toml
  src/common/grpc-expr/src/alter.rs
  src/common/grpc-expr/src/error.rs
  src/common/meta/src/ddl/alter_logical_tables/update_metadata.rs
  src/common/meta/src/ddl/alter_table.rs
  src/common/meta/src/ddl/alter_table/region_request.rs
  src/common/meta/src/ddl/alter_table/update_metadata.rs
  src/common/meta/src/ddl/create_logical_tables/update_metadata.rs
  src/common/meta/src/ddl/test_util/datanode_handler.rs
  src/common/meta/src/ddl/tests/alter_table.rs
  src/common/meta/src/error.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/datanode_table.rs
  src/common/meta/src/key/table_info.rs
  src/mito2/src/region/version.rs
  src/mito2/src/worker/handle_alter.rs
  src/mito2/src/worker/handle_open.rs
  src/operator/src/expr_factory.rs
  src/sql/src/parsers/alter_parser.rs
  src/sql/src/statements/alter.rs
  src/store-api/Cargo.toml
  src/store-api/src/metadata.rs
  src/store-api/src/region_request.rs
  src/table/src/error.rs
  src/table/src/metadata.rs
  src/table/src/requests.rs
  tests/cases/standalone/common/alter/alter_table_options.result
  tests/cases/standalone/common/alter/alter_table_options.sql
  tests/cases/standalone/common/alter/change_col_type.result
  tests/cases/standalone/common/alter/change_col_type.sql
  tests/cases/standalone/common/alter/change_col_type_not_null.result
  tests/cases/standalone/common/alter/change_col_type_not_null.sql
Labels: docs-required

#4898 fix(config): update tracing section headers in example TOML files
  config/datanode.example.toml
  config/flownode.example.toml
  config/frontend.example.toml
  config/metasrv.example.toml
  config/standalone.example.toml
Labels: docs-not-required

#4875 refactor: make use of the "pre_execute" in sql execution interceptor
  Cargo.lock
  Cargo.toml
  src/client/Cargo.toml
  src/cmd/Cargo.toml
  src/cmd/src/cli/repl.rs
  src/cmd/src/standalone.rs
  src/common/meta/Cargo.toml
  src/common/telemetry/Cargo.toml
  src/flow/src/df_optimizer.rs
  src/flow/src/transform.rs
  src/frontend/src/error.rs
  src/frontend/src/instance.rs
  src/meta-client/Cargo.toml
  src/meta-srv/Cargo.toml
  src/operator/src/statement.rs
  src/operator/src/statement/ddl.rs
  src/operator/src/statement/tql.rs
  src/query/src/datafusion.rs
  src/query/src/planner.rs
  src/query/src/promql/planner.rs
  src/query/src/range_select/plan_rewrite.rs
  src/query/src/tests.rs
  src/query/src/tests/query_engine_test.rs
  src/script/src/python/engine.rs
  src/script/src/python/ffi_types/copr.rs
  src/servers/tests/mod.rs
  tests-integration/src/grpc.rs
  tests-integration/src/instance.rs
Labels: docs-not-required

#4912 fix: set transaction variables not working in mysql protocol
  src/servers/src/mysql/federated.rs
  tests-integration/tests/sql.rs
Labels: docs-not-required

#4909 feat: adds the number of rows and index files size to region_statistics table
  src/catalog/src/system_schema/information_schema/region_statistics.rs
  src/cmd/src/standalone.rs
  src/common/meta/src/datanode.rs
  src/meta-srv/src/handler/failure_handler.rs
  src/meta-srv/src/handler/region_lease_handler.rs
  src/meta-srv/src/selector/weight_compute.rs
  src/mito2/src/engine/basic_test.rs
  src/mito2/src/memtable/time_partition.rs
  src/mito2/src/memtable/version.rs
  src/mito2/src/region.rs
  src/mito2/src/sst/version.rs
  src/store-api/src/region_engine.rs
  tests/cases/standalone/common/information_schema/region_statistics.result
  tests/cases/standalone/common/information_schema/region_statistics.sql
  tests/cases/standalone/common/system/information_schema.result
  tests/conf/datanode-test.toml.template
Labels: docs-not-required

#4906 chore: provide more info in check batch message
  src/mito2/src/read.rs
  tests-fuzz/targets/migration/fuzz_migrate_mito_regions.rs
Labels: docs-not-required

#4860 feat: implement parse_query api
  Cargo.lock
  Cargo.toml
  src/servers/src/http.rs
  src/servers/src/http/prometheus.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#4913 fix: prune batches from memtable by time range
  src/mito2/src/engine/prune_test.rs
  src/mito2/src/memtable.rs
  src/mito2/src/read/prune.rs
  src/mito2/src/read/scan_util.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/read/unordered_scan.rs
  src/mito2/src/test_util/memtable_util.rs
Labels: docs-not-required

#4910 feat: enhance windowed-sort optimizer rule
  src/file-engine/src/engine.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/read/unordered_scan.rs
  src/query/src/optimizer/parallelize_scan.rs
  src/query/src/optimizer/windowed_sort.rs
  src/query/src/part_sort.rs
  src/query/src/window_sort.rs
  src/store-api/src/region_engine.rs
  src/table/src/table/scan.rs
  tests/cases/standalone/common/order/windowed_sort.result
  tests/cases/standalone/common/order/windowed_sort.sql
Labels: docs-not-required

#4916 refactor: simplify WeightedChoose
  src/meta-srv/src/error.rs
  src/meta-srv/src/selector/common.rs
  src/meta-srv/src/selector/lease_based.rs
  src/meta-srv/src/selector/load_based.rs
  src/meta-srv/src/selector/weight_compute.rs
  src/meta-srv/src/selector/weighted_choose.rs
Labels: docs-not-required
