Repository GreptimeTeam/greptimedb, pull requests merged in 2024-04, with the labels that each got.

#3619 feat: group requests by peer
  src/common/meta/src/ddl/alter_logical_tables.rs
  src/common/meta/src/ddl/alter_logical_tables/region_request.rs
Labels: Doc not needed

#3621 fix: run purge jobs in another scheduler
  src/mito2/src/region/opener.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_catchup.rs
  src/mito2/src/worker/handle_create.rs
  src/mito2/src/worker/handle_open.rs
Labels: Doc not needed

#3602 feat: Support outputting various date styles for postgresql
  src/operator/src/statement.rs
  src/operator/src/statement/set.rs
  src/query/src/sql.rs
  src/servers/src/postgres/types.rs
  src/servers/src/postgres/types/datetime.rs
  src/session/src/context.rs
  src/session/src/session_config.rs
  tests-integration/tests/sql.rs
Labels: Doc not needed

#3623 feat: reject invalid timestamp ranges in copy statement
  src/operator/src/error.rs
  src/operator/src/lib.rs
  src/operator/src/statement.rs
Labels: Doc not needed

#3605 feat(procedure): auto split large value to multiple values
  src/common/meta/src/state_store.rs
  src/common/procedure/src/error.rs
  src/common/procedure/src/store.rs
  src/common/procedure/src/store/state_store.rs
  src/common/procedure/src/store/util.rs
Labels: Doc not needed

#3618 refactor: alter logical tables
  src/common/meta/src/ddl/alter_logical_tables.rs
  src/common/meta/src/ddl/alter_logical_tables/update_metadata.rs
  src/common/meta/src/ddl/create_logical_tables.rs
  src/common/meta/src/ddl/create_logical_tables/check.rs
  src/common/meta/src/ddl/create_logical_tables/metadata.rs
  src/common/meta/src/ddl/create_logical_tables/region_request.rs
  src/common/meta/src/ddl/create_logical_tables/update_metadata.rs
  src/common/meta/src/error.rs
  src/operator/src/statement/ddl.rs
Labels: Doc not needed

#3628 feat(procedure): enable auto split large value
  Cargo.lock
  config/metasrv.example.toml
  src/cmd/src/metasrv.rs
  src/common/meta/src/state_store.rs
  src/common/procedure/Cargo.toml
  src/common/procedure/src/options.rs
  src/common/procedure/src/store/util.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
  tests-integration/src/cluster.rs
Labels: Doc not needed

#3635 fix: mistakely removes compaction inputs on failure
  src/mito2/src/compaction/twcs.rs
  src/mito2/src/engine.rs
  src/mito2/src/engine/compaction_test.rs
  src/mito2/src/engine/listener.rs
  src/mito2/src/request.rs
  src/mito2/src/test_util.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_compaction.rs
  src/mito2/src/worker/handle_flush.rs
Labels: Doc not needed

#3627 fix: move object store read/write timer into inner
  src/object-store/src/layers/prometheus.rs
Labels: Doc not needed

#3641 feat: adding victoriametrics remote write
  Cargo.lock
  Cargo.toml
  src/servers/Cargo.toml
  src/servers/src/error.rs
  src/servers/src/http/prom_store.rs
  src/servers/src/prom_store.rs
  tests-integration/Cargo.toml
  tests-integration/tests/http.rs
Labels: Doc update required

#3614 fix: construct correct pk list with pre-existing pk
  src/metric-engine/src/engine/create.rs
  tests/cases/standalone/common/create/create_metric_table.result
  tests/cases/standalone/common/create/create_metric_table.sql
Labels: Doc not needed

#3648 test(sqlness): release databases after tests
  tests/cases/standalone/common/create/create_database.result
  tests/cases/standalone/common/create/create_database.sql
  tests/cases/standalone/common/create/upper_case_table_name.result
  tests/cases/standalone/common/create/upper_case_table_name.sql
  tests/cases/standalone/common/show/show_databases_tables.result
  tests/cases/standalone/common/system/information_schema.result
  tests/cases/standalone/common/tql/case_sensitive.result
  tests/cases/standalone/common/tql/case_sensitive.sql
Labels: Doc not needed

#3655 ci: bump license header checker action version
  .github/workflows/license.yaml
Labels: Doc not needed

#3650 chore: generate release notes with git-cliff
  cliff.toml
Labels: Doc not needed

#3639 fix!: columns table in information_schema misses some columns
  Cargo.lock
  src/catalog/Cargo.toml
  src/catalog/src/information_schema/columns.rs
  src/datatypes/src/data_type.rs
  src/datatypes/src/types/datetime_type.rs
  src/query/src/sql.rs
  tests-fuzz/src/validator/column.rs
  tests-integration/src/tests/instance_test.rs
  tests/cases/standalone/common/show/show_columns.result
  tests/cases/standalone/common/system/information_schema.result
Labels: Doc update required, Breaking change

#3634 chore: add manifest related metrics
  Cargo.lock
  src/mito2/src/manifest/action.rs
  src/mito2/src/manifest/manager.rs
  src/mito2/src/metrics.rs
Labels: Doc not needed

#3659 feat: Add timers to more mito methods
  src/mito2/src/engine.rs
  src/store-api/src/region_request.rs
Labels: Doc not needed

#3658 chore: bump version to 0.7.2
  Cargo.lock
  Cargo.toml
Labels: Doc not needed

#3626 refactor: move create database to procedure
  Cargo.lock
  Cargo.toml
  src/common/meta/src/ddl.rs
  src/common/meta/src/ddl/create_database.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/rpc/ddl.rs
  src/operator/src/statement/ddl.rs
  tests-integration/src/grpc.rs
Labels: Doc not needed

#3654 refactor: drop Table trait
  src/catalog/src/information_schema.rs
  src/query/src/tests/time_range_filter_test.rs
  src/table/src/dist_table.rs
  src/table/src/lib.rs
  src/table/src/table.rs
  src/table/src/table/numbers.rs
  src/table/src/test_util/empty_table.rs
  src/table/src/test_util/memtable.rs
  src/table/src/thin_table.rs
Labels: Doc not needed

#3625 feat(procedure): support to rollback
  Cargo.lock
  Cargo.toml
  src/common/meta/src/rpc/procedure.rs
  src/common/procedure/src/error.rs
  src/common/procedure/src/local.rs
  src/common/procedure/src/local/runner.rs
  src/common/procedure/src/procedure.rs
  src/common/procedure/src/store.rs
  src/common/procedure/src/watcher.rs
Labels: Doc not needed

#3668 fix(readme): fix link of Ingester-js
  README.md
Labels: Doc not needed

#3624 feat: add append mode to table options
  src/mito2/src/worker/handle_write.rs
  src/store-api/src/mito_engine_options.rs
  tests/cases/standalone/common/insert/append_mode.result
  tests/cases/standalone/common/insert/append_mode.sql
Labels: Doc update required

#3674 ci: setup-protoc always with token
  .github/actions/build-windows-artifacts/action.yml
  .github/workflows/develop.yml
Labels: Doc not needed

#3672 chore: improve contributor click in git-cliff
  cliff.toml
Labels: Doc not needed

#3675 feat(fuzz): add create database target
  .github/workflows/develop.yml
  tests-fuzz/Cargo.toml
  tests-fuzz/src/error.rs
  tests-fuzz/src/generator/create_expr.rs
  tests-fuzz/src/ir.rs
  tests-fuzz/src/ir/create_expr.rs
  tests-fuzz/src/translator/mysql/create_expr.rs
  tests-fuzz/targets/fuzz_create_database.rs
Labels: Doc not needed

#3676 fix: `DeserializedValueWithBytes::from_inner` misusing
  src/common/meta/src/ddl/alter_logical_tables.rs
  src/common/meta/src/ddl/alter_logical_tables/metadata.rs
  src/common/meta/src/ddl/alter_logical_tables/update_metadata.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/table_info.rs
  src/common/meta/src/key/table_route.rs
Labels: Doc not needed

#3673 chore: remove global_ttl config
  config/datanode.example.toml
  config/standalone.example.toml
  src/datanode/src/config.rs
  tests-integration/src/test_util.rs
Labels: Doc update required

#3667 refactor: pass http method to metasrv http handler
  src/meta-srv/src/service/admin.rs
  src/meta-srv/src/service/admin/health.rs
  src/meta-srv/src/service/admin/heartbeat.rs
  src/meta-srv/src/service/admin/leader.rs
  src/meta-srv/src/service/admin/maintenance.rs
  src/meta-srv/src/service/admin/meta.rs
  src/meta-srv/src/service/admin/node_lease.rs
  src/meta-srv/src/service/admin/region_migration.rs
  src/meta-srv/src/service/admin/route.rs
Labels: Doc not needed

#3657 refactor(flow): func spec api&use Error not EvalError in mfp
  Cargo.lock
  src/flow/Cargo.toml
  src/flow/clippy.toml
  src/flow/src/adapter/error.rs
  src/flow/src/compute/render.rs
  src/flow/src/expr.rs
  src/flow/src/expr/error.rs
  src/flow/src/expr/func.rs
  src/flow/src/expr/id.rs
  src/flow/src/expr/linear.rs
  src/flow/src/expr/relation.rs
  src/flow/src/expr/relation/accum.rs
  src/flow/src/expr/relation/func.rs
  src/flow/src/expr/scalar.rs
  src/flow/src/expr/signature.rs
  src/flow/src/lib.rs
  src/flow/src/plan.rs
  src/flow/src/plan/reduce.rs
  src/flow/src/repr.rs
  src/flow/src/repr/relation.rs
  src/flow/src/utils.rs
Labels: Doc not needed

#3669 refactor: bundle the lightweight axum test client
  Cargo.lock
  Cargo.toml
  src/servers/Cargo.toml
  src/servers/src/http.rs
  src/servers/src/http/test_helpers.rs
  src/servers/tests/http/http_test.rs
  src/servers/tests/http/influxdb_test.rs
  src/servers/tests/http/opentsdb_test.rs
  src/servers/tests/http/prom_store_test.rs
  tests-integration/Cargo.toml
  tests-integration/tests/http.rs
Labels: Doc not needed

#3677 chore: add a fix-clippy Makefile target
  Makefile
Labels: Doc not needed

#3671 chore: unify name metasrv
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/rfcs/2023-07-06-table-engine-refactor.md
  docs/rfcs/2024-01-17-dataflow-framework.md
  src/catalog/src/error.rs
  src/cmd/src/metasrv.rs
  src/cmd/src/options.rs
  src/common/meta/src/wal_options_allocator.rs
  src/common/meta/src/wal_options_allocator/kafka/topic_manager.rs
  src/common/wal/src/config.rs
  src/common/wal/src/config/kafka.rs
  src/common/wal/src/config/kafka/metasrv.rs
  src/meta-srv/src/bootstrap.rs
  src/meta-srv/src/election.rs
  src/meta-srv/src/error.rs
  src/meta-srv/src/handler/failure_handler.rs
  src/meta-srv/src/handler/on_leader_start_handler.rs
  src/meta-srv/src/handler/region_lease_handler.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/mocks.rs
  src/meta-srv/src/service/admin.rs
  src/meta-srv/src/service/cluster.rs
  src/meta-srv/src/service/heartbeat.rs
  src/meta-srv/src/service/lock.rs
  src/meta-srv/src/service/procedure.rs
  src/meta-srv/src/service/store.rs
  src/plugins/src/lib.rs
  src/plugins/src/meta_srv.rs
  tests-integration/src/cluster.rs
  tests-integration/src/standalone.rs
  tests-integration/src/tests.rs
  tests-integration/src/tests/test_util.rs
  tests-integration/tests/region_failover.rs
  tests-integration/tests/region_migration.rs
Labels: Doc update required

#3670 feat: treat all number types as field candidates
  src/servers/src/http/prometheus_resp.rs
  tests-integration/tests/http.rs
Labels: Doc not needed

#3617 feat(fuzz): support to create metric table
  tests-fuzz/src/generator/create_expr.rs
  tests-fuzz/src/translator/mysql/create_expr.rs
  tests-fuzz/targets/fuzz_create_table.rs
Labels: Doc not needed

#3651 feat: add checksum for checkpoint data
  Cargo.lock
  src/mito2/Cargo.toml
  src/mito2/src/error.rs
  src/mito2/src/manifest/storage.rs
  src/mito2/src/manifest/tests/checkpoint.rs
Labels: Doc not needed

#3678 refactor: refactor alter table procedure
  src/cmd/src/cli/bench/metadata.rs
  src/common/meta/src/ddl/alter_logical_tables/update_metadata.rs
  src/common/meta/src/ddl/alter_table.rs
  src/common/meta/src/ddl/alter_table/check.rs
  src/common/meta/src/ddl/alter_table/metadata.rs
  src/common/meta/src/ddl/alter_table/region_request.rs
  src/common/meta/src/ddl/alter_table/update_metadata.rs
  src/common/meta/src/ddl/create_logical_tables/update_metadata.rs
  src/common/meta/src/ddl/test_util/alter_table.rs
  src/common/meta/src/ddl/test_util/create_table.rs
  src/common/meta/src/ddl/tests.rs
  src/common/meta/src/ddl/tests/alter_table.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/key.rs
  src/common/meta/src/rpc/ddl.rs
  src/meta-srv/src/procedure/tests.rs
Labels: Doc not needed

#3682 chore: create database api change in protobuf
  Cargo.lock
  Cargo.toml
  src/common/meta/src/rpc/ddl.rs
  src/frontend/src/instance/grpc.rs
  tests-integration/src/grpc.rs
Labels: Doc not needed

#3286 feat: try get pk values from cache when applying predicate to parquet
  src/mito2/src/sst/parquet/reader.rs
Labels: Doc not needed

#3683 chore: remove TODO that has been done
  tests-integration/tests/http.rs
Labels: Doc not needed

#3680 chore(flow): more comments&lint
  Cargo.lock
  src/flow/Cargo.toml
  src/flow/src/compute.rs
  src/flow/src/expr/func.rs
  src/flow/src/expr/linear.rs
  src/flow/src/expr/relation/accum.rs
  src/flow/src/expr/relation/func.rs
  src/flow/src/lib.rs
  src/flow/src/plan.rs
  src/flow/src/repr.rs
  src/flow/src/repr/relation.rs
  src/flow/src/utils.rs
Labels: Doc not needed

#3688 refactor: drop table procedure
  src/common/meta/src/ddl/drop_table.rs
  src/common/meta/src/ddl/drop_table/metadata.rs
  src/common/meta/src/ddl/test_util.rs
  src/common/meta/src/ddl/test_util/create_table.rs
  src/common/meta/src/ddl/test_util/datanode_handler.rs
  src/common/meta/src/ddl/tests.rs
  src/common/meta/src/ddl/tests/alter_logical_tables.rs
  src/common/meta/src/ddl/tests/alter_table.rs
  src/common/meta/src/ddl/tests/create_logical_tables.rs
  src/common/meta/src/ddl/tests/create_table.rs
  src/common/meta/src/ddl/tests/drop_database.rs
  src/common/meta/src/ddl/tests/drop_table.rs
  src/common/meta/src/ddl_manager.rs
  src/meta-srv/src/procedure/tests.rs
Labels: Doc not needed

#3691 ci: add CODEOWNERS file
  .github/CODEOWNERS
Labels: Doc not needed

#3684 fix: cli export "create table" with quoted names
  Cargo.lock
  src/cmd/Cargo.toml
  src/cmd/src/cli/export.rs
Labels: Doc not needed

#3697 refactor: check error type before logging
  src/frontend/src/instance.rs
  src/frontend/src/script.rs
  src/servers/src/mysql/server.rs
  src/servers/src/opentsdb.rs
  src/servers/src/postgres/server.rs
Labels: Doc not needed

#3690 feat(flow): transform substrait SELECT&WHERE&GROUP BY to Flow Plan
  src/common/substrait/src/lib.rs
  src/flow/Cargo.toml
  src/flow/src/adapter/error.rs
  src/flow/src/compute/render.rs
  src/flow/src/expr.rs
  src/flow/src/expr/func.rs
  src/flow/src/expr/relation/func.rs
  src/flow/src/expr/scalar.rs
  src/flow/src/lib.rs
  src/flow/src/plan.rs
  src/flow/src/transform.rs
  src/flow/src/transform/aggr.rs
  src/flow/src/transform/expr.rs
  src/flow/src/transform/literal.rs
  src/flow/src/transform/plan.rs
Labels: Doc not needed

#3698 feat: impl table_constraints table for information_schema
  src/catalog/src/information_schema.rs
  src/catalog/src/information_schema/columns.rs
  src/catalog/src/information_schema/key_column_usage.rs
  src/catalog/src/information_schema/table_constraints.rs
  src/catalog/src/information_schema/table_names.rs
  src/common/catalog/src/consts.rs
  tests/cases/standalone/common/information_schema/table_constraints.result
  tests/cases/standalone/common/information_schema/table_constraints.sql
  tests/cases/standalone/common/show/show_databases_tables.result
  tests/cases/standalone/common/system/information_schema.result
Labels: Doc update required

#3689 refactor: Move manifest manager lock to `MitoRegion`
  src/mito2/src/engine/catchup_test.rs
  src/mito2/src/error.rs
  src/mito2/src/manifest/manager.rs
  src/mito2/src/manifest/tests/checkpoint.rs
  src/mito2/src/region.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/worker/handle_alter.rs
  src/mito2/src/worker/handle_catchup.rs
  src/mito2/src/worker/handle_compaction.rs
  src/mito2/src/worker/handle_truncate.rs
Labels: Doc not needed

#3696 feat: get metasrv clusterinfo
  Cargo.lock
  Cargo.toml
  src/common/meta/src/cluster.rs
  src/meta-client/src/client.rs
  src/meta-client/src/client/cluster.rs
  src/meta-srv/src/election.rs
  src/meta-srv/src/election/etcd.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/service/cluster.rs
Labels: Doc not needed

#3630 feat(promql): parameterize lookback
  Cargo.lock
  Cargo.toml
  src/client/src/database.rs
  src/frontend/src/instance/grpc.rs
  src/operator/src/statement/tql.rs
  src/query/src/parser.rs
  src/servers/src/error.rs
  src/servers/src/grpc/prom_query_gateway.rs
  src/servers/src/http/handler.rs
  src/servers/src/http/prometheus.rs
  src/servers/tests/mod.rs
  tests-integration/src/grpc.rs
  tests-integration/tests/grpc.rs
  tests/cases/standalone/common/tql-explain-analyze/analyze.result
  tests/cases/standalone/common/tql-explain-analyze/explain.result
  tests/cases/standalone/common/tql/basic.result
  tests/cases/standalone/common/tql/basic.sql
Labels: Doc not needed

#3704 refactor: use toml2docs to generate config docs
  .github/workflows/develop.yml
  Makefile
  config/config-docs-template.md
  config/config.md
  config/datanode.example.toml
  config/frontend.example.toml
  config/metasrv.example.toml
  config/standalone.example.toml
Labels: Doc not needed

#3700 test: Add tests for KvBackend trait implement
  src/common/meta/src/kv_backend/etcd.rs
  src/common/meta/src/kv_backend/memory.rs
  src/common/meta/src/kv_backend/test.rs
  src/log-store/Cargo.toml
  src/log-store/src/raft_engine/backend.rs
Labels: Doc not needed

#3707 feat: add `filter_deleted` option to avoid removing deletion markers
  src/mito2/src/engine.rs
  src/mito2/src/engine/append_mode_test.rs
  src/mito2/src/engine/filter_deleted_test.rs
  src/mito2/src/read/merge.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/test_util.rs
  src/mito2/src/test_util/batch_util.rs
Labels: Doc not needed

#3706 refactor: remove redundant try_flush invocations
  src/common/datasource/src/buffered_writer.rs
  src/common/datasource/src/file_format.rs
  src/common/datasource/src/file_format/parquet.rs
Labels: Doc not needed

#3712 docs: update memtable config example
  config/config.md
  config/datanode.example.toml
  config/standalone.example.toml
Labels: Doc not needed

#3711 feat: check partition rule
  src/partition/src/error.rs
  src/partition/src/lib.rs
  src/partition/src/manager.rs
  src/partition/src/multi_dim.rs
Labels: Doc not needed

#3715 fix(alter_table): ignore request outdated error
  src/common/meta/src/ddl/alter_table.rs
  src/common/meta/src/ddl/test_util/datanode_handler.rs
  src/common/meta/src/ddl/tests/alter_table.rs
Labels: Doc not needed

#3692 feat(drop_table): support to rollback table metadata
  src/cmd/src/cli/bench/metadata.rs
  src/common/meta/src/ddl/drop_database/cursor.rs
  src/common/meta/src/ddl/drop_database/executor.rs
  src/common/meta/src/ddl/drop_table.rs
  src/common/meta/src/ddl/drop_table/executor.rs
  src/common/meta/src/ddl/drop_table/metadata.rs
  src/common/meta/src/ddl/tests/drop_table.rs
  src/common/meta/src/error.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/datanode_table.rs
  src/common/meta/src/key/table_info.rs
  src/common/meta/src/key/table_name.rs
  src/common/meta/src/key/table_route.rs
  src/common/meta/src/key/tombstone.rs
  src/common/meta/src/key/txn_helper.rs
  src/common/meta/src/kv_backend/memory.rs
  src/common/meta/src/lib.rs
  src/common/meta/src/test_util.rs
  src/datanode/src/region_server.rs
  tests/cases/standalone/common/create/create_metric_table.result
  tests/cases/standalone/common/create/create_metric_table.sql
Labels: Doc not needed

#3719 ci: use greptimedb-ci-tester account
  .github/workflows/develop.yml
  .github/workflows/nightly-ci.yml
Labels: Doc not needed

#3722 chore(mito): set null value data size to i64
  src/datatypes/src/value.rs
Labels: Doc not needed

#3720 chore: cleanup todos that should be panic
  src/catalog/src/kvbackend/client.rs
  src/script/src/python/engine.rs
Labels: Doc not needed

#3721 refactor: merge RegionHandleResult into RegionHandleResponse
  src/api/src/lib.rs
  src/api/src/region.rs
  src/client/src/region.rs
  src/common/meta/src/datanode_manager.rs
  src/common/meta/src/ddl/drop_database/executor.rs
  src/common/meta/src/ddl/test_util/datanode_handler.rs
  src/common/meta/src/test_util.rs
  src/datanode/src/region_server.rs
  src/datanode/src/tests.rs
  src/file-engine/Cargo.toml
  src/file-engine/src/engine.rs
  src/frontend/src/instance/standalone.rs
  src/metric-engine/src/engine.rs
  src/mito2/src/engine.rs
  src/store-api/src/region_engine.rs
Labels: Doc not needed

#3730 docs: add style guide
  CONTRIBUTING.md
  docs/style-guide.md
Labels: Doc not needed

#3732 feat(fuzz): enable create-if-not-exists option
  tests-fuzz/targets/fuzz_create_database.rs
  tests-fuzz/targets/fuzz_create_table.rs
Labels: Doc not needed

#3731 feat: add tinytext, mediumtext and longtext data types
  src/sql/src/statements/transform/type_alias.rs
Labels: Doc not needed

#3725 feat: support invalidate schema name key cache
  src/common/meta/src/cache_invalidator.rs
  src/common/meta/src/ddl/drop_database/metadata.rs
  src/common/meta/src/instruction.rs
  src/common/meta/src/key/schema_name.rs
  src/frontend/src/heartbeat/handler/tests.rs
Labels: Doc not needed

#3727 refactor(meta): Ensure all moving values remain unchanged between two transactions
  src/common/meta/src/ddl/drop_table/executor.rs
  src/common/meta/src/error.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/tombstone.rs
  src/common/meta/src/key/txn_helper.rs
  src/common/meta/src/rpc/store.rs
Labels: Doc not needed

#3733 chore: remove TableIdProvider
  src/table/src/table.rs
Labels: Doc not needed

#3734 refactor: avoid unnecessary cloning
  src/common/meta/src/key.rs
  src/common/meta/src/key/table_info.rs
  src/common/meta/src/key/table_route.rs
  src/common/meta/src/key/txn_helper.rs
Labels: Doc not needed

#3742 refactor: avoid unnecessary alloc by using unwrap_or_else
  src/operator/src/statement/tql.rs
  src/servers/src/http/handler.rs
  src/servers/src/http/prometheus.rs
Labels: Doc not needed

#3740 build: update toolchain to nightly-2024-04-18
  .github/workflows/apidoc.yml
  .github/workflows/develop.yml
  .github/workflows/nightly-ci.yml
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  rust-toolchain.toml
  src/auth/src/tests.rs
  src/catalog/src/information_schema/predicate.rs
  src/catalog/src/kvbackend/client.rs
  src/cmd/src/cli.rs
  src/cmd/src/datanode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/metasrv.rs
  src/cmd/src/standalone.rs
  src/common/meta/src/key/datanode_table.rs
  src/common/meta/src/sequence.rs
  src/common/meta/src/state_store.rs
  src/common/meta/src/wal_options_allocator.rs
  src/common/meta/src/wal_options_allocator/kafka/topic_manager.rs
  src/common/procedure/src/local/rwlock.rs
  src/common/query/src/logical_plan/expr.rs
  src/common/time/src/timestamp.rs
  src/index/src/inverted_index/format/writer/single.rs
  src/meta-client/src/client.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/selector/load_based.rs
  src/meta-srv/src/service/store/cached_kv.rs
  src/metric-engine/src/engine/create.rs
  src/mito2/src/cache/cache_size.rs
  src/mito2/src/flush.rs
  src/mito2/src/region/options.rs
  src/mito2/src/sst/parquet/row_selection.rs
  src/operator/src/statement/copy_table_from.rs
  src/promql/src/planner.rs
  src/query/src/optimizer.rs
  src/query/src/optimizer/type_conversion.rs
  src/query/src/tests/time_range_filter_test.rs
  src/script/src/python/rspython/copr_impl.rs
  src/sql/src/statements/explain.rs
  src/table/src/predicate.rs
  tests-fuzz/src/executor.rs
  tests-fuzz/src/generator/insert_expr.rs
  tests-fuzz/src/lib.rs
  tests/runner/src/util.rs
Labels: Doc not needed

#3743 chore: update greptime-proto to main
  Cargo.lock
  Cargo.toml
Labels: Doc not needed

#3693 feat: support PromQL scalar
  src/common/substrait/src/extension_serializer.rs
  src/promql/src/extension_plan.rs
  src/promql/src/extension_plan/planner.rs
  src/promql/src/extension_plan/scalar_calculate.rs
  src/promql/src/planner.rs
  tests-integration/src/tests/promql_test.rs
  tests/cases/standalone/common/promql/scalar.result
  tests/cases/standalone/common/promql/scalar.sql
Labels: Doc not needed

#3753 feat: impl show collation and show charset statements
  src/frontend/src/instance.rs
  src/operator/src/statement.rs
  src/operator/src/statement/show.rs
  src/query/src/sql.rs
  src/servers/src/mysql/federated.rs
  src/sql/src/parsers/show_parser.rs
  src/sql/src/statements/statement.rs
  tests/cases/standalone/common/show/show_charset.result
  tests/cases/standalone/common/show/show_charset.sql
  tests/cases/standalone/common/show/show_collation.result
  tests/cases/standalone/common/show/show_collation.sql
Labels: Doc update required

#3724 feat: add preserve arg to sqlness runner
  .github/workflows/develop.yml
  Cargo.lock
  tests/runner/Cargo.toml
  tests/runner/src/main.rs
Labels: Doc not needed

#3750 refactor(flow): split render.rs and other minor changes
  Cargo.lock
  src/flow/Cargo.toml
  src/flow/src/compute/render.rs
  src/flow/src/compute/render/map.rs
  src/flow/src/compute/state.rs
  src/flow/src/compute/types.rs
  src/flow/src/expr/error.rs
  src/flow/src/expr/linear.rs
  src/flow/src/expr/relation/accum.rs
  src/flow/src/expr/relation/func.rs
  src/flow/src/plan.rs
  src/flow/src/plan/reduce.rs
  src/flow/src/repr.rs
  src/flow/src/transform/aggr.rs
  src/flow/src/utils.rs
Labels: Doc not needed

#3765 ci: secrets.GITHUB_TOKEN not exist on self-hosted runner
  .github/actions/build-windows-artifacts/action.yml
Labels: Doc not needed

#3768 feat: update dashboard to v0.5.0
  src/servers/dashboard/VERSION
Labels: Doc not needed

#3763 docs: add how-to-write-fuzz-tests.md
  docs/how-to/how-to-write-fuzz-tests.md
Labels: Doc not needed

#3770 fix: set is_time_index properly on updating physical table's schema
  src/common/meta/src/ddl/physical_table_metadata.rs
  src/datatypes/src/schema/column_schema.rs
  tests/cases/standalone/common/alter/alter_metric_table.result
  tests/cases/standalone/common/alter/alter_metric_table.sql
  tests/cases/standalone/common/create/create_metric_table.result
  tests/cases/standalone/common/insert/logical_metric_table.result
Labels: Doc not needed

#3771 fix: the `dropping_regions` guards should be dropped on procedure done
  src/common/meta/src/ddl/drop_database/cursor.rs
  src/common/meta/src/ddl/drop_database/executor.rs
  src/common/meta/src/ddl/drop_table.rs
  src/common/meta/src/ddl/test_util.rs
  src/common/meta/src/ddl/tests/alter_logical_tables.rs
  src/common/meta/src/ddl/tests/drop_database.rs
  src/common/meta/src/ddl/tests/drop_table.rs
  src/common/meta/src/error.rs
  src/common/procedure-test/src/lib.rs
Labels: Doc not needed

#3775 fix: operating region guards should be dropped when procedure is done
  src/common/meta/src/ddl/create_table.rs
  src/common/meta/src/ddl/tests/create_table.rs
  src/common/meta/src/ddl/tests/drop_table.rs
  src/common/procedure-test/src/lib.rs
Labels: Doc not needed

#3776 fix: consider both db param and extended db header in Prometheus HTTP API
  src/servers/src/http/prometheus.rs
  src/session/src/context.rs
  tests-integration/tests/http.rs
Labels: Doc not needed

#3773 fix: do not remove deletion markers when window time range overlaps
  src/mito2/src/compaction/twcs.rs
  src/mito2/src/engine/compaction_test.rs
  src/mito2/src/test_util.rs
Labels: Doc not needed

#3778 chore: bump jobserver
  Cargo.lock
Labels: Doc not needed

#3779 fix: promql scalar when input empty batch
  src/promql/src/extension_plan/scalar_calculate.rs
  tests/cases/standalone/common/promql/scalar.result
  tests/cases/standalone/common/promql/scalar.sql
Labels: Doc not needed

#3783 refactor: move the version string to common
  src/cmd/Cargo.toml
  src/cmd/src/bin/greptime.rs
  src/cmd/src/lib.rs
  src/common/version/src/lib.rs
Labels: Doc not needed

#3709 feat: write manifests in background tasks
  Cargo.lock
  Cargo.toml
  src/common/error/src/status_code.rs
  src/mito2/Cargo.toml
  src/mito2/src/compaction.rs
  src/mito2/src/compaction/twcs.rs
  src/mito2/src/engine/catchup_test.rs
  src/mito2/src/engine/listener.rs
  src/mito2/src/engine/open_test.rs
  src/mito2/src/engine/set_readonly_test.rs
  src/mito2/src/error.rs
  src/mito2/src/flush.rs
  src/mito2/src/manifest/manager.rs
  src/mito2/src/manifest/tests/checkpoint.rs
  src/mito2/src/region.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/request.rs
  src/mito2/src/test_util/scheduler_util.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_alter.rs
  src/mito2/src/worker/handle_catchup.rs
  src/mito2/src/worker/handle_close.rs
  src/mito2/src/worker/handle_compaction.rs
  src/mito2/src/worker/handle_drop.rs
  src/mito2/src/worker/handle_flush.rs
  src/mito2/src/worker/handle_manifest.rs
  src/mito2/src/worker/handle_truncate.rs
  src/script/Cargo.toml
Labels: Doc not needed

#3757 feat: add `ChangeColumnType` for `AlterKind`
  src/common/meta/src/ddl/alter_table/update_metadata.rs
  src/store-api/src/metadata.rs
  src/store-api/src/region_request.rs
  src/table/src/metadata.rs
  src/table/src/requests.rs
Labels: Doc not needed

#3787 refactor: simplify the PaginationStream
  src/cmd/src/cli/upgrade.rs
  src/common/meta/src/key/catalog_name.rs
  src/common/meta/src/key/datanode_table.rs
  src/common/meta/src/key/schema_name.rs
  src/common/meta/src/range_stream.rs
  src/meta-srv/src/service/store/cached_kv.rs
Labels: Doc not needed

#3745 feat: support different types for `CompatReader`
  src/datatypes/src/vectors/operations/cast.rs
  src/mito2/src/read.rs
  src/mito2/src/read/compat.rs
  src/mito2/src/read/projection.rs
  src/store-api/src/metadata.rs
Labels: Doc not needed

#3789 chore: always obsolete wal to avoid discontinuous log entries
  src/mito2/src/region/opener.rs
Labels: Doc not needed

#3744 feat: impl Display for Statement
  src/common/query/src/lib.rs
  src/sql/src/statements.rs
  src/sql/src/statements/alter.rs
  src/sql/src/statements/copy.rs
  src/sql/src/statements/create.rs
  src/sql/src/statements/describe.rs
  src/sql/src/statements/drop.rs
  src/sql/src/statements/set_variables.rs
  src/sql/src/statements/show.rs
  src/sql/src/statements/statement.rs
  src/sql/src/statements/tql.rs
  src/sql/src/statements/transform/type_alias.rs
  src/sql/src/statements/truncate.rs
Labels: Doc not needed

#3785 refactor(flow): refine comments and code
  src/flow/src/compute/render/map.rs
  src/flow/src/compute/state.rs
  src/flow/src/lib.rs
  src/flow/src/utils.rs
Labels: Doc not needed

#3772 feat: add validate method to CreateExpr
  src/metric-engine/src/data_region.rs
  src/metric-engine/src/engine/create.rs
  src/metric-engine/src/error.rs
  src/metric-engine/src/test_util.rs
  src/operator/src/expr_factory.rs
  src/store-api/src/region_request.rs
  tests-fuzz/targets/fuzz_create_table.rs
  tests/cases/standalone/common/create/create_metric_table.result
  tests/cases/standalone/common/create/create_metric_table.sql
Labels: Doc not needed

#3793 fix: post process result on query full column name of prom labels API
  src/servers/src/http/prometheus.rs
  src/table/src/table.rs
  tests-integration/tests/http.rs
Labels: Doc not needed

#3795 fix: fix fuzz test ci
  .github/workflows/develop.yml
Labels: Doc not needed

#3794 fix!: use the right precision
  src/common/grpc/src/lib.rs
  src/common/grpc/src/precision.rs
  src/common/grpc/src/writer.rs
  src/servers/src/error.rs
  src/servers/src/http/influxdb.rs
  src/servers/src/influxdb.rs
  src/servers/src/lib.rs
  src/servers/src/line_writer.rs
  src/servers/src/opentsdb.rs
  src/servers/src/otlp/metrics.rs
  src/servers/src/otlp/trace.rs
  src/servers/src/prom_store.rs
  src/servers/src/row_writer.rs
  tests-integration/src/influxdb.rs
  tests-integration/src/otlp.rs
Labels: Breaking change, Doc not needed

#3792 refactor!: unify sql options into OptionMap
  docs/schema-structs.md
  src/cmd/src/cli/export.rs
  src/frontend/src/instance.rs
  src/operator/src/expr_factory.rs
  src/query/src/sql/show_create_table.rs
  src/sql/src/error.rs
  src/sql/src/parsers/copy_parser.rs
  src/sql/src/parsers/create_parser.rs
  src/sql/src/statements/create.rs
  src/sql/src/statements/tql.rs
  src/sql/src/util.rs
  src/table/src/requests.rs
  tests-integration/src/instance.rs
  tests-integration/src/tests/instance_test.rs
  tests/cases/standalone/common/basic.result
  tests/cases/standalone/common/basic.sql
  tests/cases/standalone/common/create/create_type_alias.result
  tests/cases/standalone/common/create/create_with_options.result
  tests/cases/standalone/common/create/create_with_options.sql
  tests/cases/standalone/common/create/current_timestamp.result
  tests/cases/standalone/common/drop/drop_table.result
  tests/cases/standalone/common/drop/drop_table.sql
  tests/cases/standalone/common/show/show_create.result
Labels: Breaking change, Doc not needed

#3769 feat(flow): render reduce
  src/flow/src/compute/render.rs
  src/flow/src/compute/render/reduce.rs
Labels: Doc not needed

#3766 feat: implement FlowTaskMetadataManager
  src/common/meta/src/error.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/flow_task.rs
  src/common/meta/src/key/flow_task/flow_task_info.rs
  src/common/meta/src/key/flow_task/flow_task_name.rs
  src/common/meta/src/key/flow_task/flownode_task.rs
  src/common/meta/src/key/flow_task/table_task.rs
  src/common/meta/src/key/scope.rs
  src/common/meta/src/key/tombstone.rs
  src/common/meta/src/lib.rs
Labels: Doc not needed

#3801 feat: define `CreateFlowTask` and `DropFlowTask`
  Cargo.lock
  Cargo.toml
  src/api/src/helper.rs
  src/common/meta/src/rpc/ddl.rs
  src/common/meta/src/table_name.rs
  src/frontend/src/instance/grpc.rs
Labels: Doc not needed

#3803 refactor: log statement on error by Display
  src/frontend/src/instance.rs
  src/frontend/src/instance/prom_store.rs
  src/servers/src/error.rs
  src/servers/src/query_handler/sql.rs
  src/sql/src/util.rs
Labels: Doc not needed

#3802 fix: prune row groups correctly for columns with the same name
  src/mito2/src/read/scan_region.rs
  src/mito2/src/sst/parquet/reader.rs
  src/mito2/src/sst/parquet/stats.rs
  tests/cases/standalone/common/alter/drop_add_col.result
  tests/cases/standalone/common/alter/drop_add_col.sql
Labels: Doc not needed

#3805 chore: respect axum test client's origin
  licenserc.toml
  src/servers/src/http/test_helpers.rs
Labels: Doc not needed

#3756 feat(fuzz): add create logical table target
  .github/workflows/develop.yml
  tests-fuzz/Cargo.toml
  tests-fuzz/src/generator/create_expr.rs
  tests-fuzz/src/ir.rs
  tests-fuzz/targets/fuzz_create_logical_table.rs
Labels: Doc not needed

#3811 refactor: refactor `DatanodeManager` to `NodeManager`
  Cargo.lock
  Cargo.toml
  src/client/src/client_manager.rs
  src/cmd/src/standalone.rs
  src/common/grpc-expr/src/alter.rs
  src/common/meta/src/datanode_manager.rs
  src/common/meta/src/ddl.rs
  src/common/meta/src/ddl/alter_table/region_request.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/test_util.rs
  src/frontend/src/instance/builder.rs
  src/frontend/src/instance/region_query.rs
  src/frontend/src/instance/standalone.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/procedure/tests.rs
  src/meta-srv/src/procedure/utils.rs
  src/operator/src/delete.rs
  src/operator/src/insert.rs
  src/operator/src/request.rs
  src/store-api/src/region_request.rs
Labels: Doc not needed

#3797 fix: push down order hint of the query again
  src/datanode/src/error.rs
  src/datanode/src/region_server.rs
  src/query/src/dummy_catalog.rs
  src/query/src/error.rs
  src/query/src/lib.rs
  src/query/src/optimizer.rs
  src/query/src/optimizer/order_hint.rs
  src/query/src/optimizer/test_util.rs
Labels: performance, Doc not needed

#3813 chore: rename all `datanode_manager` to `node_manager`
  src/client/src/client_manager.rs
  src/client/src/region.rs
  src/cmd/src/standalone.rs
  src/common/meta/src/ddl.rs
  src/common/meta/src/ddl/alter_logical_tables.rs
  src/common/meta/src/ddl/alter_table.rs
  src/common/meta/src/ddl/alter_table/region_request.rs
  src/common/meta/src/ddl/create_logical_tables.rs
  src/common/meta/src/ddl/create_table.rs
  src/common/meta/src/ddl/drop_database/cursor.rs
  src/common/meta/src/ddl/drop_database/executor.rs
  src/common/meta/src/ddl/drop_database/metadata.rs
  src/common/meta/src/ddl/drop_database/start.rs
  src/common/meta/src/ddl/drop_table/executor.rs
  src/common/meta/src/ddl/tests/alter_logical_tables.rs
  src/common/meta/src/ddl/tests/alter_table.rs
  src/common/meta/src/ddl/tests/create_logical_tables.rs
  src/common/meta/src/ddl/tests/create_table.rs
  src/common/meta/src/ddl/tests/drop_database.rs
  src/common/meta/src/ddl/tests/drop_table.rs
  src/common/meta/src/ddl/truncate_table.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/lib.rs
  src/common/meta/src/node_manager.rs
  src/common/meta/src/test_util.rs
  src/frontend/src/instance/builder.rs
  src/frontend/src/instance/region_query.rs
  src/frontend/src/instance/standalone.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/mocks.rs
  src/meta-srv/src/procedure/tests.rs
  src/meta-srv/src/procedure/utils.rs
  src/operator/src/delete.rs
  src/operator/src/insert.rs
  src/operator/src/request.rs
  tests-integration/src/standalone.rs
Labels: Doc not needed

#3821 refactor!: remove some admin APIs
  src/meta-srv/src/service/admin.rs
  src/meta-srv/src/service/admin/meta.rs
  src/meta-srv/src/service/admin/region_migration.rs
  src/meta-srv/src/service/admin/route.rs
  src/meta-srv/src/service/admin/util.rs
Labels: Breaking change, Doc not needed

#3814 refactor: DfUdfAdapter to bridge ScalaUdf
  src/common/macro/src/range_fn.rs
  src/common/query/src/logical_plan.rs
  src/common/query/src/logical_plan/udaf.rs
  src/common/query/src/logical_plan/udf.rs
  src/promql/src/functions/aggr_over_time.rs
  src/promql/src/functions/changes.rs
  src/promql/src/functions/deriv.rs
  src/promql/src/functions/extrapolate_rate.rs
  src/promql/src/functions/holt_winters.rs
  src/promql/src/functions/idelta.rs
  src/promql/src/functions/predict_linear.rs
  src/promql/src/functions/quantile.rs
  src/promql/src/functions/resets.rs
Labels: Doc not needed

#3818 feat(fuzz): add alter logical table target
  .github/workflows/develop.yml
  tests-fuzz/Cargo.toml
  tests-fuzz/targets/fuzz_alter_logical_table.rs
Labels: Doc not needed

#3827 chore: add warn log for denied to renew region lease
  src/meta-srv/src/region/lease_keeper.rs
Labels: Doc not needed

#3826 fix: wrong handler implementation of prometheus remote write
  src/servers/src/http.rs
  src/servers/src/http/prom_store.rs
Labels: Bug, Doc not needed

#3824 feat: implement the `FrontendInvoker`
  Cargo.lock
  Cargo.toml
  src/common/frontend/Cargo.toml
  src/common/frontend/src/error.rs
  src/common/frontend/src/handler.rs
  src/common/frontend/src/lib.rs
  src/frontend/Cargo.toml
  src/frontend/src/instance.rs
Labels: Doc not needed

#3830 refactor: remove location_opt and DebugFormat
  src/common/base/src/buffer.rs
  src/common/datasource/src/error.rs
  src/common/decimal/src/error.rs
  src/common/error/src/ext.rs
  src/common/error/src/format.rs
  src/common/error/src/lib.rs
  src/common/error/src/mock.rs
  src/common/runtime/src/error.rs
  src/common/time/src/error.rs
Labels: Doc not needed

#3817 feat: improve error message for typo in IF NOT EXISTS
  src/sql/src/parsers/create_parser.rs
  tests/cases/standalone/common/create/create_if_not_exists.result
  tests/cases/standalone/common/create/create_if_not_exists.sql
Labels: Doc not needed

#3806 feat: impl parser and operator for CREATE FLOW
  Cargo.lock
  src/api/src/helper.rs
  src/common/meta/Cargo.toml
  src/common/meta/src/rpc/ddl.rs
  src/frontend/src/instance.rs
  src/operator/src/error.rs
  src/operator/src/expr_factory.rs
  src/operator/src/statement.rs
  src/operator/src/statement/ddl.rs
  src/sql/src/parsers/create_parser.rs
  src/sql/src/statements/create.rs
  src/sql/src/statements/statement.rs
  src/sql/src/util.rs
Labels: Doc not needed

#3825 refactor!: remove duration type from gRPC
  Cargo.lock
  Cargo.toml
  src/api/src/helper.rs
  src/common/grpc-expr/src/insert.rs
  src/common/grpc/src/select.rs
  src/operator/src/req_convert/common.rs
Labels: Breaking change, Doc not needed

#3810 feat: implement the `CreateFlowProcedure`
  src/cmd/src/standalone.rs
  src/common/catalog/src/consts.rs
  src/common/meta/src/ddl.rs
  src/common/meta/src/ddl/create_flow.rs
  src/common/meta/src/ddl/create_flow/check.rs
  src/common/meta/src/ddl/create_flow/metadata.rs
  src/common/meta/src/ddl/task_meta.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/error.rs
  src/common/meta/src/key/flow_task.rs
  src/common/meta/src/key/flow_task/flow_task_info.rs
  src/common/meta/src/key/flow_task/flow_task_name.rs
  src/common/meta/src/lock_key.rs
  src/common/meta/src/metrics.rs
  src/common/meta/src/rpc/ddl.rs
  src/common/meta/src/test_util.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/procedure/utils.rs
  src/operator/src/expr_factory.rs
  src/operator/src/statement/ddl.rs
  tests-integration/src/standalone.rs
Labels: Doc not needed

#3833 refactor: rename flow task to flow
  Cargo.lock
  Cargo.toml
  src/api/src/helper.rs
  src/cmd/src/standalone.rs
  src/common/catalog/src/consts.rs
  src/common/meta/src/ddl.rs
  src/common/meta/src/ddl/create_flow.rs
  src/common/meta/src/ddl/create_flow/check.rs
  src/common/meta/src/ddl/create_flow/metadata.rs
  src/common/meta/src/ddl/flow_meta.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/error.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/flow.rs
  src/common/meta/src/key/flow/flow_info.rs
  src/common/meta/src/key/flow/flow_name.rs
  src/common/meta/src/key/flow/flownode_flow.rs
  src/common/meta/src/key/flow/table_flow.rs
  src/common/meta/src/key/flow_task/flow_task_info.rs
  src/common/meta/src/key/flow_task/flow_task_name.rs
  src/common/meta/src/key/flow_task/flownode_task.rs
  src/common/meta/src/lock_key.rs
  src/common/meta/src/metrics.rs
  src/common/meta/src/rpc/ddl.rs
  src/common/meta/src/test_util.rs
  src/frontend/src/instance/grpc.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/procedure/utils.rs
  src/operator/src/expr_factory.rs
  src/sql/src/parsers/create_parser.rs
  tests-integration/src/standalone.rs
Labels: Doc not needed

#3840 ci: add fuzz_insert ci cfg
  .github/workflows/develop.yml
Labels: Doc not needed

#3831 fix: broken link in contributing guide
  CONTRIBUTING.md
Labels: Doc not needed

#3796 feat: support `ALTER TABLE ... MODIFY COLUMN ... ...`
  src/common/grpc-expr/src/alter.rs
  src/common/meta/src/ddl/alter_table/region_request.rs
  src/operator/src/expr_factory.rs
  src/sql/src/parsers/alter_parser.rs
  src/sql/src/statements/alter.rs
  src/store-api/src/region_request.rs
  tests/cases/standalone/common/alter/change_col_type.result
  tests/cases/standalone/common/alter/change_col_type.sql
  tests/cases/standalone/common/alter/change_col_type_not_null.result
  tests/cases/standalone/common/alter/change_col_type_not_null.sql
Labels: Doc not needed

#3839 feat: physical optimizer RemoveDuplicate to remove duplicate exec plans
  src/common/query/src/lib.rs
  src/query/src/optimizer.rs
  src/query/src/optimizer/remove_duplicate.rs
  src/query/src/query_engine/state.rs
  tests/cases/distributed/explain/join_10_tables.result
  tests/cases/distributed/explain/subqueries.result
  tests/cases/standalone/common/tql-explain-analyze/explain.result
Labels: Doc not needed

#3838 chore: correct RepeatedField origin
  src/common/base/src/secrets.rs
  src/servers/src/lib.rs
  src/servers/src/repeated_field.rs
Labels: Doc not needed

#3835 refactor: remove catalog prefix
  src/common/meta/src/key.rs
  src/common/meta/src/key/catalog_name.rs
  src/common/meta/src/key/flow.rs
  src/common/meta/src/key/flow/flow_info.rs
  src/common/meta/src/key/flow/flow_name.rs
  src/common/meta/src/key/flow/flownode_flow.rs
  src/common/meta/src/key/flow/table_flow.rs
  src/common/meta/src/key/scope.rs
Labels: Doc not needed

#3781 chore: adding Grafana config for cluster monitor
  grafana/README.md
  grafana/greptimedb-cluster.json
Labels: Doc not needed

#3837 refactor: remove `TableMetaKey` trait
  src/cmd/src/cli/upgrade.rs
  src/common/meta/src/cache_invalidator.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/catalog_name.rs
  src/common/meta/src/key/datanode_table.rs
  src/common/meta/src/key/flow.rs
  src/common/meta/src/key/flow/flow_info.rs
  src/common/meta/src/key/flow/flow_name.rs
  src/common/meta/src/key/flow/flownode_flow.rs
  src/common/meta/src/key/flow/table_flow.rs
  src/common/meta/src/key/schema_name.rs
  src/common/meta/src/key/table_info.rs
  src/common/meta/src/key/table_name.rs
  src/common/meta/src/key/table_region.rs
  src/common/meta/src/key/table_route.rs
  src/frontend/src/heartbeat/handler/tests.rs
  tests-integration/tests/region_failover.rs
Labels: Doc not needed

#3845 perf: optimize `count(*)`
  src/query/src/optimizer.rs
  src/query/src/optimizer/count_wildcard.rs
  src/query/src/query_engine/state.rs
  src/query/src/range_select/plan.rs
  tests/cases/standalone/common/range/special_aggr.result
  tests/cases/standalone/common/range/special_aggr.sql
  tests/cases/standalone/common/tql-explain-analyze/explain.result
Labels: performance, Doc not needed

#3847 fix: count_wildcard_to_time_index_rule doesn't handle table reference properly
  src/query/src/optimizer/count_wildcard.rs
  tests/cases/standalone/common/aggregate/count.result
  tests/cases/standalone/common/aggregate/count.sql
Labels: Doc not needed
