Repository GreptimeTeam/greptimedb, pull requests merged in 2024-02, with the labels that each got.

#3272 feat: support fraction part in timestamp
  src/common/time/src/datetime.rs
Labels: Size: S, Doc not needed

#3275 fix: use `fe_opts` after `setup_frontend_plugins` in standalone
  src/cmd/src/standalone.rs
Labels: Size: S, Doc not needed

#3276 ci: fix nightly build
  .github/actions/build-greptime-images/action.yml
  .github/actions/publish-github-release/action.yml
  .github/actions/release-cn-artifacts/action.yaml
  .github/actions/upload-artifacts/action.yml
Labels: Size: S, Doc not needed

#3269 feat: use simple filter to prune memtable
  src/metric-engine/src/engine.rs
  src/metric-engine/src/engine/close.rs
  src/metric-engine/src/engine/drop.rs
  src/metric-engine/src/engine/open.rs
  src/metric-engine/src/engine/put.rs
  src/metric-engine/src/engine/read.rs
  src/metric-engine/src/engine/region_metadata.rs
  src/metric-engine/src/lib.rs
  src/metric-engine/src/metadata_region.rs
  src/mito2/src/memtable/time_series.rs
  src/mito2/src/worker/handle_write.rs
Labels: Size: M, Doc not needed

#3281 fix: fix incorrect StatusCode parsing
  src/common/error/src/status_code.rs
Labels: Size: S, Doc not needed

#3284 chore: share cache corss jobs
  .github/workflows/develop.yml
Labels: Size: S, Doc not needed

#3282 chore: start plugins during standalone startup & comply with current catalog while changing database
  src/cmd/src/standalone.rs
  src/common/catalog/src/lib.rs
  src/servers/src/mysql/handler.rs
  src/session/src/lib.rs
Labels: Size: S, Doc not needed

#3277 feat: support cache for batch_get in CachedMetaKvBackend
  config/frontend.example.toml
  src/catalog/src/kvbackend.rs
  src/catalog/src/kvbackend/client.rs
  src/catalog/src/metrics.rs
  src/cmd/src/cli/repl.rs
  src/cmd/src/frontend.rs
  src/meta-client/src/lib.rs
  tests-integration/src/cluster.rs
Labels: Size: M, Doc not needed

#3288 feat: put all filter exprs in a filter plan separately
  src/promql/src/planner.rs
Labels: Size: S, Doc not needed

#3291 chore(index): add BiError to fulfil the requirement of returning two errors
  src/mito2/src/error.rs
  src/mito2/src/sst/index/creator.rs
Labels: Size: S, Doc not needed

#3289 feat(mito): adjust seg size of inverted index to finer granularity instead of row group level
  Cargo.lock
  src/index/src/inverted_index/search/index_apply.rs
  src/index/src/inverted_index/search/index_apply/predicates_apply.rs
  src/mito2/Cargo.toml
  src/mito2/src/access_layer.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/engine/basic_test.rs
  src/mito2/src/metrics.rs
  src/mito2/src/sst/index.rs
  src/mito2/src/sst/index/applier.rs
  src/mito2/src/sst/index/creator.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/reader.rs
  src/mito2/src/sst/parquet/row_selection.rs
Labels: Size: L, Doc not needed

#3280 fix(util): join_path function should not trim leading `/`
  Makefile
  src/object-store/src/util.rs
Labels: Size: S, Doc not needed

#3296 fix: correct the case sensitivity behavior for PromQL
  src/promql/src/planner.rs
  tests/cases/standalone/common/system/information_schema.result
  tests/cases/standalone/common/system/information_schema.sql
  tests/cases/standalone/common/tql/case_sensitive.result
  tests/cases/standalone/common/tql/case_sensitive.sql
Labels: Size: M, Doc not needed

#3299 chore: update link to official website link
  README.md
Labels: Doc not needed, size/xs

#3297 fix: $TARGET_BIN not found when docker run the image
  docker/ci/ubuntu/Dockerfile
Labels: Bug, Doc not needed, size/xs

#3300 fix(index): sanitize S3 upload buffer size
  src/mito2/src/config.rs
Labels: Doc not needed, size/xs

#3305 build(deps): Upgrade raft-engine dependency cascading
  Cargo.lock
  Cargo.toml
Labels: Doc not needed, size/xs

#3309 build: support build without git
  .github/workflows/develop.yml
  Cargo.lock
  Cargo.toml
  src/catalog/Cargo.toml
  src/catalog/src/information_schema/memory_table/tables.rs
  src/client/Cargo.toml
  src/cmd/build.rs
  src/common/datasource/Cargo.toml
  src/common/function/Cargo.toml
  src/common/function/src/system/build.rs
  src/common/greptimedb-telemetry/build.rs
  src/common/meta/Cargo.toml
  src/common/query/Cargo.toml
  src/common/recordbatch/Cargo.toml
  src/common/runtime/Cargo.toml
  src/common/substrait/Cargo.toml
  src/common/time/Cargo.toml
  src/common/version/src/lib.rs
  src/datanode/Cargo.toml
  src/datatypes/Cargo.toml
  src/frontend/Cargo.toml
  src/index/Cargo.toml
  src/log-store/Cargo.toml
  src/meta-client/Cargo.toml
  src/meta-srv/Cargo.toml
  src/mito2/Cargo.toml
  src/operator/Cargo.toml
  src/partition/Cargo.toml
  src/puffin/Cargo.toml
  src/query/Cargo.toml
  src/script/Cargo.toml
  src/servers/Cargo.toml
  src/servers/build.rs
  src/table/Cargo.toml
  tests-integration/Cargo.toml
Labels: Size: M, Doc not needed

#3313 fix: commit_short sqlness test case
  .github/workflows/develop.yml
  tests/cases/standalone/common/function/system.result
  tests/cases/standalone/common/function/system.sql
Labels: Size: S, Doc not needed

#3312 ci: add release result send to slack
  .github/workflows/dev-build.yml
  .github/workflows/release.yml
Labels: Size: S, Doc not needed

#3314 ci: run CI jobs in draft PR
  .github/workflows/develop.yml
  .github/workflows/docs.yml
Labels: Size: S, Doc not needed

#3310 feat: organize tracing on query path
  Cargo.lock
  src/client/src/region.rs
  src/common/telemetry/Cargo.toml
  src/common/telemetry/src/tracing_context.rs
  src/datanode/src/heartbeat/handler/close_region.rs
  src/datanode/src/region_server.rs
  src/mito2/src/engine.rs
  src/mito2/src/read/seq_scan.rs
  src/query/src/dist_plan/merge_scan.rs
  src/query/src/query_engine/context.rs
  src/servers/src/grpc/flight/stream.rs
  src/servers/src/mysql/handler.rs
  src/table/src/table/scan.rs
Labels: Size: S, Doc not needed

#3317 ci: upgrade actions to avoid node16 deprecation warning
  .github/actions/build-windows-artifacts/action.yml
  .github/workflows/apidoc.yml
  .github/workflows/dev-build.yml
  .github/workflows/develop.yml
  .github/workflows/doc-issue.yml
  .github/workflows/doc-label.yml
  .github/workflows/docs.yml
  .github/workflows/license.yaml
  .github/workflows/nightly-build.yml
  .github/workflows/nightly-ci.yml
  .github/workflows/nightly-funtional-tests.yml
  .github/workflows/pr-title-checker.yml
  .github/workflows/release-dev-builder-images.yaml
  .github/workflows/release.yml
  .github/workflows/size-label.yml
Labels: Size: M, Doc not needed

#3320 ci: add build artifacts needs in notification
  .github/workflows/release.yml
Labels: Doc not needed

#3278 feat: impl partitions and region_peers information schema
  Cargo.lock
  src/catalog/src/error.rs
  src/catalog/src/information_schema.rs
  src/catalog/src/information_schema/columns.rs
  src/catalog/src/information_schema/key_column_usage.rs
  src/catalog/src/information_schema/partitions.rs
  src/catalog/src/information_schema/region_peers.rs
  src/catalog/src/information_schema/schemata.rs
  src/catalog/src/information_schema/table_names.rs
  src/catalog/src/information_schema/tables.rs
  src/cmd/src/cli/bench.rs
  src/common/catalog/src/consts.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/table_route.rs
  src/common/meta/src/rpc/router.rs
  src/meta-srv/src/handler/region_lease_handler.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/upgrade_candidate_region.rs
  src/meta-srv/src/test_util.rs
  src/operator/src/tests/partition_manager.rs
  src/partition/Cargo.toml
  src/partition/src/manager.rs
  src/partition/src/partition.rs
  tests/cases/distributed/create/partition.result
  tests/cases/distributed/create/partition.sql
  tests/cases/standalone/common/show/show_databases_tables.result
  tests/cases/standalone/common/system/information_schema.result
  tests/cases/standalone/common/system/information_schema.sql
Labels: Doc update required, Size: XL

#3319 feat: batch get physical table routes
  src/common/meta/src/error.rs
  src/common/meta/src/key/table_route.rs
Labels: Doc not needed

#3311 fix: split write metadata request
  Cargo.lock
  src/common/meta/Cargo.toml
  src/common/meta/src/ddl/create_logical_tables.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/table_info.rs
  src/common/meta/src/key/table_route.rs
  src/common/meta/src/key/txn_helper.rs
  src/common/meta/src/kv_backend/etcd.rs
  src/common/meta/src/kv_backend/txn.rs
Labels: Size: M, Doc not needed

#3307 refactor(index): move option `segment_row_count` from WriteOptions to IndexOptions
  src/mito2/src/access_layer.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/region/options.rs
  src/mito2/src/sst/index.rs
  src/mito2/src/sst/parquet.rs
Labels: Size: S, Doc not needed

#3324 fix(index): encode string type to original data to enable fst regex to work
  src/mito2/src/engine/basic_test.rs
  src/mito2/src/error.rs
  src/mito2/src/row_converter.rs
  src/mito2/src/sst/index/applier/builder.rs
  src/mito2/src/sst/index/codec.rs
  src/mito2/src/sst/index/creator.rs
Labels: Doc not needed

#3326 feat: Defines structs in the merge tree memtable
  src/mito2/src/memtable.rs
  src/mito2/src/memtable/merge_tree.rs
  src/mito2/src/memtable/merge_tree/data.rs
  src/mito2/src/memtable/merge_tree/dict.rs
  src/mito2/src/memtable/merge_tree/metrics.rs
  src/mito2/src/memtable/merge_tree/partition.rs
  src/mito2/src/memtable/merge_tree/shard.rs
  src/mito2/src/memtable/merge_tree/shard_builder.rs
  src/mito2/src/memtable/merge_tree/tree.rs
Labels: Doc not needed

#3330 feat(metric-engine): set index options for data region
  Cargo.lock
  src/metric-engine/Cargo.toml
  src/metric-engine/src/engine.rs
  src/metric-engine/src/engine/create.rs
  src/metric-engine/src/engine/open.rs
  src/metric-engine/src/engine/options.rs
Labels: Doc not needed

#3247 refactor: bring metrics to http output
  Cargo.lock
  Cargo.toml
  benchmarks/src/bin/nyc-taxi.rs
  src/client/Cargo.toml
  src/client/src/database.rs
  src/client/src/region.rs
  src/cmd/src/cli/export.rs
  src/cmd/src/cli/repl.rs
  src/common/plugins/Cargo.toml
  src/common/plugins/src/consts.rs
  src/common/plugins/src/lib.rs
  src/common/query/src/lib.rs
  src/common/recordbatch/src/adapter.rs
  src/common/recordbatch/src/lib.rs
  src/common/test-util/src/recordbatch.rs
  src/datanode/src/region_server.rs
  src/frontend/src/instance/prom_store.rs
  src/operator/src/statement/copy_table_to.rs
  src/operator/src/tests/partition_manager.rs
  src/query/Cargo.toml
  src/query/src/datafusion.rs
  src/query/src/dist_plan/merge_scan.rs
  src/query/src/tests.rs
  src/query/src/tests/query_engine_test.rs
  src/script/benches/py_benchmark.rs
  src/script/src/python/engine.rs
  src/script/src/python/ffi_types/copr.rs
  src/script/src/python/ffi_types/pair_tests.rs
  src/script/src/table.rs
  src/servers/Cargo.toml
  src/servers/src/grpc/database.rs
  src/servers/src/grpc/flight.rs
  src/servers/src/grpc/flight/stream.rs
  src/servers/src/grpc/prom_query_gateway.rs
  src/servers/src/http.rs
  src/servers/src/http/arrow_result.rs
  src/servers/src/http/csv_result.rs
  src/servers/src/http/greptime_result_v1.rs
  src/servers/src/http/handler.rs
  src/servers/src/http/header.rs
  src/servers/src/http/influxdb_result_v1.rs
  src/servers/src/http/prometheus.rs
  src/servers/src/http/prometheus_resp.rs
  src/servers/src/mysql/writer.rs
  src/servers/src/postgres/handler.rs
  src/servers/tests/py_script/mod.rs
  src/table/src/requests.rs
  src/table/src/table/scan.rs
  tests-integration/src/grpc.rs
  tests-integration/src/influxdb.rs
  tests-integration/src/instance.rs
  tests-integration/src/opentsdb.rs
  tests-integration/src/otlp.rs
  tests-integration/src/tests/instance_kafka_wal_test.rs
  tests-integration/src/tests/instance_test.rs
  tests-integration/src/tests/test_util.rs
  tests-integration/tests/grpc.rs
  tests/runner/src/env.rs
Labels: Size: L, Doc not needed

#3332 fix: disable ansi contorl char when stdout is redirected
  Cargo.lock
  src/common/telemetry/Cargo.toml
  src/common/telemetry/src/logging.rs
Labels: Doc not needed

#3109 test: add data compatibility test
  .github/workflows/develop.yml
  tests/compat/README.md
  tests/compat/case/read/standalone/read.result
  tests/compat/case/read/standalone/read.sql
  tests/compat/case/write/standalone/write.result
  tests/compat/case/write/standalone/write.sql
  tests/compat/test-compat.sh
  tests/compat/util.sh
  tests/runner/src/env.rs
Labels: Size: M, Doc not needed

#3327 chore: check dirs before create RaftEngine store
  src/log-store/src/error.rs
  src/log-store/src/lib.rs
  src/log-store/src/raft_engine/backend.rs
Labels: Doc not needed

#3329 feat: data buffer and related structs
  src/mito2/src/error.rs
  src/mito2/src/memtable/merge_tree/data.rs
  src/mito2/src/test_util/memtable_util.rs
Labels: Doc not needed

#3334 feat: Implement KeyDictBuilder for the merge tree memtable
  Cargo.lock
  src/mito2/Cargo.toml
  src/mito2/src/memtable/merge_tree/dict.rs
Labels: Doc not needed

#3340 chore: support configure GITHUB_PROXY_URL when fetch dashboard assets
  scripts/fetch-dashboard-assets.sh
Labels: Doc not needed

#3271 refactor: allocate table id in the procedure
  Cargo.lock
  src/client/src/error.rs
  src/cmd/src/standalone.rs
  src/common/meta/Cargo.toml
  src/common/meta/src/ddl.rs
  src/common/meta/src/ddl/alter_table.rs
  src/common/meta/src/ddl/create_logical_tables.rs
  src/common/meta/src/ddl/create_table.rs
  src/common/meta/src/ddl/drop_table.rs
  src/common/meta/src/ddl/table_meta.rs
  src/common/meta/src/ddl/test_util.rs
  src/common/meta/src/ddl/test_util/create_table.rs
  src/common/meta/src/ddl/tests.rs
  src/common/meta/src/ddl/tests/create_table.rs
  src/common/meta/src/ddl/truncate_table.rs
  src/common/meta/src/ddl/utils.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/key/table_name.rs
  src/common/meta/src/lib.rs
  src/common/meta/src/test_util.rs
  src/common/procedure/src/procedure.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/procedure/tests.rs
  src/meta-srv/src/procedure/utils.rs
  tests-integration/src/standalone.rs
Labels: Size: XL, Doc not needed

#3342 ci: try fix log location
  .github/actions/build-windows-artifacts/action.yml
  .github/workflows/develop.yml
  .github/workflows/nightly-ci.yml
Labels: Doc not needed

#3333 build(deps): axum-tets-helper has included patch-1
  Cargo.lock
  tests-integration/Cargo.toml
Labels: Doc not needed

#3343 feat: replace pk index with pk_weight during freeze
  src/mito2/src/memtable/merge_tree/data.rs
Labels: Doc not needed

#3345 ci: upgrade actions to node20-based version
  .github/actions/build-linux-artifacts/action.yml
  .github/actions/build-macos-artifacts/action.yml
  .github/actions/build-windows-artifacts/action.yml
  .github/workflows/develop.yml
  .github/workflows/nightly-ci.yml
Labels: Doc not needed

#3341 chore: remove unused deprecated table_dir_with_catalog_and_schema
  src/store-api/src/path_utils.rs
Labels: Doc not needed

#3346 feat: merge tree data parts
  src/mito2/src/error.rs
  src/mito2/src/memtable/merge_tree/data.rs
Labels: Doc not needed

#3283 feat(flow): impl ScalarExpr&Scalar Function
  Cargo.lock
  src/flow/Cargo.toml
  src/flow/src/expr/error.rs
  src/flow/src/expr/func.rs
  src/flow/src/expr/scalar.rs
Labels: Size: L, Doc not needed

#3352 chore: use workspace-wide lints
  .cargo/config.toml
  Cargo.toml
  benchmarks/Cargo.toml
  src/api/Cargo.toml
  src/auth/Cargo.toml
  src/catalog/Cargo.toml
  src/client/Cargo.toml
  src/cmd/Cargo.toml
  src/common/base/Cargo.toml
  src/common/catalog/Cargo.toml
  src/common/config/Cargo.toml
  src/common/datasource/Cargo.toml
  src/common/decimal/Cargo.toml
  src/common/error/Cargo.toml
  src/common/function/Cargo.toml
  src/common/greptimedb-telemetry/Cargo.toml
  src/common/grpc-expr/Cargo.toml
  src/common/grpc/Cargo.toml
  src/common/macro/Cargo.toml
  src/common/mem-prof/Cargo.toml
  src/common/meta/Cargo.toml
  src/common/plugins/Cargo.toml
  src/common/procedure-test/Cargo.toml
  src/common/procedure/Cargo.toml
  src/common/query/Cargo.toml
  src/common/recordbatch/Cargo.toml
  src/common/runtime/Cargo.toml
  src/common/substrait/Cargo.toml
  src/common/telemetry/Cargo.toml
  src/common/test-util/Cargo.toml
  src/common/time/Cargo.toml
  src/common/version/Cargo.toml
  src/common/wal/Cargo.toml
  src/datanode/Cargo.toml
  src/datatypes/Cargo.toml
  src/file-engine/Cargo.toml
  src/flow/Cargo.toml
  src/frontend/Cargo.toml
  src/index/Cargo.toml
  src/log-store/Cargo.toml
  src/meta-client/Cargo.toml
  src/meta-srv/Cargo.toml
  src/metric-engine/Cargo.toml
  src/mito2/Cargo.toml
  src/object-store/Cargo.toml
  src/operator/Cargo.toml
  src/partition/Cargo.toml
  src/plugins/Cargo.toml
  src/promql/Cargo.toml
  src/puffin/Cargo.toml
  src/query/Cargo.toml
  src/script/Cargo.toml
  src/servers/Cargo.toml
  src/session/Cargo.toml
  src/sql/Cargo.toml
  src/store-api/Cargo.toml
  src/table/Cargo.toml
  tests-fuzz/Cargo.toml
  tests-integration/Cargo.toml
  tests/runner/Cargo.toml
Labels: Doc not needed

#3349 test: fix list_files_and_parse_table_name path issue on windows
  Cargo.lock
  src/operator/Cargo.toml
  src/operator/src/statement/copy_database.rs
Labels: Doc not needed

#3356 ci: align docs workflow jobs with develop.yml
  .github/workflows/docs.yml
Labels: Doc not needed

#3358 fix: typo in lint config
  Cargo.toml
Labels: Doc not needed

#3293 refactor: allocate table ids in the procedure
  src/common/meta/src/ddl/create_logical_tables.rs
  src/common/meta/src/ddl/table_meta.rs
  src/common/meta/src/ddl/tests.rs
  src/common/meta/src/ddl/tests/create_logical_tables.rs
  src/common/meta/src/ddl/truncate_table.rs
  src/common/meta/src/key/table_route.rs
  src/common/meta/src/rpc/ddl.rs
Labels: Size: XL, Doc not needed

#3360 feat: add isnull function
  src/common/function/src/function_registry.rs
  src/common/function/src/scalars/expression.rs
  src/common/function/src/scalars/expression/is_null.rs
  tests/cases/standalone/common/function/expression.result
  tests/cases/standalone/common/function/expression.sql
Labels: Doc not needed

#3362 build(deps): Upgrade opensrv to 0.7.0
  Cargo.lock
  src/servers/Cargo.toml
  src/servers/tests/mysql/mysql_server_test.rs
Labels: Doc not needed

#3364 feat: skip filling NULL for put and delete requests
  src/mito2/src/memtable/key_values.rs
  src/mito2/src/request.rs
Labels: performance, Doc not needed

#3353 refactor: set the actual bound port in server handler
  src/cmd/src/datanode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/lib.rs
  src/cmd/src/standalone.rs
  src/datanode/src/datanode.rs
  src/datanode/src/service.rs
  src/frontend/src/instance.rs
  src/frontend/src/instance/builder.rs
  src/frontend/src/server.rs
  src/meta-srv/src/bootstrap.rs
  src/meta-srv/src/metasrv/builder.rs
  src/servers/src/http.rs
  src/servers/src/server.rs
Labels: Doc not needed

#3361 feat: impl merge reader for DataParts
  src/mito2/src/memtable/merge_tree.rs
  src/mito2/src/memtable/merge_tree/data.rs
  src/mito2/src/memtable/merge_tree/merger.rs
Labels: Doc not needed

#3357 feat: Implement write and fork for the new memtable
  src/mito2/src/memtable/merge_tree.rs
  src/mito2/src/memtable/merge_tree/data.rs
  src/mito2/src/memtable/merge_tree/dict.rs
  src/mito2/src/memtable/merge_tree/merger.rs
  src/mito2/src/memtable/merge_tree/partition.rs
  src/mito2/src/memtable/merge_tree/shard.rs
  src/mito2/src/memtable/merge_tree/shard_builder.rs
  src/mito2/src/memtable/merge_tree/tree.rs
  src/mito2/src/test_util/memtable_util.rs
Labels: Doc not needed

#3369 feat: distinguish between different read paths
  src/mito2/src/memtable/merge_tree/data.rs
  src/mito2/src/memtable/merge_tree/merger.rs
  src/mito2/src/memtable/merge_tree/shard_builder.rs
Labels: Doc not needed

#3370 fix: treat "0" and "1" as valid boolean values.
  src/sql/src/statements.rs
Labels: Doc not needed

#3371 refactor: Remove Item from merger's Node trait
  src/mito2/src/memtable/merge_tree/data.rs
  src/mito2/src/memtable/merge_tree/merger.rs
Labels: Doc not needed

#3374 feat: Add freeze and fork method to the memtable
  src/mito2/src/flush.rs
  src/mito2/src/memtable.rs
  src/mito2/src/memtable/merge_tree.rs
  src/mito2/src/memtable/time_series.rs
  src/mito2/src/memtable/version.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/region/version.rs
  src/mito2/src/test_util/memtable_util.rs
  src/mito2/src/test_util/version_util.rs
  src/mito2/src/worker/handle_flush.rs
Labels: Doc not needed

#3375 feat: merge tree dedup reader
  src/mito2/src/memtable/merge_tree.rs
  src/mito2/src/memtable/merge_tree/data.rs
  src/mito2/src/memtable/merge_tree/dedup.rs
  src/mito2/src/memtable/merge_tree/merger.rs
  src/mito2/src/memtable/merge_tree/partition.rs
  src/mito2/src/memtable/merge_tree/shard.rs
  src/mito2/src/memtable/merge_tree/shard_builder.rs
  src/mito2/src/test_util/memtable_util.rs
Labels: Doc not needed

#3373 feat: Implement iter for the new memtable
  src/mito2/src/memtable/merge_tree.rs
  src/mito2/src/memtable/merge_tree/dict.rs
  src/mito2/src/memtable/merge_tree/partition.rs
  src/mito2/src/memtable/merge_tree/shard.rs
  src/mito2/src/memtable/merge_tree/shard_builder.rs
  src/mito2/src/memtable/merge_tree/tree.rs
Labels: Doc not needed

#3376 fix: remove unused imports in memtable_util.rs
  src/mito2/src/test_util/memtable_util.rs
Labels: Doc not needed

#3377 feat: Implement dedup for the new memtable and expose the config
  src/mito2/src/config.rs
  src/mito2/src/engine/basic_test.rs
  src/mito2/src/memtable/key_values.rs
  src/mito2/src/memtable/merge_tree.rs
  src/mito2/src/memtable/merge_tree/data.rs
  src/mito2/src/memtable/merge_tree/dedup.rs
  src/mito2/src/memtable/merge_tree/dict.rs
  src/mito2/src/memtable/merge_tree/partition.rs
  src/mito2/src/memtable/merge_tree/shard.rs
  src/mito2/src/test_util/version_util.rs
  src/mito2/src/worker.rs
Labels: Doc not needed

#3378 refactor: change the receivers of merge tree components
  src/mito2/src/memtable.rs
  src/mito2/src/memtable/merge_tree/data.rs
  src/mito2/src/memtable/merge_tree/dedup.rs
  src/mito2/src/memtable/merge_tree/dict.rs
  src/mito2/src/memtable/merge_tree/partition.rs
  src/mito2/src/memtable/merge_tree/shard.rs
  src/mito2/src/memtable/merge_tree/shard_builder.rs
  src/mito2/src/memtable/merge_tree/tree.rs
Labels: Doc not needed

#3384 feat: change how region id maps to region worker
  src/mito2/src/worker.rs
Labels: Doc not needed

#3335 feat: make tls certificates/keys reloadable (part 1)
  Cargo.lock
  src/frontend/src/server.rs
  src/servers/Cargo.toml
  src/servers/src/error.rs
  src/servers/src/mysql/server.rs
  src/servers/src/postgres/server.rs
  src/servers/src/tls.rs
  src/servers/tests/mysql/mysql_server_test.rs
  src/servers/tests/postgres/mod.rs
  tests-integration/src/test_util.rs
Labels: Doc not needed

#3387 feat(grafana): enable shared tooltip, add raft engine throughput
  grafana/greptimedb.json
Labels: Doc not needed

#3381 ci: add builder result outputs in release action
  .github/workflows/release.yml
Labels: Doc not needed

#3391 fix: throw errors instead of panic
  src/common/meta/src/ddl/create_table.rs
Labels: Doc not needed

#3380 feat: enable zstd compression and encodings in merge tree data part
  src/mito2/src/memtable/merge_tree/data.rs
Labels: Doc not needed

#3347 feat!: new partition grammar - parser part
  src/operator/src/statement/ddl.rs
  src/operator/src/statement/show.rs
  src/sql/src/parsers/create_parser.rs
  src/sql/src/statements/create.rs
  tests-integration/src/grpc.rs
  tests-integration/src/instance.rs
  tests-integration/src/tests/instance_test.rs
  tests-integration/tests/main.rs
  tests-integration/tests/region_migration.rs
  tests/cases/distributed/create/partition.result
  tests/cases/distributed/create/partition.sql
  tests/cases/distributed/explain/multi_partitions.result
  tests/cases/distributed/explain/multi_partitions.sql
  tests/cases/standalone/common/create/upper_case_table_name.result
  tests/cases/standalone/common/create/upper_case_table_name.sql
  tests/cases/standalone/common/show/show_create.result
  tests/cases/standalone/common/show/show_create.sql
Labels: Doc update required, Breaking change

#3363 feat: flush or compact table and region functions
  Cargo.lock
  src/client/src/region.rs
  src/common/base/src/lib.rs
  src/common/function/Cargo.toml
  src/common/function/src/handlers.rs
  src/common/function/src/helper.rs
  src/common/function/src/state.rs
  src/common/function/src/system/procedure_state.rs
  src/common/function/src/table.rs
  src/common/function/src/table/flush_compact_region.rs
  src/common/function/src/table/flush_compact_table.rs
  src/common/function/src/table/migrate_region.rs
  src/common/macro/src/admin_fn.rs
  src/common/macro/src/lib.rs
  src/common/macro/src/range_fn.rs
  src/common/macro/src/utils.rs
  src/common/meta/Cargo.toml
  src/common/meta/src/datanode_manager.rs
  src/common/meta/src/test_util.rs
  src/datatypes/src/value.rs
  src/frontend/src/instance.rs
  src/frontend/src/instance/builder.rs
  src/frontend/src/instance/standalone.rs
  src/operator/src/delete.rs
  src/operator/src/error.rs
  src/operator/src/expr_factory.rs
  src/operator/src/insert.rs
  src/operator/src/lib.rs
  src/operator/src/region_req_factory.rs
  src/operator/src/request.rs
  src/operator/src/statement.rs
  src/operator/src/statement/describe.rs
  src/operator/src/table.rs
  src/session/Cargo.toml
  src/session/src/lib.rs
  src/session/src/table_name.rs
  src/sql/src/parser.rs
  src/store-api/src/region_request.rs
  src/table/src/requests.rs
  tests-integration/tests/region_migration.rs
  tests/cases/distributed/function/admin/flush_compact_region.result
  tests/cases/distributed/function/admin/flush_compact_region.sql
  tests/cases/standalone/common/function/admin/flush_compact_table.result
  tests/cases/standalone/common/function/admin/flush_compact_table.sql
Labels: Enhancement, Doc update required, User-Experience, Administration

#3394 chore: retry fetch dashboard assets
  scripts/fetch-dashboard-assets.sh
Labels: Doc not needed

#3400 feat: Use a partition level map to look up pk index
  src/mito2/src/memtable/merge_tree.rs
  src/mito2/src/memtable/merge_tree/dict.rs
  src/mito2/src/memtable/merge_tree/partition.rs
  src/mito2/src/memtable/merge_tree/shard.rs
  src/mito2/src/memtable/merge_tree/shard_builder.rs
  src/mito2/src/test_util/memtable_util.rs
Labels: Doc not needed

#3397 chore: add metris for memtable read path
  src/mito2/src/memtable/merge_tree/data.rs
  src/mito2/src/memtable/merge_tree/partition.rs
  src/mito2/src/memtable/merge_tree/shard_builder.rs
  src/mito2/src/memtable/merge_tree/tree.rs
  src/mito2/src/metrics.rs
Labels: Doc not needed

#3402 build: do not retry for connrefused
  scripts/fetch-dashboard-assets.sh
Labels: Doc not needed

#3392 refactor: refactor TableRouteManager
  codecov.yml
  src/common/meta/src/ddl/create_table.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/table_route.rs
  src/meta-srv/src/procedure/region_failover/deactivate_region.rs
  src/meta-srv/src/procedure/region_failover/update_metadata.rs
  src/meta-srv/src/procedure/region_migration.rs
  src/meta-srv/src/procedure/region_migration/manager.rs
  src/meta-srv/src/procedure/region_migration/test_util.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/downgrade_leader_region.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/rollback_downgraded_region.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/upgrade_candidate_region.rs
  src/meta-srv/src/procedure/tests.rs
  src/meta-srv/src/region/lease_keeper.rs
  src/meta-srv/src/selector/load_based.rs
  src/meta-srv/src/service/admin/route.rs
  tests-integration/src/grpc.rs
  tests-integration/src/instance.rs
Labels: Doc not needed

#3383 feat(index): measure memory usage in global instead of single-column and add metrics
  config/datanode.example.toml
  src/index/src/inverted_index/create/sort/external_sort.rs
  src/index/src/inverted_index/create/sort/intermediate_rw.rs
  src/index/src/inverted_index/create/sort/intermediate_rw/codec_v1.rs
  src/mito2/src/metrics.rs
  src/mito2/src/sst/index.rs
  src/mito2/src/sst/index/creator.rs
  src/mito2/src/sst/index/creator/temp_provider.rs
  src/mito2/src/sst/index/intermediate.rs
Labels: Doc not needed

#3404 fix: some read metrics
  src/mito2/src/memtable/merge_tree/partition.rs
  src/mito2/src/memtable/merge_tree/tree.rs
Labels: Doc not needed

#3403 feat: enable ArrowFlight compression
  Cargo.lock
  Cargo.toml
  src/common/grpc/src/flight.rs
Labels: Doc not needed

#3406 refactor: move some costly methods in DataBuffer::read out of read lock
  src/mito2/src/memtable/merge_tree/data.rs
  src/mito2/src/memtable/merge_tree/dedup.rs
  src/mito2/src/memtable/merge_tree/merger.rs
  src/mito2/src/memtable/merge_tree/partition.rs
  src/mito2/src/memtable/merge_tree/shard.rs
  src/mito2/src/memtable/merge_tree/shard_builder.rs
Labels: Doc not needed

#3407 feat: zero copy on split rows
  src/partition/src/splitter.rs
Labels: Doc not needed

#3379 feat: Support automatic DNS lookup for kafka bootstrap servers
  Cargo.lock
  src/common/meta/src/error.rs
  src/common/meta/src/wal_options_allocator/kafka/topic_manager.rs
  src/common/wal/Cargo.toml
  src/common/wal/src/error.rs
  src/common/wal/src/lib.rs
  src/log-store/src/error.rs
  src/log-store/src/kafka/client_manager.rs
Labels: Doc not needed

#3414 fix: partition region id
  src/partition/src/manager.rs
Labels: Doc not needed
