Repository GreptimeTeam/greptimedb, pull requests merged in 2024-06, with the labels that each got.

#4061 build(deps): bump datafusion 20240528
  Cargo.lock
  Cargo.toml
  benchmarks/Cargo.toml
  src/common/query/src/logical_plan/udaf.rs
  src/common/query/src/logical_plan/udf.rs
  src/common/query/src/signature.rs
  src/common/recordbatch/src/adapter.rs
  src/frontend/src/instance/prom_store.rs
  src/operator/src/expr_factory.rs
  src/promql/src/extension_plan/empty_metric.rs
  src/promql/src/extension_plan/histogram_fold.rs
  src/promql/src/extension_plan/instant_manipulate.rs
  src/promql/src/extension_plan/normalize.rs
  src/promql/src/extension_plan/range_manipulate.rs
  src/promql/src/extension_plan/scalar_calculate.rs
  src/promql/src/extension_plan/series_divide.rs
  src/promql/src/extension_plan/union_distinct_on.rs
  src/query/Cargo.toml
  src/query/src/analyze.rs
  src/query/src/datafusion/planner.rs
  src/query/src/dist_plan/commutativity.rs
  src/query/src/dist_plan/merge_scan.rs
  src/query/src/dist_plan/planner.rs
  src/query/src/optimizer/count_wildcard.rs
  src/query/src/optimizer/order_hint.rs
  src/query/src/optimizer/remove_duplicate.rs
  src/query/src/optimizer/string_normalization.rs
  src/query/src/planner.rs
  src/query/src/promql/planner.rs
  src/query/src/range_select/plan.rs
  src/query/src/range_select/plan_rewrite.rs
  src/query/src/sql/show_create_table.rs
  src/script/src/python/ffi_types/pair_tests/sample_testcases.rs
  src/script/src/python/pyo3/builtins.rs
  src/script/src/python/rspython/builtins.rs
  src/script/src/python/rspython/builtins/testcases.ron
  src/servers/src/http/handler.rs
  src/servers/src/http/header.rs
  src/servers/src/http/prometheus.rs
  src/servers/src/http/prometheus_resp.rs
  src/servers/src/prom_store.rs
  src/servers/tests/py_script/mod.rs
  src/sql/src/parsers/create_parser.rs
  src/sql/src/parsers/utils.rs
  src/sql/src/statements/create.rs
  src/table/src/table/scan.rs
  tests/cases/distributed/explain/join_10_tables.result
  tests/cases/distributed/explain/multi_partitions.result
  tests/cases/distributed/explain/order_by.result
  tests/cases/distributed/explain/subqueries.result
  tests/cases/distributed/optimizer/order_by.result
  tests/cases/standalone/common/aggregate/distinct_order_by.result
  tests/cases/standalone/common/aggregate/sum.result
  tests/cases/standalone/common/range/calculate.result
  tests/cases/standalone/common/range/error.result
  tests/cases/standalone/common/range/special_aggr.result
  tests/cases/standalone/common/tql-explain-analyze/analyze.result
  tests/cases/standalone/common/tql-explain-analyze/explain.result
  tests/cases/standalone/common/types/decimal/decimal_aggregates.result
  tests/cases/standalone/optimizer/order_by.result
Labels: docs-not-required

#4087 feat: implement `Display` for `PartitionExpr`
  src/partition/src/expr.rs
Labels: docs-not-required

#4089 ci: try to free space after fuzz tests
  .github/workflows/develop.yml
  Cargo.toml
Labels: docs-not-required

#4093 chore: enable `strip` for tests-fuzz crate
  Cargo.toml
Labels: docs-not-required

#4095 refactor: move `define_into_tonic_status` to `common-error`
  Cargo.lock
  src/common/error/Cargo.toml
  src/common/error/src/status_code.rs
  src/datanode/src/error.rs
  src/flow/src/adapter/error.rs
  src/frontend/src/error.rs
  src/meta-srv/src/error.rs
  src/operator/Cargo.toml
  src/operator/src/error.rs
  src/servers/src/error.rs
Labels: docs-not-required

#4101 fix: display the PartitionBound and PartitionDef correctly
  src/partition/src/partition.rs
  tests/cases/standalone/common/partition.result
Labels: docs-not-required

#4083 test: run `test_flush_reopen_region` and `test_region_replay` with `KafkaLogStore`
  Cargo.lock
  Cargo.toml
  src/log-store/src/test_util/log_store_util.rs
  src/mito2/Cargo.toml
  src/mito2/src/engine/basic_test.rs
  src/mito2/src/engine/flush_test.rs
  src/mito2/src/test_util.rs
  tests-integration/Cargo.toml
  tests-integration/src/lib.rs
Labels: docs-not-required

#4102 fix: recover memtable options when opening physical regions
  src/metric-engine/src/engine/create.rs
  src/metric-engine/src/engine/open.rs
  src/metric-engine/src/engine/options.rs
Labels: docs-not-required

#4100 fix: fix EntityTooSmall issue
  .github/workflows/develop.yml
  Cargo.lock
  src/common/datasource/Cargo.toml
  src/common/datasource/src/file_format.rs
  src/common/datasource/src/file_format/parquet.rs
  src/common/datasource/src/lib.rs
  src/mito2/Cargo.toml
  tests-integration/fixtures/minio/docker-compose-standalone.yml
Labels: docs-not-required

#4084 fix(flow): mfp operator missing rows
  src/flow/src/adapter.rs
  src/flow/src/compute/render/map.rs
  src/flow/src/repr.rs
Labels: C-bug, docs-not-required, A-flow

#4063 feat: set global runtime size by config file
  .github/actions/setup-greptimedb-cluster/action.yml
  .github/actions/setup-greptimedb-cluster/values.yaml
  Cargo.lock
  config/config.md
  config/datanode.example.toml
  config/frontend.example.toml
  config/metasrv.example.toml
  config/standalone.example.toml
  src/cmd/src/datanode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/metasrv.rs
  src/cmd/src/options.rs
  src/cmd/src/standalone.rs
  src/cmd/tests/load_config_test.rs
  src/common/config/src/config.rs
  src/common/runtime/Cargo.toml
  src/common/runtime/src/global.rs
  src/common/runtime/src/lib.rs
  src/common/test-util/Cargo.toml
  src/common/test-util/src/recordbatch.rs
  src/datanode/src/config.rs
  src/frontend/src/frontend.rs
  src/frontend/src/instance.rs
  src/frontend/src/server.rs
  src/frontend/src/service_config/datanode.rs
  src/meta-srv/src/metasrv.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/grpc.rs
Labels: docs-not-required

#4085 feat: implement drop multiple tables
  src/frontend/src/instance.rs
  src/operator/src/statement.rs
  src/operator/src/statement/ddl.rs
  src/sql/src/parsers/drop_parser.rs
  src/sql/src/statements/drop.rs
  tests/cases/standalone/common/drop/drop_table.result
  tests/cases/standalone/common/drop/drop_table.sql
Labels: docs-required

#4076 test: add fuzz tests for column data type alteration
  Cargo.lock
  Makefile
  tests-fuzz/Cargo.toml
  tests-fuzz/src/context.rs
  tests-fuzz/src/generator/alter_expr.rs
  tests-fuzz/src/ir.rs
  tests-fuzz/src/ir/alter_expr.rs
  tests-fuzz/src/translator/mysql/alter_expr.rs
  tests-fuzz/src/translator/postgres/alter_expr.rs
  tests-fuzz/targets/fuzz_alter_table.rs
Labels: docs-not-required

#4099 feat: show create table only for base table
  src/operator/src/error.rs
  src/operator/src/statement.rs
  src/operator/src/statement/show.rs
  tests/cases/standalone/common/show/show_create.result
  tests/cases/standalone/common/show/show_create.sql
Labels: docs-not-required

#4103 ci: add 'make run-cluster-with-etcd' to run greptimedb cluster by using docker-compose
  Makefile
  docker/docker-compose/cluster-with-etcd.yaml
Labels: docs-required

#4106 chore(ci): remove redundant sqlness test config
  .github/workflows/develop.yml
Labels: docs-not-required

#4075 feat: implement the `handle_batch_open_requests`
  src/mito2/src/engine.rs
  src/mito2/src/engine/batch_open_test.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/request.rs
  src/mito2/src/wal.rs
  src/mito2/src/wal/entry_distributor.rs
  src/mito2/src/wal/entry_reader.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_catchup.rs
  src/mito2/src/worker/handle_open.rs
  src/store-api/Cargo.toml
  src/store-api/src/region_engine.rs
Labels: docs-not-required

#4081 ci: cargo gc all fuzz test runner
  .github/workflows/develop.yml
Labels: docs-not-required

#4109 feat: introduce `pipeline` crate
  src/pipeline/src/etl/README.md
  src/pipeline/src/etl/field.rs
  src/pipeline/src/etl/mod.rs
  src/pipeline/src/etl/processor/cmcd.rs
  src/pipeline/src/etl/processor/csv.rs
  src/pipeline/src/etl/processor/date.rs
  src/pipeline/src/etl/processor/dissect.rs
  src/pipeline/src/etl/processor/epoch.rs
  src/pipeline/src/etl/processor/letter.rs
  src/pipeline/src/etl/processor/mod.rs
  src/pipeline/src/etl/processor/regex.rs
  src/pipeline/src/etl/processor/urlencoding.rs
  src/pipeline/src/etl/transform/index.rs
  src/pipeline/src/etl/transform/mod.rs
  src/pipeline/src/etl/transform/transformer/greptime/coerce.rs
  src/pipeline/src/etl/transform/transformer/greptime/mod.rs
  src/pipeline/src/etl/transform/transformer/mod.rs
  src/pipeline/src/etl/transform/transformer/noop.rs
  src/pipeline/src/etl/value/array.rs
  src/pipeline/src/etl/value/map.rs
  src/pipeline/src/etl/value/mod.rs
  src/pipeline/src/etl/value/time.rs
  src/pipeline/tests/pipeline.rs
  typos.toml
Labels: docs-not-required

#4110 chore: reduce some burden on the write path
  src/metric-engine/src/engine.rs
  src/metric-engine/src/engine/put.rs
  src/metric-engine/src/engine/state.rs
  src/operator/src/error.rs
  src/operator/src/insert.rs
  src/operator/src/statement/ddl.rs
Labels: docs-not-required

#4092 feat: support gRPC cancellation
  Cargo.lock
  src/cmd/src/standalone.rs
  src/frontend/src/server.rs
  src/servers/Cargo.toml
  src/servers/src/grpc.rs
  src/servers/src/grpc/cancellation.rs
  src/servers/src/grpc/database.rs
  src/servers/src/grpc/greptime_handler.rs
  src/servers/src/grpc/region_server.rs
  src/servers/tests/grpc/mod.rs
  tests-integration/src/test_util.rs
Labels: docs-not-required

#4040 feat: Implement SHOW CREATE FLOW
  src/common/meta/src/key/flow.rs
  src/common/meta/src/key/flow/flow_info.rs
  src/frontend/src/instance.rs
  src/operator/src/statement.rs
  src/operator/src/statement/show.rs
  src/query/src/sql.rs
  src/sql/src/error.rs
  src/sql/src/parser.rs
  src/sql/src/parsers/show_parser.rs
  src/sql/src/statements/create.rs
  src/sql/src/statements/show.rs
  src/sql/src/statements/statement.rs
  tests/cases/standalone/show_create_flow.result
  tests/cases/standalone/show_create_flow.sql
Labels: docs-not-required

#4105 chore: run fuzz tests with kafka remote wal
  .github/actions/setup-greptimedb-cluster/action.yml
  .github/actions/setup-greptimedb-cluster/with-disk.yaml
  .github/actions/setup-greptimedb-cluster/with-minio.yaml
  .github/actions/setup-greptimedb-cluster/with-remote-wal.yaml
  .github/actions/setup-kafka-cluster/action.yml
  .github/actions/setup-minio/action.yml
  .github/workflows/develop.yml
  src/meta-client/src/lib.rs
Labels: docs-not-required

#4114 fix: Update region `Version` in the worker loop
  src/mito2/src/compaction.rs
  src/mito2/src/compaction/task.rs
  src/mito2/src/compaction/twcs.rs
  src/mito2/src/compaction/window.rs
  src/mito2/src/flush.rs
  src/mito2/src/region.rs
  src/mito2/src/request.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_compaction.rs
  src/mito2/src/worker/handle_flush.rs
  src/mito2/src/worker/handle_manifest.rs
  src/mito2/src/worker/handle_truncate.rs
Labels: docs-not-required

#4107 feat: invoke `handle_batch_open_requests`
  config/config.md
  config/datanode.example.toml
  src/datanode/src/config.rs
  src/datanode/src/datanode.rs
  src/datanode/src/error.rs
  src/datanode/src/region_server.rs
  tests/cases/standalone/common/basic.result
  tests/cases/standalone/common/basic.sql
Labels: docs-not-required

#4117 refactor: remove double checks of memtable size
  src/mito2/src/region/version.rs
Labels: docs-not-required

#4119 fix: executes pending ddls if region memtable is empty while scheduling next flush
  src/mito2/src/compaction.rs
  src/mito2/src/engine/alter_test.rs
  src/mito2/src/engine/listener.rs
  src/mito2/src/flush.rs
  src/mito2/src/test_util.rs
  src/mito2/src/test_util/scheduler_util.rs
  src/mito2/src/test_util/version_util.rs
  src/mito2/src/worker.rs
Labels: docs-not-required

#4130 fix: macro crate cannot be compiled alone
  Cargo.lock
  src/common/function/src/system/procedure_state.rs
  src/common/function/src/table/flush_compact_region.rs
  src/common/function/src/table/flush_compact_table.rs
  src/common/function/src/table/migrate_region.rs
  src/common/macro/Cargo.toml
  src/common/macro/src/admin_fn.rs
  src/common/macro/src/print_caller.rs
  src/common/macro/src/range_fn.rs
  src/common/macro/src/stack_trace_debug.rs
  src/common/macro/src/utils.rs
  src/promql/src/functions/aggr_over_time.rs
  src/promql/src/functions/changes.rs
  src/promql/src/functions/deriv.rs
  src/promql/src/functions/resets.rs
Labels: docs-not-required

#4131 chore(common-macro): remove features covered by full
  src/common/macro/Cargo.toml
Labels: docs-not-required

#4113 fix(flow): infer table schema correctly
  src/flow/src/adapter.rs
  src/flow/src/adapter/flownode_impl.rs
  src/flow/src/adapter/node_context.rs
  src/flow/src/adapter/table_source.rs
  src/flow/src/adapter/worker.rs
  src/flow/src/compute/render.rs
  src/flow/src/compute/render/map.rs
  src/flow/src/compute/render/reduce.rs
  src/flow/src/compute/render/src_sink.rs
  src/flow/src/expr/linear.rs
  src/flow/src/plan.rs
  src/flow/src/repr/relation.rs
  src/flow/src/transform.rs
  src/flow/src/transform/aggr.rs
  src/flow/src/transform/expr.rs
  src/flow/src/transform/literal.rs
  src/flow/src/transform/plan.rs
Labels: docs-not-required

#4132 fix: explicitly set config instead of using changable default in tests
  src/cmd/tests/load_config_test.rs
Labels: docs-not-required

#4135 chore: remove unused code
  src/mito2/src/wal.rs
  src/mito2/src/wal/entry_distributor.rs
  src/mito2/src/wal/entry_reader.rs
  src/mito2/src/wal/raw_entry_reader.rs
Labels: docs-not-required

#4112 refactor: simplify parquet writer
  src/common/datasource/src/file_format/parquet.rs
  src/mito2/src/access_layer.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/error.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/format.rs
  src/mito2/src/sst/parquet/writer.rs
  src/operator/src/statement/copy_table_to.rs
Labels: docs-not-required

#4118 chore: run fuzz tests with disk cache
  .github/actions/setup-greptimedb-cluster/with-minio-and-cache.yaml
  .github/workflows/develop.yml
  src/catalog/src/information_schema/tables.rs
Labels: docs-not-required

#4138 fix: retry on unknown error
  src/client/src/error.rs
Labels: docs-not-required

#4141 chore: bump version to v0.8.2
  Cargo.lock
  Cargo.toml
Labels: docs-not-required

#4143 fix(ci): use `ld_classic` on macOS
  .github/actions/build-macos-artifacts/action.yml
Labels: docs-not-required

#4145 chore(ci): switch to aws registry
  .github/actions/build-greptime-binary/action.yml
  .github/actions/build-linux-artifacts/action.yml
Labels: docs-not-required

#4014 feat: log ingestion support
  Cargo.lock
  Cargo.toml
  src/auth/src/permission.rs
  src/frontend/Cargo.toml
  src/frontend/src/instance.rs
  src/frontend/src/instance/builder.rs
  src/frontend/src/instance/log_handler.rs
  src/frontend/src/server.rs
  src/operator/src/insert.rs
  src/operator/src/metrics.rs
  src/operator/src/statement.rs
  src/pipeline/Cargo.toml
  src/pipeline/src/lib.rs
  src/pipeline/src/manager/error.rs
  src/pipeline/src/manager/mod.rs
  src/pipeline/src/manager/pipeline_operator.rs
  src/pipeline/src/manager/table.rs
  src/servers/Cargo.toml
  src/servers/src/error.rs
  src/servers/src/http.rs
  src/servers/src/http/event.rs
  src/servers/src/query_handler.rs
Labels: docs-not-required

#4149 fix(sqlness): catch different format timestamp
  tests/cases/distributed/information_schema/cluster_info.result
  tests/cases/distributed/information_schema/cluster_info.sql
Labels: docs-not-required

#4152 ci: align docs with develop
  .github/workflows/docs.yml
Labels: docs-not-required

#4151 docs: add guide for tsbs benchmark
  docs/benchmarks/tsbs/README.md
Labels: docs-not-required

#4097 refactor: add `Compactor` trait to abstract the compaction
  src/mito2/src/compaction.rs
  src/mito2/src/compaction/compactor.rs
  src/mito2/src/compaction/picker.rs
  src/mito2/src/compaction/task.rs
  src/mito2/src/compaction/twcs.rs
  src/mito2/src/compaction/window.rs
  src/mito2/src/lib.rs
  src/mito2/src/region/opener.rs
Labels: docs-not-required

#4133 refactor: make region manifest checkpoint ran in background
  Cargo.lock
  src/mito2/Cargo.toml
  src/mito2/src/manifest.rs
  src/mito2/src/manifest/checkpointer.rs
  src/mito2/src/manifest/manager.rs
  src/mito2/src/manifest/storage.rs
  src/mito2/src/manifest/tests/checkpoint.rs
Labels: docs-not-required

#4139 refactor: Decouple dedup and merge
  src/mito2/src/read.rs
  src/mito2/src/read/dedup.rs
  src/mito2/src/read/merge.rs
  src/mito2/src/read/seq_scan.rs
Labels: docs-not-required

#4123 feat(pipeline): transform support on_failure
  src/pipeline/src/etl/transform/mod.rs
  src/pipeline/src/etl/transform/transformer/greptime/coerce.rs
  src/pipeline/src/etl/transform/transformer/greptime/mod.rs
  src/pipeline/src/etl/value/mod.rs
  src/pipeline/tests/on_failure.rs
  src/pipeline/tests/pipeline.rs
Labels: docs-not-required

#4160 feat: enable metasrv to accept flownode's heartbeats
  Cargo.lock
  Cargo.toml
  src/common/meta/src/cluster.rs
  src/datanode/src/heartbeat.rs
  src/meta-srv/src/handler/collect_cluster_info_handler.rs
  src/meta-srv/src/handler/failure_handler.rs
  src/meta-srv/src/handler/node_stat.rs
  src/meta-srv/src/handler/region_lease_handler.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/selector/weight_compute.rs
  src/meta-srv/src/service/heartbeat.rs
Labels: docs-not-required

#4158 feat(pipeline): join processor
  src/pipeline/src/etl/processor/gsub.rs
  src/pipeline/src/etl/processor/join.rs
  src/pipeline/src/etl/processor/mod.rs
  src/pipeline/tests/common.rs
  src/pipeline/tests/gsub.rs
  src/pipeline/tests/join.rs
  src/pipeline/tests/on_failure.rs
Labels: docs-not-required

#4129 feat: update default size of bgworkers, add hbworkers
  config/config.md
  config/datanode.example.toml
  config/frontend.example.toml
  config/metasrv.example.toml
  config/standalone.example.toml
  src/cmd/tests/load_config_test.rs
  src/common/runtime/src/global.rs
  src/common/runtime/src/lib.rs
  src/datanode/src/heartbeat.rs
  src/frontend/src/heartbeat.rs
Labels: docs-not-required

#4134 feat: implement the `OrderedBatchProducer`
  Cargo.lock
  Cargo.toml
  benchmarks/Cargo.toml
  benchmarks/README.md
  benchmarks/config/wal_bench.example.toml
  benchmarks/src/bin/wal_bench.rs
  benchmarks/src/lib.rs
  benchmarks/src/metrics.rs
  benchmarks/src/wal_bench.rs
  config/config.md
  config/datanode.example.toml
  config/standalone.example.toml
  src/common/wal/src/config.rs
  src/common/wal/src/config/kafka/datanode.rs
  src/common/wal/src/config/kafka/standalone.rs
  src/log-store/Cargo.toml
  src/log-store/src/error.rs
  src/log-store/src/kafka.rs
  src/log-store/src/kafka/client_manager.rs
  src/log-store/src/kafka/log_store.rs
  src/log-store/src/kafka/producer.rs
  src/log-store/src/kafka/util.rs
  src/log-store/src/kafka/util/offset.rs
  src/log-store/src/kafka/util/record.rs
  src/log-store/src/test_util.rs
  src/log-store/src/test_util/kafka.rs
  src/log-store/src/test_util/log_store_util.rs
  src/store-api/src/logstore/provider.rs
  tests-integration/tests/region_migration.rs
Labels: docs-not-required

#4142 feat(flow): support datafusion scalar function
  Cargo.lock
  src/flow/Cargo.toml
  src/flow/src/adapter.rs
  src/flow/src/adapter/node_context.rs
  src/flow/src/expr.rs
  src/flow/src/expr/error.rs
  src/flow/src/expr/func.rs
  src/flow/src/expr/scalar.rs
  src/flow/src/repr/relation.rs
  src/flow/src/transform.rs
  src/flow/src/transform/aggr.rs
  src/flow/src/transform/expr.rs
  src/flow/src/transform/plan.rs
  src/flow/src/utils.rs
Labels: docs-not-required

#4162 feat: Implement memtable range
  src/mito2/src/memtable.rs
  src/mito2/src/memtable/partition_tree.rs
  src/mito2/src/memtable/time_series.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/read/unordered_scan.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/file_range.rs
  src/mito2/src/test_util/memtable_util.rs
  src/table/src/predicate.rs
  tests/cases/distributed/explain/analyze.result
  tests/cases/standalone/common/range/nest.result
  tests/cases/standalone/common/tql-explain-analyze/analyze.result
Labels: docs-not-required

#4088 refactor!: unify `FrontendOptions` and `DatanodeOptions` by using `GrpcOptions`
  config/config.md
  config/datanode.example.toml
  src/cmd/src/datanode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/standalone.rs
  src/cmd/tests/load_config_test.rs
  src/datanode/src/config.rs
  src/datanode/src/datanode.rs
  src/datanode/src/heartbeat.rs
  src/datanode/src/service.rs
  src/frontend/src/frontend.rs
  src/frontend/src/server.rs
  src/frontend/src/service_config.rs
  src/frontend/src/service_config/grpc.rs
  src/servers/src/grpc.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/http.rs
Labels: breaking-change, docs-not-required

#4169 chore: bump datafusion version to fix `last_value` regression
  Cargo.lock
  Cargo.toml
  src/common/datasource/src/file_format/tests.rs
  src/datatypes/src/value.rs
  src/datatypes/src/vectors/helper.rs
  src/file-engine/src/query/file_stream.rs
  src/flow/src/transform/aggr.rs
  src/flow/src/transform/literal.rs
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/function/expression.result
  tests/cases/standalone/common/function/expression.sql
  tests/cases/standalone/common/range/special_aggr.result
  tests/cases/standalone/common/types/decimal/decimal_aggregates.result
  tests/cases/standalone/common/types/interval/interval.result
  tests/cases/standalone/common/types/timestamp/timestamp.result
Labels: docs-not-required

#4171 feat: update dashboard to v0.5.1
  src/servers/dashboard/VERSION
Labels: docs-not-required, Doc not needed

#4167 chore: enhance add pipeline http api return data
  src/frontend/src/instance/log_handler.rs
  src/pipeline/src/manager/pipeline_operator.rs
  src/pipeline/src/manager/table.rs
  src/servers/src/http/event.rs
  src/servers/src/query_handler.rs
Labels: docs-not-required

#4166 feat: register flow node
  src/common/meta/src/distributed_time_constants.rs
  src/meta-srv/src/cluster.rs
  src/meta-srv/src/error.rs
  src/meta-srv/src/handler/collect_cluster_info_handler.rs
  src/meta-srv/src/handler/keep_lease_handler.rs
  src/meta-srv/src/handler/node_stat.rs
  src/meta-srv/src/handler/persist_stats_handler.rs
  src/meta-srv/src/key.rs
  src/meta-srv/src/key/datanode.rs
  src/meta-srv/src/key/flownode.rs
  src/meta-srv/src/lease.rs
  src/meta-srv/src/lib.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/procedure/region_failover.rs
  src/meta-srv/src/selector/load_based.rs
  src/meta-srv/src/selector/round_robin.rs
  src/meta-srv/src/selector/weight_compute.rs
  src/meta-srv/src/service/admin/heartbeat.rs
  src/meta-srv/src/service/admin/node_lease.rs
  src/meta-srv/src/test_util.rs
  tests-integration/src/cluster.rs
  tests-integration/tests/region_failover.rs
Labels: docs-not-required

#4174 feat: show database options
  src/auth/tests/mod.rs
  src/catalog/src/information_schema/schemata.rs
  src/catalog/src/information_schema/utils.rs
  src/common/meta/src/key/schema_name.rs
  src/query/src/sql.rs
  src/sql/src/parsers/show_parser.rs
  src/sql/src/statements/show.rs
  tests/cases/standalone/common/create/create_database.result
  tests/cases/standalone/common/create/create_database.sql
  tests/cases/standalone/common/create/create_database_opts.result
  tests/cases/standalone/common/create/create_database_opts.sql
  tests/cases/standalone/common/show/show_databases_tables.result
  tests/cases/standalone/common/show/show_databases_tables.sql
  tests/cases/standalone/common/system/information_schema.result
Labels: C-feature, docs-required

#4177 feat: use the write runtime to handle the heartbeats
  src/meta-srv/src/service/heartbeat.rs
Labels: docs-not-required

#4173 feat: introduce chaos crds
  Cargo.lock
  tests-fuzz/Cargo.toml
  tests-fuzz/src/utils.rs
  tests-fuzz/src/utils/crd.rs
  tests-fuzz/src/utils/crd/common.rs
  tests-fuzz/src/utils/crd/pod.rs
Labels: docs-not-required

#4183 feat: add num_rows and num_row_groups to manifest
  src/mito2/src/compaction/compactor.rs
  src/mito2/src/compaction/test_util.rs
  src/mito2/src/flush.rs
  src/mito2/src/manifest/tests/checkpoint.rs
  src/mito2/src/sst/file.rs
  src/mito2/src/sst/file_purger.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/writer.rs
  src/mito2/src/test_util/sst_util.rs
  src/mito2/src/test_util/version_util.rs
Labels: docs-not-required

#4170 feat: make RegionScanner aware of PartitionRange
  Cargo.lock
  src/common/error/src/ext.rs
  src/common/recordbatch/src/error.rs
  src/common/recordbatch/src/util.rs
  src/file-engine/src/engine.rs
  src/metric-engine/src/engine.rs
  src/metric-engine/src/engine/put.rs
  src/metric-engine/src/engine/read.rs
  src/mito2/src/engine.rs
  src/mito2/src/error.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/read/unordered_scan.rs
  src/query/src/lib.rs
  src/query/src/optimizer.rs
  src/query/src/optimizer/parallelize_scan.rs
  src/query/src/query_engine/state.rs
  src/store-api/Cargo.toml
  src/store-api/src/region_engine.rs
  src/table/src/table/adapter.rs
  src/table/src/table/scan.rs
  tests/cases/standalone/common/tql-explain-analyze/explain.result
Labels: docs-not-required

#4176 fix: region logical regions after catching up
  src/datanode/src/region_server.rs
  src/metric-engine/src/engine/catchup.rs
  src/metric-engine/src/engine/open.rs
  tests-integration/tests/region_migration.rs
Labels: docs-not-required

#4185 feat: update dashboard to v0.5.2
  src/servers/dashboard/VERSION
Labels: docs-not-required, Doc not needed

#4189 chore: highlight our committers in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs-not-required

#4180 refactor: make `RegionOptions` and `MergeOutput` serializable
  src/mito2/src/compaction/compactor.rs
  src/mito2/src/region/options.rs
Labels: docs-not-required

#4165 fix(flow): fix call df func bug&sqlness test
  Cargo.lock
  src/flow/src/adapter.rs
  src/flow/src/adapter/table_source.rs
  src/flow/src/adapter/worker.rs
  src/flow/src/expr/scalar.rs
  src/flow/src/repr/relation.rs
  src/flow/src/transform/aggr.rs
  src/flow/src/transform/expr.rs
  src/flow/src/transform/plan.rs
  tests/cases/standalone/flow/basic.result
  tests/cases/standalone/flow/basic.sql
  tests/cases/standalone/flow/df_func.result
  tests/cases/standalone/flow/df_func.sql
  tests/runner/Cargo.toml
Labels: docs-not-required

#4187 refactor: add `region_dir` in CompactionRegion
  src/mito2/src/compaction.rs
  src/mito2/src/compaction/compactor.rs
Labels: docs-not-required

#4194 feat(puffin): support lz4 compression for footer
  Cargo.lock
  src/puffin/Cargo.toml
  src/puffin/src/error.rs
  src/puffin/src/file_format/reader/footer.rs
  src/puffin/src/file_format/writer.rs
  src/puffin/src/file_format/writer/file.rs
  src/puffin/src/file_format/writer/footer.rs
  src/puffin/src/tests.rs
Labels: docs-not-required

#4190 fix: `region_peers` returns same region_id for multi logical tables
  src/catalog/src/information_schema/region_peers.rs
  tests/cases/standalone/common/information_schema/region_peers.result
  tests/cases/standalone/common/information_schema/region_peers.sql
Labels: docs-not-required

#4179 feat: heartbeat task&peer lookup in proc
  Cargo.lock
  src/cmd/src/standalone.rs
  src/common/meta/src/ddl.rs
  src/common/meta/src/ddl/create_flow/metadata.rs
  src/common/meta/src/ddl/drop_flow.rs
  src/common/meta/src/ddl/flow_meta.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/peer.rs
  src/common/meta/src/test_util.rs
  src/flow/Cargo.toml
  src/flow/src/adapter.rs
  src/flow/src/heartbeat.rs
  src/flow/src/lib.rs
  src/meta-srv/src/flow_meta_alloc.rs
  src/meta-srv/src/lease.rs
  src/meta-srv/src/lib.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/procedure/utils.rs
  tests-integration/src/standalone.rs
Labels: docs-not-required

#4195 feat(puffin): introduce puffin manager trait
  src/puffin/src/lib.rs
  src/puffin/src/puffin_manager.rs
Labels: docs-not-required

#4182 feat(sql): improve interval expression, support shortened version
  src/sql/src/statements/transform.rs
  src/sql/src/statements/transform/expand_interval.rs
  src/sql/src/statements/transform/type_alias.rs
  tests/cases/standalone/common/types/interval/interval.result
  tests/cases/standalone/common/types/interval/interval.sql
Labels: docs-not-required

#4200 fix(sql): improve compound signed number processing
  src/sql/src/statements/transform/expand_interval.rs
  tests/cases/standalone/common/types/interval/interval.result
  tests/cases/standalone/common/types/interval/interval.sql
Labels: docs-not-required

#4202 test: wait until checkpoint finish
  src/mito2/src/manifest/tests/checkpoint.rs
Labels: docs-not-required

#4184 feat: Dedup strategy that keeps the last not null field
  src/mito2/src/read/dedup.rs
  src/mito2/src/read/merge.rs
Labels: docs-not-required

#4196 fix: align workflows again for the troublesome GHA
  .github/workflows/docs.yml
Labels: docs-not-required

#4204 fix: format error correctly
  src/common/meta/src/key.rs
  src/common/meta/src/key/flow.rs
  src/common/meta/src/key/flow/flow_name.rs
  src/common/meta/src/key/flow/flownode_flow.rs
  src/datanode/src/heartbeat/handler/close_region.rs
  src/datanode/src/heartbeat/handler/downgrade_region.rs
  src/datanode/src/heartbeat/handler/open_region.rs
  src/datanode/src/heartbeat/handler/upgrade_region.rs
Labels: docs-not-required

#4203 feat(puffin): implement CachedPuffinWriter
  Cargo.lock
  src/mito2/src/sst/index.rs
  src/mito2/src/sst/index/applier.rs
  src/mito2/src/sst/index/creator.rs
  src/mito2/src/sst/index/creator/statistics.rs
  src/mito2/src/sst/parquet/writer.rs
  src/puffin/Cargo.toml
  src/puffin/src/blob_metadata.rs
  src/puffin/src/error.rs
  src/puffin/src/file_format/writer.rs
  src/puffin/src/file_format/writer/file.rs
  src/puffin/src/lib.rs
  src/puffin/src/puffin_manager.rs
  src/puffin/src/puffin_manager/cache_manager.rs
  src/puffin/src/puffin_manager/cached_puffin_manager.rs
  src/puffin/src/puffin_manager/cached_puffin_manager/writer.rs
  src/puffin/src/tests.rs
Labels: docs-not-required

#4206 feat: FlownodeClient
  src/client/src/client.rs
  src/client/src/client_manager.rs
  src/client/src/error.rs
  src/client/src/flow.rs
  src/client/src/lib.rs
  src/cmd/src/frontend.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/mocks.rs
  src/meta-srv/src/procedure/tests.rs
  tests-integration/src/cluster.rs
Labels: docs-not-required

#4163 feat: bulk memtable codec
  src/mito2/src/error.rs
  src/mito2/src/memtable.rs
  src/mito2/src/memtable/bulk.rs
  src/mito2/src/memtable/bulk/part.rs
  src/mito2/src/memtable/key_values.rs
  src/mito2/src/memtable/partition_tree.rs
  src/mito2/src/memtable/time_series.rs
  src/mito2/src/row_converter.rs
  src/mito2/src/sst.rs
  src/mito2/src/sst/parquet/format.rs
  src/mito2/src/test_util/memtable_util.rs
Labels: docs-not-required

#4205 docs: remove outdated docs
  .github/workflows/docs.yml
  docs/schema-structs.md
Labels: docs-not-required

#4172 refactor: migrate region failover implementation to region migration
  src/common/meta/src/key.rs
  src/common/meta/src/test_util.rs
  src/common/meta/src/wal_options_allocator.rs
  src/meta-srv/src/error.rs
  src/meta-srv/src/failure_detector.rs
  src/meta-srv/src/handler/failure_handler.rs
  src/meta-srv/src/handler/failure_handler/runner.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/procedure.rs
  src/meta-srv/src/procedure/region_migration.rs
  src/meta-srv/src/procedure/region_migration/manager.rs
  src/meta-srv/src/procedure/region_migration/test_util.rs
  src/meta-srv/src/region.rs
  src/meta-srv/src/region/failure_detector.rs
  src/meta-srv/src/region/supervisor.rs
  src/meta-srv/src/selector.rs
  src/meta-srv/src/selector/test_utils.rs
  src/meta-srv/src/test_util.rs
Labels: docs-not-required

#4209 feat(puffin): implement CachedPuffinReader
  src/puffin/src/error.rs
  src/puffin/src/puffin_manager.rs
  src/puffin/src/puffin_manager/cached_puffin_manager.rs
  src/puffin/src/puffin_manager/cached_puffin_manager/dir_meta.rs
  src/puffin/src/puffin_manager/cached_puffin_manager/reader.rs
  src/puffin/src/puffin_manager/cached_puffin_manager/writer.rs
  src/puffin/src/puffin_manager/file_accessor.rs
Labels: docs-not-required

#4213 feat: validate partition rule on create table
  src/operator/src/error.rs
  src/operator/src/statement/ddl.rs
  src/partition/src/multi_dim.rs
  tests/cases/standalone/common/partition.result
  tests/cases/standalone/common/partition.sql
Labels: docs-not-required

#4198 refactor: add `SerializedPickerOutput` and field modification of `CompactorRequest`
  src/mito2/src/compaction.rs
  src/mito2/src/compaction/compactor.rs
  src/mito2/src/compaction/picker.rs
Labels: docs-not-required

#4199 fix: wrong frontend registration address
  config/config.md
  config/datanode.example.toml
  config/frontend.example.toml
  src/datanode/src/heartbeat.rs
  src/flow/src/heartbeat.rs
  src/frontend/src/heartbeat.rs
  src/servers/src/addrs.rs
  src/servers/src/lib.rs
Labels: docs-not-required

#4217 feat(servers): make http timeout and body limit optional
  config/config.md
  config/frontend.example.toml
  config/standalone.example.toml
  src/servers/src/http.rs
Labels: docs-not-required

#4220 feat(sql): add casting support for shortened intervals
  src/sql/src/statements/transform/expand_interval.rs
  tests/cases/standalone/common/types/interval/interval.result
  tests/cases/standalone/common/types/interval/interval.sql
Labels: docs-not-required

#4210 refactor(flow): make `from_substrait_*` async& worker handle refactor
  Cargo.lock
  src/flow/Cargo.toml
  src/flow/src/adapter/worker.rs
  src/flow/src/expr/func.rs
  src/flow/src/expr/linear.rs
  src/flow/src/expr/relation.rs
  src/flow/src/expr/scalar.rs
  src/flow/src/plan.rs
  src/flow/src/plan/join.rs
  src/flow/src/plan/reduce.rs
  src/flow/src/transform.rs
  src/flow/src/transform/aggr.rs
  src/flow/src/transform/expr.rs
  src/flow/src/transform/literal.rs
  src/flow/src/transform/plan.rs
  src/flow/src/utils.rs
Labels: docs-not-required

#4188 test: add e2e test for region failover
  .github/actions/setup-chaos/action.yml
  .github/actions/setup-greptimedb-cluster/action.yml
  .github/workflows/develop.yml
  Cargo.lock
  Makefile
  tests-fuzz/Cargo.toml
  tests-fuzz/src/generator/create_expr.rs
  tests-fuzz/src/generator/insert_expr.rs
  tests-fuzz/src/ir.rs
  tests-fuzz/src/ir/insert_expr.rs
  tests-fuzz/src/utils.rs
  tests-fuzz/src/utils/cluster_info.rs
  tests-fuzz/src/utils/crd.rs
  tests-fuzz/src/utils/partition.rs
  tests-fuzz/src/utils/pod_failure.rs
  tests-fuzz/src/utils/wait.rs
  tests-fuzz/src/validator/row.rs
  tests-fuzz/targets/failover/fuzz_failover_mito_regions.rs
Labels: docs-not-required

#3702 feat!: reduce sorted runs during compaction
  src/mito2/src/compaction.rs
  src/mito2/src/compaction/picker.rs
  src/mito2/src/compaction/run.rs
  src/mito2/src/compaction/twcs.rs
  src/mito2/src/engine/append_mode_test.rs
  src/mito2/src/engine/compaction_test.rs
  src/mito2/src/engine/filter_deleted_test.rs
  src/mito2/src/region/options.rs
  src/mito2/src/sst/file.rs
  src/store-api/src/mito_engine_options.rs
  tests/cases/standalone/common/create/create_with_options.result
  tests/cases/standalone/common/create/create_with_options.sql
Labels: docs-required, breaking-change

#4227 feat: output multiple partition in MergeScanExec
  src/promql/src/extension_plan/range_manipulate.rs
  src/query/src/dist_plan/merge_scan.rs
  src/query/src/dist_plan/planner.rs
  tests/cases/distributed/explain/join_10_tables.result
  tests/cases/distributed/explain/multi_partitions.result
  tests/cases/distributed/explain/order_by.result
  tests/cases/distributed/explain/subqueries.result
  tests/cases/distributed/optimizer/filter_push_down.result
  tests/cases/standalone/common/order/order_by_exceptions.result
  tests/cases/standalone/common/partition.result
  tests/cases/standalone/common/partition.sql
  tests/cases/standalone/common/range/nest.result
  tests/cases/standalone/common/tql-explain-analyze/analyze.result
  tests/cases/standalone/common/tql-explain-analyze/explain.result
Labels: docs-not-required

#4229 fix: add `serialize_ignore_column_ids()` to fix deserialize region options failed from json string
  src/mito2/src/region/options.rs
Labels: docs-not-required
