Repository GreptimeTeam/greptimedb, pull requests merged in 2025-08, with the labels that each got.

#6460 docs(rfc): compatibility test framework
  docs/rfcs/2025-07-04-compatibility-test-framework.md
Labels: docs-not-required, size/S, documentation

#6625 refactor: remove procedure executor from DDL manager
  src/catalog/src/information_extension.rs
  src/cmd/src/standalone.rs
  src/common/meta/src/ddl.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/lib.rs
  src/common/meta/src/procedure_executor.rs
  src/flow/src/server.rs
  src/frontend/src/instance.rs
  src/frontend/src/instance/builder.rs
  src/meta-client/src/client.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/service/procedure.rs
  src/operator/src/procedure.rs
  src/operator/src/statement.rs
  src/operator/src/statement/ddl.rs
  tests-integration/src/standalone.rs
Labels: docs-not-required, size/M

#6629 fix: only return the __name__ label when there is one
  src/servers/src/grpc/prom_query_gateway.rs
  src/servers/src/http/prometheus.rs
  src/servers/src/http/result/prometheus_resp.rs
Labels: docs-not-required, size/M

#6630 chore: refine metrics tracking the flush/compaction cost time
  src/mito2/src/access_layer.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/compaction/compactor.rs
  src/mito2/src/flush.rs
  src/mito2/src/metrics.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/writer.rs
Labels: docs-not-required, size/S

#6637 chore: update jieba tantivy-jieba and tantivy version
  Cargo.lock
  src/index/Cargo.toml
Labels: docs-not-required, size/S

#6636 chore: add `limit` in resources panel and `Cache Miss` panel
  grafana/dashboards/metrics/cluster/dashboard.json
  grafana/dashboards/metrics/cluster/dashboard.md
  grafana/dashboards/metrics/cluster/dashboard.yaml
  grafana/dashboards/metrics/standalone/dashboard.json
  grafana/dashboards/metrics/standalone/dashboard.md
  grafana/dashboards/metrics/standalone/dashboard.yaml
  grafana/scripts/check.sh
Labels: docs-not-required, size/XXL, dashboard

#6611 feat: support tls for pg backend
  Cargo.lock
  config/config.md
  config/metasrv.example.toml
  src/cli/src/metadata/common.rs
  src/cmd/tests/load_config_test.rs
  src/common/meta/Cargo.toml
  src/common/meta/src/error.rs
  src/common/meta/src/kv_backend/rds.rs
  src/common/meta/src/kv_backend/rds/postgres.rs
  src/meta-srv/src/bootstrap.rs
  src/meta-srv/src/election/rds/postgres.rs
  src/meta-srv/src/metasrv.rs
  src/servers/src/tls.rs
  src/servers/tests/mysql/mysql_server_test.rs
  src/servers/tests/postgres/mod.rs
  tests-integration/tests/http.rs
Labels: docs-not-required, size/M

#6634 fix: bump greptime-sqlparser to avoid convert statement overflow
  Cargo.lock
  Cargo.toml
Labels: docs-not-required, size/XS

#6641 fix: show create flow's expire after
  Cargo.lock
  Cargo.toml
  src/common/function/Cargo.toml
  src/flow/Cargo.toml
  src/query/Cargo.toml
  src/sql/Cargo.toml
  src/sql/src/parsers/create_parser.rs
  src/sql/src/statements/create.rs
Labels: docs-not-required, size/S

#6618 feat: `absent` function in PromQL
  Cargo.lock
  Cargo.toml
  src/common/substrait/src/extension_serializer.rs
  src/promql/src/extension_plan.rs
  src/promql/src/extension_plan/absent.rs
  src/promql/src/extension_plan/planner.rs
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/absent.result
  tests/cases/standalone/common/promql/absent.sql
Labels: docs-required, size/M

#6635 feat: Add option to limit the files reading simultaneously
  config/config.md
  config/datanode.example.toml
  config/standalone.example.toml
  src/mito2/src/config.rs
  src/mito2/src/engine.rs
  src/mito2/src/engine/scan_test.rs
  src/mito2/src/error.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/read/series_scan.rs
  src/mito2/src/read/unordered_scan.rs
  tests-integration/tests/http.rs
Labels: docs-not-required, size/S

#6614 feat: introduce reconciliation interface
  Cargo.lock
  Cargo.toml
  src/common/function/src/admin.rs
  src/common/function/src/admin/reconcile_catalog.rs
  src/common/function/src/admin/reconcile_database.rs
  src/common/function/src/admin/reconcile_table.rs
  src/common/function/src/handlers.rs
  src/common/function/src/helper.rs
  src/common/function/src/lib.rs
  src/common/function/src/state.rs
  src/common/meta/Cargo.toml
  src/common/meta/src/procedure_executor.rs
  src/common/meta/src/reconciliation.rs
  src/common/meta/src/reconciliation/manager.rs
  src/common/meta/src/reconciliation/reconcile_catalog.rs
  src/common/meta/src/reconciliation/reconcile_catalog/reconcile_databases.rs
  src/common/meta/src/reconciliation/reconcile_table/resolve_column_metadata.rs
  src/meta-client/src/client.rs
  src/meta-client/src/client/procedure.rs
  src/meta-srv/src/error.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/service.rs
  src/meta-srv/src/service/cluster.rs
  src/meta-srv/src/service/procedure.rs
  src/meta-srv/src/service/utils.rs
  src/operator/src/procedure.rs
Labels: docs-not-required, size/L

#6649 feat: use real data to truncate manipulate range
  src/promql/src/extension_plan/instant_manipulate.rs
Labels: docs-not-required, size/XS

#6648 fix: sequence peek with remote value
  src/common/meta/src/sequence.rs
Labels: docs-not-required, size/S

#6646 feat: use column expr with filters in LogQuery
  src/log-query/src/log_query.rs
  src/query/src/log_query/planner.rs
Labels: docs-not-required, size/M

#6661 fix: box Explain node in Statement to reduce stack size
  src/sql/src/parsers/explain_parser.rs
  src/sql/src/statements/statement.rs
Labels: docs-not-required, size/XS

#6655 feat: EncodedBulkPartIter iters flat format and returns RecordBatch
  src/mito2/benches/memtable_bench.rs
  src/mito2/src/memtable.rs
  src/mito2/src/memtable/bulk/context.rs
  src/mito2/src/memtable/bulk/part.rs
  src/mito2/src/memtable/bulk/part_reader.rs
  src/mito2/src/memtable/bulk/row_group_reader.rs
Labels: docs-not-required, size/M

#6674 feat: update pgwire to 0.32
  Cargo.lock
  src/servers/Cargo.toml
  src/servers/src/postgres.rs
  src/servers/src/postgres/auth_handler.rs
Labels: docs-not-required, size/XS

#6678 refactor: refine error status code mappings
  src/common/procedure/src/error.rs
  src/meta-srv/src/error.rs
Labels: docs-not-required, size/XS

#6671 fix: TQL CTE parser take raw query string
  src/sql/src/parsers/with_tql_parser.rs
  tests/cases/standalone/common/tql/tql-cte.result
  tests/cases/standalone/common/tql/tql-cte.sql
Labels: docs-not-required, size/S

#6666 feat: Implements an iterator to merge RecordBatches
  src/datatypes/src/timestamp.rs
  src/mito2/src/read.rs
  src/mito2/src/read/flat_merge.rs
  src/mito2/src/sst/parquet/flat_format.rs
Labels: docs-not-required, size/M

#6691 feat: new HTTP API for formatting SQL
  src/servers/src/http.rs
  src/servers/src/http/handler.rs
  tests-integration/tests/http.rs
Labels: docs-required, size/XS

#6695 feat: Implements last row dedup strategy for flat format
  src/mito2/src/read.rs
  src/mito2/src/read/flat_dedup.rs
  src/mito2/src/sst/parquet/flat_format.rs
Labels: docs-not-required, size/M

#6694 fix: metrics without physical partition columns query push down
  src/catalog/src/kvbackend/manager.rs
  src/query/src/dist_plan/analyzer.rs
  src/table/src/dist_table.rs
  src/table/src/table.rs
  tests/cases/standalone/common/create/metric_engine_partition.result
  tests/cases/standalone/common/create/metric_engine_partition.sql
Labels: docs-not-required, size/M

#6664 feat: mito region staging state
  src/common/meta/src/error.rs
  src/common/meta/src/key/table_route.rs
  src/common/meta/src/rpc/router.rs
  src/datanode/src/heartbeat/handler/downgrade_region.rs
  src/metric-engine/src/engine.rs
  src/mito2/src/compaction.rs
  src/mito2/src/engine.rs
  src/mito2/src/engine/set_role_state_test.rs
  src/mito2/src/engine/staging_test.rs
  src/mito2/src/manifest/checkpointer.rs
  src/mito2/src/manifest/manager.rs
  src/mito2/src/manifest/tests/checkpoint.rs
  src/mito2/src/region.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_alter.rs
  src/mito2/src/worker/handle_drop.rs
  src/mito2/src/worker/handle_truncate.rs
  src/store-api/src/region_engine.rs
Labels: docs-not-required, size/L

#6718 fix: http and tql should return the same value for nuknown
  src/servers/src/http/result/prometheus_resp.rs
Labels: docs-not-required, size/XS

#6724 chore: impl cast from primitives to PathType
  Cargo.lock
  src/store-api/Cargo.toml
  src/store-api/src/region_request.rs
Labels: docs-not-required, size/XS

#6711 feat: add all partition column to logical table automatically
  src/common/meta/src/ddl/create_logical_tables.rs
  src/common/meta/src/ddl/create_logical_tables/metadata.rs
  src/common/meta/src/ddl/create_logical_tables/region_request.rs
  tests/cases/standalone/common/create/metric_engine_partition.result
Labels: docs-not-required, size/S

#6728 fix: correct offset's symbol
  src/promql/src/extension_plan/normalize.rs
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/offset.result
  tests/cases/standalone/common/promql/offset.sql
  tests/cases/standalone/common/tql/tql-cte.result
Labels: docs-not-required, size/S

#6714 fix: label_join should work with unknown
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/label.result
  tests/cases/standalone/common/promql/label.sql
Labels: docs-not-required, size/XS

#6712 feat(log-query): try infer and cast type for literal value
  src/log-query/src/log_query.rs
  src/query/src/log_query/planner.rs
Labels: docs-not-required, size/M

#6731 chore: add u64 for EqualValue and set expr is true when filter is empty
  src/log-query/src/log_query.rs
  src/query/src/log_query/planner.rs
Labels: docs-not-required, size/XS

#6723 refactor: use DummyCatalog to construct query engine for datanode
  Cargo.lock
  src/catalog/src/memory/manager.rs
  src/datanode/Cargo.toml
  src/datanode/src/datanode.rs
  src/datanode/src/error.rs
  src/datanode/src/region_server.rs
  src/query/src/dummy_catalog.rs
Labels: docs-not-required, size/S

#6699 feat: Store partition expr in RegionMetadata
  Cargo.lock
  Cargo.toml
  src/cli/src/metadata/repair/create_table.rs
  src/common/meta/src/ddl/create_logical_tables/region_request.rs
  src/common/meta/src/ddl/create_table.rs
  src/common/meta/src/ddl/create_table_template.rs
  src/common/meta/src/reconciliation/reconcile_logical_tables/reconcile_regions.rs
  src/file-engine/src/region.rs
  src/meta-srv/src/procedure/tests.rs
  src/metric-engine/src/engine/create.rs
  src/metric-engine/src/engine/create/extract_new_columns.rs
  src/metric-engine/src/test_util.rs
  src/mito2/src/engine/basic_test.rs
  src/mito2/src/engine/create_test.rs
  src/mito2/src/manifest/manager.rs
  src/mito2/src/manifest/tests/checkpoint.rs
  src/mito2/src/test_util.rs
  src/mito2/src/worker/handle_create.rs
  src/store-api/src/metadata.rs
  src/store-api/src/region_request.rs
  tests/cases/standalone/common/information_schema/region_statistics.result
Labels: docs-not-required, size/S

#6708 fix: support unknown for timestamp function
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/math.result
  tests/cases/standalone/common/promql/timestamp_fn.result
  tests/cases/standalone/common/promql/timestamp_fn.sql
Labels: docs-not-required, size/S

#6726 feat: persist manifest, SST and index files to staging dir
  src/mito2/src/access_layer.rs
  src/mito2/src/engine/staging_test.rs
  src/mito2/src/flush.rs
  src/mito2/src/manifest/manager.rs
  src/mito2/src/manifest/storage.rs
  src/mito2/src/worker/handle_flush.rs
  src/mito2/src/worker/handle_write.rs
Labels: docs-not-required, size/S

#6742 fix: truncate manifest action compat
  src/mito2/src/manifest/action.rs
Labels: docs-not-required, size/XS

#6709 feat: Implements last-non-null dedup strategy for flat format
  src/mito2/src/read/flat_dedup.rs
Labels: docs-not-required, size/M

#6748 fix: refine shadowrs dependency, remove libgit2, libz and potentally libssl
  Cargo.lock
  Cargo.toml
  flake.nix
  src/common/version/Cargo.toml
Labels: docs-not-required, size/XS

#6765 ci: add Signed-off-by in update-dev-builder-version script
  .github/scripts/update-dev-builder-version.sh
Labels: docs-not-required, size/XS, ci

#6762 feat: update opentelemetry family
  Cargo.lock
  Cargo.toml
  config/config.md
  config/datanode.example.toml
  config/flownode.example.toml
  config/frontend.example.toml
  config/metasrv.example.toml
  config/standalone.example.toml
  src/common/telemetry/Cargo.toml
  src/common/telemetry/src/logging.rs
Labels: docs-not-required, size/M

#6768 feat: derive macro `ToRow`
  Cargo.lock
  src/common/macro/Cargo.toml
  src/common/macro/src/lib.rs
  src/common/macro/src/to_row.rs
  src/common/macro/tests/test_derive.rs
  src/common/meta/Cargo.toml
Labels: docs-not-required, size/M

#6772 ci: add `is-current-version-latest` check to `helm-charts/homebrew-greptime` bump jobs
  .github/scripts/check-version.sh
  .github/workflows/release.yml
Labels: docs-not-required, size/XS, ci

#6704 fix: time() function should the same as behavior prometheus
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/time_fn.result
  tests/cases/standalone/common/promql/time_fn.sql
  tests/cases/standalone/common/promql/timestamp_fn.result
Labels: docs-required, size/S

#6770 refactor: refactor admin functions with async udf
  src/common/function/src/admin.rs
  src/common/function/src/admin/add_region_follower.rs
  src/common/function/src/admin/flush_compact_region.rs
  src/common/function/src/admin/flush_compact_table.rs
  src/common/function/src/admin/migrate_region.rs
  src/common/function/src/admin/reconcile_catalog.rs
  src/common/function/src/admin/reconcile_database.rs
  src/common/function/src/admin/reconcile_table.rs
  src/common/function/src/admin/remove_region_follower.rs
  src/common/function/src/flush_flow.rs
  src/common/function/src/function.rs
  src/common/function/src/function_factory.rs
  src/common/function/src/function_registry.rs
  src/common/function/src/system.rs
  src/common/function/src/system/procedure_state.rs
  src/common/macro/src/admin_fn.rs
  src/common/query/src/signature.rs
  src/operator/src/error.rs
  src/operator/src/statement/admin.rs
  tests/cases/distributed/information_schema/cluster_info.result
  tests/cases/distributed/information_schema/cluster_info.sql
  tests/cases/standalone/common/function/admin/flush_compact_table.result
  tests/cases/standalone/common/function/admin/flush_compact_table.sql
  tests/cases/standalone/common/insert/logical_metric_table.result
  tests/cases/standalone/common/insert/logical_metric_table.sql
  tests/cases/standalone/information_schema/cluster_info.result
  tests/cases/standalone/information_schema/cluster_info.sql
Labels: docs-not-required, size/XL

#6776 refactor: use DataFusion's UDAF implementation directly
  docs/how-to/how-to-write-aggregate-function.md
  src/common/function/src/aggrs/geo.rs
  src/common/function/src/aggrs/geo/encoding.rs
  src/common/function/src/aggrs/vector/product.rs
  src/common/function/src/aggrs/vector/sum.rs
  src/common/macro/tests/test_derive.rs
  src/common/query/src/error.rs
  src/common/query/src/function.rs
  src/common/query/src/lib.rs
  src/common/query/src/logical_plan.rs
  src/common/query/src/logical_plan/accumulator.rs
  src/common/query/src/logical_plan/udaf.rs
  src/common/query/src/prelude.rs
  src/query/src/tests.rs
  src/query/src/tests/my_sum_udaf_example.rs
  tests/cases/standalone/common/function/geo.result
  tests/cases/standalone/common/function/geo.sql
Labels: docs-not-required, size/XL, documentation

#6747 feat: simplify more regex patterns in promql
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/regex.result
  tests/cases/standalone/common/promql/regex.sql
Labels: docs-not-required, size/S

#6778 feat: add `IntoRow` and `Schema` derive macros
  src/common/macro/src/lib.rs
  src/common/macro/src/row.rs
  src/common/macro/src/row/attribute.rs
  src/common/macro/src/row/into_row.rs
  src/common/macro/src/row/schema.rs
  src/common/macro/src/row/to_row.rs
  src/common/macro/src/row/utils.rs
  src/common/macro/src/to_row.rs
  src/common/macro/tests/test_derive.rs
Labels: docs-not-required, size/L

#6777 feat: introduce `PersistStatsHandler`
  Cargo.lock
  config/config.md
  config/metasrv.example.toml
  src/client/Cargo.toml
  src/client/src/error.rs
  src/client/src/inserter.rs
  src/client/src/lib.rs
  src/cmd/src/standalone.rs
  src/common/event-recorder/src/error.rs
  src/common/event-recorder/src/recorder.rs
  src/common/meta/src/datanode.rs
  src/frontend/src/events.rs
  src/frontend/src/instance/builder.rs
  src/meta-srv/src/error.rs
  src/meta-srv/src/events.rs
  src/meta-srv/src/handler.rs
  src/meta-srv/src/handler/collect_leader_region_handler.rs
  src/meta-srv/src/handler/failure_handler.rs
  src/meta-srv/src/handler/persist_stats_handler.rs
  src/meta-srv/src/handler/region_lease_handler.rs
  src/meta-srv/src/lib.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/selector/weight_compute.rs
  src/meta-srv/src/utils.rs
  src/meta-srv/src/utils/insert_forwarder.rs
  src/metric-engine/src/utils.rs
  src/mito2/src/engine/basic_test.rs
  src/mito2/src/error.rs
  src/mito2/src/lib.rs
  src/mito2/src/meter.rs
  src/mito2/src/meter/rate_meter.rs
  src/mito2/src/region.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/region_write_ctx.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_write.rs
  src/operator/Cargo.toml
  src/operator/src/statement.rs
  src/store-api/src/region_engine.rs
  tests/conf/metasrv-test.toml.template
Labels: docs-not-required, size/L

#6782 refactor: simplify WAL Pruning procedure part2
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/procedure/test_util.rs
  src/meta-srv/src/procedure/wal_prune.rs
  src/meta-srv/src/procedure/wal_prune/manager.rs
  src/meta-srv/src/procedure/wal_prune/utils.rs
Labels: docs-not-required, size/M

#6785 chore: no logging when init table_flow cache if empty
  src/common/meta/src/cache/flow/table_flownode.rs
Labels: docs-not-required, size/XS

#6773 feat: support for custom headers in otel exporter
  config/config.md
  config/datanode.example.toml
  config/flownode.example.toml
  config/frontend.example.toml
  config/metasrv.example.toml
  config/standalone.example.toml
  src/common/telemetry/src/logging.rs
Labels: docs-not-required, size/XS

#6783 feat: provide plan info when flow exec
  src/flow/src/batching_mode/state.rs
  src/flow/src/batching_mode/task.rs
Labels: docs-not-required, size/S

#6789 chore: make internal grpc optional
  src/frontend/src/frontend.rs
  src/frontend/src/heartbeat.rs
  src/frontend/src/server.rs
  tests-integration/src/cluster.rs
  tests/conf/frontend-test.toml.template
  tests/runner/src/server_mode.rs
Labels: docs-not-required, size/XS

#6794 feat: update dashboard to v0.11.0
  src/servers/dashboard/VERSION
Labels: docs-not-required, size/XS

#6766 feat(mito): list SSTs from manifest and storage
  src/metric-engine/src/engine.rs
  src/metric-engine/src/engine/flush.rs
  src/mito2/src/access_layer.rs
  src/mito2/src/engine.rs
  src/mito2/src/engine/basic_test.rs
  src/mito2/src/region.rs
  src/mito2/src/worker.rs
  src/store-api/src/lib.rs
  src/store-api/src/sst_entry.rs
Labels: docs-not-required, size/M

#6796 chore: improve error message when there are more than one time index
  Cargo.lock
  src/store-api/Cargo.toml
  src/store-api/src/metadata.rs
Labels: docs-not-required, size/XS

#6792 feat: bump opendal to v0.54
  Cargo.lock
  Cargo.toml
  src/object-store/Cargo.toml
  src/object-store/src/factory.rs
  src/object-store/src/layers/lru_cache.rs
  src/object-store/src/layers/lru_cache/read_cache.rs
Labels: docs-not-required, size/XS

#6797 chore: modifying the visibility of the ScalarFunctionFactory field
  src/common/function/src/function_factory.rs
Labels: docs-not-required, size/XS

#6798 fix: time unit mismatch in `lookup_frontends` function
  src/meta-srv/src/lease.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/selector/lease_based.rs
  src/meta-srv/src/selector/load_based.rs
  src/meta-srv/src/selector/round_robin.rs
  src/meta-srv/src/service/admin/node_lease.rs
  tests-integration/src/cluster.rs
Labels: docs-not-required, size/S

#6806 feat: add cli option for internal grpc
  src/cmd/src/frontend.rs
Labels: docs-not-required, size/XS

#6786 feat: add FlatConvertFormat to convert record batches in old format to the flat format
  src/mito-codec/src/row_converter/sparse.rs
  src/mito2/src/read/compat.rs
  src/mito2/src/sst.rs
  src/mito2/src/sst/parquet/flat_format.rs
  src/mito2/src/sst/parquet/format.rs
Labels: docs-not-required, size/M

#6788 fix: follow promql rule for hanndling label of aggr
  src/servers/src/http/prometheus.rs
Labels: docs-not-required, size/XS

#6823 feat: add support for TWCS time window hints in insert operations
  src/client/src/inserter.rs
  src/common/event-recorder/src/recorder.rs
  src/frontend/src/events.rs
  src/meta-srv/src/metasrv/builder.rs
  src/operator/src/insert.rs
  tests-integration/src/grpc.rs
Labels: docs-not-required, size/S

#6817 feat: functions and structs to scan flat format file and mem ranges
  src/mito2/src/memtable.rs
  src/mito2/src/read/prune.rs
  src/mito2/src/read/scan_util.rs
  src/mito2/src/sst/parquet/file_range.rs
  src/mito2/src/sst/parquet/reader.rs
Labels: docs-not-required, size/M

#6831 chore: cherry pick #5625 to v0.12 branch
  .github/scripts/check-version.sh
  .github/workflows/develop.yml
  .github/workflows/release.yml
  .github/workflows/semantic-pull-request.yml
  cyborg/bin/bump-versions.ts
  cyborg/bin/follow-up-docs-issue.ts
  scripts/install.sh
  src/index/src/bloom_filter/applier.rs
  src/index/src/bloom_filter/creator.rs
Labels: docs-not-required, size/M, ci

#6832 chore: cherry pick #6821 and bump version to v0.12.2
  Cargo.lock
  Cargo.toml
  src/flow/src/adapter/flownode_impl.rs
  src/flow/src/heartbeat.rs
  src/frontend/src/heartbeat.rs
  src/meta-srv/src/service/heartbeat.rs
Labels: docs-not-required, size/S, ci

#6623 feat(flow): add eval interval option
  Cargo.lock
  Cargo.toml
  src/common/meta/src/cache/flow/table_flownode.rs
  src/common/meta/src/ddl/create_flow.rs
  src/common/meta/src/ddl/tests/create_flow.rs
  src/common/meta/src/key/flow.rs
  src/common/meta/src/key/flow/flow_info.rs
  src/common/meta/src/rpc/ddl.rs
  src/flow/Cargo.toml
  src/flow/src/adapter.rs
  src/flow/src/adapter/flownode_impl.rs
  src/flow/src/batching_mode/engine.rs
  src/flow/src/batching_mode/task.rs
  src/flow/src/engine.rs
  src/operator/src/expr_helper.rs
  src/query/src/error.rs
  src/query/src/parser.rs
  src/query/src/sql.rs
  src/sql/src/parser.rs
  src/sql/src/parsers.rs
  src/sql/src/parsers/create_parser.rs
  src/sql/src/parsers/tql_parser.rs
  src/sql/src/parsers/utils.rs
  src/sql/src/statements/create.rs
  tests/cases/distributed/flow-tql/flow_tql.result
  tests/cases/distributed/flow-tql/flow_tql.sql
  tests/cases/standalone/flow-tql/flow_tql.result
  tests/cases/standalone/flow-tql/flow_tql.sql
Labels: docs-required, size/L

#6833 refactor(meta): refactor admin service to use modern axum handlers
  src/meta-srv/src/service/admin.rs
  src/meta-srv/src/service/admin/health.rs
  src/meta-srv/src/service/admin/heartbeat.rs
  src/meta-srv/src/service/admin/leader.rs
  src/meta-srv/src/service/admin/maintenance.rs
  src/meta-srv/src/service/admin/node_lease.rs
  src/meta-srv/src/service/admin/procedure.rs
  src/meta-srv/src/service/admin/recovery.rs
  src/meta-srv/src/service/admin/sequencer.rs
  src/meta-srv/src/service/admin/util.rs
Labels: docs-not-required, size/M

#6757 docs(rfc): async index build
  docs/rfcs/2025-08-16-async-index-build.md
Labels: docs-not-required, size/S, documentation

#6829 fix: use actual buf size as cache page value size
  src/mito2/src/cache.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/helper.rs
  src/mito2/src/sst/parquet/page_reader.rs
  src/mito2/src/sst/parquet/row_group.rs
Labels: docs-not-required, size/M

#6827 fix: gRPC auth
  src/auth/src/permission.rs
  src/client/src/database.rs
  src/frontend/src/instance/grpc.rs
  src/frontend/src/server.rs
  src/servers/src/grpc.rs
  src/servers/src/grpc/authorize.rs
  src/servers/src/grpc/context_auth.rs
  src/servers/src/grpc/flight.rs
  src/servers/src/grpc/greptime_handler.rs
  src/servers/src/grpc/prom_query_gateway.rs
  src/servers/src/http/authorize.rs
  src/servers/src/interceptor.rs
  src/servers/src/otel_arrow.rs
  src/servers/src/query_handler/grpc.rs
  src/servers/tests/mod.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/grpc.rs
Labels: docs-not-required, size/M

#6837 feat: rename `region_statistics` to `region_statistics_history`
  src/meta-srv/src/handler/persist_stats_handler.rs
Labels: docs-not-required, size/XS

#6751 feat: add event ts to region manifest
  Cargo.lock
  config/config.md
  config/datanode.example.toml
  src/mito2/Cargo.toml
  src/mito2/src/compaction.rs
  src/mito2/src/compaction/compactor.rs
  src/mito2/src/config.rs
  src/mito2/src/engine.rs
  src/mito2/src/engine/edit_region_test.rs
  src/mito2/src/error.rs
  src/mito2/src/flush.rs
  src/mito2/src/manifest/action.rs
  src/mito2/src/manifest/checkpointer.rs
  src/mito2/src/manifest/manager.rs
  src/mito2/src/manifest/storage.rs
  src/mito2/src/manifest/tests/checkpoint.rs
  src/mito2/src/region.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/test_util.rs
  src/mito2/src/test_util/scheduler_util.rs
  src/mito2/src/test_util/version_util.rs
  src/mito2/src/worker/handle_truncate.rs
  tests-integration/tests/http.rs
Labels: docs-not-required, size/M

#6851 chore: run `pull-test-deps-images.sh` before docker compose to avoid rate limit
  .github/workflows/develop.yml
Labels: docs-not-required, size/XS, ci

#6846 chore: add server-side error logging to improve observability in gRPC
  src/common/error/src/status_code.rs
Labels: docs-not-required, size/XS

#6854 ci: install ssh for Android dev-builder
  docker/dev-builder/android/Dockerfile
Labels: docs-not-required, size/XS, docker

#6848 refactor: add stop methods for `LocalFilePurger` and `CompactionRegion`
  src/mito2/src/compaction/compactor.rs
  src/mito2/src/sst/file_purger.rs
Labels: docs-not-required, size/XS

#6855 feat: Support more key types for the DictionaryVector
  src/datatypes/src/vectors/dictionary.rs
  src/datatypes/src/vectors/helper.rs
Labels: docs-not-required, size/S
