Repository GreptimeTeam/greptimedb, pull requests merged in 2025-01, with the labels that each got.

#5194 feat: hints all in one
  src/servers/src/hint_headers.rs
Labels: docs-not-required

#5265 chore: typo
  src/flow/src/adapter/node_context.rs
  src/flow/src/adapter/table_source.rs
  src/flow/src/df_optimizer.rs
  src/flow/src/repr.rs
Labels: docs-not-required

#5258 fix: correct invalid testing feature gate usage
  src/cli/Cargo.toml
  src/common/meta/src/key/schema_metadata_manager.rs
  src/datanode/src/datanode.rs
  src/mito2/src/compaction.rs
  src/mito2/src/engine/alter_test.rs
  src/mito2/src/engine/append_mode_test.rs
  src/mito2/src/engine/compaction_test.rs
  src/mito2/src/engine/drop_test.rs
  src/mito2/src/engine/edit_region_test.rs
  src/mito2/src/engine/filter_deleted_test.rs
  src/mito2/src/engine/flush_test.rs
  src/mito2/src/engine/merge_mode_test.rs
  src/mito2/src/engine/open_test.rs
  src/mito2/src/engine/parallel_test.rs
  src/mito2/src/engine/prune_test.rs
  src/mito2/src/engine/row_selector_test.rs
  src/mito2/src/engine/truncate_test.rs
  src/mito2/src/test_util.rs
Labels: docs-not-required

#5264 fix: import tokio-metrics and tokio-metrics-collector
  Cargo.lock
  src/common/runtime/Cargo.toml
Labels: docs-not-required

#5260 feat: use connection pool for pg kv backend in preparation for txn
  Cargo.lock
  Cargo.toml
  src/common/meta/Cargo.toml
  src/common/meta/src/error.rs
  src/common/meta/src/kv_backend/postgres.rs
  src/meta-srv/Cargo.toml
  src/meta-srv/src/bootstrap.rs
  src/meta-srv/src/error.rs
Labels: docs-not-required

#5251 fix(flow): flow's table schema cache
  src/flow/src/adapter.rs
  src/flow/src/adapter/flownode_impl.rs
  src/flow/src/adapter/node_context.rs
  src/flow/src/adapter/table_source.rs
  src/flow/src/transform.rs
  src/flow/src/transform/plan.rs
  tests/cases/standalone/common/flow/flow_aft_alter.result
  tests/cases/standalone/common/flow/flow_aft_alter.sql
Labels: docs-not-required

#5272 ci: update nix setup
  shell.nix
Labels: docs-not-required

#5267 refactor: adjust index cache page size
  config/config.md
  config/datanode.example.toml
  config/standalone.example.toml
  src/mito2/src/config.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5275 fix: flow handle reordered inserts
  src/flow/src/adapter/flownode_impl.rs
  src/flow/src/transform/aggr.rs
  tests/cases/standalone/common/flow/flow_insert.result
  tests/cases/standalone/common/flow/flow_insert.sql
Labels: docs-not-required

#5273 feat: support add if not exists in the gRPC alter kind
  Cargo.lock
  Cargo.toml
  src/common/grpc-expr/src/alter.rs
  src/common/grpc-expr/src/insert.rs
  src/common/grpc-expr/src/util.rs
  src/common/meta/src/ddl/alter_logical_tables/update_metadata.rs
  src/common/meta/src/ddl/alter_table.rs
  src/common/meta/src/ddl/alter_table/region_request.rs
  src/common/meta/src/ddl/alter_table/update_metadata.rs
  src/common/meta/src/ddl/test_util/alter_table.rs
  src/common/meta/src/ddl/tests/alter_logical_tables.rs
  src/common/meta/src/ddl/tests/alter_table.rs
  src/mito2/src/worker/handle_alter.rs
  src/mito2/src/worker/handle_manifest.rs
  src/operator/src/expr_factory.rs
  src/operator/src/insert.rs
  src/operator/src/statement/ddl.rs
  src/store-api/src/region_request.rs
  src/table/src/metadata.rs
  src/table/src/requests.rs
  tests-integration/src/grpc.rs
  tests-integration/tests/grpc.rs
Labels: docs-not-required

#5279 fix: better fmt check from 40s to 4s
  scripts/check-snafu.py
  src/common/datasource/tests/orc/write.py
Labels: docs-not-required

#5280 chore: suppress list warning
  src/mito2/src/sst/index/intermediate.rs
Labels: docs-not-required

#5277 refactor: flow replace check&better error msg
  src/flow/src/adapter.rs
  src/flow/src/adapter/flownode_impl.rs
  src/flow/src/adapter/node_context.rs
  src/flow/src/adapter/worker.rs
  src/flow/src/error.rs
  src/flow/src/server.rs
  tests/cases/standalone/common/alter/change_col_fulltext_options.result
  tests/cases/standalone/common/alter/change_col_fulltext_options.sql
  tests/cases/standalone/common/flow/flow_more_usecase.result
  tests/cases/standalone/common/flow/flow_more_usecase.sql
  tests/cases/standalone/common/flow/show_create_flow.result
  tests/cases/standalone/common/flow/show_create_flow.sql
Labels: docs-not-required

#5283 fix: brings back functions required by downstream projects
  src/cmd/src/datanode.rs
  src/cmd/src/flownode.rs
Labels: docs-not-required

#5259 chore(config)!: refactor configs of write cache
  config/config.md
  config/datanode.example.toml
  config/standalone.example.toml
  src/cmd/tests/load_config_test.rs
  src/datanode/src/datanode.rs
  src/mito2/src/config.rs
  src/mito2/src/engine/edit_region_test.rs
  src/mito2/src/worker.rs
  tests-integration/tests/http.rs
Labels: breaking-change, docs-not-required

#5290 docs: update standalone example
  config/config.md
  config/standalone.example.toml
Labels: docs-not-required

#5266 feat: add Txn for pg kv backend
  Cargo.lock
  src/cli/Cargo.toml
  src/cli/src/bench.rs
  src/common/meta/src/error.rs
  src/common/meta/src/kv_backend/etcd.rs
  src/common/meta/src/kv_backend/memory.rs
  src/common/meta/src/kv_backend/postgres.rs
  src/common/meta/src/kv_backend/test.rs
  src/common/meta/src/kv_backend/txn.rs
  src/meta-srv/Cargo.toml
  src/meta-srv/src/bootstrap.rs
  src/meta-srv/src/election/postgres.rs
Labels: docs-not-required

#5250 feat: impl COPY a query resultset to external file
  src/frontend/src/instance.rs
  src/operator/src/statement.rs
  src/operator/src/statement/copy_query_to.rs
  src/operator/src/statement/copy_table_to.rs
  src/sql/src/parsers/copy_parser.rs
  src/sql/src/statements/copy.rs
  src/table/src/requests.rs
  tests/cases/standalone/common/copy/copy_to_fs.result
  tests/cases/standalone/common/copy/copy_to_fs.sql
Labels: docs-not-required

#5294 fix(fuzz): ensure all regions leases are renewed
  Cargo.lock
  tests-fuzz/Cargo.toml
  tests-fuzz/targets/failover/fuzz_failover_metric_regions.rs
  tests-fuzz/targets/failover/fuzz_failover_mito_regions.rs
  tests-fuzz/targets/migration/fuzz_migrate_metric_regions.rs
  tests-fuzz/targets/migration/fuzz_migrate_mito_regions.rs
Labels: docs-not-required

#5288 feat: support Loki JSON write
  Cargo.lock
  src/servers/Cargo.toml
  src/servers/src/error.rs
  src/servers/src/http.rs
  src/servers/src/http/event.rs
  src/servers/src/http/loki.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5276 feat: introduce `ParallelFstValuesMapper`
  src/common/base/Cargo.toml
  src/common/base/src/range_read.rs
  src/index/src/bloom_filter/applier.rs
  src/index/src/bloom_filter/reader.rs
  src/index/src/inverted_index/format/reader.rs
  src/index/src/inverted_index/format/reader/blob.rs
  src/index/src/inverted_index/format/reader/footer.rs
  src/index/src/inverted_index/format/writer/blob.rs
  src/index/src/inverted_index/search/fst_values_mapper.rs
  src/index/src/inverted_index/search/index_apply/predicates_apply.rs
  src/mito2/src/cache/index.rs
  src/mito2/src/cache/index/bloom_filter_index.rs
  src/mito2/src/cache/index/inverted_index.rs
  src/mito2/src/sst/index/bloom_filter/applier.rs
  src/mito2/src/sst/index/bloom_filter/creator.rs
  src/mito2/src/sst/index/inverted_index/applier.rs
  src/mito2/src/sst/index/puffin_manager.rs
  src/mito2/src/sst/index/store.rs
  src/puffin/Cargo.toml
  src/puffin/src/file_format/reader/file.rs
  src/puffin/src/file_format/reader/footer.rs
  src/puffin/src/partial_reader.rs
  src/puffin/src/partial_reader/async.rs
  src/puffin/src/partial_reader/position.rs
  src/puffin/src/partial_reader/sync.rs
  src/puffin/src/puffin_manager/file_accessor.rs
  src/puffin/src/puffin_manager/fs_puffin_manager/reader.rs
  src/puffin/src/puffin_manager/stager/bounded_stager.rs
  src/puffin/src/puffin_manager/tests.rs
  src/puffin/src/tests.rs
Labels: docs-not-required

#5293 ci: disable docker/rust cache temporarily and merge docker compose files
  .github/workflows/develop.yml
  tests-integration/README.md
  tests-integration/fixtures/docker-compose.yml
  tests-integration/fixtures/etcd/docker-compose-standalone.yml
  tests-integration/fixtures/kafka/README.md
  tests-integration/fixtures/kafka/docker-compose-standalone.yml
  tests-integration/fixtures/minio/docker-compose-standalone.yml
  tests-integration/fixtures/postgres/docker-compose-standalone.yml
Labels: docs-not-required

#5270 feat(pipeline): allow coerce timestamp from integer values
  src/pipeline/src/etl/transform/transformer/greptime/coerce.rs
  src/pipeline/tests/timestamp.rs
Labels: docs-not-required

#5299 chore: cleanup dockerfile
  docker/dev-builder/ubuntu/Dockerfile
Labels: docs-not-required

#5300 fix: pass unknown encoding in decompression layer
  src/servers/src/http.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5278 feat: update standalone grafana with new metric name
  grafana/greptimedb-cluster.json
  grafana/greptimedb.json
Labels: docs-not-required

#5286 fix(bloom-filter): filter rows with segment precision
  Cargo.lock
  src/index/Cargo.toml
  src/index/src/bloom_filter.rs
  src/index/src/bloom_filter/applier.rs
  src/index/src/bloom_filter/reader.rs
  src/mito2/src/cache/index/bloom_filter_index.rs
  src/mito2/src/sst/index/bloom_filter/applier.rs
  src/mito2/src/sst/index/bloom_filter/applier/builder.rs
  src/mito2/src/sst/index/bloom_filter/creator.rs
  src/mito2/src/sst/parquet/reader.rs
  src/mito2/src/test_util/sst_util.rs
  src/mito2/src/test_util/version_util.rs
Labels: docs-not-required

#5304 fix(pg_backend): correct `set idle_in_transaction_session_timeout` statement
  .github/actions/build-linux-artifacts/action.yml
  .github/workflows/nightly-ci.yml
  config/config.md
  config/metasrv.example.toml
  src/cmd/src/metasrv.rs
  src/meta-srv/src/election/postgres.rs
  src/meta-srv/src/metasrv.rs
Labels: docs-not-required

#5302 docs: Added C/C++ building essentials to the prerequisites list
  README.md
Labels: docs-not-required

#5309 refactor: refactor `PgStore`
  .github/workflows/develop.yml
  Cargo.lock
  Cargo.toml
  src/cli/src/bench.rs
  src/common/meta/Cargo.toml
  src/common/meta/src/error.rs
  src/common/meta/src/kv_backend/etcd.rs
  src/common/meta/src/kv_backend/memory.rs
  src/common/meta/src/kv_backend/postgres.rs
  src/common/meta/src/kv_backend/test.rs
  src/common/meta/src/rpc/store.rs
  src/common/procedure/Cargo.toml
  src/log-store/src/raft_engine/backend.rs
  src/meta-srv/src/bootstrap.rs
  src/meta-srv/src/election/postgres.rs
  tests/runner/src/env.rs
  tests/runner/src/main.rs
  tests/runner/src/util.rs
Labels: docs-not-required

#5310 chore(nightly-ci): remove `pg_kvbackend` feature gate in windows ci
  .github/workflows/nightly-ci.yml
Labels: docs-not-required

#5297 fix: show index to display skipping index
  src/catalog/src/system_schema/information_schema/key_column_usage.rs
  src/datatypes/src/schema/column_schema.rs
  src/query/src/sql.rs
  tests/cases/standalone/common/alter/change_col_fulltext_options.result
  tests/cases/standalone/common/alter/change_col_fulltext_options.sql
  tests/cases/standalone/common/show/show_index.result
  tests/cases/standalone/common/show/show_index.sql
  tests/cases/standalone/common/system/information_schema.result
Labels: docs-not-required

#5301 fix: drop unused dep using udeps to minial the size
  Cargo.lock
  src/cli/Cargo.toml
  src/flow/Cargo.toml
  src/script/Cargo.toml
  src/session/Cargo.toml
Labels: docs-not-required

#5295 feat(flow): flow refill state (Part 1)
  src/common/meta/src/key/table_info.rs
  src/common/recordbatch/src/recordbatch.rs
  src/flow/src/adapter.rs
  src/flow/src/adapter/node_context.rs
  src/flow/src/adapter/table_source.rs
  src/flow/src/error.rs
  src/flow/src/expr.rs
  src/flow/src/expr/linear.rs
  src/flow/src/expr/scalar.rs
  src/flow/src/expr/utils.rs
  src/flow/src/lib.rs
  src/flow/src/plan.rs
  src/flow/src/plan/reduce.rs
  src/flow/src/server.rs
  src/flow/src/test_utils.rs
  src/operator/src/insert.rs
  tests/runner/src/env.rs
Labels: docs-not-required

#5298 refactor: optimize out partition split insert requests
  src/operator/src/insert.rs
  src/operator/src/req_convert/insert/row_to_region.rs
  src/partition/src/splitter.rs
Labels: docs-not-required

#5305 perf: parse Loki labels in protobuf write path
  Cargo.lock
  src/servers/Cargo.toml
  src/servers/benches/loki_labels.rs
  src/servers/src/error.rs
  src/servers/src/http/loki.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5318 ci: do not trigger tests when there is a merge conflict
  .github/workflows/develop.yml
Labels: docs-not-required

#5313 feat: support `select session_user;`
  src/common/function/src/system.rs
  src/common/function/src/system/database.rs
  tests/cases/standalone/common/system/pg_catalog.result
  tests/cases/standalone/common/system/pg_catalog.sql
Labels: docs-not-required

#5314 feat: auto detecting local IP to use as hostname
  Cargo.lock
  Cargo.toml
  config/config.md
  config/datanode.example.toml
  config/frontend.example.toml
  src/cmd/src/datanode.rs
  src/cmd/src/flownode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/metasrv.rs
  src/cmd/src/standalone.rs
  src/cmd/tests/load_config_test.rs
  src/meta-srv/Cargo.toml
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/mocks.rs
  src/meta-srv/src/service/heartbeat.rs
  src/meta-srv/src/service/store.rs
  src/servers/Cargo.toml
  src/servers/src/grpc.rs
  tests-integration/src/cluster.rs
  tests-integration/src/standalone.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/http.rs
  tests/conf/datanode-test.toml.template
  tests/conf/frontend-test.toml.template
  tests/runner/src/env.rs
Labels: docs-not-required

#5319 ci: use mold for tests
  .github/workflows/develop.yml
Labels: docs-not-required

#5261 feat: support elasticsearch `_bulk` API to ingest logs
  Cargo.lock
  src/servers/src/elasticsearch.rs
  src/servers/src/error.rs
  src/servers/src/http.rs
  src/servers/src/http/event.rs
  src/servers/src/lib.rs
  src/servers/src/metrics.rs
  src/session/src/context.rs
  tests-integration/tests/http.rs
Labels: docs-required

#5244 feat(config): make table name of pg backend configurable
  config/config.md
  config/metasrv.example.toml
  src/meta-srv/src/bootstrap.rs
  src/meta-srv/src/election/postgres.rs
  src/meta-srv/src/metasrv.rs
Labels: docs-not-required

#5311 ci: drop useless deadsnake
  docker/buildx/ubuntu/Dockerfile
Labels: docs-not-required

#5303 feat: Add `VEC_PRODUCT`, `VEC_ELEM_PRODUCT`, `VEC_NORM`.
  src/common/function/src/scalars/aggregate.rs
  src/common/function/src/scalars/vector.rs
  src/common/function/src/scalars/vector/elem_product.rs
  src/common/function/src/scalars/vector/product.rs
  src/common/function/src/scalars/vector/vector_norm.rs
  src/query/src/tests.rs
  src/query/src/tests/vec_product_test.rs
  tests/cases/standalone/common/function/vector/vector.result
  tests/cases/standalone/common/function/vector/vector.sql
Labels: docs-not-required

#5325 fix: drop all python embedding code for docker and doc
  README.md
  docker/buildx/centos/Dockerfile
  docker/dev-builder/android/Dockerfile
  docker/dev-builder/centos/Dockerfile
  docker/dev-builder/ubuntu/Dockerfile
  docker/python/requirements.txt
Labels: docs-not-required

#5324 ci: disable cache for some tasks, create cache in nightly build
  .github/workflows/develop.yml
  .github/workflows/nightly-ci.yml
Labels: docs-not-required

#5327 build: disable local IP detection feature in Android binary
  src/meta-srv/Cargo.toml
  src/meta-srv/src/metasrv.rs
  src/servers/Cargo.toml
  src/servers/src/grpc.rs
Labels: docs-not-required

#5329 fix: android build
  src/meta-srv/src/metasrv.rs
Labels: docs-not-required

#5328 feat: add show search_path for pg
  src/frontend/src/instance.rs
  src/operator/src/statement.rs
  src/operator/src/statement/show.rs
  src/query/src/sql.rs
  src/sql/src/parsers/show_parser.rs
  src/sql/src/statements/show.rs
  src/sql/src/statements/statement.rs
  tests/cases/standalone/common/system/pg_catalog.result
  tests/cases/standalone/common/system/pg_catalog.sql
Labels: docs-not-required

#5262 feat: support alter add multiple columns
  src/operator/src/expr_factory.rs
  src/sql/src/parser.rs
  src/sql/src/parsers/alter_parser.rs
  src/sql/src/parsers/show_parser.rs
  src/sql/src/statements/alter.rs
  src/sql/src/statements/transform/type_alias.rs
  tests-integration/src/tests/instance_test.rs
  tests/cases/standalone/common/alter/add_col.result
  tests/cases/standalone/common/alter/add_col.sql
Labels: docs-not-required

#5337 chore: update rustls
  Cargo.lock
  Cargo.toml
  src/common/wal/Cargo.toml
  src/servers/Cargo.toml
Labels: docs-not-required

#5336 feat: update dashboard to v0.7.4
  src/servers/dashboard/VERSION
Labels: docs-not-required

#5342 feat: add set search_path to 'xxx' for pg
  src/operator/src/statement.rs
  src/operator/src/statement/set.rs
  tests/cases/standalone/common/system/pg_catalog.result
  tests/cases/standalone/common/system/pg_catalog.sql
Labels: docs-not-required

#5340 feat: update dashboard to v0.7.6
  src/servers/dashboard/VERSION
Labels: docs-not-required

#5334 fix(test): use different table name
  src/meta-srv/src/election/postgres.rs
Labels: docs-not-required

#5349 chore: drop useless import raw_normalize_path in object-store lib
  src/object-store/src/lib.rs
Labels: docs-not-required

#5348 fix: skip building indexer when `indexed_column_ids` are empty
  src/mito2/src/sst/index.rs
Labels: docs-not-required

#5335 refactor(elasticsearch): use `_index` as greptimedb table in log ingestion and add `/${index}/_bulk` API
  src/servers/src/elasticsearch.rs
  src/servers/src/http.rs
  src/servers/src/http/event.rs
  tests-integration/tests/http.rs
Labels: docs-required

#5350 feat: update dashboard to v0.7.7
  src/servers/dashboard/VERSION
Labels: docs-not-required

#5354 refactor: Bump opendal to 0.51.1
  Cargo.lock
  src/common/procedure/src/store/state_store.rs
  src/mito2/src/cache/file_cache.rs
  src/mito2/src/manifest/storage.rs
  src/mito2/src/worker/handle_drop.rs
  src/object-store/Cargo.toml
  src/object-store/src/layers/lru_cache.rs
  src/object-store/src/layers/lru_cache/read_cache.rs
  src/object-store/src/lib.rs
Labels: docs-not-required

#5330 fix: security fix, sqlx, hashbrown, idna and CI updates
  .github/workflows/develop.yml
  .github/workflows/nightly-ci.yml
  Cargo.lock
  src/common/pprof/Cargo.toml
  tests-fuzz/Cargo.toml
  tests-fuzz/src/utils.rs
  tests-fuzz/src/utils/cluster_info.rs
  tests-fuzz/src/utils/partition.rs
  tests-fuzz/src/validator/column.rs
  tests-fuzz/src/validator/row.rs
  tests-fuzz/src/validator/table.rs
  tests-integration/Cargo.toml
Labels: docs-not-required

#5343 ci: automatically bump doc version when release GreptimeDB
  .github/workflows/release.yml
  cyborg/bin/bump-doc-version.ts
Labels: docs-not-required

#5355 feat: update dashboard to v0.7.8
  src/servers/dashboard/VERSION
Labels: docs-not-required

#5307 fix: handle insert default value
  src/datatypes/src/schema/column_schema.rs
  src/datatypes/src/schema/constraint.rs
  src/flow/src/adapter/flownode_impl.rs
  src/flow/src/adapter/node_context.rs
  src/flow/src/adapter/table_source.rs
  src/flow/src/adapter/util.rs
  src/mito2/src/error.rs
  src/mito2/src/request.rs
  src/operator/src/insert.rs
  src/operator/src/req_convert/insert.rs
  src/operator/src/req_convert/insert/fill_impure_default.rs
  src/operator/src/req_convert/insert/stmt_to_region.rs
  tests/cases/standalone/common/flow/flow_ins_default.result
  tests/cases/standalone/common/flow/flow_ins_default.sql
Labels: docs-not-required

#5315 feat: more than one flow workers
  Cargo.lock
  config/config.md
  config/flownode.example.toml
  config/standalone.example.toml
  src/cmd/src/standalone.rs
  src/common/config/src/config.rs
  src/flow/Cargo.toml
  src/flow/src/adapter.rs
  src/flow/src/adapter/util.rs
  src/flow/src/lib.rs
  src/flow/src/server.rs
  tests-integration/tests/http.rs
Labels: docs-required

#5357 fix: improve error handling in pipeline and log in log store
  src/log-store/src/raft_engine/log_store.rs
  src/pipeline/src/etl/processor.rs
Labels: docs-not-required

#5347 chore: avoid sending create table requests for already existing tables
  src/common/meta/src/ddl/create_logical_tables.rs
  src/common/meta/src/ddl/create_logical_tables/check.rs
  src/common/meta/src/ddl/create_logical_tables/region_request.rs
  src/meta-srv/src/procedure/tests.rs
Labels: docs-not-required

#5339 fix: panic and interval when do not have keyword `interval`
  src/sql/src/error.rs
  src/sql/src/statements.rs
  tests/cases/standalone/common/insert/insert_wrong_type.result
  tests/cases/standalone/common/insert/insert_wrong_type.sql
Labels: docs-not-required

#5363 fix: better makefile help show, show fuzz and fuzz-ls also
  Makefile
Labels: docs-not-required

#5317 feat(flow): refill flow task def(Part 2)
  src/flow/src/adapter.rs
  src/flow/src/adapter/refill.rs
Labels: docs-not-required

#5364 ci: do not collect coverage from pull request any more
  .github/workflows/dependency-check.yml
  .github/workflows/develop.yml
  rust-toolchain.toml
  shell.nix
Labels: docs-not-required

#5316 feat: refine log query AST
  src/log-query/src/log_query.rs
  src/query/src/log_query/planner.rs
Labels: docs-not-required

#5369 fix: redirect /dashboard to /dashboard/
  src/servers/src/http.rs
  src/servers/src/http/dashboard.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5365 feat: introduce `SparsePrimaryKeyCodec` and `SparsePrimaryKeyFilter`
  src/mito2/src/memtable/partition_tree.rs
  src/mito2/src/memtable/partition_tree/partition.rs
  src/mito2/src/memtable/partition_tree/primary_key_filter.rs
  src/mito2/src/memtable/partition_tree/shard.rs
  src/mito2/src/memtable/partition_tree/shard_builder.rs
  src/mito2/src/row_converter.rs
  src/mito2/src/row_converter/dense.rs
  src/mito2/src/row_converter/sparse.rs
  src/mito2/src/test_util/memtable_util.rs
  src/mito2/src/test_util/sst_util.rs
Labels: docs-not-required

#5368 feat: update dashboard to v0.7.9-rc.1
  src/servers/dashboard/VERSION
Labels: docs-not-required

#5367 feat: filter batch by sequence in memtable
  src/metric-engine/src/metadata_region.rs
  src/mito2/benches/memtable_bench.rs
  src/mito2/src/engine/projection_test.rs
  src/mito2/src/flush.rs
  src/mito2/src/memtable.rs
  src/mito2/src/memtable/bulk.rs
  src/mito2/src/memtable/bulk/part.rs
  src/mito2/src/memtable/bulk/part_reader.rs
  src/mito2/src/memtable/partition_tree.rs
  src/mito2/src/memtable/partition_tree/tree.rs
  src/mito2/src/memtable/time_partition.rs
  src/mito2/src/memtable/time_series.rs
  src/mito2/src/read.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/test_util/memtable_util.rs
  src/store-api/src/storage/requests.rs
Labels: docs-not-required

#5131 feat: Alter inverted index
  Cargo.lock
  Cargo.toml
  src/api/src/v1/column_def.rs
  src/common/grpc-expr/src/alter.rs
  src/common/grpc-expr/src/error.rs
  src/common/meta/src/ddl/alter_table/region_request.rs
  src/common/meta/src/ddl/alter_table/update_metadata.rs
  src/datatypes/src/schema/column_schema.rs
  src/mito2/src/engine/alter_test.rs
  src/operator/src/expr_factory.rs
  src/query/src/sql/show_create_table.rs
  src/sql/src/parsers/alter_parser.rs
  src/sql/src/statements.rs
  src/sql/src/statements/alter.rs
  src/store-api/src/metadata.rs
  src/store-api/src/region_request.rs
  src/table/src/metadata.rs
  src/table/src/requests.rs
  tests/cases/standalone/common/alter/change_col_inverted_index.result
  tests/cases/standalone/common/alter/change_col_inverted_index.sql
Labels: docs-required

#5372 feat: flow's http server
  config/config.md
  config/flownode.example.toml
  src/cmd/src/flownode.rs
  src/flow/src/adapter.rs
  src/flow/src/server.rs
  tests/runner/src/env.rs
Labels: docs-not-required

#5379 chore: update proto rev
  Cargo.lock
  Cargo.toml
Labels: docs-not-required

#5381 fix!: correct index cache config
  config/config.md
  config/datanode.example.toml
  config/standalone.example.toml
  src/mito2/src/cache.rs
  src/mito2/src/config.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/sst/index/inverted_index/applier/builder.rs
  src/mito2/src/sst/index/inverted_index/creator.rs
  src/mito2/src/worker.rs
Labels: docs-required, breaking-change

#5323 feat: `digest` pipeline processor
  src/pipeline/src/etl/error.rs
  src/pipeline/src/etl/field.rs
  src/pipeline/src/etl/processor.rs
  src/pipeline/src/etl/processor/digest.rs
  src/pipeline/tests/pipeline.rs
Labels: docs-required

#5366 fix: panic when received invalid query string
  src/servers/src/mysql/federated.rs
Labels: docs-not-required

#5371 feat: set default compaction parallelism
  src/mito2/src/compaction.rs
  src/mito2/src/compaction/compactor.rs
  src/mito2/src/compaction/task.rs
  src/mito2/src/engine/open_test.rs
  src/mito2/src/worker/handle_compaction.rs
Labels: docs-not-required

#5386 test: fix config api test
  tests-integration/tests/http.rs
Labels: docs-not-required

#5370 fix: increase in progress scan gauge and adjust histogram buckets
  src/metric-engine/src/metrics.rs
  src/mito2/src/metrics.rs
  src/mito2/src/read/scan_util.rs
Labels: docs-not-required

#5377 feat!: use indirect indices for bloom filter to reduce size
  Cargo.lock
  Cargo.toml
  src/index/Cargo.toml
  src/index/src/bloom_filter.rs
  src/index/src/bloom_filter/applier.rs
  src/index/src/bloom_filter/creator.rs
  src/index/src/bloom_filter/creator/finalize_segment.rs
  src/index/src/bloom_filter/error.rs
  src/index/src/bloom_filter/reader.rs
  src/mito2/src/cache/index/bloom_filter_index.rs
  src/mito2/src/sst/index/bloom_filter/creator.rs
Labels: breaking-change, docs-not-required

#5384 fix: make flow worker actually run in parallel
  src/flow/src/adapter.rs
  src/flow/src/adapter/node_context.rs
  src/flow/src/adapter/stat.rs
  src/flow/src/adapter/util.rs
  src/flow/src/server.rs
Labels: docs-not-required

#5383 fix: maybe double free from static str in Snafu
  src/common/datasource/src/error.rs
  src/pipeline/src/etl/error.rs
Labels: docs-not-required

#5390 ci: always build standard db
  .github/actions/build-linux-artifacts/action.yml
Labels: docs-not-required

#5388 refactor: drop useless clone for some better performance using static chek
  src/api/src/v1/column_def.rs
  src/common/grpc-expr/src/util.rs
  src/common/query/src/logical_plan/expr.rs
  src/table/src/metadata.rs
Labels: docs-not-required

#5359 feat: pipeline dispatch part 1, add definition
  src/pipeline/src/dispatcher.rs
  src/pipeline/src/etl.rs
  src/pipeline/src/etl/error.rs
  src/pipeline/src/etl/transform.rs
  src/pipeline/src/etl/transform/transformer/greptime.rs
  src/pipeline/src/lib.rs
Labels: docs-not-required

#5396 feat: overwrites inferred compaction window by region options
  src/mito2/src/engine/compaction_test.rs
  src/mito2/src/region/version.rs
Labels: docs-not-required

#5378 chore: change default compaction output size limit to 2GB
  src/mito2/src/region/options.rs
Labels: docs-required

#5352 fix: drop unused pub fn using to cargo_workspace_unused
  src/common/time/src/time.rs
  src/flow/src/expr/relation/func.rs
  src/flow/src/repr/relation.rs
  src/servers/src/repeated_field.rs
Labels: docs-not-required

#5391 fix(flow): deal with flow drop leftover
  src/flow/src/adapter.rs
Labels: docs-not-required

#5395 ci: use arm builders for tests
  .github/workflows/develop.yml
Labels: docs-not-required

#5373 feat(metric-engine): introduce `experimental_sparse_primary_key_encoding` to `MetricEngineConfig`
  Cargo.lock
  config/config.md
  config/datanode.example.toml
  config/standalone.example.toml
  src/cmd/Cargo.toml
  src/cmd/tests/load_config_test.rs
  src/datanode/src/config.rs
  src/datanode/src/datanode.rs
  src/metric-engine/Cargo.toml
  src/metric-engine/src/config.rs
  src/metric-engine/src/engine.rs
  src/metric-engine/src/engine/create.rs
  src/metric-engine/src/lib.rs
  src/metric-engine/src/test_util.rs
Labels: docs-not-required

#5403 ci: revert coverage runner
  .github/workflows/develop.yml
Labels: docs-not-required

#5400 fix: better sqlness show, replace the unwarp with better show message
  tests/runner/src/main.rs
Labels: docs-not-required

#5389 chore(http): change authorization header
  src/servers/src/http.rs
  src/servers/src/http/authorize.rs
  src/servers/tests/http/authorize.rs
Labels: docs-required

#5351 refactor: use MetadataKey for kafka topic
  src/cmd/src/error.rs
  src/cmd/src/standalone.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/topic_name.rs
  src/common/meta/src/wal_options_allocator.rs
  src/common/meta/src/wal_options_allocator/kafka.rs
  src/common/meta/src/wal_options_allocator/kafka/topic_manager.rs
  src/common/meta/src/wal_options_allocator/selector.rs
  src/common/meta/src/wal_options_allocator/topic_creator.rs
  src/common/meta/src/wal_options_allocator/topic_manager.rs
  src/common/meta/src/wal_options_allocator/topic_pool.rs
  src/meta-srv/src/error.rs
  src/meta-srv/src/metasrv/builder.rs
  tests-integration/src/standalone.rs
Labels: docs-not-required

#5411 fix: matches incorrectly uses byte len as char len
  src/common/function/src/scalars/matches.rs
  tests/cases/standalone/common/select/matches.result
  tests/cases/standalone/common/select/matches.sql
Labels: docs-not-required

#5412 chore: extract `service_name` in OTLP traces by default
  src/servers/src/otlp/trace.rs
  src/servers/src/otlp/trace/span.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5393 feat: add column if not exists
  src/operator/src/expr_factory.rs
  src/operator/src/statement/ddl.rs
  src/query/src/datafusion/planner.rs
  src/sql/src/parsers/alter_parser.rs
  src/sql/src/statements/alter.rs
  tests/cases/standalone/common/alter/add_col.result
  tests/cases/standalone/common/alter/add_col.sql
Labels: docs-not-required

#5415 chore: better error msg
  src/cmd/src/cli.rs
Labels: docs-not-required

#5419 feat(grafana): update cluster dashboard to include flow-related metrics
  grafana/greptimedb-cluster.json
Labels: docs-not-required

#5406 feat: bloom filter as fulltext index v2 (Part 1)
  Cargo.lock
  src/common/base/src/range_read.rs
  src/index/Cargo.toml
  src/index/src/bloom_filter.rs
  src/index/src/bloom_filter/applier.rs
  src/index/src/bloom_filter/creator.rs
  src/index/src/bloom_filter/creator/finalize_segment.rs
  src/index/src/fulltext_index.rs
  src/index/src/fulltext_index/create.rs
  src/index/src/fulltext_index/create/bloom_filter.rs
  src/index/src/fulltext_index/create/tantivy.rs
  src/index/src/fulltext_index/error.rs
  src/index/src/fulltext_index/tests.rs
  src/index/src/fulltext_index/tokenizer.rs
  src/index/src/inverted_index.rs
  src/index/src/inverted_index/create.rs
  src/index/src/inverted_index/create/sort.rs
  src/index/src/inverted_index/create/sort/external_sort.rs
  src/index/src/inverted_index/create/sort/intermediate_rw.rs
  src/index/src/inverted_index/create/sort/intermediate_rw/codec_v1.rs
  src/index/src/inverted_index/create/sort/merge_stream.rs
  src/index/src/inverted_index/create/sort_create.rs
  src/index/src/inverted_index/format/writer.rs
  src/index/src/inverted_index/format/writer/blob.rs
  src/index/src/inverted_index/format/writer/single.rs
  src/index/src/inverted_index/search/fst_apply/keys_apply.rs
  src/index/src/inverted_index/search/predicate.rs
  src/index/src/lib.rs
  src/mito2/src/cache/index/inverted_index.rs
  src/mito2/src/sst/index/bloom_filter/applier.rs
  src/mito2/src/sst/index/bloom_filter/applier/builder.rs
  src/mito2/src/sst/index/bloom_filter/creator.rs
  src/mito2/src/sst/index/fulltext_index.rs
  src/mito2/src/sst/index/fulltext_index/applier.rs
  src/mito2/src/sst/index/fulltext_index/creator.rs
  src/mito2/src/sst/index/inverted_index/applier/builder/comparison.rs
  src/mito2/src/sst/index/inverted_index/applier/builder/eq_list.rs
  src/puffin/Cargo.toml
  src/puffin/src/puffin_manager/file_accessor.rs
  src/puffin/src/puffin_manager/tests.rs
Labels: docs-not-required

#5398 fix: vector function for PromQL need to ignore the time index also
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/set_operation.result
  tests/cases/standalone/common/promql/set_operation.sql
Labels: docs-not-required

#5385 feat: support not-equal matcher for PromQL metric names
  Cargo.lock
  src/frontend/Cargo.toml
  src/frontend/src/error.rs
  src/frontend/src/instance.rs
  src/frontend/src/instance/promql.rs
  src/frontend/src/metrics.rs
  src/servers/Cargo.toml
  src/servers/src/http/prometheus.rs
  src/servers/src/lib.rs
  src/servers/src/prometheus.rs
  src/servers/src/prometheus_handler.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5380 feat(metric-engine): introduce `RowModifier` for MetricEngine
  Cargo.lock
  Cargo.toml
  src/metric-engine/Cargo.toml
  src/metric-engine/src/engine.rs
  src/metric-engine/src/engine/put.rs
  src/metric-engine/src/error.rs
  src/metric-engine/src/lib.rs
  src/metric-engine/src/metadata_region.rs
  src/metric-engine/src/row_modifier.rs
  src/mito2/benches/memtable_bench.rs
  src/mito2/src/engine/basic_test.rs
  src/mito2/src/engine/open_test.rs
  src/mito2/src/engine/set_role_state_test.rs
  src/mito2/src/memtable/key_values.rs
  src/mito2/src/memtable/partition_tree.rs
  src/mito2/src/memtable/time_series.rs
  src/mito2/src/region_write_ctx.rs
  src/mito2/src/row_converter/sparse.rs
  src/mito2/src/test_util.rs
  src/mito2/src/test_util/memtable_util.rs
  src/mito2/src/test_util/version_util.rs
  src/mito2/src/wal.rs
  src/mito2/src/wal/entry_distributor.rs
  src/mito2/src/wal/entry_reader.rs
  src/store-api/src/region_request.rs
Labels: docs-not-required

#5399 fix: avoid suppress manual compaction
  src/mito2/src/compaction.rs
  src/mito2/src/error.rs
Labels: docs-not-required

#5407 feat(remote-wal): introduce TopicRegionManager
  config/config.md
  config/metasrv.example.toml
  src/common/meta/src/error.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/topic_name.rs
  src/common/meta/src/key/topic_region.rs
  src/common/meta/src/wal_options_allocator.rs
  src/common/meta/src/wal_options_allocator/topic_manager.rs
  src/common/meta/src/wal_options_allocator/topic_pool.rs
Labels: docs-not-required

#5408 feat: replace `DensePrimaryKeyCodec` with `Arc<dyn PrimaryKeyCodec>`
  src/mito2/src/memtable/bulk/context.rs
  src/mito2/src/memtable/bulk/part.rs
  src/mito2/src/memtable/partition_tree.rs
  src/mito2/src/memtable/partition_tree/tree.rs
  src/mito2/src/memtable/time_series.rs
  src/mito2/src/read.rs
  src/mito2/src/read/compat.rs
  src/mito2/src/read/projection.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/row_converter.rs
  src/mito2/src/row_converter/dense.rs
  src/mito2/src/row_converter/sparse.rs
  src/mito2/src/sst/index/bloom_filter/creator.rs
  src/mito2/src/sst/index/codec.rs
  src/mito2/src/sst/index/inverted_index/creator.rs
  src/mito2/src/sst/parquet/file_range.rs
  src/mito2/src/sst/parquet/format.rs
  src/mito2/src/sst/parquet/reader.rs
  src/mito2/src/test_util/memtable_util.rs
  src/mito2/src/test_util/sst_util.rs
Labels: docs-not-required

#5358 refactor: support to flatten json object in `greptime_identity` pipeline
  src/pipeline/src/etl/error.rs
  src/pipeline/src/etl/transform/transformer/greptime.rs
  src/pipeline/src/lib.rs
  src/servers/src/elasticsearch.rs
  src/servers/src/http/event.rs
  tests-integration/tests/http.rs
Labels: docs-required

#5435 ci: update dev-builder version
  Makefile
Labels: docs-not-required

#5429 fix(log-query): panic on prometheus
  Cargo.lock
  src/servers/src/http/logs.rs
  tests-integration/Cargo.toml
  tests-integration/src/test_util.rs
  tests-integration/tests/http.rs
Labels: docs-not-required, backport

#5438 fix: cherry-pick log query fix to v0.11.3
  Cargo.lock
  src/servers/src/http/logs.rs
  tests-integration/Cargo.toml
  tests-integration/src/test_util.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5431 fix: unexpected warning on applying bloom
  src/mito2/src/sst/index/bloom_filter/applier.rs
Labels: docs-not-required

#5441 feat: Address different Metrics for Prometheus queries in the Dashboard and fix typo in metric name
  grafana/greptimedb-cluster.json
Labels: docs-not-required

#5434 ci: unify all protoc version to 29.3
  docker/dev-builder/android/Dockerfile
  docker/dev-builder/centos/Dockerfile
  docker/dev-builder/ubuntu/Dockerfile
  docker/dev-builder/ubuntu/Dockerfile-18.10
Labels: docs-not-required

#5426 ci: switch to nix flakes for more reproducible builds
  .github/workflows/nightly-ci.yml
  flake.lock
  flake.nix
  shell.nix
Labels: docs-not-required

#5433 fix: arm actions test failed
  .github/workflows/develop.yml
Labels: docs-not-required

#5443 fix: install x86-64 protoc on android dev-builder
  docker/dev-builder/android/Dockerfile
Labels: docs-not-required

#5445 ci: update dev-builder version to fix build android image failed
  Makefile
Labels: docs-not-required

#5424 feat(metric-engine): support to write rows with sparse primary key encoding
  src/metric-engine/src/engine.rs
  src/metric-engine/src/engine/catchup.rs
  src/metric-engine/src/engine/create.rs
  src/metric-engine/src/engine/open.rs
  src/metric-engine/src/engine/options.rs
  src/metric-engine/src/engine/put.rs
  src/metric-engine/src/engine/state.rs
  src/mito2/src/engine.rs
  src/mito2/src/error.rs
  src/mito2/src/memtable/key_values.rs
  src/mito2/src/memtable/partition_tree.rs
  src/mito2/src/memtable/partition_tree/partition.rs
  src/mito2/src/memtable/partition_tree/primary_key_filter.rs
  src/mito2/src/memtable/partition_tree/tree.rs
  src/mito2/src/region.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/region_write_ctx.rs
  src/mito2/src/request.rs
  src/mito2/src/row_converter.rs
  src/mito2/src/row_converter/sparse.rs
  src/mito2/src/sst/index.rs
  src/mito2/src/sst/index/bloom_filter/applier.rs
  src/mito2/src/sst/index/bloom_filter/creator.rs
  src/mito2/src/sst/index/fulltext_index/creator.rs
  src/mito2/src/sst/index/indexer/update.rs
  src/mito2/src/sst/index/inverted_index/creator.rs
  src/mito2/src/sst/parquet/writer.rs
  src/mito2/src/worker/handle_write.rs
  src/store-api/src/codec.rs
  src/store-api/src/mito_engine_options.rs
  tests/cases/standalone/common/insert/logical_metric_table.result
  tests/cases/standalone/common/insert/logical_metric_table.sql
Labels: docs-not-required

#5442 fix: drop unused numpy code since pyo3 rustpython do not support any more
  src/common/function/src/function_registry.rs
  src/common/function/src/scalars.rs
  src/common/function/src/scalars/numpy.rs
  src/common/function/src/scalars/numpy/clip.rs
  src/common/function/src/scalars/numpy/interp.rs
Labels: docs-not-required

#5447 feat: add CORS headers for http interfaces
  Cargo.lock
  src/servers/Cargo.toml
  src/servers/src/http.rs
  src/servers/src/http/test_helpers.rs
  tests-integration/Cargo.toml
  tests-integration/tests/http.rs
Labels: docs-not-required

#5430 chore: update toolchain to `2024-12-25`
  Cargo.lock
  Cargo.toml
  Makefile
  flake.lock
  flake.nix
  rust-toolchain.toml
  src/api/src/v1/column_def.rs
  src/catalog/src/kvbackend/client.rs
  src/common/datasource/src/file_format/tests.rs
  src/common/decimal/src/decimal128.rs
  src/common/meta/src/ddl/drop_table.rs
  src/common/meta/src/key/txn_helper.rs
  src/common/meta/src/lib.rs
  src/common/query/src/logical_plan.rs
  src/common/version/build.rs
  src/datatypes/src/types/vector_type.rs
  src/flow/src/expr.rs
  src/meta-srv/src/error.rs
  src/meta-srv/src/lib.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/upgrade_candidate_region.rs
  src/meta-srv/src/region/supervisor.rs
  src/meta-srv/src/service/heartbeat.rs
  src/mito2/src/compaction.rs
  src/mito2/src/sst/index.rs
  src/pipeline/src/etl/value.rs
  src/puffin/src/puffin_manager/cache.rs
  src/servers/src/mysql/handler.rs
  src/sql/src/statements/option_map.rs
Labels: docs-not-required

#5444 feat: mirror insert request to flownode in async
  src/operator/src/insert.rs
  src/operator/src/metrics.rs
Labels: docs-not-required

#5422 fix: flush table panic when table has interval column close #3235
  src/operator/src/expr_factory.rs
  tests/cases/standalone/common/alter/alter_table.result
  tests/cases/standalone/common/alter/alter_table.sql
  tests/cases/standalone/common/flow/flow_basic.result
  tests/cases/standalone/common/flow/flow_basic.sql
  tests/cases/standalone/common/insert/insert_wrong_type.result
  tests/cases/standalone/common/insert/insert_wrong_type.sql
  tests/cases/standalone/common/types/interval/interval.result
  tests/cases/standalone/common/types/interval/interval.sql
Labels: breaking-change, docs-not-required

#5437 feat: expose http endpoint for flownode and metasrv
  docker/docker-compose/cluster-with-etcd.yaml
Labels: docs-not-required

#5454 chore: avoid necessary cloning
  src/servers/src/http/result/prometheus_resp.rs
Labels: docs-not-required

#5032 fix: remove metric engine's internal column from promql's query
  src/promql/src/extension_plan/series_divide.rs
  src/query/src/promql/planner.rs
  src/servers/src/http/prometheus.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5453 fix: better error handler for the time range close #5449
  src/query/src/promql/error.rs
  src/query/src/promql/planner.rs
Labels: docs-not-required

#5450 feat: provide options to disable or customize http corss-origin settings
  config/config.md
  config/frontend.example.toml
  config/standalone.example.toml
  src/cmd/tests/load_config_test.rs
  src/servers/src/error.rs
  src/servers/src/http.rs
  src/servers/tests/http/influxdb_test.rs
  src/servers/tests/http/opentsdb_test.rs
  src/servers/tests/http/prom_store_test.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5458 fix: no need for special case since datafusion updated
  src/servers/src/postgres/fixtures.rs
Labels: docs-not-required

#5460 perf: optimize writing non-null primitive value
  src/datatypes/src/vectors/primitive.rs
  src/mito2/src/memtable/time_series.rs
Labels: docs-not-required

#5464 ci: move components to flakes so it won't affect builders
  flake.nix
  rust-toolchain.toml
Labels: docs-not-required
