Repository GreptimeTeam/greptimedb, pull requests merged in 2025-07, with the labels that each got.

#6432 fix: fix dest_keys chunks bug in TombstoneManager
  src/common/meta/src/key/tombstone.rs
  src/flow/src/adapter.rs
Labels: docs-not-required, size/S

#6433 feat: update dashboard to v0.10.2
  src/servers/dashboard/VERSION
Labels: docs-not-required, size/XS

#6436 fix: allow clippy::print_stdout in cli crate
  Cargo.toml
  src/cli/src/lib.rs
Labels: docs-not-required, size/XS

#6437 refactor: extract the common method for errors into tonic status
  src/client/src/database.rs
  src/client/src/error.rs
  src/client/src/region.rs
  src/common/error/src/status_code.rs
  src/meta-client/src/error.rs
  src/mito2/src/memtable.rs
Labels: docs-not-required, size/S

#6416 feat: add `granularity` and `false_positive_rate` options for indexes
  Cargo.lock
  Cargo.toml
  src/api/src/v1/column_def.rs
  src/common/grpc-expr/src/alter.rs
  src/common/grpc-expr/src/error.rs
  src/datatypes/src/schema.rs
  src/datatypes/src/schema/column_schema.rs
  src/index/src/bloom_filter/applier.rs
  src/index/src/bloom_filter/creator.rs
  src/index/src/bloom_filter/creator/finalize_segment.rs
  src/index/src/bloom_filter/reader.rs
  src/index/src/fulltext_index/create/bloom_filter.rs
  src/metric-engine/src/data_region.rs
  src/metric-engine/src/engine/create.rs
  src/metric-engine/src/engine/options.rs
  src/mito2/src/engine/alter_test.rs
  src/mito2/src/sst/index.rs
  src/mito2/src/sst/index/bloom_filter/creator.rs
  src/mito2/src/sst/index/fulltext_index/applier.rs
  src/mito2/src/sst/index/fulltext_index/creator.rs
  src/operator/src/expr_helper.rs
  src/query/src/sql/show_create_table.rs
  src/sql/src/parsers/alter_parser.rs
  src/sql/src/parsers/utils.rs
  src/store-api/src/metadata.rs
  src/store-api/src/metric_engine_consts.rs
  src/store-api/src/region_request.rs
  src/table/src/metadata.rs
  tests-integration/tests/http.rs
  tests/cases/standalone/common/alter/change_col_fulltext_options.result
  tests/cases/standalone/common/alter/change_col_fulltext_options.sql
  tests/cases/standalone/common/alter/change_col_skipping_options.result
  tests/cases/standalone/common/alter/change_col_skipping_options.sql
  tests/cases/standalone/common/create/create_metric_table.result
  tests/cases/standalone/common/create/create_metric_table.sql
  tests/cases/standalone/common/create/create_with_fulltext.result
  tests/cases/standalone/common/create/create_with_skipping_index.result
  tests/cases/standalone/common/create/create_with_skipping_index.sql
  tests/cases/standalone/common/show/show_create.result
  tests/cases/standalone/common/show/show_index.result
Labels: docs-not-required, backport, size/M

#6446 fix: remap column indices on overriding logical table partitions
  src/catalog/src/kvbackend/manager.rs
  tests/cases/standalone/common/create/metric_engine_partition.result
  tests/cases/standalone/common/create/metric_engine_partition.sql
Labels: docs-not-required, backport, size/XS

#6443 fix: label_replace and label_join functions when used as sub‐expressions
  src/query/src/promql/error.rs
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/label.result
  tests/cases/standalone/common/promql/label.sql
  tests/cases/standalone/common/promql/simple_histogram.result
  tests/cases/standalone/common/promql/simple_histogram.sql
Labels: docs-not-required, backport, size/M

#6449 chore: cherry pick pr 6391 to release/v0.15
  src/cmd/src/standalone.rs
  src/common/meta/src/ddl_manager.rs
  src/meta-srv/src/metasrv/builder.rs
  tests-integration/Cargo.toml
  tests-integration/src/standalone.rs
Labels: docs-not-required, size/S

#6453 feat: skip rule checker on ingestion
  src/operator/src/statement/ddl.rs
  src/partition/benches/bench_split_record_batch.rs
  src/partition/src/checker.rs
  src/partition/src/manager.rs
  src/partition/src/multi_dim.rs
Labels: docs-not-required, backport, size/XS

#6295 feat: truly limit time range by split window
  src/flow/src/batching_mode/engine.rs
  src/flow/src/batching_mode/state.rs
  src/flow/src/batching_mode/task.rs
  src/flow/src/metrics.rs
  tests/cases/standalone/common/flow/flow_flush.result
  tests/cases/standalone/common/flow/flow_rebuild.result
  tests/cases/standalone/common/flow/flow_rebuild.sql
Labels: docs-not-required, size/M

#6457 feat: persist column ids in table metadata
  src/cli/src/bench.rs
  src/common/meta/src/ddl/alter_logical_tables.rs
  src/common/meta/src/ddl/alter_table.rs
  src/common/meta/src/ddl/create_logical_tables.rs
  src/common/meta/src/ddl/create_table.rs
  src/common/meta/src/ddl/physical_table_metadata.rs
  src/common/meta/src/ddl/table_meta.rs
  src/common/meta/src/ddl/test_util.rs
  src/common/meta/src/ddl/test_util/create_table.rs
  src/common/meta/src/ddl/test_util/datanode_handler.rs
  src/common/meta/src/ddl/tests/alter_logical_tables.rs
  src/common/meta/src/ddl/tests/alter_table.rs
  src/common/meta/src/ddl/tests/create_logical_tables.rs
  src/common/meta/src/ddl/tests/create_table.rs
  src/common/meta/src/ddl/utils.rs
  src/common/meta/src/key/table_info.rs
  src/common/meta/src/rpc/ddl.rs
  src/meta-srv/src/procedure/utils.rs
  src/operator/src/statement/ddl.rs
  src/store-api/src/metric_engine_consts.rs
  src/store-api/src/region_engine.rs
  src/table/src/metadata.rs
  src/table/src/table/numbers.rs
Labels: docs-not-required, size/M

#6305 fix: doc links
  README.md
  docs/benchmarks/log/README.md
  grafana/README.md
Labels: docs-not-required

#6458 fix: add backward compatibility for `SkippingIndexOptions` deserialization
  src/datatypes/src/schema/column_schema.rs
Labels: docs-not-required, size/XS

#6461 refactor: stores the http server builder in Metasrv instance
  Cargo.lock
  Cargo.toml
  src/cli/Cargo.toml
  src/cmd/Cargo.toml
  src/cmd/src/metasrv.rs
  src/meta-srv/Cargo.toml
  src/meta-srv/src/bootstrap.rs
  src/meta-srv/src/lib.rs
Labels: docs-not-required, size/XS

#6479 chore: expose some config
  src/cmd/src/frontend.rs
Labels: docs-not-required, size/XS

#6477 fix: stricter win sort condition
  src/query/src/optimizer/windowed_sort.rs
  src/query/src/part_sort.rs
  tests/cases/standalone/optimizer/windowed_sort.result
  tests/cases/standalone/optimizer/windowed_sort.sql
Labels: docs-not-required, size/S

#6475 feat: display extension ranges in "explain"
  src/common/time/src/range.rs
  src/datanode/src/error.rs
  src/datanode/src/tests.rs
  src/mito2/src/extension.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/scan_util.rs
Labels: docs-not-required, size/S

#6480 fix: empty statements hang
  src/frontend/src/instance.rs
  tests-integration/tests/sql.rs
Labels: docs-not-required, size/XS

#6483 feat: allow float number literal in step
  Cargo.lock
  Cargo.toml
  tests-integration/tests/http.rs
  tests/cases/standalone/common/tql/basic.result
  tests/cases/standalone/common/tql/basic.sql
Labels: docs-not-required, size/S

#6478 refactor(meta): separate validation and execution logic in alter logical tables procedure
  src/cli/src/metadata/repair.rs
  src/cli/src/metadata/repair/alter_table.rs
  src/common/meta/src/ddl/alter_logical_tables.rs
  src/common/meta/src/ddl/alter_logical_tables/check.rs
  src/common/meta/src/ddl/alter_logical_tables/executor.rs
  src/common/meta/src/ddl/alter_logical_tables/metadata.rs
  src/common/meta/src/ddl/alter_logical_tables/region_request.rs
  src/common/meta/src/ddl/alter_logical_tables/table_cache_keys.rs
  src/common/meta/src/ddl/alter_logical_tables/update_metadata.rs
  src/common/meta/src/ddl/alter_logical_tables/validator.rs
  src/common/meta/src/ddl/utils.rs
  src/common/meta/src/ddl/utils/table_id.rs
  src/common/meta/src/ddl/utils/table_info.rs
  src/common/meta/src/key/table_name.rs
Labels: docs-not-required, size/L

#6489 fix: skip nan in prom remote write pipeline
  src/servers/src/proto.rs
Labels: docs-not-required, size/XS

#6492 feat: override batch sequence by the sequence in FileMeta
  src/mito2/src/memtable/bulk/part.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/format.rs
  src/mito2/src/sst/parquet/reader.rs
  src/mito2/src/test_util.rs
  src/mito2/src/test_util/sst_util.rs
Labels: docs-not-required, size/S

#6497 fix: add tracing dependencies
  Cargo.lock
  Cargo.toml
  src/common/meta/Cargo.toml
  src/datanode/Cargo.toml
  src/frontend/Cargo.toml
  src/metric-engine/Cargo.toml
  src/mito2/Cargo.toml
  src/operator/Cargo.toml
  src/query/Cargo.toml
  src/servers/Cargo.toml
Labels: docs-not-required, size/XS

#6494 fix: correctly update partition key indices during alter table operations
  src/common/meta/src/ddl/alter_table/executor.rs
  src/table/src/error.rs
  src/table/src/metadata.rs
  tests/cases/standalone/common/alter/alter_table_first_after.result
  tests/cases/standalone/common/alter/alter_table_first_after.sql
  tests/cases/standalone/common/alter/drop_col.result
  tests/cases/standalone/common/alter/drop_col.sql
Labels: docs-not-required, size/S

#6509 chore: skip calc ts in doc 2 with transform
  src/pipeline/src/etl.rs
  src/pipeline/src/etl/transform/transformer/greptime.rs
Labels: docs-not-required, backport, size/XS

#6484 fix: expand on conditional commutative as well
  src/query/src/dist_plan/analyzer.rs
  tests/cases/standalone/tql-explain-analyze/analyze.result
  tests/cases/standalone/tql-explain-analyze/analyze.sql
Labels: docs-not-required, backport, size/S

#6430 refactor: replace `pipeline::value` with `vrl::value`
  Cargo.lock
  Cargo.toml
  src/datatypes/Cargo.toml
  src/pipeline/Cargo.toml
  src/pipeline/benches/processor.rs
  src/pipeline/src/dispatcher.rs
  src/pipeline/src/error.rs
  src/pipeline/src/etl.rs
  src/pipeline/src/etl/ctx_req.rs
  src/pipeline/src/etl/processor.rs
  src/pipeline/src/etl/processor/cmcd.rs
  src/pipeline/src/etl/processor/csv.rs
  src/pipeline/src/etl/processor/date.rs
  src/pipeline/src/etl/processor/decolorize.rs
  src/pipeline/src/etl/processor/digest.rs
  src/pipeline/src/etl/processor/dissect.rs
  src/pipeline/src/etl/processor/epoch.rs
  src/pipeline/src/etl/processor/gsub.rs
  src/pipeline/src/etl/processor/join.rs
  src/pipeline/src/etl/processor/json_parse.rs
  src/pipeline/src/etl/processor/json_path.rs
  src/pipeline/src/etl/processor/letter.rs
  src/pipeline/src/etl/processor/regex.rs
  src/pipeline/src/etl/processor/select.rs
  src/pipeline/src/etl/processor/simple_extract.rs
  src/pipeline/src/etl/processor/urlencoding.rs
  src/pipeline/src/etl/processor/vrl_processor.rs
  src/pipeline/src/etl/transform.rs
  src/pipeline/src/etl/transform/transformer/greptime.rs
  src/pipeline/src/etl/transform/transformer/greptime/coerce.rs
  src/pipeline/src/etl/value.rs
  src/pipeline/src/etl/value/array.rs
  src/pipeline/src/etl/value/map.rs
  src/pipeline/src/etl/value/time.rs
  src/pipeline/src/lib.rs
  src/pipeline/src/manager.rs
  src/pipeline/src/tablesuffix.rs
  src/pipeline/tests/common.rs
  src/pipeline/tests/dissect.rs
  src/pipeline/tests/pipeline.rs
  src/servers/Cargo.toml
  src/servers/src/elasticsearch.rs
  src/servers/src/http/event.rs
  src/servers/src/http/loki.rs
  src/servers/src/interceptor.rs
  src/servers/src/otlp/logs.rs
  src/servers/src/pipeline.rs
  src/servers/src/proto.rs
Labels: docs-not-required, size/XXL

#6508 chore: add prom store metrics
  src/servers/src/export_metrics.rs
  src/servers/src/http/prom_store.rs
  src/servers/src/metrics.rs
Labels: docs-not-required, size/XS

#6511 fix: add system variable max_execution_time
  src/servers/src/mysql/federated.rs
Labels: docs-not-required, size/XS

#6502 feat(pipeline): filter processor
  src/pipeline/src/etl.rs
  src/pipeline/src/etl/processor.rs
  src/pipeline/src/etl/processor/filter.rs
  src/servers/src/pipeline.rs
  tests-integration/tests/http.rs
Labels: docs-not-required, size/M

#6522 chore: minor update for using pipeline with prometheus
  src/pipeline/src/etl/transform/transformer/greptime.rs
  src/servers/src/proto.rs
Labels: docs-not-required, size/XS

#6531 feat: supports null reponse format for http API
  .gitignore
  src/servers/src/http.rs
  src/servers/src/http/handler.rs
  src/servers/src/http/result.rs
  src/servers/src/http/result/null_result.rs
  src/servers/tests/http/http_handler_test.rs
  tests-integration/tests/http.rs
Labels: docs-not-required, size/S

#6501 feat: introduce common event recorder
  Cargo.lock
  Cargo.toml
  src/common/event-recorder/Cargo.toml
  src/common/event-recorder/src/error.rs
  src/common/event-recorder/src/lib.rs
  src/common/event-recorder/src/recorder.rs
Labels: docs-not-required, size/M

#6442 refactor: expose flow batching mode constants to config
  Cargo.lock
  config/config.md
  config/flownode.example.toml
  src/cmd/src/flownode.rs
  src/flow/Cargo.toml
  src/flow/src/adapter.rs
  src/flow/src/adapter/flownode_impl.rs
  src/flow/src/batching_mode.rs
  src/flow/src/batching_mode/engine.rs
  src/flow/src/batching_mode/frontend_client.rs
  src/flow/src/batching_mode/state.rs
  src/flow/src/batching_mode/task.rs
  src/flow/src/server.rs
  tests-integration/tests/http.rs
Labels: docs-not-required, size/M

#6521 feat: Flight supports RecordBatch with dictionary arrays
  Cargo.lock
  src/client/src/database.rs
  src/client/src/region.rs
  src/common/grpc/Cargo.toml
  src/common/grpc/benches/bench_flight_decoder.rs
  src/common/grpc/src/flight.rs
  src/common/test-util/src/flight.rs
  src/mito2/src/memtable/bulk/part.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/region_write_ctx.rs
  src/mito2/src/worker/handle_write.rs
  src/operator/src/bulk_insert.rs
  src/servers/src/grpc/flight.rs
  src/servers/src/grpc/flight/stream.rs
  tests-integration/src/grpc/flight.rs
Labels: docs-not-required, size/M

#6538 fix: breaking loop when not retryable
  src/client/src/database.rs
Labels: docs-not-required, size/XS

#6541 chore: update opendal dashboard
  grafana/dashboards/metrics/cluster/dashboard.json
  grafana/dashboards/metrics/cluster/dashboard.md
  grafana/dashboards/metrics/cluster/dashboard.yaml
  grafana/dashboards/metrics/standalone/dashboard.json
  grafana/dashboards/metrics/standalone/dashboard.md
  grafana/dashboards/metrics/standalone/dashboard.yaml
Labels: docs-not-required, size/XS, dashboard

#6540 feat: add metrics for request wait time and adjust stall metrics
  src/mito2/src/compaction.rs
  src/mito2/src/compaction/task.rs
  src/mito2/src/flush.rs
  src/mito2/src/metrics.rs
  src/mito2/src/request.rs
  src/mito2/src/schedule/remote_job_scheduler.rs
  src/mito2/src/test_util/scheduler_util.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_manifest.rs
  src/mito2/src/worker/handle_write.rs
Labels: docs-not-required, size/S

#6377 feat: state/merge wrapper for aggr func
  Cargo.lock
  src/common/function/Cargo.toml
  src/common/function/src/aggrs.rs
  src/common/function/src/aggrs/aggr_wrapper.rs
  src/common/function/src/aggrs/aggr_wrapper/tests.rs
Labels: docs-not-required, size/L

#6517 test: add sqlness test for max execution time
  src/servers/src/mysql/federated.rs
  tests/cases/standalone/common/mysql.result
  tests/cases/standalone/common/system/max_execution_time.result
  tests/cases/standalone/common/system/max_execution_time.sql
Labels: docs-not-required, size/M

#6551 fix: flow mirror cache
  src/common/meta/src/cache/flow/table_flownode.rs
  src/common/meta/src/cache_invalidator.rs
  src/common/meta/src/instruction.rs
  src/meta-srv/src/handler/remap_flow_peer_handler.rs
Labels: docs-not-required, size/XS

#6548 fix: unit test failed by adding necessary sleep function to ensure the time seqence
  src/common/event-recorder/src/recorder.rs
Labels: docs-not-required, size/XS

#6563 feat: MergeScan print input
  src/query/src/dist_plan/analyzer.rs
  src/query/src/dist_plan/merge_scan.rs
  tests/cases/distributed/explain/join_10_tables.result
  tests/cases/distributed/explain/multi_partitions.result
  tests/cases/distributed/explain/order_by.result
  tests/cases/distributed/explain/single_partition.result
  tests/cases/distributed/explain/step_aggr.result
  tests/cases/distributed/explain/step_aggr_basic.result
  tests/cases/distributed/explain/step_aggr_massive.result
  tests/cases/distributed/explain/subqueries.result
  tests/cases/distributed/optimizer/filter_push_down.result
  tests/cases/distributed/optimizer/order_by.result
  tests/cases/standalone/common/order/order_by_exceptions.result
  tests/cases/standalone/common/range/nest.result
  tests/cases/standalone/common/tql-explain-analyze/explain.result
  tests/cases/standalone/limit/limit.result
  tests/cases/standalone/optimizer/order_by.result
Labels: docs-not-required, size/M

#6564 fix: windows path in error tests
  src/common/error/tests/ext.rs
Labels: docs-not-required, size/XS

#6487 refactor: support multiple index operations in single alter region request
  Cargo.lock
  Cargo.toml
  src/common/grpc-expr/src/alter.rs
  src/common/meta/src/ddl/alter_table/executor.rs
  src/common/meta/src/ddl/alter_table/region_request.rs
  src/metric-engine/src/data_region.rs
  src/mito2/src/engine/alter_test.rs
  src/operator/src/expr_helper.rs
  src/store-api/src/metadata.rs
  src/store-api/src/region_request.rs
  src/table/src/metadata.rs
  src/table/src/requests.rs
Labels: docs-not-required, size/L

#6570 fix: only start one instance one regrex sqlness test
  tests/runner/src/env.rs
  tests/runner/src/main.rs
Labels: docs-not-required, size/XS

#6554 refactor: refactor partition mod to use PartitionExpr instead of PartitionDef
  Cargo.lock
  Cargo.toml
  src/catalog/src/system_schema/information_schema/partitions.rs
  src/cli/src/bench.rs
  src/common/meta/src/ddl/table_meta.rs
  src/common/meta/src/ddl/test_util.rs
  src/common/meta/src/ddl/test_util/create_table.rs
  src/common/meta/src/ddl/tests/create_table.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/table_route.rs
  src/common/meta/src/rpc/ddl.rs
  src/common/meta/src/rpc/router.rs
  src/meta-srv/src/procedure/tests.rs
  src/operator/src/bulk_insert.rs
  src/operator/src/req_convert/common/partitioner.rs
  src/operator/src/req_convert/delete/row_to_region.rs
  src/operator/src/req_convert/delete/table_to_region.rs
  src/operator/src/req_convert/insert/row_to_region.rs
  src/operator/src/req_convert/insert/stmt_to_region.rs
  src/operator/src/req_convert/insert/table_to_region.rs
  src/operator/src/statement/ddl.rs
  src/operator/src/statement/show.rs
  src/operator/src/tests/partition_manager.rs
  src/partition/src/error.rs
  src/partition/src/expr.rs
  src/partition/src/manager.rs
  src/partition/src/partition.rs
  src/table/src/metadata.rs
  tests-integration/src/tests/instance_test.rs
  tests-integration/tests/http.rs
  tests/cases/standalone/common/create/metric_engine_partition.result
  tests/cases/standalone/common/partition.result
  tests/cases/standalone/common/show/show_create.result
Labels: docs-not-required, size/M

#6534 fix: aggr group by all partition cols use partial commutative
  src/query/src/analyze.rs
  src/query/src/dist_plan/analyzer.rs
  src/query/src/dist_plan/analyzer/test.rs
  src/query/src/dist_plan/analyzer/utils.rs
  src/query/src/dist_plan/commutativity.rs
  tests/cases/distributed/explain/step_aggr_advance.result
  tests/cases/distributed/explain/step_aggr_advance.sql
Labels: docs-not-required, backport, size/XXL

#6580 chore: bump version to 0.15.3
  Cargo.lock
  Cargo.toml
Labels: docs-not-required, size/S

#6569 fix: closee issue #6555 return empty result
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/simple_histogram.result
  tests/cases/standalone/common/promql/simple_histogram.sql
Labels: docs-not-required, backport, size/S

#6582 chore: cherry pick #6569 to v0.15
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/simple_histogram.result
  tests/cases/standalone/common/promql/simple_histogram.sql
Labels: docs-not-required, size/S

#6573 refactor: remove unused PartitionDef
  src/common/meta/src/ddl/table_meta.rs
  src/common/meta/src/rpc/ddl.rs
  src/common/meta/src/rpc/router.rs
  src/operator/src/error.rs
  src/operator/src/statement/ddl.rs
  src/operator/src/tests/partition_manager.rs
  src/partition/src/expr.rs
  src/partition/src/partition.rs
  tests-fuzz/src/context.rs
  tests-fuzz/src/generator/create_expr.rs
  tests-fuzz/src/ir/create_expr.rs
  tests-fuzz/src/translator/mysql/create_expr.rs
Labels: docs-not-required, size/M

#6583 refactor: explicitly accept path type as param
  src/mito2/src/read/scan_region.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/sst/index/bloom_filter/applier.rs
  src/mito2/src/sst/index/bloom_filter/applier/builder.rs
  src/mito2/src/sst/index/fulltext_index/applier.rs
  src/mito2/src/sst/index/fulltext_index/applier/builder.rs
  src/mito2/src/sst/index/fulltext_index/creator.rs
  src/mito2/src/sst/index/inverted_index/applier.rs
  src/mito2/src/sst/index/inverted_index/applier/builder.rs
  src/mito2/src/sst/index/inverted_index/applier/builder/between.rs
  src/mito2/src/sst/index/inverted_index/applier/builder/comparison.rs
  src/mito2/src/sst/index/inverted_index/applier/builder/eq_list.rs
  src/mito2/src/sst/index/inverted_index/applier/builder/in_list.rs
  src/mito2/src/sst/index/inverted_index/applier/builder/regex_match.rs
  src/mito2/src/sst/index/inverted_index/creator.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/worker/handle_catchup.rs
  src/mito2/src/worker/handle_create.rs
  src/mito2/src/worker/handle_open.rs
Labels: docs-not-required, size/S

#6529 feat: supports more db options
  Cargo.lock
  src/common/meta/src/key/schema_name.rs
  src/operator/src/statement/ddl.rs
  src/sql/src/parsers/create_parser.rs
  src/store-api/src/mito_engine_options.rs
  src/table/Cargo.toml
  src/table/src/requests.rs
  tests/cases/standalone/common/create/create_database_opts.result
  tests/cases/standalone/common/create/create_database_opts.sql
Labels: docs-required, size/M

#6422 fix: add map datatype conversion in copy_table_from (#6185)
  Cargo.lock
  src/common/recordbatch/Cargo.toml
  src/common/recordbatch/src/adapter.rs
  src/datatypes/src/schema.rs
  src/operator/src/statement/copy_table_from.rs
  tests-integration/Cargo.toml
  tests-integration/src/tests/instance_test.rs
  tests/data/parquet/README.md
  tests/data/parquet/map_to_json.parquet
Labels: docs-not-required, size/M

#6599 feat: poll result stream more often
  src/query/src/window_sort.rs
Labels: docs-not-required, size/XS

#6574 feat: fallback when failed to push down using `DistPlanner`
  config/config.md
  config/frontend.example.toml
  src/cmd/tests/load_config_test.rs
  src/flow/src/adapter.rs
  src/operator/src/statement.rs
  src/operator/src/statement/set.rs
  src/query/src/datafusion.rs
  src/query/src/dist_plan.rs
  src/query/src/dist_plan/analyzer.rs
  src/query/src/dist_plan/analyzer/fallback.rs
  src/query/src/dist_plan/analyzer/test.rs
  src/query/src/metrics.rs
  src/query/src/options.rs
  src/query/src/query_engine/state.rs
  src/session/src/context.rs
  tests-integration/tests/http.rs
Labels: docs-not-required, size/S

#6557 docs(rfc): repartition
  docs/rfcs/2025-06-20-repartition.md
Labels: docs-not-required, size/S, documentation

#6595 feat: struct vector
  src/api/src/helper.rs
  src/common/grpc/src/select.rs
  src/datatypes/src/data_type.rs
  src/datatypes/src/type_id.rs
  src/datatypes/src/types.rs
  src/datatypes/src/types/struct_type.rs
  src/datatypes/src/value.rs
  src/datatypes/src/vectors.rs
  src/datatypes/src/vectors/eq.rs
  src/datatypes/src/vectors/helper.rs
  src/datatypes/src/vectors/struct_vector.rs
  src/mito-codec/src/row_converter/dense.rs
  src/servers/src/postgres/types.rs
  src/sql/src/statements.rs
Labels: docs-not-required, size/M

#6575 feat: more logs and metrics under explain verbose mode
  src/datanode/src/region_server.rs
  src/mito2/src/engine/scan_test.rs
  src/mito2/src/memtable.rs
  src/mito2/src/memtable/partition_tree.rs
  src/mito2/src/memtable/partition_tree/tree.rs
  src/mito2/src/memtable/simple_bulk_memtable.rs
  src/mito2/src/memtable/simple_bulk_memtable/test_only.rs
  src/mito2/src/memtable/time_series.rs
  src/mito2/src/read/scan_util.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/read/series_scan.rs
  src/mito2/src/read/unordered_scan.rs
  src/query/src/datafusion.rs
  src/query/src/dist_plan/merge_scan.rs
  src/query/src/dummy_catalog.rs
  src/servers/src/grpc/flight/stream.rs
  src/store-api/src/region_engine.rs
  src/table/src/table/scan.rs
Labels: docs-not-required, size/M

#6543 refactor(otlp_metric): make otlp metric compatible with promql
  Cargo.lock
  src/frontend/Cargo.toml
  src/frontend/src/instance.rs
  src/frontend/src/instance/builder.rs
  src/frontend/src/instance/otlp.rs
  src/frontend/src/server.rs
  src/pipeline/src/etl/transform/transformer/greptime.rs
  src/pipeline/src/lib.rs
  src/servers/src/error.rs
  src/servers/src/http.rs
  src/servers/src/http/extractor.rs
  src/servers/src/http/header.rs
  src/servers/src/http/otlp.rs
  src/servers/src/otel_arrow.rs
  src/servers/src/otlp/metrics.rs
  src/servers/src/otlp/trace.rs
  src/session/src/context.rs
  src/session/src/lib.rs
  src/session/src/protocol_ctx.rs
  src/table/src/requests.rs
  tests-integration/src/otlp.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/http.rs
Labels: docs-not-required, size/L
