Repository GreptimeTeam/greptimedb, pull requests merged in 2025-09, with the labels that each got.

#6845 fix: no need to early lookup DNS for kafka broker
  src/common/meta/src/error.rs
  src/common/meta/src/wal_options_allocator/topic_creator.rs
  src/log-store/src/error.rs
  src/log-store/src/kafka/client_manager.rs
Labels: docs-not-required, size/XS

#6781 refactor: query config options
  Cargo.lock
  src/common/function/src/scalars/math/clamp.rs
  src/common/function/src/scalars/udf.rs
  src/datatypes/src/vectors/helper.rs
  src/flow/src/batching_mode/task.rs
  src/flow/src/batching_mode/utils.rs
  src/flow/src/df_optimizer.rs
  src/flow/src/test_utils.rs
  src/flow/src/transform.rs
  src/operator/src/error.rs
  src/operator/src/statement/admin.rs
  src/query/src/datafusion.rs
  src/session/Cargo.toml
  src/session/src/context.rs
  tests/cases/standalone/common/function/arithmetic.result
  tests/cases/standalone/common/promql/scalar.result
Labels: docs-not-required, size/S

#6868 chore: enlarge max file limit to 384
  config/config.md
  config/datanode.example.toml
  config/standalone.example.toml
  src/mito2/src/config.rs
  tests-integration/tests/http.rs
Labels: docs-not-required, size/XS

#6869 chore: change encode raw values signature
  src/mito-codec/benches/bench_sparse_encoding.rs
  src/mito-codec/src/row_converter/sparse.rs
  src/servers/src/repeated_field.rs
Labels: docs-not-required, size/XS

#6864 feat: update dashboard to v0.11.3
  src/servers/dashboard/VERSION
Labels: docs-not-required, size/XS

#6867 fix(flow): promql auto create table
  src/flow/src/batching_mode/engine.rs
  src/flow/src/batching_mode/task.rs
  tests/cases/distributed/flow-tql/flow_tql.result
  tests/cases/standalone/flow-tql/flow_tql.result
  tests/cases/standalone/flow-tql/flow_tql.sql
Labels: docs-not-required, size/M

#6882 fix: ignore reserved column IDs and prevent panic on chunk_size is zero
  src/common/meta/src/reconciliation/utils.rs
  src/meta-srv/src/region/flush_trigger.rs
Labels: docs-not-required, size/XS

#6878 fix: prune intermediate dirs on index finish and region pruge
  src/mito2/src/access_layer.rs
  src/mito2/src/sst/file_purger.rs
  src/mito2/src/sst/index.rs
  src/mito2/src/sst/index/indexer/abort.rs
  src/mito2/src/sst/index/indexer/finish.rs
  src/mito2/src/sst/index/intermediate.rs
  src/puffin/src/puffin_manager/stager/bounded_stager.rs
Labels: docs-not-required, size/S

#6885 chore: fix typo
  src/mito2/src/region/version.rs
Labels: docs-not-required, size/XS

#6856 fix: initialize remote WAL regions with correct flushed entry IDs
  .github/actions/setup-greptimedb-cluster/with-remote-wal.yaml
  src/common/error/src/status_code.rs
  src/common/meta/src/instruction.rs
  src/common/meta/src/key/topic_region.rs
  src/datanode/src/heartbeat/handler.rs
  src/datanode/src/heartbeat/handler/open_region.rs
  src/datanode/src/heartbeat/handler/upgrade_region.rs
  src/log-store/src/kafka/log_store.rs
  src/log-store/src/kafka/periodic_offset_fetcher.rs
  src/log-store/src/kafka/worker/fetch_latest_offset.rs
  src/meta-srv/src/metrics.rs
  src/meta-srv/src/procedure/region_migration/open_candidate_region.rs
  src/meta-srv/src/procedure/region_migration/upgrade_candidate_region.rs
  src/meta-srv/src/region/flush_trigger.rs
  src/metric-engine/src/engine/catchup.rs
  src/mito2/src/compaction.rs
  src/mito2/src/engine/catchup_test.rs
  src/mito2/src/manifest/manager.rs
  src/mito2/src/region.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/test_util.rs
  src/mito2/src/test_util/scheduler_util.rs
  src/mito2/src/worker/handle_catchup.rs
  src/store-api/src/logstore/provider.rs
  src/store-api/src/region_request.rs
  tests/cases/standalone/common/information_schema/region_statistics.result
  tests/cases/standalone/common/information_schema/region_statistics.sql
Labels: docs-not-required, size/M, ci

#6875 test: migrate duckdb tests part2, window functions
  tests/cases/standalone/common/window/lead_lag.result
  tests/cases/standalone/common/window/lead_lag.sql
  tests/cases/standalone/common/window/ntile.result
  tests/cases/standalone/common/window/ntile.sql
  tests/cases/standalone/common/window/percent_functions.result
  tests/cases/standalone/common/window/percent_functions.sql
  tests/cases/standalone/common/window/rank_functions.result
  tests/cases/standalone/common/window/rank_functions.sql
  tests/cases/standalone/common/window/value_functions.result
  tests/cases/standalone/common/window/value_functions.sql
  tests/cases/standalone/common/window/window_advanced.result
  tests/cases/standalone/common/window/window_advanced.sql
  tests/cases/standalone/common/window/window_aggregates.result
  tests/cases/standalone/common/window/window_aggregates.sql
  tests/cases/standalone/common/window/window_frames.result
  tests/cases/standalone/common/window/window_frames.sql
  tests/cases/standalone/common/window/window_null_handling.result
  tests/cases/standalone/common/window/window_null_handling.sql
Labels: docs-not-required, size/M

#6891 fix: move prune_region_dir to region drop
  src/mito2/src/sst/file_purger.rs
  src/mito2/src/worker/handle_drop.rs
  src/puffin/src/puffin_manager/stager/bounded_stager.rs
Labels: docs-not-required, size/XS

#6890 chore: bump main branch version to 0.18
  Cargo.lock
  Cargo.toml
Labels: docs-not-required, size/S

#6898 chore: pick #6880
  src/flow/src/batching_mode/engine.rs
  src/flow/src/batching_mode/state.rs
  src/flow/src/batching_mode/task.rs
  src/flow/src/batching_mode/utils.rs
Labels: docs-not-required, size/S

#6902 chore: pick #6900
  config/config.md
  config/metasrv.example.toml
  src/meta-srv/src/handler/persist_stats_handler.rs
  src/meta-srv/src/lib.rs
  src/meta-srv/src/metasrv.rs
Labels: docs-not-required, size/XS

#6888 feat: implement basic write/read methods for bulk memtable
  src/mito2/src/memtable/bulk.rs
  src/mito2/src/memtable/bulk/part.rs
Labels: docs-not-required, size/M

#6911 feat: put sqlness into a separated dir
  .cargo/config.toml
Labels: docs-not-required, size/XS

#6844 feat: file ref mgr
  Cargo.lock
  src/datanode/src/datanode.rs
  src/mito2/Cargo.toml
  src/mito2/src/access_layer.rs
  src/mito2/src/engine.rs
  src/mito2/src/metrics.rs
  src/mito2/src/region.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/sst.rs
  src/mito2/src/sst/file.rs
  src/mito2/src/sst/file_purger.rs
  src/mito2/src/sst/file_ref.rs
  src/mito2/src/test_util.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_catchup.rs
  src/mito2/src/worker/handle_create.rs
  src/mito2/src/worker/handle_open.rs
  src/object-store/src/lib.rs
Labels: docs-not-required, size/M

#6910 fix: wrap tql cte in a subquery alias
  src/query/src/planner.rs
  tests/cases/standalone/common/tql/tql-cte.result
  tests/cases/standalone/common/tql/tql-cte.sql
Labels: docs-not-required, size/XS

#6870 test: migrate duckdb tests, part 1
  tests/cases/standalone/common/cast/boolean_cast.result
  tests/cases/standalone/common/cast/boolean_cast.sql
  tests/cases/standalone/common/cast/string_to_integer.result
  tests/cases/standalone/common/cast/string_to_integer.sql
  tests/cases/standalone/common/error/incorrect_sql.result
  tests/cases/standalone/common/error/incorrect_sql.sql
  tests/cases/standalone/common/filter/constant_comparisons.result
  tests/cases/standalone/common/filter/constant_comparisons.sql
  tests/cases/standalone/common/join/complex_join_expr.result
  tests/cases/standalone/common/join/complex_join_expr.sql
  tests/cases/standalone/common/keywords/escaped_quotes.result
  tests/cases/standalone/common/keywords/escaped_quotes.sql
  tests/cases/standalone/common/keywords/keywords_expressions.result
  tests/cases/standalone/common/keywords/keywords_expressions.sql
  tests/cases/standalone/common/limit/limit_advanced.result
  tests/cases/standalone/common/limit/limit_advanced.sql
  tests/cases/standalone/common/order/limit_zero.result
  tests/cases/standalone/common/order/limit_zero.sql
  tests/cases/standalone/common/overflow/integer_overflow.result
  tests/cases/standalone/common/overflow/integer_overflow.sql
  tests/cases/standalone/common/parser/operator_precedence.result
  tests/cases/standalone/common/parser/operator_precedence.sql
  tests/cases/standalone/common/select/multi_column_ref.result
  tests/cases/standalone/common/select/multi_column_ref.sql
  tests/cases/standalone/common/select/projection_names.result
  tests/cases/standalone/common/select/projection_names.sql
  tests/cases/standalone/common/select/qualified_view.result
  tests/cases/standalone/common/select/qualified_view.sql
  tests/cases/standalone/common/select/schema_reference.result
  tests/cases/standalone/common/select/schema_reference.sql
  tests/cases/standalone/common/setops/basic_setops.result
  tests/cases/standalone/common/setops/basic_setops.sql
  tests/cases/standalone/common/subquery/neumann.result
  tests/cases/standalone/common/subquery/neumann.sql
  tests/cases/standalone/common/subquery/offset.result
  tests/cases/standalone/common/subquery/offset.sql
  tests/cases/standalone/common/window/basic_window.result
  tests/cases/standalone/common/window/basic_window.sql
Labels: docs-not-required, size/L

#6929 chore: pick #6630 to 0.15
  src/mito2/src/access_layer.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/compaction/compactor.rs
  src/mito2/src/flush.rs
  src/mito2/src/metrics.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/writer.rs
Labels: docs-not-required, size/S

#6922 feat: add udtf (table function) registration
  src/common/function/src/function_registry.rs
  src/datanode/src/tests.rs
  src/query/src/datafusion.rs
  src/query/src/datafusion/planner.rs
  src/query/src/query_engine.rs
  src/query/src/query_engine/state.rs
Labels: docs-not-required, size/XS

#6921 feat: add InformationExtension.inspect_datanode for datanode inspection
  src/catalog/src/error.rs
  src/catalog/src/information_extension.rs
  src/catalog/src/system_schema/information_schema.rs
  src/cmd/src/flownode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/standalone.rs
  src/datanode/src/error.rs
  src/datanode/src/region_server.rs
  src/datanode/src/region_server/catalog.rs
  tests-integration/src/cluster.rs
Labels: docs-not-required, size/M

#6937 feat: add origin_region_id and node_id to sst entry
  src/metric-engine/src/engine/flush.rs
  src/mito2/src/access_layer.rs
  src/mito2/src/engine.rs
  src/mito2/src/engine/basic_test.rs
  src/mito2/src/region.rs
  src/mito2/src/sst/file_ref.rs
  src/store-api/src/sst_entry.rs
Labels: docs-not-required, size/S

#6849 feat: store partition expr per file in region manifest
  Cargo.lock
  src/mito2/Cargo.toml
  src/mito2/src/compaction/compactor.rs
  src/mito2/src/compaction/test_util.rs
  src/mito2/src/error.rs
  src/mito2/src/flush.rs
  src/mito2/src/manifest/tests/checkpoint.rs
  src/mito2/src/sst/file.rs
  src/mito2/src/sst/file_purger.rs
  src/mito2/src/sst/file_ref.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/test_util/sst_util.rs
  src/mito2/src/test_util/version_util.rs
Labels: docs-not-required, size/S

#6913 feat: exiting staging mode on success case
  src/mito2/src/engine/staging_test.rs
  src/mito2/src/manifest/manager.rs
  src/mito2/src/manifest/storage.rs
  src/mito2/src/manifest/tests/checkpoint.rs
  src/mito2/src/region.rs
Labels: docs-not-required, size/M

#6946 fix(path): fix program lookup failure on Windows CI
  tests/runner/src/env.rs
  tests/runner/src/util.rs
Labels: docs-not-required, size/XS

#6952 fix: count(1) instead of count(ts) when >1 inputs
  src/query/src/optimizer/count_wildcard.rs
Labels: docs-not-required, size/XS

#6964 feat: add visible to sst entry for staging mode
  src/datanode/src/region_server/catalog.rs
  src/metric-engine/src/engine/flush.rs
  src/mito2/src/engine.rs
  src/mito2/src/engine/basic_test.rs
  src/mito2/src/engine/staging_test.rs
  src/mito2/src/region.rs
  src/store-api/src/sst_entry.rs
Labels: docs-not-required, size/S

#6979 feat: add TLS support for mysql backend
  scripts/generate_certs.sh
  src/cli/src/metadata/common.rs
  src/common/meta/src/error.rs
  src/common/meta/src/kv_backend/etcd.rs
  src/common/meta/src/kv_backend/rds/mysql.rs
  src/common/meta/src/kv_backend/rds/postgres.rs
  src/common/meta/src/test_util.rs
  src/meta-srv/src/bootstrap.rs
  src/meta-srv/src/election/rds/mysql.rs
  src/meta-srv/src/election/rds/postgres.rs
  src/meta-srv/src/error.rs
  src/meta-srv/src/utils.rs
  src/meta-srv/src/utils/etcd.rs
  src/meta-srv/src/utils/mysql.rs
  src/meta-srv/src/utils/postgres.rs
  tests-integration/README.md
  tests-integration/fixtures/certs/client.crt
  tests-integration/fixtures/certs/client.key
  tests-integration/fixtures/certs/root.crt
  tests-integration/fixtures/certs/root.key
  tests-integration/fixtures/certs/root.srl
  tests-integration/fixtures/certs/server.crt
  tests-integration/fixtures/certs/server.key
  tests-integration/fixtures/docker-compose.yml
  tests-integration/fixtures/mysql/my.cnf
  tests-integration/fixtures/pgsql-certs/client.crt
  tests-integration/fixtures/pgsql-certs/client.key
  tests-integration/fixtures/pgsql-certs/root.crt
  tests-integration/fixtures/pgsql-certs/root.key
  tests-integration/fixtures/pgsql-certs/root.srl
  tests-integration/fixtures/pgsql-certs/server.crt
  tests-integration/fixtures/pgsql-certs/server.key
Labels: docs-not-required, size/L

#6947 chore: bump sequence on region edit
  src/datanode/src/tests.rs
  src/file-engine/src/engine.rs
  src/metric-engine/src/engine.rs
  src/metric-engine/src/engine/read.rs
  src/mito2/src/compaction/compactor.rs
  src/mito2/src/engine.rs
  src/mito2/src/engine/bump_committed_sequence_test.rs
  src/mito2/src/engine/edit_region_test.rs
  src/mito2/src/flush.rs
  src/mito2/src/manifest/action.rs
  src/mito2/src/manifest/manager.rs
  src/mito2/src/manifest/tests/checkpoint.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/region/version.rs
  src/mito2/src/region_write_ctx.rs
  src/mito2/src/request.rs
  src/mito2/src/test_util/version_util.rs
  src/mito2/src/worker/handle_manifest.rs
  src/mito2/src/worker/handle_write.rs
  src/query/src/optimizer/test_util.rs
  src/store-api/src/region_engine.rs
  src/store-api/src/region_request.rs
Labels: docs-not-required, size/M

#6971 fix: clean intm ignore notfound
  src/mito2/src/sst/index/intermediate.rs
Labels: docs-not-required, size/XS

#6948 chore: modify LogExpr AggrFunc
  src/log-query/src/log_query.rs
  src/query/src/log_query/planner.rs
Labels: docs-not-required, size/XS

#6988 refactor: put FileId to store-api
  Cargo.lock
  src/mito2/src/access_layer.rs
  src/mito2/src/cache.rs
  src/mito2/src/cache/file_cache.rs
  src/mito2/src/cache/index/bloom_filter_index.rs
  src/mito2/src/cache/index/inverted_index.rs
  src/mito2/src/cache/index/result_cache.rs
  src/mito2/src/compaction/buckets.rs
  src/mito2/src/compaction/picker.rs
  src/mito2/src/compaction/test_util.rs
  src/mito2/src/compaction/twcs.rs
  src/mito2/src/compaction/window.rs
  src/mito2/src/engine/edit_region_test.rs
  src/mito2/src/engine/listener.rs
  src/mito2/src/error.rs
  src/mito2/src/manifest/action.rs
  src/mito2/src/manifest/tests/checkpoint.rs
  src/mito2/src/memtable/bulk.rs
  src/mito2/src/memtable/bulk/part.rs
  src/mito2/src/read/last_row.rs
  src/mito2/src/sst/file.rs
  src/mito2/src/sst/file_purger.rs
  src/mito2/src/sst/file_ref.rs
  src/mito2/src/sst/index.rs
  src/mito2/src/sst/index/bloom_filter/applier.rs
  src/mito2/src/sst/index/bloom_filter/creator.rs
  src/mito2/src/sst/index/fulltext_index/creator.rs
  src/mito2/src/sst/index/intermediate.rs
  src/mito2/src/sst/index/inverted_index/applier.rs
  src/mito2/src/sst/index/inverted_index/creator.rs
  src/mito2/src/sst/index/puffin_manager.rs
  src/mito2/src/sst/location.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/reader.rs
  src/mito2/src/sst/parquet/row_group.rs
  src/mito2/src/sst/parquet/writer.rs
  src/mito2/src/sst/version.rs
  src/mito2/src/test_util/sst_util.rs
  src/mito2/src/test_util/version_util.rs
  src/mito2/src/worker.rs
  src/store-api/Cargo.toml
  src/store-api/src/storage.rs
  src/store-api/src/storage/file.rs
Labels: docs-not-required, size/S

#6967 refactor: rewrite some UDFs to DataFusion style (part 2)
  src/common/function/src/scalars/date/date_add.rs
  src/common/function/src/scalars/date/date_sub.rs
  src/common/function/src/scalars/geo/geohash.rs
  src/common/function/src/scalars/geo/h3.rs
  src/common/function/src/scalars/geo/helpers.rs
  src/common/function/src/scalars/matches.rs
  src/common/function/src/scalars/math.rs
  src/common/function/src/scalars/math/clamp.rs
  src/common/function/src/scalars/vector.rs
  src/common/function/src/scalars/vector/convert/vector_to_string.rs
  src/common/function/src/scalars/vector/distance.rs
  src/common/function/src/scalars/vector/elem_product.rs
  src/common/function/src/scalars/vector/elem_sum.rs
  src/common/function/src/scalars/vector/impl_conv.rs
  src/common/function/src/scalars/vector/scalar_add.rs
  src/common/function/src/scalars/vector/scalar_mul.rs
  src/common/function/src/scalars/vector/vector_add.rs
  src/common/function/src/scalars/vector/vector_dim.rs
  src/common/function/src/scalars/vector/vector_div.rs
  src/common/function/src/scalars/vector/vector_kth_elem.rs
  src/common/function/src/scalars/vector/vector_mul.rs
  src/common/function/src/scalars/vector/vector_norm.rs
  src/common/function/src/scalars/vector/vector_sub.rs
  src/common/function/src/scalars/vector/vector_subvector.rs
  src/query/src/tests/vec_product_test.rs
  src/query/src/tests/vec_sum_test.rs
  tests/cases/standalone/common/function/arithmetic.result
  tests/cases/standalone/common/function/geo.result
  tests/cases/standalone/common/promql/scalar.result
  tests/cases/standalone/common/types/vector/vector.result
Labels: docs-not-required, size/XXL

#6993 chore: improve error logging in WAL prune manager
  src/meta-srv/src/procedure/wal_prune/manager.rs
Labels: docs-not-required, size/XS

#6992 chore: update proto
  Cargo.lock
  Cargo.toml
Labels: docs-not-required, size/XS

#7013 fix: match promql column reference in case sensitive way
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/tql/case_sensitive.result
  tests/cases/standalone/common/tql/case_sensitive.sql
Labels: docs-not-required, size/XS

#7008 fix: group by expr not as column in step aggr
  src/common/function/src/aggrs/aggr_wrapper.rs
  src/common/function/src/aggrs/aggr_wrapper/tests.rs
  src/query/src/dist_plan/analyzer.rs
  src/query/src/dist_plan/analyzer/test.rs
  src/query/src/dist_plan/commutativity.rs
  tests/cases/distributed/explain/step_aggr.result
  tests/cases/distributed/explain/step_aggr.sql
  tests/cases/distributed/explain/step_aggr_advance.result
  tests/cases/distributed/explain/step_aggr_advance.sql
  tests/cases/distributed/explain/step_aggr_basic.result
  tests/cases/distributed/explain/step_aggr_basic.sql
  tests/cases/distributed/explain/step_aggr_massive.result
Labels: docs-not-required, size/M

#7016 feat: sql parse about show create trigger
  src/frontend/src/instance.rs
  src/frontend/src/instance/builder.rs
  src/operator/src/error.rs
  src/operator/src/statement.rs
  src/operator/src/statement/show.rs
  src/sql/src/parsers/show_parser.rs
  src/sql/src/parsers/show_parser/trigger.rs
  src/sql/src/statements/show/trigger.rs
  src/sql/src/statements/statement.rs
Labels: docs-not-required, size/M

#7017 feat: supports permission mode for static user provider
  src/auth/src/lib.rs
  src/auth/src/permission.rs
  src/auth/src/user_info.rs
  src/auth/src/user_provider.rs
  src/auth/src/user_provider/static_user_provider.rs
  src/auth/src/user_provider/watch_file_user_provider.rs
  src/plugins/src/frontend.rs
  tests-integration/src/standalone.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/http.rs
  tests-integration/tests/sql.rs
Labels: docs-not-required, size/M

#7015 fix: not step when aggr have order by/filter
  src/common/function/src/aggrs/aggr_wrapper.rs
  src/query/src/dist_plan/analyzer/test.rs
  src/query/src/dist_plan/commutativity.rs
Labels: docs-not-required, size/XS

#6932 feat!: improve `greptime_identity` pipeline behavior
  src/pipeline/src/error.rs
  src/pipeline/src/etl/transform/transformer/greptime.rs
  tests-integration/tests/http.rs
Labels: docs-required, breaking-change, size/S

#7025 refactor: cleanup datafusion-pg-catalog dependencies
  Cargo.lock
  Cargo.toml
  src/catalog/Cargo.toml
  src/catalog/src/system_schema/pg_catalog.rs
  src/common/function/Cargo.toml
  src/common/function/src/system/pg_catalog.rs
  src/servers/Cargo.toml
  src/servers/src/postgres/handler.rs
Labels: docs-not-required, size/S

#7014 feat: supports expression in TQL params
  src/sql/src/parsers/tql_parser.rs
  tests/cases/standalone/common/tql/basic.result
  tests/cases/standalone/common/tql/basic.sql
  tests/cases/standalone/common/tql/tql-cte.result
  tests/cases/standalone/common/tql/tql-cte.sql
Labels: docs-not-required, size/M

#6998 fix: step aggr merge phase not order nor filter
  Cargo.lock
  src/common/function/src/aggrs/aggr_wrapper.rs
  src/common/function/src/aggrs/aggr_wrapper/fix_order.rs
  src/common/function/src/aggrs/aggr_wrapper/tests.rs
  src/common/substrait/Cargo.toml
  src/common/substrait/src/df_substrait.rs
  src/query/src/dist_plan/analyzer/test.rs
  src/query/src/dist_plan/commutativity.rs
  src/query/src/optimizer/scan_hint.rs
  src/query/src/query_engine/state.rs
  tests/cases/distributed/optimizer/first_value_advance.result
  tests/cases/distributed/optimizer/first_value_advance.sql
  tests/cases/distributed/optimizer/last_value_advance.result
  tests/cases/distributed/optimizer/last_value_advance.sql
  tests/cases/standalone/common/join/left_join_patterns.result
  tests/cases/standalone/common/join/left_join_patterns.sql
  tests/cases/standalone/common/select/last_value.result
  tests/cases/standalone/common/select/last_value.sql
  tests/cases/standalone/common/tql-explain-analyze/explain.result
  tests/cases/standalone/optimizer/first_value_advance.result
  tests/cases/standalone/optimizer/first_value_advance.sql
  tests/cases/standalone/optimizer/last_value.result
  tests/cases/standalone/optimizer/last_value.sql
  tests/cases/standalone/optimizer/last_value_advance.result
  tests/cases/standalone/optimizer/last_value_advance.sql
Labels: docs-not-required, size/XXL

#7023 refactor: rewrite some UDFs to DataFusion style (final part)
  src/common/function/src/helper.rs
  src/common/function/src/scalars/date/date_format.rs
  src/common/function/src/scalars/json/json_get.rs
  src/common/function/src/scalars/json/json_is.rs
  src/common/function/src/scalars/json/json_path_exists.rs
  src/common/function/src/scalars/json/json_path_match.rs
  src/common/function/src/scalars/json/json_to_string.rs
  src/common/function/src/scalars/json/parse_json.rs
  src/common/function/src/scalars/matches_term.rs
  src/common/function/src/scalars/math/rate.rs
  src/common/function/src/scalars/timestamp/to_unixtime.rs
  src/common/function/src/scalars/vector/convert/parse_vector.rs
  src/common/function/src/scalars/vector/convert/vector_to_string.rs
  src/common/function/src/scalars/vector/distance.rs
  src/common/function/src/scalars/vector/elem_product.rs
  src/common/function/src/scalars/vector/elem_sum.rs
  src/common/function/src/scalars/vector/impl_conv.rs
  src/common/function/src/scalars/vector/scalar_add.rs
  src/common/function/src/scalars/vector/scalar_mul.rs
  src/common/function/src/scalars/vector/vector_add.rs
  src/common/function/src/scalars/vector/vector_div.rs
  src/common/function/src/scalars/vector/vector_mul.rs
  src/common/function/src/scalars/vector/vector_norm.rs
  src/common/function/src/scalars/vector/vector_sub.rs
  src/common/function/src/system/pg_catalog/version.rs
  src/common/query/src/error.rs
  src/query/src/datafusion.rs
  tests/cases/standalone/common/types/json/json.result
Labels: docs-not-required, size/XL

#7028 chore: disable file not exist on watch_file_user_provider
  src/auth/src/user_provider.rs
  src/auth/src/user_provider/static_user_provider.rs
  src/auth/src/user_provider/watch_file_user_provider.rs
Labels: docs-not-required, size/XS

#7024 chore: cherry pick patches to `release/v0.17.0` branch
  Cargo.lock
  Cargo.toml
  src/catalog/src/system_schema/information_schema/partitions.rs
  src/common/function/src/aggrs/aggr_wrapper.rs
  src/common/function/src/aggrs/aggr_wrapper/fix_order.rs
  src/common/function/src/aggrs/aggr_wrapper/tests.rs
  src/common/macro/src/admin_fn.rs
  src/common/substrait/Cargo.toml
  src/common/substrait/src/df_substrait.rs
  src/meta-srv/src/metasrv.rs
  src/promql/src/extension_plan/range_manipulate.rs
  src/query/src/dist_plan/analyzer.rs
  src/query/src/dist_plan/analyzer/fallback.rs
  src/query/src/dist_plan/analyzer/test.rs
  src/query/src/dist_plan/analyzer/utils.rs
  src/query/src/dist_plan/commutativity.rs
  src/query/src/optimizer/scan_hint.rs
  src/query/src/promql/planner.rs
  src/query/src/query_engine/state.rs
  src/servers/dashboard/VERSION
  src/sql/src/parsers/create_parser.rs
  src/sql/src/parsers/tql_parser.rs
  tests/cases/distributed/explain/step_aggr.result
  tests/cases/distributed/explain/step_aggr.sql
  tests/cases/distributed/explain/step_aggr_advance.result
  tests/cases/distributed/explain/step_aggr_advance.sql
  tests/cases/distributed/explain/step_aggr_basic.result
  tests/cases/distributed/explain/step_aggr_basic.sql
  tests/cases/distributed/explain/step_aggr_massive.result
  tests/cases/distributed/optimizer/first_value_advance.result
  tests/cases/distributed/optimizer/first_value_advance.sql
  tests/cases/distributed/optimizer/last_value_advance.result
  tests/cases/distributed/optimizer/last_value_advance.sql
  tests/cases/standalone/common/create/metric_engine_partition.result
  tests/cases/standalone/common/create/metric_engine_partition.sql
  tests/cases/standalone/common/join/left_join_patterns.result
  tests/cases/standalone/common/join/left_join_patterns.sql
  tests/cases/standalone/common/select/last_value.result
  tests/cases/standalone/common/select/last_value.sql
  tests/cases/standalone/common/system/information_schema.result
  tests/cases/standalone/common/tql-explain-analyze/explain.result
  tests/cases/standalone/common/tql/basic.result
  tests/cases/standalone/common/tql/basic.sql
  tests/cases/standalone/common/tql/case_sensitive.result
  tests/cases/standalone/common/tql/case_sensitive.sql
  tests/cases/standalone/common/tql/tql-cte.result
  tests/cases/standalone/common/tql/tql-cte.sql
  tests/cases/standalone/optimizer/first_value_advance.result
  tests/cases/standalone/optimizer/first_value_advance.sql
  tests/cases/standalone/optimizer/last_value.result
  tests/cases/standalone/optimizer/last_value.sql
  tests/cases/standalone/optimizer/last_value_advance.result
  tests/cases/standalone/optimizer/last_value_advance.sql
Labels: docs-not-required, size/XXL

#7037 chore: not warning
  src/query/src/dist_plan/analyzer/utils.rs
Labels: docs-not-required, size/XS

#7027 chore: improve create trigger display
  Cargo.lock
  src/common/mem-prof/Cargo.toml
  src/sql/src/statements/create/trigger.rs
  tests/runner/src/main.rs
Labels: docs-not-required, size/S

#7043 fix: use instance lables to fetch `greptime_memory_limit_in_bytes` and `greptime_cpu_limit_in_millicores` metrics
  grafana/dashboards/metrics/cluster/dashboard.json
  grafana/dashboards/metrics/cluster/dashboard.md
  grafana/dashboards/metrics/cluster/dashboard.yaml
  grafana/dashboards/metrics/standalone/dashboard.json
  grafana/dashboards/metrics/standalone/dashboard.md
  grafana/dashboards/metrics/standalone/dashboard.yaml
Labels: docs-not-required, size/XS, dashboard

#7038 refactor: add cgroup metrics collector
  Cargo.lock
  Cargo.toml
  src/cmd/Cargo.toml
  src/cmd/src/lib.rs
  src/common/stat/Cargo.toml
  src/common/stat/src/cgroups.rs
  src/servers/Cargo.toml
  src/servers/src/metrics_handler.rs
Labels: docs-not-required, size/S
