Repository GreptimeTeam/greptimedb, pull requests merged in 2025-02, with the labels that each got.

#5468 docs: the year is better to show in 2025
  README.md
Labels: docs-not-required

#5291 refactor(mito): Allow creating multiple files in ParquetWriter
  src/mito2/src/access_layer.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/compaction.rs
  src/mito2/src/compaction/compactor.rs
  src/mito2/src/compaction/picker.rs
  src/mito2/src/compaction/twcs.rs
  src/mito2/src/compaction/window.rs
  src/mito2/src/flush.rs
  src/mito2/src/sst/index.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/writer.rs
  src/mito2/src/test_util/sst_util.rs
  src/puffin/src/puffin_manager/fs_puffin_manager.rs
Labels: docs-not-required

#5470 docs: fix memory perf command wrong
  docs/how-to/how-to-profile-memory.md
Labels: docs-not-required

#5472 fix: don't transform Limit in TypeConversionRule, StringNormalizationRule and DistPlannerAnalyzer
  src/query/src/datafusion.rs
  src/query/src/dist_plan/analyzer.rs
  src/query/src/optimizer/string_normalization.rs
  src/query/src/optimizer/type_conversion.rs
  src/query/src/planner.rs
  tests/cases/standalone/common/order/limit.result
  tests/cases/standalone/common/order/limit.sql
  tests/cases/standalone/common/system/information_schema.result
  tests/cases/standalone/common/system/information_schema.sql
  tests/cases/standalone/limit/limit.result
  tests/cases/standalone/limit/limit.sql
Labels: docs-not-required

#5457 refactor!: unify the option names across all components
  config/config.md
  config/datanode.example.toml
  config/flownode.example.toml
  config/frontend.example.toml
  config/metasrv.example.toml
  config/standalone.example.toml
  src/cmd/src/datanode.rs
  src/cmd/src/flownode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/metasrv.rs
  src/cmd/src/standalone.rs
  src/cmd/tests/load_config_test.rs
  src/datanode/src/config.rs
  src/datanode/src/heartbeat.rs
  src/datanode/src/service.rs
  src/flow/src/adapter.rs
  src/flow/src/heartbeat.rs
  src/flow/src/server.rs
  src/frontend/src/heartbeat.rs
  src/frontend/src/server.rs
  src/meta-srv/src/metasrv.rs
  src/servers/src/addrs.rs
  src/servers/src/grpc.rs
  tests-fuzz/conf/standalone.template.toml
  tests-integration/src/standalone.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/http.rs
  tests/conf/frontend-test.toml.template
  tests/conf/standalone-test.toml.template
Labels: docs-required, breaking-change

#5471 feat: add vec_add function
  src/common/function/src/scalars/vector.rs
  src/common/function/src/scalars/vector/vector_add.rs
  src/common/function/src/scalars/vector/vector_sub.rs
  src/datatypes/src/vectors/binary.rs
  tests/cases/standalone/common/function/vector/vector.result
  tests/cases/standalone/common/function/vector/vector.sql
Labels: docs-not-required

#5451 perf: optimize time series memtable ingestion
  src/mito2/src/memtable/time_series.rs
  src/mito2/src/row_converter/dense.rs
Labels: docs-not-required

#5456 feat: write memtable in parallel
  src/mito2/src/region/opener.rs
  src/mito2/src/region_write_ctx.rs
  src/mito2/src/worker/handle_write.rs
Labels: docs-not-required

#5455 refactor: pull column filling logic out of mito worker loop
  src/mito2/src/engine.rs
  src/mito2/src/request.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_flush.rs
  src/mito2/src/worker/handle_write.rs
Labels: docs-not-required

#5461 fix: introduce gc task for metadata store
  Cargo.lock
  config/config.md
  config/standalone.example.toml
  src/cmd/src/standalone.rs
  src/common/config/Cargo.toml
  src/common/config/src/lib.rs
  src/common/procedure/src/options.rs
  src/frontend/Cargo.toml
  src/frontend/src/instance.rs
  src/log-store/Cargo.toml
  src/log-store/src/raft_engine/backend.rs
  src/log-store/src/raft_engine/log_store.rs
  tests-integration/src/standalone.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5481 fix: lose decimal precision when using decimal type as tag
  src/datatypes/src/vectors/decimal.rs
  src/datatypes/src/vectors/operations.rs
  src/datatypes/src/vectors/operations/replicate.rs
  tests/cases/standalone/common/types/decimal/decimal_table.result
  tests/cases/standalone/common/types/decimal/decimal_table.sql
Labels: docs-not-required

#5479 refactor: otlp logs insertion
  Cargo.lock
  Cargo.toml
  src/pipeline/src/etl.rs
  src/pipeline/src/etl/transform/transformer/greptime.rs
  src/servers/src/http/loki.rs
  src/servers/src/http/otlp.rs
  src/servers/src/otlp/logs.rs
  src/servers/src/otlp/utils.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5483 fix: unquote flow_name in create flow expr
  src/common/meta/src/key/flow/flow_name.rs
  src/operator/src/error.rs
  src/operator/src/expr_factory.rs
  src/sql/src/parsers/create_parser.rs
Labels: docs-not-required

#5485 fix: force recycle region dir after gc duration
  src/mito2/src/worker/handle_drop.rs
  src/mito2/src/worker/handle_open.rs
Labels: docs-not-required

#5487 fix: cross compiling for aarch64 targets and allow customizing page size
  Cross.toml
Labels: docs-not-required

#5488 chore: update pprof
  Cargo.lock
  Cargo.toml
  src/servers/Cargo.toml
Labels: docs-not-required

#5476 refactor!: unify the option names across all components part2
  README.md
  config/config.md
  config/datanode.example.toml
  docker/docker-compose/cluster-with-etcd.yaml
  src/cmd/tests/cli.rs
  src/cmd/tests/load_config_test.rs
  tests/runner/src/env.rs
Labels: breaking-change, docs-not-required

#5423 feat: update topic-region map when create and drop table
  src/cli/src/bench.rs
  src/cli/src/bench/metadata.rs
  src/common/meta/src/ddl/drop_database/executor.rs
  src/common/meta/src/ddl/drop_table.rs
  src/common/meta/src/ddl/drop_table/executor.rs
  src/common/meta/src/ddl/drop_table/metadata.rs
  src/common/meta/src/ddl/utils.rs
  src/common/meta/src/error.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/datanode_table.rs
  src/common/meta/src/key/topic_region.rs
  src/common/meta/src/wal_options_allocator.rs
Labels: docs-not-required

#5480 feat: move pipelines to the first-class endpoint
  src/servers/src/http.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5409 feat: pipeline dispatcher part 2: execution
  Cargo.lock
  src/frontend/src/instance/otlp.rs
  src/pipeline/benches/processor.rs
  src/pipeline/src/dispatcher.rs
  src/pipeline/src/etl.rs
  src/pipeline/src/etl/error.rs
  src/pipeline/src/etl/field.rs
  src/pipeline/src/etl/processor.rs
  src/pipeline/src/etl/processor/cmcd.rs
  src/pipeline/src/etl/processor/csv.rs
  src/pipeline/src/etl/processor/date.rs
  src/pipeline/src/etl/processor/decolorize.rs
  src/pipeline/src/etl/processor/digest.rs
  src/pipeline/src/etl/processor/dissect.rs
  src/pipeline/src/etl/processor/epoch.rs
  src/pipeline/src/etl/processor/gsub.rs
  src/pipeline/src/etl/processor/join.rs
  src/pipeline/src/etl/processor/json_path.rs
  src/pipeline/src/etl/processor/letter.rs
  src/pipeline/src/etl/processor/regex.rs
  src/pipeline/src/etl/processor/timestamp.rs
  src/pipeline/src/etl/processor/urlencoding.rs
  src/pipeline/src/etl/transform.rs
  src/pipeline/src/etl/transform/transformer/greptime.rs
  src/pipeline/src/etl/transform/transformer/greptime/coerce.rs
  src/pipeline/src/etl/value.rs
  src/pipeline/src/etl/value/map.rs
  src/pipeline/src/lib.rs
  src/pipeline/tests/common.rs
  src/pipeline/tests/dissect.rs
  src/pipeline/tests/pipeline.rs
  src/servers/src/elasticsearch.rs
  src/servers/src/error.rs
  src/servers/src/http/event.rs
  src/servers/src/http/extractor.rs
  src/servers/src/http/header.rs
  src/servers/src/http/otlp.rs
  src/servers/src/lib.rs
  src/servers/src/otlp/logs.rs
  src/servers/src/pipeline.rs
  src/servers/src/query_handler.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5467 fix: close issue #5466 by do not shortcut the drop command
  src/datanode/src/region_server.rs
Labels: docs-not-required

#5497 fix: refactor pgkv using prepare_cache about 10% better
  src/common/meta/src/kv_backend/postgres.rs
Labels: docs-not-required

#5495 chore: revert "docs: add TM to logos"
  docs/logo-text-padding-dark.png
  docs/logo-text-padding.png
Labels: docs-not-required

#5498 refactor: change traversal order during index construction
  src/mito2/src/read.rs
  src/mito2/src/row_converter.rs
  src/mito2/src/sst/index/bloom_filter/creator.rs
  src/mito2/src/sst/index/codec.rs
  src/mito2/src/sst/index/inverted_index/creator.rs
Labels: docs-not-required

#5501 feat: add metadata method to puffin reader
  src/puffin/src/puffin_manager.rs
  src/puffin/src/puffin_manager/fs_puffin_manager/reader.rs
Labels: docs-not-required

#5491 ci: safe ci using zizmor check
  .github/workflows/apidoc.yml
  .github/workflows/dependency-check.yml
  .github/workflows/dev-build.yml
  .github/workflows/develop.yml
  .github/workflows/docbot.yml
  .github/workflows/docs.yml
  .github/workflows/nightly-build.yml
  .github/workflows/nightly-ci.yml
  .github/workflows/release-dev-builder-images.yaml
  .github/workflows/release.yml
  .github/workflows/schedule.yml
  .github/workflows/semantic-pull-request.yml
Labels: docs-not-required

#5507 fix: drop useless clone and for loop second
  src/promql/src/extension_plan/union_distinct_on.rs
Labels: docs-not-required

#5505 ci: run nightly jobs only on greptimedb repo
  .github/workflows/nightly-ci.yml
Labels: docs-not-required

#5502 chore: set now as timestamp field default value
  src/pipeline/src/etl/transform.rs
  src/pipeline/src/etl/transform/transformer/greptime.rs
  src/pipeline/src/etl/transform/transformer/greptime/coerce.rs
  src/pipeline/tests/pipeline.rs
Labels: docs-not-required

#5496 feat: support server-side keep-alive for mysql and pg protocols
  Cargo.lock
  config/config.md
  config/frontend.example.toml
  config/standalone.example.toml
  src/frontend/src/server.rs
  src/frontend/src/service_config/mysql.rs
  src/frontend/src/service_config/postgres.rs
  src/servers/Cargo.toml
  src/servers/src/mysql/server.rs
  src/servers/src/postgres/server.rs
  src/servers/src/server.rs
  src/servers/tests/mysql/mysql_server_test.rs
  src/servers/tests/postgres/mod.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5486 feat!: unify all index creation grammars
  src/catalog/src/system_schema/information_schema/key_column_usage.rs
  src/datatypes/src/schema/column_schema.rs
  src/operator/src/expr_factory.rs
  src/query/src/sql/show_create_table.rs
  src/sql/src/parsers/create_parser.rs
  src/sql/src/statements.rs
  src/sql/src/statements/create.rs
  src/store-api/src/metadata.rs
  src/table/src/metadata.rs
  tests/cases/standalone/common/alter/change_col_inverted_index.result
  tests/cases/standalone/common/create/create_metric_table.result
  tests/cases/standalone/common/create/create_with_fulltext.result
  tests/cases/standalone/common/create/create_with_fulltext.sql
  tests/cases/standalone/common/flow/flow_user_guide.result
  tests/cases/standalone/common/flow/flow_user_guide.sql
  tests/cases/standalone/common/show/show_create.result
  tests/cases/standalone/common/show/show_create.sql
  tests/cases/standalone/common/show/show_index.result
  tests/cases/standalone/common/show/show_index.sql
  tests/cases/standalone/common/system/information_schema.result
Labels: docs-required, breaking-change

#5516 fix: use fixed `tonistiigi/binfmt:qemu-v7.0.0-28` image version instead of latest version to avoid segmentation fault
  .github/actions/build-greptime-images/action.yml
Labels: docs-not-required

#5520 fix(query_range): skip data field on errors
  src/servers/src/http/prometheus.rs
  src/servers/src/http/result/prometheus_resp.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5518 perf: better performance for LastNonNullIter close #5229 about 10x times faster
  src/mito2/src/read/dedup.rs
Labels: docs-not-required

#5503 perf: optimize table creation speed in metric engine
  src/metric-engine/src/engine.rs
  src/metric-engine/src/engine/create.rs
  src/metric-engine/src/engine/create/add_columns.rs
  src/metric-engine/src/engine/create/extract_new_columns.rs
  src/metric-engine/src/engine/create/validate.rs
  src/metric-engine/src/engine/state.rs
  src/metric-engine/src/error.rs
  src/metric-engine/src/lib.rs
  src/metric-engine/src/metadata_region.rs
Labels: docs-not-required

#5522 feat: alias database matcher for promql
  src/query/src/promql/planner.rs
  tests-integration/src/tests/promql_test.rs
  tests/cases/standalone/common/tql/basic.result
  tests/cases/standalone/common/tql/basic.sql
Labels: docs-not-required

#5521 fix(promql): unescape matcher values
  Cargo.lock
  src/query/Cargo.toml
  src/query/src/promql/planner.rs
  src/servers/src/http/prometheus.rs
  tests/cases/standalone/common/promql/regex.result
  tests/cases/standalone/common/promql/regex.sql
Labels: docs-not-required

#5531 feat: speed up read/write cache and stager eviction
  src/mito2/src/cache/file_cache.rs
  src/object-store/src/layers/lru_cache/read_cache.rs
  src/puffin/src/puffin_manager/stager/bounded_stager.rs
Labels: docs-not-required

#5523 chore: use the same version of chrono-tz
  Cargo.lock
  Cargo.toml
  src/common/time/Cargo.toml
  src/pipeline/Cargo.toml
Labels: docs-not-required

#5532 fix: old typo
  src/common/meta/src/ddl/tests/create_view.rs
Labels: docs-not-required

#5536 chore: add section marker for extenal dependencies
  Cargo.toml
Labels: docs-not-required

#5539 fix(jaeger): return error when no tracing table
  src/servers/src/http/jaeger.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5519 fix(promql): ignore filters for non-existent labels
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/non_existent_matchers.result
  tests/cases/standalone/common/promql/non_existent_matchers.sql
Labels: docs-required

#5530 feat: add stager nofitier to collect metrics
  src/index/src/fulltext_index/tests.rs
  src/mito2/src/sst/index/puffin_manager.rs
  src/puffin/src/puffin_manager/stager.rs
  src/puffin/src/puffin_manager/stager/bounded_stager.rs
  src/puffin/src/puffin_manager/tests.rs
Labels: docs-not-required

#5534 feat(promql): add series count metrics
  src/promql/src/extension_plan.rs
  src/promql/src/extension_plan/instant_manipulate.rs
  src/promql/src/extension_plan/normalize.rs
  src/promql/src/extension_plan/range_manipulate.rs
  src/promql/src/extension_plan/series_divide.rs
Labels: docs-not-required

#5494 refactor: refactor pg kvbackend impl in preparation for other rds kvbackend
  src/cli/src/bench.rs
  src/common/meta/Cargo.toml
  src/common/meta/src/error.rs
  src/common/meta/src/kv_backend.rs
  src/common/meta/src/kv_backend/postgres.rs
  src/common/meta/src/kv_backend/rds.rs
  src/common/meta/src/kv_backend/rds/postgres.rs
  src/meta-srv/src/bootstrap.rs
  src/meta-srv/src/election/postgres.rs
Labels: docs-not-required

#5526 perf: optimize table alteration speed in metric engine
  Cargo.lock
  src/metric-engine/Cargo.toml
  src/metric-engine/src/data_region.rs
  src/metric-engine/src/engine.rs
  src/metric-engine/src/engine/alter.rs
  src/metric-engine/src/engine/alter/extract_new_columns.rs
  src/metric-engine/src/engine/alter/validate.rs
  src/metric-engine/src/engine/create.rs
  src/metric-engine/src/engine/create/add_columns.rs
  src/metric-engine/src/engine/create/validate.rs
  src/metric-engine/src/engine/state.rs
  src/metric-engine/src/error.rs
  src/metric-engine/src/metadata_region.rs
  src/store-api/src/region_request.rs
Labels: docs-not-required

#5477 feat: add snapshot seqs field to query context
  Cargo.lock
  Cargo.toml
  src/common/meta/src/rpc/ddl.rs
  src/datanode/src/region_server.rs
  src/datanode/src/tests.rs
  src/file-engine/src/engine.rs
  src/metric-engine/src/engine.rs
  src/metric-engine/src/engine/read.rs
  src/mito2/src/engine.rs
  src/mito2/src/region/version.rs
  src/query/src/dummy_catalog.rs
  src/query/src/optimizer/test_util.rs
  src/session/src/context.rs
  src/store-api/src/mito_engine_options.rs
  src/store-api/src/region_engine.rs
  src/store-api/src/region_request.rs
Labels: docs-not-required

#5538 feat!: support alter skipping index
  Cargo.lock
  Cargo.toml
  src/api/src/v1/column_def.rs
  src/common/grpc-expr/src/alter.rs
  src/common/grpc-expr/src/error.rs
  src/datatypes/src/schema/column_schema.rs
  src/operator/src/expr_helper.rs
  src/sql/src/parsers/alter_parser.rs
  src/sql/src/statements/alter.rs
  src/store-api/src/metadata.rs
  src/store-api/src/region_request.rs
  src/table/src/error.rs
  src/table/src/metadata.rs
  src/table/src/requests.rs
  tests/cases/standalone/common/alter/change_col_fulltext_options.result
  tests/cases/standalone/common/alter/change_col_fulltext_options.sql
  tests/cases/standalone/common/alter/change_col_skipping_options.result
  tests/cases/standalone/common/alter/change_col_skipping_options.sql
Labels: docs-required, breaking-change

#5544 feat: drop noneffective regex filter
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/select/tql_filter.result
  tests/cases/standalone/common/select/tql_filter.sql
Labels: docs-not-required

#5550 ci: use s5cmd upload artifacts
  .github/actions/release-cn-artifacts/action.yaml
  .github/scripts/upload-artifacts-to-s3.sh
  .github/workflows/dev-build.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release.yml
Labels: docs-not-required

#5551 ci: don't push nightly latest image
  .github/actions/build-greptime-images/action.yml
  .github/actions/build-images/action.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release.yml
Labels: docs-not-required

#5546 feat(log-query): support specifying exclusive/inclusive for between filter
  src/log-query/src/log_query.rs
  src/query/src/log_query/planner.rs
Labels: docs-not-required

#5553 feat: collect stager metrics
  src/mito2/src/metrics.rs
  src/mito2/src/sst/index/puffin_manager.rs
Labels: docs-not-required

#5547 fix: correct promql behavior on nonexistent columns
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/label.result
  tests/cases/standalone/common/promql/label.sql
  tests/cases/standalone/common/promql/non_existent_matchers.result
  tests/cases/standalone/common/promql/non_existent_matchers.sql
Labels: docs-not-required

#5543 fix: window sort support alias time index
  src/query/src/dist_plan/commutativity.rs
  src/query/src/optimizer/windowed_sort.rs
  tests/cases/distributed/explain/order_by.result
  tests/cases/distributed/explain/order_by.sql
  tests/cases/standalone/common/order/order_by_exceptions.result
  tests/cases/standalone/optimizer/order_by.result
  tests/cases/standalone/optimizer/order_by.sql
Labels: docs-not-required

#5559 chore: improve grafana dashboard
  grafana/greptimedb-cluster.json
  grafana/greptimedb.json
Labels: docs-not-required

#5562 feat: update dashboard to v0.7.10
  src/servers/dashboard/VERSION
Labels: docs-not-required

#5529 chore: format all toml files
  src/api/Cargo.toml
  src/catalog/Cargo.toml
  src/common/base/Cargo.toml
  src/common/datasource/Cargo.toml
  src/common/function/Cargo.toml
  src/common/grpc-expr/Cargo.toml
  src/datanode/Cargo.toml
  src/datatypes/Cargo.toml
  src/file-engine/Cargo.toml
  src/flow/Cargo.toml
  src/frontend/Cargo.toml
  src/meta-client/Cargo.toml
  src/meta-srv/Cargo.toml
  src/mito2/Cargo.toml
  src/operator/Cargo.toml
  src/partition/Cargo.toml
  src/promql/Cargo.toml
  src/query/Cargo.toml
  src/servers/Cargo.toml
  src/table/Cargo.toml
  tests-integration/Cargo.toml
  tests/runner/Cargo.toml
Labels: docs-not-required

#5560 fix(promql-planner): remove le tag in ctx
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/simple_histogram.result
  tests/cases/standalone/common/promql/simple_histogram.sql
Labels: docs-not-required

#5558 feat: allow purging a given puffin file in staging area
  config/config.md
  config/datanode.example.toml
  config/standalone.example.toml
  src/index/src/fulltext_index/tests.rs
  src/mito2/src/compaction/compactor.rs
  src/mito2/src/config.rs
  src/mito2/src/error.rs
  src/mito2/src/sst/file.rs
  src/mito2/src/sst/file_purger.rs
  src/mito2/src/sst/index/puffin_manager.rs
  src/mito2/src/test_util.rs
  src/mito2/src/test_util/scheduler_util.rs
  src/mito2/src/worker.rs
  src/puffin/src/puffin_manager/stager.rs
  src/puffin/src/puffin_manager/stager/bounded_stager.rs
  src/puffin/src/puffin_manager/tests.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5557 fix(promql-planner): correct AND/UNLESS operator behavior
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/set_operation.result
  tests/cases/standalone/common/promql/set_operation.sql
Labels: docs-not-required

#5568 refactor: use global type alias for pipeline input
  src/pipeline/src/dispatcher.rs
  src/pipeline/src/etl.rs
  src/pipeline/src/etl/processor.rs
  src/pipeline/src/etl/processor/cmcd.rs
  src/pipeline/src/etl/processor/csv.rs
  src/pipeline/src/etl/processor/date.rs
  src/pipeline/src/etl/processor/decolorize.rs
  src/pipeline/src/etl/processor/digest.rs
  src/pipeline/src/etl/processor/dissect.rs
  src/pipeline/src/etl/processor/epoch.rs
  src/pipeline/src/etl/processor/gsub.rs
  src/pipeline/src/etl/processor/join.rs
  src/pipeline/src/etl/processor/json_path.rs
  src/pipeline/src/etl/processor/letter.rs
  src/pipeline/src/etl/processor/regex.rs
  src/pipeline/src/etl/processor/timestamp.rs
  src/pipeline/src/etl/processor/urlencoding.rs
  src/pipeline/src/etl/transform.rs
  src/pipeline/src/etl/transform/transformer/greptime.rs
  src/pipeline/src/etl/value.rs
  src/pipeline/src/etl/value/map.rs
  src/pipeline/src/lib.rs
  src/servers/src/pipeline.rs
Labels: docs-not-required

#5556 fix(promql-planner): update ctx field columns of OR operator
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/set_operation.result
  tests/cases/standalone/common/promql/set_operation.sql
Labels: docs-not-required

#5542 feat(promql): supports sort, sort_desc etc. functions
  Cargo.lock
  Cargo.toml
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/sort.result
  tests/cases/standalone/common/promql/sort.sql
Labels: docs-required

#5541 chore: support Loki's structured metadata for ingestion
  src/servers/src/http/loki.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5548 feat(log-query): implement the first part of log query expr
  src/log-query/src/log_query.rs
  src/query/src/log_query/error.rs
  src/query/src/log_query/planner.rs
  src/query/src/planner.rs
Labels: docs-not-required

#5571 feat: submit node's cpu cores number to metasrv in heartbeat
  Cargo.lock
  Cargo.toml
  src/cmd/src/metasrv.rs
  src/common/meta/src/cluster.rs
  src/datanode/Cargo.toml
  src/datanode/src/heartbeat.rs
  src/flow/Cargo.toml
  src/flow/src/heartbeat.rs
  src/frontend/Cargo.toml
  src/frontend/src/heartbeat.rs
  src/meta-srv/src/handler/collect_cluster_info_handler.rs
Labels: docs-not-required

#5572 feat: flow type on creating procedure
  src/common/meta/src/ddl/create_flow.rs
Labels: docs-not-required

#5565 feat: remap flow route address
  src/common/meta/src/cache/flow/table_flownode.rs
  src/common/meta/src/ddl/create_flow.rs
  src/common/meta/src/ddl/drop_flow/metadata.rs
  src/common/meta/src/key/flow.rs
  src/common/meta/src/key/flow/flow_route.rs
  src/common/meta/src/key/flow/flownode_addr_helper.rs
  src/common/meta/src/key/flow/table_flow.rs
  src/common/meta/src/key/node_address.rs
  src/flow/src/heartbeat.rs
  src/meta-srv/src/handler.rs
  src/meta-srv/src/handler/collect_stats_handler.rs
  src/meta-srv/src/handler/remap_flow_peer_handler.rs
  src/operator/src/flow.rs
Labels: docs-not-required

#5576 feat: enable gzip for prometheus query handlers and ignore NaN values in prometheus response
  src/servers/src/http.rs
  src/servers/src/http/result/prometheus_resp.rs
Labels: docs-not-required

#5575 docs: revise the author list
  AUTHOR.md
Labels: docs-not-required

#5580 feat: support UNNEST
  src/query/src/dist_plan/analyzer.rs
  src/query/src/optimizer/string_normalization.rs
  tests/cases/standalone/common/function/geo.result
  tests/cases/standalone/common/function/geo.sql
  tests/cases/standalone/common/select/unnest.result
  tests/cases/standalone/common/select/unnest.sql
Labels: docs-not-required

#5567 feat: support to generate json output for explain analyze in http api
  src/frontend/src/instance.rs
  src/query/Cargo.toml
  src/query/src/analyze.rs
  src/query/src/datafusion.rs
  src/session/src/context.rs
  src/sql/src/statements/explain.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5581 fix: broken link in AUTHOR.md
  AUTHOR.md
Labels: docs-not-required

#5499 feat: run sqlness in parallel
  Cargo.lock
  tests/cases/distributed/explain/analyze_append_table_count.result
  tests/cases/distributed/explain/analyze_append_table_count.sql
  tests/cases/distributed/information_schema/cluster_info.result
  tests/cases/distributed/information_schema/cluster_info.sql
  tests/cases/standalone/common/ttl/show_ttl.result
  tests/cases/standalone/common/ttl/show_ttl.sql
  tests/conf/datanode-test.toml.template
  tests/conf/standalone-test.toml.template
  tests/runner/Cargo.toml
  tests/runner/src/env.rs
  tests/runner/src/main.rs
  tests/runner/src/server_mode.rs
  tests/runner/src/util.rs
Labels: docs-not-required

#5584 fix: avoid run labeler job concurrently
  .github/workflows/docbot.yml
  .github/workflows/semantic-pull-request.yml
Labels: docs-not-required

#5586 fix: correct `inverted_indexed_column_ids` behavior
  src/mito2/src/sst/index.rs
  src/mito2/src/test_util/sst_util.rs
  src/store-api/src/metadata.rs
Labels: docs-not-required

#5590 fix: remove cached and uploaded files on failure
  src/mito2/src/cache/file_cache.rs
  src/mito2/src/cache/write_cache.rs
Labels: docs-not-required

#5561 perf: close issue 4974 by do not delete columns when drop logical region about 100 times faster
  Cargo.lock
  Cargo.toml
  src/common/meta/src/ddl/drop_database/executor.rs
  src/common/meta/src/ddl/drop_table.rs
  src/common/meta/src/ddl/drop_table/executor.rs
  src/datanode/src/region_server.rs
  src/metric-engine/src/engine/drop.rs
  src/mito2/src/engine/drop_test.rs
  src/mito2/src/request.rs
  src/mito2/src/worker.rs
  src/store-api/src/region_request.rs
Labels: docs-not-required

#5593 fix: all heartbeat channel need to check leader
  src/meta-srv/src/handler/check_leader_handler.rs
Labels: docs-not-required

#5597 feat: update dashboard to v0.7.11
  src/servers/dashboard/VERSION
Labels: docs-not-required

#5601 fix(prom): preserve the order of series in `PromQueryResult`
  Cargo.lock
  src/servers/Cargo.toml
  src/servers/src/http/result/prometheus_resp.rs
Labels: docs-not-required

#5607 feat(promql): ignore invalid input in histogram plan
  src/promql/src/extension_plan/histogram_fold.rs
  tests/cases/standalone/common/promql/simple_histogram.result
  tests/cases/standalone/common/promql/simple_histogram.sql
Labels: docs-not-required

#5606 feat(promql): implement subquery
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/subquery.result
  tests/cases/standalone/common/promql/subquery.sql
Labels: docs-not-required

#5604 feat: introduce `prom_round` fn
  src/datatypes/src/lib.rs
  src/promql/src/functions.rs
  src/promql/src/functions/round.rs
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/round_fn.result
  tests/cases/standalone/common/promql/round_fn.sql
Labels: docs-not-required

#5600 fix: flow heartbeat retry
  src/flow/src/heartbeat.rs
Labels: docs-not-required

#5592 fix(metasrv): clean expired nodes in memory
  config/config.md
  config/metasrv.example.toml
  src/common/meta/src/cluster.rs
  src/common/meta/src/lib.rs
  src/common/meta/src/node_expiry_listener.rs
  src/meta-srv/src/handler/collect_cluster_info_handler.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/service/heartbeat.rs
Labels: docs-not-required

#5578 feat(promql-planner): introduce vector matching binary operation
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/set_operation.result
  tests/cases/standalone/common/promql/set_operation.sql
Labels: docs-not-required

#5608 docs: tsbs update
  docs/benchmarks/tsbs/v0.12.0.md
Labels: docs-not-required

#5611 chore: bump version to 0.13.0
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
Labels: docs-not-required

#5587 feat: add `vec_dim` function
  src/common/function/src/scalars/vector.rs
  src/common/function/src/scalars/vector/vector_dim.rs
  tests/cases/standalone/common/function/vector/vector.result
  tests/cases/standalone/common/function/vector/vector.sql
Labels: docs-not-required

#5612 fix: check physical region before use
  src/metric-engine/src/engine/create.rs
  src/metric-engine/src/engine/state.rs
Labels: docs-not-required
