Repository GreptimeTeam/greptimedb, pull requests merged in 2025-05, with the labels that each got.

#6031 fix: force streaming mode for instant source table
  src/operator/src/statement/ddl.rs
  tests/cases/standalone/common/flow/flow_advance_ttl.result
  tests/cases/standalone/common/flow/flow_advance_ttl.sql
Labels: docs-not-required

#6032 chore: bump version to 0.14.2
  .github/scripts/update-dev-builder-version.sh
  .github/workflows/release-dev-builder-images.yaml
  Cargo.lock
  Cargo.toml
  src/client/src/database.rs
  src/cmd/src/metasrv.rs
  src/common/meta/src/kv_backend.rs
  src/common/meta/src/kv_backend/util.rs
  src/datanode/src/datanode.rs
  src/flow/src/adapter/flownode_impl.rs
  src/flow/src/batching_mode.rs
  src/flow/src/batching_mode/engine.rs
  src/flow/src/batching_mode/frontend_client.rs
  src/flow/src/error.rs
  src/flow/src/server.rs
  src/meta-srv/src/metasrv.rs
  src/operator/src/statement/ddl.rs
  tests/cases/standalone/common/flow/flow_advance_ttl.result
  tests/cases/standalone/common/flow/flow_advance_ttl.sql
  tests/cases/standalone/common/flow/flow_auto_sink_table.result
  tests/cases/standalone/common/flow/flow_auto_sink_table.sql
  tests/cases/standalone/common/flow/flow_basic.result
  tests/cases/standalone/common/flow/flow_basic.sql
  tests/cases/standalone/common/flow/flow_rebuild.result
  tests/cases/standalone/common/flow/flow_rebuild.sql
  tests/cases/standalone/common/flow/show_create_flow.result
  tests/cases/standalone/common/flow/show_create_flow.sql
Labels: docs-not-required

#6038 docs: refine readme
  README.md
  docs/architecture.png
  src/flow/src/expr/signature.rs
Labels: docs-not-required

#6028 chore: add logs dashboard
  .gitignore
  grafana/README.md
  grafana/dashboards/logs/dashboard.json
  grafana/dashboards/metrics/cluster/dashboard.json
  grafana/dashboards/metrics/cluster/dashboard.md
  grafana/dashboards/metrics/cluster/dashboard.yaml
  grafana/dashboards/metrics/standalone/dashboard.json
  grafana/dashboards/metrics/standalone/dashboard.md
  grafana/dashboards/metrics/standalone/dashboard.yaml
  grafana/scripts/check.sh
  grafana/scripts/gen-dashboards.sh
Labels: docs-not-required

#6037 ci: update website greptimedb version when releasing automatically
  .github/workflows/release.yml
  README.md
  cyborg/bin/bump-website-version.ts
Labels: docs-not-required

#6042 refactor: remove the "mode" configuration item completely
  src/cmd/src/datanode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/standalone.rs
  src/common/config/src/config.rs
  src/common/config/src/lib.rs
  src/datanode/src/datanode.rs
  src/datanode/src/greptimedb_telemetry.rs
  src/frontend/src/server.rs
  src/servers/src/lib.rs
  src/servers/tests/http/http_handler_test.rs
Labels: docs-required

#6047 chore: rm unnecessary depend for flow
  Cargo.lock
  src/flow/Cargo.toml
Labels: docs-not-required

#6040 fix: do not add projection to cast timestamp in label_values
  src/query/src/promql/error.rs
  src/query/src/promql/label_values.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#6026 fix: improve region migration error handling and optimize leader downgrade with lease check
  src/meta-srv/src/error.rs
  src/meta-srv/src/handler/keep_lease_handler.rs
  src/meta-srv/src/lease.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/procedure/region_migration.rs
  src/meta-srv/src/procedure/region_migration/downgrade_leader_region.rs
  src/meta-srv/src/procedure/region_migration/migration_start.rs
  src/meta-srv/src/procedure/region_migration/test_util.rs
  src/meta-srv/src/region/supervisor.rs
  src/mito2/src/worker/handle_catchup.rs
  src/mito2/src/worker/handle_manifest.rs
Labels: docs-not-required

#6019 feat(pipeline): select processor
  src/pipeline/src/error.rs
  src/pipeline/src/etl/processor.rs
  src/pipeline/src/etl/processor/select.rs
  src/pipeline/src/etl/processor/simple_extract.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#6057 refactor: remove some async in ServerHandlers
  src/cmd/src/cli.rs
  src/cmd/src/datanode.rs
  src/cmd/src/datanode/builder.rs
  src/cmd/src/flownode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/lib.rs
  src/cmd/src/metasrv.rs
  src/cmd/src/standalone.rs
  src/datanode/src/datanode.rs
  src/datanode/src/service.rs
  src/flow/src/server.rs
  src/frontend/src/frontend.rs
  src/frontend/src/server.rs
  src/meta-srv/src/bootstrap.rs
  src/servers/src/grpc.rs
  src/servers/src/grpc/builder.rs
  src/servers/src/http.rs
  src/servers/src/mysql/server.rs
  src/servers/src/postgres/server.rs
  src/servers/src/server.rs
  src/servers/tests/grpc/mod.rs
  src/servers/tests/mod.rs
  src/servers/tests/mysql/mysql_server_test.rs
  src/servers/tests/postgres/mod.rs
  tests-integration/src/cluster.rs
  tests-integration/src/grpc/flight.rs
  tests-integration/src/standalone.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/grpc.rs
  tests-integration/tests/sql.rs
Labels: docs-not-required

#6056 fix: reset tags when creating an empty metric in prom call
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/binary_time_fn.result
  tests/cases/standalone/common/promql/binary_time_fn.sql
Labels: docs-not-required

#6051 feat: scan with sst minimal sequence
  Cargo.lock
  Cargo.toml
  src/common/query/src/request.rs
  src/metric-engine/src/metadata_region.rs
  src/mito2/src/engine.rs
  src/mito2/src/engine/projection_test.rs
  src/mito2/src/engine/scan_test.rs
  src/mito2/src/read/scan_region.rs
  src/query/src/dummy_catalog.rs
  src/session/src/context.rs
  src/store-api/src/storage/requests.rs
Labels: docs-not-required

#6041 fix: ensures logical and physical region have the same timestamp unit
  src/metric-engine/src/engine/create.rs
  src/metric-engine/src/engine/open.rs
  src/metric-engine/src/engine/state.rs
  tests/cases/standalone/common/alter/alter_table.result
  tests/cases/standalone/common/alter/alter_table.sql
  tests/cases/standalone/common/create/create_metric_table.result
  tests/cases/standalone/common/create/create_metric_table.sql
Labels: docs-not-required

#6058 feat: update pgwire to 0.29
  .github/workflows/nightly-ci.yml
  Cargo.lock
  src/servers/Cargo.toml
  src/servers/src/postgres/server.rs
Labels: docs-not-required

#6061 fix: csv format escaping
  Cargo.lock
  src/pipeline/Cargo.toml
  src/servers/Cargo.toml
  src/servers/src/http/result/csv_result.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#6064 ci: run only in the `GreptimeTeam/greptimedb` repository
  .github/workflows/develop.yml
Labels: docs-not-required

#6065 chore: support rename syntax in field
  src/pipeline/src/etl/processor.rs
  src/pipeline/tests/date.rs
Labels: docs-required

#6054 feat: impl bulk memtable and bridge bulk inserts
  Cargo.lock
  Cargo.toml
  src/datatypes/src/vectors/string.rs
  src/mito2/src/error.rs
  src/mito2/src/flush.rs
  src/mito2/src/memtable.rs
  src/mito2/src/memtable/builder.rs
  src/mito2/src/memtable/bulk.rs
  src/mito2/src/memtable/bulk/part.rs
  src/mito2/src/memtable/partition_tree.rs
  src/mito2/src/memtable/simple_bulk_memtable.rs
  src/mito2/src/memtable/stats.rs
  src/mito2/src/memtable/time_partition.rs
  src/mito2/src/memtable/time_series.rs
  src/mito2/src/metrics.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/region_write_ctx.rs
  src/mito2/src/request.rs
  src/mito2/src/test_util/memtable_util.rs
  src/mito2/src/worker.rs
  src/mito2/src/worker/handle_bulk_insert.rs
  src/mito2/src/worker/handle_flush.rs
  src/mito2/src/worker/handle_write.rs
  src/operator/src/bulk_insert.rs
  src/operator/src/error.rs
  src/operator/src/metrics.rs
  src/store-api/src/region_request.rs
Labels: docs-not-required

#6049 fix: alter table modify type should also modify default value
  src/datatypes/src/schema/constraint.rs
  src/mito2/src/error.rs
  src/store-api/src/metadata.rs
  tests-fuzz/src/validator/column.rs
  tests-fuzz/targets/ddl/fuzz_alter_table.rs
  tests/cases/standalone/common/alter/alter_table.result
  tests/cases/standalone/common/alter/alter_table.sql
Labels: docs-not-required

#6069 feat: set read-preference for grpc client
  src/client/src/database.rs
  src/client/src/error.rs
  src/common/meta/src/key/table_route.rs
  src/datanode/src/datanode.rs
  src/servers/src/error.rs
  src/servers/src/grpc/flight.rs
  src/servers/src/grpc/greptime_handler.rs
  src/servers/src/grpc/prom_query_gateway.rs
  src/servers/src/hint_headers.rs
  src/servers/src/server.rs
  src/session/src/context.rs
Labels: docs-not-required

#6073 feat: mem prof can gen flamegraph directly
  Cargo.lock
  docs/how-to/how-to-profile-memory.md
  src/common/mem-prof/Cargo.toml
  src/common/mem-prof/src/error.rs
  src/common/mem-prof/src/jemalloc.rs
  src/common/mem-prof/src/lib.rs
  src/servers/src/http/mem_prof.rs
Labels: docs-required

#6074 ci: only trigger downstream when release success
  .github/workflows/release.yml
Labels: docs-not-required

#6055 feat: add datanode workloads support
  Cargo.lock
  Cargo.toml
  src/cmd/src/datanode.rs
  src/common/meta/Cargo.toml
  src/common/meta/src/cluster.rs
  src/common/meta/src/datanode.rs
  src/common/meta/src/heartbeat/utils.rs
  src/common/workload/Cargo.toml
  src/common/workload/src/lib.rs
  src/datanode/Cargo.toml
  src/datanode/src/config.rs
  src/datanode/src/heartbeat.rs
  src/meta-srv/Cargo.toml
  src/meta-srv/src/handler/collect_cluster_info_handler.rs
  src/meta-srv/src/handler/keep_lease_handler.rs
  src/meta-srv/src/key.rs
  src/meta-srv/src/lease.rs
  src/meta-srv/src/selector/lease_based.rs
  src/meta-srv/src/selector/load_based.rs
  src/meta-srv/src/selector/round_robin.rs
  src/meta-srv/src/test_util.rs
Labels: docs-not-required

#6066 fix!: disable append mode in trace services table
  src/operator/src/insert.rs
  src/servers/src/otlp/trace/v1.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#6071 ci: automatically update helm-charts when release
  .github/scripts/update-helm-charts-version.sh
  .github/workflows/release.yml
Labels: docs-not-required

#6081 chore: mv anyhow depend out of cfg
  src/common/mem-prof/Cargo.toml
Labels: docs-not-required

#6082 ci: update homebrew greptime version when release
  .github/scripts/update-homebrew-greptme-version.sh
  .github/workflows/release.yml
Labels: docs-not-required

#6083 chore: more cfg stuff on windows
  src/common/mem-prof/src/lib.rs
Labels: docs-not-required

#6075 refactor: introduce row group selection
  src/mito2/src/read/range.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/reader.rs
  src/mito2/src/sst/parquet/row_selection.rs
Labels: docs-not-required

#6085 chore: fix clippy error by feature-gating Query import
  src/servers/src/http/mem_prof.rs
Labels: docs-not-required

#6077 fix: flownode chose fe randomly&not starve lock
  Cargo.lock
  src/flow/Cargo.toml
  src/flow/src/adapter/flownode_impl.rs
  src/flow/src/batching_mode/engine.rs
  src/flow/src/batching_mode/frontend_client.rs
  src/flow/src/batching_mode/task.rs
  src/flow/src/error.rs
  src/flow/src/server.rs
Labels: docs-not-required

#6084 fix: typos
  docs/how-to/how-to-change-log-level-on-the-fly.md
  docs/how-to/how-to-implement-sql-statement.md
  docs/how-to/how-to-write-aggregate-function.md
  docs/how-to/how-to-write-fuzz-tests.md
Labels: docs-not-required

#6079 feat: implement PlainBatch struct
  src/mito2/src/read.rs
  src/mito2/src/read/plain_batch.rs
  src/mito2/src/sst.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/plain_format.rs
Labels: docs-not-required

#5875 feat: implement commutativity rule for prom-related plans
  src/common/function/src/scalars/math/rate.rs
  src/datatypes/src/vectors/dictionary.rs
  src/datatypes/src/vectors/helper.rs
  src/mito2/src/read/seq_scan.rs
  src/promql/src/extension_plan/instant_manipulate.rs
  src/promql/src/extension_plan/range_manipulate.rs
  src/promql/src/extension_plan/series_divide.rs
  src/promql/src/functions.rs
  src/promql/src/functions/extrapolate_rate.rs
  src/promql/src/functions/quantile_aggr.rs
  src/query/src/dist_plan/commutativity.rs
  src/query/src/optimizer/parallelize_scan.rs
  src/query/src/promql/planner.rs
  src/query/src/query_engine/default_serializer.rs
  src/query/src/query_engine/state.rs
  src/store-api/src/region_engine.rs
  src/table/src/lib.rs
  src/table/src/table/scan.rs
  tests/cases/distributed/explain/analyze.result
  tests/cases/distributed/explain/order_by.result
  tests/cases/distributed/explain/order_by.sql
  tests/cases/distributed/optimizer/windowed_sort.result
  tests/cases/distributed/optimizer/windowed_sort.sql
  tests/cases/distributed/tql-explain-analyze/analyze.result
  tests/cases/distributed/tql-explain-analyze/analyze.sql
  tests/cases/standalone/common/aggregate/distinct.result
  tests/cases/standalone/common/aggregate/multi_regions.result
  tests/cases/standalone/common/cte/cte.result
  tests/cases/standalone/common/cte/cte.sql
  tests/cases/standalone/common/order/order_by.result
  tests/cases/standalone/common/order/order_by.sql
  tests/cases/standalone/common/order/windowed_sort.result
  tests/cases/standalone/common/order/windowed_sort.sql
  tests/cases/standalone/common/select/skipping_index.result
  tests/cases/standalone/common/select/tql_filter.result
  tests/cases/standalone/common/tql-explain-analyze/explain.result
  tests/cases/standalone/common/tql/partition.result
  tests/cases/standalone/common/tql/partition.sql
  tests/cases/standalone/optimizer/last_value.result
  tests/cases/standalone/optimizer/order_by.result
  tests/cases/standalone/optimizer/order_by.sql
  tests/cases/standalone/optimizer/windowed_sort.result
  tests/cases/standalone/optimizer/windowed_sort.sql
  tests/cases/standalone/tql-explain-analyze/analyze.result
  tests/cases/standalone/tql-explain-analyze/analyze.sql
Labels: docs-not-required

#6090 chore: bump rskafka version
  Cargo.lock
  Cargo.toml
  tests-integration/fixtures/docker-compose.yml
Labels: docs-not-required

#6094 fix: promql regex escape behavior
  Cargo.lock
  Cargo.toml
  tests/cases/standalone/common/promql/regex.result
  tests/cases/standalone/common/promql/regex.sql
Labels: docs-not-required

#6086 feat(bulk): write to multiple time partitions
  src/mito2/Cargo.toml
  src/mito2/benches/bench_filter_time_partition.rs
  src/mito2/src/lib.rs
  src/mito2/src/memtable.rs
  src/mito2/src/memtable/bulk/part.rs
  src/mito2/src/memtable/simple_bulk_memtable.rs
  src/mito2/src/memtable/time_partition.rs
  src/mito2/src/worker/handle_bulk_insert.rs
  src/store-api/src/metadata.rs
Labels: docs-not-required

#6102 fix: table metadata collection
  src/meta-srv/src/region/lease_keeper.rs
Labels: docs-not-required

#6101 perf: avoid some atomic operation on array slice
  src/promql/src/functions/extrapolate_rate.rs
  src/promql/src/range_array.rs
Labels: docs-not-required

#6008 refactor: add `SlowQueryRecorder` to record slow query in system table and refactor slow query options
  Cargo.lock
  config/config.md
  config/datanode.example.toml
  config/flownode.example.toml
  config/frontend.example.toml
  config/metasrv.example.toml
  config/standalone.example.toml
  src/cmd/src/cli.rs
  src/cmd/src/datanode/builder.rs
  src/cmd/src/flownode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/metasrv.rs
  src/cmd/src/standalone.rs
  src/cmd/tests/load_config_test.rs
  src/common/telemetry/src/logging.rs
  src/frontend/Cargo.toml
  src/frontend/src/frontend.rs
  src/frontend/src/instance.rs
  src/frontend/src/instance/builder.rs
  src/frontend/src/lib.rs
  src/frontend/src/slow_query_recorder.rs
  src/query/src/lib.rs
  src/query/src/stats.rs
  tests-integration/src/cluster.rs
  tests-integration/src/standalone.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#6103 ci: update nix build linker
  .github/workflows/nightly-ci.yml
Labels: docs-not-required

#6107 chore: modify default `slow_query.threshold` from 5s to 30s
  config/config.md
  config/frontend.example.toml
  src/common/telemetry/src/logging.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#6109 feat: don't hide atomic write dir
  src/datanode/src/store.rs
  src/datanode/src/store/fs.rs
  src/mito2/src/access_layer.rs
Labels: docs-not-required

#5968 feat: New scanner `SeriesScan` to scan by series for querying metrics
  Cargo.lock
  src/mito2/src/engine/scan_test.rs
  src/mito2/src/error.rs
  src/mito2/src/read.rs
  src/mito2/src/read/prune.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/scan_util.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/read/series_scan.rs
  src/mito2/src/sst/parquet/file_range.rs
  src/mito2/src/test_util.rs
  src/query/src/optimizer/parallelize_scan.rs
  tests/cases/distributed/tql-explain-analyze/analyze.result
  tests/cases/standalone/common/select/tql_filter.result
  tests/cases/standalone/common/tql/partition.result
  tests/cases/standalone/tql-explain-analyze/analyze.result
Labels: docs-not-required

#6112 fix: clean files under the atomic write dir on failure
  src/mito2/src/access_layer.rs
  src/mito2/src/cache/file_cache.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/sst/parquet/writer.rs
  src/mito2/src/test_util.rs
Labels: docs-not-required

#6092 fix: append noop entry when auto topic creation is disabled
  src/common/meta/src/error.rs
  src/common/meta/src/test_util.rs
  src/common/meta/src/wal_options_allocator.rs
  src/common/meta/src/wal_options_allocator/topic_creator.rs
  src/common/meta/src/wal_options_allocator/topic_manager.rs
  src/common/meta/src/wal_options_allocator/topic_pool.rs
  src/common/wal/src/config/kafka/common.rs
  src/common/wal/src/test_util.rs
  src/log-store/src/kafka/client_manager.rs
  src/log-store/src/kafka/log_store.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/procedure/wal_prune.rs
  src/meta-srv/src/procedure/wal_prune/test_util.rs
  src/mito2/src/test_util.rs
  tests-integration/fixtures/docker-compose.yml
Labels: docs-not-required

#6104 fix: fast path for single region bulk insert
  src/client/src/database.rs
  src/client/src/region.rs
  src/common/grpc/src/flight.rs
  src/operator/src/bulk_insert.rs
  src/partition/src/multi_dim.rs
  src/partition/src/partition.rs
  src/partition/src/splitter.rs
  src/servers/src/grpc/flight/stream.rs
  src/store-api/src/region_request.rs
Labels: docs-not-required

#6117 fix: update promql-parser for regex anchor fix
  Cargo.lock
  Cargo.toml
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/regex.result
  tests/cases/standalone/common/promql/regex.sql
Labels: docs-not-required

#6091 feat: export to s3 add more options
  src/cli/src/export.rs
Labels: docs-not-required

#6125 ci: fix release job dependencies
  .github/workflows/release.yml
Labels: docs-not-required

#6127 chore: remove etcd from acknowledgement as not recommended
  README.md
Labels: docs-not-required

#6116 feat: implement clamp_min and clamp_max
  src/common/function/src/scalars/math.rs
  src/common/function/src/scalars/math/clamp.rs
  tests/cases/standalone/common/function/arithmetic.result
  tests/cases/standalone/common/function/arithmetic.sql
Labels: docs-required

#6110 feat: introduce index result cache
  config/config.md
  config/datanode.example.toml
  config/standalone.example.toml
  src/index/src/bloom_filter/applier.rs
  src/index/src/inverted_index/search/fst_apply/intersection_apply.rs
  src/index/src/inverted_index/search/fst_apply/keys_apply.rs
  src/index/src/inverted_index/search/predicate.rs
  src/mito2/src/cache.rs
  src/mito2/src/cache/index.rs
  src/mito2/src/cache/index/result_cache.rs
  src/mito2/src/config.rs
  src/mito2/src/sst/index/bloom_filter/applier.rs
  src/mito2/src/sst/index/bloom_filter/applier/builder.rs
  src/mito2/src/sst/index/fulltext_index/applier.rs
  src/mito2/src/sst/index/fulltext_index/applier/builder.rs
  src/mito2/src/sst/index/fulltext_index/creator.rs
  src/mito2/src/sst/index/inverted_index/applier.rs
  src/mito2/src/sst/index/inverted_index/applier/builder.rs
  src/mito2/src/sst/index/inverted_index/applier/builder/eq_list.rs
  src/mito2/src/sst/index/inverted_index/applier/builder/in_list.rs
  src/mito2/src/sst/parquet/reader.rs
  src/mito2/src/sst/parquet/row_selection.rs
  src/mito2/src/worker.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#6115 chore: Add more data format support to the pipeline dryrun api.
  src/pipeline/src/error.rs
  src/pipeline/src/etl.rs
  src/servers/src/http/event.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#6130 ci: add pull requests permissions to semantic check job
  .github/workflows/semantic-pull-request.yml
Labels: docs-not-required

#6128 chore: enable github folder typo check and fix typos
  .github/CODEOWNERS
  .github/scripts/create-version.sh
  .github/scripts/deploy-greptimedb.sh
  .github/scripts/upload-artifacts-to-s3.sh
  .github/workflows/develop.yml
  .github/workflows/release.yml
  .gitignore
Labels: docs-not-required

#6124 chore: update toolchain to 2025-05-19
  Cargo.toml
  flake.nix
  rust-toolchain.toml
  src/common/function/src/aggr/uddsketch_state.rs
  src/common/function/src/scalars/ip/cidr.rs
  src/common/function/src/scalars/ip/ipv6.rs
  src/common/meta/src/key/flow/flow_route.rs
  src/flow/src/compute/state.rs
  src/meta-srv/src/lease.rs
  src/operator/src/req_convert/common.rs
  src/operator/src/statement/ddl.rs
  src/promql/src/functions.rs
  src/query/src/window_sort.rs
Labels: docs-not-required

#6126 feat: accommodate default column name with pre-created table schema
  src/flow/src/server.rs
  src/frontend/src/instance/grpc.rs
  src/frontend/src/instance/opentsdb.rs
  src/frontend/src/instance/otlp.rs
  src/frontend/src/instance/prom_store.rs
  src/frontend/src/slow_query_recorder.rs
  src/operator/Cargo.toml
  src/operator/src/insert.rs
  src/operator/src/lib.rs
  src/operator/src/req_convert/delete/table_to_region.rs
  src/operator/src/req_convert/insert/table_to_region.rs
  src/operator/src/tests.rs
  src/operator/src/tests/kv_backend.rs
  src/pipeline/src/manager/table.rs
Labels: docs-not-required

#6133 chore: reduce unnecessary txns in alter operations
  src/common/meta/src/key/datanode_table.rs
Labels: docs-not-required

#6136 fix: update dev-build image tag
  .github/scripts/update-dev-builder-version.sh
  Makefile
Labels: docs-not-required

#6132 feat: update dashboard to v0.9.1
  src/servers/dashboard/VERSION
Labels: docs-not-required

#6137 feat: support altering multiple logical table in one remote write request
  src/operator/src/statement/ddl.rs
  src/servers/src/prom_store.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#6138 chore: update flush failure metric name and update grafana dashboard
  grafana/dashboards/metrics/cluster/dashboard.json
  grafana/dashboards/metrics/cluster/dashboard.md
  grafana/dashboards/metrics/cluster/dashboard.yaml
  grafana/dashboards/metrics/standalone/dashboard.json
  grafana/dashboards/metrics/standalone/dashboard.md
  grafana/dashboards/metrics/standalone/dashboard.yaml
  src/mito2/src/flush.rs
  src/mito2/src/metrics.rs
Labels: docs-not-required

#6140 feat: update dashboard to v0.9.2
  src/servers/dashboard/VERSION
Labels: docs-not-required

#6134 chore: remove stale wal config entries
  .github/actions/setup-greptimedb-cluster/with-remote-wal.yaml
  src/common/wal/src/config.rs
  tests/conf/datanode-test.toml.template
  tests/conf/standalone-test.toml.template
Labels: docs-not-required

#6142 docs: change docker run mount directory
  README.md
Labels: docs-not-required

#6146 fix: flaky prom gateway test
  tests-integration/tests/grpc.rs
Labels: docs-not-required

#6149 fix: region worker stall metrics
  src/mito2/src/worker/handle_write.rs
Labels: docs-not-required

#6145 ci: add issues write permission
  .github/workflows/semantic-pull-request.yml
Labels: docs-not-required

#6063 feat(flow): support prom ql(in tql) in flow
  Cargo.lock
  src/flow/Cargo.toml
  src/flow/src/batching_mode/engine.rs
  src/flow/src/batching_mode/task.rs
  src/flow/src/batching_mode/utils.rs
  src/operator/src/expr_helper.rs
  src/operator/src/statement/ddl.rs
  src/query/src/sql.rs
  src/sql/src/error.rs
  src/sql/src/parsers/create_parser.rs
  src/sql/src/parsers/tql_parser.rs
  src/sql/src/parsers/utils.rs
  src/sql/src/statements/create.rs
  src/sql/src/statements/tql.rs
  src/sql/src/util.rs
  tests/cases/standalone/common/flow/flow_tql.result
  tests/cases/standalone/common/flow/flow_tql.sql
  tests/cases/standalone/common/flow/show_create_flow.result
Labels: docs-required

#6100 fix(flow): flow task run interval
  src/flow/src/adapter/flownode_impl.rs
  src/flow/src/batching_mode/state.rs
  src/flow/src/batching_mode/task.rs
  src/flow/src/batching_mode/time_window.rs
Labels: docs-not-required

#6153 fix: ident value in set search_path
  src/operator/src/statement/set.rs
  tests/cases/standalone/common/system/pg_catalog.result
  tests/cases/standalone/common/system/pg_catalog.sql
Labels: docs-not-required, backport

#6160 chore: add the missing `v` prefix for `NEXT_RELEASE_VERSION` variable
  .github/scripts/create-version.sh
Labels: docs-not-required

#6157 ci: turn off fail fast strategy
  .github/workflows/develop.yml
Labels: docs-not-required

#6121 feat!: revise compaction picker
  src/mito2/Cargo.toml
  src/mito2/benches/bench_compaction_picker.rs
  src/mito2/src/access_layer.rs
  src/mito2/src/compaction.rs
  src/mito2/src/compaction/compactor.rs
  src/mito2/src/compaction/picker.rs
  src/mito2/src/compaction/run.rs
  src/mito2/src/compaction/task.rs
  src/mito2/src/compaction/test_util.rs
  src/mito2/src/compaction/twcs.rs
  src/mito2/src/compaction/window.rs
  src/mito2/src/engine/append_mode_test.rs
  src/mito2/src/engine/compaction_test.rs
  src/mito2/src/engine/filter_deleted_test.rs
  src/mito2/src/engine/merge_mode_test.rs
  src/mito2/src/lib.rs
  src/mito2/src/metrics.rs
  src/mito2/src/region/options.rs
  src/mito2/src/sst/file.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/writer.rs
  src/mito2/src/worker/handle_alter.rs
  src/store-api/src/mito_engine_options.rs
  src/store-api/src/region_request.rs
  tests-fuzz/src/generator/alter_expr.rs
  tests-fuzz/src/ir/alter_expr.rs
  tests-fuzz/src/translator/mysql/alter_expr.rs
  tests-fuzz/src/translator/postgres/alter_expr.rs
  tests/cases/distributed/explain/order_by.result
  tests/cases/distributed/explain/order_by.sql
  tests/cases/standalone/common/alter/alter_table_options.result
  tests/cases/standalone/common/alter/alter_table_options.sql
  tests/cases/standalone/common/create/create_with_options.result
  tests/cases/standalone/common/create/create_with_options.sql
  tests/cases/standalone/common/order/windowed_sort.result
  tests/cases/standalone/common/order/windowed_sort.sql
  tests/cases/standalone/common/select/flush_append_only.result
  tests/cases/standalone/common/select/flush_append_only.sql
  tests/cases/standalone/optimizer/order_by.result
  tests/cases/standalone/optimizer/order_by.sql
Labels: docs-required, breaking-change, A-compaction

#6135 chore: invalid table flow mapping cache
  src/common/meta/src/cache_invalidator.rs
  src/common/meta/src/key/flow.rs
  src/common/meta/src/key/flow/flow_info.rs
  src/common/meta/src/key/flow/flow_route.rs
  src/common/meta/src/key/flow/flownode_flow.rs
  src/flow/src/adapter/flownode_impl.rs
  src/flow/src/batching_mode/engine.rs
  src/flow/src/error.rs
Labels: docs-not-required

#6161 perf: optimize bulk encode decode
  Cargo.lock
  Cargo.toml
  src/common/grpc/Cargo.toml
  src/common/grpc/benches/bench_flight_decoder.rs
  src/common/grpc/benches/bench_main.rs
  src/common/grpc/src/error.rs
  src/common/grpc/src/flight.rs
  src/operator/src/bulk_insert.rs
  src/store-api/src/metadata.rs
  src/store-api/src/region_request.rs
Labels: docs-not-required

#6158 chore: metasrv starting not blocking
  src/meta-srv/src/bootstrap.rs
Labels: docs-not-required

#6165 fix: bulk insert case sensitive
  src/partition/src/expr.rs
  src/servers/src/grpc/greptime_handler.rs
  tests-integration/src/grpc/flight.rs
Labels: docs-not-required

#6175 refactor: replace FlightMessage with arrow `RecordBatch` and `Schema`
  Cargo.lock
  src/client/Cargo.toml
  src/client/src/database.rs
  src/client/src/error.rs
  src/client/src/region.rs
  src/common/grpc/benches/bench_flight_decoder.rs
  src/common/grpc/src/error.rs
  src/common/grpc/src/flight.rs
  src/common/query/src/error.rs
  src/operator/src/bulk_insert.rs
  src/servers/src/grpc/flight/stream.rs
  tests-integration/src/grpc/flight.rs
Labels: docs-not-required

#6180 chore: change info to debug for scanning physical table
  src/metric-engine/src/engine/read.rs
Labels: docs-not-required

#6183 fix(promql): handle field column projection with correct qualifier
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/or_operation.result
  tests/cases/standalone/common/promql/or_operation.sql
Labels: docs-not-required

#6150 feat: add CLI tool to export metadata
  .github/actions/build-linux-artifacts/action.yml
  Cargo.lock
  src/cli/Cargo.toml
  src/cli/src/error.rs
  src/cli/src/export.rs
  src/cli/src/lib.rs
  src/cli/src/meta_snapshot.rs
  src/cmd/Cargo.toml
  src/common/meta/Cargo.toml
  src/common/meta/src/error.rs
  src/common/meta/src/kv_backend.rs
  src/common/meta/src/lib.rs
  src/common/meta/src/snapshot.rs
  src/common/meta/src/snapshot/file.rs
  src/meta-srv/src/bootstrap.rs
  src/meta-srv/src/metasrv.rs
  src/plugins/src/cli.rs
Labels: docs-required

#6201 chore: add metrics for rds kv backend
  src/common/meta/src/kv_backend/rds.rs
  src/common/meta/src/kv_backend/rds/mysql.rs
  src/common/meta/src/kv_backend/rds/postgres.rs
  src/common/meta/src/lib.rs
  src/common/meta/src/metrics.rs
Labels: docs-not-required

#6181 chore: switch nix index to 25.05 release
  .github/workflows/nightly-ci.yml
  flake.lock
  flake.nix
Labels: docs-not-required

#6211 chore: fix feature gates for pg and mysql kvbackend
  src/cli/src/meta_snapshot.rs
  src/common/meta/src/kv_backend.rs
  src/meta-srv/src/metasrv.rs
Labels: docs-not-required

#6197 feat: support parsing trigger create sql
  licenserc.toml
  src/frontend/Cargo.toml
  src/frontend/src/instance.rs
  src/operator/Cargo.toml
  src/operator/src/error.rs
  src/operator/src/statement.rs
  src/operator/src/statement/ddl.rs
  src/sql/Cargo.toml
  src/sql/src/error.rs
  src/sql/src/parsers/create_parser.rs
  src/sql/src/parsers/create_parser/trigger.rs
  src/sql/src/statements/create.rs
  src/sql/src/statements/create/trigger.rs
  src/sql/src/statements/statement.rs
Labels: docs-not-required

#6210 feat: supports @@session.time_zone for mysql
  src/operator/src/statement.rs
  src/servers/src/mysql/federated.rs
  tests-integration/tests/sql.rs
Labels: docs-not-required

#6178 feat(wal): support bulk wal entries
  Cargo.lock
  Cargo.toml
  src/common/test-util/Cargo.toml
  src/common/test-util/src/flight.rs
  src/common/test-util/src/lib.rs
  src/log-store/src/kafka/log_store.rs
  src/log-store/src/raft_engine/log_store.rs
  src/mito2/Cargo.toml
  src/mito2/benches/bench_filter_time_partition.rs
  src/mito2/src/error.rs
  src/mito2/src/memtable/bulk/part.rs
  src/mito2/src/memtable/simple_bulk_memtable.rs
  src/mito2/src/memtable/time_partition.rs
  src/mito2/src/memtable/time_series.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/region_write_ctx.rs
  src/mito2/src/wal.rs
  src/mito2/src/wal/entry_distributor.rs
  src/mito2/src/wal/entry_reader.rs
  src/mito2/src/wal/raw_entry_reader.rs
  src/mito2/src/worker/handle_bulk_insert.rs
  src/operator/src/bulk_insert.rs
  src/store-api/src/logstore.rs
  src/store-api/src/region_request.rs
Labels: docs-not-required

#6213 feat(http): lossy string validation in prom remote write
  config/config.md
  config/frontend.example.toml
  config/standalone.example.toml
  src/frontend/src/server.rs
  src/servers/benches/prom_decode.rs
  src/servers/src/http.rs
  src/servers/src/http/prom_store.rs
  src/servers/src/metrics.rs
  src/servers/src/prom_row_builder.rs
  src/servers/src/proto.rs
  src/servers/tests/http/prom_store_test.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#6209 feat: update pgwire to 0.30
  Cargo.lock
  src/servers/Cargo.toml
  src/servers/src/postgres/handler.rs
Labels: docs-not-required

#6218 chore: example of http config in metasrv
  config/config.md
  config/metasrv.example.toml
Labels: docs-required

#6215 chore: clear metadata filed after updating metadata
  src/common/meta/src/ddl/alter_logical_tables.rs
  src/common/meta/src/ddl/alter_logical_tables/table_cache_keys.rs
Labels: docs-not-required

#6143 chore: shared pipeline under same catalog with compatibility
  src/pipeline/src/error.rs
  src/pipeline/src/manager.rs
  src/pipeline/src/manager/pipeline_cache.rs
  src/pipeline/src/manager/pipeline_operator.rs
  src/pipeline/src/manager/table.rs
  src/pipeline/src/manager/util.rs
  src/servers/src/http/event.rs
  tests-integration/tests/http.rs
Labels: docs-not-required
