Repository GreptimeTeam/greptimedb, pull requests merged in 2025-04, with the labels that each got.

#5810 chore: expose modules
  src/meta-srv/Cargo.toml
  src/meta-srv/src/handler.rs
  src/meta-srv/src/lib.rs
  src/meta-srv/src/procedure.rs
  src/meta-srv/src/procedure/test_util.rs
Labels: docs-not-required

#5809 refactor: remove mode option in configuration files
  config/config.md
  config/datanode.example.toml
  config/flownode.example.toml
  config/standalone.example.toml
  src/cmd/src/datanode.rs
  src/cmd/src/flownode.rs
  src/cmd/src/standalone.rs
  src/datanode/src/config.rs
  src/datanode/src/datanode.rs
  src/flow/src/adapter.rs
  tests-integration/src/cluster.rs
  tests-integration/src/standalone.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5802 fix: correct error status code
  src/partition/src/error.rs
Labels: docs-not-required

#5794 perf: introduce `simd_json` for parsing ndjson
  Cargo.lock
  Cargo.toml
  src/pipeline/Cargo.toml
  src/pipeline/src/etl.rs
  src/pipeline/src/etl/value.rs
  src/pipeline/src/lib.rs
  src/servers/Cargo.toml
  src/servers/src/elasticsearch.rs
  src/servers/src/http/event.rs
  src/servers/src/interceptor.rs
Labels: docs-not-required

#5783 feat: introduce read preference
  Cargo.lock
  Cargo.toml
  src/common/function/src/system.rs
  src/common/function/src/system/database.rs
  src/common/session/Cargo.toml
  src/common/session/src/lib.rs
  src/frontend/src/error.rs
  src/frontend/src/instance/builder.rs
  src/frontend/src/instance/region_query.rs
  src/operator/src/statement.rs
  src/operator/src/statement/set.rs
  src/partition/Cargo.toml
  src/partition/src/manager.rs
  src/query/Cargo.toml
  src/query/src/dist_plan/merge_scan.rs
  src/query/src/region_query.rs
  src/query/src/sql.rs
  src/servers/Cargo.toml
  src/servers/src/http.rs
  src/servers/src/http/header.rs
  src/servers/src/http/read_preference.rs
  src/session/Cargo.toml
  src/session/src/context.rs
  src/session/src/lib.rs
  tests/cases/standalone/common/system/read_preference.result
  tests/cases/standalone/common/system/read_preference.sql
Labels: docs-required

#5770 refactor: allow bloom filter search to apply `and` conjunction
  src/index/src/bloom_filter/applier.rs
  src/mito2/src/sst/index/bloom_filter/applier.rs
  src/mito2/src/sst/index/bloom_filter/applier/builder.rs
Labels: docs-not-required

#5812 refactor: remove prom store write dispatch
  src/servers/src/http.rs
  src/servers/src/http/prom_store.rs
Labels: docs-not-required

#5811 feat: introduce `CollectLeaderRegionHandler`
  src/cmd/src/standalone.rs
  src/common/meta/src/datanode.rs
  src/common/meta/src/region_registry.rs
  src/meta-srv/src/handler.rs
  src/meta-srv/src/handler/collect_leader_region_handler.rs
  src/meta-srv/src/handler/failure_handler.rs
  src/meta-srv/src/handler/region_lease_handler.rs
  src/meta-srv/src/selector/weight_compute.rs
  src/metric-engine/src/engine.rs
  src/mito2/src/region.rs
  src/store-api/src/region_engine.rs
Labels: docs-not-required

#5816 test: looser condition
  tests/cases/standalone/common/flow/flow_view.result
  tests/cases/standalone/common/flow/flow_view.sql
Labels: docs-not-required

#5806 feat: add backend field to fulltext options
  Cargo.lock
  Cargo.toml
  src/api/src/v1/column_def.rs
  src/common/grpc-expr/src/alter.rs
  src/datatypes/src/schema.rs
  src/datatypes/src/schema/column_schema.rs
  src/index/src/fulltext_index/create/bloom_filter.rs
  src/index/src/fulltext_index/error.rs
  src/mito2/src/engine/alter_test.rs
  src/mito2/src/sst/index.rs
  src/mito2/src/sst/index/fulltext_index/creator.rs
  src/operator/src/expr_helper.rs
  src/sql/src/parsers/alter_parser.rs
  src/sql/src/parsers/utils.rs
  src/sql/src/statements/alter.rs
  src/store-api/src/metadata.rs
  src/store-api/src/region_request.rs
  src/table/src/metadata.rs
Labels: docs-required

#5820 feat: support REPLACE INTO statement
  src/sql/src/parser.rs
  src/sql/src/parsers/insert_parser.rs
  tests/cases/standalone/common/insert/insert.result
  tests/cases/standalone/common/insert/insert.sql
Labels: docs-required

#5817 feat: add `matches_term` function
  Cargo.lock
  src/common/function/Cargo.toml
  src/common/function/src/function_registry.rs
  src/common/function/src/scalars.rs
  src/common/function/src/scalars/matches_term.rs
  tests/cases/standalone/common/function/matches_term.result
  tests/cases/standalone/common/function/matches_term.sql
Labels: docs-not-required

#5826 feat: implement `sync_region` for metric engine
  Cargo.lock
  Cargo.toml
  src/datanode/src/alive_keeper.rs
  src/datanode/src/datanode.rs
  src/datanode/src/heartbeat.rs
  src/datanode/src/region_server.rs
  src/datanode/src/tests.rs
  src/file-engine/src/engine.rs
  src/metric-engine/src/engine.rs
  src/metric-engine/src/error.rs
  src/mito2/src/engine.rs
  src/mito2/src/engine/sync_test.rs
  src/mito2/src/error.rs
  src/query/src/optimizer/test_util.rs
  src/store-api/src/region_engine.rs
Labels: docs-not-required

#5829 clear message for an awesome achievement
  README.md
Labels: docs-not-required

#5828 refactor!: make pipeline a required parameter when ingesting trace
  src/pipeline/src/error.rs
  src/pipeline/src/manager.rs
  src/servers/src/http/otlp.rs
  tests-integration/tests/http.rs
Labels: breaking-change, docs-not-required

#5808 refactor: remove backoff config
  config/config.md
  config/datanode.example.toml
  config/metasrv.example.toml
  config/standalone.example.toml
  src/common/meta/src/wal_options_allocator/topic_creator.rs
  src/common/wal/src/config.rs
  src/common/wal/src/config/kafka/common.rs
  src/common/wal/src/config/kafka/datanode.rs
  src/common/wal/src/config/kafka/metasrv.rs
  src/log-store/src/kafka/client_manager.rs
Labels: docs-required

#5832 chore: remove patch.crates-io for rustls
  Cargo.lock
  Cargo.toml
  src/servers/Cargo.toml
  tests-integration/Cargo.toml
  tests/runner/Cargo.toml
Labels: docs-not-required

#5822 feat: introduce poison mechanism for procedure
  Cargo.lock
  Cargo.toml
  src/common/meta/src/ddl/test_util.rs
  src/common/meta/src/ddl/tests/alter_logical_tables.rs
  src/common/meta/src/ddl/tests/create_logical_tables.rs
  src/common/meta/src/ddl/tests/create_table.rs
  src/common/meta/src/ddl/tests/create_view.rs
  src/common/meta/src/ddl_manager.rs
  src/common/meta/src/error.rs
  src/common/meta/src/key.rs
  src/common/meta/src/rpc/procedure.rs
  src/common/meta/src/state_store.rs
  src/common/procedure-test/Cargo.toml
  src/common/procedure-test/src/lib.rs
  src/common/procedure/src/error.rs
  src/common/procedure/src/lib.rs
  src/common/procedure/src/local.rs
  src/common/procedure/src/local/runner.rs
  src/common/procedure/src/procedure.rs
  src/common/procedure/src/store.rs
  src/common/procedure/src/store/poison_store.rs
  src/common/procedure/src/test_util.rs
  src/common/procedure/src/watcher.rs
  src/frontend/src/instance.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/procedure/region_migration/test_util.rs
  src/meta-srv/src/procedure/tests.rs
  src/meta-srv/src/procedure/wal_prune.rs
Labels: docs-not-required

#5823 fix: skip replacing exprs of the DistinctOn node
  src/query/src/dist_plan/analyzer.rs
  src/query/src/optimizer/string_normalization.rs
  src/query/src/optimizer/type_conversion.rs
  src/query/src/range_select/plan_rewrite.rs
  tests/cases/standalone/common/aggregate/distinct.result
  tests/cases/standalone/common/aggregate/distinct.sql
Labels: docs-not-required

#5791 refactor: add time range for jager get operations API
  src/frontend/src/instance/jaeger.rs
  src/servers/src/http/jaeger.rs
  src/servers/src/query_handler.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5792 fix: throw errors instead of ignoring
  src/common/meta/src/ddl/alter_table.rs
  src/common/meta/src/ddl/create_table.rs
  src/common/meta/src/ddl/drop_database.rs
  src/common/meta/src/ddl/drop_table.rs
  src/common/meta/src/ddl/test_util/datanode_handler.rs
  src/common/meta/src/ddl/tests/alter_table.rs
  src/common/meta/src/ddl/utils.rs
  src/common/meta/src/error.rs
  src/common/meta/src/lib.rs
  src/common/meta/src/poison_key.rs
  src/common/procedure-test/src/lib.rs
  src/common/procedure/src/error.rs
  src/common/procedure/src/lib.rs
  src/common/procedure/src/local/runner.rs
  src/common/procedure/src/procedure.rs
  src/meta-srv/src/handler/collect_leader_region_handler.rs
  src/metric-engine/src/data_region.rs
  src/metric-engine/src/engine/alter.rs
  src/metric-engine/src/test_util.rs
  src/mito2/src/engine/alter_test.rs
  src/mito2/src/engine/compaction_test.rs
  src/mito2/src/engine/sync_test.rs
  src/mito2/src/error.rs
  src/mito2/src/worker/handle_alter.rs
  src/store-api/src/region_request.rs
  tests-fuzz/targets/ddl/fuzz_alter_table.rs
  tests/cases/standalone/common/alter/alter_table.result
  tests/cases/standalone/common/alter/alter_table.sql
Labels: docs-not-required

#5825 feat(remote-wal): send flush request when pruning remote wal
  src/common/meta/src/instruction.rs
  src/common/meta/src/key.rs
  src/common/meta/src/key/topic_name.rs
  src/datanode/src/heartbeat/handler.rs
  src/datanode/src/heartbeat/handler/close_region.rs
  src/datanode/src/heartbeat/handler/downgrade_region.rs
  src/datanode/src/heartbeat/handler/flush_region.rs
  src/datanode/src/heartbeat/handler/open_region.rs
  src/datanode/src/heartbeat/handler/upgrade_region.rs
  src/meta-srv/src/error.rs
  src/meta-srv/src/handler.rs
  src/meta-srv/src/procedure/test_util.rs
  src/meta-srv/src/procedure/wal_prune.rs
  src/meta-srv/src/service/mailbox.rs
Labels: docs-not-required

#5838 refactor: improve performance for Jaeger APIs
  src/common/catalog/src/consts.rs
  src/frontend/src/instance/jaeger.rs
  src/operator/src/insert.rs
  src/servers/src/http/header.rs
  src/servers/src/http/jaeger.rs
  src/servers/src/http/otlp.rs
  src/servers/src/otlp/trace.rs
  src/servers/src/otlp/trace/v0.rs
  src/servers/src/otlp/trace/v1.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5691 perf: evolve promql execution engine
  Cargo.lock
  Cargo.toml
  src/cmd/tests/load_config_test.rs
  src/promql/src/extension_plan/histogram_fold.rs
  src/promql/src/extension_plan/instant_manipulate.rs
  src/promql/src/extension_plan/normalize.rs
  src/promql/src/extension_plan/range_manipulate.rs
  src/promql/src/extension_plan/scalar_calculate.rs
  src/promql/src/extension_plan/series_divide.rs
  src/query/src/dist_plan/analyzer.rs
  src/query/src/dist_plan/merge_scan.rs
  src/query/src/dist_plan/planner.rs
  src/query/src/optimizer.rs
  src/query/src/optimizer/pass_distribution.rs
  src/query/src/promql/planner.rs
  src/query/src/query_engine/state.rs
  src/table/src/table/scan.rs
  tests/cases/distributed/explain/multi_partitions.result
  tests/cases/distributed/explain/order_by.result
  tests/cases/standalone/common/order/order_by_exceptions.result
  tests/cases/standalone/common/select/tql_filter.result
  tests/cases/standalone/common/tql-explain-analyze/analyze.result
  tests/cases/standalone/common/tql-explain-analyze/explain.result
  tests/cases/standalone/common/tql/basic.result
  tests/cases/standalone/common/tql/basic.sql
Labels: docs-not-required

#5843 feat: add term as fulltext index request
  src/mito2/src/sst/index/fulltext_index/applier.rs
  src/mito2/src/sst/index/fulltext_index/applier/builder.rs
  src/mito2/src/sst/index/fulltext_index/creator.rs
Labels: docs-not-required

#5849 feat: shorten possible wrong query range
  src/promql/src/extension_plan/range_manipulate.rs
Labels: docs-not-required

#5848 refactor(flow): make start flownode clearer
  src/cmd/src/flownode.rs
  src/cmd/src/standalone.rs
  src/flow/src/adapter/flownode_impl.rs
  src/flow/src/lib.rs
  src/flow/src/server.rs
Labels: docs-not-required

#5850 feat: make `admin_fn` macro usable outside common_function module
  src/common/function/Cargo.toml
  src/common/function/src/function.rs
  src/common/function/src/state.rs
  src/common/macro/src/admin_fn.rs
  src/common/macro/src/lib.rs
Labels: docs-not-required

#5847 feat: pushdown select distinct in some cases
  src/query/src/dist_plan/analyzer.rs
  src/query/src/dist_plan/commutativity.rs
  tests/cases/distributed/explain/order_by.result
  tests/cases/standalone/common/aggregate/distinct.result
  tests/cases/standalone/common/aggregate/distinct.sql
Labels: docs-not-required

#5851 refactor: improve error code handling in status code conversion
  src/client/src/error.rs
  src/client/src/region.rs
  src/common/error/src/status_code.rs
  src/meta-client/src/client/cluster.rs
  src/meta-client/src/client/procedure.rs
  src/meta-client/src/error.rs
  src/servers/src/error.rs
  src/servers/src/mysql/writer.rs
  src/servers/src/postgres/types/error.rs
Labels: docs-not-required

#5856 refactor: simplify tls key read code and add sec1 key support
  src/servers/src/tls.rs
Labels: docs-not-required

#5807 feat(flow): batching mode engine
  Cargo.lock
  src/client/src/database.rs
  src/common/meta/src/ddl/create_flow.rs
  src/flow/src/adapter.rs
  src/flow/src/batching_mode.rs
  src/flow/src/batching_mode/engine.rs
  src/flow/src/batching_mode/frontend_client.rs
  src/flow/src/batching_mode/state.rs
  src/flow/src/batching_mode/task.rs
  src/flow/src/batching_mode/time_window.rs
  src/flow/src/batching_mode/utils.rs
  src/flow/src/error.rs
  src/flow/src/lib.rs
  src/flow/src/metrics.rs
  src/frontend/Cargo.toml
  src/frontend/src/error.rs
  src/frontend/src/instance/grpc.rs
  src/frontend/src/metrics.rs
Labels: docs-not-required

#5864 chore: remove obsolete way of passing http configurations through env
  src/datanode/src/store.rs
Labels: docs-not-required

#5862 chore: un-allow clippy's "readonly_write_lock"
  Cargo.toml
  src/log-store/src/raft_engine/backend.rs
Labels: docs-not-required

#5860 chore: remove repl
  Cargo.lock
  src/cli/src/error.rs
  src/cli/src/lib.rs
  src/cli/src/repl.rs
  src/cmd/Cargo.toml
  src/cmd/src/error.rs
  src/cmd/tests/cli.rs
  src/frontend/src/error.rs
Labels: docs-not-required

#5873 feat: add `catalog_manager` to `ProcedureServiceHandler`
  Cargo.lock
  src/common/function/Cargo.toml
  src/common/function/src/handlers.rs
  src/common/function/src/state.rs
  src/frontend/src/instance/builder.rs
  src/operator/src/procedure.rs
Labels: docs-not-required

#5869 feat: apply terms with fulltext tantivy backend
  src/index/src/fulltext_index.rs
  src/index/src/fulltext_index/create/bloom_filter.rs
  src/index/src/fulltext_index/create/tantivy.rs
  src/index/src/fulltext_index/search/tantivy.rs
  src/index/src/fulltext_index/tests.rs
  src/mito2/src/sst/index/fulltext_index/applier.rs
  src/mito2/src/sst/index/fulltext_index/applier/builder.rs
  src/mito2/src/sst/index/fulltext_index/creator.rs
  src/mito2/src/sst/index/puffin_manager.rs
  src/puffin/src/puffin_manager.rs
  src/puffin/src/puffin_manager/fs_puffin_manager/reader.rs
  src/puffin/src/puffin_manager/fs_puffin_manager/writer.rs
  src/puffin/src/puffin_manager/tests.rs
Labels: docs-not-required

#5852 fix: remove metadata region options
  src/metric-engine/src/engine/create.rs
  src/store-api/src/mito_engine_options.rs
  src/table/src/requests.rs
Labels: docs-not-required

#5844 fix: include follower peers in region distribution
  src/common/meta/src/rpc/router.rs
Labels: docs-not-required

#5858 refactor: avoid empty display in errors
  Cargo.lock
  src/common/error/Cargo.toml
  src/common/error/src/ext.rs
  src/common/error/tests/ext.rs
  src/common/macro/src/stack_trace_debug.rs
  src/common/recordbatch/src/adapter.rs
  src/common/recordbatch/src/error.rs
  src/query/src/datafusion.rs
  src/query/src/datafusion/planner.rs
  src/query/src/error.rs
  src/query/src/plan.rs
  src/query/src/planner.rs
  src/query/src/range_select/plan.rs
  src/query/src/range_select/plan_rewrite.rs
  src/query/src/sql.rs
Labels: docs-not-required

#5876 fix: gRPC connection pool leak
  Cargo.lock
  src/common/grpc/Cargo.toml
  src/common/grpc/src/channel_manager.rs
Labels: docs-not-required

#5842 fix: alway rejects write while downgrading region
  src/common/function/src/admin/migrate_region.rs
  src/common/meta/src/instruction.rs
  src/datanode/src/heartbeat/handler.rs
  src/datanode/src/heartbeat/handler/downgrade_region.rs
  src/datanode/src/heartbeat/handler/upgrade_region.rs
  src/file-engine/src/engine.rs
  src/meta-srv/src/procedure/region_migration.rs
  src/meta-srv/src/procedure/region_migration/close_downgraded_region.rs
  src/meta-srv/src/procedure/region_migration/downgrade_leader_region.rs
  src/meta-srv/src/procedure/region_migration/upgrade_candidate_region.rs
  src/meta-srv/src/procedure/test_util.rs
  src/metric-engine/src/engine.rs
  src/metric-engine/src/engine/catchup.rs
  src/mito2/src/engine/catchup_test.rs
  src/mito2/src/engine/set_role_state_test.rs
  src/mito2/src/worker.rs
  src/store-api/src/region_engine.rs
  src/store-api/src/region_request.rs
Labels: docs-not-required

#5883 ci: not push latest image when schedule release
  .github/scripts/create-version.sh
  .github/workflows/release.yml
Labels: docs-not-required

#5888 test: add tests to ensure nested data structure for identity pipeline
  tests-integration/tests/http.rs
Labels: docs-not-required

#5891 docs: update readme
  README.md
Labels: docs-not-required

#5895 feat: add query engine options
  config/config.md
  config/datanode.example.toml
  config/frontend.example.toml
  config/standalone.example.toml
  src/datanode/src/config.rs
  src/datanode/src/datanode.rs
  src/flow/src/adapter.rs
  src/flow/src/server.rs
  src/flow/src/test_utils.rs
  src/flow/src/transform.rs
  src/frontend/src/frontend.rs
  src/frontend/src/instance/builder.rs
  src/query/src/datafusion.rs
  src/query/src/lib.rs
  src/query/src/options.rs
  src/query/src/query_engine.rs
  src/query/src/query_engine/context.rs
  src/query/src/query_engine/default_serializer.rs
  src/query/src/query_engine/state.rs
  src/query/src/range_select/plan_rewrite.rs
  src/query/src/tests.rs
  src/query/src/tests/query_engine_test.rs
  src/query/src/tests/time_range_filter_test.rs
  src/servers/tests/mod.rs
Labels: docs-not-required

#5894 fix: memtable panic
  src/mito2/src/memtable/time_series.rs
Labels: docs-not-required

#5896 feat: support altering fulltext backend
  src/catalog/src/system_schema/information_schema/key_column_usage.rs
  src/catalog/src/system_schema/information_schema/table_constraints.rs
  src/datatypes/src/schema/column_schema.rs
  src/query/src/sql.rs
  src/query/src/sql/show_create_table.rs
  src/store-api/src/metadata.rs
  src/table/src/metadata.rs
  tests-integration/tests/http.rs
  tests/cases/standalone/common/alter/change_col_fulltext_options.result
  tests/cases/standalone/common/alter/change_col_fulltext_options.sql
  tests/cases/standalone/common/create/create_with_fulltext.result
  tests/cases/standalone/common/show/show_create.result
  tests/cases/standalone/common/show/show_index.result
  tests/cases/standalone/common/system/information_schema.result
Labels: docs-not-required

#5893 feat: report per-region metrics on region server
  src/datanode/src/metrics.rs
  src/datanode/src/region_server.rs
Labels: docs-not-required

#5886 feat: optimize `matches_term` with constant term pre-compilation
  src/query/src/optimizer.rs
  src/query/src/optimizer/constant_term.rs
  src/query/src/query_engine/state.rs
  tests/cases/standalone/common/tql-explain-analyze/explain.result
Labels: docs-not-required

#5743 refactor: add `partition_rules_for_uuid()`
  Cargo.lock
  src/operator/src/error.rs
  src/operator/src/insert.rs
  src/sql/Cargo.toml
  src/sql/src/error.rs
  src/sql/src/partition.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5881 feat(flow): dual engine
  Cargo.toml
  src/cmd/src/flownode.rs
  src/cmd/src/standalone.rs
  src/common/meta/src/ddl/create_flow.rs
  src/flow/src/adapter.rs
  src/flow/src/adapter/flownode_impl.rs
  src/flow/src/batching_mode.rs
  src/flow/src/batching_mode/engine.rs
  src/flow/src/batching_mode/state.rs
  src/flow/src/batching_mode/task.rs
  src/flow/src/engine.rs
  src/flow/src/error.rs
  src/flow/src/lib.rs
  src/flow/src/server.rs
  src/meta-client/src/client.rs
  tests-integration/src/standalone.rs
Labels: docs-not-required

#5804 feat: Column-wise partition rule implementation
  Cargo.lock
  src/partition/Cargo.toml
  src/partition/benches/bench_split_record_batch.rs
  src/partition/src/error.rs
  src/partition/src/expr.rs
  src/partition/src/lib.rs
  src/partition/src/multi_dim.rs
  src/partition/src/partition.rs
  src/partition/src/splitter.rs
Labels: docs-not-required

#5902 feat: support `@@` (AtAt) operator for term matching
  Cargo.lock
  Cargo.toml
  src/query/src/optimizer.rs
  src/query/src/optimizer/transcribe_atat.rs
  src/query/src/query_engine/state.rs
  tests/cases/standalone/common/expr/atat.result
  tests/cases/standalone/common/expr/atat.sql
  tests/cases/standalone/common/tql-explain-analyze/explain.result
Labels: docs-not-required

#5904 fix: preserve timestamp precision of irate
  src/promql/src/functions/idelta.rs
  tests/cases/standalone/common/tql/operator.result
  tests/cases/standalone/common/tql/operator.sql
Labels: docs-not-required

#5819 feat: Add query pipeline http api
  Cargo.lock
  src/frontend/src/instance/log_handler.rs
  src/pipeline/src/manager/pipeline_operator.rs
  src/pipeline/src/manager/table.rs
  src/servers/src/http.rs
  src/servers/src/http/event.rs
  src/servers/src/http/result/greptime_manage_resp.rs
  src/servers/src/query_handler.rs
  tests-integration/Cargo.toml
  tests-integration/tests/http.rs
Labels: docs-required

#5836 feat: implement Arrow Flight "DoPut" in Frontend
  Cargo.lock
  src/client/Cargo.toml
  src/client/src/database.rs
  src/client/src/error.rs
  src/client/src/lib.rs
  src/common/grpc/Cargo.toml
  src/common/grpc/src/error.rs
  src/common/grpc/src/flight.rs
  src/common/grpc/src/flight/do_put.rs
  src/frontend/src/instance/grpc.rs
  src/servers/src/grpc/flight.rs
  src/servers/src/grpc/greptime_handler.rs
  src/servers/src/http.rs
  src/servers/src/query_handler/grpc.rs
  src/servers/tests/http/influxdb_test.rs
  src/servers/tests/http/opentsdb_test.rs
  src/servers/tests/http/prom_store_test.rs
  src/servers/tests/mod.rs
  src/table/src/error.rs
  src/table/src/table_name.rs
  tests-integration/src/cluster.rs
  tests-integration/src/grpc.rs
  tests-integration/src/grpc/flight.rs
  tests-integration/src/test_util.rs
  tests-integration/src/tests/test_util.rs
  tests-integration/tests/grpc.rs
Labels: docs-not-required

#5913 fix: support duration to interval conversion in PostgreSQL protocol
  src/servers/src/error.rs
  src/servers/src/postgres/types.rs
  src/servers/src/postgres/types/interval.rs
  tests/cases/standalone/common/types/timestamp/timestamp.result
  tests/cases/standalone/common/types/timestamp/timestamp.sql
Labels: docs-not-required

#5917 fix: oom for sqlness test in container
  Makefile
Labels: docs-not-required

#5921 fix: label values potential panic
  src/frontend/src/instance/promql.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#5918 fix: avoid double schema projection in file format readers
  src/operator/src/statement/copy_table_from.rs
  tests/cases/standalone/common/copy/copy_from_fs_csv.result
  tests/cases/standalone/common/copy/copy_from_fs_csv.sql
  tests/cases/standalone/common/copy/copy_from_fs_json.result
  tests/cases/standalone/common/copy/copy_from_fs_json.sql
  tests/cases/standalone/common/copy/copy_from_fs_parquet.result
  tests/cases/standalone/common/copy/copy_from_fs_parquet.sql
Labels: docs-not-required

#5929 chore: add heartbeat metrics
  src/common/meta/src/datanode.rs
  src/meta-srv/src/handler/extract_stat_handler.rs
  src/meta-srv/src/metrics.rs
Labels: docs-not-required

#5920 fix: anchor regex string to fully match in promql
  Cargo.lock
  Cargo.toml
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/regex.result
  tests/cases/standalone/common/promql/regex.sql
  tests/cases/standalone/common/select/tql_filter.result
  tests/cases/standalone/common/select/tql_filter.sql
Labels: docs-not-required

#5932 chore: rm dev opt level 3
  Cargo.toml
Labels: docs-not-required

#5923 feat: prevent migrating a leader region to a peer that already has a region follower
  src/meta-srv/Cargo.toml
  src/meta-srv/src/procedure/region_migration/manager.rs
Labels: docs-not-required

#5937 fix: wrong error msg in pipeline
  src/pipeline/src/etl/transform/transformer/greptime/coerce.rs
Labels: docs-not-required

#5912 fix: filter doesn't consider default values after schema change
  src/mito2/src/sst/parquet/file_range.rs
  src/mito2/src/sst/parquet/reader.rs
  src/mito2/src/sst/parquet/stats.rs
  tests/cases/standalone/common/alter/add_col_default.result
  tests/cases/standalone/common/alter/add_col_default.sql
Labels: docs-not-required

#5840 feat: implement otel-arrow protocol for GreptimeDB
  Cargo.lock
  Cargo.toml
  src/frontend/Cargo.toml
  src/frontend/src/server.rs
  src/servers/Cargo.toml
  src/servers/src/error.rs
  src/servers/src/grpc.rs
  src/servers/src/grpc/builder.rs
  src/servers/src/grpc/otlp.rs
  src/servers/src/lib.rs
  src/servers/src/otel_arrow.rs
Labels: docs-required

#5938 test: update configs to enable auto wal prune
  .github/actions/setup-greptimedb-cluster/with-remote-wal.yaml
  src/common/wal/src/config/kafka/common.rs
  src/common/wal/src/config/kafka/datanode.rs
  src/common/wal/src/config/kafka/metasrv.rs
  tests/conf/datanode-test.toml.template
  tests/conf/metasrv-test.toml.template
Labels: docs-not-required

#5942 feat: support building `metasrv` with selector from plugins
  src/meta-srv/src/bootstrap.rs
  src/meta-srv/src/selector.rs
  src/meta-srv/src/selector/common.rs
  src/meta-srv/src/selector/lease_based.rs
  src/meta-srv/src/selector/weight_compute.rs
  src/meta-srv/src/selector/weighted_choose.rs
Labels: docs-not-required

#5943 chore: use `once_cell` to avoid parse everytime in pipeline exec
  src/pipeline/src/etl/transform/transformer/greptime.rs
Labels: docs-not-required

#5945 chore: better buckets for heartbeat stat size histogram
  src/meta-srv/src/metrics.rs
Labels: docs-not-required

#5933 refactor: unify all dashboards and use `dac` tool to generate intermediate dashboards
  .github/workflows/grafana.yml
  Makefile
  grafana/README.md
  grafana/check.sh
  grafana/dashboards/cluster/dashboard.json
  grafana/dashboards/cluster/dashboard.md
  grafana/dashboards/cluster/dashboard.yaml
  grafana/dashboards/standalone/dashboard.json
  grafana/dashboards/standalone/dashboard.md
  grafana/dashboards/standalone/dashboard.yaml
  grafana/greptimedb-cluster.json
  grafana/greptimedb.json
  grafana/scripts/check.sh
  grafana/scripts/gen-dashboards.sh
  grafana/summary.sh
Labels: docs-not-required

#5947 chore: assert plugin uniqueness
  src/common/base/src/plugins.rs
Labels: docs-not-required

#5944 fix: remove obsolete failover detectors after region leader change
  src/meta-srv/src/error.rs
  src/meta-srv/src/procedure/region_migration/manager.rs
  src/meta-srv/src/region/supervisor.rs
  tests-integration/tests/region_migration.rs
Labels: docs-not-required

#5939 feat: add format support for promql http api (not prometheus)
  src/servers/src/http/handler.rs
  tests-integration/tests/http.rs
Labels: docs-required

#5950 test: use random seed for window sort fuzz test
  src/query/src/window_sort.rs
Labels: docs-not-required

#5953 fix: parse flow expire after interval
  src/sql/src/parsers/create_parser.rs
Labels: docs-not-required

#5948 feat: update dashboard to v0.9.0
  src/servers/dashboard/VERSION
Labels: docs-not-required

#5946 fix: use max in flushed entry id and topic latest entry id
  src/common/meta/src/region_registry.rs
Labels: docs-not-required

#5960 chore: remove unused attribute
  src/flow/src/adapter.rs
Labels: docs-not-required

#5951 feat: introduce flush metadata region task for metric engine
  Cargo.lock
  src/cmd/tests/load_config_test.rs
  src/datanode/src/datanode.rs
  src/datanode/src/error.rs
  src/metric-engine/Cargo.toml
  src/metric-engine/src/config.rs
  src/metric-engine/src/engine.rs
  src/metric-engine/src/engine/create.rs
  src/metric-engine/src/error.rs
  src/metric-engine/src/lib.rs
  src/metric-engine/src/repeated_task.rs
  src/metric-engine/src/test_util.rs
  src/mito2/src/worker/handle_flush.rs
Labels: docs-not-required

#5961 chore: update dac tools image and docs
  grafana/README.md
  grafana/dashboards/cluster/dashboard.md
  grafana/dashboards/standalone/dashboard.md
  grafana/scripts/gen-dashboards.sh
Labels: docs-not-required

#5963 fix: store flow query ctx on creation
  src/common/meta/src/cache/flow/table_flownode.rs
  src/common/meta/src/ddl/create_flow.rs
  src/common/meta/src/error.rs
  src/common/meta/src/key/flow.rs
  src/common/meta/src/key/flow/flow_info.rs
  src/common/meta/src/rpc/ddl.rs
  src/flow/src/server.rs
  tests/cases/standalone/common/flow/flow_rebuild.result
  tests/cases/standalone/common/flow/flow_rebuild.sql
Labels: docs-not-required

#5964 feat: node excluder
  src/cmd/src/metasrv.rs
  src/meta-srv/src/lib.rs
  src/meta-srv/src/node_excluder.rs
  typos.toml
Labels: docs-not-required

#5962 docs: fix some units and adds the opendal errors panel
  grafana/README.md
  grafana/dashboards/cluster/dashboard.json
  grafana/dashboards/cluster/dashboard.md
  grafana/dashboards/cluster/dashboard.yaml
  grafana/dashboards/standalone/dashboard.json
  grafana/dashboards/standalone/dashboard.md
  grafana/dashboards/standalone/dashboard.yaml
Labels: docs-not-required

#5965 fix: try prune one less
  src/meta-srv/src/procedure/wal_prune.rs
Labels: docs-not-required

#5952 feat: track region failover attempts and adjust timeout
  src/meta-srv/src/region/supervisor.rs
Labels: docs-not-required

#5969 chore: remove coderabbit
  .coderabbit.yaml
Labels: docs-not-required

#5966 feat: enhance selector with node exclusion support
  src/meta-srv/src/bootstrap.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/node_excluder.rs
  src/meta-srv/src/selector.rs
  src/meta-srv/src/selector/lease_based.rs
  src/meta-srv/src/selector/load_based.rs
  src/meta-srv/src/selector/round_robin.rs
Labels: docs-not-required

#5967 feat: improve observability of region migration procedure
  src/meta-srv/src/metrics.rs
  src/meta-srv/src/procedure/region_migration.rs
  src/meta-srv/src/procedure/region_migration/close_downgraded_region.rs
  src/meta-srv/src/procedure/region_migration/downgrade_leader_region.rs
  src/meta-srv/src/procedure/region_migration/migration_abort.rs
  src/meta-srv/src/procedure/region_migration/open_candidate_region.rs
  src/meta-srv/src/procedure/region_migration/upgrade_candidate_region.rs
Labels: docs-not-required

#5955 feat: remove hyper parameter from promql functions
  src/promql/src/functions.rs
  src/promql/src/functions/aggr_over_time.rs
  src/promql/src/functions/changes.rs
  src/promql/src/functions/deriv.rs
  src/promql/src/functions/extrapolate_rate.rs
  src/promql/src/functions/holt_winters.rs
  src/promql/src/functions/idelta.rs
  src/promql/src/functions/predict_linear.rs
  src/promql/src/functions/quantile.rs
  src/promql/src/functions/quantile_aggr.rs
  src/promql/src/functions/resets.rs
  src/promql/src/functions/round.rs
  src/promql/src/functions/test_util.rs
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/quantile.result
  tests/cases/standalone/common/promql/round_fn.result
  tests/cases/standalone/common/promql/simple_histogram.result
  tests/cases/standalone/common/promql/subquery.result
  tests/cases/standalone/common/tql-explain-analyze/analyze.result
Labels: docs-not-required

#5972 feat: allow forced region failover for local WAL
  config/config.md
  config/metasrv.example.toml
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
Labels: docs-required

#5975 perf: optimize fulltext zh tokenizer for ascii-only text
  src/index/src/fulltext_index/tokenizer.rs
Labels: docs-not-required

#5958 fix: upgrade sqlparse and validate align in range query
  Cargo.lock
  Cargo.toml
  tests/cases/standalone/common/range/error.result
  tests/cases/standalone/common/range/error.sql
Labels: docs-not-required

#5974 fix: conn timeout&refactor: better err msg
  Cargo.lock
  Cargo.toml
  src/common/function/src/scalars/uddsketch_calc.rs
  src/flow/src/batching_mode.rs
  src/flow/src/batching_mode/frontend_client.rs
  src/flow/src/batching_mode/task.rs
  src/flow/src/batching_mode/time_window.rs
  src/flow/src/batching_mode/utils.rs
  src/flow/src/df_optimizer.rs
  src/query/src/lib.rs
  tests/cases/standalone/common/flow/flow_step_aggr.result
  tests/cases/standalone/common/flow/flow_step_aggr.sql
Labels: docs-not-required

#5986 ci: read next release version from toml by default
  .github/scripts/create-version.sh
  .github/workflows/release.yml
Labels: docs-not-required

#5818 chore: update rust toolchain
  Cargo.lock
  Cargo.toml
  flake.lock
  flake.nix
  rust-toolchain.toml
  src/catalog/src/system_schema/pg_catalog/pg_namespace/oid_map.rs
  src/common/function/src/scalars/matches_term.rs
  src/common/meta/src/lib.rs
  src/common/meta/src/rpc/router.rs
  src/common/query/src/logical_plan/accumulator.rs
  src/datatypes/src/schema/constraint.rs
  src/datatypes/src/vectors/constant.rs
  src/datatypes/src/vectors/decimal.rs
  src/datatypes/src/vectors/null.rs
  src/datatypes/src/vectors/primitive.rs
  src/index/src/inverted_index/create/sort/external_sort.rs
  src/meta-srv/src/lib.rs
  src/meta-srv/src/mocks.rs
  src/meta-srv/src/service/store/cached_kv.rs
  src/mito2/src/read/projection.rs
  src/mito2/src/sst/index/bloom_filter/creator.rs
  src/mito2/src/sst/index/fulltext_index/creator.rs
  src/mito2/src/sst/index/inverted_index/creator.rs
  src/mito2/src/sst/parquet/format.rs
  src/operator/src/req_convert/insert/fill_impure_default.rs
  src/pipeline/src/etl/processor/dissect.rs
  src/query/src/lib.rs
  src/query/src/part_sort.rs
  src/servers/src/http/timeout.rs
  src/servers/src/lib.rs
  src/sql/src/statements/transform.rs
  src/store-api/src/metadata.rs
  src/table/src/table/adapter.rs
  tests-fuzz/src/utils.rs
  tests-fuzz/targets/unstable/fuzz_create_table_standalone.rs
  tests-integration/src/cluster.rs
  tests/cases/standalone/common/system/pg_catalog.result
  tests/cases/standalone/common/system/pg_catalog.sql
Labels: docs-not-required

#5990 feat: introduce `RegionStatAwareSelector` trait
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
  src/meta-srv/src/region/supervisor.rs
  src/meta-srv/src/selector.rs
Labels: docs-not-required

#5991 chore: update nix for new toolchain
  flake.lock
  flake.nix
Labels: docs-not-required

#5992 feat: uddsketch_merge udaf
  src/common/function/src/aggr.rs
  src/common/function/src/aggr/uddsketch_state.rs
  src/query/src/datafusion/planner.rs
  src/query/src/query_engine/default_serializer.rs
  tests/cases/standalone/common/aggregate/uddsketch.result
  tests/cases/standalone/common/aggregate/uddsketch.sql
  tests/cases/standalone/common/flow/flow_step_aggr.result
  tests/cases/standalone/common/flow/flow_step_aggr.sql
Labels: docs-not-required

#5989 fix: check if memtable is empty by stats
  src/mito2/src/memtable/partition_tree.rs
  src/mito2/src/memtable/stats.rs
  src/mito2/src/memtable/time_series.rs
  src/mito2/src/read/scan_region.rs
Labels: docs-not-required

#6002 chore: make txn_helper pub
  src/common/meta/src/key.rs
  src/common/meta/src/key/txn_helper.rs
Labels: docs-not-required

#6003 ci: update dev-builder image version to 2025-04-15-1a517ec8-202504280…
  Makefile
Labels: docs-not-required

#5996 fix: prune primary key with multiple columns may use default value as statistics
  src/mito2/src/sst/parquet/format.rs
  src/mito2/src/sst/parquet/stats.rs
  tests/cases/standalone/common/flow/flow_step_aggr.result
  tests/cases/standalone/common/flow/flow_step_aggr.sql
  tests/cases/standalone/common/select/prune_pk.result
  tests/cases/standalone/common/select/prune_pk.sql
Labels: docs-not-required

#5994 feat: remove own greatest fn
  src/common/function/src/scalars/timestamp.rs
  src/common/function/src/scalars/timestamp/greatest.rs
  tests/cases/standalone/common/function/time.result
Labels: docs-not-required

#6004 fix: only consider the datanode that reports the failure
  src/meta-srv/src/region/supervisor.rs
Labels: docs-not-required

#6006 chore: bump version to 0.14.1
  Cargo.lock
  Cargo.toml
  src/common/function/src/scalars/timestamp.rs
  src/common/function/src/scalars/timestamp/greatest.rs
  src/mito2/src/memtable/partition_tree.rs
  src/mito2/src/memtable/stats.rs
  src/mito2/src/memtable/time_series.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/sst/parquet/format.rs
  src/mito2/src/sst/parquet/stats.rs
  tests/cases/standalone/common/flow/flow_step_aggr.result
  tests/cases/standalone/common/flow/flow_step_aggr.sql
  tests/cases/standalone/common/function/time.result
  tests/cases/standalone/common/select/prune_pk.result
  tests/cases/standalone/common/select/prune_pk.sql
Labels: docs-not-required

#6012 fix: sanitize_connection_string
  src/cmd/src/metasrv.rs
  src/common/meta/src/kv_backend.rs
  src/common/meta/src/kv_backend/util.rs
  src/meta-srv/src/metasrv.rs
Labels: docs-not-required

#6010 fix: disable recursion limit in prost
  Cargo.toml
Labels: docs-not-required

#5995 feat: flush leader region before downgrading
  src/common/meta/src/instruction.rs
  src/datanode/src/heartbeat/handler.rs
  src/datanode/src/heartbeat/handler/flush_region.rs
  src/datanode/src/heartbeat/task_tracker.rs
  src/meta-srv/src/procedure/region_migration.rs
  src/meta-srv/src/procedure/region_migration/downgrade_leader_region.rs
  src/meta-srv/src/procedure/region_migration/flush_leader_region.rs
  src/meta-srv/src/procedure/region_migration/open_candidate_region.rs
  src/meta-srv/src/procedure/region_migration/test_util.rs
  src/meta-srv/src/procedure/test_util.rs
  src/meta-srv/src/procedure/wal_prune.rs
Labels: docs-not-required

#6009 ci: fix the bugs of release-dev-builder-images and add update-dev-builder-image-tag
  .github/scripts/update-dev-builder-version.sh
  .github/workflows/release-dev-builder-images.yaml
Labels: docs-not-required

#6020 chore: rename parameter from "table" to "flow_name"
  src/common/meta/src/lock_key.rs
Labels: docs-not-required

#6018 fix: always create mito engine
  src/datanode/src/datanode.rs
Labels: docs-not-required

#6022 feat: enhance maintenance mode API and handling
  src/meta-srv/src/region/supervisor.rs
  src/meta-srv/src/service/admin.rs
  src/meta-srv/src/service/admin/maintenance.rs
Labels: docs-not-required

#6025 ci: nix action update
  .github/workflows/nightly-ci.yml
Labels: docs-not-required

#6023 feat: optimize region migration concurrency with fine-grained table lock
  src/common/procedure-test/src/lib.rs
  src/common/procedure/src/lib.rs
  src/common/procedure/src/local.rs
  src/common/procedure/src/local/runner.rs
  src/common/procedure/src/procedure.rs
  src/common/procedure/src/rwlock.rs
  src/meta-srv/src/procedure/region_migration.rs
  src/meta-srv/src/procedure/region_migration/close_downgraded_region.rs
  src/meta-srv/src/procedure/region_migration/downgrade_leader_region.rs
  src/meta-srv/src/procedure/region_migration/flush_leader_region.rs
  src/meta-srv/src/procedure/region_migration/migration_abort.rs
  src/meta-srv/src/procedure/region_migration/migration_end.rs
  src/meta-srv/src/procedure/region_migration/migration_start.rs
  src/meta-srv/src/procedure/region_migration/open_candidate_region.rs
  src/meta-srv/src/procedure/region_migration/test_util.rs
  src/meta-srv/src/procedure/region_migration/update_metadata.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/downgrade_leader_region.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/rollback_downgraded_region.rs
  src/meta-srv/src/procedure/region_migration/update_metadata/upgrade_candidate_region.rs
  src/meta-srv/src/procedure/region_migration/upgrade_candidate_region.rs
Labels: docs-not-required

#6015 feat: cast strings to numerics automatically in mysql connections
  src/operator/src/req_convert/insert/stmt_to_region.rs
  src/operator/src/statement/admin.rs
  src/operator/src/statement/ddl.rs
  src/servers/src/mysql/helper.rs
  src/session/src/context.rs
  src/sql/src/error.rs
  src/sql/src/statements.rs
  tests/cases/standalone/common/insert/mysql_insert.result
  tests/cases/standalone/common/insert/mysql_insert.sql
  tests/cases/standalone/common/prepare/mysql_prepare.result
Labels: docs-not-required

#6027 feat(meta): enhance region lease handling with operating status
  src/meta-srv/src/handler/region_lease_handler.rs
  src/meta-srv/src/region/lease_keeper.rs
  src/metric-engine/src/repeated_task.rs
Labels: docs-not-required
