Repository GreptimeTeam/greptimedb, pull requests merged in 2025-06, with the labels that each got.

#6212 feat: supports select @@session.time_zone
  src/servers/src/mysql/federated.rs
  tests-integration/tests/sql.rs
Labels: docs-not-required

#6222 docs: fix bad link
  docs/how-to/how-to-profile-memory.md
Labels: docs-not-required

#6216 refactor(flow): limit the size of query
  src/flow/src/batching_mode/state.rs
  src/flow/src/batching_mode/task.rs
  src/flow/src/metrics.rs
Labels: docs-not-required

#6237 fix: do not accommodate fields for multi-value protocol
  src/flow/src/server.rs
  src/frontend/src/instance/grpc.rs
  src/frontend/src/instance/opentsdb.rs
  src/frontend/src/instance/otlp.rs
  src/frontend/src/instance/prom_store.rs
  src/frontend/src/slow_query_recorder.rs
  src/operator/src/insert.rs
  src/pipeline/src/manager/table.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#6232 ci: add option to choose whether upload artifacts to S3 in the development build
  .github/workflows/dev-build.yml
Labels: docs-not-required

#6245 fix: add missing features
  src/cli/Cargo.toml
Labels: docs-not-required

#6247 chore: test sleep longer
  src/meta-srv/src/procedure/wal_prune/manager.rs
Labels: docs-not-required

#6255 fix: convert JSON type to JSON string in COPY TABLE TO statment
  src/common/recordbatch/src/error.rs
  src/common/recordbatch/src/lib.rs
  src/operator/src/statement/copy_table_to.rs
  src/servers/src/error.rs
  tests/cases/standalone/common/copy/copy_from_fs_csv.result
  tests/cases/standalone/common/copy/copy_from_fs_csv.sql
  tests/cases/standalone/common/copy/copy_from_fs_json.result
  tests/cases/standalone/common/copy/copy_from_fs_json.sql
  tests/cases/standalone/common/copy/copy_from_fs_parquet.result
  tests/cases/standalone/common/copy/copy_from_fs_parquet.sql
  tests/cases/standalone/common/copy/copy_to_fs.result
  tests/cases/standalone/common/copy/copy_to_fs.sql
Labels: docs-not-required

#6223 chore: support table suffix in hint
  src/pipeline/src/dispatcher.rs
  src/pipeline/src/error.rs
  src/pipeline/src/etl.rs
  src/pipeline/src/etl/ctx_req.rs
  src/pipeline/src/etl/processor/date.rs
  src/pipeline/src/etl/processor/epoch.rs
  src/pipeline/src/etl/processor/timestamp.rs
  src/pipeline/src/etl/transform.rs
  src/pipeline/src/etl/transform/transformer/greptime.rs
  src/pipeline/src/lib.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#6238 feat: add the gauge to indicate the CPU and Memory limit in the cgroups envrionment
  Cargo.lock
  Cargo.toml
  src/cmd/Cargo.toml
  src/cmd/src/datanode/builder.rs
  src/cmd/src/flownode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/lib.rs
  src/cmd/src/metasrv.rs
  src/cmd/src/standalone.rs
  src/common/stat/Cargo.toml
  src/common/stat/src/cgroups.rs
  src/common/stat/src/lib.rs
  src/common/stat/testdata/cpu.max
  src/common/stat/testdata/cpu.max.unlimited
  src/common/stat/testdata/memory.max
  src/common/stat/testdata/memory.max.unlimited
Labels: docs-not-required

#6225 feat: Support export cli export to OSS
  src/cli/src/export.rs
  src/common/datasource/src/object_store.rs
  src/common/datasource/src/object_store/oss.rs
  src/table/src/requests.rs
Labels: docs-not-required

#6202 fix(mito): use 1day as default time partition duration
  src/mito2/src/compaction/buckets.rs
  src/mito2/src/engine/compaction_test.rs
  src/mito2/src/lib.rs
  src/mito2/src/memtable/time_partition.rs
  src/mito2/src/memtable/version.rs
  src/mito2/src/region/version.rs
  tests-integration/src/tests/instance_test.rs
  tests-integration/tests/grpc.rs
  tests/cases/standalone/common/alter/alter_metric_table.result
  tests/cases/standalone/common/alter/alter_metric_table.sql
  tests/cases/standalone/common/basic.result
  tests/cases/standalone/common/basic.sql
  tests/cases/standalone/common/create/create_metric_table.result
  tests/cases/standalone/common/create/create_metric_table.sql
  tests/cases/standalone/common/flow/flow_basic.result
  tests/cases/standalone/common/flow/flow_basic.sql
  tests/cases/standalone/common/flow/flow_insert.result
  tests/cases/standalone/common/flow/flow_insert.sql
  tests/cases/standalone/common/insert/insert_default_timezone.result
  tests/cases/standalone/common/insert/insert_default_timezone.sql
  tests/cases/standalone/common/system/timezone.result
  tests/cases/standalone/common/system/timezone.sql
  tests/cases/standalone/common/types/string/scan_big_varchar.result
  tests/cases/standalone/common/types/string/scan_big_varchar.sql
Labels: docs-not-required

#6050 refactor: respect `data_home` as root data home directory
  config/config.md
  config/datanode.example.toml
  config/metasrv.example.toml
  config/standalone.example.toml
  src/cmd/src/datanode.rs
  src/cmd/src/flownode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/metasrv.rs
  src/cmd/src/standalone.rs
  src/cmd/tests/load_config_test.rs
  src/common/config/src/lib.rs
  src/common/telemetry/src/logging.rs
  src/datanode/src/config.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
  src/store-api/src/path_utils.rs
Labels: docs-not-required

#6264 feat: add some metasrv metrics to grafana dashboard
  grafana/dashboards/metrics/cluster/dashboard.json
  grafana/dashboards/metrics/cluster/dashboard.md
  grafana/dashboards/metrics/cluster/dashboard.yaml
  grafana/dashboards/metrics/standalone/dashboard.json
  grafana/dashboards/metrics/standalone/dashboard.md
  grafana/dashboards/metrics/standalone/dashboard.yaml
Labels: docs-not-required

#6171 ci: refactor bump downstream versions worflow and adds demo-scene
  .github/workflows/release.yml
  cyborg/bin/bump-doc-version.ts
  cyborg/bin/bump-versions.ts
  cyborg/bin/bump-website-version.ts
Labels: docs-not-required

#6236 refactor: support to get trace id with time range
  src/frontend/src/instance/jaeger.rs
  src/servers/src/http/jaeger.rs
  src/servers/src/query_handler.rs
  tests-integration/tests/http.rs
Labels: docs-not-required

#6274 chore: improve CI debugging and resource configuration
  .github/actions/setup-greptimedb-cluster/action.yml
  .github/workflows/develop.yml
Labels: docs-not-required

#6289 fix: null value handling on PromQL's join
  Cargo.lock
  Cargo.toml
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/set_operation.result
  tests/cases/standalone/common/promql/set_operation.sql
Labels: docs-not-required

#6265 refactor(cli)!: reorganize cli subcommands
  src/cli/src/bench.rs
  src/cli/src/error.rs
  src/cli/src/export.rs
  src/cli/src/import.rs
  src/cli/src/lib.rs
  src/cli/src/meta_snapshot.rs
  src/cmd/src/cli.rs
  src/common/meta/src/snapshot.rs
  src/common/meta/src/snapshot/file.rs
  src/plugins/src/cli.rs
Labels: docs-required

#6283 chore: add option for arrow flight compression mode
  config/config.md
  config/datanode.example.toml
  config/frontend.example.toml
  src/client/src/client.rs
  src/client/src/client_manager.rs
  src/client/src/database.rs
  src/client/src/region.rs
  src/cmd/src/frontend.rs
  src/common/grpc/src/channel_manager.rs
  src/common/grpc/src/flight.rs
  src/datanode/src/datanode.rs
  src/datanode/src/region_server.rs
  src/datanode/src/tests.rs
  src/frontend/src/server.rs
  src/servers/src/grpc.rs
  src/servers/src/grpc/flight.rs
  src/servers/src/grpc/flight/stream.rs
  src/servers/src/grpc/greptime_handler.rs
  tests-integration/src/grpc/flight.rs
  tests-integration/src/test_util.rs
  tests-integration/tests/http.rs
Labels: docs-required

#6278 refactor: remove `PipelineMap` and use `Value` instead
  src/pipeline/src/dispatcher.rs
  src/pipeline/src/error.rs
  src/pipeline/src/etl.rs
  src/pipeline/src/etl/ctx_req.rs
  src/pipeline/src/etl/processor.rs
  src/pipeline/src/etl/processor/cmcd.rs
  src/pipeline/src/etl/processor/csv.rs
  src/pipeline/src/etl/processor/date.rs
  src/pipeline/src/etl/processor/decolorize.rs
  src/pipeline/src/etl/processor/digest.rs
  src/pipeline/src/etl/processor/dissect.rs
  src/pipeline/src/etl/processor/epoch.rs
  src/pipeline/src/etl/processor/gsub.rs
  src/pipeline/src/etl/processor/join.rs
  src/pipeline/src/etl/processor/json_parse.rs
  src/pipeline/src/etl/processor/json_path.rs
  src/pipeline/src/etl/processor/letter.rs
  src/pipeline/src/etl/processor/regex.rs
  src/pipeline/src/etl/processor/select.rs
  src/pipeline/src/etl/processor/simple_extract.rs
  src/pipeline/src/etl/processor/timestamp.rs
  src/pipeline/src/etl/processor/urlencoding.rs
  src/pipeline/src/etl/processor/vrl.rs
  src/pipeline/src/etl/transform/transformer/greptime.rs
  src/pipeline/src/etl/value.rs
  src/pipeline/src/etl/value/map.rs
  src/pipeline/src/lib.rs
  src/pipeline/src/tablesuffix.rs
  src/servers/src/http/event.rs
  src/servers/src/interceptor.rs
  src/servers/src/pipeline.rs
  src/servers/src/proto.rs
Labels: docs-not-required

#6303 ci: use the new meta backendStorage etcd structure
  .github/actions/setup-greptimedb-cluster/action.yml
  .github/scripts/deploy-greptimedb.sh
Labels: docs-not-required

#6304 fix: doc links
  grafana/README.md
Labels: docs-not-required

#5865 feat: implement process manager and information_schema.process_list
  Cargo.lock
  Cargo.toml
  src/catalog/Cargo.toml
  src/catalog/src/error.rs
  src/catalog/src/kvbackend/manager.rs
  src/catalog/src/lib.rs
  src/catalog/src/memory/manager.rs
  src/catalog/src/process_manager.rs
  src/catalog/src/system_schema/information_schema.rs
  src/catalog/src/system_schema/information_schema/process_list.rs
  src/catalog/src/system_schema/information_schema/table_names.rs
  src/catalog/src/table_source.rs
  src/cmd/src/flownode.rs
  src/cmd/src/frontend.rs
  src/cmd/src/standalone.rs
  src/common/catalog/src/consts.rs
  src/common/frontend/Cargo.toml
  src/common/frontend/src/error.rs
  src/common/frontend/src/lib.rs
  src/common/frontend/src/selector.rs
  src/common/meta/src/error.rs
  src/common/meta/src/key/view_info.rs
  src/datatypes/src/value.rs
  src/frontend/Cargo.toml
  src/frontend/src/instance.rs
  src/frontend/src/instance/builder.rs
  src/frontend/src/lib.rs
  src/frontend/src/server.rs
  src/frontend/src/stream_wrapper.rs
  src/servers/Cargo.toml
  src/servers/src/grpc.rs
  src/servers/src/grpc/builder.rs
  src/servers/src/grpc/frontend_grpc_handler.rs
  tests-integration/src/cluster.rs
  tests-integration/src/standalone.rs
  tests/cases/standalone/common/show/show_databases_tables.result
  tests/cases/standalone/common/system/information_schema.result
  tests/cases/standalone/common/view/create.result
Labels: docs-not-required

#6297 feat: support using expressions as literal in PromQL
  src/query/src/promql/planner.rs
  tests/cases/standalone/common/promql/quantile.result
  tests/cases/standalone/common/promql/quantile.sql
Labels: docs-not-required

#6308 feat: organize EXPLAIN ANALYZE VERBOSE's output in JSON format
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/scan_util.rs
  tests/cases/distributed/explain/analyze.result
  tests/cases/distributed/explain/order_by.result
  tests/cases/distributed/optimizer/windowed_sort.result
  tests/cases/distributed/tql-explain-analyze/analyze.result
  tests/cases/standalone/common/aggregate/distinct.result
  tests/cases/standalone/common/aggregate/multi_regions.result
  tests/cases/standalone/common/order/order_by.result
  tests/cases/standalone/common/order/windowed_sort.result
  tests/cases/standalone/common/range/nest.result
  tests/cases/standalone/common/select/prune.result
  tests/cases/standalone/common/select/skipping_index.result
  tests/cases/standalone/common/select/tql_filter.result
  tests/cases/standalone/common/tql/general_table.result
  tests/cases/standalone/common/tql/partition.result
  tests/cases/standalone/optimizer/last_value.result
  tests/cases/standalone/optimizer/order_by.result
  tests/cases/standalone/optimizer/windowed_sort.result
  tests/cases/standalone/tql-explain-analyze/analyze.result
Labels: docs-not-required

#6310 fix: check for zero parallelism
  src/query/src/datafusion.rs
Labels: docs-not-required

#6311 feat: update dashboard to v0.9.3
  src/servers/dashboard/VERSION
Labels: docs-not-required

#6314 fix: always use linux path style in windows platform unit tests
  src/cmd/tests/load_config_test.rs
Labels: docs-not-required

#6309 feat: support killing process
  Cargo.lock
  Cargo.toml
  src/catalog/Cargo.toml
  src/catalog/src/error.rs
  src/catalog/src/metrics.rs
  src/catalog/src/process_manager.rs
  src/common/base/src/cancellation.rs
  src/common/base/src/lib.rs
  src/common/frontend/src/error.rs
  src/common/frontend/src/selector.rs
  src/common/recordbatch/src/error.rs
  src/flow/src/server.rs
  src/frontend/Cargo.toml
  src/frontend/src/error.rs
  src/frontend/src/instance.rs
  src/frontend/src/instance/builder.rs
  src/frontend/src/stream_wrapper.rs
  src/operator/Cargo.toml
  src/operator/src/error.rs
  src/operator/src/statement.rs
  src/operator/src/statement/kill.rs
  src/servers/src/grpc/frontend_grpc_handler.rs
  src/sql/src/parser.rs
  src/sql/src/statements/statement.rs
Labels: docs-not-required

#6319 chore: add connection info to `QueryContext`
  src/frontend/src/instance.rs
  src/session/src/context.rs
  src/session/src/lib.rs
Labels: docs-not-required

#6317 fix: event api content type only check type and subtype
  src/servers/src/http/event.rs
  src/servers/src/http/header.rs
Labels: docs-not-required

#6291 feat: bulk support flow batch
  Cargo.lock
  Cargo.toml
  src/client/src/flow.rs
  src/common/meta/src/node_manager.rs
  src/common/meta/src/test_util.rs
  src/flow/src/adapter.rs
  src/flow/src/adapter/flownode_impl.rs
  src/flow/src/batching_mode/engine.rs
  src/flow/src/batching_mode/state.rs
  src/flow/src/batching_mode/task.rs
  src/flow/src/metrics.rs
  src/flow/src/server.rs
  src/frontend/src/instance/grpc.rs
  src/operator/src/bulk_insert.rs
  src/operator/src/error.rs
  src/operator/src/insert.rs
  src/servers/src/grpc/greptime_handler.rs
  src/servers/src/query_handler/grpc.rs
  src/servers/tests/mod.rs
Labels: docs-not-required

#6285 fix: ignore missing columns and tables in PromQL
  src/promql/src/extension_plan/empty_metric.rs
  src/query/src/promql/planner.rs
  src/servers/src/http/prometheus.rs
  tests-integration/src/tests/promql_test.rs
  tests-integration/tests/http.rs
  tests/cases/standalone/common/promql/set_operation.result
  tests/cases/standalone/common/promql/set_operation.sql
  tests/cases/standalone/common/tql/basic.result
  tests/cases/standalone/common/tql/case_sensitive.result
Labels: docs-not-required

#6315 feat: support arbitrary constant expression in PromQL function
  src/promql/src/functions/holt_winters.rs
  src/promql/src/functions/predict_linear.rs
  src/promql/src/functions/quantile.rs
  src/promql/src/functions/round.rs
  src/query/src/promql/planner.rs
  src/query/src/query_engine/default_serializer.rs
  tests/cases/standalone/common/promql/functions.result
  tests/cases/standalone/common/promql/functions.sql
  tests/cases/standalone/common/promql/round_fn.result
  tests/cases/standalone/common/promql/round_fn.sql
Labels: docs-not-required

#6320 feat: handle `Ctrl-C` command in MySQL client
  Cargo.lock
  Cargo.toml
  src/catalog/src/process_manager.rs
  src/common/frontend/src/lib.rs
  src/common/function/src/system/database.rs
  src/frontend/src/server.rs
  src/operator/src/statement.rs
  src/operator/src/statement/kill.rs
  src/servers/src/mysql/handler.rs
  src/servers/src/mysql/server.rs
  src/servers/src/postgres.rs
  src/servers/src/postgres/server.rs
  src/servers/tests/mysql/mysql_server_test.rs
  src/servers/tests/postgres/mod.rs
  src/session/src/context.rs
  src/session/src/lib.rs
  src/sql/src/parser.rs
  src/sql/src/statements.rs
  src/sql/src/statements/kill.rs
  src/sql/src/statements/statement.rs
  tests-integration/src/test_util.rs
Labels: docs-not-required, size/M

#6323 refactor: make flownode gRPC services able to be added dynamically
  src/cmd/src/flownode.rs
  src/flow/src/server.rs
  src/meta-srv/src/metasrv.rs
  src/meta-srv/src/metasrv/builder.rs
Labels: docs-not-required

#6318 chore: add skip error for pipeline skip error log
  src/pipeline/src/error.rs
  src/pipeline/src/etl/transform.rs
  src/pipeline/src/etl/transform/transformer/greptime.rs
  src/pipeline/src/lib.rs
  src/pipeline/tests/gsub.rs
  src/servers/src/elasticsearch.rs
  src/servers/src/http/event.rs
  src/servers/src/http/loki.rs
  src/servers/src/pipeline.rs
  tests-integration/tests/http.rs
Labels: docs-not-required, size/M

#6331 chore: clean up unused impl &standalone use mark dirty
  src/flow/src/adapter/flownode_impl.rs
Labels: docs-not-required, size/S

#6290 feat: Add `DROP DEFAULT`
  Cargo.lock
  Cargo.toml
  src/common/grpc-expr/src/alter.rs
  src/common/meta/src/ddl/alter_table/region_request.rs
  src/common/meta/src/ddl/alter_table/update_metadata.rs
  src/operator/src/expr_helper.rs
  src/sql/src/parsers/alter_parser.rs
  src/sql/src/statements/alter.rs
  src/store-api/src/metadata.rs
  src/store-api/src/region_request.rs
  src/table/src/metadata.rs
  src/table/src/requests.rs
  tests/cases/standalone/common/alter/alter_table_alter_column_drop_default.result
  tests/cases/standalone/common/alter/alter_table_alter_column_drop_default.sql
Labels: docs-not-required, size/M

#6335 fix: carry process id in query ctx
  src/frontend/src/instance.rs
Labels: docs-not-required, size/XS

#6327 feat: support setting FORMAT in TQL ANALYZE/VERBOSE
  src/operator/src/statement/tql.rs
  src/sql/src/parsers/tql_parser.rs
  src/sql/src/statements/tql.rs
  tests/cases/standalone/tql-explain-analyze/analyze.result
  tests/cases/standalone/tql-explain-analyze/analyze.sql
Labels: docs-not-required, size/S

#6340 fix(metric): prevent setting memtable type for metadata region
  src/metric-engine/src/engine/create.rs
Labels: docs-not-required, size/XS

#6332 chore: add metrics for active series and field builders
  grafana/dashboards/metrics/cluster/dashboard.json
  grafana/dashboards/metrics/cluster/dashboard.md
  grafana/dashboards/metrics/cluster/dashboard.yaml
  grafana/dashboards/metrics/standalone/dashboard.json
  grafana/dashboards/metrics/standalone/dashboard.md
  grafana/dashboards/metrics/standalone/dashboard.yaml
  src/mito2/src/flush.rs
  src/mito2/src/memtable.rs
  src/mito2/src/memtable/partition_tree.rs
  src/mito2/src/memtable/partition_tree/partition.rs
  src/mito2/src/memtable/partition_tree/tree.rs
  src/mito2/src/memtable/simple_bulk_memtable.rs
  src/mito2/src/memtable/time_series.rs
  src/mito2/src/metrics.rs
Labels: docs-not-required, size/XXL, dashboard

#6343 refactor: make finding leader in metasrv client dynamic
  src/cmd/src/datanode/builder.rs
  src/cmd/src/flownode.rs
  src/cmd/src/frontend.rs
  src/common/grpc/src/channel_manager.rs
  src/common/grpc/src/error.rs
  src/datanode/src/service.rs
  src/frontend/src/server.rs
  src/meta-client/src/client.rs
  src/meta-client/src/client/ask_leader.rs
  src/meta-client/src/client/cluster.rs
  src/meta-client/src/client/heartbeat.rs
  src/meta-client/src/client/procedure.rs
  src/meta-client/src/lib.rs
  src/meta-srv/src/error.rs
  src/servers/src/grpc.rs
Labels: docs-not-required, size/M

#6344 chore: print series count after wal replay
  src/mito2/src/memtable/time_partition.rs
  src/mito2/src/region/opener.rs
  src/mito2/src/region/version.rs
Labels: docs-not-required, size/XS

#6345 fix: reordered write cause incorrect kv
  src/mito2/src/memtable/partition_tree.rs
  src/mito2/src/memtable/partition_tree/dict.rs
Labels: docs-not-required, size/S

#6351 chore: security updates
  Cargo.lock
  src/common/telemetry/Cargo.toml
  src/common/telemetry/src/logging.rs
Labels: docs-not-required, size/XS

#6355 feat: support execute sql in frontend_client
  src/cmd/src/flownode.rs
  src/flow/src/batching_mode/frontend_client.rs
Labels: docs-not-required, size/XS

#6341 fix(meta): enhance mysql election client with timeouts and reconnection
  src/meta-srv/src/bootstrap.rs
  src/meta-srv/src/election/rds/mysql.rs
  src/meta-srv/src/error.rs
Labels: docs-not-required, size/M

#6350 refactor: make metadata region option opt-in
  src/metric-engine/src/engine/create.rs
  src/metric-engine/src/engine/open.rs
  src/store-api/src/mito_engine_options.rs
Labels: docs-not-required, size/XS

#6362 docs: added YouTube link to documentation
  README.md
Labels: docs-not-required, size/XS

#6374 feat: expose virtual_host_style config for s3 storage (#5696)
  config/datanode.example.toml
  config/standalone.example.toml
  src/datanode/src/config.rs
  src/datanode/src/store/s3.rs
  tests-integration/tests/http.rs
Labels: docs-not-required, size/XS

#6360 feat(pipeline): introduce pipeline doc version 2 for combine-transform
  src/pipeline/benches/processor.rs
  src/pipeline/src/error.rs
  src/pipeline/src/etl.rs
  src/pipeline/src/etl/processor.rs
  src/pipeline/src/etl/processor/date.rs
  src/pipeline/src/etl/processor/epoch.rs
  src/pipeline/src/etl/processor/timestamp.rs
  src/pipeline/src/etl/transform.rs
  src/pipeline/src/etl/transform/transformer/greptime.rs
  src/pipeline/src/etl/value.rs
  src/pipeline/src/lib.rs
  src/pipeline/tests/common.rs
  src/pipeline/tests/dissect.rs
  src/pipeline/tests/pipeline.rs
  src/pipeline/tests/timestamp.rs
  src/servers/src/pipeline.rs
  tests-integration/tests/http.rs
Labels: docs-not-required, size/XL

#6357 refactor: add `otlp_export_protocol` config to support export trace data through gRPC and HTTP protocol
  Cargo.lock
  config/config.md
  config/datanode.example.toml
  config/flownode.example.toml
  config/frontend.example.toml
  config/metasrv.example.toml
  config/standalone.example.toml
  src/cmd/tests/load_config_test.rs
  src/common/telemetry/Cargo.toml
  src/common/telemetry/src/logging.rs
Labels: docs-not-required, size/S

#6356 refactor: always write `parent_span_id` for otlp traces ingestion
  src/servers/src/influxdb.rs
  src/servers/src/otlp/trace/v0.rs
  src/servers/src/otlp/trace/v1.rs
  src/servers/src/otlp/utils.rs
  src/servers/src/row_writer.rs
  tests-integration/tests/http.rs
Labels: docs-not-required, size/S

#6379 feat: support mysql flavor show processlist shortcut (#6328)
  src/catalog/src/system_schema/information_schema.rs
  src/catalog/src/system_schema/information_schema/process_list.rs
  src/frontend/src/instance.rs
  src/operator/src/statement.rs
  src/operator/src/statement/show.rs
  src/query/src/sql.rs
  src/sql/src/parsers/show_parser.rs
  src/sql/src/statements/show.rs
  src/sql/src/statements/statement.rs
  tests/cases/standalone/common/show/show_processList.result
  tests/cases/standalone/common/show/show_processList.sql
Labels: docs-not-required, size/S

#6369 refactor: scan `Batch`es directly
  src/mito2/src/engine.rs
  src/mito2/src/read.rs
  src/mito2/src/read/scan_region.rs
  src/mito2/src/read/scan_util.rs
  src/mito2/src/read/seq_scan.rs
  src/mito2/src/read/series_scan.rs
  src/mito2/src/read/stream.rs
  src/mito2/src/read/unordered_scan.rs
  src/servers/src/grpc/flight/stream.rs
  src/store-api/src/storage/requests.rs
Labels: docs-not-required, size/M

#6384 feat: supports CsvWithNames and CsvWithNamesAndTypes formats
  src/servers/src/http.rs
  src/servers/src/http/handler.rs
  src/servers/src/http/result/csv_result.rs
  src/servers/tests/http/http_handler_test.rs
  tests-integration/tests/http.rs
Labels: docs-not-required, size/S

#6391 refactor: avoid adding feature to parameter
  src/cmd/src/standalone.rs
  src/common/meta/src/ddl_manager.rs
  src/meta-srv/src/metasrv/builder.rs
  tests-integration/Cargo.toml
  tests-integration/src/standalone.rs
Labels: docs-not-required, size/S

#6342 feat: implement count_hash aggr function
  Cargo.lock
  Cargo.toml
  src/common/function/Cargo.toml
  src/common/function/src/aggrs.rs
  src/common/function/src/aggrs/count_hash.rs
  src/common/function/src/function_registry.rs
  src/common/query/src/lib.rs
  tests/cases/standalone/common/function/count_hash.result
  tests/cases/standalone/common/function/count_hash.sql
Labels: docs-not-required, size/M

#6383 chore: add components for standalone instance
  src/cmd/src/standalone.rs
Labels: docs-not-required, size/XS

#6388 feat: introduce /v1/health for healthcheck from external
  src/servers/src/http.rs
Labels: docs-not-required, backport, size/XS

#6400 refactor(object-store): move backends building functions back to object-store
  Cargo.lock
  src/cmd/Cargo.toml
  src/cmd/src/datanode.rs
  src/cmd/src/standalone.rs
  src/common/config/Cargo.toml
  src/common/config/src/config.rs
  src/datanode/src/config.rs
  src/datanode/src/error.rs
  src/datanode/src/store.rs
  src/datanode/src/store/azblob.rs
  src/datanode/src/store/fs.rs
  src/datanode/src/store/gcs.rs
  src/datanode/src/store/oss.rs
  src/datanode/src/store/s3.rs
  src/mito2/src/access_layer.rs
  src/mito2/src/cache/write_cache.rs
  src/object-store/Cargo.toml
  src/object-store/src/config.rs
  src/object-store/src/error.rs
  src/object-store/src/factory.rs
  src/object-store/src/lib.rs
  src/object-store/src/util.rs
  tests-integration/src/cluster.rs
  tests-integration/src/test_util.rs
Labels: docs-not-required, size/L

#6378 fix(http): apply string validation mode to pipeline processor
  src/servers/src/http.rs
  src/servers/src/prom_row_builder.rs
  src/servers/src/proto.rs
Labels: docs-not-required, size/S

#6397 test: add a test load configuration example for flownode
  src/cmd/tests/load_config_test.rs
  src/flow/src/adapter.rs
  src/flow/src/lib.rs
Labels: docs-not-required, size/XS

#6398 refactor: move `#[allow(clippy::print_stdout)]` to lib level
  src/cli/src/lib.rs
  src/cli/src/metadata/snapshot.rs
Labels: docs-not-required, size/XS

#6385 feat: override logical table's partition key indices
  src/catalog/src/kvbackend/manager.rs
Labels: docs-not-required, size/S

#6403 fix: complete partial index search results in cache
  src/datanode/src/alive_keeper.rs
  src/datanode/src/heartbeat/handler.rs
  src/metric-engine/src/test_util.rs
  src/mito2/src/cache/index/inverted_index.rs
  src/mito2/src/cache/index/result_cache.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/engine/alter_test.rs
  src/mito2/src/engine/append_mode_test.rs
  src/mito2/src/engine/basic_test.rs
  src/mito2/src/engine/batch_open_test.rs
  src/mito2/src/engine/catchup_test.rs
  src/mito2/src/engine/close_test.rs
  src/mito2/src/engine/compaction_test.rs
  src/mito2/src/engine/create_test.rs
  src/mito2/src/engine/drop_test.rs
  src/mito2/src/engine/edit_region_test.rs
  src/mito2/src/engine/filter_deleted_test.rs
  src/mito2/src/engine/flush_test.rs
  src/mito2/src/engine/merge_mode_test.rs
  src/mito2/src/engine/open_test.rs
  src/mito2/src/engine/parallel_test.rs
  src/mito2/src/engine/projection_test.rs
  src/mito2/src/engine/prune_test.rs
  src/mito2/src/engine/row_selector_test.rs
  src/mito2/src/engine/scan_test.rs
  src/mito2/src/engine/set_role_state_test.rs
  src/mito2/src/engine/sync_test.rs
  src/mito2/src/engine/truncate_test.rs
  src/mito2/src/manifest/manager.rs
  src/mito2/src/manifest/tests/checkpoint.rs
  src/mito2/src/sst/index/bloom_filter/applier.rs
  src/mito2/src/sst/index/fulltext_index/applier.rs
  src/mito2/src/sst/index/fulltext_index/creator.rs
  src/mito2/src/sst/index/indexer/finish.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/reader.rs
  src/mito2/src/sst/parquet/row_selection.rs
  src/mito2/src/test_util.rs
  src/mito2/src/test_util/sst_util.rs
  src/mito2/src/worker.rs
Labels: docs-not-required, size/S

#6411 chore: correct typo in configuration
  config/config.md
  config/datanode.example.toml
  config/metasrv.example.toml
  src/meta-srv/src/metasrv.rs
Labels: docs-not-required, size/XS

#6412 fix: skip failing nodes when gathering porcess info
  src/catalog/src/process_manager.rs
  src/common/frontend/src/selector.rs
Labels: docs-not-required, size/XS

#6405 refactor: pass pipeline name through http header and get db from query context
  src/servers/src/elasticsearch.rs
Labels: docs-required, size/XS

#6414 feat: cherry-pick #6384 #6388 #6396 #6403 #6412 #6405 to 0.15 branch
  src/catalog/src/process_manager.rs
  src/common/frontend/src/selector.rs
  src/datanode/src/alive_keeper.rs
  src/datanode/src/heartbeat/handler.rs
  src/metric-engine/src/test_util.rs
  src/mito2/src/cache/index/inverted_index.rs
  src/mito2/src/cache/index/result_cache.rs
  src/mito2/src/cache/write_cache.rs
  src/mito2/src/engine/alter_test.rs
  src/mito2/src/engine/append_mode_test.rs
  src/mito2/src/engine/basic_test.rs
  src/mito2/src/engine/batch_open_test.rs
  src/mito2/src/engine/catchup_test.rs
  src/mito2/src/engine/close_test.rs
  src/mito2/src/engine/compaction_test.rs
  src/mito2/src/engine/create_test.rs
  src/mito2/src/engine/drop_test.rs
  src/mito2/src/engine/edit_region_test.rs
  src/mito2/src/engine/filter_deleted_test.rs
  src/mito2/src/engine/flush_test.rs
  src/mito2/src/engine/merge_mode_test.rs
  src/mito2/src/engine/open_test.rs
  src/mito2/src/engine/parallel_test.rs
  src/mito2/src/engine/projection_test.rs
  src/mito2/src/engine/prune_test.rs
  src/mito2/src/engine/row_selector_test.rs
  src/mito2/src/engine/scan_test.rs
  src/mito2/src/engine/set_role_state_test.rs
  src/mito2/src/engine/sync_test.rs
  src/mito2/src/engine/truncate_test.rs
  src/mito2/src/manifest/manager.rs
  src/mito2/src/manifest/tests/checkpoint.rs
  src/mito2/src/sst/index/bloom_filter/applier.rs
  src/mito2/src/sst/index/fulltext_index/applier.rs
  src/mito2/src/sst/index/fulltext_index/creator.rs
  src/mito2/src/sst/index/indexer/finish.rs
  src/mito2/src/sst/parquet.rs
  src/mito2/src/sst/parquet/reader.rs
  src/mito2/src/sst/parquet/row_selection.rs
  src/mito2/src/test_util.rs
  src/mito2/src/test_util/sst_util.rs
  src/mito2/src/worker.rs
  src/servers/dashboard/VERSION
  src/servers/src/elasticsearch.rs
  src/servers/src/http.rs
  src/servers/src/http/handler.rs
  src/servers/src/http/result/csv_result.rs
  src/servers/tests/http/http_handler_test.rs
  tests-integration/tests/http.rs
Labels: docs-not-required, size/S

#6390 feat(pipeline): support Loki API
  src/pipeline/src/etl/ctx_req.rs
  src/pipeline/src/lib.rs
  src/servers/src/http/loki.rs
  tests-integration/tests/http.rs
Labels: docs-not-required, size/M

#6419 feat: add trigger-related error code
  src/common/error/src/status_code.rs
  src/servers/src/error.rs
  src/servers/src/mysql/writer.rs
  src/servers/src/postgres/types/error.rs
Labels: docs-not-required, size/XS

#6417 chore: bump version to 0.16
  Cargo.lock
  Cargo.toml
Labels: docs-not-required, size/S

#6413 refactor: add `RegionMigrationTriggerReason` in `RegionMigrationProcedureTask`
  src/meta-srv/src/procedure/region_migration.rs
  src/meta-srv/src/procedure/region_migration/close_downgraded_region.rs
  src/meta-srv/src/procedure/region_migration/downgrade_leader_region.rs
  src/meta-srv/src/procedure/region_migration/manager.rs
  src/meta-srv/src/procedure/region_migration/migration_abort.rs
  src/meta-srv/src/procedure/region_migration/test_util.rs
  src/meta-srv/src/procedure/region_migration/upgrade_candidate_region.rs
  src/meta-srv/src/region/supervisor.rs
  src/meta-srv/src/service/procedure.rs
  tests-integration/tests/region_migration.rs
Labels: docs-not-required, size/XS
